
mixin account_field(content, store, field)
    .payway-field.payway-field--account(className=`${field.id} ${field.error ? 'payway-field--error' : ''}`)
        input.payway-field__input(
            type="text"
            ref=content.makeRef(field.getInputId())
            disabled=store.paywayForm.isLoading
            placeholder=field.placeholder ? content.t(field.placeholder) : content.t("ui-placeholder-refill-account")
            onChange=store.paywayForm.onFieldValueChange.bind(store.paywayForm, field)
            onKeyDown=field.handleKeyDown
            onFocus=field.handleFocus
            onBlur=field.onBlur
            autoComplete=field.id
        )