include ./amount_info

mixin amount_field(content, store, field)
    .payway-field.payway-field--amount(className=`${field.id} ${field.error ? 'payway-field--error' : ''}`)
        input.payway-field__input(
            type="tel"
            ref=content.makeRef(field.getInputId())
            disabled=store.paywayForm.isLoading
            placeholder=field.placeholder ? content.t(field.placeholder) : ''
            value=field.value
            onChange=field.onChange
            onKeyDown=field.handleKeyDown
            onFocus=field.handleFocus
            onBlur=field.onBlur
        )
        span.currency-label= content.user.getRealBalanceCode()
    +amount_info(
        content,
        store.getAmountLabelToken(),
        store.selectedPayway.formatMinAmount(),
        store.selectedPayway.formatMaxAmount(),
        store.selectedPayway.formatCurrencyCode(),
        store.paywayForm.royaltiesAmountStr,
        store.paywayForm.pendingBonusesCount
    )
