
mixin amount_info(content, operationToken, min, max, currencyCode, royalties, pendingBonusesCount)
    if pendingBonusesCount
        label.amount-info=content.t('disclaimer-withdrawal-pending-bonuses')
    else if royalties
        label.amount-info(dangerouslySetInnerHTML={
            __html: content.t("page-withdrawal-royalties", {
                royalties: royalties,
                rules: `<a href="${content.l('/p/terms-and-conditions')}" target="_blank" class="withdrawal-terms-and-condition-link">${content.t('terms-and-conditions-withdrawal')}</a>`
            })
        })
    else if min !== content.money.NASymbol && max !== content.money.NASymbol
        label.amount-info= content.t(operationToken) + ' ' + content.t("ui-funds-operation-limits", {min: min, max: max, currency: currencyCode})
    else if min !== content.money.NASymbol
        label.amount-info= content.t(operationToken) + ' ' + content.t("ui-funds-operation-limits-min", {min: min, currency: currencyCode})
    else if max !== content.money.NASymbol
        label.amount-info= content.t(operationToken) + ' ' + content.t("ui-funds-operation-limits-max", {max: max, currency: currencyCode})
    else
        label.amount-info= content.t(operationToken)
