
mixin card_cvv_field(content, store, field)
    .payway-field.payway-field--card-cvv(className=`${field.id} ${field.error ? 'payway-field--error' : ''}`)
        input.payway-field__input(
                type="password"
                pattern="[0-9]*"
                inputMode="numeric"
                minLength="3"
                maxLength="3"
                value=field.value
                ref=content.makeRef(field.getInputId())
                placeholder=field.placeholder ? content.t(field.placeholder) : content.t("ui-placeholder-refill-account")
                onChange=field.onChange
                onKeyDown=field.handleKeyDown
                onFocus=field.handleFocus
                onBlur=field.onBlur
                autoComplete=field.id
            )
