
mixin card_number_field(content, store, field)
    .payway-field.payway-field--card-number(className=`${field.id} ${field.error ? 'payway-field--error' : ''}`)
        NumberFormat(
                className="payway-field__input"
                value=field.value
                ref=content.makeRef(field.getInputId())
                format="#### #### #### ####"
                mask="_"
                placeholder=field.placeholder ? content.t(field.placeholder) : content.t("ui-placeholder-refill-card-number")
                onValueChange=field.onNumberValueChange
                onKeyDown=field.handleKeyDown
                onFocus=field.handleFocus
                onBlur=field.onBlur
                autoComplete=field.id
            )