
mixin card_holder_field(content, store, field)
    .payway-field.payway-field--card-holder(className=`${field.id} ${field.error ? 'payway-field--error' : ''}`)
        input.payway-field__input(
            type="text"
            ref=content.makeRef(field.getInputId())
            disabled=store.paywayForm.isLoading
            value=field.inputValue
            placeholder=field.placeholder ? content.t(field.placeholder) : content.t("ui-placeholder-refill-card-holder")
            onChange=field.onChange
            onKeyDown=field.handleKeyDown
            onFocus=field.handleFocus
            onBlur=field.onBlur
            autoComplete=field.id
        )