
mixin card_expiration_month_year_field(content, store, field)
    .payway-field.payway-field--card-expiration-month-year(className=`${field.id} ${field.error ? 'payway-field--error' : ''}`)
        NumberFormat(
            className="payway-field__input"
            type="text"
            value=field.value
            getInputRef=content.makeRef(field.getInputId())
            format=field.cardExpiry
            mask=['M', 'M', 'Y', 'Y']
            placeholder=field.placeholder ? content.t(field.placeholder) : content.t("ui-placeholder-refill-card-expiration")
            onValueChange=field.onValueChange
            onKeyDown=field.handleKeyDown
            onFocus=field.handleFocus
            onBlur=field.onBlur
            disabled=store.paywayForm.isLoading
        )
