include ../../../common/loader

mixin crypto_address_field(content, store, field)
    div.refill-crypto
        if store.cryptoAddressForm.loading
            div.refill-crypto-loading
                div.refill-crypto-loader
                    +loader
        else if store.cryptoAddressForm.addressError
            div.refill-crypto-loading-disclaimer= store.cryptoAddressForm.addressError
        else if store.cryptoAddressForm.address
            div.refill-crypto-qr-code(ref=store.cryptoAddressForm.qrCodeRef)
            div.refill-crypto-content
                div.refill-crypto-disclaimer= content.t('ui-refill-crypto-disclaimer')
                div.refill-crypto-controls
                    div.modal-form.refill-crypto-form
                        .form-line
                            label.form-label= content.t("ui-refill-crypto-wallet", {'site-name': content.site.siteName})
                            .form-field.inline
                                span.input-wrap
                                    input(type="text" defaultValue=store.cryptoAddressForm.address ref=content.makeRef("refillCryptoInput") readOnly)
                        .submit-line
                            button.btn-pr.btn-copy(onClick=store.cryptoAddressForm.tryCopyCryptoWallet)= content.t("ui-copy")
                            if store.cryptoAddressForm.addressCopied
                                div.info= content.t('ui-crypto-wallet-copied')
        else
            div.refill-crypto-loading
                div.refill-crypto-loading-disclaimer= content.t('ui-refill-crypto-loading-disclaimer', {'site-name': content.site.siteName})
                div.refill-crypto-loader
                    +loader