mixin currency_switcher(content, store, group)
    if store.useTiles
        if store.possiblePayways.length
            .payway-currency-switcher
                each item in store.possiblePayways
                    a.payway-currency-switcher__item(
                        className=store.selectedCurrency && item.currency && item.currency.id.equals(store.selectedCurrency) ? "active" : undefined
                        disabled=store.paywayForm.isLoading
                        data-currency-id=item.currency && item.currency.id.toString()
                        href=item.tile.getPaywayUrl(item.paywayId)
                    )=content.money.getFormattingCurrencyCode(item.currency) || item.paywayId
    else
        if group && group.isCurrencySelectRequired()
            .payway-currency-switcher
                each item in group.getCurrencySelectValues()
                    a.payway-currency-switcher__item(
                        className=store.selectedCurrency && item.currencyId.equals(store.selectedCurrency) ? "active" : undefined
                        disabled=store.paywayForm.isLoading
                        data-currency-id=item.currencyId.toString()
                        href=group.getPaywayUrl(item.currencyId)
                    )=content.money.getFormattingCurrencyCode(item.currencyInfo) || item.paywayName