
mixin email_field(content, store, field)
    .payway-field.payway-field--email(className=`${field.id} ${field.error ? 'payway-field--error' : ''}`)
        input.payway-field__input(
            type="email"
            ref=content.makeRef(field.getInputId())
            disabled=store.paywayForm.isLoading
            value=field.value
            placeholder=field.placeholder ? content.t(field.placeholder) : content.t("ui-placeholder-refill-email")
            onChange=field.onChange
            onKeyDown=field.handleKeyDown
            onFocus=field.handleFocus
            onBlur=field.onBlur
            autoComplete=field.id
        )