include ./amount_field
include ./phone_field
include ./account_field
include ./email_field
include ./crypto_address_field
include ./unified_field
include ./select_field
include ./card_number_field
include ./card_expiration_month_year_field
include ./card_cvv_field
include ./card_holder_field

mixin field(content, store, field)
    if field.type === content.enums.paywayFieldType.PHONE
        +phone_field(content, store, field)
    else if field.type === content.enums.paywayFieldType.EMAIL
        +email_field(content, store, field)
    else if field.type === 'amount'
        +amount_field(content, store, field)
    else if field.type === 'account'
        +account_field(content, store, field)
    else if field.type === 'crypto_address'
        +crypto_address_field(content, store, field)
    else if field.type === 'select'
        +select_field(content, store, field)
    else if field.type === 'mobile_detect'
        .mobile-detect
    else if field.type === 'hidden'
        .hidden
    else if field.type === content.enums.paywayFieldType.CARD_NUMBER
        +card_number_field(content, store, field)
    else if field.type === content.enums.paywayFieldType.CARD_EXPIRATION_MONTH_YEAR
        +card_expiration_month_year_field(content, store, field)
    else if field.type === content.enums.paywayFieldType.CARD_CVV
        +card_cvv_field(content, store, field)
    else if field.type === content.enums.paywayFieldType.CARD_HOLDER_NAME
        +card_holder_field(content, store, field)
    else
        +unified_field(content, store, field)
