
mixin phone_field(content, store, field)
    .payway-field.payway-field--phone(className=`${field.id} ${field.error ? 'payway-field--error' : ''}`)
        select.payway-field__country-picker(
            ref=content.makeRef(field.getCountryCodeInputId())
            name="country"
            value=field.countryCode
            disabled=store.paywayForm.isLoading
            onFocus=field.handleFocus
            onChange=field.onChangeCountryCode
        )
            each country in field.countries
                option(value=country.code) +#{country.phoneCode} (#{country.code})
        NumberFormat.payway-field__input.payway-field__input--phone(
            getInputRef=content.makeRef(field.getPhoneNumberInputId())
            class="phone-input"
            type="tel"
            mask="_"
            format=field.phoneMask
            placeholder=field.phonePlaceholder
            disabled=store.paywayForm.isLoading
            value=field.phoneNumber
            onValueChange=field.onChangePhone
            onKeyDown=field.handleKeyDown
            onFocus=field.handleFocus
            onBlur=field.onBlur
        )