
mixin select_field(content, store, field)
    .payway-field.payway-field--select(className=`${field.id} ${field.error ? 'payway-field--error' : ''}`)
        if field.options
            select.payway-field__select(
                ref=content.makeRef(field.getInputId())
                disabled=store.paywayForm.isLoading
                onChange=store.paywayForm.onFieldValueChange.bind(store.paywayForm, field)
                defaultValue='undefined'
                onFocus=field.handleFocus
            )
                if field.placeholder
                    option(key=field.placeholder disabled=true value='undefined')=field.placeholder
                each op in field.options
                    option(key=op.key value=op.key)=op.value
