@import "../../mixin"
@import "../../swatches"

//
// Multi Payways
// ------------------------------

.submit-line--br
  padding-top: 16px !important
  display: flex
  width: 100%
  justify-content: space-evenly

.btn--payway-goback
  padding-left: 16px
  padding-right: 16px
  height: 40px

.payway-field--hidden
  display: none

.currency-label-uppercase
  text-transform: uppercase

.btn-pr-auto-with-min
  min-width: 210px

.multi-payways
  padding: 0 !important
  max-width: 1052px !important
  font-size: 13px
  line-height: 1

.multi-payways .page-content
  @include tablet-max
    margin: 32px 16px 0

  // @include mobile
  //   margin: 0

.multi-payways-title
  @include mobile
    margin: 24px 0 0 0 !important

.multi-payways-back-btn
  display: inline-block
  vertical-align: middle
  font-size: 13px
  font-weight: 500
  color: $light-two !important
  line-height: 18px
  height: 27px
  text-decoration: underline!important
  cursor: pointer
  width: 100%

//
// Currency input
// ------------------------------

.payway-currency-field-label
  margin-right: 12px !important

.payway-currency-field-value
  color: $light-three !important
  opacity: 1 !important
  width: 70px !important
  height: auto !important
  line-height: 16px !important
  padding: 13px 10px !important
  font-size: 12px !important
  margin-bottom: 4px
  @include tablet-max
    width: 102px !important

//
// Select Input
// ------------------------------

.payway-select-field .custom-select
  width: calc(100% - 22px) !important
  @include mobile
    width: 100% !important

//
// Payways Form
// ------------------------------
.multi-payways .payways-form
  position: relative
  border-radius: 16px
  background: $dark-three
  @include tablet-max
    padding: 0
    width: 100%

  .bonus-warning
    color: #fa7c34 !important

  .payway-fields-list
    padding: 0 32px
    @include tablet-max
      padding: 0 24px
    .payway-currency-field
      display: block
      .form-label
        color: $light-three
        margin-bottom: 16px
      .payway-currency-field-value
        border-color: $dark-seven
        &:has(+ a + a)
          border-radius: 8px 0 0 8px
        &:nth-of-type(2)
          border-radius: 0
        &:nth-of-type(3)
          border-radius: 0 8px 8px 0

        &.active
          background: $dark-seven
    .payway-amount-field
      .form-label
        font-size: 13px
        margin-bottom: 12px
        &.required
          margin: 32px 0 8px
      .form-field--amount
        margin-bottom: 8px
        .input-wrap
          flex: none
          .currency-label
            top: 27%
            color: $dark-six
        .submit-line
          width: 145px
          flex: none
          @include tablet-max
            width: 100%
          .btn-pr
            min-width: 140px
            height: 44px

.multi-payways-name
  font-size: 19px
  font-weight: 500
  color: $yellow !important
  padding: 0 32px
  margin: 28px 0 24px 0 !important
  text-align: left
  @include tablet-max
    padding: 0 24px

.multi-payways-disclaimer
  margin-bottom: 10px

.disclaimer
  color: $grey

.payway-fields__additional-info
  margin-right: 22px
  background: rgba(29, 156, 249, 0.1)
  border-radius: 4px
  text-transform: uppercase
  color: #1D9CF9
  font-size: 14px
  text-align: center
  justify-content: center
  align-items: center
  display: flex
  font-weight: bold
  padding: 10px 15px
  cursor: pointer
  span
    transition: 0.3s transform ease-in-out
  span.opened
    transform: rotate(-180deg)
  @include mobile
    margin-right: 0

.payway-fields__additional-info-wrapper
  padding: 16px 0

.form-label--checkbox
  span
    font-size: 16px !important
    margin: 0 !important
  input
    margin-right: 8px

.form-label.required
  &::after
    content: '*'
    color: #ff3636
    margin-left: 5px
//
// Promo code
// ------------------------------

.promo-code-form
  width: 256px
  border-radius: 16px
  background-color: $dark-three
  @include tablet-max
    max-width: none
    width: 100%

  .form-label
    padding-left: 16px
    font-weight: 400
    font-size: 17px
    margin-top: 24px
    line-height: 1 !important
    margin-bottom: 8px !important
    @include tablet-max
      text-align: left !important
      padding-left: 24px

  .form-field
    margin-bottom: 0 !important
    flex-direction: column
    align-content: center
    @include tablet-max
      padding: 0 24px
    &.inline
      .input-wrap
        width: 224px
        margin-right: 0
        margin-bottom: 16px
        @include tablet-max
          width: 100%
          margin-bottom: 12px
        input
          height: 52px
      .submit-line
        @include tablet-max
          width: 100%
        .btn-pr
          width: 224px
          height: 44px
          margin-bottom: 16px
          @include tablet-max
            width: 100%

  .form-line
    @include mobile
      padding: 0

  ::placeholder
    color: $grey
    opacity: 1

  :-ms-input-placeholder
    color: $grey

  ::-ms-input-placeholder
    color: $grey

.multi-payways .refill-crypto-loader
  margin-top: 0

//
// Bank cards
// ------------------------------

.withdrawal-by-card-list
  display: flex
  flex-wrap: wrap

  @include tablet-max
    display: inline-block
    margin: 0 auto
    text-align: center

  .bank-card
    margin-right: 20px
    margin-bottom: 20px

    @include tablet-max
      display: inline-block

.uplayed-bonuses-list
  .unplayed-bonus
    border-radius: 5px
    background: #25304e
    padding: 10px
    margin-bottom: 10px
    animation-name: blinker
    animation-iteration-count: infinite
    animation-timing-function: linear
    animation-duration: 2s
    .description
      font-weight: bold
      font-size: 16px
    .name
      font-size: 18px
      color: #fda00d
  .bonuses-button-container
    width: 100%
    display: flex
    justify-content: center

@keyframes blinker
  0%
    box-shadow: 0px 0px 1px 2px rgba(230,203,25,0.3)
  50%
    box-shadow: 0px 0px 1px 2px rgba(230,203,25,0.5)
  100%
    box-shadow: 0px 0px 1px 2px rgba(230,203,25,0.3)

.loader-container-payway
  display: flex
  justify-content: center
  padding: 50px 0px

.hide-iframe
  display: none

.swiftpayp2p-custom-form
  display: flex
  flex-direction: column
  align-items: center
  .swiftpayp2p-content
    margin-bottom: 10px
    font-weight: 700
    font-size: 14px

.withdrawal-links-title
  font-size: 14px
  color: white
  line-height: 16px
  text-align: left
  margin-bottom: 10px

.withdrawal-links-container
  .withdrawal-link-item
    background: #193f6a
    display: flex
    justify-content: space-between
    border-radius: 6px
    margin-bottom: 10px
    .left-block
      padding: 0px 20px
    .withdrawal-link-item-value-container
      color: white
      padding: 10px 0
      .withdrawal-link-item-label
        font-weight: bold
    .right-block
      display: flex
      .withdrawal-link-item-value-container
        padding-right: 20px
    .withdrawal-link-button
      background: #fb8827
      padding: 0 20px
      display: flex
      align-items: center
      justify-content: center
      border-top-right-radius: 6px
      border-bottom-right-radius: 6px
      cursor: pointer
      font-size: 16px
      &:hover
        background: #dc8c48

input.payway-crypto-address-without-qr-field__input
  padding-right: 30px !important

.payway-crypto-address-without-qr-field__clear
  cursor: pointer
  position: absolute
  top: 11px
  right: 8px
  span
    margin: 0 !important
