@import "../../swatches"
@import "../../mixin"

.refill-crypto
  @include clear-fix
  padding-top: 18px

.refill-crypto-qr-code
  background: $color-white
  padding: 8px
  width: 160px
  height: 160px
  margin: 0 auto 24px auto
  @include tablet
    width: 226px
    height: 226px
    float: left
    margin-bottom: 0

  canvas
    width: 100%

  img
    width: 100%
    border-radius: 0 !important
    margin: 0 !important

.refill-crypto-content
  @include tablet
    width: calc(100% - 244px)
    float: right

.refill-crypto-disclaimer
  text-align: left
  margin-bottom: 20px
  line-height: 1.3
  opacity: 0.5


.refill-crypto-form
  .submit-line
    margin-top: 18px

.refill-crypto-loading
  text-align: center

.refill-crypto-loading-disclaimer
  display: inline-block
  line-height: 1.3
  opacity: 0.5

.refill-crypto-loader
  margin: 24px 0
