@import "../../mixin"
@import "../../swatches"

.payway__file-upload
  margin-bottom: 20px

.payway__file-upload-input
  display: none

.payway__file-upload-error
  border-radius: 6px
  background: $gr-white
  display: flex
  flex-direction: row
  margin-top: 6px
  &-left
    display: flex
    width: 38px
    background: $red
    justify-content: center
    align-items: center
    align-self: stretch
    border-radius: 6px 0 0 6px
  &-content
    flex: 1
    color: $color-black
    padding: 8px 12px 8px 18px
    line-height: 1.2
    font-size: 11px
    overflow-wrap: break-word
    overflow: hidden
    @include tablet
      font-size: 14px

.payment__file-upload
  .select-file-btn
    margin-top: 0
  .payway__file-upload
    margin-bottom: 0
  .file-block .file-name
    background: transparent
    color: $color-black
    background-color: $blue-periwinkle
  button.btn
    margin-top: 10px
    width: 100%
    border-radius: 4px
    min-height: 44px
