@import "./theme"
@import "./item-page"
@import "./list-page"

.tournaments-main-page-block-keno,
.tournaments-list-active-item.tournaments-tournaments-list-page-keno,
.tournaments-tournament-page-keno
    .flipdown.flipdown__theme-wl .rotor, 
    .flipdown.flipdown__theme-wl .rotor-top, 
    .flipdown.flipdown__theme-wl .rotor-leaf-front,
    .flipdown.flipdown__theme-wl .rotor-bottom, 
    .flipdown.flipdown__theme-wl .rotor-leaf-rear
        color: white
        background: #2d4905
    .flipdown.flipdown__theme-wl .rotor::after
        border-color: #032500
    .game-item__title
        background: $green
