@import "../../../swatches.sass"
@import "../../../mixin.sass"
    
.tournaments-tournament-page-keno
    overflow: hidden
    article
        position: relative
    @include mobile
        header img
            max-width: 290px

.tournament-section-banner-keno
    height: 362px
    figure
        left: -40px
    

.tournaments-page-content .tournaments-tournament-page-keno .leaders
    background-color: rgba(20, 20, 20, 0.3)
