@import "../../../mixin.sass"
@import "../mixin.sass"
    
.tournaments-main-page-block-keno
    border: 1px solid #1F470F
    background: url('/images/tournaments/keno/main-block-background.jpg?v1') top / cover no-repeat
    @include tablet-max
        background-image: url('/images/tournaments/keno/main-block-background.m.jpg?v1')
.tournaments-tournament-page-keno
    background: linear-gradient(to bottom, #074400, #032d00)
    .tournament-article
        background-color: #032500

.tournaments-tournaments-list-page-keno
    background: #032500

    .card-body
        background: linear-gradient(to bottom, #003c00, #001c00)
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27), inset 0 1px 0 0 rgba(255, 255, 255, 0.16)

.tournaments-tournaments-list-page-keno.tournaments-list-active-item
    border: 1px solid #004d08

.tournaments-tournaments-list-page-keno .tournaments-list-item-background-overlay
    @include tablet-max
        display: none
    @include asset('keno','bb52', 120, 120)
        left: -80px
        top: 15px
    @include asset('keno','bb25', 160, 160)
        right: -80px
        top: 0px
    @include asset('keno','b69', 70, 70)
        left: -30px
        bottom: -10px
    @include asset('keno','b1', 70, 70)
        right: -50px
        bottom: 5px

.tournaments-main-page-block.tournaments-main-page-block-keno
    border-color: #4d610a

.tournaments-background-overlay
    @include tablet-max
        display: none
    z-index: 5
    pointer-events: none
    position: absolute
    width: 100%
    height: 100%
    @include asset('keno','b1', 222, 248)
        right: -260px
        top: 1400px
    @include asset('keno','b33', 155, 174)
        left: -140px
        top: 810px
    @include asset('keno','b41', 222, 248)
        top: 1490px
        left: -290px
    @include asset('keno','b69', 155, 174)
        left: -228px
    @include asset('keno','b73', 124, 139)
        right: -150px
    @include asset('keno','b74', 155, 174)
        right: -145px
        top: 1200px
    @include asset('keno','bb62', 456, 562)
        left: -500px
        top: 280px
    @include asset('keno','bb52', 339, 354)
        left: -390px
        top: 1000px
    @include asset('keno','bb9', 338, 562)
        top: 740px
        right: -400px
    @include asset('keno','bb25', 449, 559)
        right: -522px
        top: 130px

.tournaments-tournaments-list-page-keno .tournaments-list-item-icon
    background: url('/images/tournaments/keno/list-item-background.jpg?v1') center / cover no-repeat
    width: 300px
    height: 188px
    @include mobile
      width: 180px
      height: auto
    @include mobile-xs
      width: 128px
      height: auto
