@import "./theme"
@import "./item-page"
@import "./list-page"

.tournaments-main-page-block-egypt-treasures,
.tournaments-list-active-item.tournaments-tournaments-list-page-egypt-treasures,
.tournaments-tournament-page-egypt-treasures
    .flipdown.flipdown__theme-wl .rotor, 
    .flipdown.flipdown__theme-wl .rotor-top, 
    .flipdown.flipdown__theme-wl .rotor-leaf-front,
    .flipdown.flipdown__theme-wl .rotor-bottom, 
    .flipdown.flipdown__theme-wl .rotor-leaf-rear
        color: #d0021b
        background: white
    .flipdown.flipdown__theme-wl .rotor::after
        border-color: rgba(0,0,0,0.2)
    .game-item__title
        background: #2b0701

.tournaments-list-active-item.tournaments-tournaments-list-page-egypt-treasures
    .flipdown.flipdown__theme-wl .rotor, 
    .flipdown.flipdown__theme-wl .rotor-top, 
    .flipdown.flipdown__theme-wl .rotor-leaf-front,
    .flipdown.flipdown__theme-wl .rotor-bottom, 
    .flipdown.flipdown__theme-wl .rotor-leaf-rear
        color: white
        background: #d0021b
