@import "../../../swatches.sass"
@import "../../../mixin.sass"
    
.tournaments-tournament-page-egypt-treasures
    overflow: hidden
    article
        position: relative
    @include mobile
        header img
            max-width: 290px
    

.tournaments-page-content .tournaments-tournament-page-egypt-treasures h1
    color: white

.tournaments-tournament-page-egypt-treasures .tournament-section-banner
    height: 362px
    display: flex
    flex-direction: column
    justify-content: center
    figure
        left: 0
        width: 45%
        top: 0
        bottom: 0
    figure img
        height: 100%
        width: 100%
        object-fit: contain

.tournaments-page-content .tournaments-tournament-page-egypt-treasures .leaders
    background-color: rgba(75, 0, 15, 0.8)

.tournaments-page-content .tournaments-tournament-page-egypt-treasures .leaders-header
    margin: 0
    padding: 32px 0 0
    background: rgba(75,0,15,0.8)
    border-radius: 4px 4px 0 0
