@import "../../../mixin.sass"
@import "../mixin.sass"
    
.tournaments-main-page-block.tournaments-main-page-block-egypt-treasures
    border-color: #875B23
    background-image: linear-gradient(to bottom, #85341f, #2f201d)

.tournaments-main-page-block-egypt-treasures 
    position: relative
    .background-layer
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
    .background-layer ~ *
        z-index: 2
        position: relative
    
.tournaments-main-page-block-egypt-treasures 
    .background-layer
        .gor
            position: absolute
            background: url('/images/tournaments/egypt-treasures/main-block/gor.png') center / contain no-repeat
            width: 173px
            height: 244px
            left: 28%
            @include desktop
                left: 26.5%
                width: 11%
                background-position: top
            @include tablet-max
                left: 0
                bottom: 0
                height: 100%
            @include mobile
                left: -60px
            @include mobile-xs
                left: -90px
        .bookof
            position: absolute
            background: url('/images/tournaments/egypt-treasures/main-block/bookof.png') center / contain no-repeat
            width: 181px
            height: 179px
            @include desktop
                right: 26.5%
                width: 13%
                background-position: center -10px
            @include tablet-max
                right: 0
                bottom: 0
                height: 100%
            @include mobile
                right: -60px
            @include mobile-xs
                right: -110px

.tournaments-page-content .tournaments-tournament-page-egypt-treasures
    background: url('/images/tournaments/egypt-treasures/background.png') top / contain no-repeat, url('/images/tournaments/egypt-treasures/pattern.png') 0/193px
    .tournament-article
        background-color: rgba(52, 26, 0, 0.7)

.tournaments-tournaments-list-page-egypt-treasures
    background: url('/images/tournaments/egypt-treasures/list-item-pattern.png')

    footer
        position: relative
    .card-body
        background: #422400
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27), inset 0 1px 0 0 rgba(255, 255, 255, 0.16)

.tournaments-tournaments-list-page-egypt-treasures.tournaments-list-active-item
    border: 1px solid transparent

.tournaments-tournaments-list-page-egypt-treasures .tournaments-list-item-background-overlay
    @include tablet-max
        display: none
    @include asset('egypt-treasures','scarabei', 209, 234)
        top: -50px
        right: -100px


.tournaments-tournament-page-egypt-treasures .tournaments-background-overlay
    @include tablet-max
        display: none

    z-index: 5
    pointer-events: none
    position: absolute
    width: 100%
    height: 100%
    @include asset('egypt-treasures','book', 199, 196)
        top: 660px
        right: -120px
    @include asset('egypt-treasures','scarabei', 209, 234)
        top: 1060px
        left: -150px

.tournaments-tournaments-list-page-egypt-treasures .tournaments-list-item-icon
    background: url('/images/tournaments/egypt-treasures/list-item-background.jpg?v1') center / cover no-repeat
    width: 300px
    height: 188px
    @include mobile
      width: 180px
      height: auto
    @include mobile-xs
      width: 128px
      height: auto
