@import "../../swatches"

.apk-android-bonus
    .modal-dialog
        padding: 50px 27px !important
    .modal-content
        background: $color-blue !important
        border-radius: 8px !important
        margin: 0 auto !important
        padding: 18px 28px !important
        min-height: 100% !important
        display: flex
        flex-wrap: wrap
        flex-direction: row
        justify-content: space-between

    .modal-x-close
        border: none
        position: absolute
        right: 0
        top: -28px
        width: 26px
        height: 26px
        border-radius: 0
        cursor: pointer
        z-index: 8888

        &:before, &:after
            position: absolute
            top: 0
            content: ' '
            height: 24px
            width: 2px
            background-color: $color-white

        &:before
            transform: rotate(45deg)

        &:after
            transform: rotate(-45deg)

    &__title
        color: $color-white
        font-weight: 600
        font-size: 16px
        text-align: center
        text-transform: uppercase

    &__android
        height: 139px
        margin: 27px 0
        position: relative
        z-index: 2

    &__android-bg
        background: #00ADDE
        mix-blend-mode: normal
        opacity: 0.53
        filter: blur(103.295px)
        height: 100%
        width: 100%
        display: flex
        position: absolute
        z-index: -1

    &__present-box
        height: 124px
        position: relative

    &__vals
        background: rgba($dark-black, 0.8)
        mix-blend-mode: normal
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
        align-content: center
        border-radius: 20px
        font-weight: bold
        font-size: 28px
        line-height: 28px
        height: 40px
        width: 100%
        color: $yellow
        position: absolute
        margin: auto
        top: 0
        bottom: 0

        &--2
            font-size: 20px
            line-height: 20px
            height: 58px

    &__val
        width: 100%
        text-align: center

    &__game-icon
        width: 124px
        height: 124px
        margin: 0 !important

    &__row
        display: flex
        flex-wrap: wrap
        justify-content: center
        width: 100%

    &__desc
        color: $color-white
        font-weight: 600
        font-size: 18px
        margin-top: 18px
        text-align: center

    &__btns
        padding-top: 18px
        margin-top: auto
        align-self: flex-end
        justify-content: space-around

    &__btn
        background: transparent
        font-weight: 600
        font-size: 14px
        border: none
        color: $color-white
        display: flex
        align-items: center
        text-align: center
        text-transform: uppercase
        border-radius: 25px
        display: inline-block
        padding: 10px 0
        outline: none
        width: 124px
        margin: 0 2px
        &:disabled
            opacity: 0.3
        &:hover:not([disabled])
            transform: scale(1.05)

        &.rules
            border: 2px solid $orange

        &.download
            background: $orange
            background: linear-gradient(90deg, #FEAE00 0%, #FA7C34 100%)
