@import "../../swatches"

.modal--wrong-promo-code
    .bonuses__promo-code
        min-height: 160px
    .bonuses__promo-code-btn
        display: none
    .bonuses__title,
    .bonuses__promo-code-error,
    .bonuses__promo-code-success
        text-align: center
