include ./common/header
include ./components/hero
include ./ui/tournaments/index
include ./tournaments/tournaments-main-page-block
include ./tournaments/tournament-page
include ./tournaments/tournaments-list-page
include ./components/content-navi
include ./components/games-list
include ./common/footer
include ./common/loader
include ./payment-systems/refill-page-content
include ./payment-systems/withdrawal-page-content
include ./sport/sport-page-content
include ./sport/sport-unsuported-currency-disclaimer
include ./components/modal
include ./components/block-game
include ./components/jackpot
include ./components/seo-text
include ./components/profile/profile-menu
include ./components/profile/profile-edit
include ./components/profile/forms/form-phone
include ./components/profile/affiliate-program
include ./components/profile/profile-ref-system
include ./components/profile/profile-bonuses
include ./components/profile/profile-bonus-balances
include ./components/profile/profile-documents
include ./components/notifications
include ./components/login-cashier
include ./live-casino/live-casino
include ./live-casino/live-casino-unsuported-currency-disclaimer
include ./pages/bonuses
include ./pilot/pilot-template
include ./pages/skill-wheel-page
include ./pages/freespins-shop
include ./lobby-game/lobby-game
include ./components/sport2-block
include ./components/modal/forced-phone-confirmation
include ./components/profile/profile-phone
include ./components/profile/profile-email
include ./components/profile/profile-documents-upload
include ./components/profile/forms/form-personal-data
include ./components/profile/profile-user-id
include ./components/timeline-cashback-bonus-block
include ./pages/timeline-cashback-page
include ./pages/lobby
include ./components/info-slider
include ./components/tournaments-list
include ./components/tournaments-list-games
include ./pages/app-info-page-new

if content.loading
  +loader_with_logo(content)
else if content.fatal
  pre= content.fatal
else
  if content.page === content.enums.sitePages.MAIN
    section.wrapper
      +site_header(content)
      section.site-middle.site-wrapper
        +hero(content)
        +content_navi(content)
        +info_slider(content)
        +tournaments_main_page_block(content)
        +games_list(content)
      if content.site.showSeoText
        +seo_text(content)
      +site_footer(content)
      +modal(content)
      +notifications(content)
  else if content.page === content.enums.sitePages.SPORT
    section.wrapper
      +site_header(content)
      section.site-middle.site-wrapper(class=content.appSettings.sportPageFullWidth ? 'full-width' : '')
        if content.sport.isCurrencySupported()
            +sport_page_content(content)
        else
            +sport_unsuported_currency_disclaimer(content)
      +site_footer(content)
      +modal(content)
      +notifications(content)
  else if content.page === content.enums.sitePages.SP2_PAGE
    section.wrapper
      +site_header(content)
      section.site-middle
        +sport2_block(content)
      +site_footer(content)
      +modal(content)
      +notifications(content)
  else if content.page === content.enums.sitePages.LOBBY
      section.wrapper
        +site_header(content)
        section.site-middle.site-wrapper.site-lobby
          div#lobby_iframe.lobby-container
            iframe(src="https://#{content.vlobbyActions.domain}/?l=#{content.language}&d=#{content.userInfo.sid}",
                   scrolling="no"
                   frameBorder="0",
                   allowFullScreen=true)
        +site_footer(content)
        +modal(content)
        +notifications(content)
  else if content.page === content.enums.sitePages.JACKPOT
    section.wrapper
      +site_header(content)
      section.site-middle.site-wrapper
        +jackpot(content)
      +site_footer(content)
      +modal(content)
      +notifications(content)
  else if content.page === content.enums.sitePages.CONFIRM || content.page === content.enums.sitePages.RESTORE
    section.site-wrapper
      +modal(content)
      +notifications(content)
  else if content.page === content.enums.sitePages.GAME
    section.site-wrapper.site-wrapper_game
      section.game-middle
        +block_game(content)
      +modal(content)
      +notifications(content)
  else if content.page === content.enums.sitePages.ERROR_404
    section.wrapper
      +site_header(content)
      section.site-middle.site-wrapper
        .jackpot-page.error
            .block-title= content.t("error-page-not-found")
            .block-content
                span.money-currency FUN
                .money.money--jackpot
                    span.money-amount 404
                span.money-currency FUN
            .text-page
                .page-content(style="textAlign: 'center'")
                    p= content.t("page-not-found-welcome")
                    p= content.t("page-not-found-reason")
                    p= content.t("page-not-found-fun")
                    p= content.t("page-not-found-promo")
                      |  #[a(href=content.l('/')) %DOMAIN%]
      +site_footer(content)
      +modal(content)
      +notifications(content)
  else if content.page === content.enums.sitePages.WITHDRAW
    section.wrapper
      +site_header(content)
      section.site-middle.site-wrapper
        +withdrawal_page_content(content)
      +site_footer(content)
      +modal(content)
      +notifications(content)
  else if content.page === content.enums.sitePages.REFILL
      section.wrapper
          +site_header(content)
          section.site-middle.site-wrapper
              +refill_page_content(content)
          +site_footer(content)
          +modal(content)
          +notifications(content)
  else if content.page === content.enums.sitePages.STATIC
    section.wrapper
      +site_header(content)
      section.site-middle.site-middle--opaque.site-wrapper
        .text-page
          if content.staticPageLoading
            .loading-spinner.loading-spinner_nobg
              .loading-spinner_inner
                  +loader
          else
            .page-content.rules(dangerouslySetInnerHTML=content.staticPageContent onClick=content.pages.handleClicks)
      +site_footer(content)
      +modal(content)
      +notifications(content)
  else if content.page === content.enums.sitePages.BLOG_INDEX || content.page === content.enums.sitePages.BLOG
    section.wrapper
      +site_header(content)
      section.site-middle.site-middle--opaque.site-wrapper
        .text-page(className=(content.page === content.enums.sitePages.BLOG_INDEX ? 'blog-index' : 'blog'))
          if content.staticPageLoading
            .loading-spinner.loading-spinner_nobg
              .loading-spinner_inner
                  +loader
          else
            .page-content.rules(dangerouslySetInnerHTML=content.staticPageContent onClick=content.pages.handleClicks)
      +site_footer(content)
      +modal(content)
      +notifications(content)
  else if content.page === content.enums.sitePages.LOGIN_VIA_TOKEN
    section.wrapper
      +site_header(content)
      section.site-middle.login-via-token
        .login-via-token-container
          if content.loginForm.tokenError
            h1.login-via-token-title= content.loginForm.tokenError
          else
            h1.login-via-token-title= content.t('ui-login-via-token')
            +loader
      +site_footer(content)
      +modal(content)
        +notifications(content)
  else if content.page === content.enums.sitePages.LOGIN_VIA_SOCIAL
    section.wrapper
      +site_header(content)
      section.site-middle.login-via-social
          if content.social.socialAuthError
            .login-via-token-container-error
              .login-via-social-title=content.t('ui-authorization-failed')
              .login-via-social-error=content.social.socialAuthError
              .login-via-social-support
                .support-chat-text(onClick=content.social.supportHandleClick dangerouslySetInnerHTML={__html: content.t('ui-you-can-contact-support', {supportLink: `<a href='/support'>${content.t("ui-support-social-error")}</a>`})})
              .btn.btn-pr(onClick=()=>window.location.replace(content.l('/')))=content.t("ui-to-main")
          else
            .login-via-token-container
              h1.login-via-token-title= content.t('ui-login-via-social')
              +loader
      +site_footer(content)
      +modal(content)
        +notifications(content)
  else if content.page === content.enums.sitePages.GENERATED_LOGIN
      +login_cashier(content)
  else if content.page === content.enums.sitePages.PROFILE_MENU_MOBILE
      section.wrapper.profile
          +site_header(content, true)
          section.site-middle.site-middle--opaque.site-wrapper.profile-wrapper
              .profile-page.profile-edit
                +profile_menu(content, true)
          +modal(content)
          +notifications(content)
  else if content.page === content.enums.sitePages.PROFILE_USER_ID
      section.wrapper.profile
          +site_header(content, true)
          +top_back_button(content)
          section.site-middle.site-middle--opaque.site-wrapper.profile-wrapper
              .profile-page.profile-edit
                +profile_menu(content)
                +profile_user_id(content)
          +modal(content)
          +notifications(content)
  else if content.page === content.enums.sitePages.PROFILE_PHONE
      section.wrapper.profile
          +site_header(content, true)
          +top_back_button(content)
          section.site-middle.site-middle--opaque.site-wrapper.profile-wrapper
              .profile-page.profile-edit
                +profile_menu(content)
                +profile_phone(content)
          +modal(content)
          +notifications(content)
  else if content.page === content.enums.sitePages.PROFILE_EMAIL
      section.wrapper.profile
          +site_header(content, true)
          +top_back_button(content)
          section.site-middle.site-middle--opaque.site-wrapper.profile-wrapper
              .profile-page.profile-edit
                +profile_menu(content)
                +profile_email(content)
          +modal(content)
          +notifications(content)
  else if content.page === content.enums.sitePages.PROFILE_EDIT
      section.wrapper.profile
          +site_header(content, true)
          +top_back_button(content)
          section.site-middle.site-middle--opaque.site-wrapper.profile-wrapper
              .profile-page.profile-edit
                +profile_menu(content)
                +profile_edit(content)
          +site_footer(content)
          +modal(content)
          +notifications(content)
  else if content.page === content.enums.sitePages.PROFILE_EDIT_PHONE
      section.wrapper.profile
          +site_header(content, true)
          +top_back_button(content)
          section.site-middle.site-middle--opaque.site-wrapper.profile-wrapper.overflow-unset
              .profile-page.profile-edit
                +profile_menu(content)
                +form_change_phone(content)
          +site_footer(content)
          +modal(content)
          +notifications(content)
  else if content.page === content.enums.sitePages.PROFILE_EDIT_EMAIL
      section.wrapper.profile
          +site_header(content, true)
          +top_back_button(content)
          section.site-middle.site-middle--opaque.site-wrapper.profile-wrapper
              .profile-page.profile-edit
                +profile_menu(content)
                +form_change_email(content)
          +site_footer(content)
          +modal(content)
          +notifications(content)
  else if content.page === content.enums.sitePages.PROFILE_EDIT_PASSWORD
      section.wrapper.profile
          +site_header(content, true)
          +top_back_button(content)
          section.site-middle.site-middle--opaque.site-wrapper.profile-wrapper
              .profile-page.profile-edit
                +profile_menu(content)
                +form_change_password(content)
          +site_footer(content)
          +modal(content)
          +notifications(content)
  else if content.page === content.enums.sitePages.PROFILE_EDIT_PERSONAL_DATA
      section.wrapper.profile
          +site_header(content, true)
          +top_back_button(content)
          section.site-middle.site-middle--opaque.site-wrapper.profile-wrapper
              .profile-page.profile-edit
                +profile_menu(content)
                +form_change_personal_data(content)
          +site_footer(content)
          +modal(content)
          +notifications(content)
  else if content.page === content.enums.sitePages.AFFILIATE_PROGRAM
      section.wrapper.profile
          +site_header(content, true)
          +top_back_button(content)
          section.site-middle.site-middle--opaque.site-wrapper.profile-wrapper
              .profile-page.affiliate-program
                +profile_menu(content)
                +profile_affiliate(content)
          +site_footer(content)
          +modal(content)
          +notifications(content)
  else if content.page === content.enums.sitePages.PROFILE_REF_SYSTEM
      section.wrapper.profile
          +site_header(content, true)
          +top_back_button(content)
          section.site-middle.site-middle--opaque.site-wrapper.profile-wrapper
              .profile-page.affiliate-program
                +profile_menu(content)
                +profile_ref_system(content)
          +site_footer(content)
          +modal(content)
          +notifications(content)
  else if content.page === content.enums.sitePages.PROFILE_BONUSES
      section.wrapper.profile
          +site_header(content, true)
          +top_back_button(content)
          section.site-middle.site-middle--opaque.site-wrapper.profile-wrapper
              .profile-page.profile-bonuses
                  +profile_menu(content)
                  +profile_bonuses(content)
          +site_footer(content)
          +modal(content)
          +notifications(content)
  else if content.page === content.enums.sitePages.PROFILE_BONUS_BALANCES
      section.wrapper.profile
          +site_header(content, true)
          +top_back_button(content)
          section.site-middle.site-middle--opaque.site-wrapper.profile-wrapper
              .profile-page.profile-bonuses
                  +profile_menu(content)
                  +profile_bonus_balances(content)
          +site_footer(content)
          +modal(content)
          +notifications(content)
  else if content.page === content.enums.sitePages.PROFILE_DOCUMENTS
      section.wrapper.profile
          +site_header(content, true)
          +top_back_button(content)
          section.site-middle.site-middle--opaque.site-wrapper.profile-wrapper
              .profile-page.profile-documents
                  +profile_menu(content)
                  +profile_documents(content)
          +site_footer(content)
          +modal(content)
          +notifications(content)
  else if content.page === content.enums.sitePages.PROFILE_DOCUMENTS_UPLOAD
      section.wrapper.profile
          +site_header(content, true)
          +top_back_button(content)
          section.site-middle.site-middle--opaque.site-wrapper.profile-wrapper
              .profile-page.profile-documents
                  +profile_menu(content)
                  +profile_documents_upload(content)
          +site_footer(content)
          +modal(content)
          +notifications(content)
  else if content.page === content.enums.sitePages.PAYMENT_SUCCESS
      section.wrapper
          +site_header(content)
          section.site-middle.site-wrapper.site-payment-status
              div.site-payment-status-content
                  h1.site-payment-status-title= content.t('ui-payment-success')
                  p.site-payment-status-text= content.t('ui-refill-created')
                  a.btn-pr.site-payment-status-btn(href=content.l('/'))= content.t("ui-start-playing")
          +site_footer(content)
          +modal(content)
          +notifications(content)
  else if content.page === content.enums.sitePages.PAYMENT_DECLINE
      section.wrapper
        +site_header(content)
        section.site-middle.site-wrapper.site-payment-status
            div.site-payment-status-content
                h1.site-payment-status-title= content.t('ui-payment-decline')
                a.btn-pr.site-payment-status-btn(href=content.l('/'))= content.t("ui-back")
        +site_footer(content)
        +modal(content)
        +notifications(content)
  else if content.page === content.enums.sitePages.PAYMENT_FAIL
      section.wrapper
        +site_header(content)
        section.site-middle.site-wrapper.site-payment-status
            div.site-payment-status-content
                h1.site-payment-status-title= content.t('ui-payment-fail')
                a.btn-pr.site-payment-status-btn(href=content.l('/'))= content.t("ui-back")
        +site_footer(content)
        +modal(content)
        +notifications(content)
  else if content.page === content.enums.sitePages.PAYMENT_IN_PROGRESS
      section.wrapper
        +site_header(content)
        section.site-middle.site-wrapper.site-payment-status
            div.site-payment-status-content
                h1.site-payment-status-title= content.t('ui-payment-in-progress')
                p.site-payment-status-text= content.t('ui-payment-in-progress-text')
                a.btn-pr.site-payment-status-btn(href=content.l('/'))= content.t("ui-back")
        +site_footer(content)
        +modal(content)
        +notifications(content)
  else if content.page === content.enums.sitePages.TOURNAMENT_LIST
      section.wrapper.tournaments-list-page
        +site_header(content)
        section.section.site-middle.site-wrapper.tournaments-list-page-wrapper
          +tournaments_list_page(content)
        +site_footer(content)
        +modal(content)
        +notifications(content)
  else if content.page === content.enums.sitePages.TOURNAMENT
      section.wrapper.tournament-page
        +site_header(content)
        section.section.site-middle
          +tournament_page(content)
        +site_footer(content)
        +modal(content)
        +notifications(content)
  else if content.page === content.enums.sitePages.LIVE_CASINO
      section.wrapper
        +site_header(content)
        section.site-middle
          if content.liveCasino.isCurrencySupported()
              +live_casino_page_content(content)
          else
              +live_casino_unsuported_currency_disclaimer(content)
        +site_footer(content)
        +modal(content)
        +notifications(content)
  else if content.page === content.enums.sitePages.BONUSES
      section.wrapper
        +site_header(content)
        section.site-middle.site-wrapper
          .bonuses__page
            +bonuses_page(content)
        +site_footer(content)
        +modal(content)
        +notifications(content)
  else if content.page === content.enums.sitePages.PILOT
      section.wrapper
        +site_header(content)
        section.site-middle
            +pilot_temaplate_page_content(content)
        +modal(content)
  else if content.page === content.enums.sitePages.LOBBY_GAME
      +lobby_game_page_content(content)

  else if content.page === content.enums.sitePages.SKILL_WHEEL
      +skill_wheel_page(content)

  else if content.page === content.enums.sitePages.FREESPINS_SHOP
    section.wrapper
      +site_header(content)
      section.site-middle.site-wrapper
        +freespins_shop_page(content)
      +site_footer(content)
      +modal(content)
      +notifications(content)

  else if content.page === content.enums.sitePages.FORCED_PHONE_CONFIRMATION
      +modal_forced_phone_confirmation(content)

  else if content.page === content.enums.sitePages.TIMELINE_CASHBACK
      section.wrapper
        +site_header(content)
        section.site-middle.site-wrapper
          +timeline_cashback_page(content)
        +site_footer(content)
        +modal(content)
        +notifications(content)

  else if content.page === content.enums.sitePages.KIOSK_LOBBY
      +lobby(content)

  else if content.page === content.enums.sitePages.TOURNAMENTS_INFO_LIST_PAGE 
    section.wrapper
      +site_header(content)
      section.site-middle.site-wrapper
        +hero(content)
        +content_navi(content)
        +info_slider(content)
        +tournaments_main_page_block(content)
        if content.tournamentsInfoActions.tournamentUuid
          +tournament_games_list(content)
        else
          +tournaments_list(content)
      if content.site.showSeoText
        +seo_text(content)
      +site_footer(content)
      +modal(content)
      +notifications(content)

  else if content.page === content.enums.sitePages.APP_INFO 
    section.wrapper
      +site_header(content)
      section.site-middle
        +app_info_page_new(content)
      +site_footer(content)
      +modal(content)
      +notifications(content)