@import "../../swatches"
@import "../../mixin"

//
// Affiliate program
// ------------------------------
$referral-promo-link-btn-min-width: 120px
$referral-link-btn-min-width: 150px
$referral-link-btn-offset: 12px

.affiliate-program
  margin-bottom: 30px
  .referral-link__btn
    width: auto
    margin-left: $referral-link-btn-offset
    margin-top: 0
  .promo-link__btn
    min-width: $referral-promo-link-btn-min-width
  .submit-line
    @include clear-fix
  .profile-section-group--header
    display: block
    background: $color-soft-dark-blue
    @include tablet
      display: table
      background: transparent
    .profile-group-cell--first
      display: block
      @include tablet
        display: table-cell
    .profile-group-cell--second
      background: transparent
      display: block
      @include tablet
        display: table-cell
      .profile-group-description
        padding: 24px
    .profile-group-form
      padding: 24px
      background: $color-blue
      border-radius: 6px
      margin-top: 20px
      @include tablet
        margin-top: 0
      @include desktop-lg
        min-width: 415px
    .profile-section-title
      padding-right: 0
      @include tablet
        overflow: visible
    .btn-become-member
      margin-top: 0
  .profile-section-title
    width: 100%
    padding-right:  0
  .profile-section-title.invisible
    display: none
    @include tablet
      display: block

.profile-section-group--promo-links
  background: $color-soft-dark-blue
  display: block
  @include tablet
    display: table

.referral-balance
  height: 60px
  line-height: 60px
  border-radius: 6px
  background-image: $gr-violet
  font-size: 36px
  color: $color-white
  text-align: center
  padding: 0 12px
  @include text-ellipsis

.profile-group-form-withdrawal .profile-page-description
  margin-bottom: 14px

.profile-group-form-withdrawal .btn
  padding-left: 20px
  padding-right: 20px
// endregion

//
// Profile Referral Links
// ------------------------------
.referral-links
  .referral-link__container_col
    display: inline-block
    float: right
    @include tablet
      float: none
      vertical-align: top
      display: table-cell
  .referral-link__container_col--input
    margin-bottom: 8px
    @include tablet
      margin-bottom: 0
  @include tablet
    .profile-section-title
      margin-top: 0

.referral-link
  position: relative
  .input__label
    color: $color-white
    font-size: 13px
    font-weight: 600

.referral-link__container
  display: table
  width: 100%

.referral-link__container--img
  margin-top: 12px
  text-align: right
  @include tablet
    text-align: left
  img
    max-width: 100%
    height: auto

.referral-link__container_col
  display: table-cell
  vertical-align: bottom

.referral-link__container_col--input
  width: 100%

.referral-markup
  padding: 12px
  border-radius: 8px
  border: 1px solid rgba(255,255,255,0.2)
  font-size: 14px
  font-weight: 600
  color: $yellow
  word-break: break-all

.referral-link__btn-container
  display: inline-block
  position: relative
  margin-left: 12px
  .referral-link__btn
    margin-left: 0
    min-width: $referral-link-btn-min-width
  .promo-link__btn
    min-width: auto
// endregion

//
// Profile Promo Links
// ------------------------------
.promo-links
  .referral-link__container_col
    display: inline-block
    float: right
    @include tablet
      float: none
      vertical-align: top
      display: table-cell
  .referral-link__container_col--input
    margin-bottom: 8px
    @include tablet
      margin-bottom: 0

.promo-link
  position: relative
  margin-top: 12px
  .form-control:focus
    color: $color-white
    & + .input__icon
      color: $color-white
  .input__label
    color: $color-white
    font-size: 13px
    font-weight: 600

.promo-link__btn
  min-width: $referral-promo-link-btn-min-width
  @include text-ellipsis

.promo-link__img
  max-width: 100%
  margin-bottom: 10px
// endregion
