@import "../../swatches"
@import "../../mixin"

//
// Profile Page
// ------------------------------
.warn-sign-icon
  height: 20px
  width: 20px
  background: url('/images/icons/profile-warn-sign.svg')
  background-position: center
  background-repeat: no-repeat

.profile-page
  background: $dark-black
  display: flex
  flex-direction: column
  align-items: center
  @include tablet-max
    padding: 0 16px
  @include desktop
    // margin-top: 20px
    margin-left: 40px
    margin-bottom: 48px
    background: $dark-black!important

.profile-page-content
  // padding: 0 16px
  @include tablet-max
    padding-bottom: 48px
    width: 100%
    max-width: 526px
  @include desktop
    display: inline-block
    vertical-align: top
    // width: calc(100% - #{$profile-menu-width})
    width: 661px
    .profile-section-group:first-child
      margin-top: 0
  .form-line
    padding: 0

.profile-section-group
  position: relative
  display: table
  width: 100%
  border-radius: 6px
  overflow: hidden
  margin-top: 24px
  background: $color-blue
  @include desktop
    background: transparent

.profile-group-cell
  display: table-cell
  vertical-align: top
  width: 100%
  &.profile-group-cell--first
    display: table-footer-group
    @include desktop
      display: table-cell
      width: 65%
      background: $color-soft-dark-blue
  &.profile-group-cell--second
    display: table-header-group
    @include desktop
      display: table-cell
      width: 35%
      background: $color-blue
  &.profile-group-cell--custom-bg
    background: transparent

.profile-group-description
  padding: $profile-group-padding $profile-group-padding 3px
  @include desktop
    padding: $profile-group-padding
  .modal-form
    margin-top: 40px
    @include desktop
      margin-top: 0

.profile-group-description--bg
  background: transparent

.profile-group
  padding: $profile-group-padding

.profile-group-form
  padding: $profile-group-padding
  @include clear-fix
  @include desktop
    position: relative
    .modal-form
      margin-top: 50px
  .modal-form
    @include clear-fix

.profile-section-title
  width: calc(100% - #{$profile-group-padding * 2})
  margin: 0 0 24px 0
  text-transform: uppercase
  font-size: 20px
  font-weight: normal
  padding-right: 48px
  color: $yellow
  @include mobile
    font-size: 16px

.profile-page-description
  margin-bottom: 0
  color: $color-white
  text-align: center

.icon-profile-status
  position: absolute
  right: 0
  top: 50%
  transform: translateY(-50%)
  width: 22px
  height: 22px
// endregion

//
// Profile Menu
// ------------------------------
.profile-menu
  width: 100%
  max-width: 526px
  @include desktop
    display: inline-block
    vertical-align: top
    max-width: $profile-menu-width
  .navbar-collapse
    height: auto!important
  &.navbar
    background: $dark-black
    @include desktop
      background: $dark-black
      border-radius: 12px
    .navbar-nav
      display: flex
      justify-content: space-between
      @include tablet-max
        // padding: 0 12px
      li:last-child
        display: none
      .navbar__link
        font-size: 17px
        border-radius: 0
        color: $light-one
        .item-name
          height: 100%
          text-align: center
        &:hover:not(.navbar__link--active)
          background: none
          // box-shadow: 0 3px 0 $accent-one
          .item-name
            // border: 0 3px 0 $accent-one
            color: $light-three
            box-shadow: 0 1px 0 $accent-one

  .navbar-header
    cursor: default
  .navbar-headers
    display: block
    @include desktop
      display: none
  .navbar-opened
    @include desktop
      height: auto
  .right-block
    display: flex
    align-items: center
    .right-arrow
      @include desktop
        display: none
    .warn-sign-icon
      margin-right: 14px

.profile-menu__options
  display: flex
  align-items: center

.profile-menu__options-img
  margin-top: 2px
  margin-left: 5px
  transition: transform 300ms

.profile-menu__options-img--opened
  transform: rotate(180deg)

.profile-menu-open
  .profile-page-content
    display: none
  .site-footer
    display: none

.wrapper
  &.profile
    min-height: 100vh
    background: $dark-black
    @include desktop
      background: $dark-black
      min-height: auto

.profile-wrapper
  background-color: $dark-black!important
  flex-grow: unset!important
  &.overflow-unset
    overflow: unset
  @include desktop
    min-height: 80vh
    overflow: hidden
    background-color: $dark-black!important

.profile-page
  height: 100%

.bottom-buttons-container
  // position: fixed
  // bottom: 0
  display: flex
  justify-content: flex-end
  width: 100%
  left: 0
  @media (orientation: landscape)
    position: relative
  &.relative
    position: relative
    margin-top: 20px
    .bottom-button
      margin: 0
  @include desktop
    position: relative
    justify-content: flex-end

.bottom-button
  background: rgba(29, 156, 249, 0.1)
  border-radius: 12px
  width: 100%
  // margin: 16px
  padding: 12px 15px
  text-align: center
  // font-weight: bold
  font-size: 17px
  letter-spacing: 0.7px
  // text-transform: uppercase
  color: #1D9CF9
  cursor: pointer
  border: none
  @include desktop
    margin: 16px 0
    width: max-content
  &.light-blue
    color: #FFFFFF
    background: $accent-one
    &:disabled
      background: gray
      cursor: default
  .loading-spinner_indicator
    width: 18px
    height: 18px

.top-back-button-container
  align-items: center
  padding: 14px
  display: none
  // @include tablet-max
  //   position: sticky
  //   top: 0
  //   width: 100%
  //   display: flex
  //   background: #141d36
  //   z-index: 8
  @media (orientation: landscape)
    position: relative
  &.desktop
    // display: none
    display: flex
    @include desktop
      border-bottom: none
      padding: 0
      cursor: pointer
      margin-bottom: 5px
  .text
    font-size: 16px
    color: #1D9CF9
    margin-left: 14px

.profile-phone-title,
.profile-email-title
  color: #EDF1FA
  font-size: 16px
  font-weight: 700
  padding-top: 24px
  padding-bottom: 12px
  padding-left: 16px

.profile-input-floating
  position: relative
  .profile-input
    &:focus ~ .floating-label,
    &:not(:focus):valid ~ .floating-label,
    &:disabled ~ .floating-label
      top: 1px
      bottom: 10px
      left: 16px
      font-size: 11px
      opacity: 1
      @include tablet-max
        display: none
  .floating-label
    position: absolute
    pointer-events: none
    left: 20px
    top: 15px
    transition: 0.2s ease all
    color: $dark-six
    font-size: 17px
  .password-eye
    position: absolute
    right: 14px
    top: 20px
    transition: 0.2s ease all

.profile-input
  border: 1px solid $dark-six !important
  border-radius: 12px
  background: $dark-black
  color: #FFFFFF!important
  font-size: 16px
  padding: 16px
  width: 100%
  &.error-profile-input
    border: 1px solid #EC1B5A!important

.profile-card
  background: $dark-three
  border-radius: 24px
  padding: 24px 32px
  max-width: 40vw
  min-width: 661px
  &.full-witdh
    max-width: none
  &.personal-data
    margin: 0 10px
    @include desktop
      max-width: 50vw
      margin-bottom: 50px
  &.user-id
    width: 49%
    flex: unset!important
  @include tablet-max
    padding: 0
    max-width: none
    min-width: 100px
    width: 100%

.profile-edit-row
  display: flex
  justify-content: space-between
  margin-bottom: 24px
  .profile-card
    flex: 1
    align-items: center
    display: flex
    justify-content: space-between
    &.user-fields
      flex-direction: column
      align-items: flex-start
    .field-container
      display: flex
      width: 100%
      @include tablet-max
        flex-direction: column
        padding: 24px 16px 20px 0
        .main-block
          margin-bottom: 20px
        .button-field
          width: 100%
      .button-block
        display: flex
        align-items: center
    &:nth-of-type(2)
      margin-left: 16px

.field-container
  padding-top: 12px
  padding-bottom: 12px
  padding-right: 5px
  margin-left: 16px
  display: flex
  justify-content: space-between
  @include desktop
    margin: 0
    padding: 0
  .main-block
    padding-right: 5px
    .type
      font-size: 17px
      color: $light-one
      margin-bottom: 8px
    .text-block
      display: flex
      img
        margin-left: 5px
        display: none
    .text
      color: #EDF1FA
      font-size: 17px
      word-break: break-all
      &.assign
        color: $yellow
        font-size: 17px
    .new-phone-warn,
    .new-email-warn
      display: flex
      align-items: center
      .text
        font-size: 17px
        color: $yellow
        // margin-left: 5px
    .send-email-again
      margin-left: 20px
      font-size: 15px
      text-decoration: underline
      color: #1d9cf9
      cursor: pointer

  .button-block
    display: flex
    align-items: center
    .button-field
      padding: 10px 0px
      min-width: 160px
      text-align: center
      background: #1D9CF9
      border-radius: 12px
      letter-spacing: 0.7px
      font-size: 17px
      color: #FFFFFF
      cursor: pointer
      transition: .1s linear
      &:hover
        background: $accent-two
      @include desktop
        background: $accent-one
        &.assign
          background: $accent-one
      &.assign
        background: $accent-one
        &:hover
          background: $accent-two
      &.pass-change
        background: transparent
        color: $light-one
        border: 1px solid $light-one
        &:hover
          color: $light-three
          border-color: $light-three

.phone-enter
  .resend-timer
    @include mobile
      text-align: center

.phone-enter,
.email-enter,
.password-enter
  // margin: 0 16px
  margin-top: 16px
  @include desktop
    margin-top: 0
.phone-enter-title,
.email-enter-title,
.password-enter-title,
.profile-title
  font-size: 17px
  // font-weight: bold
  color: #EDF1FA
  @include desktop
    // margin-bottom: 10px
.phone-enter-text,
.email-enter-text,
.password-enter-text
  font-size: 17px
  color: $light-one
  margin: 8px 0px 22px

.email-enter
  .error
    padding-bottom: 0px!important
    color: #ff7816
    padding-top: 5px

.field-email-container
  display: flex
  @include tablet-max
    flex-direction: column
  .form-line
    width: 100%
  .bottom-buttons-container
    width: auto
    margin-top: 0
    margin-left: 28px
    @include tablet-max
      margin-top: 24px
      margin-left: 0

.phone-edit-page,
.password-edit-page,
.email-edit-page
  .profile-card
    @include tablet-max
      padding: 24px 16px 20px

.phone-edit-page
  margin-top: 0px
  .error
    padding-bottom: 0px!important
    color: #ff7816
    padding-top: 5px
  .phone-new
    display: flex
    // border: 1px solid rgba(255, 255, 255, 0.1)
    border-radius: 4px
    .phone-country-picker
      border: 1px solid $dark-six
      box-shadow: none
      padding-left: 7px
      border-radius: 12px
      color: $yellow
      .form-control
        color: #c1c1c1

    .phone-country-picker-container
      position: relative
      margin-right: 3px
      &::after
        content: " "
        width: 0
        height: 0
        border-left: 4px solid transparent
        border-right: 4px solid transparent
        border-top: 7px solid #2a405c
        margin-top: -3px
        position: absolute
        top: 50%
        right: 0.8em
        z-index: 2
        pointer-events: none
        display: block

    .tel-input
      background: $dark-black
      box-shadow: none
      border: 1px solid $dark-six
      border-radius: 12px
      color: $yellow
      font-size: 17px
      width: 100%
      &::placeholder
        color: $dark-six
  .phone-code
    .field-container
      margin-left: 0
      @include tablet-max
        .button-block
          display: none
      @include desktop
        border: none
        // border-radius: 4px
        // padding: 8px
        .button-field
          background: transparent
          color: $light-one
          border: 1px solid $light-one
          &:hover
            color: $light-three
            border-color: $light-three

    .code-block
      display: flex
      flex-direction: column
      align-items: flex-start
      padding-top: 8px
      @include desktop
        padding-top: 20px
      .profile-error
        width: 315px
      .code-title
        color: $light-one
        font-size: 14px
        @include tablet-max
          text-align: center
      .code-container
        display: flex
        justify-content: center
        // margin-top: 24px
        input.code-char
          width: 54px
          height: 68px
          background: $dark-black
          border: 1px solid $dark-six
          border-radius: 12px
          margin-right: 8px
          box-shadow: none
          text-align: center
          color: #FFFFFF
          font-size: 32px
          font-weight: bold
          -moz-appearance: textfield
          caret-color: transparent
          &:focus
            background: rgba(255, 255, 255, 0.2)
      .resend-confirm-code
        margin-top: 24px
        color: $accent-three
        font-size: 14px
        cursor: pointer
      .button-block
        width: 100%
        display: none
        margin-top: 24px
        @include tablet-max
          display: flex
        .button-field
          padding: 10px 0px
          width: 100%
          text-align: center
          background: transparent
          border-radius: 12px
          letter-spacing: 0.7px
          font-size: 17px
          color: $light-one
          cursor: pointer
          border: 1px solid $light-one

.profile-error
  display: flex
  margin-top: 14px
  background: #EC1B5A
  border-radius: 6px
  padding: 7px
  align-items: center
  width: 100%
  justify-content: center
  .profile-error-text
    margin-left: 5px
    color: #FFFFFF
    font-size: 16px

.password-edit-page
  .profile-input-floating
    margin: 16px 0

.success-confirm
  padding: 24px 16px 20px
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  .first-line
    @include desktop
      display: flex
      align-items: center
      padding: 20px 0
      .title
        margin: 0
      img
        margin-right: 10px
  @include desktop
    padding-top: 0
    align-items: flex-start
    text-align: left
  .title
    margin-top: 24px
    margin-bottom: 16px
    font-size: 20px
    color: #EDF1FA
    font-weight: bold
  .text
    font-size: 16px
    color: rgba(237, 241, 250, 0.8)
    text-align: center
    @include desktop
      text-align: left
  .bottom-button
    @include desktop
      width: 100%

.personal-data-card-content
  display: flex
  width: 30vw
  .personal-data-card-content-block
    margin-top: 16px
    width: 100%
    .personal-data-card-content-title
      color: rgba(237, 241, 250, 0.7)
      font-size: 12px
      margin-bottom: 12px
    .personal-data-card-content-list
      display: flex
      flex-wrap: wrap
      .personal-data-card-content-element
        margin-right: 40px
        margin-bottom: 50px
        .personal-data-card-content-element-title
          font-size: 12px
          color: rgba(237, 241, 250, 0.5)
        .personal-data-card-content-element-value
          font-size: 16px
          color: #EDF1FA

.personal-data-page
  .personal-data-title
    color: #FFFFFF
    font-weight: bold
    font-size: 20px
    margin-left: 16px
    margin-bottom: 16px
    @include mobile
      margin-left: 10px
      margin-top: 10px
      margin-bottom: 10px
  .profile-edit-form-disclaimer
    color: rgba(237, 241, 250, 0.8)
  .profile-personal-form
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    .form-line
      margin-bottom: 16px
      width: 100%
      &.not-full-width
        @include desktop
          width: 48%
      .profile-input
        @include mobile
          border: none!important
          border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important
      .error
        padding-bottom: 10px
        color: #ff7816

  .radio-group
    display: flex
    flex: 1 1 auto
    flex-direction: row
    align-items: center
    .radio-item + .radio-item
      margin-left: 20px
      margin-top: 0
  .radio-item
    padding: 10px
    border: 1px solid #353962
    border-radius: 4px
    flex: 1
    label
      position: relative
      color: $color-white
      font-family: $font-bold
      text-transform: uppercase
      display: block
      cursor: pointer
      font-size: 16px
      padding-left: 37px
      height: 30px
      line-height: 30px
      white-space: nowrap
      @include desktop
        height: 20px
        line-height: 20px
        padding-left: 30px
      &:before
        content: ''
        position: absolute
        border-radius: 50%
        border: 1px solid rgba($color-white, 0.2)
        top: 0
        left: 0
        box-sizing: border-box
        width: 30px
        height: 30px
        @include desktop
          width: 20px
          height: 20px
      &:after
        content: ''
        position: absolute
        border-radius: 50%
        background-color: #1D9CF9
        opacity: 0
        transition: opacity .2s linear
        box-sizing: border-box
        width: 12px
        height: 12px
        top: 9px
        left: 9px
        @include desktop
          width: 8px
          height: 8px
          top: 6px
          left: 6px
    input
      position: absolute
      left: -9999em
      &:checked
        + label
          &:before
            border-color: #1D9CF9
          &:after
            opacity: 1

.profile-card
  .form-line--confirmation-code-method
    margin-top: 16px
