@import "../../swatches"
@import "../../mixin"

//
// Profile Bonuses
// ------------------------------
.profile-bonuses-page-content
  @include desktop
    background: transparent
    border-radius: 12px
    padding: 16px
    margin: 0 16px
    width: calc(661px + 32px)
    margin-bottom: 16px
  .bonuses__promo-code
    background: $dark-three
    padding: 24px 32px
    border-radius: 24px
    @include tablet-max
      padding: 24px 16px 20px
    .bonuses__promo-code-form
      align-items: center
      .bonuses__promo-code-input
        margin-right: 28px
        transition: .1s linear
        &:hover
          border-color: $light-two
      .bonuses__promo-code-icon
        display: none
      .bonuses__promo-code-btn
        width: 160px
        background: $accent-one
        color: $color-white
        border: none
        height: 44px
        margin: 0 auto
        transition: .2s linear
        @include tablet-max
          width: 100%
          margin: 24px 0 0
        &:hover
          background: $accent-two
    .bonuses__title
      color: #FFFFFF
      font-size: 17px
      text-transform: none
      text-align: left
      margin: 0 0 8px
    .bonuses__promo-code-label
      font-size: 14px
      margin-bottom: 16px

.profile-bonuses-loader
  text-align: center

.profile-bonuses-loader-content
  display: inline-block
  padding: 80px 20px

.profile-bonuses .profile-group-form,
.profile-bonuses .profile-group-description
  padding: 12px 20px

  @include mobile
    padding: 6px 8px

.profile-bonuses-section
  margin-top: 0

.profile-bonuses-section:first-child,
.profile-bonuses-section:first-child .profile-section-title
  margin-top: 0

  @include tablet-max
    margin-top: 24px

.profile-bonuses-section-title
  width: 100%
  margin-top: 24px
  margin-bottom: 12px
  padding: 0
  @include mobile
    text-align: center

.profile-bonuses-wager-button
  cursor: default
  @include tablet
    margin-bottom: 15px

// endregion

//
// Profile Bonuses History Table
// ------------------------------
.profile-bonuses-table
  overflow: hidden
  overflow-x: auto
  .table-history
    min-width: $screen-sm

.profile-bonuses-table-title
  margin-top: 0
// endregion

//
// Confirmation Popup
// ------------------------------
.confirm-refuse-bonus .modal-content
  max-height: 300px
  @include mobile
    max-height: 350px

.bonus-refuse-confirmation-disclaimer
  margin: 0

.bonus-refuse-confirmation .submit-line
  @include clear-fix
  &.vertical
    display: flex
    flex-direction: column
    align-items: center

.bonus-refuse-confirmation button
  width: 100%
  margin-bottom: 5px

.bonus-refuse-confirmation button:first-child
  float: left

.bonus-refuse-confirmation button:last-child
  vertical-align: middle
  float: right

// endregion

.profile-bonuses-section
  .profile-bonus-balances
    display: flex
    flex-direction: row
    flex-wrap: wrap
    @include mobile
      flex-direction: column

  .profile-bonus-balance
    display: flex
    flex-direction: column
    width: 278px
    margin-right: 25px
    margin-bottom: 24px
    padding: 20px 24px
    background-color: $blue2
    border-radius: 6px
    border: solid 1px $blue-grey
    @include mobile
      margin-right: 0
      align-self: center

  .profile-bonus-balance__top
    display: flex
    flex: 1
    flex-direction: row
    width: 100%
    font-weight: 600
    color: $color-white

  .profile-bonus-balance__name
    color: $color-white
    flex: 2
    display: flex
    word-break: break-word
    flex-shrink: 1

  .profile-bonus-balance__amount
    padding-left: 10px
    color: $yellow
    flex: 1
    display: flex

  .profile-bonus-balance__description,
  .profile-bonus-balance__wagered
    display: inline-block
    padding-top: 5px
    font-size: 12px
    strong
      color: $color-light-blue
      font-weight: 500
      padding-left: 5px
    .bonus-balances-wager-bonus-desc
      font-size: 12px
      font-weight: 100
    .bonus-balances-wager-bonus-value
      font-size: 35px
      font-weight: bold
      color: $color-white
