@import "../../swatches"
@import "../../mixin"

$touchable: #1D9CF9

.profile-page-content--ref-system
    @include tablet-max
        padding: 0

.profile-ref-system
    text-align: center
    padding-bottom: 30px

.profile-ref-system__loader
    text-align: center
    padding-top: 30px

.profile-ref-system__title
    text-align: left
    color: $color-white
    font-size: 20px
    text-transform: uppercase
    padding-top: 20px
    padding-bottom: 24px
    padding-right: 60px
    @include tablet-max
        padding-right: 40px
        padding-left: 16px
        padding-top: 13px
        padding-bottom: 8.5px
        border-bottom: 1px solid rgba(255, 255, 255, 0.1)

.dialog-close-icon--ref-system
    width: 56px
    height: 56px
    top: 0
    right: 0
    @include tablet-max
        width: 30px
        height: 30px
        top: 8px
        right: 8px

.profile-ref-system__form
    padding-top: 76px
    min-height: 530px
    @include tablet-max
        padding-top: 48px
        min-height: 100px

.profile-ref-system__form-invite-title
    width: 280px
    margin: 0 auto
    margin-top: 24px
    font-size: 18px
    font-weight: 700
    line-height: 25px
    color: $color-white

.profile-ref-system__form-invite-desc
    width: 280px
    margin: 0 auto
    margin-top: 16px
    font-size: 14px
    font-weight: 400
    line-height: 19px
    color: $color-white
    &--highlighted
        color: $yellow

.profile-ref-system__form-invite-btn
    display: block
    margin: 0 auto
    width: 300px
    margin-top: 12px
    padding-top: 12px
    padding-bottom: 12px
    background-color: $touchable
    border-radius: 4px
    border: 0
    outline: 0
    font-size: 16px
    color: $color-white
    text-transform: uppercase
    cursor: pointer
    z-index: 3
    &--sms
        opacity: 0.5
        cursor: default

.profile-ref-system__form-invite-btn--pick
    background-color: #1D3252
    color: $touchable
    margin-top: 24px

.profile-ref-system__form-invite-btn--confirm-phone
    margin-top: 24px

.profile-ref-system__form-invite-input-wrapper
    position: relative
    width: 300px
    height: 48px
    margin: 0 auto
    margin-top: 24px
    box-sizing: border-box

.profile-ref-system__form-phone-with-code
    position: relative
    height: 48px
    margin: 0 auto
    margin-top: 24px
    box-sizing: border-box
    display: flex
    flex-direction: row
    width: 300px
    &--confirm
        margin-top: 10px

.tel-input
    background-color: rgba(0,0,0,0.7)
    border: 1px solid #353962
    color: #EDF1FA
    outline: 0
    height: 52px
    display: flex
    flex: 1
    border-top-right-radius: 4px
    border-bottom-right-radius: 4px
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    padding-left: 16px
    padding-right: 16px
    font-size: 20px
    margin: 0
    max-width: 100%
    &--without-code
        max-width: 300px

.profile-ref-system__code-input
    background-color: rgba(0,0,0,0.7)
    border: 1px solid #353962
    color: #EDF1FA
    outline: 0
    height: 48px
    display: flex
    flex: 1
    border-radius: 4px
    padding-left: 16px
    padding-right: 16px
    margin: 0
    max-width: 300px
    text-align: center
    font-size: 30px

.phone-country-picker
    height: 52px
    padding-left: 3px
    padding-right: 3px
    margin: 0
    background-color: $dark-black
    color: $touchable
    border: 1px solid #353962
    border-top-left-radius: 4px
    border-bottom-left-radius: 4px
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    border-right: 0
    outline: 0
    font-size: 16px
    cursor: pointer
    -webkit-appearance: none
    width: 130px

input.profile-ref-system__form-invite-input:focus ~ .profile-ref-system__form-invite-input-label,
input.profile-ref-system__form-invite-input:not(:focus):valid ~ .profile-ref-system__form-invite-input-label,
input.profile-ref-system__form-invite-input:disabled ~ .profile-ref-system__form-invite-input-label
    top: 7px
    left: 16px
    transform: none
    font-size: 12px
    opacity: 1

input.profile-ref-system__form-invite-input
    width: 300px
    padding-top: 20px
    padding-left: 16px
    padding-right: 16px
    height: 48px
    font-size: 16px
    font-weight: 400
    background-color: transparent
    border: 1px solid #353962
    border-radius: 4px
    color: #EDF1FA

input.profile-ref-system__form-invite-input:focus
    border: 1px solid rgba(29, 156, 249, 0.5)

input.profile-ref-system__form-invite-input:disabled,
input.profile-ref-system__form-invite-input:disabled ~ .profile-ref-system__form-invite-input-label
    opacity: 0.5

.profile-ref-system__form-invite-input-label
    position: absolute
    pointer-events: none
    left: 50%
    transform: translate(-50%, 0)
    top: 14px
    transition: 0.2s ease all
    font-size: 18px
    font-weight: 400
    color: $blue-oyster

a.profile-ref-system__rules
    display: inline-block
    margin-top: 0
    cursor: pointer
    margin-left: 10px
    background: $touchable
    border-radius: 10px
    padding: 0 5px

.profile-ref-system__rules-icon
    width: 15px
    height: 15px

.profile-ref-system__rules-title
    margin-left: 3px
    color: $color-white
    font-size: 20px
    line-height: 20px

.dialog-close-icon--ref-modal
    width: 56px
    height: 56px

.profile-ref-system__modal
    text-align: center
    border-radius: 16px !important
    background-color: $dark-black !important
    box-shadow: none !important
    width: 600px
    height: 680px
    padding: 30px !important
    position: relative
    display: flex
    flex: 1
    flex-direction: column

.profile-ref-system__modal-close
    position: absolute
    top: 0
    right: 0
    padding: 24px

.profile-ref-system__modal-icon-was-sent
    margin-top: 75px

.profile-ref-system__modal-icon-rules
    margin-top: 50px
    height: 10vh

.profile-ref-system__modal-title
    margin-top: 16px
    font-weight: 700
    font-size: 18px
    color: $color-white

.profile-ref-system__modal-desc
    margin: 0 auto
    margin-top: 8px
    font-size: 14px
    font-weight: 400
    color: $color-white
    width: 262px
    text-align: center

.profile-ref-system__modal-btn
    display: block
    width: 279px
    height: 48px
    margin: 0 auto
    border: 0
    border-radius: 4px
    font-weight: 700
    font-size: 16px
    cursor: pointer
    text-transform: uppercase
    outline: 0

.profile-ref-system__modal-btn--copy,
.profile-ref-system__modal-btn--primary
    margin-top: 32px
    background-color: $touchable
    color: $color-white

.profile-ref-system__modal-btn--primary
    margin-top: 16px

.profile-ref-system__modal-btn--secondary
    margin-top: 16px
    background-color: #1D3252
    color: $touchable

.profile-ref-system__modal--ref-invite-form
    display: flex
    flex: 1
    flex-direction: column
    justify-content: space-between

.profile-ref-system__form-invite
    display: flex
    flex: 1
    flex-direction: column
    justify-content: space-between
    text-align: center

.profile-ref-system__form-content
    display: flex
    flex: 1
    flex-direction: column
    justify-content: space-evenly

.profile-ref-system__info
    @include tablet-max
        margin-top: 30px

.profile-ref-system__stat
    display: flex
    flex-direction: row
    > div
        margin-right: 30px
        &:last-child
            margin-right: 0
            margin-bottom: 0
    @include tablet-max
        flex-direction: column
        > div
            margin-right: 16px
            margin-left: 16px
            margin-bottom: 12px
            &:last-child
                margin-right: 16px

.profile-ref-system__stat-block
    flex: 1
    text-align: left
    background-color: #2B3552
    padding: 22px 21px 12px 24px
    border-radius: 6px
    box-sizing: border-box
    &--totals
        display: flex
        flex-direction: row
    @include tablet-max
        font-size: 14px
        padding: 12px 16px 12px 16px

.profile-ref-system__stat-block-total
    display: flex
    flex: 1
    flex-direction: column
    justify-content: space-between
    &--with-separator
        border-left: 1px solid rgba(29, 156, 249, 0.1)
        padding-left: 9px

.profile-ref-system__stat-block--bonus-count
    margin-top: 12px

.profile-ref-system__stat-title
    font-size: 16px
    color: $color-white
    @include tablet-max
        font-size: 14px
    &--attention
        font-size: 22px
        color: $red
        text-align: center
        @include tablet-max
            font-size: 18px

.profile-ref-system__stat-amount
    font-size: 36px
    font-weight: 700
    color: $color-white
    @include tablet-max
        font-size: 24px

.profile-ref-system__stat-btn-invite
    margin-top: 8px
    padding-top: 12px
    padding-bottom: 12px
    display: block
    width: 100%
    border: 0
    outline: 0
    cursor: pointer
    border-radius: 4px
    background-color: $touchable
    font-size: 14px
    font-weight: 700
    color: $color-white
    text-align: center
    text-transform: uppercase
    &--activate
        width: 300px
        margin: 0 auto
        margin-top: 8px
        @include tablet-max
            width: 100%

.profile-ref-system__form-invite-btn:disabled
    opacity: 0.5
    cursor: default
    pointer-events: none

.profile-ref-system__form-invite-error
    margin: 0 auto
    margin-top: 3px
    font-size: 18px
    font-style: italic
    width: 300px
    text-align: left
    color: $red
    min-height: 25px

.profile-ref-system__table
    min-height: 600px
    @include tablet-max
        min-height: 100px

.profile-ref-system__table-header
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
    display: flex
    flex-direction: row
    justify-content: space-between
    padding-bottom: 11px
    @include tablet-max
        margin-left: 20px
        margin-right: 20px
        padding-bottom: 14px

.profile-ref-system__table-header-title
    margin-top: 34px
    font-size: 16px
    color: $color-white
    @include tablet-max
        margin-top: 26px

.profile-ref-system__table-header .profile-ref-system__rules-title
    @include tablet-max
        display: none !important

.profile-ref-system__table-body > div:nth-child(2n)
    background-color: rgba(29, 156, 249, 0.05)

.profile-ref-system__table-item
    padding: 16px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    @include tablet-max
        padding-top: 12px
        padding-bottom: 12px

.profile-ref-system__table-item-left
    display: flex
    flex-direction: row
    align-items: center
    flex-grow: 1

.profile-ref-system__table-item-phone-wrap
    margin-left: 16px
    display: flex
    flex-grow: 1
    flex-direction: column
    align-items: flex-start
    @include tablet-max
        margin-left: 5px

.profile-ref-system__table-item-phone
    font-size: 16px
    color: $color-white
    text-align: left
    @include tablet-max
        font-size: 14px

.profile-ref-system__table-item-copy
    font-size: 14px
    color: $touchable
    cursor: pointer
    border-bottom: 1px dotted $touchable
    align-self: center
    @include tablet-max
        font-size: 12px

.profile-ref-system__table-item-right
    display: flex
    flex-direction: row

.profile-ref-system__table-item-status
    margin-left: 5px
    padding: 6px 12px 6px 12px
    font-size: 16px
    color: $color-white
    border-radius: 6px
    cursor: default
    display: flex
    align-items: center
    span
        display: flex
    @include tablet-max
        font-size: 12px
        padding: 3px
        max-height: 32px
        align-self: center

.profile-ref-system__table-item-status--sent
    border: 1px solid rgba(255, 255, 255, 0.1)

.profile-ref-system__table-item-status--accepted
    background-color: #1EC260

.profile-ref-system__table-item-status--rejected
    background-color: $dark-yellow

.profile-ref-system__table-item-status--resend
    color: $touchable
    cursor: pointer
    margin-left: 0
    font-size: 14px
    @include tablet-max
        font-size: 12px

.profile-ref-system__table-item-icon
    @include tablet-max
        width: 16px
        height: 16px

.profile-ref-system__table-item-last-column
    padding-left: 20px
    justify-content: center
    align-items: center
    display: flex
    flex-direction: column
    text-align: center
    @include tablet-max
        padding-left: 5px

.profile-ref-system__paginator
    display: flex
    flex-direction: row
    margin-top: 22px

.profile-ref-system__paginator-arrow
    width: 48px
    height: 48px
    display: flex
    background-color: rgba(29, 156, 249, 0.1)
    border-radius: 4px
    margin-left: 4px
    margin-right: 4px
    justify-content: center
    align-items: center
    cursor: pointer
    @include tablet-max
        width: 40px
        height: 40px
        margin-left: 3px
        margin-right: 3px

.profile-ref-system__paginator-arrow--forward
    transform: rotate(180deg)

.profile-ref-system__paginator-page
    width: 48px
    height: 48px
    display: flex
    border: 1px solid rgba(29, 156, 249, 0.2)
    background-color: transparent
    border-radius: 4px
    margin-left: 4px
    margin-right: 4px
    justify-content: center
    align-items: center
    cursor: pointer
    font-size: 20px
    font-weight: 700
    color: $touchable
    @include tablet-max
        width: 40px
        height: 40px
        margin-left: 3px
        margin-right: 3px

.profile-ref-system__paginator-page--active
    color: $color-white
    border-color: $touchable
    background-color: $touchable

.profile-ref-system__form-top--own-phone
    display: flex
    flex: 1
    flex-direction: column
    justify-content: center

.profile-ref-system__form-bottom
    margin-top: 15px

.profile-ref-system__form-bottom-button-resend
    cursor: pointer
    margin-top: 8px
    text-decoration: underline
    color: $color-white
    text-align: center

.profile-ref-system__form-bottom-button-change-phone
    cursor: pointer
    margin-top: 8px
    text-decoration: underline
    color: $yellow
    text-align: center

.profile-ref-system__form-bottom-message
    margin-top: 8px

.bonus-info__ref-system
    color: $color-white
    background-color: $touchable
    padding: 5px 5px
    margin-left: 8px
    border-radius: 5px
    font-size: 15px
    font-weight: 400
    display: inline-block
    line-height: 1
    vertical-align: top
    margin-top: 3px
    margin-bottom: 10px
    cursor: pointer
    &--menu
        margin: 0

.bonus-info__ref-system-img
    height: 15px
    width: 15px
    margin-left: 3px

.header-top-line .bonus-info__ref-system
    @include tablet-max
        display: none

.user-balance__ref-system-img
    height: 15px
    width: 15px
    margin-left: 3px

.profile-ref-system__modal--rules
    width: 80vw
    height: 80vh
    max-width: 800px
    display: flex
    flex-direction: column
    flex: 1

.mobile .profile-ref-system__modal--rules
    width: 100%
    height: 100%
    padding-bottom: 0px

.profile-ref-system__rules-container
    padding: 0 10px
    margin-top: 10px
    overflow: auto
    position: relative
    font-size: 18px
    display: flex
    div
        position: relative
        color: $color-white

.profile-ref-system__form-pic
    height: 86px

.profile-ref-system__modal-invite-link-copy-title,
.profile-ref-system__modal-invite-link-share-title
    margin: 0 auto
    margin-top: 32px
    color: $color-white
    text-align: center
    width: 280px

.profile-ref-system__modal-invite-link-wrap
    margin: 0 auto
    margin-top: 8px
    display: flex
    width: 300px
    flex-direction: row
    flex-wrap: nowrap
    height: 48px
    border: 1px solid #353962
    border-radius: 4px
    align-items: center
    display: flex
    min-width: 0

.profile-ref-system__modal-invite-link
    margin: 0 16px
    font-size: 16px
    color: #E4EAFD
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden

.profile-ref-system__modal-invite-link-copy
    background-color: $touchable
    margin-right: 8px
    display: flex
    flex-shrink: 0
    font-size: 14px
    border: 0
    color: $color-white
    padding: 6px 8px
    border-radius: 3px
    font-weight: 700

.profile-ref-system__modal-invite-share-options
    margin: 0 auto
    margin-top: 8px
    width: 300px
    height: 48px
    display: flex
    flex-direction: row
    > div
        display: flex
        flex: 1
        margin: 0 4px
        border-radius: 4px
        background-repeat: no-repeat
        background-position: center
        cursor: pointer

.profile-ref-system__modal-invite-share-fb
    background-color: #3B5998
    background-image: url("/images/social-icons/fb.svg")

.profile-ref-system__modal-invite-share-ig
    background-color: #E1306C
    background-image: url("/images/social-icons/ig.svg")

.profile-ref-system__modal-invite-share-tw
    background-color: #1DA1F2
    background-image: url("/images/social-icons/tw.svg")

.profile-ref-system__modal-invite-share-wa
    background-color: #25D366
    background-image: url("/images/social-icons/wa.svg")

.profile-ref-system__modal-invite-share-mail
    background-color: #1D9CF9
    background-image: url("/images/social-icons/mail.svg")

.profile-ref-system__modal--was-sent
    display: flex
    flex: 1
    flex-direction: column
    justify-content: space-evenly
    .profile-ref-system__modal-icon-was-sent
        margin-top: 0

.mobile
    &.modal--ref-system
        top: 0
        bottom: 0
        right: 0
        left: 0
        transform: none !important
        background-color: $dark-black
        .modal-dialog
            display: flex
            flex: 1
            min-height: 100%
            width: 100% !important
            position: relative
    .profile-ref-system__modal
        padding: 16px !important
        padding-bottom: 24px !important
        box-sizing: border-box
        display: flex
        height: auto
        flex: 1
        flex-direction: column
        width: 100% !important
        min-height: auto !important
        position: relative
        border-radius: 0 !important
        margin-top: 0 !important
    .profile-ref-system__modal--ref-invite-form
        padding-top: 0
        display: flex
        flex: 1
        flex-direction: column
    .profile-ref-system__form-invite
        display: flex
        flex: 1
        flex-direction: column
        justify-content: space-between
        .profile-ref-system__form-invite-title,
        .profile-ref-system__form-invite-desc
            width: auto
    .profile-ref-system__form-invite-desc--code
        text-align: center
        font-size: 24px
    .profile-ref-system__mobile-step,
    .profile-ref-system__form-invite
        padding: 0 8px
    .profile-ref-system__form-invite-input-description
        width: auto
        margin: 0 auto
        margin-top: 4px
        text-align: center
        font-size: 12px
    .profile-ref-system__modal--was-sent
        justify-content: space-between
        padding: 0 8px
        .profile-ref-system__modal-icon-was-sent
            width: 102px
            margin: 0 auto
        .profile-ref-system__modal-btn
            width: 100%
        .profile-ref-system__modal-top
            display: flex
            flex: 1
            flex-direction: column
            justify-content: space-evenly
    .profile-ref-system__modal-invite-link-wrap
        width: 100%
    .profile-ref-system__modal-invite-link-copy-title
        margin-top: 0
    .profile-ref-system__modal-invite-share-options
        width: auto
    .profile-ref-system__form-invite-error
        width: auto
        margin: 0 auto
        text-align: center
        margin-top: 3px
    .profile-ref-system__form-invite-btn
        width: 100%
        height: 48px
    .profile-ref-system__form-bottom-button-change-phone,
    .profile-ref-system__form-bottom-button-resend
        font-size: 16px
        margin-top: 12px
    .profile-ref-system__form-invite-input-wrapper
        width: 100%
        box-sizing: border-box
        display: flex
        position: relative
    .profile-ref-system__form-invite-input
        width: auto
        flex: 1
        display: flex
    .profile-ref-system__mobile-step-invite-personalisation
        font-size: 18px
    .profile-ref-system__mobile-step-invite-personalisation-desc
        font-size: 14px
    .profile-ref-system__form-invite-input-label
        font-size: 16px
    .profile-ref-system__mobile-step-final
        margin-top: 16px
    @media (orientation: landscape)
        .profile-ref-system__mobile-step-title
            margin-top: 20px

.profile-ref-system__mobile-top-buttons
    display: flex
    flex-direction: row
    justify-content: space-between
    z-index: 2

.profile-ref-system__mobile-arrow-back
    background-color: #131C35
    width: 56px
    height: 56px
    border-radius: 28px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer

.profile-ref-system__mobile-close-cross
    background-color: #131C35
    width: 56px
    height: 56px
    border-radius: 28px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer

.profile-ref-system__mobile-step
    display: flex
    flex: 1
    flex-direction: column
    justify-content: space-between

.profile-ref-system__mobile-step-content
    display: flex
    flex: 1
    flex-direction: column
    justify-content: space-evenly

.profile-ref-system__mobile-step-invite-personalisation
    font-weight: bold
    font-size: 24px
    line-height: 25px
    color: $color-white
    text-align: center

.profile-ref-system__mobile-step-invite-personalisation-desc
    margin-top: 12px
    font-size: 18px
    line-height: 19px
    color: $color-white
    text-align: center

.profile-ref-system__mobile-step-title
    font-weight: bold
    font-size: 24px
    line-height: 25px
    color: $color-white
    text-align: center

.profile-ref-system__form-invite-input-wrapper--step
    width: 100%
    .profile-ref-system__form-invite-input
        width: 100%

.profile-ref-system__form-invite-input-description
    color: #B9BEEB
    text-align: center
    font-size: 14px
    line-height: 16px
    width: 300px
    margin: 0 auto
    margin-top: 4px

.profile-ref-system__mobile-bottom-button
    margin-top: 12px
    height: 48px
    cursor: pointer
    border-radius: 4px
    text-transform: uppercase
    display: flex
    justify-content: center
    align-items: center
    font-size: 14px

.profile-ref-system__mobile-bottom-button--skip
    color: $touchable

.profile-ref-system__mobile-bottom-button--placeholder
    visibility: hidden
    pointer-events: none

.profile-ref-system__mobile-bottom-button--continue
    background-color: $touchable
    color: $color-white
    width: 100%
    border: 0

.profile-ref-system__mobile-bottom-button--disabled
    opacity: 0.5
    pointer-events: none

.profile-ref-system__mobile-bottom-button--secondary
    background-color: #313A53
    color: #E4EAFD

.profile-ref-system__mobile-bottom-button-icon
    margin-right: 15px

.profile-ref-system__mobile-step-final
    text-align: center
    font-weight: bold
    font-size: 18px
    line-height: 25px
    color: $color-white
    position: absolute
    top: 0
    left: 0
    right: 0
    padding: 0 80px
    margin-top: 30px
    display: flex
    height: 56px
    align-items: center
    justify-content: center

.profile-ref-system__mobile-step-cards
    overflow: hidden
    position: relative
    min-height: 360px
    .pagination__arrow
        display: block
        background-image: url("/images/profile/ref-system/slider-arrow-left.svg")
        background-position: center
        background-repeat: no-repeat
        background-color: #1D9CF9
        width: 48px
        height: 48px
        border: 0
        border-radius: 4px
        z-index: 2
        top: 50%
        margin-top: -24px
        box-shadow: none
    .pagination__arrow_left
        left: 0
    .pagination__arrow_right
        right: 0
        transform: rotate(180deg)
    .pagination__arrow_icon
        display: none
    .slick-slider
        height: 361px
        flex: 1
        display: flex !important
    .slick-list
        flex: 1
    .slick-track
        display: flex !important
        height: inherit !important
        flex: 1
        right: 0
    .slick-slide
        height: inherit !important
        display: flex
        justify-content: center
        float: none
    .card-popup-container
        position: relative
        top: 0
    .card-popup
        border-radius: 14px
        box-shadow: none
    .card-popup_close,
    .card-popup-jp_btn
        pointer-events: none

.profile-ref-system__mobile-step-card
    transform-origin: top center
    height: 568px
    transform: scale(0.635)
    outline: none
    will-change: contents

.mobile
    @media screen and (min-height: 700px)
        .profile-ref-system__mobile-step-card
            transform: scale(0.75)
        .profile-ref-system__mobile-step-cards .slick-slider
            height: 426px

    @media screen and (min-height: 800px)
        .profile-ref-system__mobile-step-card
            transform: scale(0.9)
        .profile-ref-system__mobile-step-cards .slick-slider
            height: 511px

    @media screen and (min-height: 900px)
        .profile-ref-system__mobile-step-card
            transform: none
        .profile-ref-system__mobile-step-cards .slick-slider
            height: 568px

// HACK: for iOS browsers
@supports (-webkit-touch-callout: none)
    .mobile
        .profile-ref-system__mobile-step
            justify-content: flex-start
            .profile-ref-system__mobile-step-middle
                margin-top: 24px
            .profile-ref-system__mobile-step-content
                flex: 0 !important
                justify-content: flex-start
        .profile-ref-system__form-invite
            justify-content: flex-start
            .profile-ref-system__form-bottom
                margin-top: 0
            .profile-ref-system__form-invite-title,
            .profile-ref-system__form-invite-desc,
            .profile-ref-system__form-phone-with-code--confirm,
            .profile-ref-system__form-bottom-button-resend,
            .profile-ref-system__form-bottom-button-change-phone,
            .profile-ref-system__form-invite-btn--confirm-phone
                margin-top: 6px
            .profile-ref-system__form-content
                flex: 0 !important
                justify-content: flex-start

.profile-ref-system__preload-images
    width: 0
    height: 0
    background: url(/images/bonuses/first-card.jpg), url(/images/bonuses/second-card.jpg), url(/images/bonuses/third-card.jpg)

.profile-ref-system__modal--ref-invite-form
    .form-line--confirmation-code-method
        margin-bottom: 30px
        .form-label
            font-size: 14px
            text-align: center
        .radio-group
            justify-content: center
        @include mobile
            .form-label
                text-align: left
            .radio-group span
                display: none
            .radio-item
                margin-top: 8px
