@import "../../swatches"
@import "../../mixin"

//
// Profile Edit
// ------------------------------
.profile-edit
  .profile-section-title
    position: absolute
    top: $profile-group-padding
    @include text-ellipsis
  .profile-group-form
    padding: 3px $profile-group-padding $profile-group-padding
    @include tablet
      padding: $profile-group-padding

.profile-edit-form-confirm span
  margin: 0
  font-size: inherit

.profile-edit-submit-form-line
  text-align: center

.profile-edit-form-disclaimer
  p
    margin: 0
    &:last-child
      margin-bottom: 8px
  span
    margin: 0
    font-size: 14px
  b
    font-weight: 600
    word-break: break-all

.modal-form .profile-edit-submit-form-line
  .error
    text-align: center
  &.form-line
    margin-top: 0
    float: right
    .btn
      float: right
      margin: 20px 0 0 12px

.resend-confirm-code
  cursor: pointer

.profile-edit-link-button
  margin-top: 8px
  cursor: pointer
  display: inline-block
  font-size: 14px

.resend-confirm-code-disabled
  opacity: 0.5
  cursor: default
// endregion
