@import "../../swatches"
@import "../../mixin"

.site-middle .error.profile-documents__error
  padding-bottom: 0

.profile-documents__top
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  @include mobile
    flex-direction: column
    align-items: flex-start
    padding-bottom: 15px

h1.profile-documents__title
  padding-left: 12px
  color: #EDF1FA
  font-size: 16px
  font-weight: bold
  @include tablet
    font-size: 20px

.profile-documents__support
  text-align: right
  text-decoration: underline!important
  @include mobile
    padding-left: 12px

.profile-documents-tabs
  display: flex
  justify-content: center
  border-bottom: 1px solid rgba(255, 255, 255, 0.1)
  @include desktop
    justify-content: flex-start
  .profile-documents-tab
    color: $light-one
    font-size: 17px
    text-align: center
    padding-bottom: 12px
    padding-left: 4px
    padding-right: 4px
    // cursor: pointer
    &.active
      border-bottom: 2px solid #FFFFFF

.documents-tab-content-not-found
  padding-top: 8px
  @include desktop
    width: 100%
  .documents-tab-content-not-found-text
    // text-align: center
    color: $yellow
    font-size: 17px
    // font-weight: bold

.profile-documents-upload-content
  padding: 0 16px
  padding-bottom: 70px
  position: relative
  @include desktop
    max-width: 661px
  .profile-documents-upload-container
    background: $dark-three
    border-radius: 24px
    padding: 24px 32px
    @include tablet-max
      padding: 24px 16px 20px
    .profile-documents__title
      margin-top: 0
      margin-bottom: 8px
      font-size: 17px
      font-weight: 400
  .success-confirm
    padding-top: 10vh
    @include desktop
      padding-top: 10px
  .bottom-buttons-container
    &.send
      position: absolute
      @include desktop
        position: relative
        width: 100%
        .bottom-button
          width: 100%
          &:hover
            background: $accent-two
    &.success
      display: flex
      flex-direction: column
      padding: 0 16px
      @include desktop
        padding: 0
      .bottom-button
        margin: 5px 0

  h1
    padding-left: 0

.profile-documents-upload-description
  font-size: 17px
  color: $light-one
  b
    color: $light-two

.profile-documents-upload
  margin: 16px 0 0

.documents-tab-content
  background: $dark-three
  border-radius: 24px
  padding: 24px 16px 20px
  margin-bottom: 24px
  @include desktop
    display: flex
    flex-wrap: wrap
    padding: 24px 32px
    margin-top: 16px
  &.documents-tab-content-element-container
    padding: 0
    margin-bottom: 0
    @include tablet-max
      margin-top: 20px
  &.history
    .documents-tab-content-element
      @include desktop
        width: 100%
  .documents-tab-content-element
    padding: 8px 20px 8px 16px
    background: $accent-one
    border-radius: 12px
    margin-bottom: 16px
    display: flex
    justify-content: space-between
    align-items: center
    transition: .1s linear
    @include tablet-max
      &:last-child
        margin-bottom: 0
    @include desktop
      width: 290px
      padding: 25px
      &:hover
        background: $accent-two
      &:nth-of-type(2n+1)
        margin-right: 16px
    .left-block
      display: flex
      align-items: center
      @include tablet-max
        height: 66px
      .title
        margin-left: 5px
        font-size: 14px
        color: #EDF1FA
    .right-block
      display: flex
      .warn-sign-icon
        margin-right: 5px
  .profile-documents-tab
    color: $light-one
    font-size: 17px

.profile-documents-block-type-icon
  width: 100%
  background-repeat: no-repeat
  background-position: top center
  height: 228px
  background-size: 100% 100%
  background-color: $dark-two
  border-radius: 16px
  &.type-1
    background-image: url('/images/icons/profile-docs/big/1.svg')
  &.type-2
    background-image: url('/images/icons/profile-docs/big/2.svg')
  &.type-3
    background-image: url('/images/icons/profile-docs/big/3.svg')
  &.type-4
    background-image: url('/images/icons/profile-docs/big/4.svg')
  &.type-5
    background-image: url('/images/icons/profile-docs/big/5.svg')
  &.type-6
    background-image: url('/images/icons/profile-docs/big/6.svg')

.file-block
  display: flex
  margin: 15px 0
  .file-name
    background: $dark-black
    border-radius: 12px
    color: $light-one
    font-size: 17px
    padding: 10px 15px
    flex: 1
    word-break: break-all
    border: 1px solid $dark-six
  .file-remove-btn
    background: $dark-black
    border-radius: 12px
    // text-transform: uppercase
    color: $dark-six
    border: 1px solid $dark-six
    font-size: 14px
    margin-left: 8px
    text-align: center
    align-items: center
    display: flex
    font-weight: bold
    padding: 10px 15px
    cursor: pointer
    transition: .1s linear
    &:hover
      color: $light-one
      border-color: $light-one
.profile-documents-btn-container
  display: flex
  justify-content: flex-end

.select-file-btn
  width: 160px
  background: $accent-one
  border-radius: 12px
  // text-transform: uppercase
  color: $color-white
  font-size: 17px
  text-align: center
  justify-content: center
  align-items: center
  display: flex
  // font-weight: bold
  padding: 10px 25px
  margin-top: 24px
  cursor: pointer
  white-space: nowrap
  overflow: hidden
  text-overflow: clip
  &:hover
    background: $accent-two

.profile-documents-warning
  border-radius: 6px
  background: $gr-white
  display: flex
  flex-direction: row
  &__left
    display: flex
    width: 38px
    background: $gr-vertical
    justify-content: center
    align-items: center
    align-self: stretch
    border-radius: 6px 0 0 6px
  &__content
    flex: 1
    color: $color-black
    padding: 8px 12px 8px 18px
    line-height: 1.2
    font-size: 11px
    @include tablet
      font-size: 14px

.profile-documents
  a.profile-documents-warning
    cursor: default
    margin-bottom: 12px

.profile-documents-blocks__top
  height: auto
  min-height: 10px
  overflow: visible
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  background-color: $blue2
  border-radius: 6px 6px 0 0
  padding: 6px 12px
  @include tablet
    background-color: $blue2
    border-radius: 6px 6px 0 0
    padding: 12px

h3.profile-documents-blocks__title
  margin: 0
  color: $yellow
  font-size: 14px
  font-weight: 400
  @include tablet
    font-size: 20px
    padding: 0

.profile-documents-block__file-input
  display: none

.profile-documents-block__restrictions
  line-height: 1.2
  font-size: 11px
  padding: 18px 0
  @include tablet
    font-size: 14px
    color: $grey2

.profile-documents-block__error
  border-radius: 6px
  background: $gr-white
  display: flex
  flex-direction: row
  margin-top: 6px
  &-left
    display: flex
    width: 38px
    background: $red
    justify-content: center
    align-items: center
    align-self: stretch
    border-radius: 6px 0 0 6px
  &-content
    flex: 1
    color: $color-black
    padding: 8px 12px 8px 18px
    line-height: 1.2
    font-size: 11px
    overflow-wrap: break-word
    overflow: hidden
    @include tablet
      font-size: 14px

.profile-documents-history__items
  width: 100%
  @include desktop
    background: #262F50
    border-radius: 12px
    padding: 16px

.profile-documents-history__item
  display: flex
  flex: 1
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: 16px 0
  padding-right: 12px
  color: #EDF1FA
  border-radius: 8px
  overflow: hidden
  border-bottom: 1px solid rgba(255, 255, 255, 0.1)
  &:last-of-type
    border-bottom: none

.profile-documents-history__document-date
  font-size: 11px
  color: rgba(237, 241, 250, 0.7)
  @include tablet
    font-size: 14px

a.profile-documents-history__document-name
  color: #EDF1FA !important
  font-weight: bold
  font-size: 14px
  &:hover
    color: #849bd0!important

.profile-documents-history__item-left
  display: flex
  flex-direction: column
  flex: 2

.profile-documents-history__item-right
  display: flex
  flex-direction: row
  align-items: center
  flex: 1
  justify-content: flex-end

.profile-documents-history__status
  color: $purple
  font-weight: 600
  font-size: 14px
  text-align: right
  &.status-1
    color: #FEAE06
  &.status-2
    color: #1EC260
  &.status-3
    color: #EC1B5A

.profile-documents-history__comment
  color: #EDF1FA
  font-size: 12px
  margin: 8px 0

.profile-document-history__upload-again-btn
  background: #1D9CF9
  border-radius: 4px
  color: #FFFFFF
  text-transform: uppercase
  font-size: 12px
  font-weight: bold
  padding: 8px 12px
  text-align: center
  width: max-content

.profile-documents-history__document-remove
  cursor: pointer
  width: 16px
  height: 16px
  min-width: 16px
  margin-left: 10px
  background-size: contain
  background-repeat: no-repeat
  filter: invert(100%)
  @include tablet
    margin-left: 30px

.profile-documents-block__clr
  height: 12px
