
mixin bonuses_info_block(content)
  if content.appSettings.billing.showBonusInfoBlock && content.profileBonuses.uniqueActiveBonusesWithoutTournaments && content.profileBonuses.uniqueActiveBonusesWithoutTournaments.length
    .payways-bonuses-info-block
      .main=content.t('refill-bonuses-warning')
      .bonuses-list
        each bonus in content.profileBonuses.uniqueActiveBonusesWithoutTournaments
          .bonus-item=`«${bonus.name}»`
      .bottom
        span(dangerouslySetInnerHTML={__html: content.t('refill-bonuses-bottom-warning', {"personal-account": `<a href="${content.l('/profile/bonuses')}">${content.t('refill-bonuses-warning-profile')}</a>`})})
        span.support(className=content.chat.active ? 'link' : '' onClick=content.chat.active ? content.site.showChat : undefined)=content.t('refill-bonuses-warning-support')