include ./payment_warning
include ../../ui/progress-bar
include ./payway-field

mixin fields_list(content, store)
    if store.selectedPayway.getDelayed()
        .multi-payways-disclaimer=content.t('disclaimer-delayed-payway')
    .payway-fields-list
        if store.selectedPayway.isCurrencySelectShown
            div(className=store.selectedPayway.isMultiStepAndNotTheFirst ? "payway-field--hidden" : "")
                if store.useTiles
                    +payway_currency_list(content, store, store.selectedPayway.findRelatedGroup(store))
                else
                    +payway_currency_field(content, store, store.selectedPayway.findRelatedGroup(store))
        +payway_plastic_card_field(content, store, store.selectedPayway.findRelatedGroup(store))

        if store.selectedPayway.warning
            +payment_warning(store.selectedPayway.warning)

        if store.activeBonusWarning
            .bonus-warning=store.activeBonusWarning

        each field in store.selectedPayway.fields
            +payway_field(field, content, store)

    if store.selectedPayway.isMultiStepAndFinal
        if store.paywayForm.royaltiesAmountStr
            +royalties_label(content, store.paywayForm.royaltiesAmountStr)
        +amount_royalty_info(content, store)

    if store.paywayForm.apiError
        div.form-error
            span=store.paywayForm.apiError
            if store.paywayForm.apiErrorLinkType === content.enums.apiErrorLinkType.BONUSES
              a.support-link(href=content.l('/bonuses'))=content.t('ui-bonuses')
            else
              a.support-link(onClick=content.site.supportBtnClick)=content.t('ui-support')

    if store.paywayForm.bonusError
          .uplayed-bonuses-list
              each bonus in content.profileBonuses.activeBonuses
                  .unplayed-bonus
                    .name=bonus.name
                    if bonus.allowedWithdrawal
                        .description=content.t('allowed-withdrawal-bonus', {allowedWithdrawal: bonus.allowedWithdrawal})
                    if bonus.wager && bonus.wager.initialValue
                        .wager-progress
                            +progress_bar(
                                content,
                                content.t('ui-wagered'),
                                bonus.wager.progressPercent,
                                bonus.wager.wageredValue,
                                bonus.wager.initialValue,
                                bonus.wager.currencyCode
                            )
              .bonuses-button-container
                a(href=content.l('/profile/bonuses'))
                  button.btn.btn-pr= content.t('ui-my-bonuses')
