mixin P2PappsButton(content, paywayName)
    .open-bank-app-container
        a.btn.btn-secondary(
          target="_blank"
          external="true"
          href=paywayName === 'BCP' ?
              (content.mobileOSType === 'AndroidOS' ? 'https://play.google.com/store/apps/details?id=com.bcp.bank.bcp' : 'https://apps.apple.com/us/app/banca-m%C3%B3vil-bcp/id777961079')
              : (content.mobileOSType === 'AndroidOS' ? 'https://play.google.com/store/apps/details?id=com.bbva.nxt_peru' : 'https://apps.apple.com/us/app/bbva-per%C3%BA/id569453542')
        )=content.t('ui-open-bank-app')
