mixin payway_instruction(content, store)
    if store.selectedPayway.instructions
        .payway__instruction(dangerouslySetInnerHTML={__html: store.selectedPayway.instructions})
    if "type" in store.selectedPayway.params && "number" in store.selectedPayway.params && (store.selectedPayway.params.type === "card" ||store.selectedPayway.params.type === "phone" || store.selectedPayway.params.type === "BBVA" || store.selectedPayway.params.type === "BCP") && !!store.selectedPayway.params.number
        .payway__wg-param
            .payway__wg-param-key=content.t(store.selectedPayway.params.type === "card" || store.selectedPayway.params.type === "BBVA" || store.selectedPayway.params.type === "BCP" ? "card_number" : "ui-phone-number") + ":"
            .payway__wg-param-value-container
                .payway__wg-param-value=store.selectedPayway.params.number
                if store.selectedPayway.params.type === "BBVA" || store.selectedPayway.params.type === "BCP"
                    .payway__wg-attention-param-copy(onClick=()=>store.selectedPayway.pressCopyButton("card-copy-button", store.selectedPayway.params.number))=content.t(store.selectedPayway.copyButtons["card-copy-button"] ? "ui-copied" : "ui-copy")
    if "type" in store.selectedPayway.params && "cashTag" in store.selectedPayway.params && store.selectedPayway.params.type === "cashTag" && !!store.selectedPayway.params.cashTag
        .payway__instruction.payway__instruction--ca(dangerouslySetInnerHTML={__html: content.t("ui-cashtag-instruction-html")})
        .payway__wg-attention-param
            .payway__wg-param-value=store.selectedPayway.params.cashTag
            .payway__wg-attention-param-copy(onClick=()=>store.selectedPayway.pressCopyButton("cashtag-comment-button", store.selectedPayway.params.cashTag))=content.t(store.selectedPayway.copyButtons["cashtag-comment-button"] ? "ui-cashtag-comment-copied" : "ui-copy-cashtag-comment")