mixin payways_list(content, paywaysCategories)
    .payways-list
        each category in paywaysCategories
            if paywaysCategories.length > 1
                .payways-list-category-title=content.t(category.name)
            .payways-list-category-items(className=category.payways.badgeTag ? 'has-badges' : '')
                each payway in category.payways
                    .payways-list-item-container
                        a.payways-list-item(href=payway.getDefaultPaywayUrl() className=payway.className)
                            .payways-list-item-img
                                img.payways-list-item-img-value(src=payway.getLogo() alt=content.t(payway.getGroupName()))
                            .payways-list-item-name
                                .payways-list-item-name-value(dangerouslySetInnerHTML={__html: content.t(payway.getGroupName())})
                            if payway.feeTitle
                                .payways-list-item-commission
                                    .payways-list-item-commission-value=content.t('ui-commission') + ' ' + payway.feeTitle
                            if payway.badgeTag
                                .payways-list-item-badge(className=`payways-list-item-${payway.badgeTag}`)=content.t(`ui-billing-${payway.badgeTag}`)