include ../controls/buttons
include ../controls/amount
include ../controls/currency
include ../controls/phone
include ../controls/account
include ../controls/email
include ../controls/crypto-address
include ../controls/unified_field
include ../controls/plactic-card
include ../controls/select
include ../controls/card-number
include ../controls/card-expiration-month-year
include ../controls/card-cvv
include ../controls/payway-currency-list
include ../controls/image-upload-field
include ../controls/boolean
include ../controls/crypto-address-without-qr

mixin payway_field(field, content, store)
    if field.type === 'phone'
        +payway_phone_field(content, store, field)
    else if field.type === content.enums.paywayFieldType.EMAIL
        +payway_email_field(content, store, field)
    else if field.type === 'amount'
        +payway_amount_field(content, store, field)
    else if field.type === 'account'
        +payway_account_field(content, store, field)
    else if field.type === 'crypto_address'
        +payway_crypto_address_field(content, store, field)
    else if field.type === 'select'
        +payway_select_field(content, store, field)
    else if field.type === 'mobile_detect'
        .mobile-detect
    else if field.type === 'hidden'
        .hidden
    else if field.type === content.enums.paywayFieldType.CARD_NUMBER
        +payway_card_number_field(content, store, field)
    else if field.type === 'image_upload'
        +image_upload_field(content, store, field)
    else if field.type === content.enums.paywayFieldType.CARD_EXPIRATION_MONTH_YEAR
        +payway_card_expiration_month_year(content, store, field)
    else if field.type === content.enums.paywayFieldType.CARD_CVV
        +payway_card_cvv(content, store, field)
    else if field.type === content.enums.paywayFieldType.BOOLEAN
        +payway_boolean_field(content, store, field)
    else if field.type === content.enums.paywayFieldType.CRYPTO_ADDRESS_WITHOUT_QR
        +payway_crypto_address_without_qr_field(content, store, field)
    else
        +payway_unified_field(content, store, field)