include ../../components/bonuses/promo-code-new-form

mixin refill_promo_code(content)
    if content.refillStore.promoCodeForm.isEnabled
        form.modal-form.promo-code-form
            .form-line
                if content.refillStore.promoCodeForm.isNewForm
                    +promo_code_new_form(content)
                else
                    div.promo-title=content.t('ui-promo-code')
                    label.form-label=content.t('page-refill-promo-info')
                    .form-field.inline
                        span.input-wrap
                            input(
                                type='text'
                                ref=content.makeRef(content.refillStore.promoCodeForm.INPUT_ID)
                                placeholder=content.t('ui-placeholder-promo-code')
                                disabled=content.refillStore.promoCodeForm.isLoading
                                value=content.refillStore.promoCodeForm.value
                                onChange=content.refillStore.promoCodeForm.onValueChange
                            )
                            //- span.currency-label.currency-label-uppercase= content.t('ui-promo-code')
                        .submit-line
                            button.btn-pr(onClick=content.refillStore.onActivatePromoCodeClick disabled=content.refillStore.promoCodeForm.isLoading class=content.refillStore.promoCodeForm.isLoading ? '' : 'btn-secondary')= content.t('ui-send')
        if content.refillStore.promoCodeForm.error
            div.form-error= content.refillStore.promoCodeForm.error
        else if content.refillStore.promoCodeForm.success
            div.form-success= content.t('page-refill-promo-success')