include ../controls/file-upload

mixin refill_history(content)
    div.promo-code-form
        div.promo-title=content.t('ui-profile-documents-history')
        h5= content.t("page-refill-last-operations")
        if content.billingHistory.refills && content.billingHistory.refills.length
            each refill in content.billingHistory.refills
                ul.payments-results
                    li.flex-container
                        .left-side.flex-container
                            .date-pay= content.format(refill.stamp, "dd/MM/yy HH:mm:ss")
                            .amount-pay= refill.formattedAmount
                            if refill.credentials
                                .card-number= refill.credentials
                        .right-side
                            .status= refill.statusText
                            if refill.isCashierCommentShown
                                .payment__cashier-comment
                                    .payment__cashier-comment-reason=content.t("ui-reason") + ":"
                                    .payment__cashier-comment-text=refill.refill.comment
                    if !!refill.refill && !!refill.refill.attaches && refill.refill.attaches.length > 0 && !refill.isDetailsShown
                        .payment__show-details(onClick=refill.showDetails)=content.t("ui-details")
                    if refill.isDetailsShown
                        .payment__details
                            if refill.attachmentsByCashier.length > 0
                                .payment__attachments-title=content.t("cashier-attachments")
                                .payment__attachments-container
                                    each attachment in refill.attachmentsByCashier
                                        a(key=attachment.url href=attachment.url target="_blank" external="true")
                                            img.payment__attachment(src=attachment.url)
                            if refill.attachmentsByPlayer.length > 0
                                .payment__attachments-title=content.t("your-attachments")
                                .payment__attachments-container
                                    each attachment in refill.attachmentsByPlayer
                                        a(key=attachment.url href=attachment.url target="_blank" external="true")
                                            img.payment__attachment(src=attachment.url)
                            if refill.isAdditionalAttachmentsRequired
                                .payment__file-upload
                                    +payway_file_upload(content, refill.fileUpload)
                                    if refill.fileUpload.preparedFiles.length > 0
                                        button.btn.btn-pr(onClick=refill.uploadFiles className=refill.isFilesUploading ? "btn--disabled" : "" disabled=refill.isFilesUploading)=content.t("ui-send")
        else
            div.text-center= content.t("page-refill-last-operations-empty")