mixin tiles_list(content, tilesGroups)
    .payways-list
        each group in tilesGroups
            if tilesGroups.length > 1
                .payways-list-category-title=content.t(group.title)
            .payways-list-category-items(className=group.hasBadgeTags ? 'has-badges' : '')
                each tile in group.tiles
                    .payways-list-item-container
                        a.payways-list-item(href=tile.paywayUrl)
                            .payways-list-item-img
                                img.payways-list-item-img-value(src=tile.icon alt=content.t(tile.title))
                            .payways-list-item-name
                                .payways-list-item-name-value(dangerouslySetInnerHTML={__html: content.t(tile.title)})
                            if tile.fee
                                .payways-list-item-commission
                                    .payways-list-item-commission-value=content.t('ui-commission') + ' ' + tile.fee
                            if tile.badgeTag
                                .payways-list-item-badge(className=`payways-list-item-${tile.badgeTag}`)=content.t(`ui-billing-${tile.badgeTag}`)