mixin withdrawals_history(content)
    div.promo-code-form
        div.promo-title=content.t('ui-profile-documents-history')
        h5= content.t("page-withdrawal-last-operations")
        ul.payments-results
            if !content.billingHistory.withdrawals.length
                li.flex-container
                    div= content.t("page-withdrawal-last-operations-empty")
            else
                each withdrawal in content.billingHistory.withdrawals
                    li.flex-container
                        .left-side.flex-container
                            .date-pay= content.format(withdrawal.stamp, "dd/MM/yy HH:mm:ss")
                            .flex-container.column
                                .amount-pay= withdrawal.formattedAmount
                                if withdrawal.royalty
                                    .card-number= content.t('ui-royalty-amount', {amount: withdrawal.royalty})
                                if withdrawal.withdrawal
                                    if withdrawal.withdrawal.payway
                                        if withdrawal.withdrawal.credentials
                                            .card-number(dangerouslySetInnerHTML={__html: withdrawal.cardNumberWithCredentials})
                                        else
                                            .card-number= content.t('ui-withdrawal-payway', withdrawal.withdrawal)
                                    else
                                        .card-number= content.t('ui-withdrawal-by-card-info', withdrawal.withdrawal)

                        .right-side
                            .status= withdrawal.statusText
                            if withdrawal.isCashierCommentShown
                                .payment__cashier-comment
                                    .payment__cashier-comment-reason=content.t("ui-reason") + ":"
                                    .payment__cashier-comment-text=withdrawal.withdrawal.comment

                        if withdrawal.revokeAvailable
                            .action-col
                                button.btn-pr.btn-small.btn-pr-auto.btn-cancel-withdrawal(
                                    onClick=withdrawal.showRevokeConfirmation
                                    disabled=withdrawal.isLoading
                                )= content.t('ui-cancel-withdrawal')


                    if !!withdrawal.withdrawal && !!withdrawal.withdrawal.attaches && withdrawal.withdrawal.attaches.length > 0 && !withdrawal.isDetailsShown
                        .payment__show-details(onClick=withdrawal.showDetails)=content.t("ui-details")
                    if withdrawal.isDetailsShown
                        .payment__details
                            if withdrawal.attachmentsByCashier.length > 0
                                .payment__attachments-title=content.t("cashier-attachments")
                                .payment__attachments-container
                                    each attachment in withdrawal.attachmentsByCashier
                                        a(key=attachment.url href=attachment.url target="_blank" external="true")
                                            img.payment__attachment(src=attachment.url)
                            if withdrawal.attachmentsByPlayer.length > 0
                                .payment__attachments-title=content.t("your-attachments")
                                .payment__attachments-container
                                    each attachment in withdrawal.attachmentsByPlayer
                                        a(key=attachment.url href=attachment.url target="_blank" external="true")
                                            img.payment__attachment(src=attachment.url)
