@import "./theme"
@import "./item-page"
@import "./list-page"

.tournaments-main-page-block-vacation,
.tournaments-tournament-page-vacation
    .flipdown.flipdown__theme-wl .rotor, 
    .flipdown.flipdown__theme-wl .rotor-top, 
    .flipdown.flipdown__theme-wl .rotor-leaf-front,
    .flipdown.flipdown__theme-wl .rotor-bottom, 
    .flipdown.flipdown__theme-wl .rotor-leaf-rear
        color: #427e00
        background: #fff
        font-weight: 400
    .flipdown.flipdown__theme-wl .rotor::after
        border-top: 1px solid rgba(0, 0, 0, 0.2)
    .game-item__title
        background: #00adb0

.tournaments-tournaments-list-page-vacation
    .flipdown.flipdown__theme-wl .rotor,
    .flipdown.flipdown__theme-wl .rotor-top,
    .flipdown.flipdown__theme-wl .rotor-leaf-front,
    .flipdown.flipdown__theme-wl .rotor-bottom,
    .flipdown.flipdown__theme-wl .rotor-leaf-rear
        color: #fff
        background: #009294
        font-weight: 400
    .flipdown.flipdown__theme-wl .rotor::after
        border-top: 1px solid rgba(0, 0, 0, 0.2)
    .game-item__title
        background: #00adb0

    .flipdown.flipdown__theme-wl .rotor
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5), inset 0 1px 0 0 rgba(140, 159, 181, 0.35)
