@import "../../../swatches.sass"
@import "../../../mixin.sass"
    
.tournaments-tournament-page-vacation
    overflow: hidden
    article
        position: relative
    @include mobile
        header img
            max-width: 290px
    
.tournaments-page-content .tournaments-tournament-page-vacation
    .leaders-header
        background-color: #2b0701
        margin-top: 0
        margin-bottom: 0
        padding-top: 30px
    .leaders
        background-color: #2b0701

.tournaments-page-content .tournaments-tournament-page-vacation h1
    color: #fff
    position: relative
    text-shadow: 0 4px 1px #007678
    font-size: 48px

.tournaments-page-content .tournaments-tournament-page-vacation .flipdown .rotor-group-heading
    opacity: 1
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-vacation h2.tournament-has-ended
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)

.tournaments-page-content .tournaments-tournament-page-vacation .tournament-article-body h2
    margin: 0
    padding: 30px 0

.tournaments-page-content .tournaments-tournament-page-vacation .tournament-article-body .tournament-article-leaders h2
    padding-bottom: 0

.tournaments-page-content .tournaments-tournament-page-vacation .tournament-article-body .tournament-article-games h2
    color: #000
    background: #f1d9be

.tournaments-page-content .tournaments-tournament-page-vacation .tournament-article-body .tournament-article-leaders--show + .tournament-article-games h2
    padding-top: 0

.tournaments-page-content .tournaments-tournament-page-vacation .tournament-article-body .tournament-article-rules h2
    color: #fff
    padding-bottom: 15px

.tournaments-page-content .tournaments-tournament-page-vacation h2.tournament-ends
    color: #fff
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
    @include tablet
        margin-top: 20px
        margin-bottom: 25px

.tournaments-tournament-page-vacation .tournament-section-banner
    figure
        left: 0
        bottom: -18px
        @include mobile
            bottom: -12px
            left: -20px
        img
            height: 100%
