@import "../../../swatches.sass"
@import "../../../mixin.sass"

.tournaments-tournaments-list-page-vacation.tournaments-list-active-item
    border: none
    .card-item
        position: relative
        z-index: 10
    > footer
        background: #009294
        position: relative

.tournaments-list-page .tournaments-tournaments-list-page-vacation .card-body
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27), inset 0 1px 0 0 rgba(255, 255, 255, 0.16)
    background: no-repeat url(/images/tournaments/vacation/map.png) 0 0 #eaebe5
    background-size: cover

.tournaments-tournaments-list-page-vacation .tournaments-list-item-icon
    border-right: 7px solid #e60015
    @include tablet
        border-right-width: 15px

.tournaments-tournaments-list-page-vacation .game-item .game-item__img-container
    border-color: #68b612

.tournaments-page-content.tournaments-list-page .tournaments-tournaments-list-page-vacation
    .card-item header.accent
        color: #d70c17
        text-transform: uppercase
        margin-top: 10px
        margin-bottom: 0
        @include tablet
            font-size: 32px

    .card-item .primary
        color: #000

    .countdown-container > header
        color: #000

    .flipdown.flipdown__theme-wl .rotor-group-heading
        color: #333

    .card-item .card-body
        text-shadow: none

    .game-item
        @include tablet
            padding: 4px

    .game-item__title
        background: #00adb0
        font-size: 8px

    .game-item__img-container
        border-radius: 4px 4px 0 0

    .game-item__title
        border-radius: 0 0 4px 4px
        height: 21px

.tournaments-list-page .tournaments-tournaments-list-page-vacation > footer
    border-bottom-left-radius: 4px
    border-bottom-right-radius: 4px

.tournaments-list-page-upcoming .tournaments-tournaments-list-page-vacation .card-item .secondary
    color: #000
