@import "../../../mixin.sass"
@import "../mixin.sass"

.tournaments-page-content .tournaments-tournament-page-vacation .tournament-article
    background: transparent

.tournaments-main-page-block-vacation
    border: 1px solid #840010

.tournaments-page-content .tournaments-tournament-page-vacation
    background: url(/images/tournaments/vacation/vacation-bg.png) center top / auto 400px no-repeat
    background-color: #11c0af
    @include tablet
        background: url(/images/tournaments/vacation/vacation-bg.png) center top / auto 600px no-repeat
        background-color: #11c0af
    @include desktop
        background: url(/images/tournaments/vacation/palm-leaf.png) left top/ 435px auto no-repeat, url(/images/tournaments/vacation/vacation-bg.png) center top / auto 600px no-repeat
        background-color: #11c0af
    .tournament-article
        padding-top: 0
        position: relative

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-vacation article .tournament-section-banner .tournament-section-banner-icon--second
    display: none
    @include desktop
        display: block
        position: absolute
        right: -11%
        left: auto
        bottom: -18%
        z-index: 10
        height: 420px

// region ---- main page, body
.tournaments-tournament-page-vacation .tournament-article-body
    border-bottom-left-radius: 8px
    border-bottom-right-radius: 8px
    @include tablet
        margin: 0 25px

// ---- endregion

// region ---- main page, leaders
.tournaments-tournament-page-vacation .tournament-article-leaders
    position: relative
    background-color: #00adb0

.tournaments-tournament-page-vacation .tournament-article-leaders.tournament-article-leaders--show
    min-height: 325px
    text-shadow: none
    padding-bottom: 100px
    background: url(/images/tournaments/vacation/beach.png) center 105% / 100% no-repeat
    background-color: #00adb0
    @include mobile-xs
        min-height: 250px
        padding-bottom: 70px
    @include tablet
        padding-bottom: 200px

.tournaments-tournament-page-vacation .tournament-article-leaders.tournament-article-leaders--show h2
    padding: 30px 0

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-vacation .leaders-header
    background: transparent
    color: #fff
    @include tablet
        font-size: 24px

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-vacation .leaders
    background: transparent

.tournaments-page-content .tournaments-tournament-page-vacation .leaders .leader-item
    @include desktop
        padding: 0 60px

.tournaments-page-content .tournaments-tournament-page-vacation .leader-item-content
    border-bottom: 1px solid rgba(255, 255, 255, 0.25)
    padding-bottom: 9px

.tournaments-tournament-page-vacation .tournament-article-leaders-icon
    display: none
    @include desktop
        width: 234px
        height: 243px
        display: block
        background: url(/images/tournaments/vacation/idol.png) center center no-repeat
        background-size: contain
        bottom: -20px
        position: absolute
        left: 0
        transform: translateX(-50%)
// ---- endregion

// region ---- main page, games

.tournaments-tournament-page-vacation .tournaments-page-content-games
    background: #f1d9be
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px
    padding-bottom: 30px
    @include desktop
        padding: 0 90px 60px 90px

.tournaments-tournament-page-vacation .tournament-article-games h2
    @include tablet
        margin-top: 45px
        margin-bottom: 30px

.tournaments-tournament-page-vacation .tournaments-page-content-games .game-item
    max-width: initial
    width: 50%

.tournaments-tournament-page-vacation .tournaments-page-content-games .game-item__img-container
    border: 1px solid #68b612
    border-bottom: transparent

.tournaments-tournament-page-vacation .tournaments-page-content-games .game-item__title
    @include desktop
        font-size: 15px

.tournaments-tournament-page-vacation .tournament-article-rules
    color: #000
    background: #11c0af

// ---- endregion

// region ---- main page, header
.tournaments-tournament-page-vacation .tournament-article-header
    position: relative
    z-index: 100
    @include tablet
        padding-top: 55px

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-vacation article .tournament-section-banner
    height: auto
    position: inherit

.tournaments-page-content .tournaments-tournament-page-vacation .tournament-article-header h2
    position: relative
    color: #d70c17

.tournaments-tournament-page-vacation .tournament-article-header .tournament-prize-pool
    color: #000
    position: relative

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-vacation article .tournament-section-banner header
    text-shadow: none
    color: #c0040e
    position: relative
    z-index: 20

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-vacation article .tournament-section-banner p
    color: #000
    font-weight: 600
    position: relative
    z-index: 20
    margin-bottom: 0

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-vacation article .tournament-section-banner figure
    left: -9%
    @include tablet
        bottom: -30px
        left: -11%

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-vacation article .tournament-section-banner figure img
    @include mobile
        max-height: 225px
        height: 44vw

    @include mobile-xs
        height: 50vw

// ---- endregion

.tournament-page .tournaments-tournament-page-vacation .tournament-days
    position: relative
    color: #fff
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
    @include tablet
        margin-top: 25px

.tournaments-tournaments-list-page-vacation
    background: transparentize(#341a00, 0.3)

    .card-body
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27), inset 0 1px 0 0 rgba(255, 255, 255, 0.16)

.tournaments-tournaments-list-page-vacation .leader-item-content
    padding-bottom: 9px

.tournaments-page-content.tournaments-list-page .tournaments-tournaments-list-page-vacation .tournaments-leaders header,
.tournaments-page-content.tournaments-list-page .tournaments-tournaments-list-page-vacation .tournaments-games-list header
    color: #fff

.tournaments-tournaments-list-page-vacation.tournaments-list-active-item
    border: 1px solid #840010

.tournaments-tournaments-list-page-vacation .tournaments-list-item-background-overlay
    @include tablet-max
        display: none
    @include asset('vacation','present-first', 103, 115)
        left: -60px
        bottom: -50px
    @include asset('vacation','present-second', 234, 222)
        top: -5px
        right: -33px

.tournaments-tournament-page-vacation .tournaments-background-overlay
    @include tablet-max
        display: none
    pointer-events: none
    position: absolute
    width: 100%
    height: 100%
    @include asset('vacation','girl', 709, 982)
        top: -40px
        right: -40%
        z-index: 0

.tournaments-main-page-block-vacation
    border: 1px solid #891E2E
    background-image: linear-gradient(to bottom, #840010, #4c1204)

.tournaments-main-page-block-vacation
    position: relative
    .background-layer
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
    .background-layer ~ *
        z-index: 2
        position: relative

.tournaments-main-page-block.tournaments-main-page-block-vacation
    background-image: linear-gradient(to bottom, #52cad4, #00bfff)
    border-color: #68b612
    .background-layer
        .item-left
            position: absolute
            background: url('/images/tournaments/vacation/main-block/item-left-xs.png') left / contain no-repeat
            width: 173px
            height: 135px
            left: 28%
            @include desktop
                left: 25%
                width: 177px
                background-position-y: 0
                background: url('/images/tournaments/vacation/main-block/item-left.png') top / contain no-repeat
            @include tablet-max
                left: 0
                bottom: 0
                height: 100%
            @include mobile
                width: 120px
            @include mobile-xs
                left: 0
        .item-right
            position: absolute
            background: url('/images/tournaments/vacation/main-block/item-right-xs.png') center / contain no-repeat
            height: 160px
            right: 24%
            width: 220px
            @include desktop
                right: 26%
                width: 143px
                background-position: center 0
                background-image: url('/images/tournaments/vacation/main-block/item-right.png')
            @include tablet-max
                right: -30px
                bottom: 0
                height: 125%
                width: 250px
                background-position-y: 30px
            @include mobile-xs
                right: -45px

.tournaments-list-active-item.tournaments-tournaments-list-page-vacation
    background: #009294

    footer
        position: relative
    .card-body
        background: #4c1204
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27), inset 0 1px 0 0 rgba(255, 255, 255, 0.16)

.tournaments-tournaments-list-page-vacation .tournaments-list-item-icon
    background: url('/images/tournaments/vacation/list-item-background.jpg?v1') center / cover no-repeat
    width: 300px
    height: auto
    @include tablet
        min-height: 188px
    @include mobile
        width: 180px
        height: auto
    @include mobile-xs
        width: 128px
        height: auto

// region ---- layout, header position right
.tournaments-tournament-page-vacation.tournament-layout--header-position-right .tournament-article-header-section
    margin-left: -5px
    margin-right: -5px
    background: url('/images/tournaments/vacation/man.png') 9% bottom / auto 100% no-repeat, url('/images/tournaments/vacation/ticket.png') center bottom / auto 330px no-repeat
    min-height: 390px
    display: flex
    align-items: center
    @include tablet
        margin-top: 20px

.tournaments-tournament-page-vacation.tournament-layout--header-position-right .tournament-article-header-section-content
    position: relative
    padding: 35px 20px
    top: 50px
    @include tablet
        top: 10px
        right: 18px

.tournaments-tournament-page-vacation.tournament-layout--header-position-right .tournament-article-header-section-content::before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: #fff
    border-radius: 25px
    transform: rotate(6deg)
    border-right: 35px solid #fa0000
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5)

.tournaments-tournament-page-vacation.tournament-layout--header-position-right .tournament-promo-text
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
    line-height: 1.3
    margin-left: auto
    margin-right: auto
    text-align: center
    @include tablet
        text-align: left
        margin-left: inherit
        margin-right: inherit
        margin-top: 85px
        padding-left: 15px
// ---- endregion

// region ---- finished tournament block, tournaments list
.tournaments-list-page .tournaments-list-fininshed-item.tournaments-tournaments-list-page-vacation .leader-item-content
    border: none
    padding-bottom: 0

.tournaments-list-page .tournaments-list-fininshed-item.tournaments-tournaments-list-page-vacation.card-item header.accent
    color: #000

.tournaments-list-page .tournaments-list-fininshed-item.tournaments-tournaments-list-page-vacation .tournaments-leaders header
    color: #ba0000

.tournaments-list-page .tournaments-list-fininshed-item.tournaments-tournaments-list-page-vacation .tournaments-leaders,
.tournaments-list-page .tournaments-list-fininshed-item.tournaments-tournaments-list-page-vacation .tournaments-leaders .leader-item,
.tournaments-list-page .tournaments-list-fininshed-item.tournaments-tournaments-list-page-vacation .tournaments-leaders .leader-item .name
    color: #000

.tournaments-list-page .tournaments-list-fininshed-item.tournaments-tournaments-list-page-vacation .tournaments-leaders .leader-item .amount
    color: #fa0000

.tournaments-list-page .tournaments-list-fininshed-item.tournaments-tournaments-list-page-vacation .card-body
    text-shadow: none

.tournaments-list-page .tournaments-list-fininshed-item.tournaments-tournaments-list-page-vacation .tournaments-leaders-no-data
    color: #000

.tournaments-list-page .tournaments-list-fininshed-item.tournaments-tournaments-list-page-vacation .tournaments-list-item-icon
    @include mobile
        border: none
// ---- endregion
