mixin sport_unsuported_currency_disclaimer(content)
    .sport-unsuported-currency-disclaimer
        h1.sport-unsuported-currency-disclaimer-title=content.t('ui-sport-is-not-available-title')
        p.sport-unsuported-currency-disclaimer-text=content.t('ui-sport-is-not-available-for-currency', {currency: content.user.getRealBalanceCode()})
        a.btn-pr.sport-unsuported-currency-disclaimer-button(href=content.l('/'))= content.t("ui-back-to-lobby")