<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>%SITE_NAME%</title>

    <style type="text/css">
        @media only screen and (max-device-width: 658px) {
            body {
                padding: 0 !important;
            }

             .main-title,
             .main-subtitle,
              .main-title-link {
                  padding-left: 15px !important;
                  padding-right: 15px !important;
              }

            .btn {
                min-width: auto !important; font-size: 14px !important;
            }

            .main-title,
            .main-title-link {
                font-size: 16px !important;
            }

            .main-title-link {
                margin-bottom: 20px !important;
            }

            .main-subtitle {
                font-size: 16px !important;
                margin-bottom: 0 !important;
                font-weight: bold !important;
            }

            .games-container {
                margin-top: 12px !important;
            }

            .options-container {
                text-align: center !important;
            }

            .options-container .options {
                width: auto !important;
                display: inline-block !important;
            }

            .option-column {
                text-align: left !important;
            }

            .options tr,
            .options td {
                display: block !important;
            }

            .option-item {
                margin-right: 0 !important;
            }

            .footer {
                padding: 15px !important;
            }

            table.games,
            table.games tbody,
            table.games tr,
            table.games td {
                display: block !important;
            }

            table.games {
                text-align: center !important;
            }

            .games-item {
                margin-bottom: 12px !important;;
            }

            .logo {
                width: 136px !important;
            }

            .main-header-block h3 {
                font-size: 12px !important;
            }

            .main-header-block { width: 100% !important;
                margin-bottom: 18px !important;
            }
        }
    @media only screen and (max-device-width: 480px) {            .footer-text {                font-size: 10px !important;            }    .btn { font-size: 13px !important;  }    } </style>
</head>

<body style="margin: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; height: 100%; padding: 0; background: #243054; width: 100%;">

<!-- HEADER -->
<table class="head-wrap" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; border-spacing: 0; border-collapse: collapse; width: 100%;" width="100%">
    <tr style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;"></td>
        <td class="header container" style="padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; background: no-repeat url('https://%DOMAIN%/images/mail/header-bg-1.png') 0 0 / 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%; display: block; max-width: 658px; margin: 0 auto; clear: both;">

            <div class="content" style="font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 658px; margin: 0 auto; display: block; padding: 15px;">
                <table style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; border-spacing: 0; border-collapse: collapse; width: 100%;" width="100%">
                    <tr style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                            <a href="https://%DOMAIN%?ref=JXpCquWf&p1=follow_up_unconfirmed&p2=logo" target="_blank" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; color: #feae06; text-decoration: none;">
                                <img class="logo" src="https://%DOMAIN%/images/mail/logo.png" alt="%SITE_NAME%" style="padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 100%; width: 250px; margin: 0 auto; display: block;" width="250">
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

        </td>
        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;"></td>
    </tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; border-spacing: 0; border-collapse: collapse; width: 100%;" width="100%">
    <tr style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;"></td>
        <td class="container" style="padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: block; max-width: 658px; margin: 0 auto; clear: both;">

            <div class="content main" style="font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; background: #fff; position: relative; max-width: 658px; margin: 0 auto; display: block;">
                <table style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; border-spacing: 0; border-collapse: collapse; width: 100%;" width="100%">
                    <tr style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                            <!-- Main header -->
                            <div class="main-header-block" style="margin: 0; margin-bottom: 35px; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; margin-left: auto; margin-right: auto; text-align: center; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; background-image: linear-gradient(to bottom, #feae00, #fa7c34); width: 90%;">
                                <a href="https://%CURRENT_MIRROR%?ref=JXpCquWf&p1=follow_up_unconfirmed&p2=site-mirror-link" target="_blank" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; color: #feae06; text-decoration: none;">
                                    <h3 style="font-family: 'Arial', 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; margin-bottom: 15px; font-weight: 500; margin: 0; color: #fff; text-transform: uppercase; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); font-size: 18px; padding: 14px; line-height: 1.4; word-break: break-word;">New mirror! https://%CURRENT_MIRROR%/</h3>
                                </a>
                            </div>
                            <!-- /Main header -->

                            <!-- Main title -->
                            <p class="main-title" style="margin: 0; padding: 0 30px; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; color: #000; text-align: center; margin-top: 2px; margin-bottom: 27px; font-size: 22px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.25; letter-spacing: normal;">
                                Hello, this is %SITE_NAME%!
                                <br style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                You have registered on our website, but haven't confirmed your account yet. If you forgot your password, reset it by copying the link to the address bar of your browser.
                            </p>
                            <a href="https://%DOMAIN%/reset-password?ref=JXpCquWf&p1=follow_up_unconfirmed&p2=reset-pass-link" target="_blank" class="main-title-link" style="margin: 0; padding: 0 30px; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; text-decoration: none; margin-bottom: 40px; font-size: 22px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.25; letter-spacing: normal; text-align: center; color: #3b78d2; display: block; word-break: break-all;">https://%DOMAIN%/reset-password</a>
                            <!-- /Main title -->

                            <!-- Main games -->
                            <p class="main-subtitle" style="margin: 0; padding: 0 30px; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; margin-bottom: 10px; color: #000; text-align: center; font-size: 24px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.25; letter-spacing: normal;">Don't forget to play our new games:</p>
                            <div class="games-container" style="margin: 0; padding: 0 30px; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; margin-top: 24px;">
                                <table class="games" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; border-spacing: 0; border-collapse: collapse; width: 100%;" width="100%">
                                    <tr style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                        <td class="games-item" style="margin: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; padding: 4px;">
                                            <a href="https://%DOMAIN%/game/y-netent-gonzos-quest?ref=JXpCquWf&p1=follow_up_unconfirmed&p2=game-y-netent-gonzos-quest" target="_blank" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; color: #feae06; text-decoration: none;">
                                                <img src="https://%DOMAIN%/images/mail/follow_up_unconfirmed/y-netent-gonzos-quest.jpeg?v1" alt="Play Gonzo's Quest on %SITE_NAME%" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 100%;">
                                            </a>
                                        </td>
                                        <td class="games-item" style="margin: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; padding: 4px;">
                                            <a href="https://%DOMAIN%/game/y-igrosoft-crazy-monkey-?ref=JXpCquWf&p1=follow_up_unconfirmed&p2=game-y-igrosoft-crazy-monkey-" target="_blank" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; color: #feae06; text-decoration: none;">
                                                <img src="https://%DOMAIN%/images/mail/follow_up_unconfirmed/y-igrosoft-crazy-monkey-.jpeg?v1" alt="Play Crazy Monkey on %SITE_NAME%" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 100%;">
                                            </a>
                                        </td>
                                        <td class="games-item" style="margin: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; padding: 4px;">
                                            <a href="https://%DOMAIN%/game/g_bor?ref=JXpCquWf&p1=follow_up_unconfirmed&p2=game-g_bor" target="_blank" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; color: #feae06; text-decoration: none;">
                                                <img src="https://%DOMAIN%/images/mail/follow_up_unconfirmed/g_bor.jpeg?v1" alt="Play Book of Ra on %SITE_NAME%" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 100%;">
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /Main games -->

                            <!-- Main options -->
                            <div class="options-container" style="margin: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; padding: 3px 34px 25px 34px; margin-top: 25px; background-color: #ffce01; background-image: linear-gradient(#ffce01, #ffce01), linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));">
                                <table class="options" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; border-spacing: 0; border-collapse: collapse; table-layout: fixed; width: 100%;" width="100%">
                                    <tr style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                            <div class="option-item option-item-first" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; margin-top: 27px; font-size: 16px; font-weight: bold; color: #181818; overflow: hidden; text-overflow: ellipsis; margin-right: 10px; display: table; width: 100%;">
                                                <div class="option-column option-column-icon" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: table-cell; vertical-align: middle; min-width: 22px; width: 22px; padding-right: 10px;">
                                                    <img class="option-icon" src="https://%DOMAIN%/images/mail/icons/icon-lightning.png" alt="%SITE_NAME% - Quick registration" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 100%; width: 100%; height: auto;">
                                                </div>
                                                <div class="option-column option-column-text" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: table-cell; vertical-align: middle; padding-right: 8px;">
                                                    <span class="option-item-text" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                                        Quick registration
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                            <div class="option-item option-item-first option-item-second" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; margin-top: 27px; font-size: 16px; font-weight: bold; color: #181818; overflow: hidden; text-overflow: ellipsis; margin-right: 10px; display: table; width: 100%;">
                                                <div class="option-column option-column-icon" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: table-cell; vertical-align: middle; min-width: 22px; width: 22px; padding-right: 10px;">
                                                    <img class="option-icon" src="https://%DOMAIN%/images/mail/icons/icon-textbooks.png" alt="%SITE_NAME% - More than 1000 games" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 100%; width: 100%; height: auto;">
                                                </div>
                                                <div class="option-column option-column-text" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: table-cell; vertical-align: middle; padding-right: 8px;">
                                                    <span class="option-item-text" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                                        More than 1000 games
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                            <div class="option-item" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; margin-top: 27px; font-size: 16px; font-weight: bold; color: #181818; overflow: hidden; text-overflow: ellipsis; margin-right: 10px; display: table; width: 100%;">
                                                <div class="option-column option-column-icon" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: table-cell; vertical-align: middle; min-width: 22px; width: 22px; padding-right: 10px;">
                                                    <img class="option-icon" src="https://%DOMAIN%/images/mail/icons/icon-check-mark.png" alt="%SITE_NAME% - Automatic payments" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 100%; width: 100%; height: auto;">
                                                </div>
                                                <div class="option-column option-column-text" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: table-cell; vertical-align: middle; padding-right: 8px;">
                                                    <span class="option-item-text" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                                        Automatic payments
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                            <div class="option-item" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; margin-top: 27px; font-size: 16px; font-weight: bold; color: #181818; overflow: hidden; text-overflow: ellipsis; margin-right: 10px; display: table; width: 100%;">
                                                <div class="option-column option-column-icon" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: table-cell; vertical-align: middle; min-width: 22px; width: 22px; padding-right: 10px;">
                                                    <img class="option-icon" src="https://%DOMAIN%/images/mail/icons/icon-message.png" alt="%SITE_NAME% - 24 hour support chat" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 100%; width: 100%; height: auto;">
                                                </div>
                                                <div class="option-column option-column-text" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: table-cell; vertical-align: middle; padding-right: 8px;">
                                                    <span class="option-item-text" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                                        24 hour support chat
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                            <div class="option-item" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; margin-top: 27px; font-size: 16px; font-weight: bold; color: #181818; overflow: hidden; text-overflow: ellipsis; margin-right: 10px; display: table; width: 100%;">
                                                <div class="option-column option-column-icon" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: table-cell; vertical-align: middle; min-width: 22px; width: 22px; padding-right: 10px;">
                                                    <img class="option-icon" src="https://%DOMAIN%/images/mail/icons/icon-square.png" alt="%SITE_NAME% - Big bonuses" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 100%; width: 100%; height: auto;">
                                                </div>
                                                <div class="option-column option-column-text" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: table-cell; vertical-align: middle; padding-right: 8px;">
                                                    <span class="option-item-text" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                                        Big bonuses
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                            <div class="option-item" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; margin-top: 27px; font-size: 16px; font-weight: bold; color: #181818; overflow: hidden; text-overflow: ellipsis; margin-right: 10px; display: table; width: 100%;">
                                                <div class="option-column option-column-icon" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: table-cell; vertical-align: middle; min-width: 22px; width: 22px; padding-right: 10px;">
                                                    <img class="option-icon" src="https://%DOMAIN%/images/mail/icons/icon-shield.png" alt="%SITE_NAME% - High RTP" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 100%; width: 100%; height: auto;">
                                                </div>
                                                <div class="option-column option-column-text" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: table-cell; vertical-align: middle; padding-right: 8px;">
                                                    <span class="option-item-text" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                                        High RTP
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                            <div class="option-item" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; margin-top: 27px; font-size: 16px; font-weight: bold; color: #181818; overflow: hidden; text-overflow: ellipsis; margin-right: 10px; display: table; width: 100%;">
                                                <div class="option-column option-column-icon" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: table-cell; vertical-align: middle; min-width: 22px; width: 22px; padding-right: 10px;">
                                                    <img class="option-icon" src="https://%DOMAIN%/images/mail/icons/icon-flag.png" alt="%SITE_NAME% - Weekly сashback" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 100%; width: 100%; height: auto;">
                                                </div>
                                                <div class="option-column option-column-text" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: table-cell; vertical-align: middle; padding-right: 8px;">
                                                    <span class="option-item-text" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                                        Weekly сashback
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                            <div class="option-item" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; margin-top: 27px; font-size: 16px; font-weight: bold; color: #181818; overflow: hidden; text-overflow: ellipsis; margin-right: 10px; display: table; width: 100%;">
                                                <div class="option-column option-column-icon" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: table-cell; vertical-align: middle; min-width: 22px; width: 22px; padding-right: 10px;">
                                                    <img class="option-icon" src="https://%DOMAIN%/images/mail/icons/icon-star.png" alt="%SITE_NAME% - Progressive JACKPOT" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 100%; width: 100%; height: auto;">
                                                </div>
                                                <div class="option-column option-column-text" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: table-cell; vertical-align: middle; padding-right: 8px;">
                                                    <span class="option-item-text" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                                        Progressive JACKPOT
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /Main options -->
                        </td>
                    </tr>
                </table>
            </div><!-- /content -->

        </td>
        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;"></td>
    </tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; border-spacing: 0; border-collapse: collapse; width: 100%; clear: both;" width="100%">
    <tr style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;"></td>
        <td class="container" style="padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: block; max-width: 658px; margin: 0 auto; clear: both;">

            <!-- content -->
            <div class="content footer" style="max-width: 658px; margin: 0 auto; display: block; padding: 26px 30px; margin-top: -2px; font-family: sans-serif; background-color: #1d2640; color: #8e929f; text-align: center;">
                <div class="footer-text-block" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                    <p class="footer-text footer-text-telegram footer-text-primary" style="padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; font-weight: normal; margin: 0; color: #ffffff; font-size: 12px; line-height: 1.3; margin-bottom: 12px; display: inline-block; text-align: left;">
                        <a href="https://t.me/%TELEGRAM_CHANNEL%" target="_blank" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;"><img class="footer-text-icon" src="https://%DOMAIN%/images/mail/icons/telegram.png" alt="%SITE_NAME% - Telegram channel" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 100%; float: left; width: 30px; height: 30px; margin-right: 7px;" width="30" height="30"></a>
                        The most up-to-date mirrors in our
                        <br style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                        telegram channel: <a class="text-underline" href="https://t.me/%TELEGRAM_CHANNEL%" target="_blank" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; color: #feae06; text-decoration: underline;">@%TELEGRAM_CHANNEL%</a>
                    </p>
                </div>

                <p class="footer-text footer-text-access footer-text-primary" style="padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; font-weight: normal; margin: 0; color: #ffffff; font-size: 12px; line-height: 1.3; margin-bottom: 12px;">
                    Access problems?
                    <br style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                    Download <a class="text-underline" href="https://fri-gate.org/" target="_blank" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; color: #feae06; text-decoration: underline;">friGate</a> and stay with us.
                </p>

                <p class="footer-text footer-text-secondary" style="padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; margin-bottom: 10px; font-weight: normal; line-height: 1.6; margin: 0; font-size: 11px;">&copy; %YEAR% %SITE_NAME% — All rights reserved.</p>
            </div>
            <!-- /content -->

        </td>
        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;"></td>
    </tr>
</table>
<!-- /FOOTER -->

</body>
</html>