include ./user/user-widget
include ./jackpot-mobile-block
include ./jackpot-block

mixin block_jackpot(content, isOpenInNewTab)
    +jackpot_block(content)
    +jackpot_mobile_block(content)

mixin block_winner_list(content)
    .block.block--hero.block--winners(className=`${content.appSettings.showSlider ? '' : 'without-slider'}`)
        .block-title
            div= content.t("ui-winners")
            if content.appSettings.winners.showTabBar
                .block--winners-tabs(className=content.lastWinsActions.isJackpotWinsEnabled ? 'block--winners-tabs--three-items' : '')
                    a.block--winners-tabs_item(class=content.activeBlockWinners === content.enums.activeBlockWinners.LAST ? 'active' : '', onClick=content.lastWinsActions.toggleWinnersBlock data-active-winners=content.enums.activeBlockWinners.LAST)
                        span= content.t("ui-winners-last")
                    a.block--winners-tabs_item(class=content.activeBlockWinners === content.enums.activeBlockWinners.TOP ? 'active' : '', onClick=content.lastWinsActions.toggleWinnersBlock data-active-winners=content.enums.activeBlockWinners.TOP)
                        span= content.t("ui-winners-top")
                    if content.lastWinsActions.isJackpotWinsEnabled
                        a.block--winners-tabs_item(class=content.activeBlockWinners === content.enums.activeBlockWinners.JACKPOT ? 'active' : '', onClick=content.lastWinsActions.toggleWinnersBlock data-active-winners=content.enums.activeBlockWinners.JACKPOT)
                            span= content.t("ui-jackpot")
        if content.activeBlockWinners === content.enums.activeBlockWinners.LAST
            .block-content.winner-list(ref=content.makeRef('winners-last'))
                each winner in content.lastWinsActions.lastWinsWithBillingActions
                    a.winner-list__item.winner(key=winner.id title=winner.title href=winner.link external="true")
                        img.winner__game-image(src="#{winner.icon}")
                        if winner.type === content.enums.lastActionType.WIN
                            div.winner__info
                                span.winner__game= winner.game
                                span.winner__name= winner.user
                                span.winner__prize__info= winner.amountString
                        else
                            div.winner__info
                                span.winner__game= winner.billingTypeString
                                span.winner__name= winner.nickname
                                span.winner__prize__info= winner.amountString
                        div.winner__prize__container
                            span.winner__prize= winner.amountString
        if content.activeBlockWinners === content.enums.activeBlockWinners.TOP
            .block-content.winner-list(ref=content.makeRef('winners-top'))
                each winner in content.topWins.winnersOptimized
                    a.winner-list__item.winner(key=winner.id title=winner.title href=winner.link external="true")
                        img.winner__game-image(src="#{winner.icon}")
                        div.winner__info
                            span.winner__game= winner.game
                            span.winner__name= winner.user
                        div.winner__prize__container
                            span.winner__prize= winner.amountString
        if content.activeBlockWinners === content.enums.activeBlockWinners.JACKPOT
            .block-content.winner-list(ref=content.makeRef('winners-jackpot'))
                each winner in content.jackpots.winnersOptimized
                    a.winner-list__item.winner(key=winner.idString title=winner.title href=winner.link external="true")
                        img.winner__game-image(src="#{winner.icon}")
                        div.winner__info
                            span.winner__game= winner.game
                            span.winner__name= winner.user
                        div.winner__prize__container
                            span.winner__prize= winner.amountString
