include blocks
include ../common/loader
include ../controls/game-page-close
include ./jackpot-block-game

mixin block_game(content)
    .block-game(className=content.runningGameStore.gameBlockClassName)
        .game-wrapper
            +game_page_close(content)
            if content.appSettings.guestGamePage && content.userInfo.guest
                .site-header
                    .header-logo
                        a(href=content.l('/') external="true")
                            img.header-logo__image(src=content.g('%LOGO%'))
                    if content.runningGameStore.runningGame
                        if content.runningGameStore.runningGame.type === "SPIN"
                            h1=content.t('ui-play-slot-game-free').replace('%s', content.runningGameStore.runningGame.name[content.language])
                        else 
                            h1=content.t('ui-play-game-free').replace('%s', content.runningGameStore.runningGame.name[content.language])
                    a.btn.btn-pr.bounce(onClick=content.modal.showRegister href=content.l('/register'))= content.t("ui-play-on-money")
                .game-block
                    .game-jp
                        +block_winner_list(content)
                    .game-pl
                        GameScreen(
                            appState=content
                            viewport=content.viewport
                            runningGame=content.runningGameStore.runningGame
                            proportionSize=content.runningGameStore.gameScreenSize
                            iframe=content.runningGameStore.iframe
                            rawHTML=content.runningGameStore.rawHTML
                        )
                            +loader_with_logo(content)
            else 
                .game-pl
                    GameScreen(
                        appState=content
                        viewport=content.viewport
                        runningGame=content.runningGameStore.runningGame
                        proportionSize=content.runningGameStore.gameScreenSize
                        iframe=content.runningGameStore.iframe
                        rawHTML=content.runningGameStore.rawHTML
                    )
                        +loader_with_logo(content)
            .game-bottom.clearfix
                if content.userInfo.guest
                    .register-block
                        a.btn.btn-pr.bounce(onClick=content.modal.showRegister href=content.l('/register'))= content.t("ui-register")
                    if !!content.runningGameStore.runningGame && !content.runningGameStore.runningGame.siteJackpotSupport
                        .register-info=content.t('ui-register-and-win-jp')
                else
                    if content.site.isFavoritesGamesAllowed
                        .block-game-favorites
                            if content.runningGameStore.runningGame
                                button.btn.btn-secondary.btn--with-left-icon(
                                        class=content.runningGameStore.runningGame.isFavoriteActionLoading ? "btn--loading" : ""
                                        data-id=content.runningGameStore.runningGame.id
                                        onClick=content.games.onToggleGameFavorites
                                        disabled=content.runningGameStore.runningGame.isFavoriteActionLoading
                                    )
                                    i.icon-btn(class= content.runningGameStore.runningGame.isFavorite ? "icon-star-fill" : "icon-star-ico")
                                    span= content.runningGameStore.runningGame.isFavorite ? content.t("ui-remove-from-favorites") : content.t("ui-add-to-favorites")
                if !!content.runningGameStore.runningGame && !content.runningGameStore.runningGame.siteJackpotSupport
                    +jackpot_block_game(content)
                else
                    .jackpot-block-game__empty
                .flex-container
                    if !content.userInfo.guest && content.user.isSiteRegistered
                        .block-content.user-content
                            +user_widget(content)
                        .block.block-refill
                            a.btn.btn-pr(href=content.l('/refill') target="_blank")= content.t("ui-refill-button")
                    .block-quit
                        a.btn.btn-secondary.btn--with-left-icon(href=content.l('/') external="true")
                            i.icon-exit.icon-btn
                            span= content.t("ui-close-game")
