mixin content_navi(content)
    .content-navi(class= content.gameMenu.contentNaviClasses)
        if content.appSettings.games.showGameItemsSizeOptions
            +game_sizes_options(content)
        .navi-arr.arr-left(onTouchStart=content.gameMenu.scrollGameMenuLeftStart, onTouchEnd=content.gameMenu.scrollGameMenuEnd, onMouseDown=content.gameMenu.scrollGameMenuLeftStart, onMouseUp=content.gameMenu.scrollGameMenuEnd)
            i.icon-left-navi
        ul(ref=content.makeRef('gameMenu') class=content.OSType === 'win' ? 'mobile-scroll-hidden' : '')
            each entry in content.gameMenu.items
                if content.games.mapOfGamesByCategory[entry.id] && entry.hidden === false && entry.isVisible
                    if entry.children && entry.children.length > 0
                        li(key=entry.id, class=entry.classNames onClick=entry.onClick onMouseEnter=entry.onMouseEnter onMouseLeave=entry.onMouseLeave)
                            a(href="#")= entry.name[content.language]
                            ul
                                each child in entry.children
                                    if content.games.mapOfGamesByCategory[child.id] && child.hidden === false
                                        li(key=child.id, class=child.classNames)
                                            a(href=content.l('/games/' + child.id) onClick=child.onChildClick)= child.name[content.language]
                    else
                        li(key=entry.id, class=entry.classNames)
                            if entry.id === 'tournaments-info'
                                a(href=content.l('/tournaments-list'))= entry.name[content.language]
                                if content.tournamentsInfoActions.tournaments && content.tournamentsInfoActions.tournaments.length
                                    .tournaments-counter=content.tournamentsInfoActions.tournaments.length
                            else
                                if entry.id === 'favorites'
                                    img.game-menu-favorites-icon(src="/images/icons/icon-favorites-filled.svg")
                                a(href=content.l('/games/' + entry.id))= entry.name[content.language]
        .navi-arr.arr-right(onTouchStart=content.gameMenu.scrollGameMenuRightStart, onTouchEnd=content.gameMenu.scrollGameMenuEnd, onMouseDown=content.gameMenu.scrollGameMenuRightStart, onMouseUp=content.gameMenu.scrollGameMenuEnd)
            i.icon-right-navi

mixin game_sizes_options(content)
    .games-list__view-options
        i.games-list__view-option(
            className=(content.games.view ? `games-list__view-option--active iconfont-${content.games.view}` : ``)
            onClick=() => content.games.updateViewOption(content.games.view)
        )
