mixin description_footer_block(content)
    .discription-footer-container
        .discription-footer 
            .site-wrapper
                .content-discription-container
                        h3.discription-title.first-title= content.t("whitelabel-seo-text-1", {"site-name": content.site.siteName})
                        p.discription-parag
                            span= content.t("whitelabel-seo-text-2", {"site-name": content.site.siteName})
                            span= content.t("whitelabel-seo-text-3", {"site-name": content.site.siteName})
                        h3.discription-title= content.t("whitelabel-seo-text-4", {"site-name": content.site.siteName})
                        p.discription-parag= content.t("whitelabel-seo-text-5", {"site-name": content.site.siteName})
                        ul.discription-list
                            li= content.t("whitelabel-seo-text-6", {"site-name": content.site.siteName})
                            li= content.t("whitelabel-seo-text-7", {"site-name": content.site.siteName})
                            li= content.t("whitelabel-seo-text-8", {"site-name": content.site.siteName})
                            li= content.t("whitelabel-seo-text-9", {"site-name": content.site.siteName})
                            li= content.t("whitelabel-seo-text-10", {"site-name": content.site.siteName})
                        p.discription-parag= content.t("whitelabel-seo-text-11", {"site-name": content.site.siteName})
                        p.discription-parag= content.t("whitelabel-seo-text-12", {"site-name": content.site.siteName})
                        h3.discription-title= content.t("whitelabel-seo-text-13", {"site-name": content.site.siteName})
                        p.discription-parag= content.t("whitelabel-seo-text-14", {"site-name": content.site.siteName})
                        ol.discription-list
                            li= content.t("whitelabel-seo-text-15", {"site-name": content.site.siteName})
                            li= content.t("whitelabel-seo-text-16", {"site-name": content.site.siteName})
                            li= content.t("whitelabel-seo-text-17", {"site-name": content.site.siteName})
                            li= content.t("whitelabel-seo-text-18", {"site-name": content.site.siteName})
                            li= content.t("whitelabel-seo-text-19", {"site-name": content.site.siteName})
                            li= content.t("whitelabel-seo-text-20", {"site-name": content.site.siteName})
                            li= content.t("whitelabel-seo-text-21", {"site-name": content.site.siteName})
                            li= content.t("whitelabel-seo-text-22", {"site-name": content.site.siteName})
                            li= content.t("whitelabel-seo-text-23", {"site-name": content.site.siteName})
                            li= content.t("whitelabel-seo-text-24", {"site-name": content.site.siteName})
                        p.discription-parag= content.t("whitelabel-seo-text-25", {"site-name": content.site.siteName})
            .btn-discription-container_mobile
                input#discription_checkbox_mobile(type="checkbox")
                label.discription-btn(for="discription_checkbox_mobile")
                        span.opened 
                        span.closed 
        .site-wrapper
            .btn-discription-container
                input#discription_checkbox(type="checkbox")
                label.discription-btn(for="discription_checkbox")
                    if content.language === "ru"
                        span.opened Скрыть 
                        span.closed Смотреть все
                    else
                        span.opened Hide 
                        span.closed See all