mixin footer_menu_block(column, content)
	.footer-menu-block
		//- .block-title #{column.name[content.language] || ''}
		ul
			each item in column.items
				if !(item.id === "logout" && content.userInfo.guest)
					if item.id === "logout"
						li
							a(href='#' onClick=content.user.logout) #{item.name[content.language]}
					else if item.url === '/p/terms-and-conditions'
						li
							a(href=item.url || '#') #{item.name[content.language]}
						if content.site.isSportEnabled
							li
								a(href=content.l('/p/sport-terms-and-conditions'))=content.t('ui-sport-rules')
					else if item.id && !!item.id.match(content.langRe) && !!item.id.match(content.langRe)[1]
						li
							a(href=content.l(window.location.pathname, item.id.match(content.langRe)[1]) onClick=content.site.changeLanguage(content, item.id.match(content.langRe)[1])) #{item.name[content.language]}
					else if item.external
						li(id=item.id data-url=item.url)
							a(href=item.url download external="true" target="_blank")= item.name[content.language]
					else
						li(id=item.id data-url=item.url)
							a(href=item.url || '#' onClick=content.site.scrollToTheTop) #{item.name[content.language]}

mixin select_language_block(column, content, topOrNo, mobile)
	if topOrNo && mobile
		.select_language_block
			.lang-list-container
				ul.top-viewed
					each item in column.items
						li 
							a(href=content.l(window.location.pathname, item.id.match(content.langRe)[1]) onClick=content.site.changeLanguage(content, item.id.match(content.langRe)[1])) 
								img(src="/images/language/#{item.id.match(content.langRe)[1]}.svg")
								span #{item.id.match(content.langRe)[1]}
			input.top-viewed_input(type="checkbox" id="lang_select_top_mobile")
			label.label-select_item(for="lang_select_top_mobile") 
				img(src="/images/language/#{content.language}.svg")
				span #{content.language}
	else if topOrNo
		.select_language_block
			.lang-list-container
				ul.top-viewed
					each item in column.items
						li 
							a(href=content.l(window.location.pathname, item.id.match(content.langRe)[1]) onClick=content.site.changeLanguage(content, item.id.match(content.langRe)[1])) 
								img(src="/images/language/#{item.id.match(content.langRe)[1]}.svg")
								span #{item.id.match(content.langRe)[1]}
			input.top-viewed_input(type="checkbox" id="lang_select_top")
			label.label-select_item(for="lang_select_top") 
				img(src="/images/language/#{content.language}.svg")
				span #{content.language}
	else if mobile
		.select_language_block
			.lang-list-container
				ul.top-viewed
					each item in column.items
						li 
							a(href=content.l(window.location.pathname, item.id.match(content.langRe)[1]) onClick=content.site.changeLanguage(content, item.id.match(content.langRe)[1])) 
								img(src="/images/language/#{item.id.match(content.langRe)[1]}.svg")
								span #{item.id.match(content.langRe)[1]}
			input.top-viewed_input(type="checkbox" id="lang_select_menu_mobile")
			label.label-select_item(for="lang_select_menu_mobile")
				img(src="/images/language/#{content.language}.svg")
				span #{content.language}
	else
		.select_language_block
			label.label-select_item(for="lang_select_bottom")
				img(src="/images/language/#{content.language}.svg")
				span #{content.language}
			input.bottom-viewed_input(type="checkbox" id="lang_select_bottom")
			.lang-list-container
				ul.bottom-viewed
					each item in column.items
						li 
							a(href=content.l(window.location.pathname, item.id.match(content.langRe)[1]) onClick=content.site.changeLanguage(content, item.id.match(content.langRe)[1])) 
								img(src="/images/language/#{item.id.match(content.langRe)[1]}.svg")
								span #{item.id.match(content.langRe)[1]} 
