mixin text_form_field(content, value, label, index, refName, isRequired, onChange, error)
    .form-line
        if isRequired
            label.form-label.form-label-required= label
        else
            label.form-label= label
        .form-field(tabIndex= index)
            input(type="text" defaultValue = value onChange=onChange placeholder= content.t('ui-placeholder-' + refName) ref= content.makeRef(refName) id=refName name=refName autoComplete=refName spellCheck="false")
        if error
            div.error= error

mixin text_form_field_floating(content, value, label, index, refName, isRequired, onChange, error, isFullWidthField, id, onKeyDown)
    .form-line(className=!isFullWidthField ? "not-full-width" : '')
        .form-field(tabIndex= index)
            .profile-input-floating
              input.profile-input(type="text"  required defaultValue = value onChange=onChange onKeyDown=onKeyDown ref= content.makeRef(refName) id=id ? id : refName name=refName autoComplete=refName spellCheck="false")
              span.floating-label=label
        if error
            div.error= error

mixin datetime_form_field(content, value, label, index, refName, isRequired, onChange, error)
    .form-line
        if isRequired
            label.form-label.form-label-required= label
        else
            label.form-label= label
        .form-field(tabIndex=index)
            InputMask(mask="99.99.9999" type="text" defaultValue = value onChange=onChange placeholder=content.t('ui-date-format') ref=content.makeRef(refName) id=refName name=refName autoComplete=refName spellCheck="false")
        if error
            div.error= error

mixin datetime_form_field_floating(content, value, label, index, refName, isRequired, onChange, error, id, onKeyDown)
    .form-line
        .form-field(tabIndex=index)
          .profile-input-floating
            InputMask(className="profile-input" required mask="99.99.9999" type="tel" onKeyDown=onKeyDown defaultValue = value onChange=onChange ref=content.makeRef(refName) id=id ? id : refName name=refName autoComplete=refName spellCheck="false")
            span.floating-label=label
        if error
            div.error= error


mixin gemder_form_field(content, value, label, index, refName, isRequired, onChange, error)
    .form-line
        if isRequired
            label.form-label.form-label-required= label
        else
            label.form-label= label
        .radio-group
            .radio-item
                input(type="radio" name=refName id="genderMale" value="male" onChange=onChange checked=value === "male")
                label.genderTypeRadio(for="genderMale")= content.t("ui-male")
            .radio-item
                input(type="radio" name=refName id="genderFemale" value="female" onChange=onChange checked=value === "female")
                label.genderTypeRadio(for="genderFemale")= content.t("ui-female")
            input(type="hidden" defaultValue=value ref=content.makeRef(refName))
        if error
            div.error= error

mixin email_form_field(content, value, label, placeholder, refName, error, disabled, onChange, onKeyDown)
    .form-line
        .form-field
          .profile-input-floating
            input.profile-input(type="text" ref=content.makeRef(refName) name="email" defaultValue = value required disabled=disabled onChange=onChange onKeyDown=onKeyDown)
            span.floating-label=placeholder
        if error
            div.error= error

mixin password_form_field(content, label, placeholder, refName, error, disabled, onChange, autoComplete, eyeIsOpen, eyeClick, id, onKeyDown)
    .form-line
        .form-field
          .profile-input-floating
            if content.userInfo.isBmUser
                input.profile-input(
                    className=error ? 'error-profile-input' : ''
                    type=eyeIsOpen ? "text" : "password"
                    onKeyDown=onKeyDown ? onKeyDown : content.user.preventPasswordInput
                    ref=content.makeRef(refName)
                    name="password"
                    id=id ? id : 'password'
                    required
                    disabled=disabled
                    onChange=onChange
                    autoComplete=autoComplete
                    maxLength='6'
                    pattern='[0-9]*'
					inputMode='numeric'
				    onKeyPress=content.loginForm.preventNotNumberInput
                    onPaste=content.profileEdit.onPasswordPaste
                )
            else
                input.profile-input(className=error ? 'error-profile-input' : '' type=eyeIsOpen ? "text" : "password" onKeyDown=onKeyDown ? onKeyDown : content.user.preventPasswordInput ref=content.makeRef(refName) name="password" id=id ? id : 'password' required disabled=disabled onChange=onChange autoComplete=autoComplete)
            span.floating-label=label
            img.password-eye(src=eyeIsOpen ? "/images/icons/open-eye.svg" : "/images/icons/closed-eye.svg" onClick=eyeClick)


mixin phone_form_field(content, countryValue, phoneValue, label, placeholder, countryCodeRef, phoneNumberRef, error, disabled, onChangePhone, onChangeCountry, onKeyDown, onFocus)
    .form-line
        .form-field.phone-new
            +phone_controlled(content, countryValue, phoneValue, content.profileEdit.phoneMask, placeholder, disabled, onChangePhone, onChangeCountry, onFocus, undefined, undefined, onKeyDown)
        if error
            div.error= error
