include game-item
include ../ui/no-data/section-no-data
include recommended-games

mixin games_list(content)
    if content.games.filteredGames.length === 0
        .games-list--empty
            if content.games.groupId === content.enums.gameGroupId.FAVORITES
                +section_no_data(content, content.t('ui-empty-favorites-disclaimer'), '/images/icons/icon-star-thin-enpty.svg')
                +recommended_games(content)
            else
                h1.games-list__caption=content.t('ui-games-empty-category-title')
                div.games-list__description(dangerouslySetInnerHTML={ __html: content.t('ui-games-empty-category-description') })
    else
        if content.site.gamesCategoryTitle
            h1.games-list__caption=content.site.gamesCategoryTitle
        .games-list(className=content.games.view ? `games-list-items-size--${content.games.view}` : '')
            if content.appSettings.games.showMoreGames.enabled
                each game in content.games.displayedGames.slice(0, content.games.gameIndexToShow)
                  +game_item(content, game)
                if content.games.displayedGames.slice(0, content.games.gameIndexToShow).length !== content.games.displayedGames.length
                  .games-list-show-more-container
                    span.button(onClick= content.games.showMoreGames)
                      .button-link__text=`${content.t('ui-show-more')} (${content.games.displayedGames.slice(0, content.games.gameIndexToShow).length}/${content.games.displayedGames.length})`
            else if content.appSettings.games.useOptimizedGamesGrid
                OptimizedGamesGrid(content=content, games=content.games.displayedGames, gamesMeta=content.gameMetaIconActions.gamesMeta, view=content.games.view)
            else
                each game in content.games.displayedGames
                    +game_item(content, game)

            if content.games.groupId !== content.enums.gameGroupId.FAVORITES
                if content.games.showGamesListSearchMsg
                    +games_list_search_msg(content)

        if content.games.groupId === content.enums.gameGroupId.FAVORITES
            +recommended_games(content)

        if content.userBonusesStore.showBonuses
            Bonuses(appState=content)

        if content.site.gamesCategoryDescription
            div.games-list__description(dangerouslySetInnerHTML={ __html: content.site.gamesCategoryDescription })

    if content.site.gamesCategoryPlayOtherText && !!content.routeParams && content.routeParams.id !== 'all'
        div.games-list__play-other
            a(href=content.l('/games/all') onClick=content.site.scrollToTheTop)=content.site.gamesCategoryPlayOtherText

mixin games_list_search_msg(content)
    .games-list__search-msg
        p= content.t('ui-disclaimer-games-not-found')