mixin game_item(content, game, ref, loadImage, useOptimizedGamesGrid, lazyLoad, inactive)
    if game && game.id
        .game-item(key=game.id, ref=ref className=content.games.getGameItemClasses(game, inactive))
            .game-item__img-container
                if useOptimizedGamesGrid === undefined ? content.appSettings.games.useOptimizedGamesGrid : useOptimizedGamesGrid
                    OptimizedGameImage(src=content.games.getGameImage(game, '300x188'), gameId=game.id, gamesList=content.gameList, loadImage=loadImage, appState=content gameName=game.name[content.language])
                else
                    GameImage(src=content.games.getGameImage(game, '300x188') lazyLoad=lazyLoad gameName=game.name[content.language])
                if content.gameMetaIconActions.gameShowMeta(game) && game.metaForShow
                    GameMetaIcon(content=content gameMeta=content.gameMetaIconActions.gamesMeta[game.id])
            .game-item__title
                .game-item__name= game.name[content.language]
                .game-item__btn= content.t("ui-play")
            a.game-item__link(href=content.games.gameUrl(game.id) id=("game_" + game.id) external="true" target=content.games.openGameInTheSameTab ? "_self" : "_blank")
            if content.site.isFavoritesGamesAllowed
                .game-item__favorites(
                    data-id=game.id
                    onClick=content.games.onToggleGameFavorites
                    class=content.site.getGameItemFavoriteClasses(game.isFavoriteActionLoading, content.isMobile)
                )
                    img(src=game.isFavorite ? '/images/icons/icon-favorites-filled.svg' : '/images/icons/icon-favorites-empty.svg')
            +gameItemPreview(content, game)
            +gameBadges(content, game)

mixin gameItemPreview(content, game)
    .game_item-preview
        p.game_item-preview-text= content.games.getPreviewGameText(game)

mixin gameBadges(content, game)
    if game.tags.includes("tournament")
        .game-item__badge=content.t("ui-game-tournament-label")

