include blocks
mixin hero(content)
    .hero(className=`${content.searchOpened ? "search" : ""} ${content.appSettings.showSlider ? '' : 'without-slider'}`)
        +block_jackpot(content)

        // To disable slider, leave one only one one slide in slides list.
        // To to add or change slides:
        // 1. Add images for all target languages to /site/public/images with language postfix, eg:
        //    /site/images/03_en.jpg
        //    /site/images/03_ru.jpg
        //    /site/images/03_es.jpg
        //
        // 2. Add or replace slide record in slider declaration below with following format:
        //    {
        //        image: 'path_to_image' + content.language + '.extension',
        //        href: content.l('link_to_open'),
        //        target: 'optional_link_target'
        //    }
        //
        // 3. To customize slider settings (e.g animation, css, additional elements),
        //    see /site/src/state/components/Slider.tsx

        Slider(appState=content slides=content.site.bannersForSlider.length !== 0
         ? content.site.bannersForSlider :
          [  {
                image: '/images/banners/egypt_games/en.svg?v1',
                href: content.l('/games/new'),
                onClick: function () {
                    setTimeout(function () {
                        const game = document.getElementById('game_pg_bod');
                        if (game) {
                            game.scrollIntoView();
                        }
                    }, 0);
                }
            }, {
                image: '/images/banners/03/' + content.language + '.jpg',
                href: content.userInfo.guest ? '/register' : '/refill'
            }, {
                image: '/images/banners/hearts_of_three/' + content.language + '.svg',
                href: content.l('/game/ib_hot'),
                target: '_blank'
            }, {
                image: '/images/banners/penalty/' + content.language + '.svg',
                href: content.l('/'),
                target: '_blank',
            }
        ])
        
        +block_winner_list(content)
