include ./tournament-info-block

mixin info_slider(content)
  .info-slider(className=`elements-${content.site.infoSliderElementsCounter}`)
    ReactSlick(
      dots=true,
      arrows=true,
      infinite=true,
      speed=500,
      autoplay=true,
      autoplaySpeed=10000,
      slidesToShow=1,
      slidesToScroll=1,
    )
      if content.timelineCashbackBonus.visibleOnMainPage && !content.site.infoSliderShowOnlyTournaments
        +timeline_cashback_bonus_block(content)
      if content.tournamentsInfoActions.tournaments && content.tournamentsInfoActions.tournaments.length
        each tournament in content.tournamentsInfoActions.tournamentsList
          +tournament_info_block(content, tournament)