mixin jackpot_block(content)
  .jackpot-container(
        className=`${content.appSettings.showSlider ? '' : 'without-slider'} ${content.jackpots.theme ? "jp-theme" : ""} jackpot-container--${content.jackpots.titleImgLink && content.jackpotsList.length <= 4 ? content.jackpotsList.length + 1 : content.jackpotsList.length}`
    )
    if content.jackpots.titleImgLink && content.jackpotsList.length <= 4
        div.jackpot-container__title(class=`block block--hero block--jackpot block--jackpot-title block--jackpot-title${content.appSettings.showSlider ? '' : '_without-slider'}_${content.jackpots.getJackpotClass()}`)
            img.jackpot-container__title-img(src=content.jackpots.titleImgLink)
    each jp in content.jackpotsList
      +jackpot_desktop(jp, jp.name, jp.currency, jp.currencyFormattingFn(jp.amountNumber), jp.minBetAmount, jp.minBetCurrency, content.t("ui-jackpot"), content)

mixin jackpot_desktop(jp, name, currency, amount, minBetAmount, minBetCurrency, typeText, content)
  a(href=content.l('/jackpot') class=`block block--hero block--jackpot block--jackpot${content.appSettings.showSlider ? '' : '_without-slider'}_${content.jackpots.getJackpotClass()} ${content.jackpots.getThemeColor(jp)}`)
    img(src=content.appSettings.showSlider ? content.jackpots.getJackpotLink(jp) : content.jackpots.getJackpotLinkWithoutSlider(jp))
    .block-inner
      span.amount= amount
    .min-bet-block= `play ${minBetAmount} up`
    .jackpot-title-block
      .jackpot-title
        span.title-jackpot-type= name

mixin jackpot_item(jp, name, currency, amount, minBetAmount, minBetCurrency, typeText, size, content)
  div(class=`block block--hero block--jackpot block--jackpot_without-slider block--jackpot--${content.jackpots.getJackpotIndex(jp)} ${content.jackpots.getThemeColor(jp)}`)
    img(src=content.jackpots.getJackpotLinkWithoutSlider(jp, size))
    .block-inner
      span.amount= amount
    .min-bet-block= `play ${minBetAmount} up`
    .jackpot-title-block
      .jackpot-title
        span.title-jackpot-type= name
  
