include ./jackpot-winners-list
include ./jackpot-block
include ./jackpot-mobile-block

mixin jackpot(content)
    .jackpot-page(className=`jp-theme-${content.jackpots.theme}`)
        .block-title= content.t("ui-jackpot")
        if content.jp.enabled
            .block-content
                span.money-currency= content.jp.currency
                .money.money--jackpot
                    span.money-amount= content.jp.amountString
                span.money-currency= content.jp.currency

        each jpChunk in content.chunkArray(content.jackpotsList, 2, true)
            .jackpot-container(className=`without-slider jp-theme-${content.jackpots.theme} jackpot-container--${jpChunk.length}`)
                each jp in jpChunk
                    +jackpot_item(
                        jp,
                        jp.name,
                        jp.currency,
                        jp.currencyFormattingFn(jp.amountNumber),
                        jp.minBetAmount,
                        jp.minBetCurrency,
                        content.t("ui-jackpot"),
                        jpChunk.length,
                        content,
                    )

        +jackpot_mobile_block(content)

        if content.staticPageContent && content.staticPageContent.__html
            .text-page
                .page-content.rules(dangerouslySetInnerHTML=content.staticPageContent)

        if content.jackpots.winners && content.jackpots.winners.length
            +jackpot_winners_list(content, content.jackpots.winners)
