mixin jackpot_block_game(content)
  .jackpot-mobile-container(
        className=`jp-theme-${content.jackpots.theme} jackpot-mobile-game-container jackpot-mobile-game-container--${content.jackpotsList.length}`
    )
    each jp in content.jackpotsList
      +jp_game(jp, jp.name, jp.currency, jp.currencyFormattingFn(jp.amountNumber), content.t("ui-jackpot"), content)

mixin jp_game(jp, name, currency, amount, typeText, content)
  a(href=content.l('/jackpot') class=`block block--hero block--jackpot-mobile block--jackpot-mobile_middle`)
    img.block--jackpot-mobile-img.block--jackpot-mobile-img-1(src=content.jackpots.getGameJackpotLink(jp))
    img.block--jackpot-mobile-img.block--jackpot-mobile-img-2(src=content.jackpots.getJackpotLinkWithoutSlider(jp, 1))
    .block-inner
      span.amount= amount
    .jackpot-title-block
      .jackpot-title
        span.title-jackpot-type= name
    .min-bet-block= `play ${jp.minBetAmount} up`
