mixin jackpot_mobile_block(content)
  .jackpot-mobile-container(
        className=`jp-theme-${content.jackpots.theme} jackpot-mobile-container--${content.jackpotsList.length} ${content.appSettings.newMobileJackpots ? 'mobile-jp-new' : ''}`
    )
    each jp in content.jackpotsList
      +jackpot_mobile(jp, jp.name, jp.currency, jp.currencyFormattingFn(jp.amountNumber), jp.minBetAmount, content.t("ui-jackpot"), content)

mixin jackpot_mobile(jp, name, currency, amount, minBetAmount, typeText, content)
  a(
    href=content.l('/jackpot')
    class=`block block--hero block--jackpot-mobile block--jackpot-mobile_${content.jackpots.getJackpotClass()} ${content.jackpots.getThemeColor(jp)}`
  )
    img.block--jackpot-mobile-img.block--jackpot-mobile-img-1(src=content.jackpots.getMobileJackpotLink(jp, 1))
    img.block--jackpot-mobile-img.block--jackpot-mobile-img-2(src=content.jackpots.getMobileJackpotLink(jp, 2))
    img.block--jackpot-mobile-img.block--jackpot-mobile-img-3(src=content.jackpots.getMobileJackpotLink(jp, 3))
    img.block--jackpot-mobile-img.block--jackpot-mobile-img-4(src=content.jackpots.getMobileJackpotLink(jp, 4))
    img.block--jackpot-mobile-img.block--jackpot-mobile-img-5(src=content.jackpots.getJackpotLinkWithoutSlider(jp, 1))
    .block-inner
      span.amount= amount
    .min-bet-block= `play ${content.jackpots.zeroReplacingFn(minBetAmount)} up`
    .jackpot-title-block
      .jackpot-title
        if !content.appSettings.newMobileJackpots
          span.title-jackpot-type= name
