include game-item

mixin jackpot_winners_list(content, winners)
    .jackpot-page-winners-list
        h2.jackpot-page-winners-title=content.t('ui-last-jackpot-winners')
        each winner in winners
            .jackpot-page-winners-item(key=winner.idString)
                .jackpot-page-winners-image
                    img.jackpot-page-winners-image-img(src=winner.image)
                .jackpot-page-winners-meta
                    .jackpot-page-winners-amount=winner.amountString
                    .jackpot-page-winners-user=winner.user
                    .jackpot-page-winners-date=content.format(winner.date, 'dd LLL yyyy HH:mm:ss')
                    if winner.jackpotName && winner.jackpotStyle
                        .jackpot-page-type-item(className=winner.jackpotStyle)
                            .jackpot-page-type-item-name=winner.jackpotName
                            .jackpot-page-type-item-icon
