include numpad

mixin login_cashier(content)
	.page.page-generated-login
		.wrapper.wrapper-table
			.wrapper-cell
				.content(ref=content.makeRef('wrapper') data-viewport-width=content.viewport.width)
					.generated-login-logo
						if content.site.isAccessRestricted
							img.generated-login-logo__img(src=content.g('%LOGO%'))
						else
							a(href=content.l('/'))
								img.generated-login-logo__img(src=content.g('%LOGO%'))
					form.generated-login-form
						.generated-login-form__col
							.form-group
								input(
									type='tel'
									class=(content.loginForm.generatedLoginError ? 'form-control error' : 'form-control')
									placeholder=content.t('ui-login-enter-generated-login')
									ref=content.makeRef('generatedLogin')
									id='generated-login'
									name='generatedLogin'
									spellCheck='false'
									disabled=content.loginForm.loading
									autoFocus=true
									autoCorrect="false" autoCapitalize="off"
									maxLength='6'
									pattern='[0-9]*'
									autoComplete="false"
									onKeyDown=content.preventTextInput
									onChange=content.loginForm.resetField
									inputMode='numeric'
									onKeyPress=content.loginForm.preventNotNumberInput
								)
								if content.loginForm.generatedLoginError
									div.form-label-error= content.loginForm.generatedLoginError
							.form-group
								input(
									type=(content.loginForm.showCashierPasswordInputAsTel ? 'tel' : 'password')
									class=(content.loginForm.passwordError ? 'form-control error' : 'form-control')
									placeholder=content.t('ui-login-enter-password')
									disabled=content.loginForm.loading
									ref=content.makeRef('loginPassword')
									id='generated-password'
									name='password'
									maxLength='6'
									pattern='[0-9]*'
									autoComplete='current-password'
									onKeyPress=content.loginForm.preventNotNumberInput
									inputMode='numeric'
								)
								if content.loginForm.loginError
									div.form-label-error= content.loginForm.loginError
								else if content.loginForm.passwordError
									div.form-label-error= content.loginForm.passwordError
						.generated-login-form__col
							+numpad(content)