mixin main_menu(content, isMobile)
  .main-menu(class=isMobile ? "main-menu--mobile" : "main-menu--desktop")
    ul
      each item in content.mainMenu.displayedItems
        if (isMobile && item.id === "logout")
          li.empty_mobile-menu
        else
          li(class=item.isHovered ? "main-menu__li--hovered" : "" key=item.id onMouseEnter=item.onMouseEnter onMouseLeave=item.onMouseLeave)
            +main_menu_item(content, item)
            if item.isWithChildren
              .main-menu__children
                each child in item.children
                  .main-menu__child
                    +main_menu_item(content, child)

mixin main_menu_item(content, item)
  if item.external
    a(href=item.url class=item.classNames onClick=item.onClick download external="true" target="_blank")=item.name[content.language]
  else if item.isUrlStartsWithHttp
    a(href=content.l(item.url) class=item.classNames onClick=item.onClick external="true" target="_blank")=item.name[content.language]
  else
    a(href=content.l(item.url) class=item.classNames onClick=item.onClick)=item.name[content.language]
  if item.isNew
    .main-menu-new=content.t('ui-new')
  if item.counter !== null
    .main-menu-bonuses-count(className=item.id === 'tournaments-info' ? 'tournaments-counter' : '')=item.counter