include ../components/user/modal-auth
include ../payment-systems/modal/modal-refill-wecashup
include ../payment-systems/modal/modal-refill-wallettec
include ../payment-systems/modal/modal_revoke_withdrawal_confirmation
include ../components/authorization/modal-authorization
include ../components/authorization/one-click-registration-success
include ../components/authorization/anonymous-registration-success
include ../components/authorization/multi-login-form
include ../components/authorization/modal_authorization_v3
include ../components/guest-popup/guest-popup-winners
include ../components/guest-popup/guest-popup-jackpot
include ../components/guest-popup/guest-popup-bonuses
include ./modal/game-requires-another-currency
include ./modal/game-requires-login
include ./modal/auto-logout-after-idle
include ./modal/keep-alive-ping
include ./modal/ref-invite-form
include ./modal/ref-invite-was-sent
include ./final-bonuses/index
include ./daily-bonus/index
include ./modal/wager-bonus
include ./modal/apk-android-bonus
include ./modal/positive-reg-wager-bonus-closing
include ../pages/freespins-shop
include ../payment-systems/modal/modal-refill-coin-payments-crypto
include ../components/authorization/social-sign-up-modal
include ./modal/refill-and-redeem
include ./modal/low-balance-popup
include ./modal/skycrypto-withdrawal
include ./modal/balance-wager-bonus
include ./modal/wrong-promo-code
include ./modal/ios-safari-add-to-homescreen
include ./modal/confirm-cashapp-phone
include ./modal/bonus-by-code-with-req-deps
include ./modal/non-taken-spins-games

mixin modal(content)
    if content.site.isIOSAddToHomescreenActive
        +ios_safari_add_to_homescreen(content)

    if content.modal.activeModal === content.enums.modal.JACKPOT_WINNER
        +modal_jackpot_winner_content(content)
        ModalJackpot(
            appState=content
            viewport=content.viewport
            winner=content.jackpotWinners.winner
        )

    if content.modal.activeModal === content.enums.modal.ONE_CLICK_REGISTRATION_SUCCESS
        +one_click_registration_success(content)

    if content.modal.activeModal === content.enums.modal.ANONYMOUS_REGISTRATION_SUCCESS
        +anonymous_registration_success(content)

    if content.modal.activeModal === content.enums.modal.AUTHORIZED_CONFIRMATION
        +modal_authorized_confirmation(content)

    if content.modal.activeModal === content.enums.modal.CONFIRM_PHONE || content.modal.activeModal === content.enums.modal.CONFIRM_EMAIL
        +modal_confirm_email_or_phone(content)

    if content.modal.activeModal === content.enums.modal.DO_CONFIRM_EMAIL
        +modal_registration_confirm_email_form(content)

    if content.modal.activeModal === content.enums.modal.DO_RESTORE_PASSWORD_BY_MAIL
        +modal_registration_restore_by_email_form(content)

    if content.modal.activeModal === content.enums.modal.LOGIN || content.modal.activeModal === content.enums.modal.REGISTER
        if content.social.socialRegistration
            +social_sign_up_modal(content)
        else if content.desktopAuthMode
            +multi_login_form(content)
        else if content.appSettings.registerForm && content.appSettings.registerForm.formVersion === 'v2'
            +modal_authorization(content)
        else if content.appSettings.registerForm && content.appSettings.registerForm.formVersion === 'v3'
            +modal_authorization_v3(content)
        else
            +modal_login_or_register(content)

    if content.modal.activeModal === content.enums.modal.GENERATED_LOGIN
        +modal_generated_login(content)

    if content.modal.activeModal === content.enums.modal.REGISTRATION_SECOND_STEP
        +modal_registration_second_step(content)

    if content.modal.activeModal === content.enums.modal.RESTORE
        +modal_restore(content)

    if content.modal.activeModal === content.enums.modal.ERROR_500
        +modal_error_500(content)

    if content.modal.activeModal === content.enums.modal.CONFIRM_REFUSE_BONUS
        +modal_confirm_refuse_bonus(content)

    if content.modal.activeModal === content.enums.modal.CONFIRM_REFUSE_WAGER_BONUS
        +modal_confirm_refuse_wager_bonus(content)

    if content.modal.activeModal === content.enums.modal.GAME_EMBED_ERROR
        +modal_game_embed_error(content)

    if content.modal.activeModal === content.enums.modal.PAYWAY_WECASHUP_REFILL_FORM
        +modal_refill_wecashup(content)

    if content.modal.activeModal === content.enums.modal.REFILL_WALLETTEC_INFO
        +modal_refill_wallettec(content)

    if content.modal.activeModal === content.enums.modal.SESSION_STARTED_ON_DIFFERENT_DEVICE
        +modal_session_started_on_different_device(content)

    if content.modal.activeModal === content.enums.modal.AUTO_LOGOUT_AFTER_IDLE
        +modal_auto_logout_after_idle(content)

    if content.modal.activeModal === content.enums.modal.KEEP_ALIVE_PING
        +modal_keep_alive_ping(content)

    if content.modal.activeModal === content.enums.guestPopup.WINNERS
        +guest_popup_winners(content)

    if content.modal.activeModal === content.enums.guestPopup.JACKPOT
        +guest_popup_jackpot(content)

    if content.modal.activeModal === content.enums.guestPopup.BONUSES
        +guest_popup_bonuses(content)

    if content.modal.activeModal === content.enums.modal.FINAL_BONUSES
        +final_bonuses_list(content)

    if content.modal.activeModal === content.enums.modal.FINAL_BONUS
        +final_bonus(content, content.finalBonuses.finalBonus)
        
    if content.modal.activeModal === content.enums.modal.DAILY_BONUS
        +daily_bonus(content)
    if content.modal.activeModal === content.enums.modal.FREESPIN_BUY
        +freespin_buy_modal(content)
    

    if content.modal.activeModal === content.enums.modal.WAGER_BONUS
        +wager_bonus(content)

    if content.modal.activeModal === content.enums.modal.WAGER_BONUS_CONFIRMATION
        +wager_bonus_confirmation(content)

    if content.modal.activeModal === content.enums.modal.APK_ANDROID_BONUS
        +apk_android_bonus(content)

    if content.modal.activeModal === content.enums.modal.REF_INVITE_FORM
        +modal_ref_invite_form(content)

    if content.modal.activeModal === content.enums.modal.REF_INVITE_WAS_SENT
        +modal_ref_invite_was_sent(content)

    if content.modal.activeModal === content.enums.modal.GAME_REQUIRES_ANOTHER_CURRENCY
        +modal_game_requires_another_currency(content)

    if content.modal.activeModal === content.enums.modal.GAME_REQUIRES_LOGIN
        +modal_game_requires_login(content)
    
    if content.modal.activeModal === content.enums.modal.PAYWAY_COIN_PAYMENTS_CRYPTO_REFILL_FORM
        +modal_refill_coin_payments_crypto(content)

    if content.modal.activeModal === content.enums.modal.POSITIVE_REG_WAGER_BONUS_CLOSING
        +positive_reg_wager_bonus_closing(content)
    
    if content.modal.activeModal === content.enums.modal.LOGIN_BY_PHONE
        +modal_authorization_v3(content)
    
    if content.modal.activeModal === content.enums.modal.REFILL_REDEEM
        +refill_redeem(content)
    
    if content.modal.activeModal === content.enums.modal.LOW_BALANCE_POPUP
        +low_balance_popup(content)

    if content.modal.activeModal === content.enums.modal.REVOKE_WITHDRAWAL_CONFIRMATION
        +modal_revoke_withdrawal_confirmation(content)
        
    if content.modal.activeModal === content.enums.modal.WITHDRAWAL_LINK_MODAL_SKYCRYPTO
        +skycrypto_withdrawal(content)
    
    if content.modal.activeModal === content.enums.modal.BALANCE_WAGER_BONUS
        +balance_wager_bonus(content)

    if content.modal.activeModal === content.enums.modal.WRONG_PROMO_CODE
        +modal_wrong_promo_code(content)

    if content.modal.activeModal === content.enums.modal.CONFIRM_CASHAPP_PHONE
        +modal_confirm_cashapp_phone(content)

    if content.modal.activeModal === content.enums.modal.BONUS_BY_CODE_WITH_REQ_DEPS
        +bonus_by_code_with_req_deps(content)
    
    if content.modal.activeModal === content.enums.modal.NON_TAKEN_SPINS_GAMES
        +modal_non_taken_spins_games(content)

    if content.modal.activeModal
        .modal-backdrop.in(className=[
            content.enums.modal.REF_INVITE_FORM,
            content.enums.modal.REF_INVITE_WAS_SENT
        ].includes(content.modal.activeModal) ? "modal-backdrop--new" : "")

mixin modal_jackpot_winner_content(content)
    .modal-jackpot(ref=content.makeRef("modal-jackpot"))
        .modal-jackpot__backdrop
        .modal-jackpot__content(ref=content.makeRef("modal-jackpot-content"))
            .jackpot-winner-container
                .jackpot-winner--bg
                .jackpot-winner
                    .jackpot-winner__img-bg
                    .jackpot-winner__img
                    h2.jackpot-winner__info_title= content.jackpotWinners.winner.title
                    .jackpot-winner__info_caption= content.jackpotWinners.winner.jackpotCaption
                    .jackpot-winner__info_amount= content.jackpotWinners.winner.formattedAmount
                    .jackpot-winner__btn-container
                        button.btn-vl.jackpot-winner__btn(onClick=content.jackpotWinners.onModalJackpotClose data-big-win-notification-id=content.jackpotWinners.winner.notificationId)
                            span=content.t("ui-play-on")

mixin modal_confirm_email_or_phone(content)
    .modal.sm.in.confirm
        .modal-dialog
            .modal-content
                a.modal-close(href="#", onClick=content.user.hideAuth)
                    span.icon.icon-close
                if content.modal.activeModal === content.enums.modal.CONFIRM_PHONE
                    .modal-title= content.t("ui-confirm-phone")
                    +modal_registration_confirm_phone_content(content)
                else if content.modal.activeModal === content.enums.modal.CONFIRM_EMAIL
                    .modal-title= content.t("ui-confirm-email")
                    +modal_registration_confirm_email_content(content)

mixin modal_login_or_register(content)
    .modal.sm.in#auth
        .modal-dialog
            .modal-content
                if !content.appSettings.onlyAuthUserAccess
                  a.modal-close(href="#" onClick=content.user.hideAuthWithoutRedirect)
                    span.icon.icon-close
                .modal-logo
                    img(src="/images/logo-2.svg", alt="LOGO")
                .modal-tabs-navi
                    ul
                        li(class=content.modal.activeModal === content.enums.modal.LOGIN ? "active" : "")
                            a(onClick=content.modal.showLogin href=content.l("/login"))= content.t("ui-login")
                        li(class=content.modal.activeModal === content.enums.modal.REGISTER ? "active" : "")
                            a(onClick=content.modal.showRegister href=content.l("/register"))= content.t("ui-register")
                .modal-tabs-content
                    if content.modal.activeModal === content.enums.modal.LOGIN
                        +modal_login_content(content)
                    if content.modal.activeModal === content.enums.modal.REGISTER
                        +modal_registration_first_step_content(content)

mixin modal_generated_login(content)
    .modal.sm.in#auth-by-login
        .modal-dialog
            .modal-content
                a.modal-close(href="#", onClick=content.user.hideAuthWithoutRedirect)
                    span.icon.icon-close
                .modal-title= content.t("ui-login")
                +signin_by_generated_login_content(content)

mixin modal_restore(content)
    .modal.sm.in#reset_pass
        .modal-dialog
            .modal-content
                a.modal-close(href="#" onClick=content.user.hideAuthWithoutRedirect)
                    span.icon.icon-close
                .modal-title= content.t("ui-restore-password")
                +modal_reset_content(content)

mixin modal_error_500(content)
    .modal.sm.in#auth
        .modal-dialog
            .modal-content
                .modal-title= content.t("error-server-caption") + " - 500"
                .error-500-content
                    p= content.t("error-server-desc-with-support", {"site-name": content.site.siteName})
                    .modal-content-buttons
                        a.btn.btn-pr.btn-reload(onClick=content.site.reloadPage)= content.t("ui-reload")
                        if content.chat.active
                            a.btn.btn-pr.btn-secondary(onClick=content.site.supportBtnClick)= content.t("ui-support")

mixin modal_confirm_refuse_bonus(content)
    .modal.sm.in.confirm.confirm-refuse-bonus
        .modal-dialog
            .modal-content
                a.modal-close(href="#", onClick=content.profileBonuses.hideRefuseModal)
                    span.icon.icon-close
                .modal-title= content.t("disclaimer-caption-refuse-confirmation")
                .modal-form.bonus-refuse-confirmation
                    if content.profileBonuses.bonusToConfirmAction
                        form
                            if content.profileBonuses.bonusToConfirmAction
                                if content.profileBonuses.bonusToConfirmAction.state === content.enums.bonusState.BS_WAGERING
                                    p.bonus-refuse-confirmation-disclaimer= content.t("disclaimer-bonus-caption-refuse")
                                else
                                    p.bonus-refuse-confirmation-disclaimer= content.t("disclaimer-caption-refuse")
                            if content.profileBonuses.bonusCorrection
                                p.bonus-refuse-confirmation-disclaimer(dangerouslySetInnerHTML={__html: content.t("ui-balance-after-bonus-cancellation", {
                                        "balance": content.money.formatCurrencyAmount(content.profileBonuses.bonusCorrection.balanceAfter, content.profileBonuses.bonusCorrection.currency),
                                    })
                                })
                            .submit-line.vertical
                                button.btn.btn-secondary(onClick=content.profileBonuses.onRefuseBonus className=content.profileBonuses.isAnyActionLoading() ? 'btn--loading': undefined)= content.t("ui-bonus-alert-confirm-decline")
                                button.btn.btn-pr(onClick=content.profileBonuses.hideRefuseModal className=content.profileBonuses.isAnyActionLoading() ? 'btn--disabled': undefined)= content.t("ui-bonus-alert-close")

mixin modal_confirm_refuse_wager_bonus(content)
    .modal.sm.in.confirm.confirm-refuse-bonus
        .modal-dialog
            .modal-content
                a.modal-close(href="#", onClick=content.modal.hideModal)
                    span.icon.icon-close
                .modal-title= content.t("ui-confirmation-title")
                .modal-form.bonus-refuse-confirmation
                    if content.wagerBonus.cancelCorrection
                        form
                            p.bonus-refuse-confirmation-disclaimer= content.t("disclaimer-bonus-caption-refuse")
                            p.bonus-refuse-confirmation-disclaimer(dangerouslySetInnerHTML={__html: content.t("ui-balance-after-bonus-cancellation", {
                                    "balance": content.money.formatCurrencyAmount(content.wagerBonus.cancelCorrection.balanceAfter, content.wagerBonus.cancelCorrection.currency),
                                })
                            })
                            .submit-line
                                button.btn.btn-secondary(onClick=content.wagerBonus.tryCancelBonus className=content.wagerBonus.waitingAnyActions ? 'btn--loading': undefined)= content.t("ui-bonus-alert-decline-confirm")
                                button.btn.btn-pr(onClick=content.modal.hideModal className=false ? 'btn--disabled': undefined)= content.t("ui-close")


mixin modal_game_embed_error(content)
    .modal.sm.in
        .modal-dialog
            .modal-content
                .modal-title= content.t("error-server-caption")
                .modal-error-content
                    if content.games.launchGameError
                        p(dangerouslySetInnerHTML={
                            __html: content.t(content.games.launchGameError, {
                                "site-name": content.site.siteName
                            })
                        })
                        if content.games.supportedCurrenciesForRunningGame
                            p= content.t("ui-supported-currencies", {"supported-currencies": content.games.supportedCurrenciesForRunningGame.join(', ')})
 
                        .modal-content-buttons
                            a.btn.btn-pr(onClick=content.user.hideModalAndOpenMainPage href=content.l("/"))= content.t("ui-to-main")
                            if content.chat.active
                                a.btn.btn-pr.btn-secondary(onClick=content.site.supportBtnClick)= content.t("ui-support")
                        
                        if content.games.popularAvailableGames.length
                            .modal-content-games-title= content.t("ui-modal-error-game-suggestion-title")
                        .modal-content-games
                            each game in content.games.popularAvailableGames.slice(0,3)
                                +game_item(content, game)   
                    else
                        p= content.t(content.games.launchGameProviderError, {"site-name": content.site.siteName}) + " "
                        if content.games.supportedCurrenciesForRunningGame
                            p= content.t("ui-supported-currencies", {"supported-currencies": content.games.supportedCurrenciesForRunningGame.join(', ')})
                            if content.chat.active
                                a(onClick=content.site.supportBtnClick, href="#")= content.t("support_accusative_case") + "."
                        a.btn.btn-pr.btn-reload(onClick=content.site.reloadPage)= content.t("ui-reload")

mixin modal_session_started_on_different_device(content)
    .modal.sm.in
        .modal-dialog
            .modal-content
                .modal-title= content.t("ui-login")
                .modal-error-content
                    h3(dangerouslySetInnerHTML={
                            __html: content.t('ui-session-started-on-different-device')
                        })
                    .modal-content-buttons
                        a.btn.btn-pr(onClick=content.user.redirectToLoginAfterLogout)= content.t("ui-login")
                        a.btn.btn-pr.btn-secondary(onClick=content.user.redirectToMainPageOrRefreshGamePageAfterLogout)= content.t("ui-close")
