include ./notifications/notification-jackpot
include ./notifications/notification-card-invite-friend
include ./notifications/notification-card-invite
include ./notifications/notification-bonus-default
include ./notifications/notification-bonus-usa-ref
include ./notifications/notification-bonus-with-add-button
include ./notifications/notification-bonus-timeline-cashback

mixin notifications(content)
    .notification-manager(data-viewport-width=content.viewport.width)
        if content.bonusesInfo && content.bonusesInfo.notifications
            +bonus_notification(content)
        if content.jackpotNotifications.activeNotification
            +notification_jackpot(content)
        WebpushNotifications(appState=content)

mixin bonus_notification(content)
    each notification in content.bonusesInfo.notifications
        if notification.type === content.enums.bonusType.USA_REF_INVITEE_BY_CASHIER
            if !!notification.cashierInviteMeta && notification.cashierInviteMeta.type === content.proto.users.invitations.InvitationMessageMeta.InvitationSenderType.FROM_PLAYER
                +notification_card_invite_friend(
                    content,
                    notification,
                    notification.cashierInviteMeta
                )
            else
                +notification_card_invite(
                    content,
                    notification,
                    notification.cashierInviteMeta
                )
        else if notification.type === content.enums.bonusType.USA_REF_INVITEE || notification.type === content.enums.bonusType.USA_REF_INVITER
            +notification_bonus_usa_ref(content, notification)
        else if notification.bonusCodeMeta.bonus_type === content.enums.bonusType.NO_DEPOSIT_BY_CODE_BALANCE_WAGER || notification.bonusCodeMeta.bonus_type === content.enums.bonusType.APK_BONUS || notification.bonusCodeMeta.bonus_type === content.enums.bonusType.EXTERNAL_PROMO
            +notification_bonus_with_add_button(content, notification)
        else if notification.bonusCodeMeta.bonus_type === content.enums.bonusType.TIMELINE_CASHBACK
            +notification_bonus_timeline_cashback(content, notification)
        else
            +notification_bonus_default(content, notification)
