mixin numpad(content)
    .numpad-container
        ul.numpad.clearfix
            each val in ['7', '8', '9', '4', '5', '6', '1', '2' ,'3', '0']
                li.numpad__item
                    div.numpad__key(onMouseDown=content.numPad.numPadTriggerKey data-key=val)= val
            li.numpad__item.numpad__item_clear
                div.numpad__key(onMouseDown=content.numPad.numPadBackspace)= '<'
            li.numpad__item.numpad__item_cancel
                div.numpad__key(onMouseDown=content.numPad.numPadCancel)= 'C'
        .submit-line
            button.btn.btn-pr.generated-login__btn(onClick=content.user.tryLoginUsingGeneratedLogin disabled=content.loginForm.loading)= content.t('ui-login')