mixin numpad_controlled(onInput, onBackspace, onClear)
    .numpad-container
        ul.numpad.clearfix
            each val in ['7', '8', '9', '4', '5', '6', '1', '2' ,'3', '0']
                li.numpad__item
                    .numpad__key(onMouseDown=() => onInput(val) data-key=val)=val
            li.numpad__item.numpad__item_clear
                .numpad__key(onMouseDown=onBackspace)='<'
            li.numpad__item.numpad__item_cancel
                .numpad__key(onMouseDown=onClear)='C'
