mixin phone_code_controlled(content, code, disabled, onChange, onFocus, onBlur, className, length)
    NumberFormat(
        className=className
        value=code
        onValueChange=onChange
        format=('#'.repeat(length))
        mask="_"
        placeholder=('_'.repeat(length))
        spellCheck="false"
        autoCorrect="false"
        autoCapitalize="off"
        autoComplete="one-time-code"
        autoFocus="autofocus"
        pattern="[0-9]*"
        inputMode="numeric"
        onFocus=onFocus
        onBlur=onBlur
    )