mixin phone(content, countryValue, phoneValue, countryRef, phoneRef, placeholder, disabled, onChange, countryOptions)
    div.phone
        .custom-select
            select.form-control(
                ref=content.makeRef(countryRef)
                name="country"
                defaultValue=(countryValue || (countryOptions && countryOptions.length ? countryOptions[0].value : null) || content.site.getDefaultCountry())
                disabled=disabled
                onChange=onChange
            )
                if countryOptions
                    each op in countryOptions
                        option(key=op.key value=op.value)=op.key
                else
                    each country in content.site.getCountries()
                        option(value=country.code) +#{country.phoneCode} (#{country.code})
        input(
            ref=content.makeRef(phoneRef)
            class="phone-input"
            type="tel"
            id="username-phone"
            name="username-phone"
            placeholder=placeholder
            autoComplete="username-phone"
            defaultValue=phoneValue
            pattern="[0-9]*"
            spellCheck="false"
            disabled=disabled
            onChange=onChange
            onKeyDown=content.user.preventTextInput
        )
