mixin phone_controlled(content, countryValue, phoneValue, phoneMask, placeholder, disabled, onChange, onSelectChange, onFocus, onBlur, onKeyPress, onKeyDown)
    if !content.site.hidePhoneCodeSelectWhenSingleCountry
        .phone-country-picker-container
            select.phone-country-picker(name="country" value=countryValue disabled=disabled onChange=onSelectChange)
                each country in content.site.getCountries()
                    option(value=country.code) +#{country.phoneCode} (#{country.code})
    NumberFormat(
        type="tel"
        className=(content.site.hidePhoneCodeSelectWhenSingleCountry ? "tel-input tel-input--without-code" : "tel-input")
        value=phoneValue
        onValueChange=onChange
        format=phoneMask
        mask="_"
        placeholder=placeholder
        spellCheck="false"
        autoCorrect="false"
        autoCapitalize="off"
        autoComplete="false"
        disabled=disabled
        onFocus=onFocus
        onBlur=onBlur
        onKeyPress=onKeyPress
        onKeyDown=onKeyDown
    )
