
mixin recommended_games(content)
    .recommended-games
        h3.recommended-games-title= content.t('ui-recommended-games')
        if content.games.isTopGamesLoading
            .recommended-games-loader
                +loader
        else
            .games-list.recommended-games-list(className=content.games.view ? `games-list-items-size--${content.games.view}` : '')
                if content.appSettings.games.useOptimizedGamesGrid
                    OptimizedGamesGrid(content=content, games=content.games.recommendedToFavoritesGames, gamesMeta=content.gameMetaIconActions.gamesMeta, view=content.games.view)
                else
                    each game in content.games.recommendedToFavoritesGames
                        +game_item(content, game)
