mixin seo_text(content)
    .promo
        .promo__container
            h1.promo__title= content.t("whitelabel-seo-text-1", {"site-name": content.site.siteName})
            p.promo__text= content.t("whitelabel-seo-text-2", {"site-name": content.site.siteName})
            p.promo__text= content.t("whitelabel-seo-text-3", {"site-name": content.site.siteName})
            h2.promo__heading= content.t("whitelabel-seo-text-4", {"site-name": content.site.siteName})
            p.promo__text= content.t("whitelabel-seo-text-5", {"site-name": content.site.siteName})
            ul.promo__list.promo__list--unordered
                li= content.t("whitelabel-seo-text-6", {"site-name": content.site.siteName})
                li= content.t("whitelabel-seo-text-7", {"site-name": content.site.siteName})
                li= content.t("whitelabel-seo-text-8", {"site-name": content.site.siteName})
                li= content.t("whitelabel-seo-text-9", {"site-name": content.site.siteName})
                li= content.t("whitelabel-seo-text-10", {"site-name": content.site.siteName})
            p.promo__text= content.t("whitelabel-seo-text-11", {"site-name": content.site.siteName})
            p.promo__text= content.t("whitelabel-seo-text-12", {"site-name": content.site.siteName})
            h2.promo__heading= content.t("whitelabel-seo-text-13", {"site-name": content.site.siteName})
            p.promo__text= content.t("whitelabel-seo-text-14", {"site-name": content.site.siteName})
            ol.promo__list.promo__list--ordered
                li= content.t("whitelabel-seo-text-15", {"site-name": content.site.siteName})
                li= content.t("whitelabel-seo-text-16", {"site-name": content.site.siteName})
                li= content.t("whitelabel-seo-text-17", {"site-name": content.site.siteName})
                li= content.t("whitelabel-seo-text-18", {"site-name": content.site.siteName})
                li= content.t("whitelabel-seo-text-19", {"site-name": content.site.siteName})
                li= content.t("whitelabel-seo-text-20", {"site-name": content.site.siteName})
                li= content.t("whitelabel-seo-text-21", {"site-name": content.site.siteName})
                li= content.t("whitelabel-seo-text-22", {"site-name": content.site.siteName})
                li= content.t("whitelabel-seo-text-23", {"site-name": content.site.siteName})
                li= content.t("whitelabel-seo-text-24", {"site-name": content.site.siteName})
            p.promo__text= content.t("whitelabel-seo-text-25", {"site-name": content.site.siteName})
