include blocks
include ../common/loader

mixin sport2_block(content)
  div.sport2-block-container(style="height: content.games.heightSport2")
    GameScreen(
        appState=content
        viewport=content.viewport
        runningGame=content.runningGameStore.runningGame
        proportionSize=content.runningGameStore.gameScreenSize
        iframe=content.runningGameStore.iframe
        rawHTML=content.runningGameStore.rawHTML
        sport2=true
    )
        +loader_with_logo(content)
