mixin timeline_cashback_bonus_block(content)
    if content.timelineCashbackBonus.settings && content.timelineCashbackBonus.settings.levels && content.timelineCashbackBonus.settings.currentLevelIndex !== undefined
        a.timeline-cashback-bonus-block-container(href=content.l('/timeline-cashback'))
            .timeline-cashback-bonus-block(class=content.timelineCashbackBonus.cashbackLevelType)
                .progress-block
                    .circle-container
                        .circle-progress-cashback(class=content.timelineCashbackBonus.circleProgressClass)
                            .left
                            .right(style="transform: content.timelineCashbackBonus.circleProgressRightStyle")
                            img.circle-image(src=content.timelineCashbackBonus.circleImageSrc)
                    .info-block
                        .bonus-level-type=content.timelineCashbackBonus.cashbackLevelType
                        .points-block
                            if content.timelineCashbackBonus.currentLevel && content.timelineCashbackBonus.currentLevel.maxPoints
                                .points=content.timelineCashbackBonus.settings.currentPoints + '/' + content.timelineCashbackBonus.currentLevel.maxPoints
                            else
                                .points=content.timelineCashbackBonus.settings.currentPoints
                            .text=content.t('ui-points')
                .content-block
                    .info-container
                        .bonus-level-type=content.timelineCashbackBonus.cashbackLevelType
                        .info-block
                            .your-cashback
                                .label=`${content.t('ui-your-cashback')}:`
                                .value=`${content.timelineCashbackBonus.currentLevelPercent ? content.timelineCashbackBonus.currentLevelPercent : ''}%`
                            .points-accumulating
                                .label=`${content.t('ui-points-accumulating')}:`
                                .value(className=content.timelineCashbackBonus.settings.pointsAccumulating ? 'green' : 'red')=content.timelineCashbackBonus.settings.pointsAccumulating ? content.t('ui-yes') : content.t('ui-no')
                        .available-cashback
                            .label=`${content.t('ui-available-cashback')}:`
                            .value=content.timelineCashbackBonus.settings.currentCashback ? content.timelineCashbackBonus.settings.currentCashback : ''
                    .right-icon-container
                        .arrow-right-icon
