
mixin timeline_cashback_short_menu(content)
  if content.timelineCashbackBonus.settings && content.timelineCashbackBonus.settings.levels && content.timelineCashbackBonus.settings.currentLevelIndex !== undefined
    a.short-menu__timeline-cashback(href=content.l('/timeline-cashback'))
      .cashback-info=`${content.timelineCashbackBonus.settings.currentCashback}`
      .short-menu-circle-container
          .short-menu-circle-progress-cashback(class=content.timelineCashbackBonus.circleProgressClass)
              .left
              .right(style="transform: content.timelineCashbackBonus.circleProgressRightStyle")
              img(src="/images/timeline-cashback/crown.svg")
