
mixin tournaments_list(content)
    if content.tournamentsInfoActions.tournaments.length === 0
        .tournaments-list--empty
          h1.tournaments-list__caption=content.t('ui-tournaments-empty-category-title')
    else
        .tournaments-list
            each tournament in content.tournamentsInfoActions.tournaments
                +tournament_item(content, tournament)


mixin tournament_item(content, tournament)
    if tournament
        .tournaments-item(key=tournament.uuid onClick=() =>content.tournamentsInfoActions.goToTournamentGames(tournament.tournamentId))
            .tournaments-item__img-container
                OptimizedGameImage(src="/images/tournament-list-item.png" gameName="tournament" appState=content)
                .tournaments-item__places
                  .place.place-2
                    .place-bar
                      .place="2nd"
                      .prize=tournament.prizePlacesFormatted && tournament.prizePlacesFormatted[2] ? tournament.prizePlacesFormatted[2] : null
                  .place.place-1
                    .place-bar
                      .place="1st"
                      .prize=tournament.prizePlacesFormatted && tournament.prizePlacesFormatted[1] ? tournament.prizePlacesFormatted[1] : null
                  .place.place-3
                    .place-bar
                      .place="3th"
                      .prize=tournament.prizePlacesFormatted && tournament.prizePlacesFormatted[3] ? tournament.prizePlacesFormatted[3] : null
            .tournaments-item__title
                if tournament.tournamentMeta && tournament.tournamentMeta.tournamentTitle
                  .tournaments-item__name=tournament.tournamentMeta.tournamentTitle
                .tournaments-item__time
                  div=content.t('prize-time')
                  div=tournament.timeToPrizeFormatted
                .tournaments-item__btn= content.t("ui-join-for-free")
