
mixin tournament_info_block(content, tournament)
  .tournament-info-block-container
    .tournament-info-block(onClick=() => content.tournamentsInfoActions.goToTournamentGames(tournament.tournamentId))
      .prizes-block
        .title=content.t('ui-prizes')
        .places-container
          .place.place-2
            .place-bar
              .place="2nd"
              .prize=tournament.prizePlacesFormatted && tournament.prizePlacesFormatted[2] ? tournament.prizePlacesFormatted[2] : null
          .place.place-1
            .place-bar
              .place="1st"
              .prize=tournament.prizePlacesFormatted && tournament.prizePlacesFormatted[1] ? tournament.prizePlacesFormatted[1] : null
          .place.place-3
            .place-bar
              .place="3th"
              .prize=tournament.prizePlacesFormatted && tournament.prizePlacesFormatted[3] ? tournament.prizePlacesFormatted[3] : null
      .content-block
        .info-block
          .tournament-name=tournament.tournamentMeta && tournament.tournamentMeta.tournamentTitle ? tournament.tournamentMeta.tournamentTitle : content.t('your-statistic')
          if tournament.current && tournament.current.place && tournament.current.score
            .your-place=content.t('your-place-is')
              span.bold-white=`${tournament.current && tournament.current.place ? tournament.current.place : '0'} ${content.t('ui-of')} ${tournament.participantsCount || 0}`
            .your-points=`${content.t('your-points')}:`
              span.bold-white=`${tournament.current && tournament.current.score ? tournament.current.score : '0'}`
            .first-place=`${content.t('first-place-points')}:`
              span.bold-white=`${tournament.leaders && tournament.leaders[0] && tournament.leaders[0].score ? tournament.leaders[0].score : '0'}`
          else
            .join-to-text=content.t('join-to-text')
        .right-icon-container
          .arrow-right-icon    