include game-item

mixin tournament_games_list(content)
    if content.tournamentsInfoActions.selectedTournamentGames.length === 0
        .games-list--empty
            h1.games-list__caption=content.t('ui-games-empty-category-title')
            div.games-list__description(dangerouslySetInnerHTML={ __html: content.t('ui-games-empty-category-description') })
    else
        .tournaments-list__games-title
          a.tournaments-list__games-title-btn(onClick=content.tournamentsInfoActions.goToTournamentsPage)=content.t('ui-back')
          h1.games-list__caption=content.tournamentsInfoActions.selectedTournament && content.tournamentsInfoActions.selectedTournament.tournamentMeta && content.tournamentsInfoActions.selectedTournament.tournamentMeta.tournamentTitle ? `${content.tournamentsInfoActions.selectedTournament.tournamentMeta.tournamentTitle} ${content.t('ui-games')}` : content.t('ui-tournament-games')
        .games-list
            each game in content.tournamentsInfoActions.selectedTournamentGames
              +game_item(content, game)

