.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1D2B3E;
  border-radius: 8px;
  width: 329px;
  height: 128px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.loading-spinner_nobg {
  background: none;
  position: static;
  transform: none;
  width: auto; }

.loading-spinner_title {
  color: white;
  font-size: 36px;
  font-family: Arial, sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase; }

.loading-spinner_indicator {
  display: inline-block;
  line-height: normal;
  background-image: url('data:image/svg+xml;utf8,<svg width="26" height="26" viewBox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Shape</title><desc>Created with Sketch.</desc><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="icon-star" transform="translate(-1.000000, 0.000000)" fill-rule="nonzero" fill="%23EF9A00"><path d="M18.766,15.687 L23.547,11.046 L16.953,10.077 L14,4.108 L11.047,10.077 L4.453,11.046 L9.234,15.687 L8.093,22.265 L13.999,19.156 L19.89,22.265 L18.766,15.687 Z M27,10.109 C27,10.39 26.797,10.656 26.594,10.859 L20.922,16.39 L22.266,24.202 C22.282,24.311 22.282,24.405 22.282,24.515 C22.282,24.937 22.095,25.296 21.641,25.296 C21.422,25.296 21.203,25.218 21.016,25.109 L14,21.422 L6.984,25.109 C6.781,25.218 6.578,25.296 6.359,25.296 C5.906,25.296 5.703,24.921 5.703,24.515 C5.703,24.406 5.719,24.312 5.734,24.202 L7.078,16.39 L1.39,10.859 C1.203,10.656 0.999,10.39 0.999,10.109 C0.999,9.64 1.483,9.453 1.874,9.39 L9.718,8.249 L13.234,1.14 C13.375,0.843 13.64,0.499 14,0.499 C14.36,0.499 14.625,0.843 14.766,1.14 L18.282,8.249 L26.126,9.39 C26.501,9.453 27.001,9.64 27.001,10.109 L27,10.109 Z" id="Shape"/></g></g></svg>');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 24px;
  height: 24px;
  opacity: 1;
  animation: loader 2.5s linear infinite;
  margin-left: 15px; }

.loading-spinner_indicator-first {
  margin-left: 0; }

.loading-spinner_indicator-second {
  animation-delay: .5s; }

.loading-spinner_indicator-third {
  animation-delay: 1s; }

.loading-spinner_indicator-fourth {
  animation-delay: 1.5s; }

.loading-spinner_indicator-fifth {
  animation-delay: 2s; }

@keyframes loader {
  0% {
    background-image: url('data:image/svg+xml;utf8,<svg width="26" height="26" viewBox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Shape</title><desc>Created with Sketch.</desc><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="icon-star_fill" transform="translate(-1.000000, 0.000000)" fill-rule="nonzero" fill="%23EF9A00"><path d="M27,10.109 C27,10.39 26.797,10.656 26.594,10.859 L20.922,16.39 L22.266,24.202 C22.282,24.311 22.282,24.405 22.282,24.515 C22.282,24.921 22.095,25.296 21.641,25.296 C21.422,25.296 21.203,25.218 21.016,25.109 L14,21.422 L6.984,25.109 C6.781,25.218 6.578,25.296 6.359,25.296 C5.906,25.296 5.703,24.921 5.703,24.515 C5.703,24.406 5.719,24.312 5.734,24.202 L7.078,16.39 L1.39,10.859 C1.203,10.656 0.999,10.39 0.999,10.109 C0.999,9.64 1.483,9.453 1.874,9.39 L9.718,8.249 L13.234,1.14 C13.375,0.843 13.64,0.499 14,0.499 C14.36,0.499 14.625,0.843 14.766,1.14 L18.282,8.249 L26.126,9.39 C26.501,9.453 27.001,9.64 27.001,10.109 L27,10.109 Z" id="Shape"/></g></g></svg>'); }
  40%,60%,80%,100% {
  background-image: url('data:image/svg+xml;utf8,<svg width="26" height="26" viewBox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Shape</title><desc>Created with Sketch.</desc><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="icon-star" transform="translate(-1.000000, 0.000000)" fill-rule="nonzero" fill="%23EF9A00"><path d="M18.766,15.687 L23.547,11.046 L16.953,10.077 L14,4.108 L11.047,10.077 L4.453,11.046 L9.234,15.687 L8.093,22.265 L13.999,19.156 L19.89,22.265 L18.766,15.687 Z M27,10.109 C27,10.39 26.797,10.656 26.594,10.859 L20.922,16.39 L22.266,24.202 C22.282,24.311 22.282,24.405 22.282,24.515 C22.282,24.937 22.095,25.296 21.641,25.296 C21.422,25.296 21.203,25.218 21.016,25.109 L14,21.422 L6.984,25.109 C6.781,25.218 6.578,25.296 6.359,25.296 C5.906,25.296 5.703,24.921 5.703,24.515 C5.703,24.406 5.719,24.312 5.734,24.202 L7.078,16.39 L1.39,10.859 C1.203,10.656 0.999,10.39 0.999,10.109 C0.999,9.64 1.483,9.453 1.874,9.39 L9.718,8.249 L13.234,1.14 C13.375,0.843 13.64,0.499 14,0.499 C14.36,0.499 14.625,0.843 14.766,1.14 L18.282,8.249 L26.126,9.39 C26.501,9.453 27.001,9.64 27.001,10.109 L27,10.109 Z" id="Shape"/></g></g></svg>'); } }
