@import "../swatches"
@import "../mixin"

@keyframes roll-up
  0%
    transform: translateY(-50%)
  100%
    transform: translateY(0)

@keyframes animateCardPopupShow
  0%
    transform: translateX(130%) rotate(-30deg)
  75%
    transform: translateX(-5%) rotate(5deg)
  100%
    transform: translateX(0)

@keyframes animateCardPopupHide
  0%
    transform: translateX(0)
  25%
    transform: translateX(-5%) rotate(5deg)
  100%
    transform: translateX(130%) rotate(-30deg)
