@import "../swatches.sass"
@import "../mixin.sass"

.button
  user-select: none
  vertical-align: middle
  white-space: nowrap
  display: inline-block
  color: $color-white
  font-family: $font-lost
  font-size: 17px
  font-weight: 400
  // text-transform: uppercase
  height: 40px
  line-height: 40px
  border-radius: 100px
  padding: 0 20px
  border: 1px solid transparent

.button:focus
  outline: none
  opacity: .8

.button--primary
  background-color: transparent
  background-image: $gr-yellow

.button--primary:hover
  @include tablet
    background-image: $gr-violet

.button--primary:active,
.button--primary.active
  background-image: $gr-violet

.button--secondary
  background-color: transparent
  border: 1px solid $orange

.button--secondary:hover
  @include tablet
    background-image: $gr-yellow

.button--secondary:active,
.button--secondary.active
  background-image: $gr-yellow

.button--attention
  border: none
  background-image: $gr-yellow
  box-shadow: 0 0 5px 0 $yellow
  padding-left: 7px

.btn
  @include text-ellipsis
  &:focus
    outline: none

.btn.btn--loading
  position: relative
  color: transparent
  pointer-events: none

.btn.btn--loading,
.btn.btn--loading:hover,
.btn.btn--loading:focus
  &::after
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: no-repeat url('/images/icons/stars_sprite2.svg') transparent center center
    background-size: 50% 95%
    color: transparent

.btn.btn--disabled
  // opacity: 0.5
  cursor: default
  user-select: none
  pointer-events: none
  background: $dark-seven
  color: $light-one

.btn
  display: inline-block
  cursor: pointer
  height: 40px
  line-height: 40px
  border-radius: 100px
  color: $color-white
  font-family: $font-second
  font-size: 14px
  text-transform: uppercase
  position: relative
  overflow: hidden

.btn.btn-block
  display: block
  width: 100%

.btn
  .icon-btn
    font-size: 20px
    line-height: 38px
    color: $yellow
    margin-right: 8px
    margin-left: 8px

.btn--with-left-icon
  display: flex
  justify-content: center
  padding: 0 24px 0 0
  span
    line-height: 38px

.btn:disabled
  .icon-btn
    display: none

.btn-secondary
  background-color: transparent
  border: 1px solid $orange
  &:active
    background-image: $gr-yellow
  &:hover
    @include tablet
      background-image: $gr-yellow

.btn-secondary--disabled,
.btn-secondary--disabled:hover,
.btn-secondary--disabled:focus
  border-color: $blue-grey
  color: $color-text
  cursor: default
  background: none

.btn-big-blue
  font-weight: 800
  font-size: 28px
  background-color: $blue-royal
  border: none
  border-radius: 16px
  height: 120px
  &:hover,
  &:disabled
    background-color: darken($blue-royal, 10%)

.btn-big-blue-picton
  font-weight: 800
  font-size: 28px
  background-color: $blue-picton
  border: none
  border-radius: 16px
  height: 120px
  &:hover,
  &:disabled
    background-color: darken($blue-picton, 10%)

.btn-big-crusta
  font-weight: 800
  font-size: 28px
  background-color: $orange-crusta
  border: none
  border-radius: 16px
  height: 120px
  &:hover,
  &:disabled
    background-color: darken($orange-crusta, 10%)

.btn--secondary-blue
  background-color: transparent
  border: 1px solid $blue-picton
  color: $blue-oyster
  &:active
    background-color: $blue-picton
    color: $color-white
  &:hover
    @include tablet
      background-color: $blue-picton
      color: $color-white
