@import "../swatches.sass"
@import "../mixin.sass"

.site-footer
  color: $light-two
  // background-color: $color-blue
  // background-color: $dark-blue
  // padding-bottom: 20px
  @include tablet
    // padding-bottom: 25px
  @include mobile
    // padding-bottom: 55px
  .footer-copy-container
    background-color: $dark-two
  // .site-wrapper:nth-child(3)
  //   background-color: $dark-two
  .footer-copy
    height: 32px
    line-height: 32px
    color: $light-one
    margin-top: 0
    @include mobile
      font-size: 13px
      text-align: left
      // margin-top: 14px
      padding-left: 16px
    @include tablet
      text-align: left
      padding-left: 30px
      opacity: .5
      font-family: $font-lost
      font-size: 13px
      // margin-top: 10px
  .footer-inner
    display: flex
    @include mobile
      padding: 20px 16px
      align-items: center
      flex-direction: column
    @include tablet
      padding: 32px 0 22px 96px
    .footer-info
      flex: 1
      @include tablet
        // padding-top: 30px
      @include mobile
        display: none
      .footer-logo
        font-family: $font-second
        font-weight: 700
        text-transform: uppercase
        @include mobile
          font-weight: normal
          color: $color-white
          font-size: 13px
        @include tablet
          font-size: 20px
          color: transparentize($color-white, 0.5)
        .footer-logo__image
          max-width: 94px
        a
          @include mobile
            color: $color-white
          @include tablet
            color: transparentize($color-white, 0.5)
    .footer-menu-icons
      display: -ms-flexbox
      display: flex
      // margin-left: -6px
      // margin-top: 20px
      margin-right: 80px
      height: 40px
      @include mobile
        margin-right: 0
        margin-bottom: 40px
      .header-menu-icons__item_icon
        margin: 0 10px
        @include mobile
          margin: 0 16px
          &:nth-of-type(1)
            margin-left: 10px
      .select_language-mobile
        justify-content: center
        align-items: center
        @include mobile
          display: flex
        @include tablet
        display: none
        .select_language_block
          margin: 0
    .footer-menu
      // padding-top: 35px
      // @include tablet
        // display: flex
      display: flex
      @include mobile
        align-self: flex-start
        // padding-top: 12px
        .select_language_block
          display: none

  .footer-menu-block
    // padding-right: 40px
    ul
      @include desktop
        min-width: 256px
    + .footer-menu-block
      margin-left: 16px
      @include mobile
        margin-left: 60px
      li
        // margin-top: 10px
    .block-title
      font-family: $font-lost
      font-size: 14px
      font-weight: 700
      text-transform: uppercase
      margin-bottom: 20px
      @include mobile
        display: none
    ul
      .panel-list,
      li
        a
          color: $light-one
      + li
        margin-top: 10px
        a
          color: $light-one
          font-family: $font-first
          font-size: 13px
          font-weight: 400
          &:hover
            color: $light-one

.footer-licenses
  flex: 1 1

.payment-methods
  .site-wrapper
    background: $dark-two
    border-radius: 16px
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 40px
    @include tablet-max
      justify-content: center
      flex-wrap: wrap
      margin: 0 16px
      padding: 0
      border-bottom: none
      width: auto
  .method-item
    display: flex
    align-items: center
    padding: 10px 0
    @include mobile
      width: 90px
      margin-right: 10px
      justify-content: center
    img
      width: 100%

.select_language_block
  min-width: 98px
  font-size: 17px
  color: $color-white
  text-transform: uppercase
  margin-right: 24%
  .label-select_item, li
    min-width: 98px
    min-height: 32px
    line-height: 32px
    display: block
    border-radius: 16px
    transition: .2s linear
    text-align: left
    margin: 8px 9px
          // border: 3px solid transparent
    padding: 3px
          // padding-left: 45px
    &:hover
      background: $dark-five
    a
      display: flex
    img
      margin-right: 13px
  .label-select_item
    padding: 0
    display: flex
    margin: 8px 12px
    position: relative
    &::after
      content: "\276F"
      color: $light-two
      position: absolute
      right: 1.5em
      font-size: 12px
      z-index: 2
      pointer-events: none
      display: block
      transform: rotate(90deg)
  input:checked + .label-select_item::after
    transform: rotate(-90deg)
  .label-select_item:has(+ input:checked)::after
    transform: rotate(-90deg)
  .lang-list-container
    position: relative
    ul
      display: none
      background: $dark-black
      position: absolute
      transition: height .1s linear
      overflow: hidden
      border-radius: 16px
      z-index: 999
      &.top-viewed
        bottom: 0
        left: 0
      &.bottom-viewed
        top: 0
        left: 0
  input
    opacity: 0
    position: absolute
  .bottom-viewed_input:checked + .lang-list-container>.bottom-viewed
    display: table

  .lang-list-container:has( + .top-viewed_input:checked)
    .top-viewed
      display: table

.discription-footer-container
  position: relative
  height: 127px
  @include mobile
    height: 236px
  .discription-footer
    background: $dark-three
    padding: 21px 0 9px
    width: 100%
    height: 100%
    overflow: hidden
    position: absolute
    top: 0
    left: 0
    z-index: 988
    @include mobile
      padding: 16px 16px 8px

    .content-discription-container
      max-width: 1156px
    .site-wrapper
      padding-left: 5px
      @include mobile
        padding-left: 0
    .discription-title
      color: $yellow
      font-size: 17px
      &.first-title
        font-size: 19px
        margin-top: 0
    .discription-parag
      color: $light-one
      font-size: 13px
      span
        display: block
      &:last-of-type
        margin-bottom: 0
    .discription-list
      padding-left: 20px
    ol
      li
        list-style-type: decimal
    li
      color: $light-one
      font-size: 13px
      list-style-type: disc

    .btn-discription-container_mobile
      display: none
      width: 30px
      position: absolute
      top: 18px
      right: 18px
      z-index: 997
      @include mobile
        display: inline-block
        right: 18px
      @include tablet
        display: inline-block
        right: 80px
      .discription-btn
        display: inline-block
        color: $light-one
        width: 30px
        height: 30px
        border: 3px solid $light-one
        border-radius: 8px
        font-size: 17px
        padding: 2px 2px
        text-align: center
        transition: .1s linear
      .opened
        display: none
        &::before
          content: "\2716"
          vertical-align: super
          position: absolute
          top: 2px
          right: 8px
      .closed
        display: inline-block
        &::before
          content: "\2026"
          vertical-align: super
          position: absolute
          top: -10px
          right: 4px
          font-size: 24px
          font-weight: 900
      input
        display: none
      input:checked + .discription-btn
        .opened
          display: inline-block
        .closed
          display: none

  .site-wrapper:has( .btn-discription-container)
    position: relative
  .btn-discription-container
    display: inline-block
    min-width: 162px
    position: absolute
    top: 60px
    right: 0
    z-index: 997
    .discription-btn
      display: inline-block
      color: $light-one
      min-width: 162px
      border: 1px solid $light-one
      border-radius: 12px
      font-size: 17px
      padding: 9px 31px
      text-align: center
      transition: .1s linear
      @include mobile
        display: none
      @include tablet
        display: none
      &:hover
        color: $light-three
        border-color: $light-three
    .opened
      display: none
    .closed
      display: inline-block
    input
      display: none
    input:checked + .discription-btn
      .opened
        display: inline-block
      .closed
        display: none
.discription-footer-container:has( input:checked) .discription-footer
  top: auto
  overflow: visible
  height: auto
  bottom: 0
