@import "../swatches.sass"
@import "../mixin.sass"

.site-header
  position: relative
  @include desktop
    border-radius: 10px
    margin-bottom: 24px
  .header-top-line
    display: flex
    align-items: center
    justify-content: space-between
    @include tablet-max
      height: auto
    @include desktop
      height: 80px
    .left-side
      display: flex
      align-items: center
      margin: 0 auto
      @include desktop
        margin: 0
    .right-side
      display: flex
      align-items: center
      position: absolute
      top: 10px
      right: 0
      @include tablet-max
        .profile-info,
        .header-menu-icons-container,
        .select_language_block
          display: none
        .header-auth
          position: fixed
          height: 146px
          bottom: 0
          right: 0
          z-index: 998
          width: 100%
          display: flex
          justify-content: center
          align-items: flex-end
          background: linear-gradient(180deg, rgba(20, 29, 42, 0) 0%, #141D2A 54.69%)
          .btn-vl
            height: 44px
            margin-bottom: 32px
            span
              width: 100%
        .header-auth--logged-in
          position: absolute
          top: -2px
          right: 10px
          width: 22px
          height: 22px
          background: transparent
          z-index: 97
          .btn-vl
            width: 22px
            height: 22px
            margin: 0
            background: url(/images/mobile-dollar.svg)
            background-size: contain
            background-repeat: no-repeat
            span
              font-size: 0
              background: transparent
      @include desktop
        position: static
        display: flex

      .select_language_block
        margin-right: 20px
    .android-app-button
      display: none
      @include tablet-max
        display: flex
        align-items: center
        position: absolute
        top: 4px
        right: 5px
        background: #193f6a
        font-size: 11px
        border-radius: 6px
        padding: 5px
      @include mobile
        font-size: 10px
        right: 3px
        top: 6px
      @include mobile-xs
        right: 1px
        font-size: 9px
        top: 8px
      .android-app-icon
        height: 20px
        @include mobile-xs
          height: 16px
    .header-info-panel
      margin-right: 30px
      margin-left: 60px
    .header-top-line__menu-button
      margin-left: 16px
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)
      @include tablet-max
        top: 11px
        transform: none
      @include desktop
        position: static
      &.tournaments-counter
        display: flex
        padding-left: 10px
        align-items: center
        background: rgba(255, 255, 255, 0.1)
        border: 1px solid rgba(255, 255, 255, 0.1)
        border-radius: 12px
        @include tablet-max
          top: 6px
        @include desktop
          display: none
      &__tournaments-counter-container
        display: flex
        background: linear-gradient(180deg, #FFE145 0%, #F7BE25 45.79%, #ED9400 100%)
        border-radius: 12px
        margin-left: 8px
        padding: 6px 8px
        align-items: center
      &__tournaments-counter-icon
        background: url('/images/icons/trophy-icon.svg')
        width: 14px
        height: 20px
        background-repeat: no-repeat
      &__tournaments-counter
        font-weight: 700
        margin-left: 4px
        font-size: 14px
        line-height: 18px
        color: #533E09
    .btn-menu
      color: $color-white
      @include desktop
        display: none
    .header-logo
      display: flex
      align-items: center
      // justify-content: center
      width: 227px
      margin-right: 20px
      // padding-left: 20px
      box-sizing: content-box
      @include tablet-max
        flex: 2 1
        justify-content: center
        margin: 0
      @include mobile
        flex: 1 1
        justify-content: center
        margin: 0
        >a
          display: flex
          justify-content: center
    .header-logo__image
      width: 94px
      display: block
      @include tablet-max
        max-height: 33px
        padding: 5px
        width: auto
      @include mobile
        height: 33px
    .server-date
      color: $color-light-gray
      font-size: 14px
      font-family: $font-bold
      @include tablet-max
        display: none
      @include desktop-lg
        max-width: 90px
      span
        display: block
    .profile-info
      margin-right: 16px
      border-radius: 8px
      &:has( .currency-dropdown.active)
        // .currency-dropdown.active
        background: $dark-five
        border-radius: 8px 8px 0 0
        .icon-down-dir
          transform: rotate(-180deg)
      &:hover
        background: $dark-five
      @include tablet-max
        display: none
    .header-auth
      // .to-login
      //   width: 92px
      .btn-vl,
      .btn-pr_str
        border-top-right-radius: 0
        border-bottom-right-radius: 0
        height: 40px
        line-height: 40px
        top: 2px
        border-radius: 12px
        width: 256px
        &.to-login
          width: 92px
          margin-right: 8px
          background: $dark-black
          color: $light-one
          border: 1px solid $light-one
          @include mobile
            width: 92px
            margin-bottom: 34px
          @include tablet
            border-radius: 12px
            width: 92px
          span
            background: transparent
          &:hover
            border-color: $light-three
            color: $light-three
        &.to-reg
          width: 156px
          @include mobile
            width: 156px
            margin-bottom: 34px
          @include tablet-max
            border-radius: 12px
            width: 156px
          &:hover
            span
              background: $accent-three
        &:after
          border-bottom-right-radius: 0
          border-top-right-radius: 0
          @include tablet
            border-radius: 12px
        span
          border-bottom-right-radius: 0
          border-top-right-radius: 0
          padding: 0 6px 0 14px
          height: 40px
          margin: 0
          text-align: center
          border-radius: 12px
          padding: 0
          text-transform: none
          font-family: $font-lost
          font-size: 17px
          font-weight: 400
          @include tablet-max
            width: 141px
            height: 44px
      .btn-login-by-phone
        margin-left: 5px
        span
          background-image: $gr-yellow
          border: none
          &:hover
            background-image: $gr-violet

      .btn-refill-redeem
        margin-left: 5px
        span
          background-image: $gr-yellow
          border: none
          &:hover
            background-image: $gr-violet
    .lang-panel
      color: $color-white
      font-family: $font-bold
      font-size: 13px
      text-transform: uppercase
      padding-right: 13px
      position: relative
      @include tablet-max
        display: none
      @include desktop
      &:hover
        &:after
          transform: rotate(180deg)
      &:after
        content: ''
        @include icon
        @include icon_arrow_d_w
        position: absolute
        right: 0
        top: 50%
        margin-top: -2px
      .selected
        cursor: pointer
        position: relative
      &:hover
        ul
          display: block
      ul
        display: none
        @include panel-list
        position: absolute
        top: 100%
        right: -25px
        left: -25px
        padding: 20px 0 15px 0
        z-index: 120
        text-align: center
        &:before
          content: ''
          position: absolute
          height: 20px
          left: 0
          right: 0
          background-color: $dark-blue-grey
          top: 15px
          z-index: 1
        &:after
          content: ''
          position: absolute
          top: 33px
          left: 0
          right: 0
          bottom: 0
          box-shadow: -1px 1px 6px rgba($color-black, 0.5)
          border-radius: 0 0 10px 10px
          background-color: $dark-blue-grey
          z-index: 0
        li
          position: relative
          z-index: 1
          + li
            margin-top: 20px
          a
            color: $color-white
            font-family: $font-bold
            font-size: 13px
            text-transform: uppercase
            &:hover
              color: $color-header
  .header-menu
    background-color: $dark-two
    .site-wrapper
      display: none
      @include desktop
        display: flex
        align-items: center
        // padding-left: 40px
        padding-right: 0
        min-height: 56px
    .main-menu
      flex: 1
      ul
        @include panel-list
        display: flex
        justify-content: flex-start
        align-items: center
        @include desktop
          flex-wrap: wrap
        li
          padding: 5px 23px
          position: relative
          @include desktop
            height: 40px
            display: flex
            align-items: center
          &:hover
            > a
              color: $yellow
          a.active
            color: $accent-three
            font-family: $font-lost
            font-size: 14px
            font-weight: 500
          a
            color: $light-two
            font-family: $font-lost
            font-size: 14px
            font-weight: 400
            // text-transform: uppercase
          &:last-child
            display: none
    .main-menu-new
      position: absolute
      right: -16px
      top: -13px
      background-image: $gr-violet
      border-radius: 24px
      font-size: 10px
      line-height: 1
      letter-spacing: 0.5px
      font-weight: bold
      color: $color-white
      padding: 2px 4px 3px 4px
      text-transform: uppercase
    .main-menu-bonuses-count
      position: absolute
      right: -16px
      top: -13px
      background-image: $gr-violet
      border-radius: 24px
      font-size: 10px
      line-height: 1
      letter-spacing: 0.5px
      font-weight: bold
      color: $color-white
      padding: 2px 4px 3px 4px
      text-transform: uppercase
      &.tournaments-counter
        background: #FA8230
        font-weight: 700
        font-size: 14px
        top: 0
        right: -43px
        width: max-content
        padding: 3px 7px
        @include desktop
          right: -29px
    .header-search
      position: relative
      min-width: 200px
      width: 232px
      margin-right: 24px

.header-menu-icons-container
  background: $dark-black
  // margin-right: 24px
.header-menu-icons
  display: flex
  align-items: center
  justify-content: end
  @include tablet-max
    justify-content: center
.header-menu-icons__item
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  .icon_tg
    background: 0 0 url(./icons/icon-telegram.png) no-repeat
  .icon_vk
    background: 0 0 url(./icons/icon-vk.svg) no-repeat
  .icon_fb
    background: 0 0 url(./icons/icon-fb.svg) no-repeat
  .icon_insta
    background: 0 0 url(./icons/icon-instagram.svg) no-repeat
  .header-menu-icons__item_icon
    margin: 3px 8px
    background-size: 32px
    width: 32px
    height: 32px

.header-auth--logged-in
  display: flex
  flex-direction: row
  justify-content: space-evenly
  .btn--bonuses
    @include desktop
      display: none !important
  &.small-buttons
    @include mobile
      .btn
        width: 90px!important
        span
          width: 88px!important
          font-size: 12px

.search-block
  .search-btn
    &:hover
      .icon
        color: $orange
  .search-container
    position: absolute
    right: 0
    bottom: 0
    display: flex
    align-items: center
    overflow: hidden
    width: 0
    transition: width .2s linear
    z-index: 100
    height: 45px
    @include tablet-max
      top: 3px
      background-color: $dark-black
    @include desktop
      top: -10px
      background-color: $dark-black
    &.in
      @include tablet-max
        width: 100%
        padding-left: 20px
        padding-right: 20px
        height: 55px
        top: 0
      @include desktop
        width: 153px
        input
          width: 125px
    .search-close
      margin-left: 15px
      .icon
        width: 13px
        height: 13px
    input
      background-color: transparent
      border: 0
      border-bottom: 1px solid rgba($color-light-gray,.3)
      color: $color-white
      padding: 0 15px
      width: 100%
      font-size: 16px
      font-family: $font-bold
      @include tablet-max
        height: 35px
      @include desktop
        top: -5px
        height: 30px

.search-input-group
  position: relative
.search-input-group__button
  border: 0
  background-color: transparent
  margin-left: -30px
.search-input-group__input
  background-color: $dark-black
  border: 1px solid $dark-six
  border-radius: 12px
  height: 40px
  line-height: normal
  color: $dark-six
  width: 100%
  font-size: 12px
  padding-left: 25px
  padding-right: 30px
  transition: all 0.2s linear
  &::placeholder
    color: $dark-six
  &:hover
    border-color: #ffffffa7

.profile-info
  display: flex
  .info-block
    min-width: 272px
    padding: 0 8px 0
    height: 60px
    display: flex
    .stats-block
      display: flex
      align-items: center
      &.balance
        cursor: pointer
        align-items: center
      .block-icon
        margin-right: 20px
        text-align: center
        i
          font-size: 13px
          &:first-child
            font-size: 31px
            line-height: 1.3
      .icon-down-dir
        margin-left: 24px
        font-size: 20px
        color: $light-two
        transition: .1s linear

.profile-info__warn.icon-warn
  position: absolute
  top: 0
  margin-left: 24px
  width: 16px
  height: 16px

.balance-wrap
  flex-direction: column
  justify-content: center
  position: relative
  i
    display: block
    color: $color-white
    @include tablet-max
      position: static
      // margin-right: 20px
  .currency-dropdown
    width: 100%
    background: $dark-five
    border-radius: 0 0 $border-radius $border-radius
    position: absolute
    top: 60px
    // left: -5px
    right: 0
    margin: auto
    z-index: 100
    padding: 28px 9px 18px
    height: 0
    opacity: 0
    font-family: $font-lost
    transition: .2s
    @include mobile
      width: 100%
    ul
      li
        list-style-type: none
        display: flex
        color: $color-white
        font-family: $font-lost
        margin-bottom: 32px
        cursor: pointer
        &:last-child
          margin-bottom: 0
        .currency-label
          width: 40px
          line-height: 28px
          background: $light-one
          border-radius: 4px
          color: $color-white
          text-align: center
          font-size: 13px
          font-weight: 700
          margin-right: 24px
          position: relative
          &:after
            content: ''
            width: 44px
            height: 32px
            position: absolute
            top: -2px
            left: -2px
            border: 3px solid $yellow
            border-radius: 8px
            box-sizing: border-box
            visibility: hidden
            transition: .2s
        .sum
          line-height: 24px
          font-size: 13px
          text-overflow: ellipsis
          overflow: hidden
          max-width: 70px
          font-weight: bold
        &:hover, &.active
          .currency-label:after
            visibility: visible
          .sum
            color: $yellow
    &.active
      height: auto
      opacity: 1
    .btn-profile-link
      width: 100%
      display: flex
      justify-content: center
      height: 45px
      span
        text-transform: none
        padding-left: 12px
        padding-right: 12px
        background: transparent
        color: $light-one
        border: 1px solid $light-one
        font-weight: 400
        font-size: 17px
        height: 44px
        width: 124px
        border-radius: 12px
        &:hover
          color: $light-three
          border-color: $light-three
    .total
      position: absolute
      left: 0
      bottom: 3px
      transform: translateY(100%)
      width: 100%
      background: $gr-violet
      padding: 9px 16px 11px 16px
      border-radius: 0
      color: $color-white
      align-items: center
      justify-content: space-between
      &:after
        content: ''
        position: absolute
        left: 0
        top: -10px
        width: 100%
        height: 10px
        background: $dark-blue-grey
      @include desktop
        padding: 9px 20px 11px 20px
        border-radius: 0 0 8px 8px
      .total-currency
        font-size: 11px
        div:first-child
          opacity: .69
      .total-percent
        font-size: 28px
        font-weight: 600
.block-user
  display: flex
  align-items: flex-start
  margin-bottom: 2px
  .user-info
    overflow: hidden
    a.confirm
      text-decoration: underline
      color: $color-white
      margin-left: 3px
    .user-name
      max-width: 250px
      color: $light-two
      font-family: $font-lost
      font-size: 17px
      font-weight: 400
      @include text-ellipsis
      @include tablet-max
        font-size: 18px
    .user-id
      display: flex
      align-items: center
      color: $color-white
      font-family: $font-first
      font-size: 12px
.user-msg
  color: $color-white
  font-family: $font-first
  font-size: 12px
  font-weight: 700
  position: relative
  margin-left: -3px
  a
    text-decoration: none
    color: $color-white
    display: inline-block
    min-width: 70px
  .icon
    margin-right: 5px
    margin-top: -2px
  .label-msg
    background: $orange
    border-radius: 9px
    padding: 0 6px
    border: 2px solid $color-d_blue
    position: absolute
    left: 24px
    top: -1px
    font-family: $font-second
    font-size: 11px
    color: $color-white
    font-weight: 300

.header-top-line .block-user .user-info .user-id-txt
  display: none
.rating
  .icon
    opacity: .5
    &.fill
      opacity: 1
    + .icon
      margin-left: 3px
  .user-id
    color: $color-white
    margin-top: 4px

.mobile-menu-bg
  content: ''
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background-color: black
  transition: opacity .2s linear
  display: none
  z-index: 999
  &.in
    display: block

.header-mobile-menu
  position: fixed
  top: 0
  left: 0
  width: 100%
  right: 0
  bottom: 0
  z-index: 999
  overflow-y: auto
  @include tablet-max
    display: none
    justify-content: center
  @include desktop
    display: none
  &.in
    transform: none
    display: flex
    .menu-inner
      background: linear-gradient(180deg, #405B7D 0%, #132B49 100.07%)
      clip-path: polygon(0% 3%, 4% 99%, 94% 100%, 100% 0%)
      width: 366px
      display: table
      padding: 34px 46px
      margin: 44px 0 33px
      position: relative
      .header-logo
        display: flex
        justify-content: center
        margin-bottom: 50px
        .header-logo__image
          width: 94px
      ul
        @include panel-list
        align-items: flex-start
        li
          margin-top: 28px
          margin-right: 0
          padding: 0
          &.active
            a
              color: $color-white
          &.hasChild
            a
              position: relative
              padding-right: 15px
              &:after
                content: ''
                position: absolute
                @include icon
                @include icon_arrow_d_w
                right: 0
                top: 50%
                margin-top: -2px
            &.open
              a
                &:after
                  transform: rotate(180deg)
          a
            font-size: 17px
            display: block
            color: $color-white
      .lang-menu
        padding: 20px
      .auth-menu
        padding: 0 40px
        .btn-vl
          width: 100%
          span
            background: $accent-one
      .main-menu
        margin-bottom: 68px
        &:has(+ .header-auth>.mobile-menu-icons-container)
          margin-bottom: 16px
          padding-bottom: 16px
          border-bottom: 1px solid $dark-three
        ul
          flex-direction: column
          align-items: left
        .main-menu-new
          right: 0
          top: 3px
          transform: translateX(110%)
      .lang-menu
        border-bottom: 1px solid rgba($color-white,.5)
        ul
          &:not(.open)
            li
              &:not(.active)
                display: none
          &.open
            .hasChild
              a
                &:after
                  transform: rotate(180deg)
      .header-auth
        display: flex
        .btn-vl,
        .btn-pr_str
          border-top-right-radius: 0
          border-bottom-right-radius: 0
          height: 44px
          line-height: 44px
          top: 2px
          border-radius: 12px
          text-transform: none
          &.to-login
            width: 92px
            margin-right: 8px
            background: transparent
            color: $light-one
            border: 1px solid $light-one
            span
              background: transparent
          &.to-reg
            width: 156px
            span
              border-radius: 0
          &:after
            border-bottom-right-radius: 0
            border-top-right-radius: 0
          span
            padding: 0
            height: 44px

        .site-wrapper
          display: block
          .header-menu-icons__item_icon
            margin: 8px 6px
            &:nth-child(1)
              margin-left: 0
        .select_language_block
          min-width: 90px
          margin: 0
          margin-left: 6px
          .lang-list-container
            ul
              left: -9px
            li
              min-width: 90px
              height: 32px
              &:nth-child(1)
                margin-top: 10px
              a
                display: flex
          .label-select_item
            min-width: 90px
            margin: 8px 0 0
            &::after
              right: 0.9em
            img
              margin-right: 8px
      .logout_mobile_menu-block
        margin-top: 28px
        font-size: 14px
        line-height: 19px
    .main-menu--mobile
      .main-menu__item.active
        font-size: 17px
  .menu-close
    padding: 20px 20px
    position: absolute
    top: 0
    right: 0
    text-align: left
    // flex-grow: 1
    .icon
      font-size: 25px
    .btn-menu-close
      display: inline-block
  .block-user_mobile
    padding-bottom: 16px
    display: block
    .info-block
      display: flex
      &:has( .currency-dropdown.active)
        .icon-down-dir
          transform: rotate(-180deg)
      .stats-block
        display: flex
        align-items: center
        &.balance
          cursor: pointer
          align-items: center
        .block-icon
          margin-right: 20px
          text-align: center
          i
            font-size: 43px
            margin-right: 0
            &:first-child
              font-size: 43px
        .block-content
          margin-right: 20px
          div
            line-height: 22px
        .icon-down-dir
          font-size: 20px
        .user-name
          font-size: 17px
          margin: 0
      .currency-dropdown
        position: static
        padding: 28px 0 18px
        background: transparent
        li
          &:nth-child(1)
            margin-top: 0
          &:has(a)
            justify-content: center
          a
            text-align: center
          span
            display: inline-block
  .user-info
    display: block
    overflow: hidden
  .user-name
    @include text-ellipsis

.short-menu
  height: 40px
  display: flex
  justify-content: flex-end
  align-items: center
  font-size: 14px
  position: absolute
  top: 0
  right: 0
  width: 100%
  @include desktop
    display: none
  &:has(+ .header-top-line .header-auth--logged-in)
    .short-menu__item--last
      margin-right: 40px
.short-menu__item
  color: $color-white
  white-space: nowrap
  display: flex
  &.balance-wrap
    color: $yellow
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    text-align: center
    margin: auto
    i
      color: $yellow
    .currency-dropdown
      top: 30px
      width: 160px
.short-menu__item--first
  margin-left: 16px
.short-menu__item--last
  margin-right: 16px
  z-index: $bonus-card-z-index - 1
  .icon-search::before
    color: $color-white

.short-menu__user-login
  position: absolute
  left: 5px
  color: white
  .short-menu__user-login-mobile-xs
    display: none
    @media(max-width: 370px)
      display: block
  .short-menu__user-login-mobile
    display: block
    @media(max-width: 370px)
      display: none
.short-menu__balance-with-cashback-block
  display: flex
  align-items: center
  &.centered
    width: 100%
    justify-content: center
    .short-menu__timeline-cashback
      padding-right: 0
      margin-right: 0

.balance__title
  color: $color-text
  text-transform: uppercase

.balance__value
  color: $yellow
  font-weight: 700

.short-stats
  height: 40px
  background-color: $color-blue
  align-items: center
  padding-top: 4px
  padding-bottom: 4px
  @include tablet-max
    display: flex
    justify-content: space-between
  @include desktop
    display: none
  @include desktop
  .stat-item
    height: 22px
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    padding-left: 15px
    padding-right: 15px
    + .stat-item
      border-left: 1px solid rgba($color-white,.2)
    .stat-title
      color: $color-light-soft-gray
      font-family: $font-first
      font-size: 11px
      text-transform: uppercase
      @include tablet-max
        color: $color-white
        opacity: .5
    .stat-value
      margin-left: 10px
      color: $dark-yellow
      font-family: $font-black
      font-weight: 700
      font-size: 13px
      text-transform: uppercase
      @include tablet-max
      @include desktop
        display: none
.header-alert-wrap
  position: absolute
  right: 0
  bottom: 0
  z-index: 10
  width: 590px
  min-height: 48px
  background: $color-white
  border-radius: 8px
  display: flex
  // display: none
  justify-content: space-between
  &.success
    .icon-box
      background: $orange
  &.info
    .icon-box
      background: $purple
  &.error
    .icon-box
      background: $red
  &.neutral
    .icon-box
      background: $grey
  .header-alert
    display: flex
    justify-content: space-between
    font-family: $font-second
    font-size: 18px
    .icon-box
      width: 64px
      display: flex
      align-items: center
      justify-content: center
      border-radius: 8px 0 0 8px
      color: $color-white
      font-size: 30px
    .info-text
      color: $dark-black
      margin: 0 0 0 24px
      display: flex
      align-items: center
  .icon-close
    align-self: center
    margin-right: 17px
    color: $dark-black
.bonus-balances-info
  background: $gr-violet
  width: 20px
  height: 20px
  border-radius: 10px
  display: inline-block
  font-size: 12px
  color: $color-white
  line-height: 20px
  text-align: center
  margin-left: 8px
  cursor: pointer
  &.opened:after
    content: ''
    display: block
    position: absolute
    margin-top: 15px
    margin-left: 5px
    z-index: 2
    width: 10px
    height: 10px
    background: $blue2
    border-left: 1px solid $blue-cyan
    border-top: 1px solid $blue-cyan
    transform: rotate(45deg)
    @include mobile
      margin-top: 5px
.bonus-balances-info__popup
  position: absolute
  width: 271px
  margin-top: 12px
  margin-left: -131px
  z-index: 10
  padding-top: 8px
  @include mobile
    left: 50%
    white-space: normal
    margin-top: 2px
.bonus-balances-info__blocks
  border-radius: 4px
  border: solid 1px $blue-cyan
  background-color: $blue2
  min-height: 20px
.bonus-balances-info__loader
  padding: 30px 0
.bonus-balances-info__blocks
  .profile-bonus-balance
    display: flex
    flex-direction: column
    padding: 10px 16px
    border-bottom: solid 1px rgba(29, 38, 64, 0.5)
    text-align: left
    line-height: 1.3

  .profile-bonus-balance__top
    display: flex
    flex: 1
    flex-direction: row
    width: 100%
    font-weight: bold
    font-size: 13px

  .profile-bonus-balance__name
    color: $color-white
    flex: 2
    display: flex
    word-break: break-word
    flex-shrink: 1

  .profile-bonus-balance__amount
    padding-left: 10px
    color: $yellow
    display: flex

  .profile-bonus-balance__description,
  .profile-bonus-balance__wagered
    display: inline-block
    padding-top: 4px
    font-size: 10px
    color: $color-white
    font-weight: 300
    strong
      color: $color-light-blue
      font-weight: 500
      padding-left: 5px
    .bonus-balances-wager-bonus-desc
      font-size: 12px
      font-weight: 100
    .bonus-balances-wager-bonus-value
      font-size: 35px
      font-weight: bold
      color: $color-white

  .profile-bonus-balance__timer
    margin-top: 10px
    text-align: center
    .profile-bonus-balance__timer-value
      color: #ffc017
      font-weight: bold
      font-size: 16px

.main-menu--desktop
  .main-menu__children
    display: none
    margin-left: -16px
    top: 100%
    position: absolute
    z-index: 2
    flex-direction: column
    background-color: $color-blue
    .main-menu__child
      position: relative
      .main-menu__item
        display: flex
        padding: 8px 16px
        &:hover
          color: $color-header !important
      .main-menu-bonuses-count,
      .main-menu-new
        top: -8px
        right: -8px
  .main-menu__li--hovered
    .main-menu__children
      display: flex
    .main-menu__item--with-children:after
      transform: rotate(180deg)
  .main-menu__item--with-children
    padding-right: 12px
    &:after
      content: ''
      position: absolute
      @include icon
      @include icon_arrow_d_w
      right: 0
      top: 50%
      margin-top: -1px

.main-menu--mobile
  .main-menu__children
    padding-top: 8px
  .main-menu__child
    position: relative
    a
      display: flex
      padding: 8px 16px
      padding-right: 0
    &:last-child
      a
        padding-bottom: 0
  .active
