@import "../swatches.sass"

.icon-search
  font-size: 18px
  color: $dark-six
  opacity: 1

.icon-favorites-filled
  width: 16px
  height: 16px
  opacity: 1
  background-image: url(/images/icons/icon-favorites-filled.svg)

.icon-favorites-empty
  width: 16px
  height: 16px
  opacity: 1
  background-image: url(/images/icons/icon-favorites-empty.svg)

.icon-cash
  width: 25px
  height: 25px
  background-image: url(/images/icons/icon-cash.svg)

.icon-crown
  width: 25px
  height: 25px
  background-image: url(/images/icons/icon-crown.svg)

.icon-star
  width: 11px
  height: 10px
  background-image: url(/images/icons/icon-star.svg)

.icon-star.fill
  width: 11px
  height: 10px
  background-image: url(/images/icons/icon-star_fill.svg)

.icon-msg
  width: 22px
  height: 14px
  background-image: url(/images/icons/icon-msg.svg)
  margin: 0 5px
  opacity: .6

.icon-menu
  font-size: 23px

.icon-close-thin
  width: 20px
  height: 20px
  background-image: url(/images/icons/icon-close.svg)
  background-size: 100%

.icon-back
  width: 25px
  height: 14px
  background-image: url(/images/icons/icon-back.svg)

.icon-close
  width: 20px
  height: 20px
  background-image: url(/images/icons/icon-close_lg.svg)

.icon-repeat
  width: 24px
  height: 11px
  background-image: url(/images/icons/icon-repeat.svg)

.icon-payments
  font-size: 24px
  padding-right: 10px

.icon-profile
  font-size: 24px
  padding-right: 10px

.icon-cashout
  font-size: 24px
  padding-right: 10px

.icon-offer
  font-size: 24px
  padding-right: 10px

.icon-phone_cir
  width: 17px
  height: 17px
  background-image: url(/images/icons/icon-phone_cir.svg)

.icon-profile_sm
  width: 18px
  height: 12px
  background-image: url(/images/icons/icon-profile_sm.svg)

.icon-pencil
  font-size: 30px

.icon-status-success
  width: 22px
  height: 22px
  background-image: url(/images/icons/icon-status-success.svg)

.icon-status-loading
  width: 22px
  height: 22px
  background-image: url(/images/icons/icon-status-loading.svg)

.icon-status-warning
  width: 22px
  height: 22px
  background-image: url(/images/icons/icon-status-warning.svg)

.icon-profile-menu
  width: 30px
  height: 22px
  background-image: url(/images/icons/icon-profile-menu.svg)
  background-size: 100%

.icon-warn
  width: 22px
  height: 22px
  background-image: url(/images/icons/icon-warn.svg)
  background-size: contain

.icon-plus
  width: 16px
  height: 16px
  background-image: url(/images/icons/icon-plus.svg)
  background-size: contain

.icon-remove
  width: 22px
  height: 22px
  background-image: url(/images/icons/icon-remove.svg)
  background-size: contain

.icon-error
  width: 22px
  height: 22px
  background-image: url(/images/icons/icon-error.svg)
  background-size: contain

.icon-arrow_d_w
  width: 10px
  height: 5px
  background-image: url(/images/icons/arrow-d_w.svg)
  background-size: contain
  background-repeat: no-repeat
  background-position: center

.icon-android-cool
  width: 83px
  height: 139px
  background-image: url(/images/icons/icon-android-cool.png)
  background-size: contain
  background-repeat: no-repeat
  background-position: center

.icon-present-box
  width: 124px
  height: 124px
  background-image: url(/images/icons/icon-present-box.png)
  background-size: contain
  background-repeat: no-repeat
  background-position: center

.icon-lock
  width: 8px
  height: 9px
  background-image: url(/images/icons/icon-lock.svg)
  background-size: contain

.icon-arrow-left
  width: 13px
  height: 11px
  background-image: url(/images/icons/icon-arrow-left.svg)
  background-size: contain

.icon-arrow-right
  width: 10px
  height: 7px
  background-image: url(/images/icons/icon-arrow-right.svg)
  background-size: contain

.icon-mastercard
  width: 21px
  height: 14px
  background-image: url(/images/icons/icon-mastercard.svg)
  background-size: contain

.icon-chevron-down
  width: 7px
  height: 5px
  background-image: url(/images/icons/icon-chevron-down.svg)
  background-size: contain
