@import "../swatches.sass"
@import "../mixin.sass"

// region ---- Common inputs styles
.form-control
  width: 100%
  height: 40px
  border-radius: 10px
  border: 1px solid rgba($color-white, 0.2)
  padding: 0 20px
  background-color: transparent
  color: $yellow
  font-family: $font-bold
  font-size: 16px
  box-sizing: border-box
  @include text-ellipsis
  &:focus
    border-color: rgba($color-white,.9)

input[readonly].form-control
  &:focus
    border-color: rgba($color-white, 0.2)

textarea.form-control
  resize: none
  height: auto
  line-height: 0
  padding-top: 19px
  padding-bottom: 19px
  &:focus,
  &:active
    outline: none

.input__label
  display: block
  margin-bottom: 6px

.input__container
  position: relative
  @include clear-fix
  .form-control
    float: left

.input__container--with-icon
  .form-control
    padding-right: 40px

.input__icon
  position: absolute
  right: 0
  top: 0
  width: 40px
  height: 40px
  font-size: 20px
  line-height: 40px
  overflow: hidden
  background: none
  border: 0
  text-align: center
  &::before
    margin: 0
  &:hover
    cursor: pointer
// endregion
