@import "../swatches.sass"

.loading-spinner
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  background: $dark-three
  border-radius: 8px
  width: 329px
  height: $loader-height
  text-align: center
  display: flex
  justify-content: center
  align-items: center

.loading-spinner_nobg
  background: none
  position: static
  transform: none
  width: auto

.loading-spinner_title
  img
    display: block

.loading-spinner_indicator
  display: inline-block
  line-height: normal
  background-image: url(/images/icons/icon-star.svg)
  background-repeat: no-repeat
  background-size: 100%
  width: 24px
  height: 24px
  animation: loader 2.5s linear infinite
  margin-left: 15px

.loading-spinner_indicator-first
  margin-left: 0
.loading-spinner_indicator-second
  animation-delay: 0.5s
.loading-spinner_indicator-third
  animation-delay: 1s
.loading-spinner_indicator-fourth
  animation-delay: 1.5s
.loading-spinner_indicator-fifth
  animation-delay: 2s

@keyframes loader
  0%
    background-image: url(/images/icons/icon-star_fill.svg)
  40%
    background-image: url(/images/icons/icon-star.svg)
  60%
    background-image: url(/images/icons/icon-star.svg)
  80%
    background-image: url(/images/icons/icon-star.svg)
  100%
    background-image: url(/images/icons/icon-star.svg)
