@import "../swatches"
@import "../mixin"

.navbar
  position: relative
  min-height: $navbar-item-height
  background: #141d36
  @include tablet
    background: #262F50
    border-radius: 12px
  .navbar__link
    position: relative
    padding: 3px 16px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    flex: 1
    height: $navbar-item-height
    // line-height: $navbar-item-height
    font-size: 14px
    color: #EDF1FA
    cursor: pointer
    // border-bottom: 1px solid rgba(255, 255, 255, 0.1)
    margin: 0 0 0 8px
    // @include text-ellipsis
    @include tablet-max
      max-width: 130px
      padding: 0
      margin: 0
    &:hover
      // background-color: rgba(25, 64, 106, 0.5)
      // border-radius: 8px
    .item-name
      display: flex
      align-items: center
      @include tablet-max
        max-width: 106px
      img
        width: 20px
        height: 20px
        margin-right: 14px

  .navbar__link--active
    // background-color: #384265
    // border-radius: 8px
    .item-name
      color: $accent-three
      box-shadow: 0 3px 0 $accent-one
    &:hover
      .item-name
        color: $accent-three
        box-shadow: 0 3px 0 $accent-one

.navbar-header
  height: $navbar-item-height
  line-height: $navbar-item-height
  padding: 0 16px
  cursor: pointer
  border-bottom: 1px solid rgba(255, 255, 255, 0.1)
  transition: border 0.15s
  @include clear-fix
  @include tablet
    display: none

.navbar-toggle
  position: relative
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  .icon-warn
    margin-right: 36px

.navbar-brand
  color: rgba(237, 241, 250, 0.5)
  font-size: 14px
  text-transform: uppercase

.navbar-icon
  color: $color-white
  position: absolute
  top: 50%
  transform: translateY(-50%)
  right: 0
  &:before
    margin: 0

.navbar-collapse
  max-height: 100%
  overflow: hidden
  transition: all 0.25s ease-in-out
  padding: 0 0 16px
  @include tablet-max
    padding: 24px 0

.navbar-opened
  .navbar-header
    border-bottom: 1px solid rgba(255,255,255,0.2)

  .navbar-collapse
    height: 100%
    @include tablet
      height: auto
