.new-notifications-container
  position: absolute
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  padding: 0 6px
  z-index: 9999
  .new-notification-card
    width: 100%
    padding: 16px
    margin-top: 14px
    background: #1D9CF9
    border: 1px solid rgba(255, 255, 255, 0.1)
    border-radius: 8px
    display: flex
    justify-content: space-between
    pointer-events: initial
    @include desktop
      padding: 24px
      align-items: center
      width: max-content
      border-radius: 16px
      width: 600px
      &:first-of-type
        margin-top: 41px
    .notification-card-icon
      width: 28px
      height: 28px
      @include desktop
        width: 48px
        height: 48px
    .main-block
      display: flex
      flex-direction: column
      justify-content: flex-start
      width: 100%
      margin-left: 10px
      margin-right: 10px
      @include desktop
        flex-direction: row
        align-items: center
        margin-left: 24px
        justify-content: space-between
        margin-right: 24px
      .text
        font-size: 14px
        line-height: 17px
        letter-spacing: -0.5px
        color: #FFFFFF
        margin-bottom: 8px
        margin-top: 3px
        @include desktop
          padding-right: 24px
          margin-bottom: 0
          font-size: 16px
      .action-button
        width: max-content
        padding: 8px 12px
        background: rgba(255, 255, 255, 0.2)
        box-shadow: 0px 4px 12px rgba(29, 156, 249, 0.25)
        border-radius: 4px
        font-style: normal
        cursor: pointer
        white-space: nowrap
        font-weight: 700
        font-size: 14px
        line-height: 18px
        text-align: center
        letter-spacing: 0.7px
        text-transform: uppercase
        color: #FFFFFF
        @include desktop
          font-size: 16px
          padding: 10px 24px

    .notification-card-close-icon
      width: 14px
      height: 14px
      cursor: pointer
      @include desktop
        width: 20px
        height: 20px

.new-notification-badge
  position: fixed
  bottom: 40px
  right: 0
  width: 80px
  height: 62px
  background: linear-gradient(121.6deg, #EE3D16 0%, #DB237B 99.99%)
  box-shadow: 0px 0px 25.2px #E7383A
  pointer-events: initial
  display: flex
  justify-content: center
  align-items: center
  border-bottom-left-radius: 50px
  border-top-left-radius: 50px
  z-index: 999
  @include desktop
    bottom: unset
    top: 180px
  &.bonuses
    width: max-content
    background: linear-gradient(121.6deg, #1679EE 0%, #238EDB 99.99%)
    box-shadow: 0px 0px 25.2px #2089E0
    bottom: 118px
    @include desktop
      top: 250px
    .content-container
      padding: 0 18px
  &.cashback
    width: max-content
    background: linear-gradient(121.6deg, #1FCE7A 0%, #23DB77 99.99%)
    box-shadow: 0px 0px 25.2px #22D679
    bottom: 198px
    @include desktop
      top: 320px
    .content-container
      padding: 0 18px
  .content-container
    position: relative
    display: flex
    align-items: center
  .text
    margin-left: 10px
    font-weight: 700
    font-size: 20px
    line-height: 26px
    color: #FFFFFF
  .badge-icon
    width: 35px
    height: 35px
  .counter
    background: #FFFFFF
    border-radius: 8px
    font-weight: 700
    font-size: 12px
    line-height: 14px
    color: #E42F4E
    position: absolute
    right: -11px
    top: -6px
    padding: 0 3px
