@import "../swatches.sass"
@import "../mixin"

//
// Card Popup Notification
// ------------------------------
$card-popup-width: 320px

.card-popup
  width: $card-popup-width
  text-align: center
  position: relative
  border-radius: 4px
  padding: 18px 24px 24px 24px
  box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.5)
  color: $color-white
  pointer-events: initial
// end region

//
// Bonus Card Popup Notification
// ------------------------------
.card-popup-bonus
  background: url(/images/bonuses/burst.png) no-repeat bottom, linear-gradient(-45deg, #2E3192 0%, #1BFFFF 100%), #1BFFFF
  padding: 24px 24px 0 24px
  .card-popup-bonus_terms
    position: absolute
    font-size: 11px
    opacity: 0.8
    font-weight: bold
    left: 0
    bottom: 12px
    text-transform: uppercase
    text-decoration: underline
    color: $color-white

.card-popup-bonus_title
  margin-bottom: 5px
  font-size: 18px
  font-weight: bold
  color: $color-white
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)
  text-transform: uppercase

.card-popup-bonus_message
  margin-bottom: 5px
  font-size: 24px
  color: $color-white
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)

.card-popup-bonus__controls
  height: 72px
  position: relative

.card-popup-bonus_amount
  width: 100%
  text-align: center
  font-size: 52px
  line-height: 50px
  font-weight: 800
  color: $color-white
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3)

.card-popup-bonus_currency
  width: 100%
  text-align: center
  font-size: 24px
  line-height: 33px
  font-weight: 800
  color: $color-white
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3)

.card-popup-bonus_wager
  width: 100%
  font-size: 12px
  font-weight: bold
  text-align: center
  color: $color-black
  text-transform: uppercase
  margin-top: 8px

.card-popup-bonus_image
  margin: 14px 0

.card-popup-bonus_gameImage
  width: 100px
  height: 100px
  margin-top: 8px
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3)
  border-radius: 8px
  cursor: pointer
  &--disabled
    cursor: default

.card-popup-bonus_gameName
  font-size: 14px
  line-height: 11px
  font-weight: bold
  color: $color-white
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3)
  margin-top: 5px
  margin-bottom: 15px
  text-transform: uppercase

.card-popup-bonus_freeSpins
  width: 100%
  text-align: center
  font-size: 24px
  line-height: 33px
  font-weight: 800
  color: $color-white
  text-transform: uppercase
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3)

.card-popup-bonus_separator
  width: 100%
  height: 1px
  opacity: 0.5
  background-color: $color-white
  margin: 10px 0

.card-popup-bonus__buttons
  position: absolute
  bottom: 40px
  left: 0
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-evenly
  > button:not(:first-child)
    margin-left: 8px

.card-popup-bonus__buttons_el
  position: relative
  width: 130px
  height: 32px
  font-size: 12px
  background: none
  border: 1px solid $color-white
  border-radius: 48px
  text-transform: uppercase
  outline: none
  cursor: pointer
  transform: translateY(0)
  transition: 0.15s all
  @include text-ellipsis
  &:hover
    transform: translateY(-2px)

.card-popup-bonus__buttons_el--multiline
  height: auto
  white-space: normal
  overflow: visible
  text-overflow: ellipsis
  min-height: 32px

.card-popup-bonus__buttons_rules
  float: left
  line-height: 32px
  margin-right: 10px

.card-popup-bonus__buttons_refuse
  color: white
  float: left

.card-popup-bonus__buttons_refuse-single
  color: white

.card-popup-bonus__buttons_accept
  color: $color-black
  background: $color-white
  .loading-spinner_indicator
    width: 12px
    height: 12px
    margin-left: 5px

a.card-popup-bonus__buttons_accept
  color: $color-black !important
  display: flex
  justify-content: center
  align-items: center

.card-popup-bonus__go-game
  color: $color-white
  background: $green-sushi
  margin-bottom: 8px

//
// Bonus Card Popup Notification gradients that fits any design
// ------------------------------
.card-popup-bonus--gradient-1
  background: url(/images/bonuses/burst.png) no-repeat bottom, linear-gradient(-45deg, #2E3192 0%, #1BFFFF 100%)

.card-popup-bonus--gradient-2
  background: url(/images/bonuses/burst.png) no-repeat bottom, linear-gradient(-45deg, #D4145A 0%, #FBB03B 100%)

.card-popup-bonus--gradient-3
  background: url(/images/bonuses/burst.png) no-repeat bottom, linear-gradient(-225deg, #FCEE21 0%, #009245 100%)

.card-popup-bonus--gradient-4
  background: url(/images/bonuses/burst.png) no-repeat bottom, linear-gradient(-225deg, #ED1E79 0%, #662D8C 100%)

.card-popup-bonus--gradient-5
  background: url(/images/bonuses/burst.png) no-repeat bottom, linear-gradient(-225deg, #FCEE21 0%, #ED1C24 100%)

.card-popup-bonus--gradient-6
  background: url(/images/bonuses/burst.png) no-repeat bottom, linear-gradient(-225deg, #FFFF7E 0%, #00A8C5 100%)

.card-popup-bonus--gradient-7
  background: url(/images/bonuses/burst.png) no-repeat bottom, linear-gradient(-225deg, #FFE98A 0%, #D74177 100%)

.card-popup-bonus--gradient-8
  background: url(/images/bonuses/burst.png) no-repeat bottom, linear-gradient(-225deg, #D9E021 0%, #FB872B 100%)

.card-popup-bonus--gradient-9
  background: url(/images/bonuses/burst.png) no-repeat bottom, linear-gradient(-225deg, #852D91 0%, #312A6C 100%)

.card-popup-bonus--gradient-10
  background: url(/images/bonuses/burst.png) no-repeat bottom, linear-gradient(-225deg, #FFFF96 0%, #009E00 100%)

.card-popup-bonus--gradient-11
  background: url(/images/bonuses/burst.png) no-repeat bottom, linear-gradient(-225deg, #63E2FF 0%, #B066FE 100%)

.card-popup-bonus--gradient-12
  background: url(/images/bonuses/burst.png) no-repeat bottom, linear-gradient(-225deg, #FC7D7B 0%, #8E78FF 100%)

.card-popup-bonus--gradient-13
  background: url(/images/bonuses/burst.png) no-repeat bottom, linear-gradient(-225deg, #3AA17E 0%, #00537E 100%)

.card-popup-bonus--gradient-14
  background: url(/images/bonuses/burst.png) no-repeat bottom, linear-gradient(-225deg, #00FFEE 0%, #D585FF 100%)

.card-popup-bonus--gradient-15
  background: url(/images/bonuses/burst.png) no-repeat bottom, linear-gradient(-225deg, #EBC08D 0%, #F24645 100%)

.card-popup-bonus--gradient-16
  background: url(/images/bonuses/burst.png) no-repeat bottom, linear-gradient(-225deg, #A3A1FF 0%, #3A3897 100%)

.card-popup-bonus--gradient-17
  background: url(/images/bonuses/burst.png) no-repeat bottom, linear-gradient(-225deg, #FF5300 0%, #45145A 100%)

.card-popup-bonus--gradient-18
  background: url(/images/bonuses/burst.png) no-repeat bottom, linear-gradient(-225deg, #5A5454 0%, #333333 100%)

.card-popup-bonus--gradient-19
  background: url(/images/bonuses/burst.png) no-repeat bottom, linear-gradient(-225deg, #29ABE2 0%, #4F00BC 100%)

.card-popup-bonus--gradient-20
  background: url(/images/bonuses/burst.png) no-repeat bottom, linear-gradient(-225deg, #00A99D 0%, #93278F 100%)

.card-popup-bonus--invite-first-card
  background: url(/images/bonuses/first-card.jpg)
  background-size: 100% 100%
  background-attachment: scroll

.card-popup-bonus--invite-second-card
  background: url(/images/bonuses/second-card.jpg)
  background-size: 100% 100%
  background-attachment: scroll

.card-popup-bonus--invite-third-card
  background: url(/images/bonuses/third-card.jpg)
  background-size: 100% 100%
  background-attachment: scroll
// end region


//
// Jackpot Card Popup Notification
// ------------------------------
$card-popup-jp-bg: radial-gradient(circle at 0 0, #78cc37, #004b91)

.card-popup-jp
  background-image: $card-popup-jp-bg
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: 50% 0 no-repeat url(/images/jackpots/bg-lines.svg)
  .card-popup-content
    position: relative
    text-transform: uppercase

.card-popup_close
  position: absolute
  right: 12px
  top: 12px
  cursor: pointer

.card-popup_caption
  margin: 0
  font-size: 21px
  font-weight: 400
  padding-right: 20px
  @include text-ellipsis

.card-popup-jp_img
  width: 100px
  height: 100px
  background-position: center center
  background-size: 100% 100%
  margin: 10px auto 0 auto
  background-image: url(/images/jackpots/icon-gold.svg)

.card-popup-jp__info
  width: 100%
  height: 93px
  padding: 0 50px
  margin-top: -7px
  background: no-repeat url(/images/jackpots/ribbon.png) center center
  background-size: 105% 100%

.card-popup-jp__info_title
  font-size: 18px
  position: relative
  top: 6px
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.50)
  @include text-ellipsis

.card-popup-jp__info_caption
  font-size: 20px
  margin-top: 4px
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.50)
  @include text-ellipsis

.card-popup-jp_amount
  margin-top: -10px
  font-size: 36px
  font-weight: bold
  text-shadow: 0 6px 4px rgba(0, 0, 0, 0.50)
  @include text-ellipsis

.card-popup-jp__game-info
  margin-top: 5px

.card-popup-jp__game-info_title
  font-size: 12px

.card-popup-jp__game-info_img
  margin: 6px auto
  border-radius: 50%
  width: 58px
  height: 58px
  box-shadow: inset 0 1px 6px 2px rgba(255, 255, 255, 0.58)

.card-popup-jp__game-info_caption
  font-size: 12px

.card-popup-jp_btn
  margin-top: 10px
  font-size: 18px
  height: 36px
  line-height: 36px

.card-popup-bonus__freespins-tap-to-play
  font-size: 18px
  margin-bottom: 6px
  font-weight: bold
  color: $color-white
  text-transform: uppercase

// end region

//
// Notification Manager
// ------------------------------
.notification-manager
  max-width: 1366px
  position: fixed
  top: 0
  left: 50%
  width: 100%
  height: 100%
  transform: translate(-50%, 0)
  overflow: hidden
  pointer-events: none
  z-index: 111

.card-popup-container
  position: absolute
  top: 12px
  right: 12px
  @include tablet
    top: 80px
    right: 0
  &--queued
    right: -$card-popup-width
  &--visible
    opacity: 1
    animation: animateCardPopupShow 0.5s ease-in-out
    animation-fill-mode: forwards
  &--hidden
    opacity: 1
    animation: animateCardPopupHide 0.5s ease-in-out
    animation-fill-mode: forwards

@keyframes animateCardPopupShow
  0%
    transform: translateX(130%) rotate(-30deg)
    opacity: 0
  75%
    transform: translateX(-5%) rotate(5deg)
  100%
    transform: translateX(0)
    opacity: 1

@keyframes animateCardPopupHide
  0%
    transform: translateX(0)
    opacity: 1
  25%
    transform: translateX(-5%) rotate(5deg)
  100%
    transform: translateX(130%) rotate(-30deg)
    opacity: 0
// endregion

.card-invite
  height: 568px
  display: flex
  text-transform: uppercase
  .card-invite-close
    background: no-repeat url(/images/icons/icon-close-white.svg) 20px 25px
  .card-invite-content
    font-size: 15px
    .second-line
      color: $yellow
    .card-invite-location-name,
    .card-invite-location-address,
    .card-invite-phone-block
      margin-top: 10px
  .card-popup-jp_btn
    padding-top: 0
    margin-top: 10px
    margin-bottom: 10px

.card-invite-friend-content
  display: flex
  flex: 1
  flex-direction: column
  justify-content: center
  font-size: 15px
  font-weight: 700
  padding-top: 120px !important
  z-index: 2

.card-invite-inviter
  margin-top: 3px
  span
    color: $color-light-blue

.card-invite-from-location,
.card-invite-call-me,
.card-invite-message,
.card-invite-bonus-desc
  margin-top: 10px
  .second-line
    margin-top: 3px
    color: $yellow

.card-invite-message
  font-size: 15px

.card-popup.card-invite .card-popup-content::before
  display: none

.card-invite-friend-bg
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  border-radius: 14px
