@import "../swatches.sass"
@import "../mixin"

$table-history-border-radius: 8px
$table-history-row-height: 48px

.table-history-title
  color: $yellow
  font-size: 14px
  font-weight: 600
  text-align: center

.table-history
  width: 100%
  border-collapse: separate
  border-spacing: 0 4px
  text-align: center
  thead
    font-weight: 600
  tr
    height: $table-history-row-height
    background-image: linear-gradient(to bottom, #ffffff, #e8ebef)
    border-radius: 8px
  td
    padding: 10px 5px
    color: $dark-black
    font-size: 14px
    &:first-child
      padding-left: 14px
      border-top-left-radius: $table-history-border-radius
      border-bottom-left-radius: $table-history-border-radius
    &:last-child
      padding-right: 14px
      border-top-right-radius: $table-history-border-radius
      border-bottom-right-radius: $table-history-border-radius

.table-history-created-at,
.table-history-activated-at,
.table-history-wagered-at
  font-size: 12px
  text-align: left

.table-history-bonus-value
  text-align: left
  @include desktop-lg
    text-align: center


