@import "./theme"
@import "./item-page"
@import "./list-page"

.tournaments-main-page-block-new-year,
.tournaments-list-active-item.tournaments-tournaments-list-page-new-year,
.tournaments-tournament-page-new-year
    .flipdown.flipdown__theme-wl .rotor, 
    .flipdown.flipdown__theme-wl .rotor-top, 
    .flipdown.flipdown__theme-wl .rotor-leaf-front,
    .flipdown.flipdown__theme-wl .rotor-bottom, 
    .flipdown.flipdown__theme-wl .rotor-leaf-rear
        color: white
        background: #AD0229
    .flipdown.flipdown__theme-wl .rotor::after
        border-color: rgba(0,0,0,0.2)
    .game-item__title
        background: $green
