@import "../../../swatches.sass"
@import "../../../mixin.sass"
    
.tournaments-tournament-page-new-year
    overflow: hidden
    article
        position: relative
    @include mobile
        header img
            max-width: 290px

.tournaments-tournament-page-new-year .tournament-section-banner
    height: 362px
    figure
        left: -40px

.tournaments-page-content .tournaments-tournament-page-new-year .leaders
    background-color: rgba(75, 0, 15, 0.8)

.tournaments-page-content .tournaments-tournament-page-new-year .leaders-header
    margin: 0
    padding: 32px 0 0
    background: rgba(75,0,15,0.8)
    border-radius: 4px 4px 0 0
