@import "../../../mixin.sass"
@import "../mixin.sass"
    
.tournaments-main-page-block-new-year
    border: 1px solid #891E2E
    background: url('/images/tournaments/new-year/main-block-background.jpg?v2') top / cover no-repeat
    @include tablet-max
        background-image: url('/images/tournaments/new-year/main-block-background.m.jpg?v1')
.tournaments-tournament-page-new-year
    background: url('/images/tournaments/new-year/green-background.jpg') 0/185px
    .tournament-article
        background: url('/images/tournaments/new-year/red-background.jpg') 0/185px

.tournaments-tournaments-list-page-new-year
    background: url('/images/tournaments/new-year/red-background.jpg') 0/185px

    .card-body
        background: url('/images/tournaments/new-year/green-background.jpg') 0/185px
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27), inset 0 1px 0 0 rgba(255, 255, 255, 0.16)

.tournaments-tournaments-list-page-new-year.tournaments-list-active-item
    border: 1px solid transparent

.tournaments-tournaments-list-page-new-year .tournaments-list-item-background-overlay
    @include tablet-max
        display: none
    @include asset('new-year','heat-package', 150, 150)
        right: -75px
        top: 15px
    @include asset('new-year','gold-star', 100, 100)
        left: -70px
        top: 15px
    @include asset('new-year','snowflake', 100, 100)
        right: -55px
        top: 15px
    @include asset('new-year','red-star', 70, 70)
        left: -34px
        bottom: -41px

.tournaments-main-page-block.tournaments-main-page-block-new-year
    border-color: #9D202E

.tournaments-tournament-page-new-year .tournaments-background-overlay
    @include tablet-max
        display: none

    z-index: 5
    pointer-events: none
    position: absolute
    width: 100%
    height: 100%
    @include asset('new-year','santa', 411, 450)
        top: -30px
        left: -41%
    @include asset('new-year','heat-package', 298, 293)
        right: -35%
    @include asset('new-year','cone', 393, 260)
        top: 245px
        right: -70px
    @include asset('new-year','candy', 152, 180)
        top: 405px
        left: -70px
    @include asset('new-year','snowflake', 156, 162)
        top: 767px
        right: -90px
    @include asset('new-year','red-star', 249, 303)
        top: 900px
        left: -182px
    @include asset('new-year','gold-star', 156, 163)
        top: 1000px
        right: -142px

.tournaments-tournaments-list-page-new-year .tournaments-list-item-icon
    background: url('/images/tournaments/new-year/list-item-background.jpg?v1') center / cover no-repeat
    width: 300px
    height: 188px
    @include mobile
      width: 180px
      height: auto
    @include mobile-xs
      width: 128px
      height: auto
