@import "./theme"
@import "./item-page"
@import "./list-page"

.tournaments-main-page-block-woman-day,
.tournaments-tournament-page-woman-day
    .flipdown.flipdown__theme-wl .rotor, 
    .flipdown.flipdown__theme-wl .rotor-top, 
    .flipdown.flipdown__theme-wl .rotor-leaf-front,
    .flipdown.flipdown__theme-wl .rotor-bottom, 
    .flipdown.flipdown__theme-wl .rotor-leaf-rear
        color: #ad0229
        background: #fff
        font-weight: 400
    .flipdown.flipdown__theme-wl .rotor::after
        border-top: 1px solid rgba(0, 0, 0, 0.2)
    .game-item__title
        background: #ce0014

.tournaments-tournaments-list-page-woman-day
    .flipdown.flipdown__theme-wl .rotor,
    .flipdown.flipdown__theme-wl .rotor-top,
    .flipdown.flipdown__theme-wl .rotor-leaf-front,
    .flipdown.flipdown__theme-wl .rotor-bottom,
    .flipdown.flipdown__theme-wl .rotor-leaf-rear
        color: #fff
        background: #ad0229
        font-weight: 400
    .flipdown.flipdown__theme-wl .rotor::after
        border-top: 1px solid rgba(0, 0, 0, 0.2)
    .game-item__title
        background: #ce0014
