@import "../../../swatches.sass"
@import "../../../mixin.sass"
    
.tournaments-tournament-page-woman-day
    overflow: hidden
    article
        position: relative
    @include mobile
        header img
            max-width: 290px
    
.tournaments-page-content .tournaments-tournament-page-woman-day
    .leaders-header
        background-color: #2b0701
        margin-top: 0
        margin-bottom: 0
        padding-top: 30px
    .leaders
        background-color: #2b0701

.tournaments-page-content .tournaments-tournament-page-woman-day h1
    color: #fff
    position: relative
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.9)
    font-size: 48px
    font-weight: normal

.tournaments-page-content .tournaments-tournament-page-woman-day .tournament-article-body h2
    color: #c0040e
    @include desktop
        font-size: 32px

.tournaments-page-content .tournaments-tournament-page-woman-day h2.tournament-ends
    color: #fff0bc

.tournaments-tournament-page-woman-day .tournament-section-banner
    figure
        left: 0
        bottom: -18px
        @include mobile
            bottom: -12px
            left: -20px
        img
            height: 100%
