.tournaments-tournaments-list-page-woman-day.tournaments-list-active-item
    border: none
    .card-item
        position: relative
        z-index: 10
    > footer
        background-image: linear-gradient(to bottom, #9c0008, #e10a21)
        position: relative

.tournaments-tournaments-list-page-woman-day .card-body
    box-shadow: inset 0 0 63px 22px rgba(162, 58, 58, 0.33)
    background-color: #ffdaad

.tournaments-page-content.tournaments-list-page .tournaments-tournaments-list-page-woman-day
    .card-item header.accent
        color: #000
        text-transform: uppercase
        margin-top: 10px
        margin-bottom: 0
        @include tablet
            font-size: 32px

    .card-item .primary
        color: #ab0009

    .countdown-container > header
        color: #000

    .flipdown.flipdown__theme-wl .rotor-group-heading
        color: #000

    .card-item .card-body
        text-shadow: none

    .game-item
        @include tablet
            padding: 4px

    .game-item__title
        background: #ff8000
        font-size: 8px

    .game-item__img-container
        border-radius: 4px 4px 0 0

    .game-item__title
        border-radius: 0 0 4px 4px
        height: 21px

.tournaments-list-page .tournaments-tournaments-list-page-woman-day > footer
    @include desktop
        padding-bottom: 45px

.tournaments-list-page-upcoming .tournaments-tournaments-list-page-woman-day .card-item .secondary
    color: #000
