@import "../../../mixin.sass"
@import "../mixin.sass"

.tournaments-tournament-page-woman-day
    @include desktop
        padding-bottom: 80px

.tournaments-page-content .tournaments-tournament-page-woman-day .tournament-article
    background: transparent

.tournaments-main-page-block-woman-day
    border: 1px solid #840010

.tournaments-page-content .tournaments-tournament-page-woman-day
    background: url(/images/tournaments/woman-day/background-woman-1.png) left top/30% no-repeat, url(/images/tournaments/woman-day/background-woman-2.png) right top/60% no-repeat
    background-color: #000
    .tournament-article
        padding-top: 0
        position: relative

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-woman-day article .tournament-section-banner .tournament-section-banner-icon--second
    display: none
    @include desktop
        display: block
        position: absolute
        right: -11%
        left: auto
        bottom: -18%
        z-index: 10
        height: 420px

// region ---- main page, body
.tournaments-tournament-page-woman-day .tournament-article-body
    box-shadow: inset 0 0 63px 22px rgba(162, 58, 58, 0.33)
    background-color: #ffdaad
    margin: 0 9px
    border-bottom-left-radius: 8px
    border-bottom-right-radius: 8px

// ---- endregion

// region ---- main page, leaders
.tournaments-tournament-page-woman-day .tournament-article-leaders
    margin-top: 1.3em
    background-image: linear-gradient(to bottom, #9c0008, #e10a21)
    border-top: 2px solid #ff6e7d
    margin-left: -9px
    margin-right: -9px
    position: relative

.tournaments-tournament-page-woman-day .tournament-article-leaders.tournament-article-leaders--show
    min-height: 325px
    @include desktop
        padding-bottom: 60px

.tournaments-tournament-page-woman-day .tournament-article-leaders::before
    content: ''
    position: absolute
    left: 9px
    bottom: -16px
    height: 16px
    width: calc(100% - 18px)
    background: url(/images/tournaments/woman-day/leaders-block-shadow.svg) center center no-repeat

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-woman-day .leaders-header
    background: transparent
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
    color: #fff
    @include sizes(32, 16, 12)

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-woman-day .leaders
    background: transparent

.tournaments-tournament-page-woman-day .tournament-article-leaders-icon
    display: none
    @include desktop
        width: 241px
        height: 244px
        display: block
        background: url(/images/tournaments/woman-day/trophy.png) center center no-repeat
        background-size: contain
        bottom: -20px
        position: absolute
        left: 50%
        transform: translateX(-50%)

.tournaments-page-content .tournaments-tournament-page-woman-day .leaders .leader-item
    @include desktop
        padding: 0 60px

.tournaments-page-content .tournaments-tournament-page-woman-day .leader-item-content
    border-bottom: 1px solid rgba(255, 255, 255, 0.25)
    padding-bottom: 9px
// ---- endregion

// region ---- main page, games

.tournaments-tournament-page-woman-day .tournaments-page-content-games
    @include desktop
        padding: 0 90px

.tournaments-tournament-page-woman-day .tournament-article-games h2
    @include tablet
        margin-top: 45px
        margin-bottom: 30px

.tournaments-tournament-page-woman-day .tournaments-page-content-games .game-item
    max-width: initial
    width: 50%

.tournaments-tournament-page-woman-day .tournaments-page-content-games .game-item__img-container
    border: 1px solid #ce0014
    border-bottom: transparent

.tournaments-tournament-page-woman-day .tournaments-page-content-games .game-item__title
    @include desktop
        font-size: 15px

.tournaments-tournament-page-woman-day .tournament-article-rules
    color: #000
    @include desktop
        padding-bottom: 115px

// ---- endregion


// region ---- main page, header
.tournaments-tournament-page-woman-day .tournament-article-header
    background: url(/images/tournaments/woman-day/header-block-background.png) center center no-repeat
    background-position-x: -2px
    background-position-y: -3px
    background-size: calc(100% + 5px) 100%
    padding-top: 25px
    position: relative
    @include tablet
        padding-top: 55px

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-woman-day article .tournament-section-banner
    height: auto
    position: inherit
    padding-bottom: 20px
    @include tablet
        padding-bottom: 50px

.tournaments-page-content .tournaments-tournament-page-woman-day .tournament-article-header h2
    color: #d70c17
    @include desktop
        font-size: 20px

.tournaments-tournament-page-woman-day .tournament-article-header .tournament-prize-pool
    text-shadow: 0 2px 0 #ce0014, 0 1px 0 #ffdaad
    color: #000
    background: url(/images/tournaments/woman-day/crown.png) center center no-repeat
    background-size: auto 50%
    padding: 18px
    font-size: 80px
    @include tablet
        background-size: auto 100%
        text-shadow: 0 5px 0 #ce0014, 0 1px 0 #ffdaad

.tournaments-tournament-page-woman-day .tournament-promo-text
    font-weight: 600
    color: #000
    max-width: 600px
    margin-top: 0
    @include sizes(28, 16, 12)

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-woman-day article .tournament-section-banner header
    text-shadow: none
    color: #c0040e
    position: relative
    z-index: 20
    @include tablet
        font-size: 50px

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-woman-day article .tournament-section-banner p
    color: #000
    font-weight: 600
    position: relative
    z-index: 20
    @include desktop
        margin-top: 30px
        font-size: 16px

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-woman-day article .tournament-section-banner figure
    left: -9%
    @include tablet
        bottom: -30px
        left: -11%

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-woman-day article .tournament-section-banner figure img
    @include mobile
        max-height: 225px
        height: 44vw

    @include mobile-xs
        height: 50vw

// ---- endregion

.tournament-page .tournaments-tournament-page-woman-day .tournament-days
    position: relative
    color: #fff0bc

.tournaments-tournaments-list-page-woman-day
    background: transparentize(#341a00, 0.3)

    .card-body
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27), inset 0 1px 0 0 rgba(255, 255, 255, 0.16)

.tournaments-tournaments-list-page-woman-day .leader-item-content
    border-bottom: 1px solid rgba(255, 255, 255, 0.25)
    padding-bottom: 9px

.tournaments-tournaments-list-page-woman-day.tournaments-list-active-item
    border: 1px solid #840010

.tournaments-tournaments-list-page-woman-day .tournaments-list-item-background-overlay
    @include tablet-max
        display: none
    @include asset('woman-day','present-first', 103, 115)
        left: -60px
        bottom: -50px
    @include asset('woman-day','present-second', 234, 222)
        top: -5px
        right: -33px

.tournaments-tournament-page-woman-day .tournaments-background-overlay
    @include tablet-max
        display: none
    z-index: 10
    pointer-events: none
    position: absolute
    width: 100%
    height: 100%
    @include asset('woman-day','present-first', 179, 201)
        bottom: -7px
        left: 50%
        transform: translateX(-50%)
    @include asset('woman-day','starburst-first', 127, 141)
        bottom: 1000px
        left: -65px
    @include asset('woman-day','starburst-second', 137, 160)
        bottom: 1850px
        right: -60px

.tournaments-main-page-block-woman-day
    border: 1px solid #891E2E
    background-image: linear-gradient(to bottom, #840010, #4c1204)

.tournaments-main-page-block-woman-day
    position: relative
    .background-layer
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
    .background-layer ~ *
        z-index: 2
        position: relative

.tournaments-main-page-block.tournaments-main-page-block-woman-day
    background: #000
    border-color: #7C0007
    .background-layer
        .item-left
            position: absolute
            background: url('/images/tournaments/woman-day/main-block/item-left.png') center / contain no-repeat
            width: 173px
            height: 135px
            left: 28%
            @include desktop
                left: 29%
                width: 120px
                background-position-y: -15px
            @include tablet-max
                left: 0
                bottom: 0
                height: 100%
            @include mobile
                width: 120px
                left: 25px
            @include mobile-xs
                left: 0
        .item-right
            position: absolute
            background: url('/images/tournaments/woman-day/main-block/item-right.png') center / contain no-repeat
            height: 160px
            right: 24%
            width: 220px
            @include desktop
                right: 23%
                width: 243px
                background-position: center -25px
            @include tablet-max
                right: -30px
                bottom: 0
                height: 125%
                width: 250px
                background-position-y: 30px
            @include mobile-xs
                right: -45px

.tournaments-tournaments-list-page-woman-day
    background: url('/images/tournaments/woman-day/list-item-pattern.jpg')
    background-size: 70px

    footer
        position: relative
    .card-body
        background: #4c1204
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27), inset 0 1px 0 0 rgba(255, 255, 255, 0.16)

.tournaments-tournaments-list-page-woman-day .tournaments-list-item-icon
    background: url('/images/tournaments/woman-day/list-item-background.jpg?v1') center / cover no-repeat
    width: 300px
    height: auto
    @include tablet
        min-height: 188px
    @include mobile
        width: 180px
        height: auto
    @include mobile-xs
        width: 128px
        height: auto

// region ---- finished tournament block, tournaments list
.tournaments-list-page .tournaments-list-fininshed-item.tournaments-tournaments-list-page-woman-day .leader-item-content
    border: none
    padding-bottom: 0

.tournaments-list-page .tournaments-list-fininshed-item.tournaments-tournaments-list-page-woman-day.card-item header.accent
    color: #000

.tournaments-list-page .tournaments-list-fininshed-item.tournaments-tournaments-list-page-woman-day .tournaments-leaders header
    color: #ab0009

.tournaments-list-page .tournaments-list-fininshed-item.tournaments-tournaments-list-page-woman-day .tournaments-leaders,
.tournaments-list-page .tournaments-list-fininshed-item.tournaments-tournaments-list-page-woman-day .tournaments-leaders .leader-item,
.tournaments-list-page .tournaments-list-fininshed-item.tournaments-tournaments-list-page-woman-day .tournaments-leaders .leader-item .name
    color: #000

.tournaments-list-page .tournaments-list-fininshed-item.tournaments-tournaments-list-page-woman-day .tournaments-leaders .leader-item .amount
    color: #ab0009

.tournaments-list-page .tournaments-list-fininshed-item.tournaments-tournaments-list-page-woman-day .card-body
    text-shadow: none

.tournaments-list-page .tournaments-list-fininshed-item.tournaments-tournaments-list-page-woman-day .tournaments-leaders-no-data
    color: #000
// ---- endregion
