/* open-sans-regular - latin_cyrillic */
@font-face
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 400
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../../assets/fonts/open-sans-v15-latin_cyrillic-regular.woff2') format('woff2'), url('../../assets/fonts/open-sans-v15-latin_cyrillic-regular.woff') format('woff')

/* open-sans-600 - latin_cyrillic */
@font-face
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 600
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('../../assets/fonts/open-sans-v15-latin_cyrillic-600.woff2') format('woff2'), url('../../assets/fonts/open-sans-v15-latin_cyrillic-600.woff') format('woff')

/* open-sans-700 - latin_cyrillic */
@font-face
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 700
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../../assets/fonts/open-sans-v15-latin_cyrillic-700.woff2'), url('../../assets/fonts/open-sans-v15-latin_cyrillic-700.woff')

@font-face
  font-family: 'Futura Bk BT'
  font-style: normal
  font-weight: 400
  src: url('../../assets/fonts/futurabkbtrusbyme_book.otf')

@font-face
  font-family: 'Lost'
  font-style: normal
  src: url('../../assets/fonts/Jost-VariableFont_wght.ttf')
