@import "swatches.sass"

@mixin mobile-xs
  @media (max-width: #{$screen-xs - 1})
    @content

@mixin mobile
  @media (max-width: #{$mobile-width})
    @content

@mixin tablet-max
  @media (max-width: #{$tablet-width})
    @content

@mixin tablet
  @media (min-width: #{$mobile-width})
    @content

@mixin desktop
  @media (min-width: #{$desktop-width})
    @content

@mixin desktop-max
  @media (max-width: #{$desktop-width})
    @content

@mixin desktop-lg
  @media (min-width: #{$screen-lg})
    @content

@mixin desktop-lg-max
  @media (max-width: #{$screen-lg})
    @content

@mixin mobile-landscape
  @media (max-height: 415px)
    @content

@mixin container
  max-width: $container-max-width
  margin-left: auto
  margin-right: auto
  width: 100%

@mixin container-max
  @media (max-width: #{$container-max-width})
    @content

@mixin clear-fix
  &:before,
  &:after
    content: ""
    display: table

  &:after
    clear: both

@mixin translate-center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

@mixin panel_list
  list-style: none
  margin: 0
  padding: 0

@mixin rounded
  border-radius: 8px
  overflow: hidden

@mixin icon
  display: inline-block
  vertical-align: middle
  background-repeat: no-repeat
  background-size: 100% 100%
  background-position: center center

@mixin icon_arrow_d_w
  width: 5px
  height: 3px
  background-image: url(/images/icons/arrow-d_w.svg)

@mixin inherited
  font-size: inherit
  font-weight: inherit
  color: inherit
  line-height: inherit
  margin: 0

@mixin yellow-bg
  background: $gr-vertical
  box-shadow: $modal-form-shadow

@mixin text-ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

@mixin text-stroke($stroke-width, $stroke-color)
  text-shadow: -($stroke-width) (-$stroke-width) 0 $stroke-color, ($stroke-width) (-$stroke-width) 0 $stroke-color, (-$stroke-width) ($stroke-width) 0 $stroke-color, ($stroke-width) ($stroke-width) 0 $stroke-color

@mixin font-header-menu
  font-family: $font-lost
  font-size: 14px
  font-weight: 400

@mixin font-user
  font-family: $font-lost
  font-size: 17px
  font-weight: 400

@mixin font-user-bold
  font-family: $font-lost
  font-size: 17px
  font-weight: 700

@mixin font-lost-header-active
  font-family: $font-lost
  font-size: 14px
  font-weight: 500

@mixin font-winners
  font-family: $font-lost
  font-size: 12px
  font-weight: 400

@mixin font-winners-head
  font-family: $font-lost
  font-weight: 400
  font-size: 19px

@mixin font-game
  font-family: $font-lost
  font-weight: 400
  font-size: 25px

@mixin font-bold
  font-family: $font-lost
  font-weight: 700
  font-size: 14px

@mixin font-date
  font-family: $font-lost
  font-weight: 400
  font-size: 13px
