@import "fonts.sass"
@import "swatches.sass"
@import "mixin.sass"

@import "utils/iphone-disable-autozoom-input"

@import "common/header.sass"
@import "common/footer.sass"
@import "common/icons.sass"
@import "common/buttons.sass"
@import "common/notifications.sass"
@import "common/inputs.sass"
@import "common/navbar.sass"
@import "common/table.sass"

@import "ui/bonus/bonus-wager"
@import "ui/bonus/bonus-stats"
@import "ui/bonus/bonus_meta"
@import "ui/bonus/bonus-free-spins-progress"
@import "ui/bonus/profile_bonus"
@import "ui/bonus/bonuses"
@import "ui/layout/expandable-container"
@import "ui/layout/card-item"
@import "ui/progress-bar"
@import "ui/section_no_data"

@import "components/bank-card.sass"
@import "payment-systems/index.sass"
@import "components/block-game.sass"
@import "components/blocks.sass"
@import "components/winner-list.sass"
@import "components/content-navi.sass"
@import "components/content-navi--horizontal-submenu.sass"
@import "components/games-list.sass"
@import "components/hero.sass"
@import "components/modal.sass"
@import "components/authorization/index"
@import "components/guest-modal.sass"
@import "components/modal-form.sass"
@import "components/text-page.sass"
@import "components/jackpot.sass"
@import "components/jackpot-modal.sass"
@import "components/jackpots/index.sass"
@import "components/sport.sass"
@import "components/lobby.sass"
@import "components/seo.sass"
@import "components/recommended-games"
@import "components/profile/index.sass"
@import "components/live-casino"
@import "components/free-spins-list"

@import "components/generated-login/index"
@import "components/flipdown/index"
@import "components/tournaments/index"

@import "components/hide-balance.sass"
@import "components/final-bonuses"
@import "components/daily-bonus"

@import "components/refill-redeem"
@import "components/bonuses.sass"
@import "pages/blog.sass"
@import "pages/skill-wheel.sass"
@import "pages/game-lobby.sass"

@import "pages/freespins-shop.sass"
@import "pages/kiosk-lobby"

@import "components/low-balance-popup"

@import "components/balance-wager-bonus-modal"

@import "components/btn-scroll-up.sass"
@import "components/timeline-cashback-bonus-block"
@import "pages/timeline-cashback-page"
@import "components/_timeline-cashback-short-menu"
@import "common/new-notifications"
@import "components/_tournament-info-block"
@import "components/info-slider"
@import "components/tournaments-list"
@import "pages/_app-info"

html.lock-position
  &,
  body
    overflow: hidden

html
  box-sizing: border-box
  height: 100%
  *
    box-sizing: inherit

body
  height: 100%
  margin: 0
  padding: 0
  font-family: $font-lost
  color: $color-text
  font-size: 14px
  font-weight: 400
  background-color: $dark-black
  &.menu-open,
  &.modal-open
    height: 100%
    position: relative
    overflow: hidden
    .site-wrapper
      position: absolute
      height: 100%
      max-height: 100%
      min-height: 100%
      overflow: hidden
      width: 100%
a
  text-decoration: none
a:any-link,
a:-webkit-any-link
  text-decoration: none
  color: $color-white
a:focus
  outline: none
input:focus
  outline: none
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0
ul, li
  margin: 0
  padding: 0
li
  list-style-type: none
.flex-container
  display: flex
.center-align
  text-align: center
.icon
  @include icon
.btn-vl
  display: inline-block
  cursor: pointer
  height: 40px
  line-height: 40px
  border-radius: 100px
  color: $color-white
  font-family: $font-second
  font-size: 14px
  text-transform: uppercase
  position: relative
  overflow: hidden
  &:active,
  &.active
    // background-image: $gr-violet
    border-color: transparent
    span
      background-color: transparent
  &:hover
    @include tablet
      // background-image: $gr-violet
      border-color: transparent
      span
        background-color: $accent-one
  &:after
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    // background-image: $gr-violet
    border-radius: 100px
  &:disabled
    background-color: $orange
    background-image: url('/images/icons/stars_sprite2.svg')
    background-size: 50% 95%
    background-position: center center
    background-repeat: no-repeat
    color: transparent
  span
    display: block
    text-align: center
    height: 38px
    background-color: $accent-one
    position: relative
    z-index: 1
    padding-left: 60px
    padding-right: 60px
    border-radius: 100px
    margin: 1px
    @include tablet
      padding-left: 20px
      padding-right: 20px
    @include desktop-lg
      padding-left: 60px
      padding-right: 60px
.btn-pr
  cursor: pointer
  display: inline-block
  color: $color-white
  text-align: center
  font-family: $font-lost
  font-size: 17px
  font-weight: 400
  // text-transform: uppercase
  height: 40px
  line-height: 40px
  border-radius: 12px
  // background-image: $gr-yellow
  background: $accent-one
  border: none
  width: 286px
  &:active,
  &.active
    // background-image: $gr-violet
    background: $accent-two
  &:hover
    @include tablet
      // background-image: $gr-violet
      background: $accent-two
  &:focus
    outline: none
    opacity: .8
  &:disabled
    background-color: $orange
    background-image: url('/images/icons/stars_sprite2.svg')
    background-size: 50% 95%
    background-position: center center
    background-repeat: no-repeat
    color: transparent
.btn-pr_str
  display: inline-block
  cursor: pointer
  height: 40px
  line-height: 40px
  border-radius: 100px
  color: $color-white
  font-family: $font-second
  font-size: 14px
  text-transform: uppercase
  position: relative
  overflow: hidden
  &:after
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-image: $gr-yellow
    border-radius: 100px
  span
    display: block
    text-align: center
    height: 38px
    background-color: $color-d_blue
    position: relative
    z-index: 1
    padding-left: 60px
    padding-right: 60px
    border-radius: 100px
    margin: 1px
  &:active,
  &.active
    background-image: $gr-yellow
    border-color: transparent
    span
      background-color: transparent
  &:hover
    @include tablet
      background-image: $gr-yellow
      border-color: transparent
      span
        background-color: transparent
  &:disabled
    background-color: $orange
    background-image: url('/images/icons/stars_sprite2.svg')
    background-size: 50% 95%
    background-position: center center
    background-repeat: no-repeat
    color: transparent
.btn-pr
  &.btn-secondary
    border: 1px solid $light-one
    color: $light-one
    background: none
    &:disabled
      color: $color-text
      background: none
    &:active,
    &.active
      background-image: $light-three
    &:hover
      @include tablet
        background-image: $light-three

.btn-copy
  width: 150px

.btn-pr-auto
  width: auto
  padding: 0 16px

.btn-small
  height: auto
  width: auto
  line-height: 14px
  padding: 4px 6px
  @include mobile
    font-size: 12px
    line-height: 12px

.btn--full-width
  width: 100%
.modal-content-buttons .btn--full-width
  margin: 5px 0

.info
  color: $yellow
  margin-bottom: 5px
  text-align: center

.site-wrapper
  @include container
  .site-header,
  .site-footer
    flex-shrink: 0
    .section-inner
      @include container
  .site-middle
    flex: 1 0 auto
  &.site-middle--opaque
    background-color: $dark-black
  .site-header
    @include tablet-max
      position: fixed
      top: 0
      right: 0
      left: 0
      z-index: 1000

.site-payment-status
  position: relative
  min-height: 400px

  @include tablet
    min-height: 360px

.site-payment-status-content
  @include translate-center
  text-align: center

.site-payment-status-btn
  font-size: 18px
  width: auto
  height: 60px
  line-height: 60px
  padding: 0 12px
  white-space: nowrap

  @include tablet
    font-size: 24px
    padding: 0 24px

.site-payment-status-title
  font-size: 28px
  margin: 15px 0
  color: $yellow

  @include tablet
    margin: 30px 0
    font-size: 36px

.site-payment-status-text
  font-size: 14px
  @include tablet
    font-size: 16px

.site-wrapper_game
  padding: 0
  max-width: none

.tab-pane
  display: none
  &.active
    display: block
    .btn-pr
      // margin-top: 10px

.simplebar-track
  &.vertical
    .simplebar-scrollbar
      background-color: $blue-grey
      right: 4px
      opacity: 1
  &.horizontal
    .simplebar-scrollbar
      background-color: $blue-grey
      opacity: 1
      bottom: 0
.empty-msg
  position: absolute
  bottom: 30%
  text-align: center
  left: 0
  right: 0
  text-transform: uppercase
.stat-value
  color: $color-white
  font-size: 72px
  font-weight: 600
  text-align: center
  font-family: $font-first
  text-transform: uppercase
  @include mobile
    font-size: 52px
  span
    font-size: 20px
  &-type
    font-size: 20px
    display: inline-block
    padding-left: 8px
    vertical-align: top
    margin-top: 15px
.wrapper
  display: flex
  flex-direction: column
  min-height: 100vh
  height: 100%
.site-middle
  flex-grow: 1
.block-content
  .block-title
    color: $color-light-soft-gray
    font-family: $font-first
    font-size: 11px
    text-transform: uppercase
  .block-count
    display: inline-block
    color: $dark-yellow
    font-family: $font-lost
    font-size: 17px
    font-weight: 700
    .wager
      min-width: 39px
      font-size: 12px
  .block-rating
    @include desktop
      min-width: 70px
    @include desktop-lg
      max-width: inherit

@keyframes bounce
  from, 0.25%, 0.6625%, 1%, to
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
  transform: translate3d(0,0,0)

  0.5%, 0.5375%
  animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060)
  transform: translate3d(0, -30px, 0)

  0.875%
  animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060)
  transform: translate3d(0, -15px, 0)

  1.125%
  transform: translate3d(0, 0, 0)

  1.125%, 100%
  transform: translate3d(0, 0, 0)

.bounce
  animation: bounce 31s infinite
  transform-origin: center bottom

.notificator
  position: fixed
  top: 85px
  right: 15px
  bottom: auto
  left: auto
  width: 600px
  z-index: 4100
  @include mobile
    width: 100%
    top: 58px
    right: 0
.notificator__item
  position: relative
  margin: 0 0 24px 0

.notification
  width: 100%
  display: block
  cursor: pointer
  opacity: 0
  transition: 0.3s ease-in-out
  transform: translate3d(0, 0, 0)
  will-change: transform, opacity
  display: flex
  justify-content: space-between
  align-items: center
  font-family: $font-first
  font-size: 18px
  background-color: $color-white
  border-radius: 8px
.notification__icon-container
  position: absolute
  left: 0
  top: 0
  width: 64px
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  color: $color-white
  font-size: 30px
  border-top-left-radius: 8px
  border-bottom-left-radius: 8px
.notification__message
  color: $dark-black
  margin-left: 84px
  padding: 3px 0
.notification__dismiss
  color: $color-black
  margin-left: 6px
  margin-right: 16px
  font-size: 30px

.notification--hidden
  opacity: 0
.notification--visible
  opacity: 1

.notification--level-success
  .notification__icon-container
    background-image: $gr-vertical
    box-shadow: $modal-form-shadow

.notification--level-error
  .notification__icon-container
    background-image: $gr-red
    box-shadow: $modal-form-shadow

// FIXME: find me a place
.payments-methods
  border-radius: 10px
  margin-top: 10px
  overflow: hidden
  ul
    display: flex
    flex-wrap: wrap
    padding: 0
    @include mobile
      justify-content: flex-start
    li
      width: 86px
      height: 86px
      margin: 8px
      list-style-type: none
      background: $color-white
      border-radius: 4px
      opacity: .75
      cursor: pointer
      display: flex
      align-items: center
      position: relative
      &:after
        content: ''
        width: 96px
        height: 96px
        position: absolute
        top: -5px
        left: -5px
        border: 4px solid $orange
        border-radius: 8px
        box-sizing: border-box
        visibility: hidden
        transition: .2s
      &:hover, &.active
        opacity: 1
        &:after
          visibility: visible
      a
        display: block
        padding-left: 0
        cursor: pointer
        img
          width: 100%
// FIXME: find me a place - Why? its common thing
.form-field.inline
  display: flex
  flex-wrap: wrap
  align-items: center
  margin-bottom: 17px
  @include mobile
    flex-direction: column
  .input-wrap
    position: relative
    flex: 4 1 auto
    margin-right: 22px
    margin-left: 0
    @include tablet-max
      margin-right: 0
      width: 100%
      margin-bottom: 12px
    .currency-label
      position: absolute
      top: 19%
      right: 0
      color: $yellow
      font-size: 14px
  .submit-line
    margin-top: 0
    flex: 1 1 auto
    @include mobile
      width: 100%
      padding: 0
    .btn-pr
      margin-top: 0
      height: 40px
      font-size: 16px
      line-height: 40px
      @include mobile
        min-width: auto
  .barcode-wrap
    display: flex
    @include mobile
      flex-direction: column
      align-items: center
      margin-bottom: 50px
    .barcode
      width: 212px
      height: 212px
      background: $color-black
      flex: 1 0 212px
    .barcode-block
      margin-left: 18px
      display: flex
      flex-direction: column
      justify-content: space-between
      .barcode-title
        font: 14px/1.2 $font-second
        @include mobile
          margin-top: 10px
          margin-bottom: 20px
// FIXME: find me a place - Why? its common thing
.wager
  @include mobile
    min-width: 50px

  background: $gr-violet
  border-radius: 25px
  text-transform: uppercase
  display: inline-block
  font-size: 12px
  color: $color-white
  line-height: 19px
  min-width: 114px
  text-align: center
  margin-left: 8px

// FIXME: find me a place
.plus
  display: inline-block
  position: relative
  border-radius: 50%
  border: solid 1px $color-white
  width: 24px
  height: 24px
.plus:before, .plus:after
  content: ' '
  position: absolute
  background-color: $color-white
  height: 10px
  width: 2px
  top: 6px
  left: 10px
.plus:after
  transform: rotate(90deg)
// FIXME: find me a place
.attention
  display: flex
  align-items: center
.attention__icon
  margin-right: 7px
.attention__container
  display: flex
  flex-direction: column
  line-height: 1
  justify-content: center
  border: none
.attention__big
  font-weight: 700
  font-size: 20px
  text-transform: uppercase
.attention__small
  font-weight: 400
  font-size: 12px
  text-transform: lowercase

// FIXME: find me a place
.accept
  font-size: 10px
  margin-top: 8px

.accept-link
  font-size: 10px

// FIXME: find me a place
.error-500-content
  margin: 20px 20px -16px 20px
  text-align: center

  .btn-reload
    margin-top: 20px

.login-via-token
  position: relative

.login-via-token-container
  text-align: center
  color: $orange
  position: absolute
  top: 50%
  left: 50%
  margin-left: -90px
  margin-top: -41px

.custom-select select:disabled
  color: $focus-border-color

.visible
  visibility: visible

.invisible
  visibility: hidden

*
  -webkit-overflow-scrolling: touch

.text-center
  text-align: center

.text-dark-yellow
  color: $dark-yellow

.site-middle
  position: relative
  .error
    padding-bottom: 30px

.clearfix
  float: none
  clear: both

.sport2-block-container
  .GameScreen__content iframe
    @include mobile
      height: 1px !important

.site-wrapper
  &.full-width
    max-width: none
