include ../components/payway-field

mixin btcpayserver_withdrawal_payway_form(content)
    .payway-form-v3__wrapper
        .modal-form.payways-form-v3
            if content.withdrawalStore.selectedPayway.getProvider().iframeBlockEnabled()
                if content.withdrawalStore.selectedPayway.getProvider().isLoading
                .loader-container-payway
                    +loader(content)
                .iframe-container(className=content.withdrawalStore.selectedPayway.getProvider().isLoading ? 'hide-iframe' : '')
                    #iframe-block
            each field in content.withdrawalStore.selectedPayway.fields
                +payway_field(field, content, content.withdrawalStore)
            .payways-form-v3__instruction(dangerouslySetInnerHTML={__html: content.t('btcpayserver-withdrawal-instruction-1')})
            +payway_form_action_button(content, content.withdrawalStore)
            if content.withdrawalStore.paywayForm.apiError
                div.form-error
                    span=content.withdrawalStore.paywayForm.apiError
                    a.support-link(onClick=content.site.supportBtnClick)=content.t('ui-support')
            .payways-form-v3__trx-time=content.t('btcpayserver-withdrawal-trx-time')
            .payways-form-v3__separator
            .payways-form-v3__instruction(dangerouslySetInnerHTML={__html: content.t('btcpayserver-withdrawal-instruction-2')})