include ../components/payway-field

mixin btcpayserver_refill_payway_form(content)
    .payway-form-v3__wrapper
        .payway-form-v3__title(dangerouslySetInnerHTML={__html: content.t("btcpayserver-refill-title-red")})
        .modal-form.payways-form-v3
            .payway-form__attention=content.t('after-payment-attention')
            if content.refillStore.selectedPayway.getProvider().iframeBlockEnabled()
                if content.refillStore.selectedPayway.getProvider().isLoading
                .loader-container-payway
                    +loader(content)
                .iframe-container(className=content.refillStore.selectedPayway.getProvider().isLoading ? 'hide-iframe' : '')
                    #iframe-block
            .payways-form-v3__instruction(dangerouslySetInnerHTML={__html: content.t("btcpayserver-instruction-1")})
            .payways-form-v3__separator
            each field in content.refillStore.selectedPayway.fields.filter(_ => _.id === 'amount')
                +payway_field(field, content, content.refillStore)
            .payways-form-v3__separator
            .payways-form-v3__instruction(dangerouslySetInnerHTML={__html: content.t("btcpayserver-instruction-2")})
            .payways-form-v3__separator
            a.payways-form-v3__cashapp-button(
                href=content.refillStore.paywayForm.btcRefillAddress
                disabled=content.refillStore.isActionLoading && !content.refillStore.promoCodeForm.isLoading
                className=content.refillStore.selectedPayway.isSubmitButtonDisabled ? "payways-form-v3__cashapp-button--disabled" : ""
                external='true'
            )
                span.iconfont.iconfont-dollar
                span.payways-form-v3__cashapp-button-text=content.t('ui-pay-via-cashapp')
            .payways-form-v3__disclaimer
                span.payways-form-v3__cashapp-disclaimer-text=content.t('btcpayserver-cashapp-button-disclaimer')
            if content.refillStore.promoCodeForm.isEnabled
                +refill_promo_code(content)
            .payways-form-v3__instruction(dangerouslySetInnerHTML={__html: content.t("btcpayserver-instruction-3")})