include ../components/payway-field

mixin btcpayserver_manual_refill_payway_form(content)
    .payway-form-v3__wrapper
        .payway-form-v3__title=content.t('btcpayserver_manual')
        .modal-form.payways-form-v3
            .payway-form__attention=content.t('after-payment-attention')
            if content.refillStore.selectedPayway.getProvider().iframeBlockEnabled()
                if content.refillStore.selectedPayway.getProvider().isLoading
                .loader-container-payway
                    +loader(content)
                .iframe-container(className=content.refillStore.selectedPayway.getProvider().isLoading ? 'hide-iframe' : '')
                    #iframe-block
            .payways-form-v3__instruction(dangerouslySetInnerHTML={__html: content.t("btcpayserver-instruction-1")})
            .payways-form-v3__separator
            .payways-form-v3__instruction(dangerouslySetInnerHTML={__html: content.t("btcpayserver-manual-instruction-2")})
            each field in content.refillStore.selectedPayway.fields.filter(_ => _.id === 'wallet')
                +payway_field(field, content, content.refillStore)
            .payways-form-v3__separator
            .payways-form-v3__instruction(dangerouslySetInnerHTML={__html: content.t("btcpayserver-manual-instruction-21")})
            .payways-form-v3__separator
            a.payways-form-v3__cashapp-button(
                href=content.refillStore.paywayForm.btcRefillAddress
                external='true'
            )
                span.iconfont.iconfont-dollar
                span.payways-form-v3__cashapp-button-text=content.t('ui-open-cashapp')
            .payways-form-v3__disclaimer
                span.icon.icon-lock.payways-form-v3__disclaimer-lock
                span.payways-form-v3__disclaimer-text=content.t('page-refill-redirect-info')
            .payways-form-v3__separator
            .payways-form-v3__instruction(dangerouslySetInnerHTML={__html: content.t("btcpayserver-manual-instruction-3")})