include ../components/payway-field

mixin btcpayserver_manual_wallet_refill_payway_form(content)
    .payway-form-v3__wrapper
        .payway-form-v3__title=content.t('btcpayserver_manual')
        .modal-form.payways-form-v3
            if content.refillStore.selectedPayway.getProvider().iframeBlockEnabled()
                if content.refillStore.selectedPayway.getProvider().isLoading
                .loader-container-payway
                    +loader(content)
                .iframe-container(className=content.refillStore.selectedPayway.getProvider().isLoading ? 'hide-iframe' : '')
                    #iframe-block
            .payways-form-v3__instruction(dangerouslySetInnerHTML={__html: content.t("btcpayserver-wallet-manual")})
            .payways-form-v3__separator
            each field in content.refillStore.selectedPayway.fields.filter(_ => _.id === 'wallet')
                +payway_field(field, content, content.refillStore)
            .payways-form-v3__qr-code(ref=content.refillStore.cryptoAddressForm.qrCodeRef)
            .payways-form-v3__separator
            a.payways-form-v3__cashapp-button(
                href=content.refillStore.paywayForm.btcRefillAddress
                external='true'
            )
                span.payways-form-v3__cashapp-button-text=content.t('ui-open-wallet')