mixin cashapp_withdrawal_payway_form(content)
    form.modal-form.payways-form
        .payway__instruction=content.t("enter-amount-you-wish-to-redeem")
        if content.withdrawalStore.selectedPayway.getProvider().iframeBlockEnabled()
            if content.withdrawalStore.selectedPayway.getProvider().isLoading
              .loader-container-payway
                +loader(content)
            .iframe-container(className=content.withdrawalStore.selectedPayway.getProvider().isLoading ? 'hide-iframe' : '')
                #iframe-block
        if content.withdrawalStore.selectedPayway.showFields
            +fields_list(content, content.withdrawalStore)
        if content.withdrawalStore.selectedPayway.links && content.withdrawalStore.selectedPayway.links.length
            +withdrawal_links(content, content.withdrawalStore.selectedPayway.links)