mixin cashapp_refill_payway_form(content)
    h2.multi-payways-title= content.t('to-refill-follow-the-steps')
    form.modal-form.payways-form
        if content.refillStore.selectedPayway.getProvider().iframeBlockEnabled()
            if content.refillStore.selectedPayway.getProvider().isLoading
              .loader-container-payway
                +loader(content)
            .iframe-container(className=content.refillStore.selectedPayway.getProvider().isLoading ? 'hide-iframe' : '')
                #iframe-block
        if content.refillStore.selectedPayway.showFields
            .payway-fields-list
                if content.refillStore.selectedPayway.isCurrencySelectShown
                    div(className=content.refillStore.selectedPayway.isMultiStepAndNotTheFirst ? "payway-field--hidden" : "")
                        if content.refillStore.useTiles
                            +payway_currency_list(content, content.refillStore, content.refillStore.selectedPayway.findRelatedGroup(content.refillStore))
                        else
                            +payway_currency_field(content, content.refillStore, content.refillStore.selectedPayway.findRelatedGroup(content.refillStore))
                +payway_plastic_card_field(content, content.refillStore, content.refillStore.selectedPayway.findRelatedGroup(content.refillStore))
                each field in content.refillStore.selectedPayway.fields
                    if field.type === 'amount'
                        +payway_amount_field(content, content.refillStore, field)
                .payway-fields__additional-info(onClick=content.refillStore.selectedPayway.toggleAdditionalInfo)=content.t("ui-additional-info")
                    span.icon.icon-arrow_d_w(className=content.refillStore.selectedPayway.isAdditionalInfoOpened ? "opened" : "")
                .payway-fields__additional-info-wrapper(className=content.refillStore.selectedPayway.isAdditionalInfoOpened ? "" : "hidden")
                    div
                        each field in content.refillStore.selectedPayway.fields
                            if field.type === 'phone'
                                +payway_phone_field(content, content.refillStore, field)
                            else if field.type === content.enums.paywayFieldType.EMAIL
                                +payway_email_field(content, content.refillStore, field)
                            else if field.type === 'account'
                                +payway_account_field(content, content.refillStore, field)
                            else if field.type === 'crypto_address'
                                +payway_crypto_address_field(content, content.refillStore, field)
                            else if field.type === 'select'
                                +payway_select_field(content, content.refillStore, field)
                            else if field.type === 'mobile_detect'
                                .mobile-detect
                            else if field.type === 'hidden'
                                .hidden
                            else if field.type === content.enums.paywayFieldType.CARD_NUMBER
                                +payway_card_number_field(content, content.refillStore, field)
                            else if field.type === 'image_upload'
                                +image_upload_field(content, content.refillStore, field)
                            else if field.type === content.enums.paywayFieldType.CARD_EXPIRATION_MONTH_YEAR
                                +payway_card_expiration_month_year(content, content.refillStore, field)
                            else if field.type === content.enums.paywayFieldType.CARD_CVV
                                +payway_card_cvv(content, content.refillStore, field)
                            else if field.type === content.enums.paywayFieldType.BOOLEAN
                                if content.refillStore.selectedPayway.provider.isCashappPhoneConfirmed
                                    .form-line.payway-select-field
                                        .form-field.inline
                                            label.form-label=content.t("ui-phone-confirmed")
                                else
                                    +payway_boolean_field(content, content.refillStore, field)
                            else if field.type !== 'amount'
                                +payway_unified_field(content, content.refillStore, field)
                    .btn.btn-pr.btn-pr-auto(
                        disabled=content.refillStore.selectedPayway.provider.isAdditionalInfoSending
                        onClick=content.refillStore.selectedPayway.provider.saveAdditionalInfo
                        className=content.refillStore.selectedPayway.provider.isAdditionalInfoSending ? "btn--disabled" : ""
                    )=content.t("ui-save-info")
        if "type" in content.refillStore.selectedPayway.params && "cashTag" in content.refillStore.selectedPayway.params && content.refillStore.selectedPayway.params.type === "cashTag" && !!content.refillStore.selectedPayway.params.cashTag
            .payway__instruction.payway__instruction--ca(dangerouslySetInnerHTML={__html: content.t("ui-cashtag-instruction-html-1")})
            .payway__wg-attention-param
                .payway__wg-param-value=content.refillStore.selectedPayway.params.cashTag
                .payway__wg-attention-param-copy(onClick=()=>content.refillStore.selectedPayway.pressCopyButton("cashtag-comment-button", content.refillStore.selectedPayway.params.cashTag))=content.t(content.refillStore.selectedPayway.copyButtons["cashtag-comment-button"] ? "ui-cashtag-comment-copied" : "ui-copy-cashtag-comment")
            .payway__instruction.payway__instruction--ca(dangerouslySetInnerHTML={__html: content.t("ui-cashtag-instruction-html-2")})
        if content.refillStore.promoCodeForm.isEnabled
            +refill_promo_code(content)
        .payment__go-to-ca
            button.btn.btn-pr.btn-pr-auto(
                onClick=content.refillStore.onFormAction
                disabled=content.refillStore.isActionLoading && !content.refillStore.promoCodeForm.isLoading
                className=content.refillStore.selectedPayway.isSubmitButtonDisabled ? "btn--disabled" : ""
            )=content.t("ui-go-to-cashapp")
        if content.refillStore.selectedPayway.getProvider().willRedirectToPaymentSystemPage()
            p.form-disclaimer=content.t('page-refill-redirect-info')

        if content.refillStore.paywayForm.apiError
            div.form-error
                span=content.refillStore.paywayForm.apiError
                a.support-link(onClick=content.site.supportBtnClick)=content.t('ui-support')

        if content.refillStore.paywayForm.bonusError
                .uplayed-bonuses-list
                    each bonus in content.profileBonuses.activeBonuses
                        .unplayed-bonus
                        .name=bonus.name
                        if bonus.wager && bonus.wager.initialValue
                            .wager-progress
                                +progress_bar(
                                    content,
                                    content.t('ui-wagered'),
                                    bonus.wager.progressPercent,
                                    bonus.wager.wageredValue,
                                    bonus.wager.initialValue,
                                    bonus.wager.currencyCode
                                )
                    .bonuses-button-container
                    a(href=content.l('/profile/bonuses'))
                        button.btn.btn-pr= content.t('ui-my-bonuses')