@import "../../mixin"

/********** Theme: wl **********/

$height: 4rem
$face-bg: #243154
$heading-color: white
$numbers-color: white
$hinge-color: #1d2640
$face-border-radius: 4px

/* Font styles */
.flipdown.flipdown__theme-wl
    font-size: $height
    display: flex
    justify-content: center
    box-sizing: content-box
    overflow: hidden
  
/* Rotor group headings */
.flipdown.flipdown__theme-wl .rotor-group-heading 
    color: $heading-color
    opacity: 0.8
    font-weight: lighter

.flipdown.flipdown__theme-wl .rotor
    margin-bottom: rgba 255 255 255, 0.80
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5), inset 0 1px 0 0 rgba(140, 159, 181, 0.35)
    border-radius: $face-border-radius

/* Rotor tops */
.flipdown.flipdown__theme-wl .rotor,
.flipdown.flipdown__theme-wl .rotor-top,
.flipdown.flipdown__theme-wl .rotor-leaf-front 
    color: $numbers-color
    background-color: $face-bg

/* Rotor bottoms */
.flipdown.flipdown__theme-wl .rotor-bottom,
.flipdown.flipdown__theme-wl .rotor-leaf-rear 
    color: $numbers-color
    background-color: $face-bg

.flipdown.flipdown__theme-wl .rotor-top,
.flipdown.flipdown__theme-wl .rotor-leaf-front
    border-radius: $face-border-radius $face-border-radius 0 0
.flipdown.flipdown__theme-wl .rotor-bottom,
.flipdown.flipdown__theme-wl .rotor-leaf-rear 
    border-radius: 0 0 $face-border-radius $face-border-radius

/* Hinge */
.flipdown.flipdown__theme-wl .rotor:after
    border-top: solid 2px $hinge-color
    @include mobile
        border-top: 0
