mixin progress_bar(content, label, percent, currentValue, maxValue, currencyCode, hidePercentLabel)
    .progress-bar-container
        if label
            .progress-bar-label=content.t(label)
        .progress-bar-scale
            .progress-bar-value=(currentValue + '/' + maxValue + (currencyCode ? (' ' + currencyCode) : '')) + (!hidePercentLabel ? (' (' + percent + ')') : '')
            .progress-bar-progress(style='width: percent')
