mixin progress_bar_thin(content, label, percent, currentValue, maxValue, currencyCode, hidePercentLabel)
    .progress-bar-thin
        if label
            .progress-bar-thin__label=content.t(label)
        .progress-bar-thin__scale
            .progress-bar-thin__progress(style='width: percent')
        .progress-bar-thin__value=(currentValue + '/' + maxValue + (currencyCode ? (' ' + currencyCode) : '')) + (!hidePercentLabel ? (' (' + percent + ')') : '')
