mixin table_history(content, headerRow, rows)
    table.table-history
        if headerRow
            thead
                tr
                    each cell in headerRow
                        td
                            div= cell
        tbody
            each row in rows
                tr
                    each cell in row
                        td(class=cell.className)
                            if cell.type === 'bonus-date'
                                .table-history-created-at=(content.t('ui-received-date-short') + ': ')
                                    span=cell.createdAt
                                .table-history-activated-at=(content.t('ui-activation-date-short') + ': ')
                                    span=cell.activatedAt
                                if cell.wageredAt
                                    .table-history-wagered-at=(content.t('ui-wagered-date-short') + ': ')
                                        span=cell.wageredAt
                                if cell.canceledAt
                                    .table-history-wagered-at=(content.t('ui-bonus-state-canceled') + ': ')
                                        span=cell.canceledAt
                            if cell.type === 'bonus-wager'
                                if cell.value
                                    div=(content.t('ui-wager') + ': ' + cell.value)
                                else
                                    div='—'
                            else
                                div=cell.value
