// controls
@import "controls/controls"
@import "controls/crypto-address"
@import "controls/file-upload"

// components
@import "components/payway-form-v2"
@import "components/payway-form-v3"
@import "components/desktop-payway-form"
@import "components/mobile-payway-form"
@import "components/payways-list"

// modals
@import "modal/modal-refill-wallettec"
@import "modal/modal-refill-wecashup"
@import "modal/modal-refill-coin-payments-crypto"

.payway__instruction
    margin-bottom: 16px
    font-weight: 600
    font-size: 16px
    white-space: pre-wrap
    @include mobile
        padding: 0 15px
    > p
        font-size: 14px
        line-height: 18px
        margin: 8px 0 !important
    span
        margin: 0 !important
    img
        max-width: 100%
        width: auto
        margin: 0 auto
        margin-top: 0 !important
        margin-bottom: 0 !important
        @include mobile
            width: 100%

.payway__instruction--ca
    margin-top: 16px
    white-space: normal

.payway__instruction-attention
    color: $red

.payway__wg-param
    display: flex
    flex-direction: row
    margin-bottom: 20px
    font-size: 18px
    @media (max-width: 400px)
        flex-direction: column
        align-items: flex-start
        &-value-container
            margin-top: 5px
            flex-wrap: wrap
            justify-content: center
        &-value
            margin-left: 0!important
    &-value-container
        display: flex
        align-items: center
    &-value
        margin-left: 10px
        font-weight: 600
        background-color: $yellow
        padding: 3px 4px
        color: $color-white
        border-radius: 3px
    @include mobile
        padding: 0 15px

.payway__wg-attention-param
  display: flex
  flex-direction: row
  margin-bottom: 20px
  font-size: 30px
  font-weight: bold
  justify-content: center
  padding: 5px 15px
  &-value
    margin-left: 10px
    font-weight: 600
    color: $yellow

.payway__wg-attention-param-copy
  font-size: 12px
  box-shadow: 0 0 1px 1px $yellow
  cursor: pointer
  margin-left: 10px
  padding: 3px 5px
  border-radius: 100px

.payway__wg-attention-param--wallet
    font-size: 12px

.payment__cashier-comment
    padding-left: 10px
    display: flex
    flex-direction: row
    font-size: 14px
    font-style: italic
    line-height: 1.1
    @include mobile
        font-size: 12px

.payment__cashier-comment-reason
    text-transform: capitalize
    font-weight: 900

.payment__cashier-comment-text
    margin-left: 5px

.payment__show-details
  width: 100%
  background: rgba(29, 156, 249, 0.1)
  border-radius: 4px
  text-transform: uppercase
  color: #1D9CF9
  font-size: 14px
  text-align: center
  justify-content: center
  align-items: center
  display: flex
  font-weight: bold
  padding: 10px 15px
  cursor: pointer

.payment__attachments-title
    padding: 0 15px
    color: $color-black
    font-size: 16px
    font-weight: 600

.payment__attachments-container
    padding: 10px
    display: flex
    flex-direction: row
    flex-wrap: wrap

img.payment__attachment
    height: 160px
    margin: 5px !important

.payment__go-to-ca
    padding-top: 26px
    text-align: center
    display: flex
    flex-direction: row
    justify-content: center
    a
        color: $color-white !important

.payways-bonuses-info-block
    width: 100%
    background: #feae00
    color: black
    border-radius: 10px
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 30px
    padding: 20px
    .main
        font-size: 16px
        text-align: center
    .bonuses-list
        margin-top: 15px
        margin-bottom: 15px
        .bonus-item
            font-size: 18px
            font-weight: bold
            text-align: center
    .bottom
        span
            margin: 0
            a
                cursor: pointer
                text-decoration: underline
                color: #006be3
                font-weight: bold
            &.support
                margin-left: 5px
            &.link
                cursor: pointer
                text-decoration: underline
                color: #006be3
                font-weight: bold

h2.multi-payways-title
  &.without-margin-top
    margin-top: 0!important

.payment-banner
  max-width: 100%

.open-bank-app-container
  width: 100%
  display: flex
  justify-content: center
  margin-top: 15px
  .btn
    padding: 0 40px
    color: white!important

.payway-form__attention
    color: #ffffff
    font-size: 16px
    background: #ef9a00
    font-weight: 700
    padding: 16px
    border-radius: 8px
    margin-top: 10px