mixin bonuses_list(content)
    .final-bonuses__notifications
        if content.finalBonuses.bonusAmountTitle
            h2.final-bonuses__bonus-amount-title(dangerouslySetInnerHTML={__html: content.finalBonuses.bonusAmountTitle})
        ReactSlick(
            dots = true,
            dotsClass = 'slider-pagination js-slider-pagination'
            arrows=false,
            infinite = false,
            speed=500,
            slidesToShow = 5
            slidesToScroll = 1,
            ref=content.finalBonuses.notificationsSlider.sliderRef
            afterChange= content.finalBonuses.notificationsSlider.afterChange
            responsive=content.finalBonuses.notificationsSlider.responsiveSettings
        )
            if content.ref.isBonusInfoLoaded && content.site.showInvitationBonusesInfoInBonuses
                .card_popup__slide
                    +invitation_bonuses_info(content, content.ref.bonusInfo)
            if content.finalBonuses.timeBased
                each bonus in content.finalBonuses.bonusesByTime 
                    .card_popup__slide
                        +final_bonuses(content, bonus)
            else
                each bonus in content.finalBonuses.bonuses
                    .card-popup__slide
                        +final_bonuses(content, bonus)


mixin final_bonuses(content, bonus)
    .card-popup(onClick=content.finalBonuses.toggleCardHelp)
        .card-popup-content.front
            h3.card-popup-bonus_title=bonus.title
            if bonus.wager
                .card-popup-bonus_wager
                    div=content.t('ui-bonus-wager', {wager: bonus.wager})
                    div=content.t('ui-bonus-wager-warning')
            if bonus.toDeposit
                h4.card-popup-bonus_sub-title(dangerouslySetInnerHTML={__html: content.t('ui-bonus-final-subtitle', { from: bonus.fromDepositFormatted, to: bonus.toDepositFormatted })})
            else 
                h4.card-popup-bonus_sub-title(dangerouslySetInnerHTML={__html: content.t('ui-bonus-final-subtitle-short').replace('%s', bonus.fromDepositFormatted)})
            .card-popup-bonus_image
            .card-popup-bonus__btn.toggle-help.show-info=content.t('ui-info')
        .card-popup-info.back
            .card-popup-info__title=bonus.descTitle
            .card-popup-info__content=bonus.description
            .card-popup-bonus__btn.toggle-help=content.t('ui-ok')

mixin invitation_bonuses_info(content, bonus)
    .card-popup(onClick=content.finalBonuses.toggleCardHelp)
        .card-popup-content.front.card-bg-2
            h4.card-popup-bonus_title=content.t('ui-bonus-invitation')
            if bonus.inviterBonusAmount
                h4.card-popup-bonus_sub-title(
                    dangerouslySetInnerHTML={__html: content.t('ui-invite-friend-and-receive-money', { amount: content.ref.formattedInviterBonusAmount })}
                )
            .card-popup-bonus_image
            .card-popup-bonus__btn.show-info(
                onClick=content.ref.showRefInviteForm
            )=content.t('ui-invite')
