mixin bonus_info_button(content)
    if content.finalBonuses.showBonusInfoButton
        if content.finalBonuses.hasTimeOrFinalBonuses
            .final-bonus__bonus-info-button(onClick=content.finalBonuses.showDialog)
                span=content.finalBonuses.bonusAmount !== undefined ? content.finalBonuses.bonusAmount : content.t('ui-info')
        else if content.ref.isBonusInfoLoaded
            .bonus-info__ref-system(onClick=content.finalBonuses.showDialog)=content.t('ui-invite-friend-short')
                img.bonus-info__ref-system-img(src="/images/profile/ref-system/invite-friend.svg")
