mixin final_bonuses_days_list(content)
    .final-bonuses-text-slider(id='final-bonuses-days-list')
        ReactSlickWithCustomNav(
             dots = false,
             infinite = false,
             speed=500,
             slidesToShow = 1,
             slidesToScroll = 1,
             initialSlide= content.finalBonuses.selectedDayIndex,
             afterChange= content.finalBonuses.daysSlider.afterChange,
             isDisabledNextIcon= content.finalBonuses.daysSlider.isDisabledNextIcon,
             isDisabledPrevIcon= content.finalBonuses.daysSlider.isDisabledPrevIcon,
        )
            each day in content.finalBonuses.daysSlider.availableDaysList
                .final-bonuses__text-slider_item
                    span= day.title