include days-list
include time-intervals
include bonuses-list

mixin final_bonuses_list(content)
	.final-bonuses-list(className=content.isMobileOnly ? "mobile" : "")
		span.icon.icon-close.final-bonuses-close(onClick=content.finalBonuses.closeDialog)
		.text-center
			if content.finalBonuses.timeBased
				h3.final-bonuses-description=content.t('ui-daily-bonus')
			else
				h3.final-bonuses-description=content.t('ui-bonuses')
		if content.finalBonuses.timeBased
			+final_bonuses_days_list(content)
			+final_bonuses_time_intervals(content)
			p.final-bonuses-description= content.finalBonuses.timeZoneDescription
		+bonuses_list(content)

mixin final_bonus(content, bonus)
	.final-bonus(className=content.isMobileOnly ? "mobile" : "")
		span.icon.icon-close.final-bonuses-close(onClick=content.finalBonuses.closeDialog)
		.final-bonus--title(dangerouslySetInnerHTML={__html: bonus.title })
		if !content.finalBonuses.lowbalanceCashback
			if bonus.toDeposit
				.final-bonus--bonus-title(dangerouslySetInnerHTML={__html: content.t('ui-bonus-final-subtitle', { from: bonus.fromDepositFormatted, to: bonus.toDepositFormatted })})
			else
				.final-bonus--bonus-title(dangerouslySetInnerHTML={__html: content.t('ui-bonus-final-subtitle-short').replace('%s', bonus.fromDepositFormatted)})
		.final-bonus--bonus-subtitle=bonus.description
		//- +btn_primary(content, {
		//- 	className: 'btn-small',
		//- 	onClick: content.finalBonuses.hideDialog,
		//- 	title: content.t('ui-close'),
		//- })
