mixin final_bonuses_time_intervals(content)
	if content.isMobileViewport
		+final_bonuses_time_intervals_slider(content)
	else
		+final_bonuses_time_intervals_items(content)


mixin final_bonuses_time_intervals_items(content)
	.final-bonuses__time-intervals
		each interval in content.finalBonuses.timeIntervalsForDay
			.final-bonuses__time-intervals_item.pagination__item(
				onClick=content.finalBonuses.selectDayInterval(interval)
				className=content.classNames({'final-bonuses__time-intervals_item--active': content.finalBonuses.isSelectedDayInterval(interval.from, interval.to)})
			)
				span.pagination__item_text= content.finalBonuses.formatTimeIntervals(interval)


mixin final_bonuses_time_intervals_slider(content)
	.final-bonuses-text-slider.final-bonuses__time-intervals__slider(id='final-bonuses-time-intervals')
		ReactSlickWithCustomNav(
			dots = false,
			infinite = false,
			speed=500,
			slidesToShow = 1,
			slidesToScroll = 1,
			initialSlide= content.finalBonuses.timeIntervalsSlider.updateAndGetActiveSlideIndex(),
			afterChange= content.finalBonuses.timeIntervalsSlider.afterChange,
			beforeChange= content.finalBonuses.timeIntervalsSlider.beforeChange,
			isDisabledNextIcon= content.finalBonuses.timeIntervalsSlider.isDisabledNextIcon,
			isDisabledPrevIcon= content.finalBonuses.timeIntervalsSlider.isDisabledPrevIcon,
			activeIndex= content.finalBonuses.timeIntervalsSlider.activeIndex,
		)
			each interval in content.finalBonuses.timeIntervalsForDay
				.final-bonuses__text-slider_item
					span= content.finalBonuses.formatTimeIntervals(interval)