@import "../../swatches"
@import "../../mixin"

h2.bonuses-title
  font-size: 24px
  text-align: center
  color: $yellow
  text-transform: uppercase
  margin: 0
  padding: 48px 0

.bonuses
  display: flex
  flex-wrap: wrap
  flex-direction: row
  align-items: space-between
  justify-content: space-around

  @include tablet-max
    .bonus-get
      display: none

.bonus
  width: 426px
  padding-bottom: 60px

  @include tablet-max
    padding-bottom: 30px

  @include mobile
    width: 280px

    .bonus-block__img
      display: none

.bonus-block
  display: flex
  width: 100%
  height: 154px
  opacity: 0.9
  border-radius: 6px
  background: no-repeat right url(/images/bonuses/block/bg.png), linear-gradient(to bottom, #621cd9, #3b009d)
  background-size: contain
  position: relative
  transition: transform 0.5s ease
  cursor: pointer
  &:hover
    transform: scale(1.1)

  &__img
    position: absolute
    right: 0
    top: -22px

  &__text
    width: 230px
    height: 100%
    padding: 20px
    padding-top: 28px
    display: flex
    flex-direction: column
    justify-content: center
    overflow: hidden

  &__title
    font-size: 20px
    color: #ffffff
    text-transform: uppercase

  &__amount
    font-size: 36px
    font-weight: 700
    color: #ffffff

.bonus-get
  padding-top: 24px

  &__button
    display: inline-block
    width: auto
    height: 40px
    padding: 10px 26px
    font-size: 14px
    text-transform: uppercase
    border-radius: 25px
    background-image: linear-gradient(to right, #feae00, #fa7c34)
    cursor: pointer
    color: #ffffff

  &__wager
    margin-left: 26px
    color: #ffffff
    font-size: 18px

  &__multiply
    display: inline-block
    width: 59px
    height: 32px
    margin-left: 10px
    padding-top: 4px
    font-size: 18px
      font-weight: bold
    border-radius: 25px
    background-image: linear-gradient(to right, #c541ff, #695fed)
    color: #ffffff
    text-align: center

.bonus--1
  .bonus-block
    background: no-repeat right url(/images/bonuses/block/bg-red.png), linear-gradient(to top, #7d0000, #c90000)
    background-size: contain


.bonus--2, .bonus--4
  .bonus-block
    background: no-repeat right url(/images/bonuses/block/bg-orange.png), linear-gradient(to top, #ad2900, #ff4e1a)
    background-size: contain

.bonus--4
  .bonus-block__img
    top: 0

.bonus--0
  .bonus-block__img
    right: 21px
