@import "../../swatches"
@import "../../mixin"

.bonus-stats-item
  line-height: 15px
  font-size: 11px
  font-weight: 600
  width: 100%

.bonus-stats-caption
  color: $color-white
  display: inline-block
  vertical-align: middle
  padding-right: 4px

.bonus-stats-value
  color: $yellow
  display: inline-block
  vertical-align: middle
