@import "../../swatches"
@import "../../mixin"

.bonus-free-spins-progress
  @include clear-fix
  position: relative
  text-align: center

.bonus-free-spins-progress-item
  position: relative
  display: inline-block
  vertical-align: middle
  padding: 5px
  text-align: left

  @include mobile
    text-align: center

.bonus-free-spins-progress-item-games
  @include clear-fix
  display: inline-block

.bonus-free-spins-progress-item-games .game-item
  width: 164px
  padding: 0
  margin: 0

  @include mobile
    width: 136px
  @include desktop-lg
    width: 138px

.bonus-free-spins-progress-item-games .game-item__img-container
  border: 1px solid #feae00


.bonus-free-spins-progress-item-games .game-item__title
  font-size: 11px
  height: 32px
  font-weight: normal

  @include mobile
    background: rgba(0,0,0,0.15)
    border: solid 1px #486688
    border-top: 0

// region ---- multiple games  - small progress bar
.bonus-free-spins-progress-multi
  margin-bottom: 20px

.bonus-free-spins-progress-multi .progress-bar-container
  margin-top: 8px

.bonus-free-spins-progress-multi .progress-bar-value
  font-size: 12px
  height: 16px
  margin-top: -8px

.bonus-free-spins-progress-multi .progress-bar-scale
  height: 20px
  border-radius: 4px

.bonus-free-spins-progress-multi .progress-bar-progress
  border-radius: 2px
  height: 16px
  min-width: 6px
// endregion


// region single game - big progress bar
.bonus-free-spins-progress-single .bonus-free-spins-progress-item
  width: 100%

.bonus-free-spins-progress-single .progress-bar-container
  @include mobile
    margin: 10px 0 5px 0 !important

  @include tablet
    position: absolute
    left: 184px
    right: 0
    top: 50%
    margin-top: -20px

  @include desktop-lg
    left: 158px
// endregion
