@import "../../swatches"
@import "../../mixin"

.ui-bonus-wager-caption
  display: inline-block
  vertical-align: middle
  height: 22px
  font-size: 14px
  font-weight: 600
  color: $color-white
  margin-right: 6px

.ui-bonus-wager-value
  display: inline-block
  vertical-align: middle
  border-radius: 25px
  background: $gr-violet
  color: $color-white
  font-weight: 600
  font-size: 13px
  padding: 2px 6px
