@import "../../swatches"
@import "../../mixin"

.ui-bonus-meta-amount
  width: 100%
  font-size: 22px
  font-weight: 600
  line-height: 1.1
  color: $yellow
  margin-bottom: 6px

.ui-bonus-meta-common
  @include clear-fix

// condition for one item in common info, wager or stats
.ui-bonus-meta-common > *:nth-child(1):nth-last-child(1)
  width: 100%

// condition for two items in common info, wager and stats
.ui-bonus-meta-common > *:nth-child(1):nth-last-child(2),
.ui-bonus-meta-common > *:nth-child(2):nth-last-child(1)
  width: 100%
  @include desktop-lg
    width: 50%

.ui-bonus-meta .ui-bonus-wager
  float: left

.ui-bonus-meta .bonus-stats
  float: right


