@import "../../swatches"
@import "../../mixin"

.profile-bonus-body .progress-bar-container
  margin-bottom: 0

.profile-bonus .profile-section-title
  padding-right: 0
  margin: 0 0 15px 0 !important
  width: 100%
  text-align: left !important
  @include mobile
    margin: 10px 0 5px 0 !important
    text-align: center !important

.profile-bonus-value
  text-align: center
  font-size: 30px
  font-weight: 600
  color: $color-white
  line-height: 1
  margin-bottom: 10px

  @include mobile
    font-size: 26px

.profile-bonus-amount
  line-height: 1
  font-size: 36px
  font-weight: 600
  color: $yellow
  margin-bottom: 20px
  @include text-ellipsis

.profile-bonus-funds-wager
  margin-top: 5px
  margin-bottom: 20px

.profile-bonus-options
  color: $yellow
  .profile-bonus-option:first-child
    color: $color-white

.profile-bonus-option
  line-height: 1.25
  padding-bottom: 10px

.profile-bonus-controls
  @include clear-fix
  position: relative

.profile-bonus-controls
  text-align: right
  @include mobile
    text-align: center

.profile-bonus-controls .btn
  padding: 0 20px

.profile-bonus--activated
  border: solid 1px #42befe

.profile-bonus--activated .profile-bonus-value
  display: none

.profile-bonus--pending .ui-bonus-meta-amount,
.profile-bonus--pending .progress-bar-container,
.profile-bonus--pending .bonus-free-spins-progress-item .progress-bar-container
  display: none

.profile-bonus--pending .profile-section-title,
.profile-bonus--pending .profile-bonus-controls,
.profile-bonus--pending .bonus-free-spins-progress
  text-align: center

.profile-bonus--pending .game-item
  pointer-events: none

.profile-bonus--pending .profile-section-title
  margin-bottom: 14px

.profile-bonus--pending .bonus-free-spins-progress-single .bonus-free-spins-progress-item
  text-align: center
  margin-bottom: 20px

.profile-bonus--pending .bonus-free-spins-progress-single .bonus-free-spins-progress-item .bonus-free-spins-progress-item-games
  display: inline-block


.profile-bonus--possible
  opacity: 0.7

.profile-bonus--possible:hover
  opacity: 1

.profile-bonuses-list .profile-group-cell--first
  @include mobile
    background: $dark-blue-grey
    display: table-header-group !important

.profile-bonuses-list .profile-group-cell--second
  @include mobile
    display: table-footer-group !important
