include ../../phone-controlled
include ../../phone-code-controlled
include ../../ref-system/invite-mobile-step
include ../../../controls/confirmation-code-method
include ./form-ref-confirm-own-phone
include ./form-ref-submit-own-phone

mixin form_ref_invite(content)
    if !!content.ref.mobileCurrentStep
        +invite_mobile_step(content)
        .profile-ref-system__preload-images
    else
        .profile-ref-system__form-invite
            if !content.ref.isBonusInfoLoaded
                +loader
            else
                if !content.ref.isPhoneConfirmed
                    if content.ref.isOwnPhoneInputShown
                        +form_ref_submit_own_phone(content)
                    else
                        +form_ref_confirm_own_phone(content)
                else
                    .profile-ref-system__form-content
                        .profile-ref-system__form-top
                            img.profile-ref-system__form-pic(src="/images/profile/ref-system/form-ref-invite.svg")
                            .profile-ref-system__form-invite-title=!!(content.ref.bonusInfo && content.ref.bonusInfo.bonusTitle) ? content.ref.bonusInfo.bonusTitle : content.t("invite-friend-and-receive-bonus", {guestBonusAmount: content.ref.formattedGuestBonusAmount, inviterBonusAmount: content.ref.formattedInviterBonusAmount})
                            .profile-ref-system__form-invite-desc=!!(content.ref.bonusInfo && content.ref.bonusInfo.bonusDescription) ? content.ref.bonusInfo.bonusDescription : content.t("invite-friend-min-deposit", {guestMinDepositAmount: content.ref.formattedGuestMinDepositAmount})
                            if content.ref.isContactsPickerSupported
                                button.profile-ref-system__form-invite-btn.profile-ref-system__form-invite-btn--pick(onClick=content.ref.pickContact disabled=content.ref.isFormDisabled)= content.t("ui-pick-contact")
                                if content.ref.isContactPickerAccessDenied
                                    .profile-ref-system__form-invite-error=content.t("ref-invitation-error-no-permission-to-contacts")
                            if content.ref.isContactPicked
                                .profile-ref-system__form-invite-input-wrapper
                                    input.profile-ref-system__form-invite-input(type="tel" required value=content.ref.phone onChange=content.ref.updatePhoneUnformatted autoCorrect="false" autoCapitalize="off" autoComplete="false" disabled=content.ref.isFormDisabled onKeyPress=content.ref.handleKeyPressSubmitPhone)
                                    span.profile-ref-system__form-invite-input-label=content.ref.pickedContactName ? content.ref.pickedContactName : content.t("ui-phone-number")
                            else
                                .profile-ref-system__form-phone-with-code
                                    +phone_controlled(content, content.ref.countryCode, content.ref.phone, content.ref.phoneMask, content.ref.phonePlaceholder, content.ref.isFormDisabled, content.ref.updatePhone, content.ref.updateCountry, undefined, undefined, content.ref.handleKeyPressSubmitPhone)
                            .profile-ref-system__form-invite-input-description=content.t("invite-will-be-sent-to-this-number")
                            .profile-ref-system__form-invite-error
                                if content.ref.inviteErrorCode
                                    span=content.t("ref-invitation-error-" + content.ref.inviteErrorCode)
                    .profile-ref-system__mobile-bottom-buttons
                        if content.ref.isInviteFormWithSteps
                            .profile-ref-system__mobile-bottom-button.profile-ref-system__mobile-bottom-button--continue(className=content.ref.isInviteSendButtonDisabled ? "profile-ref-system__mobile-bottom-button--disabled" : "" onClick=content.ref.goToNextStep)
                                span=content.t('ui-continue')
                        else
                            if !!content.ref.lastInviteInfo && content.ref.lastInviteInfo.invitationStatus === content.proto.users.invitations.InvitationBusinessStatus.MANUAL_SENDING
                                AHref(href=content.ref.smsLink className="profile-ref-system__form-invite-btn profile-ref-system__form-invite-btn--sms" text=content.t("ui-send-invite") onClick=content.ref.afterSMSInvite ref=content.ref.smsButtonRef)
                            else
                                button.profile-ref-system__form-invite-btn(onClick=content.ref.sendInvite disabled=content.ref.isInviteSendButtonDisabled)=content.t(content.ref.isManualSMSMode ? "ui-request-invite" : "ui-invite")

