include ../../phone-code-controlled

mixin form_ref_submit_own_phone(content)
    .profile-ref-system__form-content
        .profile-ref-system__form-top.profile-ref-system__form-top--own-phone
            img.profile-ref-system__form-pic(src="/images/profile/ref-system/form-ref-invite.svg")
            .profile-ref-system__form-invite-title=content.ref.submitPhoneTitle
            .profile-ref-system__form-phone-with-code
                +phone_controlled(content, content.ref.countryCode, content.ref.phone, content.ref.phoneMask, content.ref.phonePlaceholder, false, content.ref.updatePhone, content.ref.updateCountry, undefined, undefined, content.ref.handleKeyPressSubmitOwnPhone)
            .profile-ref-system__form-invite-error
                if content.ref.ownPhoneError
                    span=content.ref.ownPhoneError
        .profile-ref-system__form-bottom
            button.profile-ref-system__form-invite-btn(onClick=content.ref.submitOwnPhone disabled=content.ref.isAddOwnPhoneButtonDisabled)=!content.confirmationCodeMethodState.isChoiseAvailable && content.confirmationCodeMethodState.selectedMethod === content.proto.site.ConfirmationMethod.VOICE ? content.t("ui-call") : content.t("ui-add-phone")
