include ../../form-fields
include ../buttons
include ../fields
include ../../../controls/confirmation-code-method

mixin form_change_phone(content)
    .profile-page-content
        .phone-edit-page
            if content.profileEdit.successPhoneConfirm
              +form_phone_confirm_success(content)
            else if content.profileEdit.showPhoneConfirmationInput && content.profileEdit.canShowPhoneConfirmationInput
              +form_phone_code(content)
            else
              +form_phone_enter(content)

mixin form_phone_enter(content)
    .phone-enter
        +top_back_button_desktop(content)
        //- .phone-enter-title=content.t('ui-phone-assign')
        .profile-card
            .phone-enter-title=content.t('ui-phone-assign')
            if content.confirmationCodeMethodState.isChoiseAvailable
                .phone-enter-text=content.t('phone-enter-text-multiple')
            else if content.confirmationCodeMethodState.isVoiceEnabled
                .phone-enter-text=content.t('phone-enter-text-voice')
            else if content.confirmationCodeMethodState.isSmsEnabled
                .phone-enter-text=content.t('phone-enter-text')
            +phone_form_field(
                content,
                content.profileEdit.inputPhoneCountry || content.profileEdit.newPhoneCountry,
                content.profileEdit.inputPhoneNumber,
                content.t("ui-phone"),
                content.t("ui-phone-number"),
                "profile-edit-phone-country-code",
                "profile-edit-phone-number",
                content.profileEdit.phoneError,
                undefined,
                content.profileEdit.updatePhone,
                content.profileEdit.onPhoneInputChange,
                content.profileEdit.onPhoneKeyDown,
                content.profileEdit.onPhoneFocus
            )
            if content.confirmationCodeMethodState.isChoiseAvailable
                .modal-form
                    +confirmation_code_method(content)
            +send_button(content, content.profileEdit.isSendPhoneButtonActive)
            if content.profileEdit.resendIntervalChangePhone
                .resend-timer=content.t('you-can-change-number-after') + ": " + content.profileEdit.resendIntervalChangePhone

mixin send_button(content, isActive)
    .bottom-buttons-container.relative
        button.bottom-button.light-blue(disabled=!isActive onClick=content.profileEdit.tryChangePhone)=(content.confirmationCodeMethodState.selectedMethod === content.proto.site.ConfirmationMethod.VOICE) ? content.t('ui-call') : content.t('ui-send-code')

mixin form_phone_code(content)
    .phone-code
        +top_back_button_desktop(content)
        .profile-card
            +phone_field_show(content, content.profileEdit.showPhoneInput, true)
            .code-block
                .code-title=content.t('ui-enter-phone-code')
                .code-container
                    each index in content.confirmationCodeMethodState.codeIndexes
                        input.code-char(onChange=content.profileEdit.onPhoneCodeChange onFocus=content.profileEdit.onPhoneCodeFocus onKeyDown=content.profileEdit.onKeyDownPhoneCode type="tel" id=("codechar-" + index) value=content.profileEdit.confirmCode && content.profileEdit.confirmCode.split('')[index - 1] ? content.profileEdit.confirmCode.split('')[index - 1] : '')
                if content.profileEdit.phoneConfirmationCodeError
                    .profile-error
                        img(src="/images/icons/profile-code-error-sign.svg")
                        .profile-error-text=content.profileEdit.phoneConfirmationCodeError
                ResendConfirmCode(
                  appState=content
                  caption=content.t('ui-phone-confirmation-resend-part-2')
                  onClick=content.profileEdit.tryReSendPhoneConfirmation
                )
                .button-block
                    .button-field(onClick=content.profileEdit.showPhoneInput className=!content.rawUserInfo.phone && !content.rawUserInfo.newPhone ? 'assign' : '')=!content.rawUserInfo.phone && !content.rawUserInfo.newPhone ? content.t('ui-assign') : content.t('ui-change')

mixin form_phone_confirm_success(content)
    .profile-card
      .success-confirm
        img.success-sign(src="/images/icons/success-sign.svg")
        .title=content.t('ui-success')
        .text= content.t("ui-disclaimer-phone-confirmed", {phone: content.rawUserInfo.phone})
        +back_button(content, true)
