include ../../phone-controlled
include ../../phone-code-controlled
include ../../ref-system/invite-mobile-step
include ../../../controls/confirmation-code-method

mixin form_ref_confirm_own_phone(content)
    .profile-ref-system__form-content
        .profile-ref-system__form-top.profile-ref-system__form-top--own-phone
            img.profile-ref-system__form-pic(src="/images/profile/ref-system/form-ref-invite.svg")
            .profile-ref-system__form-invite-title=content.ref.confirmCodeTitle
            .profile-ref-system__form-invite-desc.profile-ref-system__form-invite-desc--highlighted=content.rawUserInfo.newPhone
            .profile-ref-system__form-phone-with-code.profile-ref-system__form-phone-with-code--confirm
                +phone_code_controlled(content, content.ref.ownConfirmCode, content.ref.isOwnPhoneSubmitting, content.ref.updateOwnCode, undefined, undefined, "profile-ref-system__code-input", content.confirmationCodeMethodState.codeLength)
            .profile-ref-system__form-invite-error
                if content.ref.ownPhoneError
                    span=content.ref.ownPhoneError
        .profile-ref-system__form-bottom
            if content.confirmationCodeMethodState.isChoiseAvailable
                .profile-ref-system__form-bottom-message(className=content.confirmationCodeMethodState.isFirstRetry ? "" : "invisible")=content.t('confirmation-call-instruction')
            button.profile-ref-system__form-invite-btn(
                onClick=content.ref.resendOwnConfirmCode
                disabled=(content.ref.isOwnPhoneSubmitting || content.confirmForm.timeLeft !== 0)
            )=content.confirmForm.resendButtonTitle

