include ../../form-fields
include ../buttons

mixin form_change_email(content)
	.profile-page-content
		.email-edit-page
			if content.profileEdit.successEmailConfirm
				+form_email_confirm_success(content)
			else
				+form_email_enter(content)
				
mixin form_email_enter(content)
	.email-enter
		+top_back_button_desktop(content)
		//- .email-enter-title=content.t('ui-email-assign')
		.profile-card
			.email-enter-title=content.t('ui-email-assign')
			.email-enter-text=content.t('email-enter-text')
			.field-email-container
				+email_form_field(
					content,
					content.rawUserInfo.newEmail || content.profileEdit.inputEmail,
					content.t("ui-email"),
					content.t("ui-placeholder-email"),
					"profile-edit-email",
					content.profileEdit.emailError,
					content.profileEdit.isEmailLoading,
					content.profileEdit.onEmailInputChange,
					content.profileEdit.onEmailKeyDown
				)
				+confirm_button(content, content.profileEdit.isSendEmailButtonActive)

mixin confirm_button(content, isActive)
	.bottom-buttons-container.relative
		button.bottom-button.light-blue(disabled=!isActive onClick=content.profileEdit.tryChangeEmail)=content.t('ui-confirm-email-btn')

mixin form_email_confirm_success(content)
	.profile-card
		.success-confirm
			.first-line
				img.success-sign(src="/images/icons/profile-email-sent.svg")
				.title=content.t('ui-success-assign-email-new')
			.text(dangerouslySetInnerHTML={__html: content.t("ui-email-confirmation-success", {email: content.profileEdit.inputEmail})})
			+back_button(content, true)
