include ../../form-fields

mixin form_change_password(content)
	.profile-page-content
		.password-edit-page
			if content.profileEdit.successPasswordChange
				+form_password_changed_success(content)
			else
				+form_password_enter(content)
				
mixin form_password_enter(content)
	.password-enter
		+top_back_button_desktop(content)
		//- .password-enter-title=content.t('ui-password-change')
		.profile-card
			.password-enter-title=content.t('ui-password-change')
			.password-enter-text=content.t(content.userInfo.isBmUser ? 'bm-password-change-text' : 'password-change-text')
			+password_form_field(
				content,
				content.t("ui-login-enter-password"),
				content.t("ui-restore-password-new"),
				"profile-edit-password",
				content.profileEdit.passwordError,
				content.profileEdit.isPasswordLoading,
				content.profileEdit.onPasswordInputChange,
				"off",
				content.profileEdit.passwordEyeInputPasswordIsOpen,
				content.profileEdit.eyePasswordInputToggle,
				'password',
				content.profileEdit.onPasswordKeyDown
			)
			+password_form_field(
				content,
				content.t("ui-password-confirmation"),
				content.t("ui-restore-password-new-password-verify"),
				"profile-edit-password-confirmation",
				content.profileEdit.passwordConfirmationError,
				content.profileEdit.isPasswordLoading,
				content.profileEdit.onPasswordConfirmationInputChange,
				"off",
				content.profileEdit.passwordEyeInputPasswordConfirmationIsOpen,
				content.profileEdit.eyePasswordInputConfirmationToggle,
				'password-confirmation',
				content.profileEdit.onPasswordKeyDown
			)
			if content.profileEdit.passwordError || content.profileEdit.passwordConfirmationError
				.profile-error
						img(src="/images/icons/profile-code-error-sign.svg")
						.profile-error-text=content.profileEdit.passwordError || content.profileEdit.passwordConfirmationError
			+change_password_button(content)

mixin change_password_button(content)
	.bottom-buttons-container.relative
		.bottom-button.light-blue(onClick=content.profileEdit.tryChangePassword)=content.t('ui-change-password')

mixin form_password_changed_success(content)
	.profile-card
		.success-confirm
			img.success-sign(src="/images/icons/success-sign.svg")
			.title=content.t('ui-success-password-changed')
			+back_button(content, true)
