include ../../form-fields
include ../buttons

mixin form_change_personal_data(content)
	.profile-page-content.personal-data-page
		+top_back_button_desktop(content)
		.personal-data-title= content.t("ui-personal-data")
		.profile-card.personal-data
			+form_change_personal_data_description(content)
			.profile-personal-form
				+form_change_personal_data_body(content)


mixin form_change_personal_data_body(content)
		each field in content.siteConfig.userFields
			if field.name === "gender"
				+gemder_form_field(
					content,
					content.profileEdit.userFields[field.name],
					content.t("ui-" + field.name),
					content.siteConfig.userFields.indexOf(field) + 1,
					field.name,
					field.required,
					content.profileEdit.onInputUserFieldChange,
					content.profileEdit.userFieldsError[field.name],
					`personalDataField-${content.siteConfig.userFields.indexOf(field) + 1}`,
					content.profileEdit.onKeyDownUserField
				)
			else if field.type === "datetime"
				+datetime_form_field_floating(
					content,
					content.profileEdit.userFields[field.name],
					content.t("ui-" + field.name),
					content.siteConfig.userFields.indexOf(field) + 1,
					field.name,
					field.required,
					content.profileEdit.onInputUserFieldChange,
					content.profileEdit.userFieldsError[field.name],
					`personalDataField-${content.siteConfig.userFields.indexOf(field) + 1}`,
					content.profileEdit.onKeyDownUserField
				)
			else
				+text_form_field_floating(
					content,
					content.profileEdit.userFields[field.name],
					content.t("ui-" + field.name),
					content.siteConfig.userFields.indexOf(field) + 1,
					field.name,
					field.required,
					content.profileEdit.onInputUserFieldChange,
					content.profileEdit.userFieldsError[field.name],
					content.profileEdit.isFullWidthField(field.name),
					`personalDataField-${content.siteConfig.userFields.indexOf(field) + 1}`,
					content.profileEdit.onKeyDownUserField
				)
		+personal_data_form_submit(content)


mixin personal_data_form_submit(content)
	.bottom-buttons-container.relative
		button.bottom-button.light-blue(
			onClick=content.profileEdit.tryChangeUserFields
			disabled=content.profileEdit.savePersonalDataButtonIsDisabled || content.profileEdit.isUserFieldsLoading
		)=content.t('ui-change')



mixin form_change_personal_data_description(content)
	.modal-form
		div.profile-edit-form-disclaimer
			p
				span= content.t("ui-disclaimer-personal-data-verification")
				if content.site.hasRequiredUserFields
					span=" "
					span= content.t("ui-disclaimer-personal-data-required")
