mixin promo_code_form(content, store)
    if store.promoCodeForm.isEnabled
        .payway-field.payway-field--promo-code
            input.payway-field__input.payway-field__input--promo-code(
                type='text'
                ref=content.makeRef(store.promoCodeForm.INPUT_ID)
                placeholder=content.t('ui-placeholder-promo-code')
                disabled=store.promoCodeForm.isLoading
                onChange=store.promoCodeForm.onValueChange
            )
            button.btn.payway-field__promo-code-btn(onClick=store.onActivatePromoCodeClick disabled=store.promoCodeForm.isLoading class=store.promoCodeForm.isLoading ? '' : 'btn-secondary')= content.t('ui-send')
        if store.promoCodeForm.error
            .form-error= store.promoCodeForm.error
        else if store.promoCodeForm.success
            .form-success= content.t('page-refill-promo-success')
