include ./fields/field
include ./fields/currency_switcher
include ./promo_code_form

mixin refill_desktop_payway_form(content, store)
    if !!(content.withdrawalStore.selectedPayway && store.selectedPayway.disclaimer)
        h4.disclaimer(dangerouslySetInnerHTML={__html: store.selectedPayway.disclaimer})
    form.payway-form-v2.desktop-payway-form
        input.hidden-autocomplete-input(type="number" tabIndex="-1")
        input.hidden-autocomplete-input(type="tel" tabIndex="-1")
        input.hidden-autocomplete-input(type="password" tabIndex="-1")
        input.hidden-autocomplete-input(type="text" tabIndex="-1")
        input.hidden-autocomplete-input(type="email" tabIndex="-1")

        if store.payways.length > 1
            .desktop-payway-form__row
                a.desktop-payway-form__back-link(href=content.l('/refill'))= content.t('ui-other-refill-types')

        .desktop-payway-form__row
            h3.desktop-payway-form__payway-name=content.t(store.selectedPayway.getName())

        if store.selectedPayway.cardDataFields.length > 0 || store.selectedPayway.anotherDataFields.length > 0
            .desktop-payway-form__row-2
                if store.selectedPayway.cardDataFields.length > 0
                    .desktop-payway-form__cards-data(className=(store.selectedPayway.anotherDataFields.length > 0 ? '' : 'full-width'))
                        .desktop-payway-form__bock-title= content.t('ui-payment-card-data')
                        each f in store.selectedPayway.cardDataFields
                            +field(content, store, f)

                if store.selectedPayway.anotherDataFields.length > 0
                    .desktop-payway-form__personal-data(className=(store.selectedPayway.cardDataFields.length > 0 ? '' : 'full-width'))
                        .desktop-payway-form__bock-title= content.t('ui-personal-data')
                        each f in store.selectedPayway.anotherDataFields
                            +field(content, store, f)

        .desktop-payway-form__amount-data
            .desktop-payway-form__bock-title= content.t('ui-activate-promo-code')
            +promo_code_form(content, store)

        .desktop-payway-form__amount-data
            .desktop-payway-form__row-2
                .desktop-payway-form__balance
                    span.desktop-payway-form__balance-title=content.t("ui-balance")
                    span.desktop-payway-form__balance-val=content.userInfo.realBalance.formatted
                .desktop-payway-form__currencies
                    +currency_switcher(content, store, store.selectedPayway.findRelatedGroup(store))

            each f in store.selectedPayway.amountDataFields
                +field(content, store, f)

            button.btn.desktop-payway-form__submit-btn(
                onClick=store.onFormAction
                disabled=store.isActionLoading && !store.promoCodeForm.isLoading
            )= (content.t(store.getFormActionToken()) + ' ' + store.paywayForm.amount)

            if store.selectedPayway.getProvider().willRedirectToPaymentSystemPage()
                .desktop-payway-form__disclaimer
                    span.icon.icon-lock
                    span=content.t('page-refill-redirect-info')

            if store.paywayForm.apiError
                .desktop-payway-form__error= store.paywayForm.apiError
