include ./fields/field
include ./fields/currency_switcher
include ./promo_code_form

mixin refill_mobile_payway_form(content, store)
    if !!(content.withdrawalStore.selectedPayway && store.selectedPayway.disclaimer)
        h4.disclaimer(dangerouslySetInnerHTML={__html: store.selectedPayway.disclaimer})
    form.payway-form-v2.mobile-payway-form(className=`step--${store.selectedPayway.currentStep}`)
        input.hidden-autocomplete-input(type="number" tabIndex="-1")
        input.hidden-autocomplete-input(type="tel" tabIndex="-1")
        input.hidden-autocomplete-input(type="password" tabIndex="-1")
        input.hidden-autocomplete-input(type="text" tabIndex="-1")
        input.hidden-autocomplete-input(type="email" tabIndex="-1")

        .mobile-payway-form__payway-head
            a.mobile-payway-form__payway-head-link(
                href=content.l('/refill')
            )
                span.mobile-payway-form__payway-head-name=content.t(store.selectedPayway.getName())
                span.icon.icon-chevron-down

        .mobile-payway-form__step-status
            span.mobile-payway-form__step-status-1= content.t('ui-amount')
            if store.selectedPayway.cardDataFields.length > 0
                span.icon.icon-arrow-right
                span.mobile-payway-form__step-status-2= content.t('ui-payment-card-data')
            span.icon.icon-arrow-right
            span.mobile-payway-form__step-status-3= content.t('ui-personal-data')

        .mobile-payway-form__step.mobile-payway-form__step-1
            .mobile-payway-form__row-2(ref=content.makeRef('autoscroll-target-1'))
                .mobile-payway-form__balance
                    span.mobile-payway-form__balance-title=content.t("ui-balance")
                    span.mobile-payway-form__balance-val=content.userInfo.realBalance.formatted
                .mobile-payway-form__currencies
                    +currency_switcher(content, store, store.selectedPayway.findRelatedGroup(store))

            each f in store.selectedPayway.amountDataFields
                .mobile-payway-form__row
                    +field(content, store, f)

            .mobile-payway-form__buttons
                button.btn.mobile-payway-form__one-next-btn(
                    onClick=(store.selectedPayway.goToNextStep)
                )= content.t('ui-next')

            each f in store.selectedPayway.amountDataFields.filter((f) => f.error)
                .mobile-payway-form__error= f.error

        if store.selectedPayway.cardDataFields.length > 0
            .mobile-payway-form__step.mobile-payway-form__step-2
                .mobile-payway-form__cards-data
                    .mobile-payway-form__bock-amount(ref=content.makeRef('autoscroll-target-2'))
                        span.mobile-payway-form__bock-amount-title=content.t('ui-payment-amount')
                        span.mobile-payway-form__bock-amount-val=store.paywayForm.amount

                    each f in store.selectedPayway.cardDataFields
                        +field(content, store, f)
                    
                .mobile-payway-form__buttons
                    button.btn.mobile-payway-form__prev-btn(onClick=store.selectedPayway.goToPrevStep)
                        span.icon.icon-arrow-left
                    button.btn.mobile-payway-form__next-btn(
                        onClick=store.selectedPayway.goToNextStep
                    )= content.t('ui-next')

                each f in store.selectedPayway.cardDataFields.filter((f) => f.error)
                    .mobile-payway-form__error= f.error

        .mobile-payway-form__step.mobile-payway-form__step-3
            .mobile-payway-form__personal-data
                .mobile-payway-form__bock-amount(ref=content.makeRef('autoscroll-target-3'))
                    span.mobile-payway-form__bock-amount-title=content.t('ui-payment-amount')
                    span.mobile-payway-form__bock-amount-val=store.paywayForm.amount

                    .mobile-payway-form__card-number-preview
                        span.icon.icon-mastercard.mobile-payway-form__card-number-preview-icon
                        span.mobile-payway-form__card-number-preview-val=store.paywayForm.cardNumberPreview

                each f in store.selectedPayway.anotherDataFields
                    +field(content, store, f)

                    
            .mobile-payway-form__promo_code
                +promo_code_form(content, store)

            .mobile-payway-form__buttons
                button.btn.mobile-payway-form__prev-btn(onClick=store.selectedPayway.goToPrevStep)
                    span.icon.icon-arrow-left
                button.btn.mobile-payway-form__next-btn(
                    onClick=store.onFormAction
                    disabled=store.isActionLoading && !store.promoCodeForm.isLoading
                )
                    span=(content.t(store.getFormActionToken()) + ' ' + store.paywayForm.amount)

            if store.selectedPayway.getProvider().willRedirectToPaymentSystemPage()
                .mobile-payway-form__disclaimer
                    span.icon.icon-lock
                    span=content.t('page-refill-redirect-info')

            if store.paywayForm.apiError
                .mobile-payway-form__error= store.paywayForm.apiError

            each f in store.selectedPayway.fields.filter((f) => f.error)
                .mobile-payway-form__error= f.error
