include ../ui/tournaments/tournaments-main-page-item

mixin tournaments_main_page_block(content)
    .tournaments-main-page-list
        each tournament in content.tournamentsActions.activeTournaments
            +main_tournaments_main_page_item(content, tournament)


