include ../components/game-item
include ../ui/tournaments/tournaments-leaders-list
include ../ui/tournaments/tournaments-winners-list

mixin tournament_page(content)
  .tournaments-page-content.tournament-item-page
    if content.tournamentsActions.isLoading
      +loader_with_logo(content)
    else if !content.tournamentsActions.tournamentPageEntry || content.tournamentsActions.tournamentPageEntry.status === 'upcoming'
      Redirect(to=content.l('/tournaments'))
    else
      +tournament_page_content(
        content,
        content.tournamentsActions.tournamentPageEntry,
        content.tournamentsActions.tournamentPageEntryRules
      )

mixin tournament_page_content(content, tournament, rules, type)
  div(className=content.tournamentsActions.getTournamentClasses(tournament))
    article
      if tournament.type === content.enums.tournamentType.KENOMANIA
        +tournaments_background_overlay("keno")
      else if tournament.type === content.enums.tournamentType.EGYPT_TREASURES
        +tournaments_background_overlay("egypt-treasures")
      else if tournament.type === content.enums.tournamentType.LOVE_DAY
        +tournaments_background_overlay("love-day")
      else if tournament.type === content.enums.tournamentType.WOMENS_DAY
        +tournaments_background_overlay("woman-day")
      else if tournament.type === content.enums.tournamentType.GOLD_RUSH
        +tournaments_background_overlay("gold-rush")
      else if tournament.type === content.enums.tournamentType.VACATION
        +tournaments_background_overlay("vacation")
      else if tournament.type === content.enums.tournamentType.XMAS_HOLIDAYS
        +tournaments_background_overlay("xmas")
        +tournaments_image_header("xmas")
      else if tournament.type === content.enums.tournamentType.HOLIDAYS_ARE_COMING
        +tournaments_background_overlay("new-year")
        +tournaments_image_header("new-year")
      else if tournament.type === content.enums.tournamentType.BATTLE_OF_SLOTS
        +tournaments_background_overlay("battle-of-slots")
      else if tournament.type === content.enums.tournamentType.DEFENDER_OF_THE_FATHERLAND
        +tournaments_background_overlay("defender-of-the-fatherland")
      else if tournament.type === content.enums.tournamentType.WEEKLY
        +tournaments_background_overlay("weekly")
      h1=content.t('ui-tournament') + ' "' + content.t(tournament.name) + '"'
      if tournament.status === 'finished'
        h2.tournament-has-ended=content.t('ui-tournament-ended')
      else
        h2.tournament-ends=content.t('ui-tournament-ends') + ':'
        Countdown(to=tournament.finishAt.toNumber() / 1000, id=tournament.id)
      p.tournament-days=content.tournamentsActions.getLocaleTournamentSchedule(tournament.id)
      +tournament_article(content, tournament, rules)

mixin tournament_article(content, tournament, rules)
  .tournament-article
    if tournament.headerLayout === content.enums.tournamentHeaderLayout.POSITION_RIGHT
      +tournament_article_header_position_right(content, tournament)
    else
      +tournament_article_header(content, tournament)
    +tournament_article_body(content, tournament, rules)

mixin tournament_article_header(content, tournament)
  .tournament-article-header
    h2=tournament.progressivePrizePool ? content.t('ui-progressive-prize-pool') : content.t('ui-prize-pool')
    .tournament-prize-pool
      span=tournament.prizePoolStr
    +tournament_banners(content, tournament)

mixin tournament_banners(content, tournament)
  if tournament.type === content.enums.tournamentType.HOLIDAYS_ARE_COMING
    +tournaments_banner(
      "new-year",
      content.t(tournament.promoText),
      content.t('ui-cash-win-title'),
      content.t('ui-cash-win-description')
    )
  else if tournament.type === content.enums.tournamentType.XMAS_HOLIDAYS
    +tournaments_banner(
      "xmas",
      content.t(tournament.promoText),
      content.t('ui-cash-win-title'),
      content.t('ui-cash-win-description'),
      true
    )
  else if tournament.type === content.enums.tournamentType.BATTLE_OF_SLOTS
    +tournaments_banner(
      "battle-of-slots",
      content.t(tournament.promoText),
      content.t('ui-cash-win-title'),
      content.t('ui-cash-win-description'),
      true
    )
  else if tournament.type === content.enums.tournamentType.EGYPT_TREASURES
    +tournaments_banner(
      "egypt-treasures",
      content.t(tournament.promoText),
      content.t('ui-cash-win-title'),
      content.t('ui-cash-win-description')
    )
  else if tournament.type === content.enums.tournamentType.LOVE_DAY
    +tournaments_banner(
      "love-day",
      content.t(tournament.promoText),
      content.t('ui-cash-win-title'),
      content.t('ui-cash-win-description')
    )
  else if tournament.type === content.enums.tournamentType.WOMENS_DAY
    +tournaments_banner(
      "woman-day",
      content.t(tournament.promoText),
      content.t('ui-cash-win-title'),
      content.t('ui-cash-win-description'),
      false,
      true
    )
  else if tournament.type === content.enums.tournamentType.DEFENDER_OF_THE_FATHERLAND
    +tournaments_banner(
      "defender-of-the-fatherland",
      content.t(tournament.promoText),
      content.t('ui-cash-win-title'),
      content.t('ui-cash-win-description')
    )
  else if tournament.type === content.enums.tournamentType.VACATION
    +tournaments_banner(
    "vacation",
    content.t(tournament.promoText),
    content.t('ui-cash-win-title'),
    content.t('ui-cash-win-description')
    )
  else if tournament.type === content.enums.tournamentType.GOLD_RUSH
    +tournaments_banner(
    "gold-rush",
    content.t(tournament.promoText),
    content.t('ui-cash-win-title'),
    content.t('ui-cash-win-description')
    )
  else if tournament.type === content.enums.tournamentType.WEEKLY
    +tournaments_banner(
      "weekly",
      content.t(tournament.promoText),
      content.t('ui-cash-win-title'),
      content.t('ui-cash-win-description')
    )

mixin tournament_article_header_position_right(content, tournament)
  .tournament-article-header
    .tournament-article-header-promo-text
      if tournament.promoText
        p.tournament-promo-text= content.t(tournament.promoText, {'site-name': content.g('%SITE_NAME%')})
    .tournament-article-header-section
      .tournament-article-header-section-content
        h2=tournament.progressivePrizePool ? content.t('ui-progressive-prize-pool') : content.t('ui-prize-pool')
        .tournament-prize-pool
          span=tournament.prizePoolStr
        +tournament_banners(content, tournament)

mixin tournament_article_body(content, tournament, rules)
  .tournament-article-body
    if tournament.type === content.enums.tournamentType.WEEKLY
      +tournament_article_games_large(content, tournament)
      +tournament_article_leaders(content, tournament)
      +tournament_article_rules(content, rules)
    else
      +tournament_article_leaders(content, tournament)
      +tournament_article_games(content, tournament)
      +tournament_article_rules(content, rules)

mixin tournament_article_leaders(content, tournament)
  .tournament-article-leaders(class= tournament.leaders.length ? 'tournament-article-leaders--show' : '')
    h2.leaders-header=content.t('ui-leaders')
    if tournament.leaders.length
      div.leaders
        each leader in tournament.leaders
          +leader_item(content, leader)
      .tournament-article-leaders-icon
    else
      div.leaders.leaders-no-data=content.t('ui-tournament-leaderboard-no-data')

mixin tournament_article_games(content, tournament)
  .tournament-article-games
    h2=content.t('ui-tournament-games')
    .tournaments-page-content-games
      each game in tournament.games
        +game_item(content, game, undefined, false, false, false)

mixin tournament_article_games_large(content, tournament)
  .tournament-article-games.tournament-article-games-large
    h2=content.t('ui-tournament-games')
    .tournaments-page-content-games.tournaments-page-content-games-large
      each game in tournament.games
        +game_item(content, game, undefined, false, false, false)

mixin tournament_article_rules(content, rules)
  if rules
    .tournament-article-rules
      h2=content.t('ui-tournament-rules')
      .rules(dangerouslySetInnerHTML={__html: rules})