include ../ui/no-data/section-no-data
include ../ui/tournaments/tournaments-filter

mixin tournaments_list_page(content)
    if content.tournamentsActions.isLoading
      +loader_with_logo(content)
    else
      .tournaments-page-content.tournaments-list-page
        h1=content.t('ui-tournaments-schedule')
        +tournaments_filter(content)
        
        if content.tournamentsActions.tournamentsFilterType === 'finished'
          .tournaments-list-page-finished
            each tournament in content.tournamentsActions.finishedTournaments
              +tournaments_list_finished_item(content, tournament)
        else
          if content.tournamentsActions.activeTournaments.length
            each tournament in content.tournamentsActions.activeTournaments
                +tournaments_list_active_item(content, tournament, false)
          else
            +section_no_data(
              content,
              content.t('ui-no-tournaments-disclaimer', {'site-name': content.g('%SITE_NAME%')}),
              '/images/icons/icon-crown.svg'
            )
          if content.tournamentsActions.upcomingTournaments.length
            h2=content.t('ui-tournaments-upcoming')
            .tournaments-list-page-upcoming
              each tournament in content.tournamentsActions.upcomingTournaments
                +tournaments_list_active_item(content, tournament, true)