@import "../swatches.sass"
@import "../mixin.sass"

.balance-wager-bonus-modal
  .modal-dialog
    .modal-content
      background: url('/images/balance-wager-bonus/balance-wager-bonus-background.svg')
      background-position: center
      background-size: cover
      margin-top: 10px
      width: 95%
      padding-bottom: 16px
      @media (max-height: 670px) and (max-width: 380px)
        margin-top: 5px
      @include desktop
        width: 580px
      .modal-close
        top: 16px
        right: 20px
        opacity: 1
        @include desktop
          right: 20px
          left: auto
        .icon
          width: 16px
          height: 16px
      .modal-title
        background: none
        box-shadow: none
        text-shadow: none
        font-size: 18px
        text-align: left
        max-width: 80%
        padding-left: 16px
        @media (max-height: 650px) and (max-width: 360px)
          font-size: 14px
      .balance-wager-bonuses-list-container
        padding: 0 10px
        display: flex
        align-items: center
        .navi-arr
          min-width: 20px
          min-height: 20px
          display: flex
          justify-content: center
          align-items: center
          cursor: pointer
        .balance-wager-bonuses-list
          display: flex
          width: 100%
          background: rgba(255, 255, 255, 0.1)
          backdrop-filter: blur(32px)
          border-radius: 6px
          overflow: auto
          scroll-behavior: smooth
          margin-left: 6px
          margin-right: 6px
          @include desktop
            -ms-overflow-style: none
            scrollbar-width: none
          &::-webkit-scrollbar
            @include desktop
              width: 0
              height: 0
              -webkit-appearance: none
              display: none
          .bonus-item
            padding: 9px 12px
            color: #E4EAFD
            font-size: 14px
            font-weight: bold
            white-space: nowrap
            cursor: pointer
            opacity: 0.5
            &.active
              background: #1D9CF9
              border-radius: 4px
            &.available
              opacity: 1
      .balance-wager-bonus-fields-container
        color: white
        .bonus-unavailability-reason
          padding: 20px 16px
          font-size: 16px
          text-align: center
        .current-balance-block
          padding: 14px 16px
          border-bottom: 1px solid rgba(255, 255, 255, 0.1)
          @media (max-height: 670px) and (max-width: 380px)
            padding: 6px 16px
          .current-balance-text
            font-size: 14px
            margin-bottom: 5px
            @media (max-height: 650px) and (max-width: 360px)
              margin-bottom: 0
              font-size: 12px
          .current-balance-value
            font-size: 18px
            font-weight: bold
            @media (max-height: 670px) and (max-width: 380px)
              font-size: 16px
      .fields-block
        padding-left: 16px
        .field-item
          padding-top: 10px
          padding-bottom: 10px
          padding-right: 16px
          display: flex
          justify-content: space-between
          border-bottom: 1px solid rgba(255, 255, 255, 0.1)
          @media (max-height: 670px) and (max-width: 380px)
            padding-top: 6px
            padding-bottom: 6px
            font-size: 12px
          .field-item-value
            font-weight: bold
        .game-block
          display: flex
          justify-content: center
          .bonus-image
            width: 150px
            margin-top: 20px
            cursor: pointer
            transition: all 0.2s
            &:hover
              transform: scale(1.1)
            img
              width: 100%
          .game-item
            flex: 0 0 40%
            @include mobile
              flex: 0 0 50%

      .description-block
        font-size: 14px
        padding: 12px 16px
        @media (max-height: 650px) and (max-width: 360px)
          font-size: 12px
      .buttons-block
        padding: 0px 16px
        @include desktop
          display: flex
        .balance-wager-bonus-button
          padding: 15px 25px
          width: 100%
          border-radius: 4px
          font-size: 16px
          text-transform: uppercase
          color: #1D9CF9
          letter-spacing: 0.7px
          font-weight: bold
          background: rgba(29, 156, 249, 0.1)
          text-align: center
          margin-bottom: 8px
          cursor: pointer
          @media (max-height: 650px) and (max-width: 360px)
            padding: 5px 15px
          &.accept-button
            background: #1D9CF9
            box-shadow: 0px 4px 12px rgba(29, 156, 249, 0.25)
            color: white
            @include desktop
              margin-left: 8px
      .bonus-time-expired-block
        padding: 8px 16px
        display: flex
        justify-content: space-between
        @media (max-height: 650px) and (max-width: 360px)
          padding: 0 16px
        .text
          @media (max-height: 650px) and (max-width: 360px)
            font-size: 12px
        .expired-time
          font-weight: bold
      .accept-disclaimer
        padding: 0 16px
        font-size: 14px
        color: rgba(255, 255, 255, 0.7)
        @media (max-height: 650px) and (max-width: 360px)
          font-size: 12px
      .guest-description
        padding: 12px 16px
        display: flex
        .log-in
          text-decoration: underline
          font-size: 16px
          font-weight: bold
          cursor: pointer
          margin-right: 5px
