@import "../mixin"
@import "../swatches"

.bank-card
  display: block
  position: relative
  width: 220px
  height: 136px
  border-radius: 8px

  border: solid 1.5px transparent
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3), 0 3px 6px 0 rgba(0, 0, 0, 0.8)
  background-image: linear-gradient(-184deg, #57B6D7 0%, #3999C4 27%, #0364A1 100%), linear-gradient(-187deg, #0D98C9 0%, #005387 100%)

  background-origin: border-box
  background-clip: content-box, content-box, content-box, border-box
  opacity: 0.5
  color: $color-white !important

.bank-card-active
  opacity: 1
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.4), 0 3px 6px 0 rgba(0, 0, 0, 0.8)


.bank-card-title
  position: absolute
  right: 16px
  top: 14px
  font-size: 20px
  font-style: italic
  text-transform: uppercase

.bank-card-number
  position: absolute
  bottom: 20px
  left: 16px
  right: 16px

.bank-card-number-muted,
.bank-card-number-digits
  position: relative
  display: inline-block
  vertical-align: middle
  margin-right: 7px
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3)



.bank-card-number-part:last-child
  margin-right: 0

.bank-card-number-muted
  top: 2px


.bank-card-chip
  position: absolute
  left: 16px
  top: 38px
  width: 33px
  height: 30px
  margin: 0 !important
  border-radius: 0 !important
