@import "../swatches.sass"
@import "../mixin.sass"

.block
  display: flex
  flex-direction: column
  background-color: $dark-black

.block--hero
  justify-content: center
  border: solid 1px $yellow
  align-items: center
  @include desktop
    display: block
    min-width: 256px
    max-width: 20%
    border-top: 2px solid $dark-black
    border-bottom: 2px solid $dark-black
    border-left: none
    border-right: none
  .block-title
    font-family: $font-lost
    font-weight: 400
    font-size: 19px
    // text-transform: uppercase
    text-align: left
    color: $light-one
    @include tablet
      height: 48px
      line-height: 48px
      text-align: left
      // font-size: 15px
    div
      padding: 0 32px
    div:nth-child(1)
      background: $dark-five
      height: 68px
      font-weight: 500
      line-height: 68px
      color: #fff
      margin-bottom: 20px
.jackpot-mobile-container
  display: none
  @include tablet-max
    display: flex
    justify-content: space-around
    padding: 10px 0
.block--jackpot-mobile
  display: none
  position: relative
  display: flex
  width: 80px
  height: 80px
  border: 0
  min-width: 80px
  .min-bet-block
    position: absolute
    bottom: 5px
    font-size: 10px
    font-weight: bold
    color: #ffcc63
  //border-radius: 3px
  //box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5)
  //border: solid 1px #ffa900
  //background-image: linear-gradient(to bottom, #d3002d, #a70014)
  @include tablet-max
    display: flex
  &_xs
    height: 47px
    .min-bet-block
      font-size: 8px
    .block-inner
      font-size: 10px!important
      font-weight: bold
  &_small
    height: 47px
    .min-bet-block
      font-size: 8px
    .block-inner
      font-size: 12px!important
      font-weight: bold
  &_middle
    height: 47px
    min-width: 156px
    .min-bet-block
      font-size: 10px
    .block-inner
      font-size: 13px!important
      font-weight: bold
  &_large
    .min-bet-block
      bottom: 10px
    .block-inner
      font-size: 16px!important
      font-weight: bold
      width: 200px!important

  .block-inner
    width: 100%
    height: 80px
    position: absolute
    border-radius: 1px
    text-align: center
    display: flex
    justify-content: center
    align-items: center
    font-size: 11px
    color: #feae06
    span
      margin-bottom: 5px
      white-space: nowrap
    .currency
      margin-right: 2px

  .jackpot-title-block
    width: 66px
    height: 12px
    position: absolute
    top: 1px
    display: flex
    justify-content: center
    align-items: center
    .jackpot-title
      font-family: "Open Sans", sans-serif
      font-size: 10px
      font-weight: 600
      font-stretch: normal
      font-style: normal
      line-height: normal
      letter-spacing: normal
      text-align: center
      text-transform: uppercase
      color: #feae06
      .jackpot-title-type
        font-weight: 800
        margin-right: 3px
.block--jackpot-mobile-red
  background-image: linear-gradient(to bottom, #d3002d, #a70014)
.block--jackpot-mobile-purple
  background-image: linear-gradient(to bottom, #853ae9 1%, #411c8d)
.block--jackpot-mobile-blue
  background-image: linear-gradient(to bottom, #0099bd, #006088)
.block--jackpot-mobile-green
  background-image: linear-gradient(to top, #004d04, #0d9100)

.jackpot-page .block--jackpot-mobile
  width: 100%
  .min-bet-block
    bottom: 15px

.jackpot-container
  display: flex
  justify-content: space-around
  padding: 10px 0
  flex-direction: column

  &__title
    display: none
    width: 100%
    color: $yellow
    font-family: $font-first
    font-size: 14px
    text-transform: uppercase
    text-align: center

  &__title-img
    width: 100%

  &--1 &__title, &--2 &__title, &--3 &__title, &--4 &__title
    display: flex

  &.without-slider
    flex-direction: row!important
    .block--jackpot
      max-width: 100%
      width: 100%
      height: auto
      img
        width: 100%
  @include tablet-max
    display: none

.jackpot-page
  .jackpot-container.mobile
    display: none
  @include mobile
  @include tablet-max
    .jackpot-container.mobile
      display: flex
      flex-direction: column !important

.block--jackpot
  position: relative
  display: flex
  margin: 5px
  width: 80px
  height: 80px
  border: 0
  .min-bet-block
    position: absolute
    bottom: 30px
    font-weight: bold
    color: #ffcc63
  &-title
    height: 73px
  &_xs
    height: 78px
    .min-bet-block
      bottom: 10px
    .jackpot-title-block
      top: 3px!important
      .jackpot-title
        font-size: 10px!important
  &_small
    height: 101px
    .min-bet-block
      bottom: 15px
    .jackpot-title-block
      top: 7px!important
    .block-inner
      font-weight: bold
  &_middle
    height: 156px
    .block-inner
      font-size: 18px!important
      font-weight: bold
  &_large
    height: 310px
    .block-inner
      font-size: 20px!important
      font-weight: bold
  &_without-slider_xs
    .min-bet-block
      bottom: 10px
    .jackpot-title-block
      top: 3px!important
      .jackpot-title
        font-size: 10px!important
  &_without-slider_small
    .min-bet-block
      bottom: 15px
    .jackpot-title-block
      top: 5px!important
      .jackpot-title
        font-size: 16px !important
  &_without-slider_middle
    .jackpot-title-block
      top: 10px !important
      .jackpot-title
        font-size: 18px !important
  &_without-slider_large
    height: auto
    .jackpot-title-block
      top: 10px !important
      .jackpot-title
        font-size: 20px !important
    .block-inner
      font-size: 30px!important
      font-weight: bold
    .min-bet-block
      font-size: 16px

  .block-inner
    width: auto
    height: 80px
    position: absolute
    border-radius: 1px
    text-align: center
    font-weight: bold
    display: flex
    justify-content: center
    align-items: center
    font-size: 22px
    color: #feae06
    span
      margin-bottom: 5px
    .currency
      margin-right: 2px

  .jackpot-title-block
    width: 66px
    height: 12px
    position: absolute
    top: 10px
    display: flex
    justify-content: center
    align-items: center
    .jackpot-title
      font-family: "Open Sans", sans-serif
      font-size: 12px
      font-weight: 600
      text-align: center
      text-transform: uppercase
      color: #feae06
      .jackpot-title-type
        font-weight: 800
        margin-right: 3px
  @include mobile
    display: none
  @include tablet-max
    display: none

.jackpot-page
  .jackpot-container
    max-width: 800px
    margin-left: auto
    margin-right: auto
    @media (min-width: 766px)
      padding: 0 40px
  .jackpot-mobile-container
    max-width: 800px
    margin-left: auto
    margin-right: auto
    @media (min-width: 766px)
      padding: 0 40px
  .jackpot-title-block
    top: 4px
    .jackpot-title
      font-size: 20px
  .min-bet-block
    font-size: 16px
    bottom: 13px
  @include desktop-lg-max
    .jackpot-title-block
      .jackpot-title
        font-size: 20px
  @include desktop-max
    .jackpot-title-block
      .jackpot-title
        font-size: 18px
  @include tablet-max
    .jackpot-title-block
      top: 22px
      .jackpot-title
        font-size: 26px
    .block--jackpot
      display: flex
      margin: 0
      padding: 5px
    .min-bet-block
      font-size: 24px
      bottom: 40px
  @include mobile
    .jackpot-title-block
      top: 16px
      .jackpot-title
        font-size: 22px
    .min-bet-block
      font-size: 20px
      bottom: 28px
  @media (max-width: 560px)
    .jackpot-title-block
      top: 12px
      .jackpot-title
        font-size: 18px
    .min-bet-block
      font-size: 16px
      bottom: 22px
  @media (max-width: 360px)
    .jackpot-title-block
      top: 8px
      .jackpot-title
        font-size: 16px
    .min-bet-block
      font-size: 14px
      bottom: 16px

.money
  display: flex
  align-items: center
  position: relative
  @include desktop
    flex-direction: column
    align-items: stretch
    width: 100%
    justify-content: center
.money__amount
  font-size: 14px
  color: $color-white
  min-width: 140px
  border-radius: $border-radius
  position: relative
  margin: 0 24px 0 10px
  padding: 0 10px
  height: 25px
  @include yellow-bg
  @include tablet
    font-size: 24px
    line-height: 34px
    margin: 0 40px 0 10px
    height: 36px
  @include desktop
    padding-top: 20px
    padding-bottom: 20px
    font-size: 40px
    line-height: 1.2
    font-weight: 700
    text-shadow: 0 2px 2px $orange
    width: auto
    margin: 0
    height: 150px
  &__counter
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    display: flex
    align-items: center
    justify-content: center
    text-shadow: none
    font-size: 1em
    text-shadow: 0 0 0 transparent
    transition: transform 0.375s, text-shadow 0.375s
    transform-origin: center
    &-init--animate
      transform: scale(1.25)
      text-shadow: 0 0 $jp-animation-blur $color-text, 0 0 $jp-animation-blur*2 lighten($color-text, 75%)
    &-update--animate
      transform: scale(1.25)
      text-shadow: 0 0 $jp-animation-blur $color-text, 0 0 $jp-animation-blur*2 lighten($color-text, 75%)

@keyframes initValJackpot
  0%
    font-size: 0.75em
    text-shadow: 0 0 0 transparent
  50%
    font-size: 1.25em
    text-shadow: 0 0 $jp-animation-blur $color-text, 0 0 $jp-animation-blur*2 lighten($color-text, 75%)
  100%
    font-size: 1em
    text-shadow: 0 0 0 transparent

@keyframes updateValJackpot
  0%
    font-size: 1em
    text-shadow: 0 0 0 transparent
  50%
    font-size: 1.25em
    text-shadow: 0 0 $jp-animation-blur $color-text, 0 0 $jp-animation-blur*2 lighten($color-text, 75%)
  100%
    font-size: 1em
    text-shadow: 0 0 0 transparent

.money__currency
  font-size: 11px
  color: $yellow
  @include tablet
    font-size: 15px
  @include desktop
    padding-top: 15px
    padding-bottom: 14px
    font-size: 65px
    line-height: 1.35
    font-weight: 700
    border-radius: 0 0 $border-radius $border-radius
    background-color: $dark-black
    border: solid 1px $yellow
    border-top: none
    text-shadow: 0 2px 2px rgba($color-black, 0.5)
    margin-top: -8px
    color: $orange
.block--winners
  display: none
  &.without-slider
    display: flex
    justify-content: space-between
    width: 100%
    max-width: 100%
    flex-direction: row
    .winner-list
      position: relative
      flex-direction: row
      max-width: 75%
      .winner
        border-top: 0
    .block-title
      width: 25%

  .block-title
    height: auto

  @include tablet-max
    display: flex
    justify-content: space-between
    width: 100%
    max-width: 100%
    flex-direction: row
    overflow-x: scroll
    background: #243054
    &.block--hero
      border: 0
    .block-title
      display: none
    .winner-list
      position: relative
      flex-direction: row
      max-width: 75%
      .winner
        border-top: 0
        min-width: 160px
        .winner__game-image
          width: 50px
          height: 50px
          min-width: 50px
        .winner__info
          .winner__prize__info
            display: block
            font-size: 12px
            color: #feae06
        .winner__prize__container
          display: none
  @include desktop
    position: relative
    top: 0
    height: auto
    display: block
    right: 0
    margin-left: 16px
    max-height: inherit
    width: 256px
    border-radius: 16px
    border: none
    background: $dark-three
    border-top: 2px solid $dark-black
    border-bottom: 2px solid $dark-black
    overflow: hidden
    .winner__prize__info
      display: none

.block--hero
  .block--winners-tabs
    @include clear-fix
    line-height: 30px
    padding: 0 10px 12px 10px
    text-align: center

  .block--winners-tabs_item
    cursor: pointer
    display: inline-block
    font-size: 12px
    font-weight: 400
    width: calc(50%)
    color: $color-white
    overflow: hidden
    position: relative
    background: $dark-seven
    padding: 1px
    span
      display: block
      position: relative
      background: $dark-three
      padding: 6px 0
      color: $light-one
    &:first-child
      float: left
      border-radius: 6px 0 0 6px
      span
        border-radius: 6px 0 0 6px
    &:last-child
      float: right
      border-radius: 0 6px 6px 0
      span
        border-radius: 0 6px 6px 0
    &.active
      span
        background: transparent
        color: $light-three

.block--attention
  margin-left: 10px

.block--winners-tabs--three-items
  padding-bottom: 8px !important
  display: flex
  justify-content: center
  align-items: center
  .block--winners-tabs_item
    font-size: 10px
    width: 78px
    box-sizing: border-box

  .block--winners-tabs_item span
    padding: 8px 0
