@import "../swatches.sass"
@import "../mixin.sass"

.root-game-page
  .notification-manager
    display: none
  @include tablet-max
    height: 100% !important
    .root-container, .site-wrapper, .game-middle, .block-game, .game-wrapper, .game-pl
      height: 100% !important

.game-middle
  @include tablet
    flex: 1 0 auto

.block-game
  padding: 16px
  @include mobile
    padding: 0
  .game-wrapper
    height: 100vh
    @include tablet
      height: calc(100vh - 32px)
      flex-direction: column
      display: flex
      overflow: hidden
    .game-pl
      position: relative
      @include tablet
        flex-grow: 1
      img
        display: block
  .game-side
    display: none
    @include desktop-lg
      display: block
    @include tablet
      margin-left: 16px
    .blocks
      flex: 1
      display: flex
      flex-direction: column
    .block
      + .block, .block-user
        margin-top: 10px
    .block-jackpot
      flex: 1
      @include mobile
        height: 240px
      @include tablet
        height: 308px
    .user-panel
      + .block
        margin-top: 10px
    .block-start
      margin-bottom: 20px
      @include mobile
        text-align: center
      @include tablet
    .block-quit
      margin-top: 20px
      @include mobile
        text-align: center
      @include tablet
    .btn-pr_str
      width: 100%
      span
        background-color: $dark-black
      &:hover
        span
          background-color: transparent
    .block--winners
      margin-right: 0
    .block--jackpot
      margin-left: 0
.fun-game-page
  padding: 0
  .site-header
    display: none
    padding: 8px 10px
    align-items: center
    height: 56px
    border-radius: 0
    @include desktop
      display: flex
    .header-logo
      width: 150px
      img
        width: 100%
    h1
      flex-grow: 1
      text-align: center
      text-transform: uppercase
      color: $color-white
      font-weight: 600
      font-size: 24px
  .game-wrapper
    height: calc(100vh)
    .game-block
      min-height: 1px
    .game-bottom
      padding: 8px 10px
      height: 56px
      overflow-x: unset
      overflow-y: unset

.game-bottom
  .block--jackpot-mobile
    display: flex!important
  .jackpot-mobile-container
    display: flex!important
    margin-right: auto

.game-block
  display: flex
  flex-basis: column
  height: 100%
  .game-jp
    width: 262px
    max-height: 100%
    margin-right: 8px
    display: none
    @include desktop
      display: block
    .winner-list
      position: relative
  .game-pl
    width: 100%
.game-bottom
  display: flex
  align-items: center
  justify-content: space-between
  padding-top: 16px
  padding-bottom: 6px
  overflow-x: auto
  overflow-y: hidden
  .register-block
    display: flex
    align-items: center
  .register-info
    font-size: 15px
    font-weight: 600
    color: $color-white
    text-transform: uppercase
    margin-left: auto
    padding-right: 25px
    padding-left: 25px
  @include tablet-max
    display: none
  .block--winners
    display: none
    @include desktop-lg
      display: block
    .block-title
      display: none
    .winner-list
      .winner:not(:first-child)
        display: none
  .button, .btn
    font-size: 14px
    width: 159px
    text-align: center
  .block--jackpot
    text-align: center
    display: flex
    flex-direction: row
    font-size: 11px
    line-height: 1.8
    min-width: 345px
    margin: 0 auto 0
    border-radius: $border-radius
    border: solid 1px $yellow
    background: $dark-black
    padding: 0
    .block-title
      font-size: 15px
      line-height: inherit
      height: auto
      background: transparent
      .block-content
        padding-left: 30px
  .money
    display: flex
    align-items: center
    flex-direction: row
    .money__amount
      font-size: 24px
      line-height: 34px
      color: $color-white
      min-width: 140px
      border-radius: $border-radius
      position: relative
      margin: 0 40px 0 10px
      padding: 0 10px
      height: 40px
      @include yellow-bg
    .money__currency
      font-size: 15px
      color: $yellow
      border: none
      padding: 0
      margin: 0
  .user-content
    margin-left: 16px
    display: flex
    align-items: center
    @include desktop-lg-max
      display: none
    .block-user
      cursor: pointer
      margin-bottom: 0
      .user-name
        font-size: 13px
        margin-bottom: 0
      .user-id
        display: none
      .btn-pr_str
        text-align: center
        width: auto
        span
          width: 165px
          padding-left: 20px
          padding-right: 20px
      .account-line
        display: flex
        .line-title
          margin-right: 15px
          text-transform: uppercase
          color: $color-white
          font-size: 11px
          font-family: $font-second
        .account-rating
          margin-top: -3px
  .block-refill,
  .block-register
    margin-left: 10px
  .block-quit
    margin-left: 16px

.game-bottom .btn-secondary
  border-color: $yellow
  float: left
  &:active
    background-image: $gr-violet
  @include tablet
    &:hover
      background-image: $gr-violet

// all other visual elements except the game should be disabled on mobile and tablet devices
.block-game-mobile
  padding: 0
  .game-bottom
    display: none


.block-game-favorites
  margin-right: 16px
  .btn
    padding-right: 0
    width: 40px
    @include desktop
      padding-right: 24px
      min-width: 250px
  span
    display: none
    @include desktop
      display: inline

.block-game__close-button
  position: fixed
  right: 0
  top: 0
  width: 50px
  height: 50px
  background: linear-gradient(to top, #0085ec, #0090ff)
  border-radius: 0
  cursor: pointer
  z-index: 98
  text-align: center
  span
    margin-top: 10px
    width: 30px
    height: 30px
