@import "../swatches.sass"
@import "../mixin.sass"

.bonuses__page
    margin-left: auto
    margin-right: auto
    padding-left: 15px
    padding-right: 15px
    padding-bottom: 30px
    @include tablet
        padding-left: 40px
        padding-right: 40px

h1.bonuses__page-title
    margin: 36px 0
    color: $orange
    text-align: center
    font-size: 24px
    font-family: $font-second
    font-weight: normal

.bonuses__bonus-tags
    display: flex
    flex-direction: row
    justify-content: flex-end
    padding-bottom: 4px

.bonuses__bonus-tag
    margin-left: 8px
    padding: 4px 8px
    font-size: 10px
    font-weight: 700
    color: $color-white
    border-radius: 4px
    box-shadow: 0px 4px 12px $violet-shadow
    text-transform: uppercase

.bonuses__title
    margin: 16px 0
    font-size: 16px
    color: $orange
    text-align: center
    text-transform: uppercase
    @include mobile
        text-align: left

.bonuses__promo-code-title
    text-align: center
    font-weight: 600
    font-size: 14px
    color: $color-white

.bonuses__promo-code-label
    color: $light-one
    font-size: 17px

.bonuses__promo-code-form
    display: flex
    flex-direction: row
    flex: 1
    margin-top: 3px
    @include mobile-xs
        flex-wrap: wrap

.bonuses__promo-code-icon
    position: absolute
    color: $light-one
    font-size: 20px
    margin-left: 12px !important
    margin-top: 14px !important
    pointer-events: none
    right: 18px

.bonuses__promo-code-input
    display: flex
    flex: 1
    margin-right: 16px
    padding-left: 16px
    padding-right: 10px
    background-color: $dark-black
    border: 2px solid $dark-six
    border-radius: 12px
    caret-color: $dark-six
    color: $dark-six
    min-height: 52px
    font-size: 17px
    font-family: $font-lost
    @include mobile-xs
        margin-right: 0
        min-width: 100%
    &::placeholder
        color: $dark-six

.bonuses__promo-code-btn
    display: flex
    @include mobile-xs
        display: block
        margin: 0 auto
        margin-top: 10px

.bonuses__promo-code-error,
.bonuses__promo-code-success
    padding-left: 4px
    margin-top: 5px
    text-align: left
    color: $orange
    &.center
        text-align: center

.bonuses__promo-code-error
    .see-more-link
        color: #eaeaff
        font-weight: bold
        margin-left: 5px
        text-decoration: underline

.bonuses__promo-code-squares
    margin-top: 10px
    position: relative
    display: flex
    flex: 1
    flex-direction: row
    justify-content: center
    cursor: text

.bonuses__promo-code-square
    width: 35px
    height: 35px
    padding: 0
    border: 0
    outline: 0
    border-radius: 8px
    background-color: rgba(255,255,255,0.2)
    margin-right: 8px
    font-size: 24px
    line-height: 35px
    color: $color-white
    text-align: center
    caret-color: transparent

.bonuses__promo-code-square--focused
    background-color: rgba(255,255,255,0.6)

.btn--paste-promo-code
    padding: 0 10px
    background-image: $gr-violet
    height: 35px
    line-height: 35px

.bonuses__activation-disclaimer
    color: $blue-oyster
    font-size: 12px
    line-height: 16px
    margin-bottom: 16px

.bonuses__list
    display: flex
    flex-direction: row
    flex-wrap: wrap
    @include mobile
        flex-direction: column
    @include tablet
        > div:nth-child(2n + 1)
            margin-right: 2%
    @include desktop-lg
        > div:nth-child(2n + 1)
            margin-right: 0
        > div:nth-child(3n + 2)
            margin-left: 2%
            margin-right: 2%
    &--centered
        justify-content: center

.bonuses__bonus
    margin-bottom: 16px
    display: flex
    flex-direction: column
    justify-content: space-between
    border-radius: 4px
    padding: 16px
    background-color: $blue2
    position: relative
    width: 49%
    @include desktop-lg
        width: 32%
    @include mobile
        margin: 0
        margin-bottom: 16px
        width: 100%

.bonuses__bonus-title
    color: $color-white
    font-weight: 700
    font-size: 16px
    text-align: center

.bonuses__bonus-page-description
    margin-top: 6px
    color: $yellow
    font-weight: 700
    font-size: 16px
    text-align: center
    h3
        margin: 0
        font-weight: 700
        font-size: 16px

.bonuses__bonus-amount
    margin-top: 12px
    display: block
    padding: 8px
    background-color: $blue-moon
    text-align: center
    border-radius: 4px
    font-weight: 700
    font-size: 16px
    color: $color-white

.bonuses__bonus-amount-title
    color: $blue-oyster
    font-size: 12px
    font-weight: 400

.bonuses__bonus-freespins-amount
    text-align: center
    font-size: 16px
    font-weight: 700
    color: $orange

.bonuses__bonus-infos
    display: flex
    justify-content: space-between
    flex-direction: row
    flex-wrap: wrap
    margin: 0 -4px

.bonuses__bonus-info
    margin: 0 4px
    margin-top: 8px
    min-width: calc(50% - 8px)
    flex: 1
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 2px
    padding-left: 8px
    border-radius: 4px
    color: $color-white
    font-weight: 700
    font-size: 12px
    &--wager,
    &--redeem-multiplier
        background-color: $red-wager
    &--redeem-amount
        background-color: $orange
        min-width: calc(100% - 8px)
    &--freespins,
    &--cashback,
    &--bonus-percent
        background-color: $green-weed
    &--deposit-multiplier,
    &--min-max-refill
        background-color: $blue-azure
    &--max
        background-color: $purple2
    &--freespins-wager
        background-color: $dark-yellow
        min-width: calc(100% - 8px)
    &--min-max-refill
        min-width: calc(100% - 8px)

.bonuses__bonus-info-value
    display: flex
    padding: 4px
    background-color: rgba(0, 0, 0,0.3)
    border-radius: 4px

.bonuses__bonus-stats
    margin-top: 8px
    text-align: center

.bonuses__bonus-stats-item
    font-size: 12px

.bonuses__bonus-stats-caption
    color: $color-white
    display: inline-block
    vertical-align: middle
    padding-right: 4px

.bonuses__bonus-stats-value
    color: $yellow
    display: inline-block
    vertical-align: middle

.bonuses__bonus-manual-promo-code
    margin-top: 8px
    display: flex
    flex-direction: row
    button
        margin-top: 0 !important

.bonuses__bonus-manual-promo-code-input
    padding: 0 8px
    margin-right: 7px
    background-color: transparent
    color: $color-white
    border: 1px solid $blue-grey
    outline: 0
    font-size: 12px
    border-radius: 4px

.bonuses__bonus-description-title
    margin-top: 8px
    font-size: 12px
    color: $blue-oyster
    text-align: center

.bonuses__bonus-description
    font-size: 12px
    color: $color-white
    text-align: center
    h1, h2, h3
        margin: 0

.bonuses__bonus-buttons
    flex-direction: column
    align-items: stretch
    button, a
        margin-top: 8px
        width: 100%
        text-align: center

.bonuses__bonus-rules
    display: none
    flex: 1
    flex-direction: column
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba(33, 47, 86, 0.9)
    z-index: 2
    padding: 16px
    padding-top: 12px
    border-radius: 4px
    @include mobile
        position: relative
        background-color: transparent
        padding: 0
    &--visible
        display: flex

.bonuses__bonus-rules-top
    display: flex
    flex: 1
    flex-direction: column
    overflow-y: auto

.bonuses__bonus-middle
    display: flex
    flex-direction: column
    width: 100%

.bonus__bonus-img
    margin-top: 12px
    width: 100%
    border-radius: 8px

.bonuses__bonus-freespins-title
    margin-top: 16px
    text-align: center
    font-size: 14px
    color: $color-white

.bonuses__bonus-freespins
    flex-direction: row
    display: flex
    flex-wrap: wrap
    position: relative
    .slick-slider
        height: auto
        width: 100%
        flex: 1
        display: flex !important
        padding: 0 10px
    .slick-list
        flex: 1
    .slick-track
        display: flex !important
        height: inherit !important
        flex: 1
        right: 0
    .slick-slide
        height: inherit !important
        display: flex
        justify-content: center
        float: none
    .pagination__arrow
        display: block
        background-image: url(/images/bonuses/block/arrow-right.svg)
        background-position: center
        background-repeat: no-repeat
        background-color: $blue-moon
        width: 24px !important
        height: 24px !important
        min-width: 24px
        border: 0
        border-radius: 12px
        z-index: 2
        top: 50%
        margin-top: -12px
        box-shadow: none
    .pagination__arrow_left
        left: 0
        margin-left: -9px
        transform: rotate(180deg)
    .pagination__arrow_right
        right: 0
        margin-right: -9px
    .pagination__arrow_icon
        display: none

.bonuses__bonus-freespins-item
    transform: scale(0.82)
    @include mobile
        transform: scale(0.92)
    &--unactive
        opacity: 0.5
    .game-item__title
        background: rgba(0,0,0,0.3)
        padding: 0 5px
        font-size: 12px

.bonuses__bonus-freespins--without-slider
    display: flex
    flex: 1
    flex-direction: row
    justify-content: space-evenly

.bonuses__bonus-rules-bottom
    margin-top: 8px
    button
        width: 100%
    @include mobile
        display: none

.bonuses__bonus-rule-title
    margin-top: 14px
    font-size: 12px
    text-transform: uppercase
    color: $yellow
    font-weight: 700

.bonuses__bonus-rule-description
    margin-top: 6px
    font-size: 12px
    color: $color-white

@include mobile
    .bonuses__bonus-button-arrow
        display: inline-block
        vertical-align: middle
        margin-bottom: 3px
        margin-left: 5px
        width: 11px
        height: 6px
        background: url(/images/bonuses/block/arrowdown.svg)
        transition: transform 0.3s
        &--up
            transform: rotate(-180deg)

.bonuses__history-table
    .table-history
        tr
            background: $blue2
        td
            font-size: 12px
            color: $color-white
            &:nth-child(3)
                color: $yellow
        .table-history-created-at,
        .table-history-activated-at,
        .table-history-wagered-at
            font-size: 12px
            color: $color-white
            span
                color: $yellow

.bonuses__history-empty
    font-size: 12px
    color: $color-white
    text-align: center
    @include mobile
        text-align: left

.bonuses__history-show-more
    margin-top: 20px
    text-align: center
    button
        padding-left: 35px
        padding-right: 35px

.bonuses__bonus-stats.bonuses-time-to-left-wagering
    .bonuses__bonus-stats-caption
        font-size: 15px
    .bonuses__bonus-stats-value
        font-size: 16px
        font-weight: bold
        width: 100%

.bonuses__bonus-cant-activate-reason
    margin-top: 8px

.bonuses__bonus
    .game-item-bonus
        transform: scale(0.82)
        @include mobile
            transform: scale(0.92)
        .game-item
            .game-item__title
                background: rgba(0,0,0,0.3)
                padding: 0 5px
                font-size: 12px
            &:hover
                .game-item__title
                    background-image: linear-gradient(to right, #c541ff 0%, #695fed 100%)

.bonuses__link-to-game
    transition: all 0.2s
    display: flex
    justify-content: center
    align-items: center
    img
        width: 80%
    &:hover
        transform: scale(1.1)
