@import "../mixin.sass"

.btn-scroll-up
    width: 48px
    height: 48px
    font-size: 32px
    font-weight: bold
    display: flex
    justify-content: center
    align-items: center
    background-color: #2F4766
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%)
    border-radius: 50%
    text-align: center
    color: #CBD1D9
    cursor: pointer
    z-index: 999
    position: fixed
    bottom: 100px
    right: 16px
    @include mobile
        bottom: 68px
    @include tablet
        bottom: 68px
