@import "../swatches.sass"
@import "../mixin.sass"

.content-navi
  // border-bottom: 2px solid $orange
  position: relative
  background: $dark-three
  height: 64px
  border-radius: 16px
  @include mobile
    border-radius: 0
  @include tablet
    height: 64px
    position: relative
  .mobile-scroll-hidden
    // overflow: auto
  .navi-arr
    width: 12.5%
    display: none
    position: absolute
    top: 0
    bottom: 0
    align-items: center
    &.arr-left
      left: 0
      .icon-left-navi
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
    &.arr-right
      right: 0
      .icon-right-navi
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
  &.games
    position: relative
    @include mobile
    @include tablet
      border-radius: 0 0 10px 10px
    ul
      > li
        flex-direction: column
        &:hover
          position: relative
          z-index: 102
          .color-bg
            width: 100%
            position: relative
            &:after
              content: ''
              background-color: $color-blue
              top: 10px
              height: 20px
              left: 0
              right: 0
              position: absolute
              z-index: 101
      ul.games-dropdown
        position: absolute
        left: 0
        right: 0
        top: 100%
        height: auto
        display: none
        z-index: 100
        li
          display: block
          padding: 15px 15px 10px
          box-shadow: 0 0 8px $color-black
        .game-list-wrap
          display: flex
          overflow-x: auto
          padding-bottom: 15px
          .simplebar-scroll-content
            overflow-y: auto
            padding-right: 0!important
          .simplebar-content
            display: flex
          .game-item
            margin-bottom: 5px
            + .game-item
              margin-left: 10px
            &:hover
              .game-img
                &:after
                  opacity: 0
            .game-img
              width: 130px
              height: 75px
              background-size: cover
              background-position: center center
              background-repeat: no-repeat
              position: relative
              &:after
                content: ''
                position: absolute
                top: 0
                right: 0
                bottom: 0
                left: 0
                z-index: 1
                background-color: rgba($color-black, 0.3)
                opacity: 1
                transition: opacity .2s linear
            a
              display: block
      ul
        height: auto
      li
        &:hover
          position: static
          ul
            display: block
        &.back-btn,
        &.search-btn
          flex: 0 0 60px
          box-shadow: none
          > a
            opacity: .5
          &:hover
            a
              opacity: 1
  >ul
    @include panel-list
    display: flex
    height: 100%
    @include mobile
      width: 95%
      margin: 0 auto
      overflow: auto
      scroll-behavior: smooth
    li
      flex: 1
      height: 100%
      background-color: $dark-three
      display: flex
      align-items: center
      justify-content: center
      padding-left: 16px
      padding-right: 16px
      border-radius: 16px
      @include desktop-max
        padding-left: 14px
        padding-right: 14px
      &:hover
        > a
          @include tablet
            color: $light-three
            box-shadow: 0px 1px 0px $accent-one
            // border-bottom: 1px solid $accent-one

      + li
        // border-left: 1px solid $dark-black
      &.active
        &:not(.hasChild)
          .tournaments-counter
            background: white
            color: #fda609
            font-weight: 700
          @include mobile
            // @include yellow-bg
            a
              color: $accent-three
              border-bottom: 2px solid $accent-one
            &:hover
              > a
                color: $accent-three
        @include tablet
          position: relative
          // @include yellow-bg
          // border-left: none
          a
            color: $accent-three
            border-bottom: 3px solid $accent-one
          &:hover
            > a
              color: $accent-three
      &.more-btn
        @include mobile
          display: none
        @include tablet
      &.hasChild
        position: relative
        z-index: $bonus-card-z-index - 1
        @include mobile
          display: flex
          height: 100%
        > a
          position: relative
          // color: $color-white
          z-index: $bonus-card-z-index - 1
          @include mobile
            display: none
          &:after
            content: ''
            @include icon
            @include icon_arrow_d_w
            right: 0
            top: 50%
            margin-top: -2px
            margin-left: 8px
            @include mobile
              display: none
        &.visible
          > a:after
            transform: rotate(180deg)
          @include tablet
            > ul
              display: block
        ul
          @include mobile
            display: flex
            flex-direction: row
            height: 100%
          @include tablet
            flex-direction: column
            position: absolute
            left: 0
            right: 0
            height: auto
            padding: 0
            border-radius: 0 0 10px 10px
            display: none
            top: 100%
            &:before
              content: ''
              position: absolute
              left: 0
              bottom: 0
              right: 0
              top: -50px
              // background-color: $color-blue
              // box-shadow: 0 0 8px $color-black
              border-radius: 0 0 10px 10px
              z-index: 0
            li
              position: relative
              z-index: 1
              height: 50px
              &:first-child, &:last-child
                border-radius: 0
              a
                &:last-child
                  border-radius: 0 0 10px 10px
                &:hover
                  box-shadow: none
      a
        color: $grey
        font-family: $font-lost
        // text-transform: uppercase
        display: flex
        align-items: center
        justify-content: center
        height: 100%
        width: 100%
        white-space: nowrap
        font-size: 17px
        font-weight: 400
        transition: all .2s
        @include mobile
          width: 102px
        @include tablet
          font-size: 17px
        @include tablet-max
          text-align: center
          font-size: 17px
      .tournaments-counter
        background: #fda609
        color: white
        border-radius: 8px
        padding: 0 5px
        font-weight: 600
        font-size: 13px
        margin-left: 6px
  &.with-game-size-options
    @include mobile
      display: flex
      align-items: center
    .navi-arr
      @include mobile
        position: relative
        left: unset
        top: unset
        bottom: unset
        right: unset
    ul
      @include mobile
        width: 64%
        margin: 0

    &.game-size-button-right
      .games-list__view-options
        order: 4
        justify-content: flex-start

.game-menu-favorites-icon
  position: relative
  top: -2px
