@import "../swatches.sass"
@import "../mixin.sass"

$submenu-item-height-lg: 50px
$submenu-item-height-md: 40px

.content-navi--horizontal-submenu
  box-sizing: content-box
  .game-menu-favorites-icon
    position: relative
    right: -5px
    @include desktop
      right: -16px
  li
    box-sizing: border-box
  > ul li
    padding: 0
  > ul > li a
    padding-left: 8px
    padding-right: 8px
    @include desktop
      padding-left: 16px
      padding-right: 16px

.content-navi--horizontal-submenu
  position: relative
  z-index: $bonus-card-z-index - 15

.content-navi--horizontal-submenu .icon-category::before
  display: block

.content-navi--horizontal-submenu > ul li.hasChild > a
  display: inherit

.content-navi--horizontal-submenu > ul li.hasChild
  z-index: $bonus-card-z-index - 15

.content-navi--horizontal-submenu > ul
  overflow: auto
  width: 100%

.content-navi--horizontal-submenu > ul > li:first-child
  @include mobile
    padding-left: 12.5%

.content-navi--horizontal-submenu > ul > li:last-child
  @include mobile
    padding-right: 12.5%

.content-navi--horizontal-submenu .navi-arr
  @include mobile
    z-index: $bonus-card-z-index - 5
    background: $color-blue

.content-navi--horizontal-submenu > ul li.hasChild ul li
  flex: 0 1 50%

.content-navi--horizontal-submenu .hasChild > li > a
  cursor: pointer

// region ---- navigation menu border
.content-navi--horizontal-submenu > ul li.active
  @include tablet
    border-left: 1px solid transparent

.content-navi--horizontal-submenu > ul li + li
  border-left: 1px solid $dark-black
  border-right: none
// ---- endregion

// region ---- navigation menu, submenu styles

.content-navi--horizontal-submenu > ul li.hasChild
  height: $submenu-item-height-md
  @include tablet
    height: $submenu-item-height-lg

.content-navi--horizontal-submenu li.hasChild.visible
  position: initial
  background: $dark-blue-grey
  box-shadow: none

.content-navi--horizontal-submenu > ul li.hasChild.visible > a,
.content-navi--horizontal-submenu li.hasChild.visible:hover > a
  color: $yellow

.content-navi--horizontal-submenu > ul li
  height: $submenu-item-height-md
  @include tablet
    height: $submenu-item-height-lg

.content-navi--horizontal-submenu > ul li.hasChild ul
  position: absolute
  left: 0
  right: 0
  height: auto
  padding: 0
  display: none
  top: $submenu-item-height-md
  flex-direction: row
  flex-wrap: wrap
  border-top: 2px solid $orange
  background: $dark-blue-grey
  border-radius: 0
  width: calc(100% - 14px)
  margin: 0 auto
  @include tablet
    top: $submenu-item-height-lg
  @include desktop
    width: 100%
  &:before
    content: ''
    position: absolute
    left: 0
    bottom: 0
    right: 0
    top: -50px
    background-color: $color-blue
    box-shadow: 0 0 8px $color-black
    border-radius: 0 0 10px 10px
    z-index: 0
  li
    position: relative
    z-index: 1
    height: 50px
    &:first-child, &:last-child
      border-radius: 0
    a
      &:last-child
        border-radius: 0 0 10px 10px
      &:hover
        box-shadow: none

.content-navi--horizontal-submenu > ul li.hasChild.visible ul
  display: flex
  background: $dark-blue-grey
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6)

.content-navi--horizontal-submenu > ul li.hasChild ul:before
  top: auto

.content-navi--horizontal-submenu > ul li.hasChild ul li
  border-left: 1px solid $dark-black
  background-color: $dark-blue-grey
  border-bottom: 1px solid $dark-black
  height: $submenu-item-height-md
  min-width: 25%
  max-width: 25%
  justify-content: left
  padding-left: 16px
  position: relative
  @include mobile-xs
    min-width: 50%
    max-width: 50%
  @include tablet
    min-width: 20%
    max-width: 20%
    height: $submenu-item-height-lg
  @include desktop-lg
    min-width: 12.5%
    max-width: 12.5%

.content-navi--horizontal-submenu > ul li.hasChild ul li a
  position: absolute
  left: 0
  padding-left: 48px
  padding-right: 16px
  top: 0
  height: 100%
  width: 100%
  color: #8c9fb5

.content-navi--horizontal-submenu > ul li.hasChild ul li:last-child
  position: relative

.content-navi--horizontal-submenu > ul li.hasChild ul li:last-child::after
  content: ''
  position: absolute
  right: -1px
  top: 0
  height: 100%
  width: 1px
  background: $dark-black

.content-navi--horizontal-submenu > ul li.hasChild li.active
  box-shadow: none
  background: $dark-blue-grey

.content-navi--horizontal-submenu li.hasChild 
  li:hover,
  li:hover a,
  li.active,
  li.active a
    color: $yellow

.content-navi--horizontal-submenu li.hasChild li a
  padding-left: 16px
  justify-content: flex-start
  color: #8c9fb5
  overflow: hidden
  text-overflow: ellipsis
  display: inline
  white-space: nowrap
  line-height: $submenu-item-height-md
  text-align: left
  @include tablet
    line-height: $submenu-item-height-lg

.content-navi--horizontal-submenu > ul li.hasChild li
  font-size: 16px

.content-navi--horizontal-submenu > ul li.hasChild > a:after
  display: block

.content-navi--horizontal-submenu > ul > li.active
  z-index: $bonus-card-z-index - 10
  @include yellow-bg

.content-navi--horizontal-submenu > ul li.active.hasChild > a
  color: $color-white
// ---- endregion
