@import "../swatches.sass"
@import "../mixin.sass"

.daily-bonus-container
    z-index: 2000
    position: fixed
    width: 700px!important
    top: 250px
    padding-bottom: 30px
    @include tablet-max
      top: 180px!important
    @include mobile
      top: 0px !important
      left: 22px
      margin-left: 0!important
      width: 94%!important
    @include mobile-xs
      width: 91%!important

.body-container-outer
    height: auto
    border-radius: 12px
    width: 100%
    height: max-content
    min-height: 430px
    position: absolute
    padding: 0 0 10px 0
    z-index: 999
    box-shadow: 0 3px 0 2px #923c01, inset 0 1px 16px 1px #fb7d33
    background-color: #ffd23e
    display: flex
    justify-content: center
    align-items: center

.body-container-inner
    width: 98%
    height: max-content
    min-height: 400px
    border-radius: 8px
    padding: 0 0 10px 0
    box-shadow: inset 0 0 29px 11px rgba(5, 5, 5, 0.55)
    background-color: #243054
    .body
      border-radius: 6px
      box-shadow: inset 0 0 24px 9px #dadada, inset 0 1px 0 1px #ebebeb
      border: solid 1px #a7a7a7
      background-color: #f5f5f5
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      margin: 0 10px
      .title
        font-size: 22px
        color: #c00000
        font-weight: 600
      .description
        text-align: left
        width: 100%
        padding: 10px 40px
        @include mobile
          padding: 3px 10px
          .description-title
            text-align: center
          .text
            text-align: center
        .description-title
          font-size: 16px
          color: #243054
          font-weight: 600
        .text
          font-size: 12px
          color: #243054
      img.gold
        width: 181px
      .get-button
        border-radius: 24px
        box-shadow: 0 3px 0 2px #171e34, 0 2px 0 1px #417505, inset 0 0 17px 8px #8bf516
        background-image: linear-gradient(to bottom, #f3fd00 6%, #5cc60b 40%, #36a305)
        color: #203a03
        text-align: center
        text-shadow: 0 1px 1px #b8e986, 0 1px 3px rgba(0, 0, 0, 0.5)
        font-size: 20px
        font-weight: 700
        width: 200px
        padding: 10px 0
        text-transform: uppercase
        margin-bottom: 20px
        cursor: pointer
        @include mobile
          font-size: 18px
          padding: 5px 0
          margin-top: 3px
          margin-bottom: 10px
      .game-item
        width: 200px
        .game-item__img-container
          border: none
        .game-item__favorites
          display: none!important
      .fsline
        display: flex
        .fs-block
          border-radius: 25px
          background-image: linear-gradient(to right, #c541ff, #695fed)
          font-weight: bold
          color: white
          padding: 5px 10px
          margin: 0 5px

.progress-bar-daily-container
  width: 100%
  padding: 5px
  .progress-bar-daily-scale
    position: relative
    height: 50px
    width: 100%
    border-radius: 4px
    background: #1b3254
    .progress-line
      display: inline-block
      min-width: 8px
      height: 49px
      max-width: calc(100% - 2px)
      margin: 1px
      border-radius: 6px
      background-image: linear-gradient(to left, #3023ae, #c86dd7)
    .left
      position: absolute
      left: 10px
      display: flex
      flex-direction: column
      height: 100%
      justify-content: center
      color: white
      .text
        opacity: 0.7
      .wager-info
        font-weight: 600
    .right
      position: absolute
      right: 10px
      display: flex
      align-items: center
      height: 100%
      .percent
        color: white
        font-size: 28px
        font-weight: bold


img.wheel
    z-index: 1
    position: absolute
    top: -230px
    width: 100%
    @include mobile
      display: none

.bonus-title
    width: 105%
    top: -40px
    left: -18px
    position: absolute
    img.ribbon
      width: 100%
    .title
      position: absolute
      top: 35px
      width: 100%
      text-align: center
      font-size: 36px
      font-weight: 900
      color: white
      text-shadow: 0 4px 0 #970000
      text-transform: uppercase
      @include mobile
        font-size: 30px
        top: 20px
      @include mobile-xs
        top: 13px
        font-size: 20px
    img.close-button
      position: absolute
      right: -10px
      top: 12px
      cursor: pointer

.days-list-container
  margin-top: 60px
  margin-right: 10px
  margin-left: 17px
  display: flex
  align-items: center
  overflow-x: auto
  @include mobile
    margin-top: 6px
  &::-webkit-scrollbar
    height: 5px

  &::-webkit-scrollbar-track
    background: #f1f1f1

  &::-webkit-scrollbar-thumb
    background: #888

  &::-webkit-scrollbar-thumb:hover
    background: #555
  .day
    margin-left: -8px
    z-index: 8
    position: relative
    &:first-of-type
      margin-left: 0px!important
    &.past
      z-index: 10
    &.current
      margin-left: -20px
      margin-right: -10px
      z-index: 9
      img.day-bg
        height: 80px
      .content
        top: 15px
        left: 20px
    img.day-bg
      height: 60px
    .content
      position: absolute
      top: 6px
      left: 15px
      width: 77%
      .top-line
        display: flex
        justify-content: center
        .day-text
          color: black
          font-weight: 600
      .bottom-line
        margin-top: 5px
        display: flex
        justify-content: center
        img.gift
          height: 25px

.remaining-time-container
  color: #19406a
  .label
    font-size: 26px
    font-weight: 600
    text-align: center
    @include mobile
      font-size: 16px
      line-height: 1.1
      padding-bottom: 3px
  .time-blocks
    display: flex
    justify-content: space-around
    .time-block
      display: flex
      flex-direction: column
      .time-row
        display: flex
        .time-cell
          width: 36px
          height: 50px
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5), inset 0 1px 0 0 rgba(140, 159, 181, 0.35)
          background-image: linear-gradient(to bottom, #dc0000, #b10000 97%)
          justify-content: center
          display: flex
          align-items: center
          color: #fdbb07
          font-size: 44px
          font-weight: 600
          border-radius: 4px
          margin-right: 3px
          @include mobile
            font-size: 22px
            height: 30px
            width: 30px
      .label
        font-size: 16px
        text-align: center


.container
  display: block
  position: relative
  padding-left: 35px
  margin-bottom: 12px
  cursor: pointer
  font-size: 22px
  user-select: none

/* Hide the browser's default checkbox */
.container input
  position: absolute
  opacity: 0
  cursor: pointer
  height: 0
  width: 0

/* Create a custom checkbox */
.checkmark
  position: absolute
  top: 0
  left: 0
  height: 20px
  width: 20px
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.51), inset 0 1px 1px 0 rgba(0, 0, 0, 0.5)
  background-color: rgba(29, 38, 64, 0.32)
  border-radius: 6px

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark
  background-color: #66b70e

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after
  content: ""
  position: absolute
  display: none

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after
  display: block

/* Style the checkmark/indicator */
.container .checkmark:after
  left: 8px
  top: 5px
  width: 3px
  height: 8px
  border: solid white
  border-width: 0 3px 3px 0
  -webkit-transform: rotate(45deg)
  -ms-transform: rotate(45deg)
  transform: rotate(45deg)
