@use "sass:math"
@import "../swatches.sass"
@import "../mixin.sass"

$card-popup-width: 320px
$card-popup-offset: 12px
$final-bonuses-container-offset: 60px

$final-bonuses-card-popup-height: 450px
$final-bonuses-card-popup-image-size: 200px

$final-bonuses-text-slider-arrow-size: 60px
$final-bonuses-text-slider-height: 42px

$final-bonuses-days-slider-max-width: 350px

$pagination-item-min-width: 35px
$pagination-item-height: 35px
$pagination-item-box-shadow: 0 0 6px 0px $color-light-blue
$pagination-item-active-padding: 6px
$pagination-arrow-size: 80%

@mixin activePaginationItem
    .pagination__item_text
        display: inline-block
        color: $color-black
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        margin: math.div($pagination-item-active-padding, 2)
        width: calc(100% - #{$pagination-item-active-padding})
        height: calc(100% - #{$pagination-item-active-padding})
        border-radius: 100px
        background-color: #f0bc04
        background-image: linear-gradient(to top, #f0bc04, #f0bc04 49%, #fcc602 50%, #fcc602)
    &.pagination__arrow_left .pagination__arrow_icon
        background: no-repeat url(/images/icons/arrow-left-active.png) center center
        background-size: $pagination-arrow-size $pagination-arrow-size
        background-position-x: left
    &.pagination__arrow_right .pagination__arrow_icon
        background: no-repeat url(/images/icons/arrow-right-active.png) center center
        background-size: $pagination-arrow-size $pagination-arrow-size
        background-position-x: right

@mixin pagination-item
    float: left
    position: relative
    cursor: pointer
    display: inline-block
    border-radius: math.div($pagination-item-height, 2)
    background-color: transparentize($color-black, 0.85)
    border: solid 1px $color-light-blue
    box-shadow: $pagination-item-box-shadow
    min-width: $pagination-item-min-width
    height: $pagination-item-height
    line-height: $pagination-item-height
    text-align: center
    user-select: none
    padding: 0 3px

.pagination-container
    width: calc(100% - (#{$pagination-item-min-width} * 2))
    margin: 0 auto
    @include tablet
        margin-left: $pagination-item-min-width
        margin-right: $pagination-item-min-width
        clear: both
        float: left
        width: calc(50% - (#{$pagination-item-min-width} * 2))

.pagination-block
    position: relative
    margin: 0 auto 6px auto
    user-select: none

.pagination
    display: table
    margin: 0 auto

.pagination__cell
    padding: 0 4px
    display: table-cell
    user-select: none
    float: left

.pagination__cell--active
    .pagination__item
        @include activePaginationItem

.pagination__item
    @include pagination-item
    &:active:not(.pagination__arrow--disabled):not(.pagination__arrow--withOutActiveStyles)
        @include activePaginationItem

.pagination__item_text
    font-size: 14px
    line-height: $pagination-item-height
    font-weight: bold
    letter-spacing: -0.2px
    text-transform: uppercase
    color: $color-light-blue
    display: inline-block
    position: relative
    padding: 0 15px
    @include text-ellipsis

.pagination__arrow
    display: block
    position: absolute
    top: 0
    transition: opacity 0.15s ease-in-out
    &_left
        left: -$pagination-item-min-width
    &_right
        right: -$pagination-item-min-width

.pagination__arrow--disabled
    cursor: default
    opacity: 0.5

.pagination__arrow_icon
    position: relative
    width: 100%
    height: 100%
    transition: all 0.15s ease-in-out

.pagination__arrow_left .pagination__arrow_icon
    background: no-repeat url(/images/icons/arrow-left.png) center center
    background-size: $pagination-arrow-size $pagination-arrow-size

.pagination__arrow_right .pagination__arrow_icon
    background: no-repeat url(/images/icons/arrow-right.png) center center
    background-size: $pagination-arrow-size $pagination-arrow-size

.pagination
    .pagination__item_text
        padding: 0 10px

.pagination-numbers
    .pagination__item
        padding: 0
    .pagination__item_text
        padding: 0
    .pagination__cell--active
        width: auto
        .pagination__item
            width: 100%
        .pagination__item_text
            padding: 0 10px

// region ---- slider pagination
.slider-pagination
    position: absolute
    width: 100%
    display: flex !important
    justify-content: center

.slider-pagination li button
    @include pagination-item
    outline: none
    margin: 0 10px
    transition: all 0.2s
    font-size: 0
    color: transparent
    @include tablet-max
        transform: scale(0.7)
    &:active
        @include activePaginationItem
        transform: scale(1.3)

.slider-pagination li.slick-active button
    @include activePaginationItem
    transform: scale(1.3)
    @include tablet-max
        transform: scale(0.8)
// ---- endregion

.animate-pagination__arrow_left .pagination__arrow_left
    @include activePaginationItem

.animate-pagination__arrow_right .pagination__arrow_right
    @include activePaginationItem

.card-popup__slide
    &:focus, &:active
        outline: none

.final-bonuses-description
    color: $color-white
    text-align: center
    font-size: 25px
    line-height: 1.25
    margin: 0 0 2vh 0
    @include tablet-max
        font-size: 23px

// region ---- notifications list
.final-bonuses-list
    z-index: 9999
    position: fixed
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-around
    margin: 0 auto
    padding: 0 15px
    @include tablet-max
        padding: 0

.final-bonuses-close
    display: block
    top: 25px
    right: 25px
    cursor: pointer
    font-size: 36px
    position: absolute
    width: 50px
    height: 50px
    @include mobile
        top: 10px
        right: 10px
        width: 30px
        height: 30px

h3.final-bonuses-description
    text-transform: uppercase
    font-size: 30px
    display: inline-block
    border-bottom: 1px solid #fff
    margin: 3vh
    @include tablet
        font-size: 24px
    @include desktop
        font-size: 40px

p.final-bonuses-description
    @include tablet
        font-size: 14px
    @include desktop
        font-size: 30px

.final-bonuses-list .card_popup__slide
    outline: none

.final-bonuses__notifications
    margin-bottom: 70px

.final-bonuses__notifications
    .card-popup
        padding: 0
        h3, h4, div
            position: relative
            backface-visibility: hidden
            z-index: 10
        @include tablet-max
            min-width: 220px
            width: 220px
        .card-popup-content
            padding: 18px 12px 24px 12px
            @include tablet-max
                padding: 14px 13px

.final-bonuses__notifications .card-popup
    //height: $final-bonuses-card-popup-height
    margin: 0 auto
    min-width: $card-popup-width
    width: $card-popup-width
    text-align: center
    position: relative
    border-radius: 4px
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.5)
    color: #ffffff
    transition: transform 1s
    transform-style: preserve-3d
    .card-popup-content
        padding: 24px 24px 10px 24px
        border-radius: 4px
        position: relative
        text-transform: uppercase
        &::before
            content: ''
            backface-visibility: hidden
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background: 50% 0 no-repeat url(/images/jackpots/bg-lines.svg)
            background-size: 250% 250%
            @include tablet
                background-size: 260% 220%
    .back
        position: absolute !important
        background: #313165
        left: 0
        top: 0
        transform: rotateY(180deg)
    &.show-help
        transform: rotateY(180deg)
        transition: transform 0.5s
    &.hide-button
        .show-info
            transform: none

    @include mobile
        width: 94%
    .card-popup-content
        position: static
    .card-popup-bonus_image
        width: $final-bonuses-card-popup-image-size
        height: $final-bonuses-card-popup-image-size
        background-size: 100% 100%
        left: 0
        top: 0
        transform: none
        margin: 0 auto
        @include tablet-max
            width: 125px
            height: 125px
    .card-popup-bonus_link
        margin-top: 15px
        display: inline-block

.final-bonuses__notifications
    .card-popup::before
        background-position-y: 15%
    .slider-pagination 
        margin-top: 20px
        li button
            @include mobile
                min-width: 27px
                height: 27px
                line-height: 27px
                margin: 0 7px
    .card-popup-bonus_title
        font-size: 30px
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
        white-space: nowrap
        padding: 0
        margin-top: 10px
        margin-bottom: 5px
        @include tablet
            font-size: 26px
        &+.card-popup-bonus_sub-title
            margin-top: 20px
            margin-bottom: 50px
    .card-popup-bonus_sub-title
        min-height: 88px
        font-size: 22px
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
        padding: 0
        margin-top: 10px
        margin-bottom: 5px
        @include tablet-max
            min-height: 58px
            font-size: 14px
        small
            font-size: 17px
            display: block
            margin-bottom: 5px
            @include tablet-max
                font-size: 11px
    .card-popup-bonus_wager
        top: 0
        padding: 8px
        line-height: 15px
        font-weight: 100
        color: #ffffff
        border: solid 2px #ffffff
        border-radius: 6px
        background-image: linear-gradient(to bottom, #ff2532, #c20101)
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5)
        @include tablet-max
            line-height: 10px


.card-popup-bonus__btn
    cursor: pointer
    display: inline-block
    min-width: 100px
    padding: 6px 18px
    border-radius: 3px
    font-size: 16px
    bottom: 0px
    margin: auto
    position: relative
    background: linear-gradient(to top, $yellow, $dark-yellow)
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
    font-weight: bold

// ---- endregion

// region ---- styles for card in final bonuses
// max cards in block - 5
.final-bonuses__notifications .slick-track .slick-slide:nth-child(5n + 1) .card-popup-content
    background-image: linear-gradient(180deg, #3269C9 0%, #273CA8 100%)
    .card-popup-bonus_image
        background: no-repeat 0 0 / 100% 100% url(/images/bonuses/final/bonus-image-1.png)

.final-bonuses__notifications .slick-track .slick-slide:nth-child(5n + 2) .card-popup-content
    background-image: linear-gradient(180deg, #5CAE4B 0%, #31806C 100%)
    .card-popup-bonus_image
        background: no-repeat 0 0 / 100% 100% url(/images/bonuses/final/bonus-image-2.png)

.final-bonuses__notifications .slick-track .slick-slide:nth-child(5n + 3) .card-popup-content
    background-image: linear-gradient(180deg, #E8397F 0%, #C43B99 100%)
    .card-popup-bonus_image
        background: no-repeat 0 0 / 100% 100% url(/images/bonuses/final/bonus-image-3.png)

.final-bonuses__notifications .slick-track .slick-slide:nth-child(5n + 4) .card-popup-content
    background-image: linear-gradient(180deg, #2d9ba1 0%, #198589 100%)
    .card-popup-bonus_image
        background: no-repeat 0 0 / 100% 100% url(/images/bonuses/final/bonus-image-4.png)

.final-bonuses__notifications .slick-track .slick-slide:nth-child(5n + 5) .card-popup-content
    background-image: linear-gradient(180deg, #3B3B3B 0%, #2A2A2A 100%)
    .card-popup-bonus_image
        background: no-repeat 0 0 / 100% 100% url(/images/bonuses/final/bonus-image-5.png)

// ---- endregion

// region ---- days slider
.final-bonuses-text-slider
    text-align: center
    max-width: $final-bonuses-days-slider-max-width
    margin: 0 auto 20px auto
    position: relative
    @include mobile
        max-width: 100%
        padding: 0 $final-bonuses-text-slider-arrow-size * 0.75
    @include tablet
        width: 230px

.final-bonuses-text-slider .pagination__arrow_icon
    pointer-events: none

// hack for overflow in change orientation in mobile
.final-bonuses-text-slider .slick-list
    height: $final-bonuses-text-slider-height
    line-height: $final-bonuses-text-slider-height

.final-bonuses__text-slider_item
    color: #fff
    font-size: 20px
    font-weight: bold
    text-transform: uppercase
    outline: none
    @include desktop
        font-size: 33px

.final-bonuses-text-slider-nav
    position: absolute
    top: 0
    border-radius: 50%
    height: 100%

.final-bonuses-text-slider .pagination__item
    min-width: $final-bonuses-text-slider-arrow-size * 0.75
    width: $final-bonuses-text-slider-arrow-size * 0.75
    height: $final-bonuses-text-slider-arrow-size * 0.75
    border-radius: 50%
    top: 50%
    @include tablet
        width: 33px
        height: 33px
        min-width: 33px
    @include desktop
        width: $final-bonuses-text-slider-arrow-size
        height: $final-bonuses-text-slider-arrow-size


.final-bonuses-text-slider .pagination__arrow_left
    transform: translateY(-50%) translateX(-100%)
    left: 0

.final-bonuses-text-slider .pagination__arrow_right
    transform: translateY(-50%) translateX(100%)
    right: 0
// --- endregion

// region ---- time intervals

.final-bonuses__time-intervals
    display: flex
    flex-wrap: wrap
    justify-content: center

.final-bonuses__time-intervals_item
    float: none
    padding-top: 11px
    padding-bottom: 11px
    display: flex
    margin: 12px
    height: auto
    border-radius: 100px
    min-width: 250px
    justify-content: center
    align-items: center
    @include tablet-max
        min-width: 128px
        padding: 0
        margin: 9px

.final-bonuses__time-intervals_item .pagination__item_text
    font-size: 19px
    padding: 0 20px
    @include tablet-max
        font-size: 10px

.final-bonuses__time-intervals_item--active
    @include activePaginationItem

// --- endregion
        
.final-bonuses__bonus-amount
    color: #ffcb00
    font-size: 160px
    display: block

h2.final-bonuses__bonus-amount-title
    text-align: center
    margin-top: 0
    font-size: 26px
    strong
        color: $color-white
        font-weight: bold

.card-popup-info
  display: flex
  flex-direction: column
  height: 100%
  width: 100%
  color: white
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
  font-weight: bold
  padding: 18px 24px 24px 24px
  border-radius: 4px
  @include tablet
    padding: 14px 13px
    width: 101%
  &__title
    margin-top: 20px
    font-size: 30px
    text-transform: uppercase
    @include tablet
      margin-top: 10px
      font-size: 23px
  &__content
    flex-grow: 1
    margin-top: 5px
    @include mobile
      font-size: 15px
    @include tablet
      font-size: 12px
    @include desktop
      font-size: 18px

.final-bonus
    z-index: 9999
    position: fixed
    width: 700px
    min-height: 400px
    top: 20px
    left: 50%
    margin-left: -350px
    padding-bottom: 30px
    height: auto
    border-radius: 12px
    background-image: url(/images/bonuses/final/bonus-modal.png), linear-gradient(to top, #6d327e, #464e9e)
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    color: white
    font-weight: bold
    text-align: center
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
    &--title
        padding: 0 400px
        text-transform: uppercase
        font-size: 50px
    &--bonus-title
        font-size: 36px
    &--bonus-subtitle
        font-size: 26px
    .btn
        width: 270px
        height: 100px
        font-size: 36px
        font-weight: bold
        box-shadow: 0 13px 0 0 #674d00, 0 11px 1px 0 #7d5e00, 0 2px 0 0 #644b00, inset 0 0 3px 0 rgba(255, 255, 255, 0.6), inset 0 2px 0 0 rgba(255, 255, 255, 0.5)
    .dialog-close-icon
        width: 100px
        height: 100px
    @include tablet-max
        margin-left: -200px
        width: 400px
    &.mobile
        width: 340px
        left: 50%
        margin-left: -170px
        top: 20px
        height: auto
        min-height: 200px
        padding-bottom: 20px
        background-size: contain
        background-position: bottom
        .final-bonus--title
            font-size: 32px
        .final-bonus--bonus-title
            font-size: 24px
            padding: 20px 0
        .final-bonus--bonus-subtitle
            font-size: 20px
        .final-bonuses-close
            top: 10px
            right: 10px
            width: 30px
            height: 30px

.final-bonus__bonus-info-button
    display: inline-block
    background: url(/images/bonuses/final/bonus-info.png) no-repeat left
    background-size: contain
    padding-left: 48px
    height: 50px
    font-size: 13px
    line-height: 41px
    color: $color-white
    cursor: pointer
    margin-top: 3px
    margin-right: 20px
    &:hover
        color: $color-header

.menu-inner__bonus-info-wrapper
    text-align: center
    margin-top: -10px
    .final-bonus__bonus-info-button
        margin-top: 0
        margin-right: 0

.header-top-line .final-bonus__bonus-info-button
    @include tablet-max
        display: none

.final-bonuses-list.mobile
    .final-bonuses-close
        top: 10px
        right: 10px
        width: 30px
        height: 30px
    .final-bonuses__notifications .card-popup
        width: 94%
    .final-bonuses-text-slider
        max-width: 100%
        padding: 0 $final-bonuses-text-slider-arrow-size * 0.75
    @include mobile-landscape
        .card-popup
           min-width: 200px
           height: 260px
           .card-popup-content
               padding-top: 10px
        .card-popup-bonus_sub-title
            margin-bottom: 10px
            margin-top: 0
        .card-popup-bonus_title
            margin-top: 0
