@import "../swatches.sass"

.free-spins-list
    overflow: auto
    display: flex
    flex-wrap: wrap
    flex-direction: column
    height: 142px
    width: 100%
    position: relative
    
    &::-webkit-scrollbar
        width: 10px

    &::-webkit-scrollbar-track
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)

    &::-webkit-scrollbar-thumb
        background-color: $blue-darker
        outline: 1px solid slategrey

    &__item
        width: 50%
        position: relative
        display: flex
        flex-wrap: wrap
        justify-content: center

    &--1 &__item
        width: 100%

    &__item-vals
        background: rgba($dark-black, 0.8)
        mix-blend-mode: normal
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
        align-content: center
        border-radius: 20px
        font-weight: bold
        font-size: 18px
        line-height: 20px
        height: 64px
        width: 100%
        color: $yellow
        position: absolute
        margin: auto
        top: 0
        bottom: 0

        &--2
            font-size: 20px
            line-height: 20px
            height: 58px

    &__item-val
        width: 100%
        text-align: center

    &__game-icon
        width: 124px
        height: 124px
        margin: 0 !important

