@import "../swatches.sass"
@import "../mixin.sass"

$games-list-padding: 8px

.games-list
  display: flex
  flex-wrap: wrap
  padding-top: $games-list-padding
  padding-bottom: 64px
  overflow: visible
  position: relative
  @include mobile
    padding-bottom: 24px
  @media (min-width: #{$container-max-width} + $games-list-padding * 2)
    margin-left: -$games-list-padding
    margin-right: -$games-list-padding
  @include container-max
    overflow: hidden

.ReactVirtualized__Grid
  overflow: visible !important

.games-list--empty
  padding-bottom: $games-list-padding * 4

h1.games-list__caption
  text-align: center
  padding-top: $games-list-padding * 3
  color: $yellow
  font-size: 2em

.game-item
  padding: $games-list-padding
  display: flex
  flex-direction: column
  position: relative
  flex: 0 0 50%
  @include tablet
    flex: 0 0 25%
    transform: scale(1)
    transition: .2s
  @include desktop
    flex: 0 0 20%

.game-item:hover
  @include tablet
    transform: scale(1.1)
    position: relative
    z-index: 100
    .game-item__title
      background: $accent-one
      color: $color-white
    .game-item__name
      display: none
    .game-item__btn
      display: block
    .game-item__favorites
      display: block

.game-item__img-container
  border: 2px solid $yellow
  border-radius: 16px 16px 0 0
  overflow: hidden
  position: relative
    // loader in game item
  .loading-spinner_nobg
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    white-space: nowrap
    .loading-spinner_indicator-fourth,
    .loading-spinner_indicator-fifth
      display: none
    @include desktop
      .loading-spinner_indicator-fourth,
      .loading-spinner_indicator-fifth
        display: inline-block
    @include desktop-lg-max
      .loading-spinner_indicator
        margin-left: 12px
        .loading-spinner_indicator-first
          margin-left: 0

.game-item__img
  float: left
  width: 100%
  height: auto
  max-height: 100%

.game-item__img.loading,
.game-item__img-optimized.loading
  text-align: center
  .loading-spinner_nobg
    display: block
    position: relative
    top: 50%
    margin-top: -10px

.game-item__favorites
  position: absolute
  right: 16px
  top: 16px
  width: 24px
  height: 24px
  overflow: hidden
  display: none
  cursor: pointer
  z-index: 10
  img
    width: 100%
    height: 100%

.game-item__favorites--mobile
  display: block

@keyframes game-item-favorites-animation
  100%
    transform: rotate(360deg)

.game-item__favorites--loading
  animation: game-item-favorites-animation 2s backwards ease-in-out

.game-item__title
  background-color: $dark-four
  text-align: center
  display: flex
  align-items: center
  justify-content: center
  color: $light-two
  font-family: $font-lost
  // text-transform: uppercase
  padding-left: 10px
  padding-right: 10px
  border-radius: 0 0 16px 16px
  font-size: 17px
  height: 34px
  line-height: 1.2
  font-weight: 400
  @include tablet
    height: 40px
    font-size: 17px
  @include tablet-max
    font-size: 14px
.game-item__btn
  display: none
  font-size: 25px
.game-item__link
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 7

.games-list__search-msg
  padding: $games-list-padding
  display: flex
  flex: 1
  align-items: center
  justify-content: center

.games-list__description
  padding: ($games-list-padding * 2) $games-list-padding
  color: white
  font-size: 16px
  br
    display: block
    margin: 2px 0

.games-list__description h2
  color: $yellow
  font-size: 1.5em

.site-middle .games-list__play-other
  text-align: left
  padding: $games-list-padding
  padding-bottom: ($games-list-padding * 4)
  a
    color: $color-text
    font-family: $font-first
    font-size: 13px
    font-weight: 400
    &:hover
      color: $color-header

// region ---- additional classes for game-item
.game-item--showPreview
  pointer-events: none
  cursor: none

.game-item--inactive
  opacity: 0.5
  pointer-events: none
  cursor: none

.game_item-preview
  display: none
  position: absolute
  margin: $games-list-padding
  left: 0
  top: 0
  right: 0
  bottom: 0
  background: rgba(0, 0, 0, 0.75)
  color: #fff
  text-align: center
  cursor: none
  pointer-events: none
  border-radius: 8px

.game-item--showPreview .game_item-preview
  display: flex
  align-items: center
  justify-content: center
  padding: 0 25px

.games-list-show-more-container
  display: flex
  justify-content: center
  width: 100%
  margin-top: 16px
  .button
    background: $dark-four
    border-radius: 12px
    color: $light-two
    cursor: pointer
    height: 44px
    &:hover
      background: $dark-six
      color: #ffffffa4
// ---- endregion

.game-meta-container
  width: 100%
  height: 100%
  background: linear-gradient(180deg, rgba(29, 38, 64, 0) 30%, #0a0c10 100%)
  z-index: 5
  position: absolute
  .game-meta
    width: 100%
    position: absolute
    bottom: 0
    display: flex
    justify-content: space-between
    .game-meta-block
      background: rgba(0, 0, 0, 0.45)
      border: 2px solid rgba(255, 255, 255, 0.1)
      box-sizing: border-box
      border-radius: 12px
      margin: 1px
      padding: 3px 1px
      flex: 1
      display: flex
      flex-direction: column
      justify-content: space-between
      @media (max-width: 500px)
        background: rgba(0, 0, 0, 0.4)
        .game-meta-first-line
          display: flex
          font-style: italic
          text-align: center
          font-weight: 600
          font-size: 12px
          line-height: 16px
          text-transform: uppercase
          color: #FFFFFF
          align-items: center
          justify-content: center
          @media (min-width:1040px) and (max-width:1256px)
            font-size: 11px
          @media (min-width:763px) and (max-width:1039px)
            font-size: 10px
          @media (min-width:100px) and (max-width:763px)
            font-size: 11px
          .key
            &.active
              animation-name: zoom-in-zoom-out
              animation-duration: 0.5s
              animation-fill-mode: both
          .indicator
            width: 10px
            height: 10px
            border-radius: 20px
            background: #2fda2f
            position: absolute
            right: 7px
            box-shadow: 0px 0px 3px 2px #2fda2f
            &.active
              animation-name: pulse
              animation-duration: 0.5s
              animation-fill-mode: both

          img
            width: 15px
            height: 15px
            margin-left: 2px
            @media (max-width: 1256px)
              width: 10px
              height: 10px
        .game-meta-second-line
          font-style: italic
          font-weight: 900
          text-align: center
          text-transform: uppercase
          color: #FFFFFF
          &.active
            animation-name: zoom-in-zoom-out
            animation-duration: 0.5s
            animation-fill-mode: both

@keyframes pulse
  0%
    transform: scale(1)
  50%
    transform: scale(0.5)
  100%
    transform: scale(1)

@keyframes zoom-in-zoom-out
  0%
    transform: scale(1)
  50%
    transform: scale(1.2)
  100%
    transform: scale(1)

.game-item__badge
  padding: 2px 4px
  position: absolute
  z-index: 2
  background: $color-light-blue
  color: $color-white
  border-radius: 4px
  width: auto
  top: 12px
  left: 12px
  font-weight: bold
  font-size: 10px
  text-transform: uppercase

.games-list__view-options
  display: none
  @include mobile
    display: flex
    justify-content: flex-end
    margin-top: 5px
    position: relative
    width: 11%

.games-list__view-option
  font-size: 20px
  color: #426494
  margin: 0

.games-list__view-option--active
  color: #FFFFFF

.games-list-items-size--view-full
  .game-item
    @include mobile
      flex: 0 0 100%

.games-list-items-size--view-full
  .game-item
    @include mobile
      flex: 0 0 100%

.games-list-items-size--view-one-third
  .game-item
    @include mobile
      flex: 0 0 33%
      padding: 3px
