@import "../swatches.sass"
@import "../mixin.sass"

.modal.guest-modal .modal-dialog .modal-content
  max-width: 640px
  width: 100%
  min-height: 250px

//
// Modal games list
// ------------------------------
.modal-games-list
  margin: 10px -3px 0 -3px
  display: flex
  flex-wrap: wrap

.modal-games-list .game-item
  display: block
  width: calc((100% / 2) - 12px)
  float: left
  flex: none
  max-width: none
  border-bottom-left-radius: 6px
  border-bottom-right-radius: 6px
  background-color: $dark-blue-grey
  padding: 0
  overflow: hidden
  margin: 0 6px 24px 6px
  @include tablet
    margin-bottom: 0
    width: calc((100% / 4) - 12px)

.modal-games-list .game-item:hover
  transform: scale(1.05)

.modal-games-list .game-item .game-item__favorites
  display: none

.modal-games-list .game-item__title
  font-size: 10px
  background: transparent
  border-radius: 0
  font-weight: normal

.modal-games-list .game-item__img-container
  border: none
  border-radius: 0

.modal-games-list .game-item.game-item-empty
  border-radius: 4px
  background: linear-gradient(to right, #feae00, #fa7c34)
  position: relative
  border: 1px solid transparent

.modal-games-list .game-item.game-item-empty::before
  content: ''
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  background: $dark-black

.game-item-empty__text
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  text-transform: uppercase
  color: $orange
  font-size: 14px

.modal-games-list .game-item__img-container
  .loading-spinner_indicator-fourth,
  .loading-spinner_indicator-fifth
    display: none
// endregion

//
// Modal winners list
// ------------------------------
.modal-winners
  @include clear-fix
  margin-bottom: 34px
  text-align: left

  @include tablet
    margin-left: -6px
    margin-right: -6px

.modal-winners .winner-list__item
  width: 100%
  margin: 8px 0 6px 0
  float: left
  border-radius: 8px
  border: none
  padding: 10px 0 10px 10px
  background-color: $dark-blue-grey
  @include tablet
    margin: 8px 6px 6px
    width: calc(50% - 12px)
// endregion

//
// Modal jackpot block
// ------------------------------
.modal-block-jackpot
  margin-top: 26px
  margin-bottom: 36px

.modal-block-jackpot .money__amount
  width: 70%
  box-shadow: 0 0 8px 0 #feae06, inset 0 0 12px 3px #feae06
  border-radius: 6px
  font-size: 30px
  margin: 0
  height: 70px
  @include tablet
    font-size: 65px
    height: 127px

.modal-block-jackpot .money__currency
  width: 30%
  font-size: 30px
  background: none
  border: none
  margin-top: 0
  align-items: center
  justify-content: center
  padding: 0
  display: flex
  @include tablet
    font-size: 48px

.modal-block-jackpot .money--jackpot
  border-radius: 8px
  border: solid 1px #feae06
  flex-direction: row
  overflow: hidden
  background: $dark-black
// endregion

//
// Modal bonuses block
// ------------------------------
.modal-bonus-card
  border-radius: 6px
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.41)
  border: solid 1px rgba(255, 255, 255, 0.4)
  padding: 24px 12px 24px
  width: 100%
  margin: 9px 0 9px 0
  float: left
  position: relative
  overflow: hidden
  @include tablet
    margin: 9px 6px 6px
    width: calc(50% - 12px)

.modal-bonus-card::before
  display: block
  content: ''
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  opacity: 0.25
  background: no-repeat url(/images/bonuses/burst-2.png) 0 0
  background-size: 60% 150%
  background-position-y: 35%
  background-position-x: -20%

.modal-bonus-card__img
  width: 80px
  height: 80px
  float: left
  position: relative

.modal-bonus-card__text
  padding-left: 92px
  font-size: 20px
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
  color: $color-white
  text-transform: none
  position: relative
  text-align: left

.modal-bonus-cards-block
  margin-bottom: 28px
  @include clear-fix
  @include tablet
    margin-left: -6px
    margin-right: -6px

.modal-bonus-card--gradient-1
  background-image: linear-gradient(294deg, #ed1e79, #662d8c)

.modal-bonus-card--gradient-2
  background-image: linear-gradient(294deg, #2e3192, #1bffff)
// endregion
