@import "../swatches.sass"
@import "../mixin.sass"

.hero
  display: flex
  flex-direction: column
  position: relative
  align-items: unset
  &.without-slider
    flex-direction: column
    .slider
      display: none
  @include desktop
    flex-direction: row
    margin-bottom: 24px
  @include mobile
    flex-direction: column
  .hero-bg
    position: absolute
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
    @include mobile
      top: -40px
      right: -40px
      bottom: -40px
      left: -40px
    @include tablet
      top: 0
      bottom: 0
      right: 10%
      left: 10%

.hero.search
  @include mobile
  height: 15px
  overflow: hidden
  opacity: 0

.slider
  flex: auto
  position: relative
  text-align: center
  min-height: 147px
  overflow: hidden
  padding-bottom: 2px
  padding-top: 2px
  border-radius: 16px
  @include desktop
    min-height: 232px
    width: calc(100% - 262px)

.slick-slider,
.slider_slide_link,
.slick-list,
.slick-track,
.slick-slide > div
  height: 100%
  border-radius: 16px

.slick-slider
  @include mobile
    padding: 6px 16px 14px
  @include desktop
    padding: 0

.slider_slide_link
  position: relative

.slider_slide_video
  width: 100%
  height: 100%
  object-fit: cover

.slider_slide
  width: 100%
  height: 100%
  object-fit: cover
  display: block

.slider_slide_iframe
  cursor: pointer
  svg
    width: 100%
    height: 100%
  iframe
    position: absolute
    pointer-events: none
    width: 100%
    height: 100%
    left: 0
    right: 0
    top: 0
    bottom: 0
