.info-slider
  margin-top: 10px
  margin-bottom: 16px
  padding-left: 10px
  padding-right: 10px
  @include desktop
    margin-bottom: 25px
  .timeline-cashback-bonus-block-container,
  .tournament-info-block-container
    min-width: 100%
    outline: none
    padding: 0 5px
    @include desktop
      padding: 0 25px
  &.elements-1
    .timeline-cashback-bonus-block-container,
    .tournament-info-block-container
      @include desktop
        padding: 0 5px
  .timeline-cashback-bonus-block
    min-width: 100%
  .slick-arrow
    display: none!important
    font-size: 0
    line-height: 0
    position: absolute
    top: 39%
    z-index: 9
    width: 20px
    height: 20px
    border-radius: 10px
    padding: 0
    cursor: pointer
    border: none
    background: #ffffff40
    @include desktop
      display: block!important
    &::before
      width: 20px
      font-weight: 700
      font-size: 16px
      height: 20px
      position: absolute
      top: 11px
      left: 0
      color: #dcdcdc
    &.slick-prev
      &::before
        content: '<'
    &.slick-next
      right: 0
      &::before
        content: '>'

  .slick-dots
    position: absolute
    bottom: -19px
    display: block
    width: 100%
    padding: 0
    margin: 0
    list-style: none
    text-align: center
    li
      width: 20px
      height: 20px
      cursor: pointer
      position: relative
      display: inline-block
      margin: 0 5px
      padding: 0
      button
        font-size: 0
        line-height: 0
        display: block
        padding: 5px
        color: transparent
        border: 0
        outline: none
        background: transparent
        width: 20px
        height: 20px
        cursor: pointer
        &::before
          font-size: 37px
          line-height: 20px
          position: absolute
          top: 0
          left: 0
          width: 20px
          height: 20px
          content: "\2022"
          text-align: center
          color: rgba(255, 255, 255, 0.3)
          -webkit-font-smoothing: antialiased
      &.slick-active
        button
          &::before
            color: #FFFFFF
