@import "../swatches.sass"
@import "../mixin.sass"

.jackpot-page
  min-height: 560px
  @include mobile
    padding-bottom: 20px
  .block-title
    font-size: 25px
    font-weight: 400
    text-align: left
    max-width: 800px
    color: $yellow
    text-transform: uppercase
    margin: 15px auto 16px
    @include tablet
      padding: 0 40px
    @include mobile
      font-size: 24px
      padding-left: 15px
  .block-content
    display: flex
    width: 800px
    margin: 0 auto 50px
    border: 2px solid $yellow
    border-radius: $border-radius
    @include tablet
      width: 740px
    @include mobile
      width: 90%
      margin-bottom: 25px
      justify-content: space-around
    .money.money--jackpot
      @include yellow-bg
      border-radius: $border-radius
      font-size: 48px
      font-weight: 600
      color: $color-white
      line-height: 106px
      text-align: center
      width: 493px
      justify-content: center
      @include mobile
        line-height: 50px
        font-size: 30px
        max-width: 194px
    .money-currency
      width: 152px
      line-height: 106px
      text-align: center
      color: $yellow
      font-size: 36px
      font-weight: 600
      @include mobile
        line-height: 50px
        font-size: 30px
  &.error
    padding-top: 40px
    .block-title
      text-transform: none
    .block-content .money.money--jackpot
      font-size: 64px
      @include mobile
        font-size: 30px
    .text-page
      .page-content p
        margin: 0
        font-size: 18px
        font-weight: 300

  .games-list
    width: 800px
    justify-content: center
    @include tablet
      width: 740px
    @include mobile
      width: 100%
    .game-item
      flex: 1 0 30%
      max-width: 30%
      @include mobile
        flex: 1 0 50%
        max-width: 50%

.jackpot-page .block-content .money-currency
  @include mobile
    font-size: 20px

.jackpot-page .block-content .money--jackpot
  @include mobile
    font-size: 20px

.jackpot-page .page-content.rules
  @include mobile
    margin-bottom: 0

.jackpot-page-winners-list
  width: 800px
  margin: 0 auto 50px

  @include tablet
    width: 740px

  @include mobile
    width: 90%
    margin-bottom: 25px

.jackpot-page-winners-title
  font-size: 24px
  text-align: center
  font-weight: normal
  color: $yellow
  text-transform: uppercase

  @include mobile
    font-size: 18px
    margin-top: 0

.jackpot-page-winners-item
  @include clear-fix
  height: 150px
  position: relative
  border-radius: 8px
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27), inset 0 1px 0 0 rgba(255, 255, 255, 0.16)
  background-color: $dark-blue-grey
  margin: 0 10% 16px 10%

  @include mobile
    height: 80px
    margin: 0 auto 8px auto
    max-width: 392px

.jackpot-page-winners-image
  position: relative
  width: 240px
  float: left
  top: 0
  margin: 0
  padding: 0
  max-height: 100%
  overflow: hidden

  @include mobile
    width: 128px

.jackpot-page-winners-image-img
  width: 100%
  height: 100%
  border-top-left-radius: 8px
  border-bottom-left-radius: 8px
  border-top: 1px solid rgba(255, 255, 255, 0.31)

.jackpot-page-winners-item .game-item__img-container
  border: 1px solid $yellow

.jackpot-page-winners-meta
  width: calc(100% - 240px)
  float: right
  padding: 0 12px 0 20px

  @include mobile
    width: calc(100% - 128px)
    padding-left: 9px

.jackpot-page-winners-amount
  @include text-ellipsis
  width: 100%
  text-shadow: $ui-text-shadow
  font-size: 28px
  font-weight: bold
  color: $yellow
  height: 49px
  line-height: 49px
  margin-top: 8px

  @include mobile
    font-size: 12px
    margin-top: 4px
    height: 17px
    line-height: 17px

.jackpot-page-winners-user
  @include text-ellipsis
  width: 100%
  text-shadow: $ui-text-shadow
  font-size: 14px
  font-weight: 600
  color: $color-white
  margin-bottom: 4px

  @include mobile
    font-size: 10px
    margin-bottom: 2px

.jackpot-page-winners-date
  @include text-ellipsis
  width: 100%
  text-shadow: $ui-text-shadow
  font-size: 14px
  font-weight: 600
  color: $color-text
  margin-top: 4px

  @include mobile
    font-size: 10px
    margin-top: 0

.jackpot-page-type-item
  display: inline-block
  max-width: 100%
  padding: 8px 36px 8px 12px
  border-radius: 6px
  box-sizing: border-box
  line-height: 1.2
  position: absolute
  bottom: 8px
  right: 12px
  background: $dark-black

  @include mobile
    padding: 4px 18px 4px 6px
    bottom: 4px
    right: 6px

.jackpot-page-type-item-orange
  border: solid 1px $yellow
  color: $yellow

  .jackpot-page-type-item-icon
    box-shadow: $modal-form-shadow
    background-image: $gr-vertical

.jackpot-page-type-item-name
  @include text-ellipsis
  font-size: 14px
  line-height: 1
  font-weight: bold
  text-transform: uppercase

  @include mobile
    font-size: 10px

.jackpot-page-type-item-icon
  position: absolute
  top: 50%
  transform: translate(0, -50%)
  right: 12px
  width: 16px
  height: 16px
  border-radius: 100px

  @include mobile
    width: 8px
    height: 8px
    right: 6px
