@import "../swatches"
@import "../mixin"

//
// Jackpot winner - modal
// ------------------------------
$modal-jackpot-fade-background: transparentize(#191748, 0.1)
$color-gold: #e6d600

.modal-jackpot__backdrop
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  transition: all 0.25s ease-in-out
  background: transparent

.modal-jackpot
  z-index: 99
  position: fixed
  left: 0
  top: 0
  width: auto
  height: auto
  display: none
  & + .modal-backdrop
    display: none
  &.in
    display: block
  &.show
    .modal-jackpot__backdrop
      background-color: $modal-jackpot-fade-background
    .jackpot-winner--bg
      backface-visibility: hidden /* add to fix webkit bug jitter */
      animation: animateJackpotStars 60s linear infinite
      animation-delay: 1.25s
    .jackpot-winner
      opacity: 1
      transform: translate(-50%, -50%) scale(1)
    .jackpot-winner__img-bg
      animation: animateJackpotWinnerBgBeams 60s linear infinite
      backface-visibility: hidden /* add to fix webkit bug jitter */
    .jackpot-winner__info_title
      transform: translateX(-50%) scale(1)
      transition-delay: 0.25s
      opacity: 1
    .jackpot-winner__info_caption
      transform: translate(-50%, -50%) scale(1)
      transition-delay: 0.5s
      opacity: 1
    .jackpot-winner__info_amount
      transform: translate(-50%, 0) scale(1)
      transition-delay: 0.75s
      opacity: 1
    .jackpot-winner__btn-container
      transform-origin: top
      animation: animateJackpotBtnContainer 1s
      animation-delay: 1s
      backface-visibility: hidden /* add to fix webkit bug jitter */
      animation-fill-mode: backwards

.modal-jackpot__content
  position: relative

.jackpot-winner-container
  width: 650px
  height: 650px
  margin: 0 auto
  @include tablet
    width: 950px
    height: 950px

.jackpot-winner--bg
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  opacity: 0
  transform: scale(0)
  transition: all 0.25s
  background: no-repeat url(/images/jackpots/stars.svg) center center
  background-size: 100% 100%

.jackpot-winner
  position: absolute
  top: 50%
  left: 50%
  width: 540px
  height: 520px
  opacity: 0
  transition: all 0.25s ease-in-out
  transform: translate(-50%, -50%) scale(0)

.jackpot-winner__img
  width: 100%
  height: 100%
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  background: no-repeat url(/images/jackpots/star.svg) center center
  background-size: 100% 100%

.jackpot-winner__img-bg
  margin: 0 auto
  transform: scale(0) translate(-50%, -50%)
  position: absolute
  left: 50%
  top: 50%
  background: no-repeat url(/images/jackpots/star-beams.png) center center
  background-size: 100%
  width: 650px
  height: 650px
  @include tablet
    width: 950px
    height: 950px

.jackpot-winner__info_text
  font-weight: bold
  margin: 0
  text-transform: uppercase
  text-align: center
  color: $color-white
  text-shadow: 0 12px 13px rgba(0, 0, 0, 0.50)

.jackpot-winner__info_title
  position: absolute
  top: 65px
  left: 50%
  transform: translateX(-50%) scale(0.75)
  opacity: 0
  color: $color-white
  line-height: 85px
  padding: 0 80px
  min-width: 500px
  height: 125px
  text-transform: uppercase
  background: no-repeat url(/images/jackpots/yellow-ribbon.png) center center
  background-size: 100% 100%
  font-size: 48px
  font-weight: 800
  text-align: center
  text-shadow: 0 4px 2px #c07d00
  transition: all 0.25s ease-in-out
  @include text-ellipsis

.jackpot-winner__info_caption
  color: $color-white
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%) scale(0.75)
  opacity: 0
  text-transform: uppercase
  font-size: 65px
  font-weight: 800
  text-shadow: 0 4px 1px #78000f
  transition: all 0.25s ease-in-out
  @include text-ellipsis

.jackpot-winner__info_amount
  position: absolute
  left: 50%
  bottom: 90px
  transform: translate(-50%, 0) scale(0.75)
  background: no-repeat url(/images/jackpots/amount-bg.png) center center
  background-size: 100% 100%
  text-align: center
  min-width: 525px
  line-height: 90px
  padding: 0 60px
  height: 100px
  font-size: 64px
  font-weight: bold
  text-shadow: 0 5px 1px rgba(89, 0, 0, 0.8)
  color: #fec30b
  opacity: 0
  transition: all 0.25s ease-in-out
  @include text-ellipsis

.jackpot-winner__btn-container
  background: no-repeat url(/images/jackpots/star-rect.png) center center
  background-size: 100% 100%
  position: absolute
  left: 50%
  height: 120px
  bottom: -35px
  transform: translateX(-50%)
  min-width: 225px

.jackpot-winner__btn.btn-vl
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  margin-top: -10px
  border: none
  background: transparent
  @include text-ellipsis
  &:focus,
  &:active
    outline: none
  span
    border: none
    line-height: 36px
    background: transparent
    padding: 0 20px
    margin: 0

@keyframes animateJackpotWinnerBgBeams
  0%
    transform: translate(-50%, -50%) rotate(0deg) scale(0)
    opacity: 0.5
  1%
    transform: translate(-50%, -50%) rotate(0deg) scale(1)
    opacity: 0.5
  50%
    transform: translate(-50%, -50%) rotate(360deg) scale(1)
    opacity: 1
  100%
    transform: translate(-50%, -50%) rotate(720deg) scale(1)
    opacity: 0.5

@keyframes animateJackpotBtnContainer
  from
    transform: perspective(700px) rotate3d(1, 0, 0, -50deg) translateX(-50%)
    animation-timing-function: ease-in
    opacity: 0

  40%
    transform: perspective(700px) rotate3d(1, 0, 0, 40deg) translateX(-50%)
    animation-timing-function: ease-in

  60%
    transform: perspective(700px) rotate3d(1, 0, 0, -20deg) translateX(-50%)
    opacity: 1

  80%
    transform: perspective(700px) rotate3d(1, 0, 0, 10deg) translateX(-50%)
    opacity: 1

  to
    transform: perspective(700px) translateX(-50%)
    opacity: 1

@keyframes animateJackpotStars
  0%
    transform: rotate(0deg) scale(0)
    opacity: 0
  1%
    transform: rotate(10deg) scale(1.25)
    opacity: 1
  2%
    transform: rotate(0deg) scale(1)
    opacity: 1
  50%
    transform: rotate(-25deg) scale(1)
    opacity: 1
  100%
    transform: rotate(0deg) scale(1)
    opacity: 1
// endregion
