@import "../mixin.sass"

div.live-casino-container
  min-height: 500px

.live-casino-unsuported-currency-disclaimer
  display: flex
  flex: 1
  flex-direction: column
  justify-content: center
  align-items: center
  min-height: 300px

.live-casino-unsuported-currency-disclaimer-title
  font-size: 28px
  margin: 15px 0
  color: $yellow
  text-align: center

  @include tablet
    margin: 30px 0
    font-size: 36px

.live-casino-unsuported-currency-disclaimer-text
  font-size: 14px
  margin: 10px 10px 34px 10px
  text-align: center
  @include tablet
    font-size: 16px

.btn-pr.live-casino-unsuported-currency-disclaimer-button
  font-size: 16px
  width: auto
  height: 60px
  line-height: 60px
  padding: 0 12px
  white-space: nowrap
  @include tablet
    font-size: 20px
    padding: 0 24px
