@import "../mixin.sass"

// balance
.v-lobby-page .balance-wrap .block-count
    display: none

.v-lobby-page .balance-wrap .currency-dropdown li
    display: none

// profile btn
.v-lobby-page .balance-wrap .currency-dropdown li:last-child
    display: block

.v-lobby-page .header-mobile-menu .currency-dropdown ul
    display: none

.site-lobby
  max-width: none !important

div.lobby-container
  min-height: 900px
  position: relative

div.lobby-container iframe
  min-width: 100%
  min-height: 950px
  display: block
  width: 1px
