
.low-balance-popup-container
  padding-top: 50px!important

.low-balance-popup-content
  color: #ffffff
  margin: 0 5px

.low-balance-popup-title
  text-align: center
  font-size: 20px
  font-weight: 600
  margin-bottom: 20px

.low-balance-popup-main
  text-align: center
  font-size: 16px
  margin-bottom: 20px

.low-balance-popup-image-container
  display: flex
  justify-content: center

.low-balance-popup-image
  max-width: 100%
  margin-bottom: 20px

.low-balance-popup-btn-container
  display: flex
  justify-content: center
  .btn
    padding: 0 30px
    width: auto
    span
      font-weight: 700
