@import "../swatches.sass"
@import "../mixin.sass"
@import "./select.sass"

.center
  text-align: center

.hidden
  display: none
#withdraw
  margin-bottom: 62px
  .btn-pr
    width: 218px
    font-size: 16px
    line-height: 40px
    height: 40px
    font-weight: 600
#login .form-line.sided
  flex-direction: row
  align-items: center
  .form-label
    margin-bottom: 0
#registration.modal-form .radio-group
  @include mobile
    flex-direction: row
    align-items: baseline

.modal-form
  .center
    text-align: center
  h3
    color: white
    margin-bottom: 20px
  a
    color: white
    text-decoration: underline
  .promo-currency
    padding: 0 5px 0 0
    font-weight: 500
    color: white
    font-size: 13px

  .form-line
    // @include mobile
    //   padding: 0 15px
    + .form-line
      margin-top: 20px
    .form-label
      color: $light-one
      font-family: $font-lost
      font-size: 17px
      display: block
      margin-bottom: 5px
      font-weight: 400
      text-align: left
      &.with-link
        display: flex
        align-items: center
        justify-content: space-between
        a
          color: rgba($color-white,.8)
          font-family: $font-first
          font-size: 12px
          &.forgot-password
            text-decoration: underline
            font-weight: 500
            // opacity: .5
            color: $accent-three

      &.withdraw
        text-align: center
        margin-top: 53px
        margin-bottom: 10px
    .form-label-required
      &:before
        content: "*"
        padding-right: 4px
        color: $red

    .error
      color: $orange
      margin-left: 7px
      text-align: left
    select
      font-size: 14px
      font-family: $font-second
      padding-top: 0
      padding-bottom: 0
      line-height: 2.7
    .form-field
      [type="number"]::-ms-clear
        display: none
      [type="text"], [type="email"], [type="password"], [type="number"], [type="tel"]
        width: 100%
        height: 52px
        border-radius: 12px
        border: 1px solid $dark-six
        padding: 0 16px
        background-color: $dark-black
        color: $dark-six
        font-family: $font-lost
        font-size: 17px
        box-sizing: border-box
        &::placeholder
          color: $dark-six
        &:focus
          border-color: rgba($color-white,.9)
      .field-helper
        opacity: 0.8
        color: $color-white
        font-family: $font-first
        font-size: 12px
        margin-top: 5px
      &.custom-select
        width: 100%
      &.custom-select-full
        width: 100%
      &--amount
        position: relative
    .phone
      width: 100%
      display: flex
      // height: 40px
      border-radius: 10px
      // border: 1px solid rgba($color-white, 0.2)
      padding: 0 0
      background-color: transparent
      color: $yellow
      font-family: $font-lost
      font-size: 14px
      position: relative
      overflow: hidden
      border: none

      .custom-select
        // width: 108px
        width: 130px
        // height: 40px
        height: 52px
        border-radius: 12px
        // position: absolute
        display: inline-block
        border: 1px solid $dark-six
        select:focus
          box-shadow: none
          // border-color: transparent

      .phone-input
        // border: none
        // height: 40px
        // width: calc(100% - 108px)
        background-color: $dark-black
        font-size: 16px
        color: $dark-six
        // position: absolute
        left: 108px
        padding: 0 15px
        font-family: $font-lost
        border-radius: 0
        height: 52px
        border-radius: 12px
        border: 1px solid
        margin-left: 3px
        width: 197px
        display: inline-block
        @include tablet-max
          margin-left: 0
        &:focus
          outline: none
      &:focus-within, &:active
        // border: 1px solid rgba($color-white,.9)
        outline: none

    .success-msg
      text-align: center
      margin-top: 5px
    &.sided
      display: flex
      justify-content: space-between
      flex-direction: column
      .form-label
        opacity: .5
        font-size: 13px
        @include mobile
          max-width: 50px
        &.choose-type
          opacity: 1
          color: $light-one
          font-weight: 500
          font-size: 12px
          font-family: $font-lost
          max-width: inherit
          flex: 1 1 auto
          margin-bottom: 10px
      &.wrap
        flex-direction: row
      .sided-wrap
        display: flex
        align-items: center
        flex: 1 1 50%
        justify-content: space-between
        &:first-child
          border-right: 1px solid rgba($color-white, .5)
          padding-right: 24px
          margin-right: 21px
        .form-label
          opacity: 1
        &:last-child
          flex-direction: column
          align-items: flex-start
  &.confirm
    text-align: center
  .form-line--horizontal
    display: flex
    flex-direction: row
    align-items: center
    .form-label
      margin-bottom: 0
      margin-right: 23px

  .radio-group
    display: flex
    flex: 1 1 auto
    flex-direction: column
    align-items: flex-start
    @include tablet
      flex-direction: row
      align-items: center
    .radio-item + .radio-item
      margin-top: 7px
      @include tablet
        margin-left: 20px
        margin-top: 0
  .radio-item
    label
      position: relative
      color: $color-white
      font-family: $font-lost
      text-transform: uppercase
      display: block
      cursor: pointer
      font-size: 17px
      padding-left: 37px
      height: 30px
      line-height: 30px
      white-space: nowrap
      @include tablet
        height: 20px
        line-height: 20px
        padding-left: 30px
      &:before
        content: ''
        position: absolute
        border-radius: 50%
        border: 2px solid rgba($color-white, 0.2)
        top: 0
        left: 0
        box-sizing: border-box
        width: 30px
        height: 30px
        @include tablet
          width: 20px
          height: 20px
      &:after
        content: ''
        position: absolute
        border-radius: 50%
        background-color: $accent-three
        opacity: 0
        transition: opacity .2s linear
        box-sizing: border-box
        width: 12px
        height: 12px
        top: 4px
        left: 4px
        @include tablet
          width: 12px
          height: 12px
          top: 4px
          left: 4px
    input
      position: absolute
      left: -9999em
      &:checked
        + label
          &:before
            border-color: $accent-three
          &:after
            opacity: 1
  span
    font-size: 16px
    margin: 0 15px 0 13px
  .rules-line
    margin-top: 30px
    padding: 0 15px
    @include tablet
      padding: 0
    .checkbox-item,
    + .checkbox-item
      margin-top: 10px
  .checkbox-item
    label
      position: relative
      box-sizing: border-box
      color: rgba($color-white,.5)
      font-family: $font-first
      font-size: 12px
      display: block
      @include mobile
        padding-left: 37px
        display: flex
        align-items: center
      @include tablet
        padding-left: 27px
        line-height: 20px
        font-size: 13px
      &:before
        content: ''
        position: absolute
        left: 0
        top: 0
        border-radius: 3px
        border: 1px solid rgba($color-white, 0.2)
        box-sizing: border-box
        @include mobile
          width: 30px
          height: 30px
        @include tablet
          width: 20px
          height: 20px
      &:after
        content: ''
        background-image: url(/images/icons/icon-check.svg)
        background-position: center center
        background-repeat: no-repeat
        box-sizing: border-box
        position: absolute
        top: 0
        left: 0
        opacity: 0
        transition: opacity .2s linear
        @include mobile
          width: 30px
          height: 30px
          background-size: 21px 18px
        @include tablet
          width: 20px
          height: 20px
          background-size: 10px 9px
    input
      position: absolute
      left: -9999em
      &:checked
        + label
          &:before
            background-color: $accent-three
            border-color: transparent
          &:after
            opacity: 1
  .submit-line
    margin-top: 20px
    text-align: center
    padding: 0 15px
    .btn-pr
      width: 100%
      text-transform: none
      font-weight: 400
      font-size: 17px
      height: 44px
    @include tablet
      padding: 0
    &.submit-line--inline
      display: flex
      justify-content: space-between
      .btn-pr
        &.btn--secondary
          border: 1px solid $orange
          background: none
          &:hover
            background-image: $gr-yellow
  .soc-auth
    margin-top: 30px
    text-align: center
    .auth-title
      color: $color-white
      font-family: $font-bold
      font-size: 13px
    .auth-list
      margin-top: 15px
      overflow: hidden
      display: flex
      ul
        @include panel-list
        display: flex
        align-items: center
        justify-content: center
        flex-wrap: wrap
        flex: 1
        margin: 1px auto
        background-color: $color-blue
        max-width: 290px
        li
          &:hover
            a
              @include tablet
                opacity: 1
          a
            opacity: .5
            transition: opacity .2s linear
            font-size: 48px
            line-height: 1.2
            padding-left: 0
    .auth-info
      color: rgba($color-white,.5)
      font-family: $font-first
      font-size: 12px
      line-height: 16px
      margin-top: 10px
      a
        display: block
        text-decoration: underline
        color: rgba($color-white,.5)
  .sent-msg
    text-align: center
    padding-bottom: 22px
    font-size: 13px
  &.confirm
    .resend-msg
      text-align: center
      margin: 30px 0 18px
      a
        padding-left: 0
        text-decoration: underline
      span.resend-msg__timer
        font-size: 13px

  .form-field-info
    color: $color-white
    font-family: $font-bold
    font-size: 13px
    line-height: 13px
    display: block
    font-weight: 600
    position: absolute
    bottom: -20px
    @include mobile
      position: static
      width: 100%
      margin-top: 6px

.form-field--phone
  display: flex
  flex-direction: row
  .phone-country-picker
    height: 40px
    width: auto
  .tel-input:not(.tel-input--without-code)
    border-top-left-radius: 0 !important
    border-bottom-left-radius: 0 !important

.modal-form .form-line
  .phone-confirmation-button,
  .phone-confirmation-input
    width: calc(50% - 8px)
    max-width: calc(50% - 8px)
  .phone-confirmation-input
    margin-right: 8px
  .phone-confirmation-button
    margin-top: 0
    margin-left: 8px

.form-success,
.form-error
  text-align: left
  color: $yellow
  margin-bottom: 18px
  padding-left: 4px
  @include tablet-max
    text-align: center
    padding-left: 0

.form-error.red-and-uppercase
  color: #ff3636
  text-transform: uppercase

.form-success
  color: $yellow

.form-warning
  opacity: 0.5
  line-height: 14px

.form-disclaimer
  margin: 8px 0
  padding: 0 32px
  color: $light-one
  // opacity: 0.5

.form-disclaimer-left
  text-align: left

.modal-form .form-label a
  text-decoration: underline
  color: $accent-three

.modal-form .submit-line .error
  margin-top: 5px

// region ---- register rule block in register modal
.modal-form .register-rule-form-line
  text-align: center

.modal-form .register-rule-form-line .register-rule-form-field
  display: inline-block
  vertical-align: middle
  text-align: left

.modal-form .register-rule-form-line .form-field .checkbox-item
  margin-left: 0
  margin-top: 10px

.modal-form .register-rule-form-line .form-field .checkbox-item label
  line-height: 16px
  font-size: 12px
  padding-left: 20px
  color: $color-text
  font-weight: 500

.modal-form .register-rule-form-line .form-field .checkbox-item label:before
  width: 14px
  height: 14px

.modal-form .register-rule-form-line .form-field .checkbox-item label:after
  background-size: 7px
  width: 14px
  height: 14px

.modal-form .register-rule-form-line .form-field .checkbox-item:first-child
  margin-top: 0

.register-rule-form-line-text
  display: inline-block
  vertical-align: middle
  padding-left: 10px
  margin-left: 10px
  line-height: 1
  border-left: 1px solid rgba($color-white, 0.2)
  max-width: 102px

.register-rule-form-line-text .accept
  margin: 0
  font-size: 10px

.register-rule-form-line-text a
  text-decoration: underline

.form-error
  a.support-link
    text-decoration: underline!important
    cursor: pointer
    font-size: 16px
// ---- endregion
