@import "../swatches.sass"
@import "../mixin.sass"
@import "modals/wrong-promo-code.sass"

.modal
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1050
  display: none
  &.in
    display: block
  @include mobile
    overflow-y: auto
  .error
    color: $orange
    margin-bottom: 5px
    text-align: center
  .modal-dialog
    height: calc(100% - 0px)
    max-height: calc(100% - 0px)
    overflow: auto
    display: flex
    justify-content: center
    align-items: flex-start
    .modal-image-container_sign
      padding-top: 41px
      margin-top: 103px
      @include tablet-max
        display: none
      &:has(.sign-up-logo_background-container)
        padding: 0
        margin-top: 36px
      .registration-bonuses-title
        font-size: 31px
        margin-bottom: 33px
        text-align: right
        padding-right: 20px

      .sign-up-logo_background-container
        width: 830px
        position: relative
        .sunshine-background, .thunder-background, .monkey-background
          position: absolute
          top: 0
          left: 0
          width: 1095px
          height: 730px
          background-image: url('/images/sunshine.svg')
          background-position: center
        .thunder-background
          background-image: url('/images/thunder.svg')
          background-repeat: no-repeat
        .monkey-background
          background-image: url('/images/monkey.svg')
          background-repeat: no-repeat

      .pol-register-bonuses
        max-width: 588px
        position: relative
        z-index: -1
        .pol-element-container
          position: relative
          margin-bottom: 50px
          &:nth-child(1)
            left: 16px
          &:nth-child(3)
            left: 36px
          .pol-bonuses-item-image
            // width: 163px
            position: absolute
            z-index: 3
            filter: drop-shadow(15px 12px 0px rgba(0, 0, 0, 0.33))
            &.first-refill
              top: -1px
              left: 97px
            &.following-refill
              top: -30px
              left: 50px
            &.weekly-cashback
              top: 25px
              left: -20px
            img
          .pol-one
            clip-path: polygon(6% 0%, 0% 100%, 100% 100%, 100% 36%)
            /* dark4 */
            background: $dark-four
            padding-top: 44px
            padding-right: 60px
          .pol-two
            clip-path: polygon(0 0, 3% 100%, 100% 85%, 100% 13%)
            /* dark7 */
            background: $dark-seven
            padding-right: 40px
          .pol-three
            clip-path: polygon(0 0, 12% 100%, 100% 80%, 100% 8%)
            /* dark5 */
            background: $dark-five
            padding-bottom: 16px
            padding-right: 80px
          .pol
            height: 158px
            width: 603px
          .pol-object
            position: relative
            z-index: 2
            text-align: right
            display: flex
            justify-content: flex-end
            align-items: center
            .registration-bonuses-item-title
              font-size: 19px
              font-weight: 500
              text-align: right
              color: $light-three
              // position: absolute
              // top: 50%
              // left: 50%
              // transform: translate(50%,50%)

          .pol-shadow
            position: absolute
            top: 12px
            left: 15px
            background: rgba(0, 0, 0, 0.33) !important
      & + .modal-content
        margin: 102px 0
        display: table
    .modal-content
      background-color: $dark-three
      box-shadow: 0 0 7px 0 rgba($color-black, 0.41)
      position: relative
      border-radius: 8px
      width: 500px
      @include mobile
        margin: 50px auto 0
        padding: 0 0 30px
        min-height: 100px
        width: 100%
      @include tablet
        padding: 0 0 36px
        margin: 20px auto
        border-radius: 8px
      @include tablet-max
        margin: 50px auto 0
      .modal-close
        position: absolute
        opacity: .5
        @include mobile
          top: 0px
          right: 20px
        @include tablet
          top: -19px
          left: 90%
          margin-left: 35px
        @include tablet-max
          top: 20px
          right: 20px
          margin-left: 0
          left: initial
        &:hover
          opacity: 1
        .icon
          width: 14px
          height: 14px
        .submit-line
          text-align: center
      .modal-logo
        display: flex
        justify-content: center
        padding-top: 32px
        img
          width: 94px
      form
        padding: 34px 15px 0
      .modal-title
        color: $color-white
        font-family: $font-bold
        font-size: 20px
        text-transform: uppercase
        text-align: center
        padding: 17px 0 16px
        font-weight: 500
        background-image: $gr-vertical
        box-shadow: $modal-form-shadow
        border-radius: $border-radius $border-radius 0 0
        text-shadow: 0 2px 2px $orange
      .modal-tabs-content
        @include mobile
          padding-top: 32px
          padding-bottom: 30px
        @include tablet
          padding-top: 30px
        .img-block
          max-height: 110px
          @include mobile
          @include tablet
            margin-top: 161px
      .modal-tabs-navi
        overflow: hidden
        // background-color: $dark-black
        .icon-msg
          width: 35px
          height: 23px
        @include mobile
          height: 50px
          border-radius: 8px 8px 0 0
        @include tablet
          border-radius: 8px 8px 0 0
          height: 70px
          margin-left: 0
          margin-right: 0
        ul
          @include panel-list
          display: flex
          height: 100%
          li
            height: 100%
            flex: 1
            padding: 3px 19px
            + li
              margin-left: 1px
            &.active
              a
                // background-color: $color-blue
                border-bottom: 3px solid $accent-one
                // box-shadow: 0 3px 0 $accent-one
                color: $accent-three
                z-index: 99
                .label-msg
                  border-color: $color-blue
                .icon
                  opacity: 1
            &:hover
              &:not(.active)
                margin-bottom: 1px
                a
                  @include tablet
                    // background-color: $color-blue
                    color: $color-white
                  .label-msg
                    border-color: $color-blue
                  .icon
                    @include tablet
                      opacity: 1
            a
              height: 100%
              background-color: $dark-three
              display: flex
              align-items: center
              justify-content: center
              color: $light-one
              font-family: $font-lost
              font-size: 17px
              // text-transform: uppercase
              &.user-msg
                margin-left: 1px
              .icon
                opacity: .3
                @include mobile
                @include tablet
                  margin-right: 10px
              .tab-name
                @include mobile
                  display: none
                @include tablet
                  font-size: 14px
                  font-weight: 300
              .label-msg
                left: 45px
                top: 13px
                border-radius: 50%
                min-width: 20px
                text-align: center
                line-height: 17px
                @include mobile
                  left: 55%
                  top: 3px
  .modal-light-content
    position: relative
    display: flex
    justify-content: center
    margin: auto
    .modal-close
      position: absolute
      opacity: .5
      top: 8px
      right: 16px
      z-index: 100
      &:hover
        opacity: 1
      .icon
        width: 34px
        height: 34px
      .submit-line
        text-align: center

  .actions-line
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0 auto

.resend-msg
  text-align: center
  margin-top: 30px
  margin-bottom: 18px
  a
    padding-left: 0
.modal-backdrop
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1040
  background-color: $dark-black
  display: none
  &.in
    display: block
  &--new
    background: rgba(11, 13, 30, 0.7)

#bonus
  .modal-content
    min-width: 500px
    min-height: 371px
    @include mobile
      min-width: 100%
  .modal-title
    color: $color-white
    font-size: 20px
    font-family: $font-second
    font-weight: 500
    padding: 15px 0 14px
    background-image: $gr-vertical
    box-shadow: $modal-form-shadow
  .modal-body
    padding: 0 24px
    text-align: center
    @include mobile
      padding: 0 5px
    p
      color: $color-white
      font-size: 18px
      margin: 0
      span
        color: $yellow
    .center-align
      margin: 34px 0 17px
    .wager
      margin-bottom: 39px
    .submit-line
      display: flex
      align-items: center
      justify-content: space-between
      margin: 0 auto
      .btn
        width: 152px
        height: 40px
        line-height: 40px
        padding: 0
        @include desktop
          width: 210px
        &:first-child
          @include desktop
            margin-right: 32px
        span
          height: 38px
          line-height: 38px
          width: 150px
          background: $color-blue
          padding: 0
          @include desktop
            width: 208px

#reset_pass,
#auth.sm
  .modal-dialog
    .modal-content
      max-width: 360px
      border-radius: 24px

    .modal-tabs-content
      padding: 0
    .margin-sign_up
      margin-top: 128px

.first-fill
  text-align: center
  font-size: 36px
  font-weight: 600
  color: $yellow
  margin-top: 30px
  + .wager
    display: inline-block
    text-align: center
    margin: 20px auto 0

#bonus .modal-title.jackpot-title
  font-size: 24px
  text-transform: uppercase
  color: $orange
  text-align: center
  margin-bottom: 33px
  background: transparent
  box-shadow: none
  text-shadow: none

.modal-body .money--jackpot
  width: 238px
  margin: 0 auto
  flex-direction: column
  align-items: stretch
  justify-content: center
  .money__amount
    padding-top: 20px
    padding-bottom: 20px
    font-size: 40px
    line-height: 1.2
    font-weight: 700
    text-shadow: 0 2px 2px $orange
    width: auto
    margin: 0
    height: 150px
  .money__currency
    padding-top: 15px
    padding-bottom: 14px
    font-size: 65px
    line-height: 1.35
    font-weight: 700
    border-radius: 0 0 8px 8px
    background-color: $dark-black
    border: solid 1px $yellow
    border-top: none
    text-shadow: 0 2px 2px rgba($color-black, 0.5)
    margin-top: -8px
    color: $orange

.btn-restoreForm-restore
  margin-right: 10px

.btn-restoreForm-back
  margin-left: 10px

.registration-restore-by-email
  .modal-content
    max-width: 380px
    min-height: 200px !important
  .modal-form
    padding: 0 20px

  .first-input
    margin-bottom: 10px

  .form-field,
  .form-label
    margin-top: 10px
  .sent-msg
    margin-top: 22px

.modal-error-content
  padding: 0 20px

.modal-content-container
  padding: 0 20px

.modal-text
  color: $color-white
  font-size: 18px
  line-height: 1.56

.modal-text  p > a
  text-decoration: underline

.modal-subtitle
  color: $color-white
  font-size: 18px
  line-height: 1.56
  text-transform: uppercase
  font-weight: normal
  margin-bottom: 0
  margin-top: 20px

.modal-close
  cursor: pointer

.modal-content-buttons
  text-align: center

.modal-content-games-title
  font-size: 17px
  text-align: center
  margin: 20px 0 10px 0

.modal-content-games
  display: flex

  .game-item
    flex: 1
    .game-item__title
      background-color: $dark-black

.modal-content-buttons .btn
  margin: 3px 8px

.modal-content-description
  padding: 20px 0

#wager_bonus
  .modal-dialog
    .modal-content
      margin: 60px auto
      width: 300px
      padding-bottom: 0px
      @include desktop
        &.modal-width-2
          width: 599px
        &.modal-width-3
          width: 899px
      .modal-close
        position: absolute
        top: -50px
        left: 190px
        margin: 0
        text-align: center
        color: #2C1E02
        background: #FEAE06
        border: none
        text-transform: uppercase
        font-weight: bold
        font-size: 16px
        border-radius: 8px
        padding: 9px 14px
        opacity: 1
        right: 0
        @include desktop
          &.modal-width-2
            left: 500px
          &.modal-width-3
            left: 800px
      .modal-title-dark
        color: $color-white
        font-family: $font-bold
        font-size: 16px
        text-transform: uppercase
        text-align: center
        padding: 17px 0 16px
        font-weight: bold
        background-color: #192340
        border-radius: $border-radius $border-radius 0 0
        .small-heading
          margin-top: 5px
          color: rgba(228, 234, 253, 0.7)
          font-size: 12px
      .modal-wager_bonus
        color: $color-white
        font-family: $font-bold
        font-size: 16px
        text-align: center
        font-weight: 500
        padding-bottom: 5px
        background-color: #192340
        border-bottom: 8px
        display: flex
        flex-direction: column
        flex-wrap: wrap
        @include desktop
          max-height: 550px
          overflow: hidden
        .wager-bonus_card-title
          text-align: left
          text-transform: uppercase
          padding: 0 5px 3px 5px
        .wager-bonus_card-free-spins-game-name
          color: rgba(228, 234, 253, 0.7)
          text-align: left
          padding-left: 5px
          font-size: 12px
          padding-bottom: 5px
        .wager-bonus_status
          border-top: 1px solid #222C4A
          padding: 5px 18px
          text-transform: uppercase
          color: rgba(228, 234, 253, 0.7)
          .wager_bonus_status_redeem-amount
            color: $color-white
            font-weight: bold
            font-size: 32px
        .wager-bonus_card
          border-top: 1px solid #222C4A
          padding: 5px 18px
          width: 300px
          @include desktop
            border-right: 1px solid #222C4A
        .wager-bonus_confirm-text
          margin: 0 10px 10px 10px

.wager-bonus_info-title
  float: left
  padding: 4px 8px
.wager-bonus_info-value
  float: right
  padding: 4px 10px
  border-radius: 6px
  &.redeem
    background: #9B171F
  &.amount
    background: #16AE53
.wager-bonus_info
  display: inline-block
  border-radius: 6px
  padding: 2px
  margin: 2px
  width: 124px
  font-size: 12px
  &.redeem
    background: #B5161F
  &.amount
    background: #1EC260

.wager-bonus_button
  font-size: 16px
  display: inline-block
  border-radius: 8px
  padding: 10px 0
  outline: none
  width: 124px
  margin: 0 2px
  text-align: center
  &:disabled
    opacity: 0.3
  &:hover:not([disabled])
    transform: scale(1.05)
  &.rules
    color: #FEAE06
    background: #192340
    border: 2px solid rgba(254, 174, 6, 0.1)
    text-transform: uppercase
    font-weight: bold
    padding: 8px 0
  &.apply
    color: #2C1E02
    background: #FEAE06
    border: none
    text-transform: uppercase
    font-weight: bold

.withdrawal-link-modal-container
  .withdrawal-link-modal-content
    padding: 20px
    display: flex
    flex-direction: column
    align-items: center
    .withdrawal-link-modal-link
      border: 1px solid rgba(255, 255, 255, 0.2)
      border-radius: 10px
      color: #feae00
      background: transparent
      padding: 10px
      width: 100%
      margin-top: 20px

@import "./modals/apk-android-bonus"

.ios-safari-add-to-homescreen
  position: fixed
  padding: 8px 16px
  bottom: 16px
  width: 100%
  background-color: $color-white
  border-radius: 16px
  z-index: 99999999999
  &:after
    content: ""
    position: absolute
    left: 50%
    margin-top: -1px
    margin-left: -20px
    width: 0
    height: 0
    border-left: 20px solid transparent
    border-right: 20px solid transparent
    border-top: 20px solid $color-white

.ios-safari-add-to-homescreen__close
  position: absolute
  margin-top: -34px
  right: 3px

.ios-safari-add-to-homescreen__row
  display: flex
  flex-direction: row
  align-items: center

.ios-safari-add-to-homescreen__plus
  display: flex
  width: 30px
  height: 30px
  justify-content: center
  align-items: center
  background-color: $grey
  border-radius: 4px

.ios-safari-add-to-homescreen__text
  display: inline
  flex: 1
  font-size: 16px
  padding: 0 10px
  color: $color-extra-dark-black

.ios-safari-share
  display: inline-block
  margin: 0 5px
  width: 13px
  height: 18px
  background-image: url(/images/modal/ios-safari-share.png)
  background-size: cover

.non-taken-spins
  form
    padding-top: 10px!important
    .description
      color: $orange
    .list-title
      margin-bottom: 7px
      font-weight: 400
      text-align: center
    .non-taken-spins-games-list
      display: flex
      flex-wrap: wrap
      justify-content: center
      .game-item
        @include desktop
          flex: 0 0 25%
        &:hover
          transform: none!important
          .game-item__title
            background-color: #2e5581
            background-image: none
          .game-item__name
            display: block!important
        .game-item__title
          background-color: #2e5581
