@import "../mixin"

.recommended-games
  width: 100%
  margin-top: 24px

.recommended-games-title
  display: block
  text-align: center
  font-weight: normal
  color: #feae00

.recommended-games-loader
  margin: 48px 0
  text-align: center

.recommended-games-empty-disclaimer
  margin: 48px 0
  text-align: center

.recommended-games-list
  margin: 0
