.refill-redeem-btn
  font-size: 14px!important

.refill-redeem-modal-dialog
  overflow: hidden!important

.refill-redeem-modal-container
  transform: translate(0px, -150px) scale(0.7)
  padding: 0!important
  @media (min-width: 500px)
    transform: translate(0px, -100px) scale(0.7)

.refill_redeem_modal
  background-color: #193f6a
  padding: 40px 5px 25px 5px!important
  box-shadow: 0px 4px 12px rgba(50, 125, 237, 0.25)!important
  .card_popup__slide:focus
    outline: none
  .slick-slide
    height: 100%!important

.refill-redeem-slide
  min-height: 360px
  display: flex
  flex-direction: column
  justify-content: center
  .refill-redeem-description
    font-size: 24px
    padding-top: 10px
    text-align: center
    color: white
  .refill-redeem-login
    font-size: 120px
    word-break: break-all
    background: white
    color: black
    border-radius: 5px
    padding: 0 60px
    margin: 10px 20px
    text-align: center
    @media (max-width: 342px)
      font-size: 90px
    @media (min-width: 342px) and (max-width: 368px)
      font-size: 120px
    @media (min-width: 368px) and (max-width: 400px)
      font-size: 140px
    @media (min-width: 400px) and (max-width: 426px)
      font-size: 150px
    @media (min-width: 427px) and (max-width: 500px)
      font-size: 180px
    @media (min-width: 500px)
      padding: 0
      font-size: 120px

    &.small
      font-size: 100px
  .refill-redeem-info
    color: #ec1b1b
    font-size: 20px
    text-align: center
    margin: 0px 20px
    font-weight: 700
    background: white
    border-radius: 8px
    padding: 3px

.refill-redeem-logout-slide
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  .profile-info__btn
    font-size: 30px
  .refill-redeem-logout-confirmation
    .refill-redeem-logout-confirmation-text
      font-size: 24px
      margin-bottom: 10px
    .buttons
      display: flex
      justify-content: center
      .profile-info__btn
        font-size: 14px
        margin-right: 5px
