@import "../swatches.sass"
@import "../mixin.sass"

.promo
  background-color: $color-blue
.promo__container
  margin-bottom: 90px
  padding: 0 16px
  @include desktop
    @include container
.promo__title, .promo__heading
  color: $yellow
.promo__title
  text-align: center
  font-size: 28px
.promo__text, .promo__list
  color: $color-white
.promo__list
  margin: 1em 0 1em 2em
  padding: 0
.promo__list--unordered > li
  list-style-type: disc
.promo__list--ordered > li
  list-style-type: decimal


.games-promo__container
  margin-bottom: 30px
  padding: 0 16px
  @include desktop
    @include container
