@import "../swatches.sass"
@import "../mixin.sass"

.text-page
  max-width: 800px
  margin-left: auto
  margin-right: auto
  padding-left: 15px
  padding-right: 15px
  margin-top: 20px
  @include tablet
    padding: 0 40px
  .promo-title
    display: flex
    align-items: center
    padding-left: 16px
    background: $dark-five
    font-weight: 500
    font-size: 19px
    border-radius: 16px 16px 0 0
    height: 68px
    color: #fff
    // + .form-label
    //   padding-left: 16px
    //   font-weight: 400
    //   font-size: 17px
    //   margin-top: 24px

  .page-title
    color: $color-white
    font-size: 16px
    font-family: $font-black
    font-weight: 700
    text-transform: uppercase
    @include mobile
      margin-bottom: 15px
    @include tablet
      margin-bottom: 20px
    h2
      @include inherited
  .page-content
    line-height: 24px
    color: $light-two
    // text-align: justify
    p
    + p
      margin-top: 20px
      span.marker
        color: $yellow
    a
      color: $accent-three
      text-decoration: none
    img
      border-radius: 10px
      margin: 30px 0
    h2
      color: $color-white
      font-family: $font-black
      font-weight: 700
      font-size: 14px
      text-transform: uppercase
      // @include mobile
      //   margin: 30px 0 15px
      @include tablet-max
        margin: 0 !important
    &.rules
      margin-bottom: 50px
      font-family: $font-lost
      h1, h2
        margin: 36px 0
        color: $yellow
        text-align: left
        font-size: 25px
        font-family: $font-second
        font-weight: 400
      h1
        font-size: 32px
        line-height: 1.2
      h3, h4, h5, h6
        font-weight: 500
        font-size: 19px
        color: $light-three
        text-align: left
        margin-top: 36px

      b, strong
        color: $yellow
      p
        margin: 20px 0
        // font-family: $font-second
        line-height: 1.7
        text-align: left
        @include mobile
          text-align: left
          font-size: 12px
      ol
        li
          list-style-type: decimal
      ul
        li
          list-style-type: inherit !important
      ul, ol
        padding-left: 40px
      strong
        color: $color-white
.sport-terms-and-conditions-page .rules
  ol
    padding-left: 14px
    li
      list-style-type: decimal
  ul
    li
      list-style-type: initial
.stared-list
  @include panel-list
  margin: 30px 0
  li
    position: relative
    padding-left: 30px
    &:before
      content: ''
      position: absolute
      left: 0
      background-image: url(/images/icons/star-list.svg)
      background-repeat: no-repeat
      width: 11px
      height: 10px
      opacity: .3
      @include mobile
        top: 3px
      @include tablet
        top: 50%
        margin-top: -5px
    + li
      @include mobile
        margin-top: 15px
      @include tablet
        margin-top: 10px
.text-page.pay
  margin-bottom: 50px
  margin-top: 0
  margin-left: 0
  margin-right: 0
  max-width: 2052px
  .page-content
    display: flex
    align-content: flex-start
    @include tablet-max
      flex-direction: column
      justify-content: flex-start
      align-items: center
    .payment-promo-container
      min-width: 256px
      margin-left: 36px
      @include tablet-max
        margin: 24px 16px 0
        width: 100%
      .modal-form
        margin-bottom: 36px
        min-width: 256px
    .refill-guest-page-content
      min-height: 360px
      background: $dark-three
      border-radius: 16px
      .center-align
        font-size: 17px
        padding: 20px
  .modal-form:nth-child(1)
    @include desktop
      min-width: 1052px

  .payment-methods
    border-bottom: none
    .site-wrapper
      background: $dark-blue
      border-radius: $border-radius
      img
        margin: 6px 0
        border-radius: 0
  h2
    display: flex
    align-items: center
    font-family: $font-lost
    font-size: 19px
    font-weight: 500
    color: #fff
    text-align: left
    text-transform: none
    // margin-top: 52px
    margin: 0
    background: $dark-five
    height: 68px
    padding-left: 32px
    border-radius: 16px 16px 0 0
  h5
    color: $yellow
    font-size: 14px
    font-weight: 500
    text-align: left
    padding: 0 52px 0 16px
    margin-top: 14px
    margin-bottom: 18px
    @include tablet-max
      padding: 0 56px 0 24px
    + .text-center
      color: $light-two
      font-size: 12px
      font-weight: 400
      text-align: left
      padding: 0 56px 24px 16px
      @include tablet-max
        padding: 0 56px 24px 24px
  .payments-results
    border-radius: $border-radius
    padding-bottom: 24px
    li
      justify-content: space-between
      min-height: 48px
      padding: 0 30px 0 16px
      font-size: 12px
      @include tablet-max
        padding-top: 8px
        padding-bottom: 6px
        padding-right: 5px
        padding-left: 24px
        .action-col
          margin: -8px -5px -6px 0
      .left-side
        align-items: center
        .date-pay
          width: 90px
          text-align: left
          line-height: 1.1
          @include mobile
            width: 56px
            flex-shrink: 0
        .amount-pay
          font-weight: 700
          width: auto
          text-align: left
          line-height: 1.1
          @include mobile
            padding-left: 4px
            padding-right: 4px
            font-size: 13px
        .card-number
          max-width: 329px
          padding-left: 14px
          line-height: 1.2
          @include mobile
            font-size: 11px
            padding-left: 4px
            padding-right: 4px
            opacity: .5
          .pin-sale-number
            font-weight: bold
            color: #de0707
            font-size: 16px
        .column
          @include mobile
            flex-direction: column
      .status
        font-size: 13px
        line-height: 13px
        @include mobile
          font-size: 10px
          line-height: 10px
          white-space: nowrap
      .right-side
        display: flex
        align-items: flex-end
        justify-content: center
        flex-direction: column
      .action-col
        padding: 0 0 0 6px
        margin: 0 -31px 0 0

    .btn-cancel-withdrawal
      height: 100%
      min-height: 48px
      border-radius: 0
      border-top-right-radius: 8px
      border-bottom-right-radius: 8px

.text-page.withdraw
  form
    // margin-bottom: 40px
    padding-bottom: 24px
    .form-label.withdraw
      font-size: 13px
      text-align: left
    .withdraw-list
      li
        width: 60px
        height: 60px
        &:after
          width: 70px
          height: 70px
      a
        width: 60px
        height: 60px
        img
          margin: 0
          position: absolute
          left: 0
          width: 100%
          top: 50%
          transform: translateY(-50%)
    .input-wrap
      input
        max-width: 351px
  .payways-list
    @include tablet-max
      padding-top: 30px
