@import "../mixin"

.timeline-cashback-bonus-block-container
  width: 100%
  padding: 12px
  display: flex
  justify-content: center

.timeline-cashback-bonus-block
  width: 100%
  height: 118px
  background: #11192C
  border-radius: 16px
  display: flex
  @include desktop
    height: 88px
  .bonus-level-type
    border-radius: 24px
    padding: 4px 8px
    text-transform: uppercase
    font-size: 14px
    font-weight: bold
    width: max-content
  .progress-block
    width: 82px
    min-width: 82px
    height: 100%
    border-radius: 16px
    position: relative
    @include desktop
      display: flex
      width: 261px
      min-width: 261px
      align-items: center
    .circle-container
      position: absolute
      top: 12px
      left: 16px
      margin-right: 16px
      @include desktop
        position: relative
        top: 0px
        left: 0px
        margin-left: 8px
      .circle-image
        width: 50px
        position: absolute
        z-index: 9
        bottom: 12px
        @include desktop
          width: 64px
          bottom: 14px
          left: 4px
    .info-block
      display: flex
      justify-content: center
      flex-direction: column
    .bonus-level-type
      display: none
      @include desktop
        display: block
        margin-bottom: 2px
    .points-block
      position: absolute
      bottom: 8px
      text-align: center
      width: 100%
      @include desktop
        position: relative
        bottom: 0px
        display: flex
        align-items: flex-end
      .points
        color: #393939
        font-size: 12px
        font-weight: bold
        line-height: 12px
        @include desktop
          margin-right: 4px
          font-size: 18px
          line-height: 21px
      .text
        color: rgba(57, 57, 57, 0.7)
        font-size: 10px
        @include desktop
          font-size: 16px
          line-height: 20px
  .content-block
    margin-left: 16px
    display: flex
    justify-content: space-between
    width: 100%
    @include desktop
      margin-left: 32px
    .info-container
      height: 100%
      @include desktop
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        margin-right: 26px
      .bonus-level-type
        display: block
        margin-top: 16px
        @include desktop
          display: none
      .info-block
        @media (min-width: 1260px)
          display: flex
          align-items: center
      .your-cashback
        margin-top: 5px
        color: white
        font-size: 14px
        display: flex
        margin-bottom: 4px
        @include desktop
          font-size: 22px
          margin-top: 0px
        @media (min-width: 1260px)
          margin-right: 32px
        .label
          margin-right: 3px
          @include desktop
            color: rgba(255, 255, 255, 0.7)
        .value
          @include desktop
            font-weight: bold
      .available-cashback
        color: rgba(255, 255, 255, 0.7)
        margin-top: 1px
        font-size: 12px
        display: flex
        @include desktop
          font-size: 22px
          margin-top: 0px
        .label
          margin-right: 3px
          @include desktop
            color: rgba(255, 255, 255, 0.7)
        .value
          @include desktop
            font-weight: bold
            color: white
      .points-accumulating
        display: flex
        align-items: center
        font-size: 12px
        @include desktop
          font-size: 22px
        .label
          color: rgba(255, 255, 255, 0.7)
          margin-right: 4px
          @include  desktop
            margin-right: 12px
        .value
          padding: 0px 4px
          border-radius: 4px
          &.red
            background: #EC1B5A
          &.green
            background: #1EC260

    .right-icon-container
      height: 100%
      display: flex
      align-items: center
      margin-right: 10px
      @include desktop
        margin-right: 34px
      .arrow-right-icon
        background-size: contain
        background-image: url('/images/timeline-cashback/arrow-right-icon.svg')
        height: 15px
        width: 11px
        background-repeat: no-repeat
        background-position: center

.timeline-cashback-bonus-block,
.timeline-cashback-page-block
  &.bronze
    .progress-block
      background: linear-gradient(180deg, #FFB26B 0%, #FEC581 100%)
    .circle-progress-cashback
      &::before
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FFB26B 0%, #FEC581 100%)
      .right
        &::before
          background: #FFB26B
      .left
        &::before
          background: #FFB26B
      .circle-image-cashback-page
        left: -11px
    .bonus-level-type
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FFB26B 0%, #FEC581 100%)
      color: #442A0F
    .bonus-level-type-percent
      background: #442A0F
  &.silver,&.iron,&.platinum
    .progress-block
      background: linear-gradient(0deg, #C5C8D5, #C5C8D5), linear-gradient(180deg, #E6E6E6 0%, #D6D6D6 100%)
    .circle-progress-cashback
      &::before
        background: linear-gradient(0deg, #EAEBF0, #EAEBF0), linear-gradient(180deg, #E6E6E6 0%, #D6D6D6 100%)
      .right
        &::before
          background: #c5c8d5
      .left
        &::before
          background: #c5c8d5
      .circle-image-cashback-page
        left: -11px
    .bonus-level-type
      background: linear-gradient(0deg, #EAEBF0, #EAEBF0), linear-gradient(180deg, #E6E6E6 0%, #D6D6D6 100%)
      color: #393939
    .bonus-level-type-percent
      background: #393939
  &.gold
    .progress-block
      background: linear-gradient(180deg, #FFF0D3 0%, #FFE49E 100%)
    .circle-progress-cashback
      &::before
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FFF0D3 0%, #FFE49E 100%)
      .right
        &::before
          background: #ffecc0
      .left
        &::before
          background: #ffecc0
      .circle-image-cashback-page
        left: -11px
    .bonus-level-type
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FFF0D3 0%, #FFE49E 100%)
      color: #43340F
    .bonus-level-type-percent
      background: #43340F
  &.diamond
    .progress-block
      background: linear-gradient(180deg, #D3FFF4 0%, #9EF9FF 100%)
    .circle-progress-cashback
      &::before
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FFF0D3 0%, #FFE49E 100%)
      .right
        &::before
          background: #ffecc0
      .left
        &::before
          background: #ffecc0
    .bonus-level-type
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #D3FFF4 0%, #9EF9FF 100%)
      color: #083135
    .bonus-level-type-percent
      background: #083135
  &.imperial
    .progress-block
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #FFAA2B 0%, #FFA63E 100%)
    .circle-progress-cashback
      &::before
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FFF0D3 0%, #FFE49E 100%)
      .right
        &::before
          background: #ffecc0
      .left
        &::before
          background: #ffecc0
      .circle-image-cashback-page
        left: -11px
    .bonus-level-type
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(180deg, #FFB950 0%, #FFC178 100%)
      color: #4D0E0E
    .bonus-level-type-percent
      background: #4D0E0E
  &.ruby
    .progress-block
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #E3949A 0%, #F194A2 100%)
    .circle-progress-cashback
      &::before
        background: #F2D7DB
      .right
        &::before
          background: #E3949A
      .left
        &::before
          background: #E3949A
      .circle-image-cashback-page
        left: -11px
    .bonus-level-type
      background: #ff6375
      color: #4D0E0E
    .bonus-level-type-percent
      background: #4D0E0E
    .progress-block .circle-container .circle-image
      bottom: 3px
      left: 4px
      width: 45px
      @include desktop
        bottom: 13px
        left: 10px
        width: 50px
    .timeline-cashback-page-block-top .level-type-container .circle-container .circle-image-cashback-page
      bottom: 3px
      left: 0
      width: 60px
      @include desktop
        left: 8px
        bottom: 10px

  &.iron
    .progress-block .circle-container .circle-image
      bottom: 2px
    .timeline-cashback-page-block-top .level-type-container .circle-container .circle-image-cashback-page
      bottom: 2px
      width: 63px
      left: 0
      @include desktop
        width: 80px

.circle-progress-cashback
  width: 50px
  height: 50px
  border-radius: 50%
  background: #1D9CF9
  position: relative
  @include desktop
    width: 72px
    height: 72px
  &::before
    content: ''
    display: block
    position: absolute
    top: 3px
    left: 3px
    right: 3px
    bottom: 3px
    border-radius: 50%
    background: #ccc
    z-index: 3
    opacity: 1
  .left,.right
    width: 100%
    height: 100%
    left: 0
    right: 0
    overflow: hidden
    position: absolute
    &::before
      content: ''
      display: block
      position: absolute
      width: 50%
      height: 100%
  .left
    transform: rotate(0deg)
    z-index: 2
    border-radius: 50%
    &::before
      background: #059
  .right
    transform: rotate(180deg)
    z-index: 1
    border-radius: 50%
    &::before
      background: #059
  &.over_50
    .left
      transform: rotate(180deg)
      &::before
        background: #1D9CF9!important
    .right
      transform: rotate(360deg)

.profile-page
  .timeline-cashback-bonus-block-container
    .timeline-cashback-bonus-block
      @media (min-width:991px)
        height: 109px
      .content-block
        @include desktop
          width: 100%
          position: relative
        .info-container
          @media (min-width:991px)
            flex-direction: column
            align-items: flex-start
            justify-content: center
            .info-block
              flex-direction: column
              align-items: flex-start
        .points-accumulating
          margin-bottom: 3px
        .your-cashback,.available-cashback, .points-accumulating
          @media (min-width: 1321px)
            font-size: 20px
          @media (min-width: 1251px) and (max-width: 1320px)
            font-size: 16px
          @media (min-width: 991px) and (max-width: 1250px)
            font-size: 14px
