.short-menu__timeline-cashback
  font-weight: 700
  font-size: 12px
  line-height: 16px
  color: #FFFFFF
  padding: 0 8px
  margin-left: 6px
  margin-right: 6px
  display: flex
  z-index: 30
  align-items: center
  border-left: 2px solid rgba(255, 255, 255, 0.2)
  .short-menu-circle-container
    margin-left: 6px
    .short-menu-circle-progress-cashback
      width: 26px
      height: 26px
      border-radius: 50%
      position: relative
      background: #1D9CF9
      &::before
        content: ''
        display: block
        position: absolute
        top: 3px
        left: 3px
        right: 3px
        bottom: 3px
        border-radius: 50%
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FFB26B 0%, #FEC581 100%)
        z-index: 3
        opacity: 1
      .left,.right
        width: 100%
        height: 100%
        left: 0
        right: 0
        overflow: hidden
        position: absolute
        &::before
          content: ''
          display: block
          position: absolute
          width: 50%
          height: 100%
      .left
        transform: rotate(0deg)
        z-index: 2
        border-radius: 50%
        &::before
          background: #175a93
      .right
        transform: rotate(180deg)
        z-index: 1
        border-radius: 50%
        &::before
          background: #175a93
      &.over_50
        .left
          transform: rotate(180deg)
          &::before
            background: #1D9CF9!important
        .right
          transform: rotate(360deg)
      img
        position: absolute
        width: 18px
        left: 4px
        top: 6px
        z-index: 9
