@import "../swatches.sass"
@import "../mixin.sass"

$tournaments-list-padding: 8px

.tournaments-list
  display: flex
  flex-wrap: wrap
  padding-top: $tournaments-list-padding
  padding-bottom: $tournaments-list-padding
  overflow: visible
  position: relative
  @media (min-width: #{$container-max-width} + $tournaments-list-padding * 2)
    margin-left: -$tournaments-list-padding
    margin-right: -$tournaments-list-padding
  @include container-max
    overflow: hidden

.ReactVirtualized__Grid
  overflow: visible !important

.tournaments-list--empty
  padding-bottom: $tournaments-list-padding * 4

h1.tournaments-list__caption
  text-align: center
  padding-top: $tournaments-list-padding * 3
  color: $yellow
  font-size: 2em

.tournaments-item
  padding: $tournaments-list-padding
  display: flex
  flex-direction: column
  position: relative
  flex: 0 0 50%
  @include tablet
    flex: 0 0 25%
    transform: scale(1)
    transition: .2s
  @include desktop
    flex: 0 0 20%

.tournaments-item:hover
  @include tablet
    transform: scale(1.1)
    position: relative
    z-index: 100
    .tournaments-item__title
      background-image: $gr-violet
    .tournaments-item__btn
      display: block
    .tournaments-item__favorites
      display: block

.tournaments-item__img-container
  border: 2px solid $yellow
  border-radius: 8px 8px 0 0
  overflow: hidden
  position: relative
    // loader in tournaments item
  .loading-spinner_nobg
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    white-space: nowrap
    .loading-spinner_indicator-fourth,
    .loading-spinner_indicator-fifth
      display: none
    @include desktop
      .loading-spinner_indicator-fourth,
      .loading-spinner_indicator-fifth
        display: inline-block
    @include desktop-lg-max
      .loading-spinner_indicator
        margin-left: 12px
        .loading-spinner_indicator-first
          margin-left: 0
  .tournaments-item__places
    position: absolute
    bottom: 0
    display: flex
    width: 100%
    justify-content: center
    align-items: flex-end
    .place
      border-top-right-radius: 6px
      border-top-left-radius: 6px
      width: 37px
      margin: 0 1px
      color: #FFFFFF
      @include desktop
        width: 55px
      &.place-2
        height: 59px
        background: #2076F8
        box-shadow: 0px -2px 0px #1E68D7
      &.place-1
        height: 72px
        background: #48BF1D
        box-shadow: 0px -2px 0px #49AA26
      &.place-3
        height: 50px
        background: #E6711D
        box-shadow: 0px -2px 0px #B85E1D
      .place-bar
        position: relative
        .place
          font-style: normal
          font-weight: 400
          margin-top: 3px
          font-size: 8px
          color: rgba(255, 255, 255, 0.7)
          text-align: center
          text-transform: uppercase
          @include desktop
            font-size: 12px
        .prize
          font-weight: 700
          font-size: 10px
          line-height: 10px
          padding-top: 6px
          text-align: center
          @include desktop
            font-size: 12px

.tournaments-item__img-container
  .game-item__img
    width: 100%
    aspect-ratio: 253 / 163

.tournaments-item__title
  background-color: $color-blue
  text-align: center
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  color: $color-white
  font-family: $font-first
  text-transform: uppercase
  padding-left: 10px
  padding-right: 10px
  border-radius: 0 0 10px 10px
  font-size: 10px
  font-weight: 600
  .tournaments-item__name
    font-size: 12px
    margin-top: 7px
    @include desktop
      font-size: 14px

  .tournaments-item__time
    display: flex
    width: 100%
    justify-content: space-between
    font-weight: 700
    font-size: 10px
    padding-top: 8px
    padding-bottom: 8px
    @include desktop
      font-size: 12px
.tournaments-item__btn
  background: #1D9CF9
  border-radius: 6px
  width: 100%
  padding: 5px
  text-align: center
  font-weight: 700
  font-size: 10px
  line-height: 14px
  color: #FFFFFF
  cursor: pointer
  margin-bottom: 8px
  @include desktop
    font-size: 16px
    padding: 8px

.tournaments-item__link
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 7

.tournaments-list__games-title
  position: relative
  margin-top: 40px
  h1.games-list__caption
    padding-top: 0
    margin-top: 10px
    font-size: 18px
    @include desktop
      font-size: 2em
  .tournaments-list__games-title-btn
    background: #193f6a
    margin-left: 10px
    margin-right: 10px
    border-radius: 10px
    text-align: center
    display: flex
    text-align: center
    color: white
    justify-content: center
    cursor: pointer
    padding: 7px
    @include desktop
      position: absolute
      padding: 7px 35px
      top: 5px
