.tournament-info-block
  width: 100%
  height: 118px
  background: #11192C
  border-radius: 16px
  display: flex!important
  cursor: pointer

  @include desktop
    height: 88px
  .prizes-block
    min-width: 87px
    background: linear-gradient(326.53deg, #F29A16 0%, #F9BB1D 100%)
    border-radius: 16px
    @include desktop
      min-width: 200px
      overflow: hidden
    .title
      font-weight: 700
      font-size: 12px
      line-height: 16px
      text-align: center
      letter-spacing: 1px
      text-transform: uppercase
      color: #513910
      margin-top: 8px
    .places-container
      display: flex
      margin-top: 16px
      align-items: flex-end
      .place
        flex: 1
        &.place-2
          height: 49px
          border-top-left-radius: 6px
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%)
        &.place-1
          height: 62px
          border-top-left-radius: 6px
          border-top-right-radius: 6px
          background: rgba(255, 255, 255, 0.5)
        &.place-3
          height: 40px
          border-top-right-radius: 6px
          background: rgba(255, 255, 255, 0.4)
        .place-bar
          position: relative
          .place
            position: absolute
            top: -16px
            font-style: normal
            font-weight: 400
            font-size: 10px
            width: 100%
            line-height: 13px
            text-align: center
            color: #513910
          .prize
            font-weight: 700
            font-size: 12px
            line-height: 16px
            padding-top: 6px
            text-align: center
            color: #513910
  .content-block
    display: flex
    justify-content: space-between
    width: 100%
    .info-block
      padding: 10px 13px
      color: rgba(255, 255, 255, 0.7)
      @include desktop
        display: flex
        flex-wrap: wrap
      .tournament-name
        font-size: 14px
        font-weight: 700
        line-height: 18px
        color: white
        margin-bottom: 1px
        @include desktop
          width: 100%
          font-size: 20px
          line-height: 22px
          padding-top: 5px
      .your-place
        font-size: 16px
        margin-bottom: 10px
        line-height: 21px
        @include desktop
          font-size: 18px
          line-height: 21px
          margin-bottom: 0px
          margin-right: 25px
      .your-points
        font-size: 14px
        line-height: 18px
        @include desktop
          font-size: 18px
          line-height: 21px
          margin-right: 25px
      .first-place
        font-size: 12px
        line-height: 16px
        margin-bottom: 1px
        @include desktop
          font-size: 18px
          line-height: 21px
          margin-bottom: 0px
      .join-to-text
        font-size: 12px
        @include desktop
          font-size: 16px
      .your-place,.your-points,.first-place
        .bold-white
          font-weight: 700
          color: #FFFFFF
          margin-left: 6px
  .right-icon-container
    height: 100%
    display: flex
    align-items: center
    margin-right: 10px
    @include desktop
      margin-right: 34px
    .arrow-right-icon
      background-size: contain
      background-image: url('/images/timeline-cashback/arrow-right-icon.svg')
      height: 15px
      width: 11px
      background-repeat: no-repeat
      background-position: center
