@import "../swatches.sass"
@import "../mixin.sass"

.winner-list
    position: absolute
    width: 100%
    display: flex
    flex-direction: column
    background: $dark-blue-grey
.winner
    display: flex
    justify-content: space-between
    flex-direction: row
    padding: 8px 0 8px 10px
    position: relative
    border-top: 1px solid $dark-black
.winner__game-image
    width: 36px
    min-width: 36px
    height: 36px
    margin-right: 9px
.winner__info
    display: flex
    flex-direction: column
    flex-grow: 1
    margin-right: 11px
    @include text-ellipsis
    text-overflow: clip
    text-align: left
.winner__name
    font-size: 12px
    color: transparentize($color-white, 0.3)
.winner__game
    color: $color-white
     font-size: 13px

$prize-height: 28px
.winner__prize
    height: $prize-height
    line-height: $prize-height
    white-space: nowrap
    color: $color-d_blue
    font-family: $font-first
    font-size: 12px
    border-radius: 14px 0 0 14px
    text-align: right
    padding: 0 4px 0 10px
    @include yellow-bg

.winner__prize__container
  display: flex
  align-items: center

.winner-new
    animation: newWin 1s
    transform-origin: center top
    will-change: transform

@keyframes newWin
    0%
        background: $dark-black
        transform: scale(0)
    50%
        transform: scale(1)
        background: $dark-black
    90%, 100%
        background: $dark-blue-grey
@keyframes newWinChild
    0%, 50%
        opacity: 0
    100%
        opacity: 1
