include ./promo-code-new-form

mixin bonuses_promo_code(content)
    if content.refillStore.promoCodeForm.isEnabled
        .bonuses__promo-code
            if !content.refillStore.promoCodeForm.isShownInRegisterForm
                .bonuses__title=content.t('ui-activate-promo-code')
            if content.refillStore.promoCodeForm.isNewForm
                +promo_code_new_form(content)
            else
                .bonuses__promo-code-label=content.t(content.refillStore.promoCodeForm.isShownInRegisterForm ? 'ui-promocode-reg-form' : 'ui-placeholder-promo-code')
                .bonuses__promo-code-form
                    span.iconfont-promocode.bonuses__promo-code-icon
                    input.bonuses__promo-code-input(
                        type='text'
                        ref=content.makeRef(content.refillStore.promoCodeForm.INPUT_ID)
                        placeholder=content.t('ui-promo-code')
                        disabled=content.refillStore.promoCodeForm.isLoading
                        value=content.refillStore.promoCodeForm.value
                        onChange=content.refillStore.promoCodeForm.onValueChange
                    )
                    if !content.refillStore.promoCodeForm.isShownInRegisterForm
                        button.btn-pr.active.bonuses__promo-code-btn(onClick=content.refillStore.onActivatePromoCodeClick disabled=content.refillStore.promoCodeForm.isLoading class=content.refillStore.promoCodeForm.isLoading ? '' : 'btn-secondary')=content.t('ui-activate')
            if content.refillStore.promoCodeForm.error
                .bonuses__promo-code-error
                    span=content.refillStore.promoCodeForm.error
                    if content.refillStore.promoCodeForm.errorWithSeeMoreButton
                        a.see-more-link(href=content.l(content.appSettings.promoCodeInput.seeMoreButton.link))=content.t('promocode-error-link')
            else if content.refillStore.promoCodeForm.success
                .bonuses__promo-code-success(dangerouslySetInnerHTML={
                    __html: content.refillStore.promoCodeForm.successMessage ? content.refillStore.promoCodeForm.successMessage : content.t('page-refill-promo-success')
                })
