include ../../ui/table

mixin bonuses_history(content)
    .bonuses__history
        .bonuses__title=content.t('ui-bonuses-history')
        if content.profileBonuses.bonusesHistoryPartial.length > 0
            .bonuses__history-table
                +table_history(content, null, content.profileBonuses.historyTableData)
            if content.profileBonuses.historyLimit < content.profileBonuses.bonusesHistory.length
                .bonuses__history-show-more
                    button.btn.btn-secondary(onClick=content.profileBonuses.showMoreHistory)=content.t('ui-show-more')
        else
            .bonuses__history-empty=content.t('ui-bonuses-history-no-data')