include ../../common/loader
include ../../ui/no-data/section-no-data
include ./bonuses-promo-code
include ./bonus-block
include ./bonuses-history
include ../timeline-cashback-bonus-block

mixin bonuses(content)
    if content.profileBonuses.isLoading
        .profile-bonuses-loader
            .profile-bonuses-loader-content
                +loader
    else if content.profileBonuses.hasData
        if !content.userInfo.guest
            +bonuses_promo_code(content)
        if content.timelineCashbackBonus.visibleOnProfileBonusesPage
            +timeline_cashback_bonus_block(content)
        if content.profileBonuses.activeBonuses.length
            +bonuses_section(content, content.t('ui-activated-bonuses'), content.t('ui-bonus-activation-disclaimer'), content.profileBonuses.activeBonuses, content.enums.bonusGroups.ACTIVE)
        if content.profileBonuses.pendingBonuses.length
            +bonuses_section(content, content.t('ui-pending-bonuses'), undefined, content.profileBonuses.pendingBonuses, content.enums.bonusGroups.PENDING)
        if content.profileBonuses.possibleBonuses.length
            +bonuses_section(content, content.t('ui-possible-bonuses'), undefined, content.profileBonuses.possibleBonuses, content.enums.bonusGroups.POSSIBLE)
        if content.profileBonuses.alreadyReceivedBonuses.length
            +bonuses_section(content, content.t('already-received-bonuses'), undefined, content.profileBonuses.alreadyReceivedBonuses, content.enums.bonusGroups.ALREADY_RECEIVED)
        if !content.userInfo.guest
            +bonuses_history(content)
    else
        if !content.userInfo.guest
            +bonuses_promo_code(content)
        +section_no_data(content, content.t('ui-no-bonuses-disclaimer', {'site-name': content.site.siteName}), '/images/icons/icon-cash2.svg')

mixin bonuses_section(content, title, disclaimer, list, bonusGroup)
    .bonuses__section
        .bonuses__title=title
        if disclaimer
            .bonuses__activation-disclaimer=disclaimer
        .bonuses__list(className=(list.length < 3 ? 'bonuses__list--centered' : ''))
            each bonus in list
                +bonus_block(content, bonus, bonusGroup)
