mixin bonus_rules(content, bonus)
    .bonuses__bonus-rules(className=content.profileBonuses.openedRulesInBonuses.includes(bonus.id) ? "bonuses__bonus-rules--visible" : "")
        .bonuses__bonus-rules-top
            if bonus.issueRules !== undefined
                if bonus.issueRules
                    +bonus_rule(content, (bonus.id + '-bonus-receive-conditions'), content.t('ui-bonus-receive-conditions'), [], bonus.issueRules)
            else if bonus.receiveConditions && bonus.receiveConditions.length
                +bonus_rule(content, (bonus.id + '-bonus-receive-conditions'), content.t('ui-bonus-receive-conditions'), bonus.receiveConditions)
            if bonus.wageringRules !== undefined
                if bonus.wageringRules
                    +bonus_rule(content, (bonus.id + '-bonus-wagering-conditions'), content.t('ui-bonus-wagering-conditions'), [], bonus.wageringRules)
            else if bonus.wageringConditions && bonus.wageringConditions.length
                +bonus_rule(content, (bonus.id + '-bonus-wagering-conditions'), content.t('ui-bonus-wagering-conditions'), bonus.wageringConditions)
            if bonus.withdrawalRules !== undefined
                if bonus.withdrawalRules
                    +bonus_rule(content, (bonus.id + '-bonus-withdrawal-conditions'), content.t('ui-bonus-withdrawal-conditions'), [], bonus.withdrawalRules)
            else if bonus.withdrawalConditions && bonus.withdrawalConditions.length
                +bonus_rule(content, (bonus.id + '-bonus-withdrawal-conditions'), content.t('ui-bonus-withdrawal-conditions'), bonus.withdrawalConditions)
        .bonuses__bonus-rules-bottom
            button.btn.btn--secondary-blue.btn-rules(
                onClick=() => content.profileBonuses.hideRules(bonus.id)
            )=content.t('ui-close-rules')

mixin bonus_rule(content, id, caption, conditionsGroups, customText)
    .bonuses__bonus-rule
        .bonuses__bonus-rule-title=caption
        if customText
            .bonuses__bonus-rule-description(dangerouslySetInnerHTML={
                __html: customText
            })
        else
            each group in conditionsGroups
                .bonuses__bonus-rule-description
                    each condition in group.conditions
                        .bonus-condition
                            if condition.name
                                .bonus-condition-name=condition.name + ':'
                            .bonus-condition-value=condition.value
                            if condition.help
                                .bonus-condition-help=condition.help


