include ../../components/game-item
include ../../ui/progress-bar

mixin bonus_freespins(content, freeSpins, bonusGroup)
    if bonusGroup !== content.enums.bonusGroups.ACTIVE
        .bonuses__bonus-freespins-title=content.t('freespins-in-games')
    if bonusGroup === content.enums.bonusGroups.ACTIVE && freeSpins.length > 1
        .bonuses__bonus-freespins-title=content.t('freespin-to-choose')
    .bonuses__bonus-freespins
        if freeSpins.length > 2
            ReactSlickWithCustomNav(
                dots=false,
                infinite=true,
                speed=500,
                slidesToShow=2,
                slidesToScroll=2,
                initialSlide=1,
                isDisabledNextIcon=false,
                isDisabledPrevIcon=false,
            )
                each freeSpin in freeSpins
                    +bonus_freespins_item(content, freeSpin, bonusGroup)
        else
            .bonuses__bonus-freespins--without-slider
                each freeSpin in freeSpins
                    +bonus_freespins_item(content, freeSpin, bonusGroup)

mixin bonus_freespins_item(content, freeSpin, bonusGroup)
    .bonuses__bonus-freespins-item(className=(freeSpin.state === content.enums.bonusFreeSpinsState.OTHER_GAME_SELECTED ? "bonuses_bonus-freespins-item--unactive" : ""))
        .bonuses__bonus-freespins-item-games
            each game in freeSpin.games
                +game_item(
                    content,
                    game,
                    undefined,
                    undefined,
                    false,
                    false,
                    (freeSpin.state === content.enums.bonusFreeSpinsState.OTHER_GAME_SELECTED)
                )
        if freeSpin.state !== content.enums.bonusFreeSpinsState.OTHER_GAME_SELECTED
            if bonusGroup === content.enums.bonusGroups.ACTIVE
                +progress_bar(
                    content,
                    undefined,
                    freeSpin.progressPercent,
                    freeSpin.count,
                    freeSpin.countInitial,
                    undefined,
                    true
                )
            else if !!freeSpin.countInitial
                .bonuses__bonus-freespins-amount=content.t('spins', {amount: freeSpin.countInitial})