include ./bonus-rules

mixin bonus_buttons(content, bonus, bonusGroup)
    .bonuses__bonus-buttons
        if bonusGroup !== content.enums.bonusGroups.ALREADY_RECEIVED
            if bonus.bonusType === content.enums.bonusType.UPDATED_FINAL_BONUS
                button.btn.btn-pr(
                    onClick=content.profileBonuses.showFinalBonusInfo
                )=content.t('ui-info')
            if bonus.bonusType === content.enums.bonusType.DAILY_BONUS
                button.btn.btn-pr(
                    onClick=content.profileBonuses.showDailyBonusInfo
                )=content.t('ui-info')
            if bonus.bonusFamily === content.enums.bonusFamily.REFILLS
                button.btn.btn-pr(
                    onClick=() => content.balanceWager.showModalAndSelectEntry(bonus.id)
                )=content.t('ui-info')
            if content.userInfo.guest
                button.btn.btn-pr(
                    data-value=bonus.promoCode
                    onClick=content.modal.showRegister
                )=content.t('ui-get-bonus')
            else
                if !bonus.canCancel
                    if bonus.manualPromoCode && bonusGroup === content.enums.bonusGroups.POSSIBLE
                        .bonuses__bonus-manual-promo-code
                            input.bonuses__bonus-manual-promo-code-input(
                                type="text"
                                value=bonus.manualPromoCode.value
                                onChange=bonus.manualPromoCode.onChange
                                placeholder=content.t('ui-promo-code')
                                autoCorrect="false"
                                autoComplete="false"
                            )
                            button.btn.btn-pr(
                                className=bonus.manualPromoCode.isActivationDisabled ? "btn--disabled" : ""
                                onClick=bonus.manualPromoCode.activate
                                disabled=bonus.manualPromoCode.isSubmitting
                            )=content.t('ui-activate')
                    if bonus.bonusType === content.enums.bonusType.WAGER_BONUS
                        if bonusGroup === content.enums.bonusGroups.POSSIBLE
                            button.btn.btn-pr(
                                onClick=content.wagerBonus.onClickBonusesPageTryApply
                                data-entry-id=bonus.id
                                disabled=bonus.isAvailable && content.wagerBonus.waitingAnyActions
                                className=bonus.isAvailable ? undefined: 'btn--disabled'
                            )
                                span(className=bonus.isAvailable && content.wagerBonus.waitingAnyActions ? 'disabled': undefined)= content.t("ui-wager-bonus-apply")
                    else if bonus.bonusFamily === content.enums.bonusFamily.REFILLS
                        if bonusGroup === content.enums.bonusGroups.POSSIBLE
                            button.btn.btn-pr(
                                onClick=() => content.balanceWager.clickApplyOnProfile(bonus.id)
                                data-entry-id=bonus.id
                                disabled=bonus.meta && bonus.meta.available && content.balanceWager.waitingAnyActions
                                className=bonus.meta && bonus.meta.available ? undefined: 'btn--disabled'
                            )
                                span(className=bonus.meta && bonus.meta.available ? '': 'disabled')= content.t("ui-wager-bonus-apply")
                    else if bonus.state === content.enums.bonusState.BS_PENDING
                        if bonus.meta.receive_notification_can_activate === "false"
                            .bonuses__bonus-cant-activate-reason=bonus.meta.cant_activate_reason
                        else
                            button.btn.btn-pr(
                                disabled=(bonus.promoCode in content.profileBonuses.actionLoadingMap)
                                className=(bonus.promoCode in content.profileBonuses.actionLoadingMap) ? 'btn--disabled' : ''
                                data-value=bonus.promoCode
                                onClick=content.profileBonuses.onAcceptBonus
                            )=content.t('ui-activate-bonus')
                else
                    button.btn.btn-secondary(
                        data-value=bonus.promoCode
                        class=content.profileBonuses.getActionButtonClasses(bonus.promoCode, 'refuse')
                        onClick=content.profileBonuses.showRefuseModal
                    )=content.t('ui-cancel-bonus')
        if bonus.isWeeklyTournament
            a.btn.btn-pr.btn-secondary(
                href=content.l('/tournaments/' + bonus.tournamentType)
            )=content.t('ui-tournament-page')
        if bonus.isRulesAvailable
            button.btn.btn--secondary-blue.btn-rules(onClick=() => content.profileBonuses.showRules(bonus.id))
                span=content.t('ui-rules')
                .bonuses__bonus-button-arrow(className=content.profileBonuses.openedRulesInBonuses.includes(bonus.id) ? 'bonuses__bonus-button-arrow--up' : '')
            +bonus_rules(content, bonus)
