include ./bonus-buttons
include ./bonus-freespins
include ../../ui/progress-bar-thin

mixin bonus_block(content, bonus, bonusStatus)
    .bonuses__bonus
        .bonuses__bonus-top
            if bonus.bonusTags
                .bonuses__bonus-tags
                    each tag in bonus.bonusTags
                        .bonuses__bonus-tag(style='background-color: tag.color')
                            span(style='color: tag.textColor')=tag.name
            .bonuses__bonus-title=bonus.name
            if bonus.pageDescription
                .bonuses__bonus-page-description(dangerouslySetInnerHTML={
                    __html: bonus.pageDescription
                })
            if bonus.amount
                .bonuses__bonus-amount
                    .bonuses__bonus-amount-title=content.t('bonus-amount')
                    .bonuses__bonus-amount-value=bonus.amount
            else if bonus.fsWin
                .bonuses__bonus-amount
                    .bonuses__bonus-amount-title=content.t('bonus-amount')
                    .bonuses__bonus-amount-value=bonus.fsWin
            .bonuses__bonus-infos
                if !!bonus.maxPossibleFixedBonusAmount && bonus.maxPossibleFixedBonusAmount.length > 1
                    .bonuses__bonus-info.bonuses__bonus-info--max
                        span.bonuses__bonus-info-caption=bonus.maxPossibleFixedBonusAmount[1]
                        span.bonuses__bonus-info-value=bonus.maxPossibleFixedBonusAmount[0]
                if bonus.maxPossibleCashbackPercent
                    .bonuses__bonus-info.bonuses__bonus-info--cashback
                        span.bonuses__bonus-info-caption=content.t('ui-cashback')
                        span.bonuses__bonus-info-value=bonus.maxPossibleCashbackPercent
                if bonus.depositMultiplier
                    .bonuses__bonus-info.bonuses__bonus-info--deposit-multiplier
                        span.bonuses__bonus-info-caption=content.t('ui-deposit')
                        span.bonuses__bonus-info-value=bonus.depositMultiplier
                if bonus.redeemMultiplier
                    .bonuses__bonus-info.bonuses__bonus-info--redeem-multiplier
                        span.bonuses__bonus-info-caption=content.t('ui-redeem')
                        span.bonuses__bonus-info-value=bonus.redeemMultiplier
                if bonus.redeemAmount
                    .bonuses__bonus-info.bonuses__bonus-info--redeem-amount
                        span.bonuses__bonus-info-caption=content.t('ui-redeem-amount')
                        span.bonuses__bonus-info-value=bonus.redeemAmount
                if bonus.wager && bonus.wager.multiplier && bonus.bonusFamily !== content.enums.bonusFamily.REFILLS
                    .bonuses__bonus-info.bonuses__bonus-info--wager
                        span.bonuses__bonus-info-caption=content.t('ui-wager')
                        span.bonuses__bonus-info-value=bonus.wager.multiplier
                if bonus.activeFreeSpinsAmount
                    .bonuses__bonus-info.bonuses__bonus-info--freespins
                        span.bonuses__bonus-info-caption=content.t('ui-freespins')
                        span.bonuses__bonus-info-value=bonus.activeFreeSpinsAmount
                else if bonus.meta && bonus.meta.freeGameCount
                    .bonuses__bonus-info.bonuses__bonus-info--freespins
                        span.bonuses__bonus-info-caption=content.t('ui-freespins')
                        span.bonuses__bonus-info-value=bonus.meta.freeGameCount
                if bonus.freespinsWager
                    .bonuses__bonus-info.bonuses__bonus-info--freespins-wager
                        span.bonuses__bonus-info-caption=content.t('freespins-wager')
                        span.bonuses__bonus-info-value=bonus.freespinsWager
                if bonus.meta && bonus.meta.bonusPercentFromRefill
                    .bonuses__bonus-info.bonuses__bonus-info--bonus-percent
                        span.bonuses__bonus-info-caption=content.t('ui-bonus-percent')
                        span.bonuses__bonus-info-value=bonus.meta.bonusPercentFromRefill + '%'
                if bonus.meta && bonus.meta.bonusWager
                    .bonuses__bonus-info.bonuses__bonus-info--wager
                        span.bonuses__bonus-info-caption=content.profileBonuses.getBonusBlockWagerTitle(bonus)
                        span.bonuses__bonus-info-value='x' + bonus.meta.bonusWager
                if bonus.meta && bonus.meta.minRefillFormatted
                    .bonuses__bonus-info.bonuses__bonus-info--min-max-refill
                        span.bonuses__bonus-info-caption=content.t('min-refill')
                        span.bonuses__bonus-info-value=bonus.meta.minRefillFormatted
                if bonus.meta && bonus.meta.maxRefillFormatted
                    .bonuses__bonus-info.bonuses__bonus-info--min-max-refill
                        span.bonuses__bonus-info-caption=content.t('max-refill')
                        span.bonuses__bonus-info-value=bonus.meta.maxRefillFormatted


        .bonuses__bonus-middle
            if bonus.gameItem
                if !bonus.isDefaultBonusImage && bonus.gameItem.id
                    a.bonuses__link-to-game(href=content.l(`/game/${bonus.gameItem.id}`))
                      img.bonus__bonus-img(src=bonus.bonusImageUrl)
                else
                    .game-item-bonus
                        +game_item(content, bonus.gameItem, undefined, false, false, false)
            else if !bonus.isDefaultBonusImage
                img.bonus__bonus-img(src=bonus.bonusImageUrl)
            else if bonus.freeSpins && bonus.freeSpins.length > 0
                +bonus_freespins(content, bonus.freeSpins, bonusStatus, bonus)
            else if bonus.freeBets && bonus.freeBets.length > 0
                +bonus_freespins(content, bonus.freeBets, bonusStatus, bonus)
            else
                img.bonus__bonus-img(src=bonus.bonusImageUrl)
            if bonusStatus === content.enums.bonusGroups.ACTIVE && bonus.wager && bonus.wager.initialValue
                +progress_bar_thin(
                    content,
                    content.t('ui-wagered'),
                    bonus.wager.progressPercent,
                    bonus.wager.wageredValue,
                    bonus.wager.initialValue,
                    bonus.wager.currencyCode
                )
        .bonuses__bonus-bottom
            if bonus.timeToLeftWagering
                .bonuses-time-to-left-wagering.bonuses__bonus-stats
                    .bonuses__bonus-stats-item
                        span.bonuses__bonus-stats-caption=content.t('time-to-left-wagering') + ':'
                        span.bonuses__bonus-stats-value=content.profileBonuses.formatMsToTime(bonus.timeToLeftWagering)
                    if bonus.balanceAfterTimeExpired
                        .bonuses__bonus-stats-item
                            span.bonuses__bonus-stats-caption=content.t('balance-after-wagering') + ':'
                            span.bonuses__bonus-stats-value=bonus.balanceAfterTimeExpired
            if bonus.htmlDescription
                .bonuses__bonus-description-title=content.t('ui-description')
                .bonuses__bonus-description(dangerouslySetInnerHTML={
                    __html: bonus.htmlDescription
                })
            if bonus.stats
                .bonuses__bonus-stats
                    each stat in bonus.stats
                        .bonuses__bonus-stats-item
                            span.bonuses__bonus-stats-caption=content.t(stat.caption) + ':'
                            span.bonuses__bonus-stats-value=stat.value
            +bonus_buttons(content, bonus, bonusStatus)
