mixin promo_code_new_form(content)
    .bonuses__promo-code-title=content.t('page-refill-promo-info')
    .bonuses__promo-code-squares
        each square in content.refillStore.promoCodeForm.squares
            input.bonuses__promo-code-square(
                type="text"
                className=square.isFocused ? "bonuses__promo-code-square--focused" : ""
                value=square.value
                onChange=content.refillStore.promoCodeForm.onSquareChange
                onFocus=content.refillStore.promoCodeForm.onSquareFocus
                onBlur=content.refillStore.promoCodeForm.onSquareBlur
                onKeyDown=content.refillStore.promoCodeForm.onSquareKeyDown
                id=square.id
                placeholder=square.placeholder
            )
        if content.refillStore.promoCodeForm.isPasteButtonShown
            .btn.btn--paste-promo-code(onClick=content.refillStore.promoCodeForm.pasteFromClipboard)=content.t('ui-paste')
