include ./controls/error
include ./controls/loader
include ./controls/file-upload
include ./components/promo-code
include ./components/payways-list
include ./components/fields-list
include ./components/refill-history
include ../components/profile/profile-documents
include ./components/tiles-list
include ./v2/refill_desktop_payway_form
include ./v2/refill_mobile_payway_form
include ./components/bonuses-info-block
include ./custom/cashapp-refill-payway-form
include ./custom/btcpayserver-refill-payway-form
include ./custom/btcpayserver-manual-refill-payway-form
include ./custom/btcpayserver-manual-wallet-refill-payway-form
include ./components/p2p-apps-button
include ./custom/btcpayserver-paypal-refill-payway-form

mixin refill_page_content(content)
    .text-page.pay.refill.multi-payways
        .page-content
            if content.refillStore.isPageDataLoading || content.refillStore.refillPageAllowed
                if content.refillStore.isDocumentsRequired
                    +documents_warning(content)
                if content.refillStore.isPageDataLoading
                    h2.multi-payways-title= content.t('ui-choose-refill-type')
                    +loading_page_content()
                else if content.refillStore.refillPageAllowed
                    if content.refillStore.error
                        +error_page_content(content, content.refillStore.error)
                    else if !content.refillStore.hasPayways
                        +error_page_content(content, content.t('error-no-refill-payways'))
                    else
                        +refill_user_page_content(content)
            else
                +refill_guest_page_content(content)


mixin refill_user_page_content(content)
    if content.refillStore.selectedPayway && content.refillStore.selectedPayway.newFormAvailable
        if content.isMobile
            +refill_mobile_payway_form(content, content.refillStore)
        else
            +refill_desktop_payway_form(content, content.refillStore)
    
    else
        if content.refillStore.selectedPayway
            if !!content.refillStore.selectedPayway && content.refillStore.selectedPayway.provider.type === content.enums.withdrawProvider.CASHAPP
                +cashapp_refill_payway_form(content)
            else if !!content.refillStore.selectedPayway && content.refillStore.selectedPayway.provider.type === content.enums.withdrawProvider.BTCPAYSERVER
                if content.refillStore.selectedPayway.id === 'btcpayserver'
                    +btcpayserver_refill_payway_form(content)
                else if content.refillStore.selectedPayway.id === 'btcpayserver_paypal'
                    +btcpayserver_paypal_refill_payway_form(content)
                else
                    if !!content.appSettings.billing.btcManualViaCashApp
                        +btcpayserver_manual_refill_payway_form(content)
                    else
                        +btcpayserver_manual_wallet_refill_payway_form(content)
            else
                +refill_payway_form(content)
        else
            +refill_choose_payway(content)
        .payment-promo-container
            if content.refillStore.promoCodeForm.isEnabled && (!content.refillStore.selectedPayway || (content.refillStore.selectedPayway.provider.type !== content.enums.withdrawProvider.CASHAPP && content.refillStore.selectedPayway.provider.type !== content.enums.withdrawProvider.BTCPAYSERVER))
                +refill_promo_code(content)

            +refill_history(content)

mixin refill_payway_form(content)
    //- h2.multi-payways-title= content.t('page-refill-title')
    if !!(content.refillStore.selectedPayway && content.refillStore.selectedPayway.disclaimer)
        h4.disclaimer(dangerouslySetInnerHTML={__html: content.refillStore.selectedPayway.disclaimer})
    form.modal-form.payways-form
        h2.multi-payways-title= content.t('page-refill-title')
        h3.multi-payways-name=content.t(content.refillStore.selectedPayway.getName())
            if content.refillStore.payways.length > 1
                a.multi-payways-back-btn(href=content.l('/refill'))= content.t('ui-other-refill-types')
        +payway_instruction(content, content.refillStore)
        if content.refillStore.selectedPayway.getProvider().iframeBlockEnabled()
            if content.refillStore.selectedPayway.getProvider().isLoading
              .loader-container-payway
                +loader(content)
            .iframe-container(className=content.refillStore.selectedPayway.getProvider().isLoading ? 'hide-iframe' : '')
                #iframe-block
        if content.refillStore.selectedPayway.getProvider().isSwiftPayP2P
            .swiftpayp2p-custom-form
              .swiftpayp2p-content=content.t('swiftpayp2p-refill-text')
              .button.btn-pr(onClick=content.refillStore.onFormAction)=content.t('ui-deposit')
        if content.refillStore.selectedPayway.showFields
            +fields_list(content, content.refillStore)
        if !content.refillStore.selectedPayway.isFinalStep
            .submit-line(className=content.refillStore.selectedPayway.isMultiStepAndNotTheFirst ? "submit-line--br" : "")
                if content.refillStore.selectedPayway.isMultiStepAndNotTheFirst
                    button.btn.btn-secondary.btn--payway-goback(onClick=content.refillStore.selectedPayway.goToPrevStep)=content.t('ui-back')
                button.btn.btn-pr.btn-pr-auto.btn-pr-auto-with-min(onClick=content.refillStore.selectedPayway.goToNextStep className=content.refillStore.selectedPayway.isGoToNextStepButtonDisabled ? "btn--disabled" : "")=content.t('ui-continue')
        if !!content.refillStore && content.refillStore.selectedPayway.provider.type === content.enums.withdrawProvider.CASHAPP
            +payway_instruction(content, content.refillStore)
            if content.refillStore.promoCodeForm.isEnabled
                +refill_promo_code(content)
            .payment__go-to-ca
                button.btn.btn-pr.btn-pr-auto(
                    onClick=content.refillStore.onFormAction
                    disabled=content.refillStore.isActionLoading && !content.refillStore.promoCodeForm.isLoading
                    className=content.refillStore.selectedPayway.isSubmitButtonDisabled ? "btn--disabled" : ""
                )=content.t("ui-go-to-cashapp")
        if "type" in content.refillStore.selectedPayway.params && (content.refillStore.selectedPayway.params.type === 'BCP' || content.refillStore.selectedPayway.params.type === 'BBVA') && (content.mobileOSType === 'AndroidOS' || content.mobileOSType === 'iOS')
            +P2PappsButton(content, content.refillStore.selectedPayway.params.type)
        if content.refillStore.selectedPayway.getProvider().willRedirectToPaymentSystemPage()
            p.form-disclaimer=content.t('page-refill-redirect-info')

mixin refill_choose_payway(content)
    form.modal-form
        +bonuses_info_block(content)
        +refill_banner(content)
        h2.multi-payways-title(className=content.refillStore.refillBanner ? 'without-margin-top' : '')= content.t('ui-choose-refill-type')
        if content.refillStore.useTiles
            +tiles_list(content, content.refillStore.tilesGroups)
        else
            +payways_list(content, content.refillStore.paywaysByCategory)

mixin refill_guest_page_content(content)
    .refill-guest-page-content
        h2.multi-payways-title= content.t("page-refill-title")
        if !!(content.withdrawalStore.selectedPayway && content.refillStore.selectedPayway.disclaimer)
            h4.disclaimer(dangerouslySetInnerHTML={__html: content.refillStore.selectedPayway.disclaimer})
        .center-align= content.t("seo-refill-description", {'site-name': content.site.siteName})
        .center-align
            a.register-link(href=content.l("/register"))=content.t("ui-register-suggestion")
            span= content.t("ui-quality-suggestion")

mixin refill_banner(content)
    if content.refillStore.refillBanner
        img.payment-banner(src=content.refillStore.refillBanner)
