include ./controls/error
include ./controls/loader
include ./components/payways-list
include ./components/fields-list
include ./components/withdrawals-history
include ./components/payway-instruction
include ../components/profile/profile-documents
include ./custom/cashapp-withdrawal-payway-form
include ./custom/btcpayserver-withdrawal-payway-form
include ./components/p2p-apps-button

mixin withdrawal_page_content(content)
    .text-page.pay.withdraw.multi-payways
        .page-content
            if content.withdrawalStore.isPageDataLoading || content.withdrawalStore.withdrawalsPageAllowed
                if content.withdrawalStore.isDocumentsRequired
                    +documents_warning(content)
                if content.withdrawalStore.isPageDataLoading
                    h2.multi-payways-title= content.t('ui-choose-withdraw-type')
                    +loading_page_content()
                else if content.withdrawalStore.withdrawalsPageAllowed
                    if content.withdrawalStore.error
                        +error_page_content(content, content.withdrawalStore.error)
                    else if !content.withdrawalStore.hasPayways
                        +error_page_content(content, content.t('error-no-withdrawal-payways'))
                    else
                        +withdrawal_user_page_content(content)
            else
                +withdrawal_guest_page_content(content)


mixin withdrawal_user_page_content(content)
    if content.withdrawalStore.selectedPayway
        if content.withdrawalStore.selectedPayway.provider.type === content.enums.withdrawProvider.CASHAPP
            +cashapp_withdrawal_payway_form(content)
        else if content.withdrawalStore.selectedPayway.provider.type === content.enums.withdrawProvider.BTCPAYSERVER
            +btcpayserver_withdrawal_payway_form(content)
        else
            +withdrawal_payway_form(content)
    else
        +withdrawal_choose_payway(content)
    if content.withdrawalStore.withdrawalInspector
        +withdrawal_inspector(content, content.withdrawalStore.withdrawalInspector)
    .payment-promo-container
        +withdrawals_history(content)

mixin withdrawal_inspector(content, wi)
    if wi.minWithdrawal || wi.maxWithdrawal || wi.spinsLeft || wi.timeUntilNextWithdrawal
        div.profile-documents-warning
            .profile-documents-warning__left
                .icon-warn
            .profile-documents-warning__content
                ul
                    if wi.minWithdrawal
                        li= content.t('ui-wi-min-withdrawal', {minWithdrawal: wi.minWithdrawal})
                    if wi.maxWithdrawal
                        li= content.t('ui-wi-max-withdrawal', {maxWithdrawal: wi.maxWithdrawal})
                    if wi.spinsLeft
                        li= content.t('ui-wi-spins-left', {spinsLeft: wi.spinsLeft})
                    if wi.timeUntilNextWithdrawal
                        li= content.t('ui-wi-min-time-until-next-withdraw', {timeUntilNextWithdraw: wi.timeUntilNextWithdrawal})


mixin withdrawal_payway_form(content)
    form.modal-form.payways-form
        h2.multi-payways-title= content.t('page-withdrawal-title')
        h3.multi-payways-name=content.t(content.withdrawalStore.selectedPayway.getName())
            if content.withdrawalStore.payways.length > 1
                a.multi-payways-back-btn(href=content.l('/withdraw'))= content.t('ui-other-withdraw-types')
        if !!(content.withdrawalStore.selectedPayway && content.withdrawalStore.selectedPayway.disclaimer)
            h4.disclaimer(dangerouslySetInnerHTML={__html: content.t(content.withdrawalStore.selectedPayway.disclaimer)})
        +payway_instruction(content, content.withdrawalStore)
        if content.withdrawalStore.selectedPayway.getProvider().iframeBlockEnabled()
            if content.withdrawalStore.selectedPayway.getProvider().isLoading
              .loader-container-payway
                +loader(content)
            .iframe-container(className=content.withdrawalStore.selectedPayway.getProvider().isLoading ? 'hide-iframe' : '')
                #iframe-block
        if content.withdrawalStore.selectedPayway.showFields
            +fields_list(content, content.withdrawalStore)
        if !content.withdrawalStore.selectedPayway.isFinalStep
            .submit-line(className=content.withdrawalStore.selectedPayway.isMultiStepAndNotTheFirst ? "submit-line--br" : "")
                if content.withdrawalStore.selectedPayway.isMultiStepAndNotTheFirst
                    button.btn.btn-secondary.btn--payway-goback(onClick=content.withdrawalStore.selectedPayway.goToPrevStep)=content.t('ui-back')
                button.btn.btn-pr.btn-pr-auto.btn-pr-auto-with-min(onClick=content.withdrawalStore.selectedPayway.goToNextStep className=content.withdrawalStore.selectedPayway.isGoToNextStepButtonDisabled ? "btn--disabled" : "")=content.t('ui-continue')
        if "type" in content.withdrawalStore.selectedPayway.params && (content.withdrawalStore.selectedPayway.params.type === 'BCP' || content.withdrawalStore.selectedPayway.params.type === 'BBVA') && (content.mobileOSType === 'AndroidOS' || content.mobileOSType === 'iOS')
            +P2PappsButton(content, content.withdrawalStore.selectedPayway.params.type)
        if content.withdrawalStore.selectedPayway.links && content.withdrawalStore.selectedPayway.links.length
            +withdrawal_links(content, content.withdrawalStore.selectedPayway.links)


mixin withdrawal_choose_payway(content)
    form.modal-form
        h2.multi-payways-title= content.t('ui-choose-withdraw-type')
        if content.withdrawalStore.useTiles
            +tiles_list(content, content.withdrawalStore.tilesGroups)
        else
            +payways_list(content, content.withdrawalStore.paywaysByCategory)

mixin withdrawal_guest_page_content(content)
    h2.multi-payways-title= content.t("page-withdrawal-title")
    if !!(content.withdrawalStore.selectedPayway && content.withdrawalStore.selectedPayway.disclaimer)
        h4.disclaimer(dangerouslySetInnerHTML={__html: content.withdrawalStore.selectedPayway.disclaimer})
    .center-align= content.t("seo-withdraw-description", {'site-name': content.site.siteName})
    .center-align
        a.register-link(href=content.l("/register"))=content.t("ui-register-suggestion")
        span= content.t("ui-quality-suggestion")

mixin withdrawal_links(content, links)
    div
      .withdrawal-links-title=content.t('ui-withdrawal-links-title')
      .withdrawal-links-container
          each link in links
              .withdrawal-link-item
                  .left-block
                    .withdrawal-link-item-value-container
                      .withdrawal-link-item-label=content.t('ui-amount')
                      .withdrawal-link-item-value=link.formattedAmount ? link.formattedAmount : '-'
                  .right-block
                    .withdrawal-link-item-value-container
                      .withdrawal-link-item-label=content.t('card_expiration_date')
                      .withdrawal-link-item-value=link.expiration ? content.format(link.expirationNumber, "dd/MM/yy HH:mm:ss") : '-'
                    .withdrawal-link-button(onClick=()=>link.link ? window.open(link.link) : {})=content.t('ui-withdrawal-link-open')
                      
