mixin modal_refill_coin_payments_crypto(content)
    .modal.sm.in
        .modal-dialog
            .modal-content.modal-content-refill-coin-payments-crypto
                a.modal-close(href="#", onClick=content.modal.hideModal)
                    span.icon.icon-close
                .modal-title= content.t("ui-manual-refill")
                .modal-content-container.modal-refill-coin-payments-crypto
                    div.refill-crypto-qr-code
                      img(src=content.modal.coinPaymentsFiatFormData.qrCodeUrl)
                    div.refill-crypto-content
                        div.refill-crypto-disclaimer= content.t('ui-refill-crypto-coin-payments', {'amount1': content.modal.coinPaymentsFiatFormData.amount1, 'amount2': content.modal.coinPaymentsFiatFormData.amount2, 'currency1': content.modal.coinPaymentsFiatFormData.currency1, 'currency2': content.modal.coinPaymentsFiatFormData.currency2})
                        div.refill-crypto-controls
                            div.modal-form.refill-crypto-form
                                .form-line
                                    .form-field.inline
                                        span.input-wrap
                                            input(type="text" defaultValue=content.modal.coinPaymentsFiatFormData.walletAddress ref=content.makeRef("refillCryptoInput") readOnly)
                                .submit-line
                                    button.btn-pr.btn-copy(onClick=content.refillStore.cryptoAddressForm.tryCopyCryptoWallet)= content.t("ui-copy")
                                      if content.refillStore.cryptoAddressForm.addressCopied
                                          div.info= content.t('ui-crypto-wallet-copied')
