mixin modal_refill_wecashup(content)
    .modal.sm.in
        .modal-dialog
            .modal-content
                a.modal-close(href="#", onClick=content.user.hideAuth)
                    span.icon.icon-close
                .modal-title= content.t("ui-confirm-payment")
                .refill-wecashup-content
                    p= content.t("ui-refill-payment-amount", {amount: content.modal.wecashupModalData.amount + ' ' +content.modal.wecashupModalData.currencyCode})
                    p= content.t("ui-refill-payment-phone", {phone: content.modal.wecashupModalData.phone})
                    .refill-wecashup-form-container(ref=content.makeRef("refillWecashupFormContainer"))
                        button.btn.btn-pr(type="button" onClick= content.refillStore.selectedPayway.getProvider().onWecashupBtnClick)= content.t('ui-pay-now')