mixin modal_refill_wallettec(content)
    .modal.sm.in
        .modal-dialog
            .modal-content
                a.modal-close(href="#", onClick=content.modal.hideModal)
                    span.icon.icon-close
                .modal-title= content.t("ui-manual-refill")
                .modal-content-container.modal-refill-wallettec-content
                    each field in content.modal.walletecModalData
                        div
                            h5(dangerouslySetInnerHTML={__html: field.title})
                            p(dangerouslySetInnerHTML={__html: field.body})