mixin modal_revoke_withdrawal_confirmation(content)
    .modal.sm.in
        .modal-dialog
            .modal-content
                a.modal-close(href="#", onClick=content.modal.closeModal)
                    span.icon.icon-close
                .modal-title= content.t("ui-withdrawal-cancelation")
                .modal-content-container
                    br
                    .actions-line= content.t("ui-withdrawal-cancelation-are-you-sure")
                    br
                    .actions-line
                        button.btn-pr(
                            onClick=content.modal.triggerActionCallback
                            className=(content.modal.context && content.modal.context.data && content.modal.context.data.isLoading ? 'btn--loading' : '')
                            disabled=content.modal.context && content.modal.context.data && content.modal.context.data.isLoading
                        )= content.t("ui-confirm")
                        button.btn.btn-pr.btn-secondary(onClick=content.modal.closeModal)= content.t("ui-cancel")
