@import "./theme"
@import "./item-page"
@import "./list-page"

.tournaments-main-page-block-battle-of-slots,
.tournaments-list-active-item.tournaments-tournaments-list-page-battle-of-slots,
.tournaments-tournament-page-battle-of-slots
    .flipdown.flipdown__theme-wl .rotor, 
    .flipdown.flipdown__theme-wl .rotor-top, 
    .flipdown.flipdown__theme-wl .rotor-leaf-front,
    .flipdown.flipdown__theme-wl .rotor-bottom, 
    .flipdown.flipdown__theme-wl .rotor-leaf-rear
        color: white
        background: #483F73
    .flipdown.flipdown__theme-wl .rotor::after
        border-color: rgba(0,0,0,0.2)
    .game-item__title
        background: #70194F
