@import "../../../swatches.sass"
@import "../../../mixin.sass"
    
.tournaments-tournament-page-battle-of-slots
    overflow: hidden
    article
        position: relative
    @include mobile
        header img
            max-width: 290px

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-battle-of-slots .tournament-section-banner
    height: 450px
    @include desktop
        padding-top: 70px
    @include mobile
        height: 70vw
    figure
        top: 0
        left: 80px
        @include mobile
            left: 8%
            img
                height: 80vw


.tournaments-page-content .tournaments-tournament-page-battle-of-slots .leaders
    background-color: $color-soft-black

.tournaments-page-content .tournaments-tournament-page-battle-of-slots .leaders-header
    margin: 0
    padding: 32px 0 0
    background-color: $color-soft-black
    border-radius: 4px 4px 0 0
