@import "../../../mixin.sass"
@import "../../../swatches.sass"
@import "../mixin.sass"

$tournament-page-fade: linear-gradient(to bottom, transparent 0, transparent 15%, $dark-black 28%)

.tournaments-main-page-block-battle-of-slots
    border: 1px solid #5D4175
    background: url('/images/tournaments/battle-of-slots/main-block-background.jpg?v2') top / cover no-repeat
    @include tablet-max
        background-image: url('/images/tournaments/battle-of-slots/main-block-background.m.jpg?v1')

.tournaments-tournament-page-battle-of-slots
    background: $tournament-page-fade, url('/images/tournaments/battle-of-slots/background.jpg') top / 100% no-repeat
    @include tablet-max
        background-size: cover
    .tournament-article
        background: rgba(14, 22, 44, 0.7)

.tournaments-tournaments-list-page-battle-of-slots
    background: #323256
    .card-body
        background: #3B3565
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27), inset 0 1px 0 0 rgba(255, 255, 255, 0.16)

.tournaments-tournaments-list-page-battle-of-slots.tournaments-list-active-item
    border: 1px solid #574c8d

.tournaments-tournaments-list-page-battle-of-slots .tournaments-list-item-background-overlay
    @include tablet-max
        display: none
    @include asset('battle-of-slots','coin', 64, 64)
        left: -35px
        bottom: -25px
    @include asset('battle-of-slots','cube', 74, 74)
        right: -50px
        top: 90px
    @include asset('battle-of-slots','devil', 200, 244)
        right: -100px
        top: -28px
    @include asset('battle-of-slots','angel', 200, 244)
        left: -100px
        top: -0px

.tournaments-main-page-block.tournaments-main-page-block-battle-of-slots
    border-color: #712389

.tournaments-tournament-page-battle-of-slots .tournaments-background-overlay
    @include tablet-max
        display: none

    z-index: 5
    pointer-events: none
    position: absolute
    width: 100%
    height: 100%
    @include asset('battle-of-slots','devil', 439, 639)
        right: -380px
        top: -18px
    @include asset('battle-of-slots','angel', 441, 665)
        left: -330px
        top: -40px
    @include asset('battle-of-slots','pumpkins', 200, 200)
        left: -150px
        top: 990px
    @include asset('battle-of-slots','skeleton', 250, 250)
        right: -150px
        top: 900px
    @include asset('battle-of-slots','pumpkin', 150, 150)
        right: -96px
        top: 550px


.tournaments-tournaments-list-page-battle-of-slots .tournaments-list-item-icon
    background: url('/images/tournaments/battle-of-slots/list-item-background.jpg?v1') center / cover no-repeat
    width: 300px
    height: 188px
    @include mobile
      width: 180px
      height: auto
    @include mobile-xs
      width: 128px
      height: auto
