mixin section_no_data(content, disclaimer, image)
    .section-no-data
        .section-no-data-content
            if image
                .section-no-data-image
                    img(src=image alt=disclaimer)
            .section-no-data-disclaimer=disclaimer

