/*normalize css*/
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

/*end*/

body {
    margin: 0;
    font-family: 'Open Sans'
}

img {
    width: 100%
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: 'Open Sans';
}

img {
    width: 100%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.wrapper {
    background: #192544 url('img/land-bg2.jpg') no-repeat;
    background-position: center top;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background-size: contain;
    padding: 25px 0 0;
    position: relative;
    min-height: 100vh;
}

.logo {
    max-width: 200px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover;
    z-index: 3;
    position: absolute;
    top: 31vh;
}

.lights-bottom {
    background: url('img/light-bottom.png') no-repeat;
    height: 185px;
    background-size: contain;
    background-position: center bottom;
    width: 100%;
}

.play-img {
    max-width: 570px;
    z-index: 2;
}

.cash-win {
    max-width: 65vh;
    margin: 30px auto 0;
}

.game-screen {
    max-width: 75vh;
    margin: 0 auto;
    display: block;
    border: 4px solid #ffa900;
    -webkit-box-shadow: 0 0 8px 0 #feae06, inset 0 0 12px 3px #feae06;
    box-shadow: 0 0 8px 0 #feae06, inset 0 0 12px 3px #feae06;
    border-radius: 8px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.game-screen img {
    display: block;
}

.game-screen:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.game-text {
    display: none;
}

@media (max-width: 1440px) {
    .wrapper {
        background-size: cover;
    }

    .hand-img {
        max-width: 373px;
    }
}

@media (max-width: 1200px) {
    .star-ico {
        left: -25%;
        width: 150%;
    }

    .hand-img {
        max-width: 349px;
        bottom: 8%;
    }
}

@media (max-width: 992px) {
    .wrapper {
        padding-top: 10px;
    }

    .logo {
        max-width: 225px;
    }

    .main {
        margin-top: 100px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .game-screen {
        max-width: 80%;
    }

    .lights-bottom {
        height: 100px;
    }

    .game-screen:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .btn-play {
        width: 318px;
        line-height: 52px;
        font-size: 23px;
    }

    .full-height {
        height: 100vh;
        min-height: 100vh;

        -webkit-transition-property: height, min-height;

        -o-transition-property: height, min-height;

        transition-property: height, min-height;
        -webkit-transition-duration: .6s;
        -o-transition-duration: .6s;
        transition-duration: .6s;
        -webkit-transition-delay: .1s;
        -o-transition-delay: .1s;
        transition-delay: .1s;
        -webkit-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }
}

@media (max-width: 520px) {
    .wrapper {
        padding-top: 10px;
        overflow: hidden;
        min-height: 100vh;
        height: auto;
        background-size: cover;
        background-image: url('./img/bg-mobile.jpg');
    }

    .main {
        height: 100vh;
        position: absolute;
        top: 0;
        margin: 0;
        text-align: center;
    }

    .game-screen {
        margin-top: 135px;
    }

    .game-text {
        max-width: 80%;
        position: absolute;
        top: 12%;
        left: 10%;
        display: block;
    }

    .btn-play {
        bottom: 238px;
    }

    .lights-bottom {
        background-size: cover;
        position: absolute;
        bottom: 0;
    }

    .cash-win {
        padding: 0 10px;
    }

    .logo {
        max-width: 190px;
    }
}

@media (max-width: 450px) {
    .wrapper {
        min-height: inherit;
        height: 100vh;
    }
}

@media screen and (max-width: 450px) and (device-aspect-ratio: 40/71) {
    .lights-bottom {
        bottom: -25px;
    }
}