include ../../common/loader
include ./free-spins-list

mixin apk_android_bonus(content)
    .modal.sm.in.apk-android-bonus
        .modal-dialog
            .modal-content
                div.modal-x-close(onClick=content.poppedBonus.closeModal)

                .apk-android-bonus__row
                    .apk-android-bonus__title= content.poppedBonus.currentBonus ? content.poppedBonus.currentBonus.popup.title : ''

                .apk-android-bonus__row.apk-android-bonus__android
                    .apk-android-bonus__android-bg
                    span.icon.icon-android-cool

                if content.poppedBonus.currentBonus && content.poppedBonus.currentBonus.popup && content.poppedBonus.currentBonus.popup.percent
                    .apk-android-bonus__row.apk-android-bonus__present-box
                        span.icon.icon-present-box
                        .apk-android-bonus__vals(className=(content.poppedBonus.currentBonus.amountFormatted ? 'apk-android-bonus__vals--2' : ''))
                            .apk-android-bonus__val= (content.t('ui-cashback') + ' ' + content.poppedBonus.currentBonus.popup.percent + '%')
                            if content.poppedBonus.currentBonus.amountFormatted
                                .apk-android-bonus__val= (content.t('ui-possible-amount') + ' ' + content.poppedBonus.currentBonus.amountFormatted)

                if content.poppedBonus.currentBonus && content.poppedBonus.currentBonus.freeSpins.length
                    +free_spins_list(content, content.poppedBonus.currentBonus.freeSpins)

                if content.poppedBonus.currentBonus && content.poppedBonus.currentBonus.popup
                    .apk-android-bonus__row
                        .apk-android-bonus__desc(dangerouslySetInnerHTML={ __html: content.poppedBonus.currentBonus.desc})

                    .apk-android-bonus__row.apk-android-bonus__btns
                        button.apk-android-bonus__btn.rules(
                            onClick=content.poppedBonus.handleOpenRules
                            data-entry-id=content.poppedBonus.currentBonus.id
                        )= content.t('ui-rules')

                        if content.poppedBonus.currentBonus && content.poppedBonus.currentBonus.apkLink
                            a.apk-android-bonus__btn.download(
                                href=(content.poppedBonus.currentBonus.apkLink)
                                target="_blank"
                            )= content.t('ui-download')
