mixin modal_auto_logout_after_idle(content)
    .modal.sm.in
        .modal-dialog
            .modal-content
                .modal-title= content.t("ui-auto-logout-after-idle-title")
                .modal-error-content
                    .modal-content-description(dangerouslySetInnerHTML={
                            __html: content.t("ui-auto-logout-after-idle-description")
                        })
                    .modal-content-buttons
                        a.btn.btn-pr(onClick=content.user.redirectToLoginAfterLogout)= content.t("ui-login")
                        a.btn.btn-pr.btn-secondary(onClick=content.user.redirectToMainPageOrRefreshGamePageAfterLogout)= content.t("ui-close")