include ../../common/loader

mixin balance_wager_bonus(content)
    .modal.sm.in.balance-wager-bonus-modal
        .modal-dialog
            .modal-content(className=content.wagerBonus.getWidthClass())
                a.modal-close(href="#", onClick=content.modal.hideModal)
                    span.icon.icon-close
                .modal-title=content.t('ui-balance-wager-bonus-modal-title-new')
                if content.balanceWager.entries
                    +balance_wager_bonuses_list(content, content.balanceWager.entries)
                if content.balanceWager.selectedEntryId && content.balanceWager.selectedEntry
                    +balance_wager_bonus_fields(content, content.balanceWager.selectedEntry)


mixin balance_wager_bonuses_list(content, entries)
    .balance-wager-bonuses-list-container
        .navi-arr.arr-left(onClick=content.balanceWager.scrollListLeftStart)
            i.icon-left-navi
        .balance-wager-bonuses-list#balance-wager-bonuses-list
            for entry in entries
                .bonus-item(className=`${content.balanceWager.selectedEntryId === entry.id ? 'active' : ''} ${entry.available ? 'available' : ''}` id=entry.id onClick=()=>content.balanceWager.onChangeSelectedBonus(entry.id))=content.balanceWager.getEntryListTitle(entry)
        .navi-arr.arr-right(onClick=content.balanceWager.scrollListRightStart)
            i.icon-right-navi

mixin balance_wager_bonus_fields(content, entry)
    .balance-wager-bonus-fields-container
        if entry.available
            +current_balance_block(content, entry)
            +available_fields_block(content, entry)
            .description-block=entry.descriptionFormatted
            .buttons-block
                .balance-wager-bonus-button.decline-button(onClick=content.modal.hideModal)=content.t('ui-decline')
                .balance-wager-bonus-button.accept-button(onClick=content.balanceWager.modalOnClickApply)
                    if content.balanceWager.waitingAnyActions
                        +loader
                    else
                        .text=content.t('ui-accept')
            if entry.timeToLeftActivation
                .bonus-time-expired-block
                    .text=content.t('bonus-expired-time') + ':'
                    .expired-time=entry.timeToLeftActivation
            .accept-disclaimer=content.t('ui-balance-wager-bonus-accept-button-disclaimer-new')
        else if entry.unavailabilityReasons
            +unavailability_reasons(content, entry, entry.unavailabilityReasons)

mixin current_balance_block(content, entry)
    .current-balance-block
        .current-balance-text=content.t('ui-your-current-balance')
        .current-balance-value=entry.currentBalanceFormatted

mixin available_fields_block(content, entry)
    .fields-block
        .field-item
            .field-item-text=content.t('ui-your-last-refill')
            .field-item-value=entry && entry.lastRefillFormatted
        if entry.bonus_type !== content.enums.bonusType.FS_BETS_WAGER_REFILLS_BONUS && entry.bonus_type !== content.enums.bonusType.FS_BALANCE_WAGER_REFILLS_BONUS
            .field-item
                .field-item-text=content.t('ui-after-accept-bonus')
                .field-item-value=entry && entry.balanceAfterBonusAcceptFormatted
        .field-item
            .field-item-text=entry.bonus_type === content.enums.bonusType.FS_BALANCE_WAGER_REFILLS_BONUS || entry.bonus_type === content.enums.bonusType.BALANCE_WAGER_BONUS ? content.t('ui-bonus-redeem') : content.t('ui-wager')
            .field-item-value=entry && 'x' + entry.bonusWager
        if entry.bonus_type === content.enums.bonusType.BALANCE_WAGER_BONUS
            .field-item
                .field-item-text=content.t('ui-withdrawal-available')
                .field-item-value=entry && entry.maxClosingAmountFormatted
        if entry.bonus_type === content.enums.bonusType.BETS_WAGER_REFILLS_BONUS
            .field-item
               .field-item-text=content.t('ui-wager-amount')
               .field-item-value=entry && entry.wagerAmountFormatted
        if entry.bonus_type === content.enums.bonusType.FS_BETS_WAGER_REFILLS_BONUS || entry.bonus_type === content.enums.bonusType.FS_BALANCE_WAGER_REFILLS_BONUS
            +freespins_fields(content, entry)

mixin unavailable_fields_block(content, entry)
    .fields-block
        .field-item
            .field-item-text=content.t('ui-your-last-refill')
            .field-item-value=entry && entry.lastRefillFormatted
        .field-item
            .field-item-text=content.t('min-refill')
            .field-item-value=entry && entry.minRefillFormatted !== null ? entry.minRefillFormatted : '0'
        .field-item
            .field-item-text=content.t('max-refill')
            .field-item-value=entry && entry.maxRefillFormatted
        .field-item
            .field-item-text=entry.bonus_type === content.enums.bonusType.FS_BALANCE_WAGER_REFILLS_BONUS || entry.bonus_type === content.enums.bonusType.BALANCE_WAGER_BONUS ? content.t('ui-bonus-redeem') : content.t('ui-wager')
            .field-item-value=entry && 'x' + entry.bonusWager
        if entry.bonus_type === content.enums.bonusType.FS_BETS_WAGER_REFILLS_BONUS || entry.bonus_type === content.enums.bonusType.FS_BALANCE_WAGER_REFILLS_BONUS
            +freespins_fields(content, entry)
        else
            .field-item
                .field-item-text=content.t('ui-bonus-percent')
                .field-item-value=entry && entry.bonusPercentFromRefill + '%'

mixin freespins_fields(content, entry)
    .field-item
        .field-item-text=content.t('ui-freespins')
        .field-item-value=entry && entry.freeGameCount
    .field-item
        .field-item-text=content.t('ui-bet-per-spin')
        .field-item-value=entry && entry.freeGameBetPerSpinFormatted
    .game-block
        if entry.bonusImageUrl && content.balanceWager.getGameIfExist(entry)
            a.bonus-image(onClick=()=>content.balanceWager.closeModalAndOpenGame(`/game/${content.balanceWager.getGameIfExist(entry).id}`))
                img(src=entry.bonusImageUrl)
        else
            +game_item(content, content.balanceWager.getGameIfExist(entry), undefined, false, false, false)

mixin unavailability_reasons(content, entry, unavailabilityReasons)
    .unavailability-reasons
        if content.userInfo.guest
            .guest-description
                .log-in(onClick=content.modal.showLogin)=content.t('ui-login')
                .text=content.t('balance-wager-bonus-text-for-guest')
        else
            +current_balance_block(content, entry)
        +unavailable_fields_block(content, entry)
        .bonus-unavailability-reason=content.balanceWager.unaviabilityReasonForSelectedEntry
        .buttons-block
            .balance-wager-bonus-button.decline-button(onClick=content.modal.hideModal)=content.t('ui-close')
