include ../../common/loader

mixin bonus_by_code_with_req_deps(content)
    .modal.sm.in.confirm.bonus-by-code
        .modal-dialog
            .modal-content
                a.modal-close(href="#", onClick=content.poppedBonus.closeModal)
                    span.icon.icon-close
                .modal-title=(content.poppedBonus.currentBonus ? content.poppedBonus.currentBonus.title : '')
                br
                .modal-content-container.text-center
                    .modal-text
                        if content.poppedBonus.currentBonus && content.poppedBonus.currentBonus.popup && content.poppedBonus.currentBonus.popup.bigText
                            p(
                                dangerouslySetInnerHTML={
                                    __html: content.poppedBonus.currentBonus.popup.bigText
                                        .replace('{fsWin}', content.poppedBonus.currentBonus.format(content.poppedBonus.currentBonus.popup.fsWin))
                                        .replace('{minDepToProceed}', content.poppedBonus.currentBonus.format(content.poppedBonus.currentBonus.popup.minDepToProceed))
                                }
                            )
                            br
                        if content.poppedBonus.currentBonus && content.poppedBonus.currentBonus.popup && content.poppedBonus.currentBonus.popup.smallText
                            p(
                                dangerouslySetInnerHTML={
                                    __html: content.poppedBonus.currentBonus.popup.smallText
                                        .replace('{linkToProfileBonuses}', content.poppedBonus.currentBonus.popup.linkToProfileBonuses || '')
                                        .replace('{fsWin}', content.poppedBonus.currentBonus.format(content.poppedBonus.currentBonus.popup.fsWin))
                                        .replace('{minDepToProceed}', content.poppedBonus.currentBonus.format(content.poppedBonus.currentBonus.popup.minDepToProceed))
                                }
                            )
                    .modal-wager_bonus
                        .wager-bonus_card
                            button.wager-bonus_button.rules.half-width(
                                onClick=content.poppedBonus.handleOpenProfile
                                data-entry-id=content.poppedBonus.currentBonus.id
                            )= content.t('ui-rules')
