mixin modal_confirm_cashapp_phone(content)
    .modal.sm.in.confirm
        .modal-dialog
            .modal-content
                a.modal-close(href="#", onClick=content.modal.hideModal)
                    span.icon.icon-close
                .modal-title= content.t("ui-confirm-phone")
                .modal-form.tab-pane.active.confirm
                  form
                    if content.confirmForm.success
                      div= content.t("ui-restore-password-success")
                      button.btn-pr(onClick=content.user.hideAuth)= content.t("ui-confirmation-phone-confirmed-close-button")
                    else
                      strong.form-line=content.confirmCashappPhone.phone
                      .form-line.sent-msg=(content.confirmationCodeMethodState.selectedMethod === content.proto.site.ConfirmationMethod.VOICE) ? content.t("confirmation-call-started") : content.t("ui-confirmation-phone-sent")
                      .form-line
                        label.form-label= content.t("ui-confirmation-phone-code")
                        .form-field
                          input(
                            type="text"
                            value=content.confirmCashappPhone.confirmationCode
                            onChange=content.confirmCashappPhone.handleCodeInputChange
                            placeholder=content.t("ui-login-enter-phone-code")
                            autoComplete="one-time-code"
                            autoFocus="autofocus"
                            pattern="[0-9]*"
                            inputMode="numeric"
                          )
                        if content.confirmCashappPhone.error
                          .error=content.t("error-confirm-cashapp-phone-" + content.confirmCashappPhone.error)
                      .submit-line
                        .btn.btn-pr(
                          onClick=content.confirmCashappPhone.submitCode
                          className=content.confirmCashappPhone.isSubmitButtonDisabled ? "btn--disabled" : ""
                        )=content.t("ui-confirmation-phone-confirm-button")
                      if !content.confirmCashappPhone.isLoading
                        .form-line
                          .resend-msg
                            if content.confirmForm.timeLeft === 0
                              a(href="#" onClick=content.confirmCashappPhone.resendCode)=content.t("ui-confirmation-phone-resend-button")
                            else
                              span.resend-msg__timer=content.confirmForm.timeLeftFormatted