include ../profile/forms/form-ref-invite
include ../../controls/confirmation-code-method
include ../profile/forms/form-ref-confirm-own-phone

mixin modal_forced_phone_confirmation(content)
    .modal.modal--ref-system.sm.in(className=content.isMobileOnly ? "mobile" : "")
        .modal-dialog
            .modal-content.profile-ref-system__modal
                .profile-ref-system__modal--ref-invite-form
                    .profile-ref-system__form-invite
                        if content.ref.isShouldSelectCodeMethod
                            +modal_forced_confirmation_method(content)
                        else
                            +form_ref_confirm_own_phone(content)

mixin modal_forced_confirmation_method(content)
    .profile-ref-system__form-content
        .profile-ref-system__form-top
            img.profile-ref-system__form-pic(src="/images/profile/ref-system/form-ref-invite.svg")
            .profile-ref-system__form-invite-title=content.t('verify-phone-voice-and-get-bonus')
            .profile-ref-system__form-invite-desc.profile-ref-system__form-invite-desc--highlighted=content.rawUserInfo.newPhone
        .profile-ref-system__form-bottom
            button.profile-ref-system__form-invite-btn(onClick=content.ref.submitOwnPhone)=content.t("ui-call")
