
mixin free_spins_list(content, freeSpins)
    if freeSpins && freeSpins.length
        .free-spins-list(class=('free-spins-list--' + freeSpins.length))
            each fs in freeSpins
                a.free-spins-list__item(href=content.games.gameUrl(fs.gameId) onClick=content.poppedBonus.handleGameClick external="true")
                    img.free-spins-list__game-icon(src=fs.gameImage, alt=fs.gameName)
                    .free-spins-list__item-vals
                        .free-spins-list__item-val=(fs.spinsCount + ' ' + content.t(content.money.getFreeSpinsToken(fs.spinsCount)))
                        .free-spins-list__item-val=(content.t('ui-bet') + ' ' + fs.betFormatted)
                        .free-spins-list__item-val=(content.t('ui-lines') + ' ' + fs.line)
