mixin modal_game_requires_login(content)
    .modal.sm.in
        .modal-dialog
            .modal-content
                .modal-title=content.t("game-requires-login-title")
                .modal-error-content
                    .modal-content-description(dangerouslySetInnerHTML={
                            __html: content.t("game-requires-login-description")
                        })
                    .modal-content-buttons
                        a.btn.btn-pr(href=content.l("/login"))= content.t("ui-login")
                        a.btn.btn-pr.btn-secondary(onClick=content.user.hideModalAndOpenMainPage)= content.t("ui-close")
