mixin modal_game_requires_another_currency(content)
    .modal.sm.in
        .modal-dialog
            .modal-content
                .modal-title=content.t("game-requires-another-currency-title")
                .modal-error-content
                    .modal-content-description(dangerouslySetInnerHTML={
                            __html: content.t("game-requires-another-currency-description", {currency: content.userInfo.requiredCurrencyCode})
                        })
                    .modal-content-buttons
                        a.btn.btn-pr.btn-pr-auto.btn-secondary.btn--full-width(onClick=content.user.logout)=content.t("ui-login-from-another-account")
                        a.btn.btn-pr.btn-pr-auto.btn--full-width(onClick=content.modal.gameRequiresAnotherCurrencyCallback)= content.t("ui-continue-with-current-currency", {currency: content.userInfo.currencyString})
