mixin ios_safari_add_to_homescreen(content)
    .ios-safari-add-to-homescreen
        .ios-safari-add-to-homescreen__close(onClick=content.site.hideIOSAddToHomescreenBlock)
            span.icon.icon-close
        .ios-safari-add-to-homescreen__row
            .ios-safari-add-to-homescreen__plus
                span.icon.icon-plus
            .ios-safari-add-to-homescreen__text(dangerouslySetInnerHTML={__html: content.t('ios-safari-add-to-homescreen')})