mixin modal_keep_alive_ping(content)
    .modal.sm.in
        .modal-dialog
            .modal-content
                .modal-title= content.t("ui-keep-alive-ping-title")
                .modal-error-content
                    .modal-content-description(dangerouslySetInnerHTML={
                            __html: content.t('ui-keep-alive-ping-description')
                        })
                    .modal-content-buttons
                        a.btn.btn-pr(onClick=content.user.keepAlive)= content.t("ui-keep-alive-ping-button")
                        a.btn.btn-pr.btn-secondary(onClick=content.modal.hideModal)= content.t("ui-close")