
mixin low_balance_popup(content)
  .modal.sm.in
      .modal-dialog.low-balance-popup
          .modal-content.low-balance-popup-container
              a.modal-close(href="#", onClick=content.modal.hideModal)
                  span.icon.icon-close
              .low-balance-popup-content
                  if content.lowBalancePopup.content.title
                      .low-balance-popup-title=content.lowBalancePopup.content.title
                  if content.lowBalancePopup.content.imageUrl
                      .low-balance-popup-image-container
                          img.low-balance-popup-image(src=content.lowBalancePopup.content.imageUrl)
                  if content.lowBalancePopup.content.mainText
                      .low-balance-popup-main(dangerouslySetInnerHTML={__html: content.lowBalancePopup.content.mainText})
                  if content.lowBalancePopup.content.buttonText && content.lowBalancePopup.content.buttonUrl
                      .low-balance-popup-btn-container
                          a.btn.btn-pr.bounce(onClick=() => content.lowBalancePopup.goToButtonUrl(content.lowBalancePopup.content.buttonUrl))
                              span=content.lowBalancePopup.content.buttonText
                  
