mixin modal_non_taken_spins_games(content)
    .modal.sm.in.confirm.non-taken-spins
        .modal-dialog
            .modal-content
                a.modal-close(href="#", onClick=content.modal.hideModal)
                    span.icon.icon-close
                .modal-title= content.t("disclaimer-non-taken-spins-games")
                .modal-form
                    if content.profileBonuses.nonTakenSpinsGames
                        form
                            p.description= content.t("non-taken-spins-games-description")
                            h3.list-title= `${content.t("non-taken-spins-games-list")}:`
                            .non-taken-spins-games-list
                                each game in content.profileBonuses.nonTakenSpinsGames
                                    .game-item(key=game.id)
                                        .game-item__img-container
                                            GameImage(src=content.games.getGameImage(game, '300x188') gameName=game.name[content.language])
                                        .game-item__title
                                            .game-item__name= game.name[content.language]
                            .submit-line.vertical
                                button.btn.btn-pr(onClick=content.modal.hideModal)= content.t("ui-close")
