mixin positive_reg_wager_bonus_closing(content)
    .modal.sm.in
        .modal-dialog
            .modal-content
                .modal-title= content.bonusesInfo.bonusModalNotification.title
                .modal-error-content
                    p= content.bonusesInfo.bonusModalNotification.description
                    .modal-content-buttons
                        a.btn.btn-pr(onClick=content.user.hideModalAndOpenWithdrawalsPage href=content.l("/"))= content.t("ui-withdrawal-button")
