mixin modal_ref_invite_was_sent(content)
    .modal.modal--ref-system.sm.in(className=content.isMobileOnly ? "mobile" : "")
        .modal-dialog
            .modal-content.profile-ref-system__modal
                +invite_mobile_top_buttons(content)
                .profile-ref-system__modal--was-sent
                    .profile-ref-system__modal-top
                        .profile-ref-system__modal-top-title
                            img.profile-ref-system__modal-icon-was-sent(src="/images/profile/ref-system/ref-invite-was-sent.svg")
                            .profile-ref-system__modal-title=content.t(content.ref.isManualSMSMode && !content.ref.isManualSendFromAndroid ? "ref-invite-was-generated" : "ref-invite-was-sent-title")
                            .profile-ref-system__modal-desc=content.t(content.ref.isManualSMSMode && !content.ref.isManualSendFromAndroid ? "ref-invite-was-generated-description" : "ref-invite-was-sent-description")
                        if !!content.ref.lastInviteInfo && !!content.ref.lastInviteInfo.loginLink
                            .profile-ref-system__modal-invite-share
                                .profile-ref-system__modal-invite-link-copy-title=content.t(content.isMobileOnly ? 'click-on-the-button-to-share-link' : 'click-on-the-button-to-copy-link')
                                .profile-ref-system__modal-invite-link-wrap
                                    .profile-ref-system__modal-invite-link=content.ref.lastInviteInfo.loginLink
                                    if content.ref.isMobileOnly
                                        button.profile-ref-system__modal-invite-link-copy(onClick=content.ref.shareLastInviteLink)=content.t("ui-share")
                                    else
                                        button.profile-ref-system__modal-invite-link-copy(onClick=content.ref.copyLastInviteLink)=content.t(content.ref.isCopiedToClipboard ? "ui-copied" : "ui-copy")
                                if content.ref.isWebShareSupported
                                    .profile-ref-system__modal-invite-link-share-title=content.t('or-share-invite-via')
                                    .profile-ref-system__modal-invite-share-options
                                        .profile-ref-system__modal-invite-share-fb(onClick=content.ref.shareLastInviteLink)
                                        .profile-ref-system__modal-invite-share-ig(onClick=content.ref.shareLastInviteLink)
                                        .profile-ref-system__modal-invite-share-tw(onClick=content.ref.shareLastInviteLink)
                                        .profile-ref-system__modal-invite-share-wa(onClick=content.ref.shareLastInviteLink)
                                        .profile-ref-system__modal-invite-share-mail(onClick=content.ref.shareLastInviteLink)
                    .profile-ref-system__modal-bottom-buttons
                        button.profile-ref-system__modal-btn.profile-ref-system__modal-btn--primary(onClick=content.ref.showInviteAnotherFriend)=content.t("ui-invite-more")
                        button.profile-ref-system__modal-btn.profile-ref-system__modal-btn--secondary(onClick=content.ref.openProfileRefPage)=content.t("ui-track-status")
