include ../profile/forms/form-ref-invite
include ../ref-system/invite-mobile-top-buttons

mixin modal_ref_invite_form(content)
    .modal.modal--ref-system.sm.in(className=content.isMobileOnly ? "mobile" : "")
        .modal-dialog
            .modal-content.profile-ref-system__modal
                +invite_mobile_top_buttons(content)
                .profile-ref-system__modal--ref-invite-form
                    +form_ref_invite(content)
