
mixin refill_redeem(content)
  .modal.sm.in
      .modal-dialog.refill-redeem-modal-dialog
          .modal-content.refill-redeem-modal-container
              a.profile-ref-system__modal-close(href="#", onClick=content.ref.hideModal)
                  span.icon.icon-close
              .refill_redeem_modal
                  .card_popup__slide
                    .refill-redeem-slide
                      .refill-redeem-description=content.t('refill-redeem-description')
                      .refill-redeem-login(
                          class=`${content.rawUserInfo.displayName && content.rawUserInfo.displayName.length > 6 ? 'small' : ''}`
                      )=content.rawUserInfo.displayName
                      .refill-redeem-info=content.t('refill-redeem-location-must-be-same')
                  
