
mixin skycrypto_withdrawal(content)
  .modal.sm.in
      .modal-dialog.withdrawal-link-modal-container
          .modal-content
              a.modal-close(href="#", onClick=content.modal.hideModal)
                  span.icon.icon-close
              .modal-title= content.t("withdrawal-skycrypto-link-title")
              .withdrawal-link-modal-content
                  .modal-content-description= content.t('withdrawal-skycrypto-link-description')
                  .btn.btn-pr(onClick=() => window.open(content.withdrawalStore.withdrawalLinkForModal))= content.t('ui-withdrawal-link-open')
                  input.withdrawal-link-modal-link(readonly=true value=content.withdrawalStore.withdrawalLinkForModal)
              
                  
