include ../../common/loader

mixin wager_bonus(content)
    .modal.sm.in#wager_bonus
        .modal-dialog
            .modal-content(className=content.wagerBonus.getWidthClass())
                a.modal-close(href="#", onClick=content.modal.hideModal, className=content.wagerBonus.getWidthClass())= content.t("ui-close")
                .modal-title-dark
                    .big-heading= content.t("ui-wager-bonus")
                    .small-heading= content.t("ui-read-rules")
                .modal-wager_bonus
                    if content.wagerBonus.waitingAnyActions
                        .modal-wager_bonus-loader
                            +loader
                    else
                        if content.wagerBonus.confirmingActivation
                            if content.wagerBonus.confirmationEntry.freeSpinsGameName
                                p.wager-bonus_confirm-text= content.t("wager-bonus-sure-to-apply")
                                p.wager-bonus_confirm-text= content.t("wager-bonus-sure-to-apply-conditions", {redeem: content.wagerBonus.confirmationEntry.redeem})
                            else
                                p.wager-bonus_confirm-text= content.t("wager-bonus-sure-to-apply")
                                p.wager-bonus_confirm-text= content.t("wager-bonus-sure-to-apply-conditions-amount", {redeem: content.wagerBonus.computeRedeemAmount()})
                            .wager-bonus_apply_buttons
                                button.wager-bonus_button.rules.half-width(onClick=content.wagerBonus.cancelConfirmation)= content.t('ui-cancel')
                                button.wager-bonus_button.apply.half-width(
                                    onClick=content.wagerBonus.modalOnClickApply
                                    data-entry-id=content.wagerBonus.confirmationEntry.id
                                )= content.t("ui-bonus-alert-decline-confirm")
                        else
                            each entry in content.wagerBonus.entries
                                .wager-bonus_card
                                    if entry.type === content.enums.wagerBonusCaseType.FREESPINS
                                        .wager-bonus_card-title= entry.title
                                        .wager-bonus_card-free-spins-game-name= content.t("wager-bonus-freespins-in-modal-desc", {gameName: entry.freeSpinsGameName, betPerLine: entry.freeSpinsGameBet})
                                    else
                                        .wager-bonus_card-title= entry.title
                                    if entry.type === content.enums.wagerBonusCaseType.FREESPINS
                                        .wager-bonus_info.amount
                                            .wager-bonus_info-title.amount= content.t('ui-freespins')
                                            .wager-bonus_info-value.amount= entry.amount
                                        .wager-bonus_info.redeem
                                            .wager-bonus_info-title.redeem= content.t('ui-redeem')
                                            .wager-bonus_info-value.redeem= 'X' + entry.redeem
                                    else
                                        .wager-bonus_info.amount
                                            .wager-bonus_info-title.amount= content.t('ui-deposit')
                                            .wager-bonus_info-value.amount= 'X' + entry.amount
                                        .wager-bonus_info.redeem
                                            .wager-bonus_info-title.redeem= content.t('ui-redeem')
                                            .wager-bonus_info-value.redeem= 'X' + entry.redeem
                                    button.wager-bonus_button.rules.half-width(
                                        onClick=content.wagerBonus.modalOnClickRules
                                        data-entry-id=entry.id
                                    )= content.t('ui-wager-bonus-rules')
                                    button.wager-bonus_button.apply.half-width(
                                        onClick=content.wagerBonus.onClickModalTryApply
                                        data-entry-id=entry.id
                                        disabled=!entry.isAvailable
                                    )= content.t('ui-wager-bonus-apply')

mixin wager_bonus_confirmation(content)
    .modal.sm.in
        .modal-dialog
            .modal-content
                .modal-title= content.t("ui-apply-bonus")
                .modal-error-content
                    if content.wagerBonus.confirmationEntry.freeSpinsGameName
                        p.wager-bonus_confirm-text= content.t("wager-bonus-sure-to-apply")
                        p.wager-bonus_confirm-text= content.t("wager-bonus-sure-to-apply-conditions", {redeem: content.wagerBonus.confirmationEntry.redeem})
                    else
                        p.wager-bonus_confirm-text= content.t("wager-bonus-sure-to-apply")
                        p.wager-bonus_confirm-text= content.t("wager-bonus-sure-to-apply-conditions-amount", {redeem: content.wagerBonus.computeRedeemAmount()})
                    .modal-content-buttons
                        a.btn.btn-pr.btn-secondary(onClick=content.wagerBonus.cancelConfirmationModal)= content.t('ui-cancel')
                        a.btn.btn-pr(
                            onClick=content.wagerBonus.modalOnClickApply
                            data-entry-id=content.wagerBonus.confirmationEntry.id
                            className=content.wagerBonus.waitingAnyActions ? 'btn--loading': undefined
                        )= content.t("ui-bonus-alert-decline-confirm")
