include ../bonuses/bonuses-promo-code

mixin modal_wrong_promo_code(content)
    .modal.sm.in.modal--wrong-promo-code
        .modal-dialog
            .modal-content
                .modal-title= content.t("title-wrong-promo-code")
                .modal-error-content
                    +bonuses_promo_code(content)
                    .modal-content-buttons
                        a.btn.btn-pr.btn-secondary(onClick=content.refillStore.promoCodeForm.closeWrongPromoCodeModal)=content.t("ui-close")
                        if !content.refillStore.promoCodeForm.isNewForm
                            a.btn.btn-pr(onClick=content.refillStore.onActivatePromoCodeClick disabled=content.refillStore.promoCodeForm.isLoading class=content.refillStore.promoCodeForm.isLoading ? '' : 'btn-primary')=content.t("ui-activate")