include ./tournaments-list-finished-item
include ./tournaments-list-active-item
include ./tournaments-leaders-list
include ./tournaments-games-list
include ./tournaments-background-overlay
include ./tournaments-list-item-background-overlay
include ./tournaments-image-header
include ./tournaments-banner
//include ./tournaments-list-item-banner