mixin tournaments_filter(content)
    .tournaments-filter
        each tournamentType in content.tournamentsActions.tournamentsFilterTypes
            a.btn.btn-vl.btn-tournaments-filter(
                href="#",
                onClick=() => { content.tournamentsActions.changeFilterType(tournamentType)},
                class=tournamentType===content.tournamentsActions.tournamentsFilterType ? 'active' : ''
            )
                span= content.t(`ui-tournaments-${tournamentType}`)
