mixin tournaments_games_list(content, header, tournament)
    .tournaments-games-list
        header=header
        .row
            each game in tournament.games
                +game_item(content, game, undefined, true, false)