mixin tournaments_list_item_background_overlay(type, top)
    .tournaments-list-item-background-overlay
        if type === "new-year"
            if top
                .gold-star
                .heat-package
            else
                .red-star
                .snowflake
        else if type === "keno"
            if top
                .bb52
                .bb25
            else
                .b69
                .b1
        else if type === "xmas"
            if top
                .cone
                .bear
            else
                .wreath
                .candy
        else if type === "battle-of-slots"
            if top
                .devil
                .angel
            else
                .coin
                .cube
        else if type === "egypt-treasures"
            if top
                .scarabei
            else
                .book
        else if type === "love-day"
            if top
                .heart-middle
        else if type === "woman-day"
            if top
                .present-second
            else
                .present-first
        else if type === "gold-rush"
            if top
                .star
                .golden-nugget-1
                .golden-nugget-2
            else
                .golden-nugget-3
        else if type === "weekly"
            if top
                .coin-right
            else
                .dollar-left
                .dollar-bottom