mixin main_tournaments_main_page_item(content, tournament)
  a.tournaments-main-page-block(className=tournament.mainPageClass || undefined href=content.l('/tournaments/' + tournament.id))
    +background_layer(content, tournament)
    header.tournament-name=content.t('ui-tournament') + ' "' + content.t(tournament.name) + '"'
    section.prize-pool
      .tournament-prize-pool
        span=tournament.prizePoolStr
    section.tournament-countdown-container
      .tournament-countdown
        header=content.t('ui-tournament-ends')
        Countdown(id=(tournament.id + '-countdown'), to=tournament.finishAt.toNumber() / 1000)

mixin background_layer(content, tournament)
  if tournament.type === content.enums.tournamentType.EGYPT_TREASURES
    .background-layer
      .bookof
      .gor
  else if tournament.type === content.enums.tournamentType.LOVE_DAY
    .background-layer
      .item-right
      .item-left
  else if tournament.type === content.enums.tournamentType.WOMENS_DAY
    .background-layer
      .item-right
      .item-left
  else if tournament.type === content.enums.tournamentType.DEFENDER_OF_THE_FATHERLAND
    .item-right
    .item-left
  else if tournament.type === content.enums.tournamentType.VACATION
    .background-layer
      .item-right
      .item-left
  else if tournament.type === content.enums.tournamentType.GOLD_RUSH
    .background-layer
      .item-right
      .item-left
  else if tournament.type === content.enums.tournamentType.WEEKLY
    .background-layer
      .item-right
      .item-left