mixin tournaments_list_active_item(content, tournament, isUpcoming)
    article.tournaments-list-active-item(className=tournament.tournamentListClass)
        if isUpcoming
            .card-item
                +card_item_content(content, tournament, isUpcoming)
        else
            a.card-item(href=content.l('/tournaments/' + tournament.id))
                +card_item_content(content, tournament, isUpcoming)

        footer
            if tournament.tournamentListClass === "tournaments-tournaments-list-page-keno"
                +tournaments_list_item_background_overlay("keno", false)
            else if tournament.tournamentListClass === "tournaments-tournaments-list-page-new-year"
                +tournaments_list_item_background_overlay("new-year", false)
            else if tournament.tournamentListClass === "tournaments-tournaments-list-page-xmas"
                +tournaments_list_item_background_overlay("xmas", false)
            else if tournament.tournamentListClass === "tournaments-tournaments-list-page-battle-of-slots"
                +tournaments_list_item_background_overlay("battle-of-slots", false)
            else if tournament.tournamentListClass === "tournaments-tournaments-list-page-egypt-treasures"
                +tournaments_list_item_background_overlay("egypt-treasures", false)
            else if tournament.tournamentListClass === "tournaments-tournaments-list-page-love-day"
                +tournaments_list_item_background_overlay("love-day", false)
            else if tournament.tournamentListClass === "tournaments-tournaments-list-page-woman-day"
                +tournaments_list_item_background_overlay("woman-day", false)
            else if tournament.tournamentListClass === "tournaments-tournaments-list-page-defender-of-the-fatherland"
                +tournaments_list_item_background_overlay("defender-of-the-fatherland", false)
            else if tournament.tournamentListClass === "tournaments-tournaments-list-page-gold-rush"
                +tournaments_list_item_background_overlay("gold-rush", false)
            else if tournament.tournamentListClass === "tournaments-tournaments-list-page-weekly"
                +tournaments_list_item_background_overlay("weekly", false)
            +tournaments_leaders_list(content, content.t('ui-leaders'), tournament, 10)
            +tournaments_games_list(content, content.t('ui-tournament-games'), tournament)

mixin card_item_content(content, tournament, isUpcoming)
    if tournament.tournamentListClass === "tournaments-tournaments-list-page-keno"
        +tournaments_list_item_background_overlay("keno", true)
    else if tournament.tournamentListClass === "tournaments-tournaments-list-page-new-year"
        +tournaments_list_item_background_overlay("new-year", true)
    else if tournament.tournamentListClass === "tournaments-tournaments-list-page-xmas"
        +tournaments_list_item_background_overlay("xmas", true)
    else if tournament.tournamentListClass === "tournaments-tournaments-list-page-battle-of-slots"
        +tournaments_list_item_background_overlay("battle-of-slots", true)
    else if tournament.tournamentListClass === "tournaments-tournaments-list-page-egypt-treasures"
        +tournaments_list_item_background_overlay("egypt-treasures", true)
    else if tournament.tournamentListClass === "tournaments-tournaments-list-page-love-day"
        +tournaments_list_item_background_overlay("love-day", true)
    else if tournament.tournamentListClass === "tournaments-tournaments-list-page-woman-day"
        +tournaments_list_item_background_overlay("woman-day", true)
    else if tournament.tournamentListClass === "tournaments-tournaments-list-page-defender-of-the-fatherland"
        +tournaments_list_item_background_overlay("defender-of-the-fatherland", true)
    else if tournament.tournamentListClass === "tournaments-tournaments-list-page-gold-rush"
        +tournaments_list_item_background_overlay("gold-rush", true)
    else if tournament.tournamentListClass === "tournaments-tournaments-list-page-weekly"
        +tournaments_list_item_background_overlay("weekly", true)
    figure.tournaments-list-item-icon
    .card-body
        header.accent=content.t(tournament.name)
        p.primary=tournament.prizePoolStr
        if isUpcoming
            footer.secondary=content.tournamentsActions.getLocaleTournamentSchedule(tournament.id)
        else
            .countdown-container
                header=content.t('ui-tournament-ends')
                Countdown(id=tournament.id to=tournament.finishAt.toNumber() / 1000)
