mixin tournaments_leaders_list(content, header, tournament, slice, showDetails)
    .tournaments-leaders
        header=header
        if tournament.leaders.length
            each leader in (slice ? tournament.leaders.slice(0, slice) : tournament.leaders)
                +leader_item(content, leader)
        else
            .tournaments-leaders-no-data=content.t('ui-tournament-leaderboard-no-data')
        if slice && showDetails && tournament.leaders.length
                div=content.t('ui-details')

mixin leader_item(content, leader)
    .leader-item
        .leader-item-content
            span.index=leader.index + '.'
            span.name=leader.name
            span.amount=leader.amountStr