mixin tournaments_background_overlay(type)
    .tournaments-background-overlay
        if type === "new-year"
            .santa
            .heat-package
            .cone
            .candy
            .snowflake
            .red-star
            .gold-star
        else if type === "xmas"
            .bear
            .bottle
            .snowflake
            .christmas-ball
            .cone
            .candy
            .gift-package
            .green
            .wreath
        else if type === "keno"
            .b1
            .b33
            .b41
            .b69
            .b73
            .b74
            .bb62
            .bb52
            .bb9
            .bb25
        else if type === "battle-of-slots"
            .devil
            .angel
            .pumpkins
            .skeleton
            .pumpkin
        else if type === "egypt-treasures"
            .book
            .scarabei
        else if type === "love-day"
            .girl
            .casket
            .heart-large
            .heart-middle
            .heart-small
        else if type === "defender-of-the-fatherland"
            .tank-left
            .tank-right
            .airplane
        else if type === "woman-day"
            .present-first
            .starburst-first
            .starburst-second
        else if type === 'vacation'
            .girl
        else if type === 'gold-rush'
            .cowboy
            .crates
            .star-2
            .bullet
            .pocket
            .pocket.pocket-2
            .gold-nuggets
            .many
        else if type === 'weekly'
            .page-coin-left
            .page-coin2-left
            .page-dollar-right
            .page-chip-right
            .page-chip2-right
            .page-dollar2-right