mixin tournaments_list_item_banner(type, header, body)
    section.card-item.tournaments-list-item-banner
        div.banner-icon
            figure
                img(src="/images/tournaments/"+type+"/banner-icon.png")
        div.banner-body
            header=header
            p=body