mixin tournaments_list_finished_item(content, tournament)
  if tournament.winners.length
    div.card-item.tournaments-list-fininshed-item.tournaments-list-unclickable-item(className=tournament.tournamentListClass)
      figure.tournaments-list-item-icon
      section.card-body
        header.accent=content.t(tournament.name)
        div
         span=tournament.previousStartAt
         span=' - '
         span=tournament.previousFinishAt
        +tournaments_winners_list(content, content.t('ui-winners'), tournament)
  else
    a.card-item.tournaments-list-fininshed-item(className=tournament.tournamentListClass href=content.l('/tournaments/' + tournament.id))
      figure.tournaments-list-item-icon
      section.card-body
        header.accent=content.t(tournament.name)
        +tournaments_leaders_list(content, content.t('ui-winners'), tournament, 3, true)