mixin tournaments_banner(type, promoText, header, body, withLight, showSecondBannerIcon)
	if promoText
		p.tournament-promo-text= promoText
	section.tournament-section-banner(className=withLight ? "tournament-section-banner-light" : "")
		figure.tournament-section-banner-icon
			img(src="/images/tournaments/" + type + "/banner-icon.png")
		if showSecondBannerIcon
			figure.tournament-section-banner-icon.tournament-section-banner-icon--second
				img(src="/images/tournaments/" + type + "/banner-icon-second.png")
		header=header
		p=body