mixin tournaments_winners_list(content, header, tournament)
    .tournaments-winners
        header=header
        if tournament.winners.length
            each winner in tournament.winners
                +winner_item(content, winner)
        else
            .tournaments-winners-no-data=content.t('ui-tournament-winnerboard-no-data')

mixin winner_item(content, winner)
    .winner-item
        .winner-item-content
            span.index=winner.index + '.'
            span.name=winner.name
            span.amount=winner.amountStr