include guest-popup-blocks

mixin guest_popup_bonuses(content)
    .modal.guest-modal.sm.in
        .modal-dialog
            .modal-content
                a.modal-close(onClick=content.guestPopup.hidePopup)
                    span.icon.icon-close
                h2.modal-title= content.t("ui-offer-for-registration-title-3", {"site-name": content.site.siteName})
                .modal-content-container.text-center
                    .modal-text
                        p(dangerouslySetInnerHTML={
                            __html: content.t("ui-offer-for-registration-desc-3",
                                {
                                    "site-name": content.site.siteName,
                                    "login-url": content.l('/login?p4=' + content.enums.guestPopup.BONUSES),
                                    "register-url": content.l('/register?p4=' + content.enums.guestPopup.BONUSES)
                                })
                        })

                    +popup_bonus_cards_block(content)
                    a.btn.btn-pr(href=content.l('/register?p4=' + content.enums.guestPopup.BONUSES) onClick=content.guestPopup.hidePopup)= content.t("ui-registration-button")
                    +popup_popular_games_block(content, content.enums.guestPopup.BONUSES)