mixin popup_winners_block(content)
    .block-content.modal-winners(ref=content.makeRef('winners-top'))
        each winner in content.topWins.winners.slice(0, 4)
            a.winner-list__item.winner(key=winner.id title=winner.title href=winner.link external="true")
                img.winner__game-image(src="#{winner.icon}")
                div.winner__info
                    span.winner__game= winner.game
                    span.winner__name= winner.user
                div.winner__prize__container
                    span.winner__prize= winner.amountString

mixin popup_popular_games_block(content, popupId)
    h4.modal-subtitle= content.t("ui-popular-games")
    .modal-games-list
        each game in content.games.popularGames.slice(0, 3)
            +popup_game_item(content, game, popupId)
        a.game-item.game-item-empty(href=content.l("/games/popular") onClick=content.guestPopup.hidePopup)
            span.game-item-empty__text= content.t('ui-more-games')

mixin popup_jackpot_block(content)
    .modal-block-jackpot
        a.money.money--jackpot(href=content.l('/jackpot') onClick=content.guestPopup.hidePopup)
            span.money__amount
                JackpotCounter(end=content.jp.amountNumber duration=750 formattingFn=content.jp.currencyFormattingFn)
            span.money__currency= content.jp.currency

mixin popup_bonus_cards_block(content)
    .modal-bonus-cards-block
        +popup_bonus_card(content, {className: 'modal-bonus-card--gradient-1', image: '/images/bonuses/Crown.svg', 'text': content.t('ui-bonus-card-desc-1', {value: '207%'})})
        +popup_bonus_card(content, {className: 'modal-bonus-card--gradient-2', image: '/images/bonuses/Chips.svg', 'text': content.t('ui-bonus-card-desc-2', {value: '37%'})})

mixin popup_bonus_card(content, settings)
    .modal-bonus-card(class= settings.className)
        img.modal-bonus-card__img(src=settings.image)
        .modal-bonus-card__text= content.t(settings.text)

mixin popup_game_item(content, game, popupId)
    if game && game.id
        .game-item(key=game.id)
            .game-item__img-container
                GameImage(src=content.games.getGameImage(game, '300x188') gameName=game.name[content.language])
            .game-item__title
                .game-item__name= game.name[content.language]
                .game-item__btn= content.t("ui-play")
            a.game-item__link(href=content.l("/register?p4=" + popupId) id=("game_" + game.id) external="true" target=content.isMobile ? "_blank" : "_self")