@import "../../mixin"

.card-item
    display: flex
    border-radius: 8px
    background-color: $dark-blue-grey
    overflow: hidden
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27), inset 0 1px 0 0 rgba(255, 255, 255, 0.16)

.card-item > figure
    border-top: 1px solid rgba(255,255,255,0.31)
    border-radius: 8px 0 0 8px

.card-item .card-body
    border-radius: 0 8px 8px 0
    padding: 14px 25px
    text-align: left
    flex: 1
    font-weight: 600
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5)
    color: white
    @include mobile
        padding: 7px 12px

.card-item .card-body > *,
.card-item figure
    margin: 0

.card-item .accent
    color: $yellow

.card-item .secondary
    opacity: 0.5

