@import "../../swatches"
@import "../../mixin"

.expandable-container
  border-top: 1px solid rgba(29, 38, 64, 0.5)

.expandable-container:first-child
  margin-top: 12px

.expandable-container-header
  position: relative
  height: 34px
  cursor: pointer

.expandable-container-header-caption
  @include text-ellipsis
  padding: 11px 32px 11px 0
  width: 100%
  font-size: 12px
  line-height: 1
  color: $yellow
  text-transform: uppercase
  user-select: none

.expandable-container-content
  height: 0
  overflow: hidden
  transition: height 0.20s ease-in-out

.expandable-container-header-icon
  display: block
  position: absolute
  right: 6px
  top: 8px
  width: 16px
  height: 16px
  font-size: 17px

.bonus-conditions-group
  padding-top: 8px

.expandable-container-content .bonus-conditions-group:first-child
  padding-top: 0

.expandable-container-content .bonus-conditions-group:last-child
  margin-bottom: 8px

.bonus-condition
  font-size: 12px
  color: $color-white

//.bonus-condition:last-child
//  margin-bottom: 10px

.bonus-condition-name,
.bonus-condition-value
  display: inline-block
  vertical-align: middle

.bonus-condition-name
  padding-right: 4px
