mixin promo_link(content, label, promoLinkContent, isCopied, isImageShown)
    .promo-link
        if label
            label.input__label=label
        .referral-link__container
            .referral-link__container_col.referral-link__container_col--input
                .referral-markup=promoLinkContent.markup
            .referral-link__btn-container
                button.btn.btn-secondary.referral-link__btn(
                    onClick=promoLinkContent.handleCopy
                )=(isCopied ? content.t("ui-copied") : content.t("ui-copy"))
            .referral-link__container_col
                button.btn.btn-pr.referral-link__btn.promo-link__btn(
                    onClick=promoLinkContent.handleToggleImage
                )=(isImageShown ? content.t("ui-hide") : content.t("ui-show"))
        .referral-link__container--img(
            className=isImageShown ? 'show' : 'hidden' 
            dangerouslySetInnerHTML={ __html: promoLinkContent.markup }
        )