mixin referral_link(content, label, referralLinkContent, isCopied)
    .referral-link
        if label
            label.input__label=label
        .referral-link__container
            .referral-link__container_col.referral-link__container_col--input
                input.form-control(value=referralLinkContent.link readOnly=true)
            .referral-link__btn-container
                button.btn.btn-pr.referral-link__btn(onClick=(referralLinkContent.handleCopy))=(isCopied ? content.t("ui-copied") : content.t("ui-copy"))