include profile
include ../../common/loader

mixin profile_affiliate(content)
    .profile-page-content
        .profile-section-group.profile-section-group--header
            .profile-group-cell.profile-group-cell--first.profile-group-cell--custom-bg
                .profile-group-description
                    h2.profile-section-title= content.t("ui-affiliate-program")
                    p.profile-page-description= content.t("ui-disclaimer-profile-affiliate-part-1", {"site-name": content.site.siteName})
                    p.profile-page-description= content.t("ui-disclaimer-profile-affiliate-part-2")
                    if !content.rawUserInfo.refCode
                        p.profile-page-description= content.t("ui-disclaimer-profile-affiliate-part-3")
            if !content.rawUserInfo.refCode
                .profile-group-cell.profile-group-cell--second
                    .profile-group-description
                        h2.profile-section-title.invisible= content.t("ui-affiliate-program")
                        .submit-line
                            button.btn.btn-pr.btn-block.btn-become-member(onClick=content.affiliateProgram.createRefCode disabled=content.affiliateProgram.isRefCodeLoading)=content.t("ui-become-member")
                        if content.affiliateProgram.refCodeError
                            div.error= content.affiliateProgram.refCodeError
            else
                .profile-group-cell.profile-group-cell--second
                    .profile-group-form.profile-group-form-withdrawal
                        if content.affiliateProgram.refInfo
                            .referral-balance= content.affiliateProgram.getRefInfoBalance()
                        else
                            .referral-balance
                                +loader
                        p.profile-page-description= content.t("ui-disclaimer-profile-affiliate-withdrawal")
                        button.btn.btn-secondary.btn-block(onClick=content.affiliateProgram.onRequestWithdrawal)= content.t("ui-request-withdrawal")
        if content.rawUserInfo.refCode
            .profile-section-group.profile-section-group--promo-links
                .profile-group-form
                    h2.profile-section-title=content.t("ui-promotional-materials")
                    +profile_referal_link(content)
                    +profile_promo_links(content)