mixin back_button(content, settingsLabel)
  .bottom-buttons-container(onClick=()=>content.router.push(content.isMobileOnly ? content.l('/profile/menu') : content.l('/profile/edit')))
    .bottom-button(className=settingsLabel ? 'light-blue' : '')=settingsLabel ? content.t('ui-profile-settings') : content.t('ui-back')

mixin top_back_button(content)
  .top-back-button-container(onClick=()=>content.router.push(content.isMobileOnly ? content.l('/profile/menu') : content.l('/profile/edit')))
    img(src="/images/icons/arrow-left-profile.svg")
    .text=content.t('ui-back')

mixin top_back_button_desktop(content)
  .top-back-button-container.desktop(onClick=()=>window.history.back())
    img(src="/images/icons/arrow-left-profile.svg")
    .text=content.t('ui-back')
