mixin phone_field_show(content, onButtonClick, withoutWarn)
  .field-container
    .main-block
      .type=content.t('ui-phone')
      if !content.rawUserInfo.phone && !content.rawUserInfo.newPhone
        .text-block
          .text.assign=content.t('ui-assign-phone')
          img(src="/images/icons/profile-warn-sign.svg")
      else
        .text=withoutWarn ? content.rawUserInfo.newPhone || content.rawUserInfo.phone : content.rawUserInfo.phone || content.rawUserInfo.newPhone
        if !content.rawUserInfo.phoneConfirmed && !withoutWarn
          .new-phone-warn
            img(src="/images/icons/profile-warn-sign.svg")
            .text=content.t('ui-phone-not-confirmed')
    .button-block
      .button-field(onClick=onButtonClick className=!content.rawUserInfo.phone && !content.rawUserInfo.newPhone ? 'assign' : '')=!content.rawUserInfo.phone && !content.rawUserInfo.newPhone ? content.t('ui-assign') : content.t('ui-change')

      
mixin email_field_show(content, onButtonClick)
  .field-container
    .main-block
      .type=content.t('ui-email')
      if !content.rawUserInfo.email && !content.rawUserInfo.newEmail
        .text-block
          .text.assign=content.t('ui-assign-email')
          img(src="/images/icons/profile-warn-sign.svg")
      else
        //- .text=content.rawUserInfo.email || content.rawUserInfo.newEmail
        if !content.rawUserInfo.emailConfirmed
          .new-email-warn
            //- img(src="/images/icons/profile-warn-sign.svg")
            .text= (content.rawUserInfo.email || content.rawUserInfo.newEmail) + " " + content.t('ui-email-not-confirmed')
          //- .send-email-again(onClick=content.profileEdit.tryResendEmailConfirmation)=content.t('ui-email-send-again')
        else
          .text=content.rawUserInfo.email || content.rawUserInfo.newEmail
    if content.rawUserInfo.emailConfirmed
      .button-block
        .button-field(onClick=onButtonClick className=!content.rawUserInfo.email && !content.rawUserInfo.newEmail ? 'assign' : '')=!content.rawUserInfo.email && !content.rawUserInfo.newEmail ? content.t('ui-assign') : content.t('ui-change')
    else
      .button-block
        .button-field(onClick=content.profileEdit.tryResendEmailConfirmation)=content.t('ui-confirmation-phone-confirm-button')

mixin password_field(content, onButtonClick)
  .field-container
    .main-block
      .type=content.t('ui-password')
      .text-block
        .text.assign=content.t('ui-change-password')
    .button-block
      .button-field.pass-change(onClick=onButtonClick)= content.t('ui-change')

mixin user_id_field(content)
  .field-container
    .main-block
      .type=content.t('ui-user-id')
      .text=content.rawUserInfo.userId ? content.rawUserInfo.userId.toNumber() : '-'
