include ./buttons
include ./fields

mixin profile_phone(content)
  .profile-page-content
    .profile-phone-title=content.t('ui-phone-numbers')
    +phone_field_show(content, content.profileEdit.goToPhoneEdit)
    +back_button(content)
