include ./links/referral-link
include ./links/promo-link

mixin profile_referal_link(content)
    .referral-links
        +referral_link(
            content,
            content.t("ui-referral-link"),
            content.affiliateProgram.getReferralLinkContent(),
            content.affiliateProgram.isCopied("referral")
        )

mixin profile_promo_links(content)
    .promo-links
        each promoLink in content.affiliateProgram.promoBanners
            .linque
                +promo_link(
                    content,
                    promoLink.label,
                    content.affiliateProgram.getPromoLinkContent(promoLink),
                    content.affiliateProgram.isCopied(promoLink.id),
                    content.affiliateProgram.isImageShown(promoLink.id)
                )