include ../../common/loader
include ../../ui/table
include ../../ui/no-data/section-no-data

mixin profile_documents(content)
    .profile-page-content
        //- .profile-documents__top
        //-     h1.profile-documents__title=content.t("ui-profile-documents-verification")
        //-     if content.chat.active
        //-         a.profile-documents__support(onClick=content.site.showChat href="#")=content.t("ui-profile-documents-support")
        if content.profileDocuments.isLoading
            .profile-bonuses-loader
                .profile-bonuses-loader-content
                    +loader
        else
            //- .profile-documents-tabs
            //-     .profile-documents-tab(onClick=() => content.profileDocuments.changeTab('required') className=content.profileDocuments.isActiveTab('required') ? 'active' : '')=content.t('ui-profile-documents-required')
            //-     .profile-documents-tab(onClick=() => content.profileDocuments.changeTab('optional') className=content.profileDocuments.isActiveTab('optional') ? 'active' : '')=content.t('ui-profile-documents-optional')
            //-     .profile-documents-tab(onClick=() => content.profileDocuments.changeTab('history')  className=content.profileDocuments.isActiveTab('history')  ? 'active' : '')=content.t('ui-profile-documents-history')
            
            //- if content.profileDocuments.isActiveTab('required')
            //-     +documents_content(content, content.profileDocuments.requiredDocumentTypes, true)
            //- else if content.profileDocuments.isActiveTab('optional')
            //-     +documents_content(content, content.profileDocuments.optionalDocumentTypes)
            //- else
            //-     +history_content(content)

            +documents_content(content, content.t('ui-profile-documents-required'), content.profileDocuments.requiredDocumentTypes, true)
            +documents_content(content, content.t('ui-profile-documents-optional'), content.profileDocuments.optionalDocumentTypes)
            +history_content(content, content.t('ui-profile-documents-history'))

mixin documents_content(content, headerContent, docsList, hasWarnSign)
    .documents-tab-content
        .profile-documents-tab=headerContent
        if docsList.length > 0
            .documents-tab-content.documents-tab-content-element-container
                each docType in docsList
                    a.documents-tab-content-element(href=`/profile/documents/upload/${docType.name.toLowerCase()}`)
                        .left-block
                            img.documents-tab-content-element-left-icon(src=`/images/icons/profile-docs/${docType.name.toLowerCase()}.svg`)
                            .title= content.t("ui-profile-documents-type-" + docType.name)
                        .right-block
                            if hasWarnSign
                                .warn-sign-icon
                            img.documents-tab-content-element-right-icon(src="/images/icons/arrow-right-profile.svg")
        else
            .documents-tab-content-not-found
                .documents-tab-content-not-found-text=content.t('ui-profile-documents-not-found')

mixin history_content(content, headerContent)
    .documents-tab-content.history
      .profile-documents-tab=headerContent
      if content.profileDocuments.documents && content.profileDocuments.documents.length > 0
        .profile-documents-history__items
            each section in Object.keys(content.profileDocuments.documentsByType)
                if content.profileDocuments.documentsByType[section].length
                    .profile-documents-history__section
                        each doc in content.profileDocuments.documentsByType[section]
                            .profile-documents-history__item(key=doc.id)
                                .profile-documents-history__item-left
                                    a.profile-documents-history__document-name(href=doc.url external="true" target="_blank")=content.t("ui-profile-documents-type-" + content.profileDocuments.documentTypesNames[doc.type])
                                    .profile-documents-history__document-date=content.t('ui-sended') + ' ' + content.format(doc.uploadedAt.toNumber(), 'LLL dd yyyy')
                                    if doc.comment && doc.status === content.profileDocuments.DOCUMENT_STATUS.UDS_REJECTED
                                        .profile-documents-history__comment
                                            span=content.t("ui-reason")
                                            span=`: ${doc.comment}`
                                        a.profile-document-history__upload-again-btn(href=`/profile/documents/upload/${content.profileDocuments.getDocNameById(section)}`)=content.t('ui-upload-again')
                                .profile-documents-history__item-right
                                    .profile-documents-history__status(className=`status-${doc.status}`)=content.t("ui-profile-documents-history-status-" + doc.status)
      else
        .documents-tab-content-not-found
            .documents-tab-content-not-found-text=content.t('ui-profile-history-not-found')

mixin documents_warning(content)
    a.profile-documents-warning(href=content.l("/profile/documents"))
        .profile-documents-warning__left
            .icon-warn
        .profile-documents-warning__content=content.t("ui-profile-documents-warning")
