include ../../common/loader
include ./forms/form-ref-invite

mixin profile_ref_system(content)
    .profile-page-content.profile-page-content--ref-system
        .profile-ref-system
            a.dialog-close-icon.dialog-close-icon--ref-system(href=content.l("/"))
            .profile-ref-system__title
                span=content.t("ui-invite-friend")
                +profile_ref_system_rules_link(content)
            if !content.ref.isReady
                .profile-ref-system__loader
                    +loader
            else
                .profile-ref-system__info
                    +profile_ref_system_stat(content)
                    .profile-ref-system__table(ref=content.ref.invitesListRef)
                        .profile-ref-system__table-body
                            each invite in content.ref.invites
                                +profile_ref_system_invite(invite, content)
                        if content.ref.isPaginatorShown
                            +profile_ref_system_paginator(content)

mixin profile_ref_system_rules_link(content)
    a.profile-ref-system__rules(href=content.l("/p/ref-system") external="true" target="_blank")
        img.profile-ref-system__rules-icon(src="/images/profile/ref-system/rules.svg")
        span.profile-ref-system__rules-title=content.t("ui-rules")

mixin profile_ref_system_stat(content)
    .profile-ref-system__stat
        .profile-ref-system__stat-block.profile-ref-system__stat-block--attention
            .profile-ref-system__stat-title.profile-ref-system__stat-title--attention=content.t("ref-system-attention-message")
        .profile-ref-system__stat-block.profile-ref-system__stat-block--totals
            .profile-ref-system__stat-block-total
                .profile-ref-system__stat-title=content.t("total-bonuses-received")
                .profile-ref-system__stat-amount=content.ref.formattedTotalObtainedBonusesAmount
            .profile-ref-system__stat-block-total.profile-ref-system__stat-block-total--with-separator
                .profile-ref-system__stat-title=content.t("total-players-invited")
                .profile-ref-system__stat-amount=content.ref.totalCount.toNumber()
        .profile-ref-system__stat-block
            .profile-ref-system__stat-title=content.t("want-more-bonuses")
            button.profile-ref-system__stat-btn-invite(onClick=content.ref.showRefInviteForm)=content.t("ui-invite-more")
    if content.ref.refInviterBonusesCount > 0 && content.ref.isBonusesManualActivation
        .profile-ref-system__stat
            .profile-ref-system__stat-block.profile-ref-system__stat-block--bonus-count
                .profile-ref-system__stat-title=content.t("ref-inviter-bonuses-count", {counter: content.ref.refInviterBonusesCount})
                if !!content.ref.refInviterBonusAvailableForActivation
                    button.profile-ref-system__stat-btn-invite.profile-ref-system__stat-btn-invite--activate(onClick=content.ref.activateRefInviterBonus disabled=content.ref.isBonusActivating)=content.t("ui-activate")
                else
                    .profile-ref-system__stat-error=content.t("you-cant-activate-this-bonus-cuz-have-another")

mixin profile_ref_system_paginator(content)
    .profile-ref-system__paginator
        .profile-ref-system__paginator-arrow(onClick=content.ref.goToPrevPage)
            img(src="/images/profile/ref-system/arrow.svg")
        each page in content.ref.paginationPages
            .profile-ref-system__paginator-page(className=content.ref.activePageNumber === page - 1 ? "profile-ref-system__paginator-page--active" :" " onClick=() => content.ref.openPage(page))=page
        .profile-ref-system__paginator-arrow.profile-ref-system__paginator-arrow--forward(onClick=content.ref.goToNextPage)
            img(src="/images/profile/ref-system/arrow.svg")

mixin profile_ref_system_invite(invite, content)
    .profile-ref-system__table-item
        .profile-ref-system__table-item-left
            img.profile-ref-system__table-item-icon(src="/images/profile/ref-system/user.svg")
            .profile-ref-system__table-item-phone-wrap
                .profile-ref-system__table-item-phone=invite.opts.guestPhone
        .profile-ref-system__table-item-right
            if invite.opts.invitationStatus === content.proto.users.invitations.InvitationBusinessStatus.SCHEDULED_FOR_DELIVERY || invite.opts.invitationStatus === content.proto.users.invitations.InvitationBusinessStatus.IN_DELIVERY
                .profile-ref-system__table-item-status.profile-ref-system__table-item-status--sent
                    span=content.t(content.isMobileOnly ? "invite-was-sent--mobile" : "invite-was-sent")
            else if invite.opts.invitationStatus === content.proto.users.invitations.InvitationBusinessStatus.MANUAL_SENDING
                .profile-ref-system__table-item-status.profile-ref-system__table-item-status--sent
                    span=content.t(content.isMobileOnly ? "invite-was-sent--mobile" : "invite-was-sent-manually")
            else if invite.opts.invitationStatus === content.proto.users.invitations.InvitationBusinessStatus.COMPLETED
                .profile-ref-system__table-item-status.profile-ref-system__table-item-status--accepted
                    span=content.t(content.isMobileOnly ? "invite-was-accepted--mobile" : "invite-was-accepted")
            else if invite.opts.invitationStatus === content.proto.users.invitations.InvitationBusinessStatus.ACCEPTED
                .profile-ref-system__table-item-status.profile-ref-system__table-item-status--rejected
                    span=content.t(content.isMobileOnly ? "invite-was-not-accepted--mobile" : "invite-was-not-accepted")
            else if invite.opts.invitationStatus === content.proto.users.invitations.InvitationBusinessStatus.ANOTHER_USER_INVITATION_ACCEPTED
                .profile-ref-system__table-item-status.profile-ref-system__table-item-status--rejected
                    span=content.t(content.isMobileOnly ? "user-accepted-another-invite--mobile" : "user-accepted-another-invite")
            .profile-ref-system__table-item-last-column
                if invite.opts.invitationStatus === content.proto.users.invitations.InvitationBusinessStatus.MANUAL_SENDING && content.ref.isManualSendFromAndroid
                    AHref(href=invite.smsLink className="profile-ref-system__table-item-status profile-ref-system__table-item-status--resend" text=content.t("ui-resend"))
                else if invite.isResendButtonVisible
                    .profile-ref-system__table-item-status.profile-ref-system__table-item-status--resend(onClick=invite.resend)
                        span=content.t("ui-resend")
                if !!invite.opts.loginLink && (invite.opts.invitationStatus === content.proto.users.invitations.InvitationBusinessStatus.SCHEDULED_FOR_DELIVERY || invite.opts.invitationStatus === content.proto.users.invitations.InvitationBusinessStatus.IN_DELIVERY || invite.opts.invitationStatus === content.proto.users.invitations.InvitationBusinessStatus.MANUAL_SENDING)
                    .profile-ref-system__table-item-copy(onClick=invite.copyLink)=content.t(invite.isCopiedToClipboard ? "ui-copied" : "ui-copy-invite-link")
