include ./buttons

mixin profile_menu(content, isMobileMenu)
    nav.navbar.profile-menu
        .collapse.navbar-collapse
            ul.nav.navbar-nav
                each item in content.profileMenu.profileMenuItems
                    li
                        a(
                            class=content.page === item.page ? "navbar__link navbar__link--active": "navbar__link"
                            onClick=() => content.profileMenu.openSection(item)
                        )
                            .item-name
                                //- img(src=item.iconPath)
                                span=item.name
                            //- .right-block
                            //-     if item.hasWarnSign
                            //-         .warn-sign-icon
                            //-     img(className="right-arrow" src="/images/icons/arrow-right-profile.svg")
