include forms/form-phone
include forms/form-email
include forms/form-password
include ./fields

mixin profile_edit(content)
    .profile-page-content
        //- .profile-title=content.t('ui-edit-profile')
        if content.appSettings.showUserIdInProfile
          .profile-edit-row
            .profile-card.user-id
              +user_id_field(content)
        .profile-edit-row
          .profile-card.full-witdh
            +phone_field_show(content, content.profileEdit.goToPhoneEdit)
        .profile-edit-row
          .profile-card.full-witdh
            +email_field_show(content, content.profileEdit.goToEmailEdit)
        .profile-edit-row
          .profile-card.full-witdh
            +password_field(content, content.profileEdit.goToPasswordEdit)
        if content.hasUserFields
          +user_fields_card(content)

mixin user_fields_card(content)
  .profile-edit-row
    .profile-card.full-witdh.user-fields
      .field-container
        .main-block
          .type=content.t('ui-personal-data')
        .button-block
          .button-field(onClick=() => content.router.push(content.l('/profile/edit/personal-data')))= content.t('ui-change')
      .personal-data-card-content
        .personal-data-card-content-block
          .personal-data-card-content-list
            each field in content.siteConfig.userFields
              .personal-data-card-content-element
                .personal-data-card-content-element-title=content.t("ui-" + field.name)
                .personal-data-card-content-element-value=content.profileEdit.getUserField(field.name)
