include ../../common/loader
include ../../ui/table
include ../../ui/no-data/section-no-data
include ./buttons

mixin profile_documents_upload(content)
    .profile-page-content.profile-documents-upload-content
        if content.profileDocuments.currentDocType
            if content.profileDocuments.isLoading
                .profile-bonuses-loader
                    .profile-bonuses-loader-content
                        +loader
            else if content.profileDocuments.currentDocType.isSuccessUpload
                +upload_success(content)
            else
                +top_back_button_desktop(content)
                .profile-documents-upload-container
                  .profile-documents__top
                      h1.profile-documents__title=content.t("ui-profile-documents-type-"+content.profileDocuments.currentDocType.name)
                  .profile-documents-upload-description(dangerouslySetInnerHTML={__html: content.t("ui-profile-documents-info-type-" + content.profileDocuments.currentDocType.name)})
                  .profile-documents-upload
                      +profile_documents_block_upload(content, content.profileDocuments.currentDocType)


mixin profile_documents_block_upload(content, docType)
    .profile-documents-block
        input.profile-documents-block__file-input(type="file" multiple="multiple" name="document" accept=content.profileDocuments.mimeTypes.join(', ') ref=docType.fileInputRef onChange=docType.handleSelectedFile)
        .profile-documents-block-type-icon(onClick=docType.showFileSelectionDialog onDrop=docType.fileDropHandler onDragOver=docType.onDragOver onDragEnter=docType.onDragEnter onDragLeave=docType.onDragLeave className=`type-${docType.id}`)
        each file in docType.preparedFiles
          .file-block
            .file-name=file.info.name
            .file-remove-btn(onClick=file.remove)=content.t('ui-remove')
        .profile-documents-btn-container
          .select-file-btn(onClick=docType.showFileSelectionDialog)=docType.preparedFiles.length > 0 ? content.t('ui-profile-documents-add-more') : content.t('ui-profile-documents-add')
        
        if docType.errors.length > 0
          .profile-documents-block__errors
              each error in docType.errors
                .profile-documents-block__error
                    .profile-documents-block__error-left
                        .icon-error
                    .profile-documents-block__error-content
                        if error.fileName
                            strong=`${error.fileName}: `
                        span=content.t("error-profile-documents-" + error.status)

        if docType.preparedFiles.length > 0
          .bottom-buttons-container.send(onClick=docType.uploadFiles)
            .bottom-button.light-blue
              if docType.isUploading
                .bottom-button-loader
                  +loader
              else 
                span= content.t('ui-send')

mixin upload_success(content)
    .profile-card
      .success-confirm
        img.success-sign(src="/images/icons/success-sign.svg")
        .title=content.t('ui-success-upload-files')
        .text=content.t("ui-success-upload-files-description")
        .bottom-buttons-container.success
          .bottom-button(onClick=()=>content.router.push(content.isMobileOnly ? content.l('/profile/menu') : content.l('/profile/edit')))= content.t('ui-profile-settings')
          .bottom-button.light-blue(onClick=()=>content.router.push(content.l('/profile/documents')))= content.t('ui-next-verification')
