include ./buttons
include ./fields

mixin profile_email(content)
  .profile-page-content
    .profile-email-title=content.t('ui-edit-profile-email')
    +email_field_show(content, content.profileEdit.goToEmailEdit)
    +back_button(content)
