include ../../common/loader
include ../../ui/table
include ../../ui/no-data/section-no-data

mixin profile_bonus_balances(content)
    .profile-page-content
        if content.userBonusesStore.isBonusBalanceLoading
            .profile-bonuses-loader
                .profile-bonuses-loader-content
                    +loader
        else if content.userBonusesStore.bonusBalances && content.userBonusesStore.bonusBalances.length > 0
            .profile-bonuses-section
                h3.profile-section-title.profile-bonuses-section-title=content.t('ui-bonus-balances')
                .profile-bonus-balances
                    each bonus in content.userBonusesStore.bonusBalancesWithTotalWager
                        +profile_bonus_balance(content, bonus)
        else
            +section_no_data(content, content.t('ui-no-bonus-balances', {'site-name': content.site.siteName}), '/images/icons/icon-cash2.svg')

mixin profile_bonus_balance(content, bonus)
    .profile-bonus-balance
        .profile-bonus-balance__top
            .profile-bonus-balance__name=bonus.name
            if bonus.formattedAvailableAmount !== undefined
                span.profile-bonus-balance__amount=bonus.formattedAvailableAmount
        .profile-bonus-balance__description
            if bonus.formattedPossibleAmount !== undefined
                span=content.t('ui-bonus-balance-possible-amount')
                strong=bonus.formattedPossibleAmount
            else if bonus.description !== undefined
                span(dangerouslySetInnerHTML={__html: bonus.description})
        if bonus.wagerLeftInitial !== undefined
            .profile-bonus-balance__wagered
                span=content.t("ui-wager-progress")
                strong=content.t("ui-wager-progress-details", {played: bonus.wagered, currency: content.bonusesInfo.currencyCode, total: bonus.wagerLeftInitial})
        if bonus.wagerEndTime
            .profile-bonus-balance__timer
                .profile-bonus-balance__timer-title=content.t('time-to-left-wagering') + ':'
                .profile-bonus-balance__timer-value=content.profileBonuses.formatMsToTime(bonus.wagerEndTime)
        if bonus.afterCorrection
            .profile-bonus-balance__timer
                .profile-bonus-balance__timer-title=content.t('balance-after-wagering') + ':'
                .profile-bonus-balance__timer-value=bonus.afterCorrection
