mixin card_item(header, body, footer, cardClass, iconClass, iconSrc)
    article.card-item(className=(cardClass))
        figure.card-icon(className=iconClass)
            if !iconClass
                img(src=iconSrc)
        section.card-body
            header.accent=header
            p.primary=body
            footer.secondary=footer