@import "../../../swatches.sass"
@import "../../../mixin.sass"
    
.tournaments-tournament-page-gold-rush
    overflow: hidden
    article
        position: relative
    @include mobile
        header img
            max-width: 290px
    
.tournaments-page-content .tournaments-tournament-page-gold-rush
    .leaders-header
        background-color: #2b0701
        margin-top: 0
        margin-bottom: 0
        padding-top: 30px
    .leaders
        background-color: #2b0701
        @include mobile
            padding-bottom: 0

.tournaments-page-content .tournaments-tournament-page-gold-rush h1
    color: #fff

.tournaments-page-content .tournaments-tournament-page-gold-rush .flipdown .rotor-group-heading
    opacity: 1
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-gold-rush h2.tournament-has-ended
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)

.tournaments-page-content .tournaments-tournament-page-gold-rush .tournament-article-body h2
    margin: 0
    padding: 15px 0
    @include tablet
        padding: 30px 0

.tournaments-page-content .tournaments-tournament-page-gold-rush .tournament-article-body .tournament-article-leaders h2
    padding-bottom: 0

.tournaments-page-content .tournaments-tournament-page-gold-rush .tournament-article-body .tournament-article-games h2
    color: #fff

.tournaments-page-content .tournaments-tournament-page-gold-rush .tournament-article-body .tournament-article-rules h2
    @include mobile
        padding-bottom: 0
    color: #fff
    padding-bottom: 15px

.tournaments-page-content .tournaments-tournament-page-gold-rush h2.tournament-ends
    color: #fff
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
    @include tablet
        margin-top: 20px
        margin-bottom: 25px

.tournaments-tournament-page-gold-rush .tournament-section-banner
    figure
        img
            height: 100%
