@import "../../../swatches.sass"
@import "../../../mixin.sass"

.tournaments-tournaments-list-page-gold-rush.tournaments-list-active-item
    border: none
    .card-item
        position: relative
        z-index: 10
        background-image: linear-gradient(to bottom, #af2e25, #700d22)
    > footer
        position: relative

.tournaments-tournaments-list-page-gold-rush .game-item .game-item__img-container
    border-color: #ff7c00

.tournaments-page-content.tournaments-list-page .tournaments-tournaments-list-page-gold-rush
    border: 1px solid #a47c00
    border-top-left-radius: 6px
    border-top-right-radius: 6px

    .card-item header.accent
        color: #fff
        margin-top: 10px
        margin-bottom: 0
        @include tablet
            font-size: 32px

    .card-item .card-body
        text-shadow: none

    .game-item
        @include tablet
            padding: 4px

    .game-item__title
        background: #8f4800
        font-size: 8px

    .game-item__img-container
        border-radius: 4px 4px 0 0

    .game-item__title
        border-radius: 0 0 4px 4px
        height: 21px

.tournaments-list-page .tournaments-tournaments-list-page-gold-rush > footer
    border-bottom-left-radius: 4px
    border-bottom-right-radius: 4px

.tournaments-list-page-upcoming .tournaments-tournaments-list-page-gold-rush .card-item .secondary
    color: #000
