@import "../../../mixin.sass"
@import "../mixin.sass"

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-gold-rush article
    @include desktop
        padding-bottom: 220px

.tournaments-page-content .tournaments-tournament-page-gold-rush .tournament-article
    position: relative
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), inset 0 7px 0 0 rgba(248, 167, 126, 0.6), inset 8px 0 0 0 rgba(248, 167, 126, 0.33), inset -8px 0 0 0 rgba(248, 167, 126, 0.3)
    background: url(/images/tournaments/gold-rush/bg-pattern.jpg) 0 0 repeat-y
    background-color: #552b00
    background-size: 100% 600px

.tournaments-main-page-block-gold-rush
    border: 1px solid #840010

.tournaments-main-page-block-gold-rush .tournament-name
    color: #fff

.tournaments-page-content .tournaments-tournament-page-gold-rush
    background-image: linear-gradient(to bottom, #791a20, #88251e)
    position: relative

.tournaments-page-content .tournaments-tournament-page-gold-rush::before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: url(/images/tournaments/gold-rush/background-cowboy.png) left 100px/390px no-repeat, url(/images/tournaments/gold-rush/background.jpg) center top / contain no-repeat

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-gold-rush article .tournament-section-banner .tournament-section-banner-icon
    @include tablet
        height: 550px

// region ---- main page, leaders
.tournaments-tournament-page-gold-rush .tournament-article-leaders
    position: relative
    background-color: rgba(51, 25, 0, 0.7)

.tournaments-tournament-page-gold-rush .tournament-article-leaders.tournament-article-leaders--show
    min-height: 325px
    @include desktop
        padding-bottom: 370px

.tournaments-tournament-page-gold-rush .tournament-article-leaders.tournament-article-leaders--show h2
    padding: 30px 0

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-gold-rush .leaders-header
    background: transparent
    color: #fff
    @include tablet
        font-size: 24px

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-gold-rush .leaders
    background: transparent

.tournaments-page-content .tournaments-tournament-page-gold-rush .leaders .leader-item
    @include desktop
        padding: 0 60px

.tournaments-page-content .tournaments-tournament-page-gold-rush .leader-item-content
    border-bottom: 1px solid rgba(255, 255, 255, 0.5)
    padding-bottom: 9px

.tournaments-tournament-page-gold-rush .tournament-article-leaders-icon
    display: none
    @include desktop
        width: 514px
        height: 361px
        display: block
        background: url(/images/tournaments/gold-rush/leaders-image.png) center center no-repeat
        background-size: contain
        bottom: 0
        position: absolute
        left: 50%
        transform: translateX(-50%)
// ---- endregion

// region ---- main page, games

.tournaments-tournament-page-gold-rush .tournament-article-games
    background-color: rgba(51, 25, 0, 0.7)
    padding-bottom: 25px
    @include tablet
        padding-bottom: 50px

.tournaments-tournament-page-gold-rush .tournament-article-games h2
    @include tablet
        margin-top: 45px
        margin-bottom: 30px

.tournaments-tournament-page-gold-rush .tournaments-page-content-games .game-item
    max-width: initial
    width: 50%
    @include desktop
        width: 25%
        padding: 4px

.tournaments-tournament-page-gold-rush .tournaments-page-content-games .game-item .game-item__favorites
    @include desktop
        right: 8px
        top: 8px

.tournaments-tournament-page-gold-rush .tournaments-page-content-games .game-item__img-container
    border: 1px solid #ff7c00
    border-bottom: transparent
    @include desktop
        border-top-left-radius: 6px
        border-top-right-radius: 6px

.tournaments-tournament-page-gold-rush .tournaments-page-content-games .game-item__title
    @include desktop
        border-bottom-left-radius: 6px
        border-bottom-right-radius: 6px
        height: 27px
        font-size: 10px

// ---- endregion

// region ---- rules section

.tournaments-tournament-page-gold-rush .rules
    @include mobile
        padding-left: 15px

// ---- endregion

// region ---- main page, header
.tournaments-tournament-page-gold-rush .tournament-article-header
    position: relative
    z-index: 100

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-gold-rush article .tournament-section-banner
    height: auto
    position: inherit
    padding-bottom: 50px
    @include tablet
        padding-bottom: 300px

.tournaments-page-content .tournaments-tournament-page-gold-rush .tournament-article-header h2
    position: relative
    color: #fff

.tournaments-tournament-page-gold-rush .tournament-article-header .tournament-prize-pool
    //color: #000
    position: relative

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-gold-rush article .tournament-section-banner p
    margin-bottom: 0

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-gold-rush article .tournament-section-banner figure
    bottom: 0
    left: 5%
    @include tablet
        left: 0

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-gold-rush article .tournament-section-banner figure img
    display: inherit
    @include mobile
        max-height: 225px
        height: 44vw

    @include mobile-xs
        height: 50vw

// ---- endregion

.tournament-page .tournaments-tournament-page-gold-rush .tournament-days
    position: relative
    color: #fff
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
    @include tablet
        margin-top: 25px

.tournaments-tournaments-list-page-gold-rush
    background-image: linear-gradient(to bottom, #af2e25, #700d22)

    .card-body
        background-image: linear-gradient(to bottom, #88251e, #560a1a)
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27), inset 0 1px 0 0 rgba(255, 255, 255, 0.16)

.tournaments-tournaments-list-page-gold-rush .leader-item-content
    padding-bottom: 9px
    border-bottom: 1px solid rgba(255, 255, 255, 0.25)

.tournaments-tournaments-list-page-gold-rush .tournaments-list-item-background-overlay
    @include tablet-max
        display: none
    @include asset('gold-rush','star', 193, 207)
        right: -43px
        top: -62px
    @include asset('gold-rush','golden-nugget-1', 69, 48)
        top: -49px
        right: -60px
    @include asset('gold-rush','golden-nugget-2', 87, 99)
        right: -22px
        bottom: -8px
    @include asset('gold-rush','golden-nugget-3', 113, 109)
        bottom: -25px
        right: -55px

.tournaments-tournament-page-gold-rush .tournaments-background-overlay
    @include tablet-max
        display: none
    pointer-events: none
    position: absolute
    width: 100%
    bottom: 0
    top: 0
    @include asset('gold-rush','cowboy', 491, 889)
        top: 150px
        left: -55%
    @include asset('gold-rush','crates', 323, 437)
        top: 590px
        right: -42%
    @include asset('gold-rush','star-2', 492, 558)
        top: 930px
        left: -34.5%
    @include asset('gold-rush','bullet', 76, 82)
        top: 54%
        left: -5%
        z-index: 10
    @include asset('gold-rush','pocket', 209, 281)
        top: 54%
        right: -18%
        z-index: 10
    @include asset('gold-rush','gold-nuggets', 386, 194)
        bottom: 0
        left: 50%
        transform: translateX(-50%)
    @include asset('gold-rush','many', 313, 265)
        top: 1000px
        right: -12%
        z-index: 10

.tournaments-tournament-page-gold-rush .tournaments-background-overlay .pocket-2
    transform: rotate(-35deg) scale(0.75)
    bottom: 420px
    left: -20%
    top: auto

.tournaments-main-page-block-gold-rush
    border: 1px solid #891E2E
    background-image: linear-gradient(to bottom, #840010, #4c1204)
    position: relative
    .background-layer
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
    .background-layer ~ *
        z-index: 2
        position: relative

.tournaments-main-page-block.tournaments-main-page-block-gold-rush
    background-image: linear-gradient(to bottom, #88251e, #560a1a)
    position: relative
    .background-layer
        .item-left
            position: absolute
            background: url('/images/tournaments/gold-rush/main-block/item-left-xs.png') left / contain no-repeat
            width: 175px
            height: 100%
            left: 28%
            @include desktop
                left: 25%
                background-position-y: 0
                background: url('/images/tournaments/gold-rush/main-block/item-left.png') top / contain no-repeat
            @include tablet-max
                left: 0
                bottom: 0
                height: 100%
            @include mobile
                width: 120px
            @include mobile-xs
                left: 0
        .item-right
            position: absolute
            background: url('/images/tournaments/gold-rush/main-block/item-right-xs.png') center / contain no-repeat
            height: 100%
            right: 24%
            width: 220px
            @include desktop
                right: 23.5%
                width: 205px
                background-position: center 0
                background-image: url('/images/tournaments/gold-rush/main-block/item-right.png')
            @include tablet-max
                right: -10px
                bottom: 0
                height: 100%
                width: 85px
                background-position-y: -10px

.tournaments-main-page-block.tournaments-main-page-block-gold-rush::after
    position: absolute
    left: 2%
    width: 130px
    height: 100%
    content: ''
    background: url('/images/tournaments/gold-rush/main-block/main-bg.png') left / contain no-repeat

.tournaments-list-active-item.tournaments-tournaments-list-page-gold-rush
    background: #390509

    footer
        position: relative
    .card-body
        background-image: linear-gradient(to bottom, #88251e, #560a1a)
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27), inset 0 1px 0 0 rgba(255, 255, 255, 0.16)

.tournaments-tournaments-list-page-gold-rush .tournaments-list-item-icon
    width: 300px
    height: auto
    position: relative
    @include tablet
        min-height: 188px
    @include mobile
        width: 180px
        height: auto
    @include mobile-xs
        width: 128px
        height: auto

.tournaments-list-active-item.tournaments-tournaments-list-page-gold-rush .tournaments-list-item-icon::after
    content: ''
    position: absolute
    left: -10%
    bottom: 0
    width: 120%
    height: 110%
    background: url('/images/tournaments/gold-rush/list-item-background.png') center / 100% 100% no-repeat

.tournaments-tournaments-list-page-gold-rush .tournaments-list-item-icon::after
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 100%
    background: url('/images/tournaments/gold-rush/list-item-background.png') center / 100% 100% no-repeat

// region ---- finished tournament block, tournaments list
.tournaments-list-page .tournaments-list-fininshed-item.tournaments-tournaments-list-page-gold-rush .leader-item-content
    border: none
    padding-bottom: 0

.tournaments-page-content.tournaments-list-page .tournaments-list-page-upcoming .tournaments-tournaments-list-page-gold-rush .card-item header.accent
    color: $yellow
// ---- endregion
