@import "../swatches"
@import "../mixin"

$progress-bar-height: 40px
$progress-bar-padding: 4px
$progress-bar-bg: $gr-vertical
$progress-bar-shadow: 0 0 8px 0 #feae06, inset 0 0 12px 3px #feae06
$progress-bar-input-background: rgba(0, 0, 0, 0.15)

.progress-bar-label
  display: inline-block
  color: $color-white
  margin-bottom: 7px

.progress-bar-scale
  position: relative
  height: $progress-bar-height
  border-radius: 8px
  background-color: $progress-bar-input-background
  border: solid 1px $blue-grey
  text-align: left

.progress-bar-value
  position: absolute
  top: 50%
  margin-top: -11px
  right: 10px
  height: 22px
  font-size: 16px
  font-weight: bold
  text-align: right
  color: $color-white

.progress-bar-progress
  display: inline-block
  min-width: 8px
  height: $progress-bar-height - $progress-bar-padding
  max-width: calc(100% - 2px)
  margin: 1px
  border-radius: 6px
  background-image: $progress-bar-bg
  box-shadow: $progress-bar-shadow

.progress-bar-thin__label,
.progress-bar-thin__value
  font-size: 12px
  color: $color-white

.progress-bar-thin__scale
  margin: 3px 0
  position: relative
  height: 15px
  background-color: $progress-bar-input-background
  border: 1px solid $blue-oyster
  border-radius: 4px

.progress-bar-thin__progress
  position: absolute
  display: inline-block
  min-width: 8px
  height: 11px
  margin: 1px
  max-width: calc(100% - 2px)
  border-radius: 3px
  background-image: $gr-yellow
  box-shadow: 0px 0px 8px $yellow-shadow
