@import "../mixin"

$game-item-img-height: 173px
$game-item-title-height: 40px
$game-item-offset: 8px

.section-no-data
  width: 100%
  margin: $game-item-offset 0
  min-height: $game-item-img-height + $game-item-title-height

.section-no-data-content
  @include desktop
    min-width: 661px

.section-no-data-image
  margin: 88px 0
  img
    width: 100%
    @include desktop
      width: 612px

.section-no-data-disclaimer
  font-size: 25px
  color: $yellow
  text-align: center
