/*normalize css*/
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

/*end*/

body {
    margin: 0;
    font-family: 'Open Sans'
}

img {
    width: 100%
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.wrapper {
    background: #192544 url("img/bg-land4.jpg") no-repeat;
    background-position: center top;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-size: contain;
    padding: 25px 0 0;
    position: relative;
    min-height: 100vh
}

.logo {
    max-width: 420px;
    margin: 0 auto;
    position: relative;
    z-index: 10
}

.main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover;
    z-index: 3
}

.btn-play {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-shadow: 0 0 8px 0 #feae06, inset 0 0 12px 3px #feae06;
    box-shadow: 0 0 8px 0 #feae06, inset 0 0 12px 3px #feae06;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#feae00), to(#fa7c34));
    background-image: -webkit-linear-gradient(top, #feae00, #fa7c34);
    background-image: -o-linear-gradient(top, #feae00, #fa7c34);
    background-image: linear-gradient(to bottom, #feae00, #fa7c34);
    display: block;
    border-radius: 50px;
    width: 482px;
    line-height: 81px;
    margin-bottom: 43px;
    font-size: 30px;
    font-weight: bold;
    z-index: 2;
    cursor: pointer
}

.btn-play:hover {
    -webkit-box-shadow: 0 0 14px 9px #feae06, inset 0 0 12px 3px #feae06;
    box-shadow: 0 0 14px 9px #feae06, inset 0 0 12px 3px #feae06
}

.play-img {
    max-width: 570px;
    z-index: 2
}

.hand-img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    margin: auto
}

.footer {
    height: 218px;
    background: #173071;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-bottom: 28px;
    padding-top: 25px;
    z-index: 4;
    margin-top: -20px
}

.mbtc {
    max-width: 760px;
    margin: 0 auto
}

.footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    list-style: none;
    width: 945px;
    margin: 0 auto;
    padding-left: 0;
}

.game-text {
    display: none;
}

@media (max-width: 1440px) {
    .wrapper {
        background-size: cover
    }

    .main {
        min-height: 100vh
    }

    .hand-img {
        max-width: 373px
    }
}

@media (max-width: 1200px) {
    .star-ico {
        left: -25%;
        width: 150%
    }

    .hand-img {
        max-width: 349px;
        bottom: 8%
    }
}

@media (max-width: 992px) {
    .logo {
        max-width: 225px
    }

    .btn-play {
        width: 318px;
        line-height: 52px;
        font-size: 23px
    }

    .hand-img {
        max-width: 349px;
        bottom: 8%
    }

    .footer {
        height: auto;
        padding-bottom: 0
    }

    .footer ul {
        width: 100%;
        text-align: center;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        box-sizing: border-box;

        -ms-flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .footer li {
        margin-top: 30px;
        text-align: center;
    }

    .mbtc {
        max-width: 500px;
    }

    .wrapper {
        min-height: inherit;
    }

    .main {
        min-height: inherit;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .btn-play {
        bottom: 160px;
        position: relative;
        z-index: 99999;
    }

    .full-height {
        height: 100vh;
        min-height: 100vh;

        -webkit-transition-property: height, min-height;

        -o-transition-property: height, min-height;

        transition-property: height, min-height;
        -webkit-transition-duration: .6s;
        -o-transition-duration: .6s;
        transition-duration: .6s;
        -webkit-transition-delay: .1s;
        -o-transition-delay: .1s;
        transition-delay: .1s;
        -webkit-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }
}

@media (max-width: 768px) {
    .play-img {
        max-width: 365px
    }

    .coins-wrap.one {
        left: 0
    }

    .coins-wrap.five {
        right: 0
    }
}

@media (max-width: 520px) {
    .wrapper {
        padding-top: 10px;
        overflow-y: auto;
        min-height: 100vh;
        height: auto;
    }

    .main {
        height: 100vh
    }

    .hand-img {
        max-width: 220px;
        bottom: 18%
    }

    .star-ico {
        left: -75%;
        width: 250%
    }

    .play-img {
        max-width: 223px
    }

    .btn-play {
        bottom: 120px;
        margin-bottom: 0;
    }

    .footer {
        bottom: -90px;
    }

    .logo-container {
        position: fixed;
        width: 100%;
    }
}

@media (max-width: 450px) {
    .footer {
        bottom: -160px;
    }

    .btn-play {
        bottom: 110px;
    }
}

@media screen and (max-width: 450px) and (device-aspect-ratio: 40/71) {
    .btn-play {
        bottom: 100px;
    }
}

