@import "../../swatches"
@import "../../mixin"

$btn-height: 78px
$btn-offset: 20px
$btn-font-size: 38px

$btn-border-radius: 10px
$btn-bg: linear-gradient(to bottom, #feae00, #fa7c34)

$btn-box-shadow-size: 3px
$btn-active-box-shadow-size: 1px
$btn-box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.5), 0 $btn-box-shadow-size 0 0 #fa7c34, 0 0 8px 0 #feae06, inset 0 0 12px 3px #feae06
$btn-active-box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.5), 0 $btn-active-box-shadow-size 0 0 #feae06, 0 0 8px 0 #feae06, inset 0 0 12px 3px #feae06

$btn-text-shadow: 0 -1px 0px #ac5003

.btn.generated-login__btn
  opacity: 1
  width: 100%
  background-image: $btn-bg
  border-radius: $btn-border-radius
  height: $btn-height
  text-shadow: $btn-text-shadow
  font-size: $btn-font-size
  box-shadow: $btn-box-shadow
  transition: transform 0.15s, box-shadow 0.15s
  @include tablet
    width: calc(100% - #{$btn-offset})

  &:active
    transform: translateY($btn-box-shadow-size - $btn-active-box-shadow-size)
    box-shadow: $btn-active-box-shadow

.btn.generated-login__btn:not(:disabled)
  &:focus,
  &:hover
    background-image: $btn-bg
    opacity: 1

.btn.generated-login__btn:disabled
    color: transparent
    text-shadow: none
