@import "../../swatches"
@import "../../mixin"

.page-generated-login
  @include tablet
    overflow: auto

  .content
    position: relative
    display: inline-block
    width: 100%
    padding: 24px
    @include tablet
      width: auto
      padding: 12px

  .wrapper
    background: no-repeat url(/images/generated-login/bg.png) 0 0
    background-size: cover

  .wrapper-table
    width: 100%
    height: 100%

  .wrapper-cell
    vertical-align: middle
    display: table-cell
    text-align: center

.generated-login-form
  display: table
  width: 100%

  & .generated-login-form__col:first-child
    @include tablet
      padding-right: 50px

  .form-control
    padding-right: 12px

.generated-login-form__col
  @include tablet
    display: table-cell
    vertical-align: middle
    width: 50%

.generated-login-logo
  max-width: 200px
  margin-bottom: 20px
  @include tablet
    position: absolute
    left: 12px
    top: 12px

.generated-login-logo__img
  width: 100%
  height: auto
