@import "../../swatches"
@import "../../mixin"

// inputs
$input-height: 78px
$input-bg: rgba(25, 64, 106, 0.4)
$input-color: $color-white
$input-color-error: #cf0000
$input-color-error-placeholder: #f95647
$input-border-radius: 10px
$input-font-size: 30px
$input-error-label-font-size: 14px
$input-padding-h: 42px
$input-border: solid 3px $color-header-dark
$input-transition-duration: 0.15s
$input-box-shadow: 0 0 40px 0 $color-blue, 0 3px 0 0 rgba(0, 196, 236, 0.33), inset 0 0 40px 0 rgba(0, 196, 236, 0.27), inset 0 3px 0 0 #080735

.page-generated-login
  .form-control
    display: block
    width: 100%
    text-align: left
    color: $input-color
    background: $input-bg
    border: $input-border
    border-radius: $input-border-radius
    transition: all ease-in-out $input-transition-duration
    height: $input-height
    padding: 0 $input-padding-h
    font-size: $input-font-size
    -webkit-appearance: none
    -moz-appearance: none
    @include tablet
      min-width: 450px

    &:focus
      border-color: $yellow

    &::-webkit-input-placeholder
      color: $input-color
    &::-moz-placeholder
      color: $input-color
    &::-ms-input-placeholder
      color: $input-color
    &::-moz-placeholder
      color: $input-color

    &.error
      color: $input-color-error
      border-color: $input-color-error
      &::-webkit-input-placeholder
        color: $input-color-error-placeholder
      &::-moz-placeholder
        color: $input-color-error-placeholder
      &::-ms-input-placeholder
        color: $input-color-error-placeholder
      &::-moz-placeholder
        color: $input-color-error-placeholder

  .form-group
    margin-bottom: 25px
    position: relative
    @include tablet
      margin-bottom: 50px

  .form-label-error
    color: $input-color
    text-align: center
    margin-top: 15px
    font-size: $input-error-label-font-size
    @include text-ellipsis
    @include tablet
      position: absolute
      left: 50%
      transform: translateX(-50%)
      bottom: -30px

  #generated-password
    -webkit-text-security: disc
