@use "sass:math"
@import "../../swatches"
@import "../../mixin"

// numpad
$numpad-key-font-size: 53px
$numpad-key-width: 100px
$numpad-key-height: 78px
$numpad-key-offset: 20px

$numpad-keys-in-row: 3
$numpad-key-bg: linear-gradient(0deg, #3023AE 0%, #C86DD7 100%)
$numpad-key-color: $color-white
$numpad-key-active-color: $yellow
$numpad-key-border-radius: 10px

$numpad-key-box-shadow-size: 5px
$numpad-key-box-shadow: 0 $numpad-key-box-shadow-size 7px 0 rgba(0, 0, 0, 0.5), 0 2px 0 0 #6b31a9, inset 0 0 12px 3px #c56cd7
$numpad-key-text-shadow: 0 1px 0 #c06ad6, 0 2px 0 #4e31b6

$numpad-key-active-box-shadow-size: 1px
$numpad-key-bg-active: linear-gradient(to top, #100674, #720684)
$numpad-key-hover-box-shadow: 0 $numpad-key-box-shadow-size 7px 0 rgba(0, 0, 0, 0.5), 0 2px 0 0 #6b31a9, 0 0 4px 0 #dc88eb, inset 0 0 12px 3px #c56cd7
$numpad-key-active-box-shadow: 0 $numpad-key-active-box-shadow-size 0 0 #744ed1, inset 0 4px 12px 3px #190671, inset 0 3px 0 0 rgba(13, 0, 81, 0.66)
$numpad-key-active-text-shadow: 0 2px 0 #c06ad6, 0 2px 0 #4e31b6

.numpad-container
  @include tablet
    float: right

.numpad
  display: none
  @include tablet
    display: block
    width: ($numpad-key-width + $numpad-key-offset) * $numpad-keys-in-row

.numpad__item
  float: left
  margin: 0 math.div($numpad-key-offset, 2) $numpad-key-offset math.div($numpad-key-offset, 2)
  user-select: none
  user-focus: none

.numpad__key
  font-weight: 600
  font-size: $numpad-key-font-size
  width: $numpad-key-width
  height: $numpad-key-height
  line-height: $numpad-key-height
  text-align: center
  border-radius: $numpad-key-border-radius
  color: $numpad-key-color
  cursor: pointer
  background-image: $numpad-key-bg
  text-shadow: $numpad-key-text-shadow
  transition: transform 0.15s, box-shadow 0.15s, color 0.15s
  transform: translateY(0)
  box-shadow: $numpad-key-box-shadow
  &:focus
    outline: none
  &:active, &:active:hover
    background-image: $numpad-key-bg-active
    outline: none
    box-shadow: $numpad-key-active-box-shadow
    text-shadow: $numpad-key-active-text-shadow
    transform: translateY($numpad-key-box-shadow-size - $numpad-key-active-box-shadow-size)
  &:hover
    box-shadow: $numpad-key-hover-box-shadow
