include ../notifications/notification-card-invite-friend

mixin invite_mobile_step(content)
    .profile-ref-system__mobile-step
        if content.ref.mobileCurrentStep === 'final'
            .profile-ref-system__mobile-step-content
                .profile-ref-system__mobile-step-final
                    span=content.t('invite-step-3')
                .profile-ref-system__mobile-step-cards
                    ReactSlickWithCustomNav(
                        dots = false,
                        infinite = true,
                        speed=500,
                        slidesToShow = 1,
                        slidesToScroll = 1,
                        initialSlide=content.ref.selectedCardIndex,
                        afterChange= content.ref.updateSelectedCardIndex,
                        isDisabledNextIcon=false,
                        isDisabledPrevIcon=false,
                    )
                        each cardMeta in content.ref.cardInvitesMeta
                            .profile-ref-system__mobile-step-card
                                +notification_card_invite_friend(content, {id: cardMeta.cardType, message: "none"}, cardMeta, false)
            .profile-ref-system__mobile-bottom-buttons
                .profile-ref-system__mobile-bottom-button.profile-ref-system__mobile-bottom-button--secondary(onClick=content.ref.goToLocationStep)
                    img.profile-ref-system__mobile-bottom-button-icon(src='/images/profile/ref-system/map-pin.svg')
                    span=content.t('ui-add-refill-location')
                .profile-ref-system__mobile-bottom-button.profile-ref-system__mobile-bottom-button--secondary(onClick=content.ref.goToMessageStep)
                    img.profile-ref-system__mobile-bottom-button-icon(src='/images/profile/ref-system/message.svg')
                    span=content.t('ui-add-message')
                if !!content.ref.lastInviteInfo && content.ref.lastInviteInfo.invitationStatus === content.proto.users.invitations.InvitationBusinessStatus.MANUAL_SENDING
                    AHref(href=content.ref.smsLink className="profile-ref-system__mobile-bottom-button profile-ref-system__mobile-bottom-button--continue" text=content.t("ui-send-invite") onClick=content.ref.afterSMSInvite ref=content.ref.smsButtonRef)
                else
                    button.profile-ref-system__mobile-bottom-button.profile-ref-system__mobile-bottom-button--continue(onClick=content.ref.sendInvite disabled=content.ref.isInviteSendButtonDisabled)=content.t(content.ref.isManualSMSMode ? "ui-request-invite" : "ui-invite")
        else
            .profile-ref-system__mobile-step-content
                .profile-ref-system__mobile-step-top
                    .profile-ref-system__mobile-step-invite-personalisation=content.t('invite-personalisation')
                    .profile-ref-system__mobile-step-invite-personalisation-desc=content.t('invite-personalisation-description')
                .profile-ref-system__mobile-step-middle
                    if content.ref.mobileCurrentStep === 'inviter-name'
                        +invite_mobile_step_form(content.t('invite-step-1'), content.t('your-name-invite'), content.t('your-name-desc-invite'), content.ref.inviterName, content.ref.updateInviterName, content.ref.handleKeyPressOnMobileSteps)
                    else if content.ref.mobileCurrentStep === 'guest-name'
                        +invite_mobile_step_form(content.t('invite-step-2'), content.t('friend-name-invite'), content.t('friend-name-desc-invite'), content.ref.pickedContactName, content.ref.updatePickedContactName, content.ref.handleKeyPressOnMobileSteps)
                    else if content.ref.mobileCurrentStep === 'location'
                        +invite_mobile_step_form(undefined, content.t('invite-refill-location'), content.t('refill-location-desc-invite'), content.ref.location, content.ref.updateLocation, content.ref.handleKeyPressOnMobileSteps)
                    else if content.ref.mobileCurrentStep === 'message'
                        +invite_mobile_step_form(undefined, content.t('invite-message'), content.t('message-desc-invite'), content.ref.message, content.ref.updateMessage, content.ref.handleKeyPressOnMobileSteps)
            .profile-ref-system__mobile-bottom-buttons
                if (content.ref.mobileCurrentStep === 'inviter-name' && content.ref.inviterName === "") || (content.ref.mobileCurrentStep === 'guest-name' && content.ref.pickedContactName === "") || (content.ref.mobileCurrentStep === 'location' && content.ref.location === "") || (content.ref.mobileCurrentStep === 'message' && content.ref.message === "")
                    .profile-ref-system__mobile-bottom-button.profile-ref-system__mobile-bottom-button--skip(onClick=content.ref.goToNextStep)
                        span=content.t('ui-skip')
                else
                    .profile-ref-system__mobile-bottom-button.profile-ref-system__mobile-bottom-button--placeholder
                button.profile-ref-system__mobile-bottom-button.profile-ref-system__mobile-bottom-button--continue(onClick=content.ref.goToNextStep)
                    span=content.t('ui-continue')

mixin invite_mobile_step_form(title, fieldName, fieldDescription, fieldValue, onChange, onKeyPress, onFocus, onBlur)
    if !!title
        .profile-ref-system__mobile-step-title=title
    .profile-ref-system__form-invite-input-wrapper.profile-ref-system__form-invite-input-wrapper--step
        input.profile-ref-system__form-invite-input(type="text" required value=fieldValue onChange=onChange autoCorrect='off' autoCapitalize='off' autoComplete='off' spellcheck='false' onKeyPress=onKeyPress onFocus=onFocus onBlur=onBlur)
        span.profile-ref-system__form-invite-input-label=fieldName
    .profile-ref-system__form-invite-input-description=fieldDescription
