mixin invite_mobile_top_buttons(content)
    .profile-ref-system__mobile-top-buttons
        if !!content.ref.mobileCurrentStep && content.modal.activeModal !== content.enums.modal.REF_INVITE_WAS_SENT
            .profile-ref-system__mobile-arrow-back(onClick=content.ref.goToPrevStep)
                img.profile-ref-system__mobile-arrow-back-img(src='/images/dialogs/arrow-back.svg')
        else
            div
        .profile-ref-system__mobile-close-cross(onClick=content.ref.hideModal)
            img.profile-ref-system__mobile-close-cross-img(src='/images/dialogs/close-cross.svg')