@import "../../../swatches.sass"
@import "../../../mixin.sass"
    
.tournaments-tournament-page-xmas
    overflow: hidden
    article
        position: relative
    @include mobile
        header img
            max-width: 290px

.tournaments-tournament-page-xmas .tournament-section-banner
    height: 398px
    figure
        left: 80px
        @include mobile
            left: 10%

    

.tournaments-page-content .tournaments-tournament-page-xmas .leaders
    background-color: rgba(75, 0, 15, 0.8)

.tournaments-page-content .tournaments-tournament-page-xmas .leaders-header
    margin: 0
    padding: 32px 0 0
    background: rgba(75,0,15,0.8)
    border-radius: 4px 4px 0 0
