@import "../../../mixin.sass"
@import "../mixin.sass"
    
.tournaments-main-page-block-xmas
    background: url('/images/tournaments/xmas/main-block-background.jpg?v1') top / cover no-repeat
    @include tablet-max
        background-position: 57%
.tournaments-tournament-page-xmas
    background: url('/images/tournaments/xmas/item-background.png') 0/185px
    .tournament-article
        background: url('/images/tournaments/xmas/red-background.jpg') 0/185px

.tournaments-tournaments-list-page-xmas
    background: #1e5262

    .card-body
        background: #22686f
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27), inset 0 1px 0 0 rgba(255, 255, 255, 0.16)

.tournaments-tournaments-list-page-xmas .tournaments-list-item-background-overlay
    @include tablet-max
        display: none
    @include asset('xmas','bear', 180, 180)
        right: -105px
        top: 55px
    @include asset('xmas','cone', 80, 80)
        right: 90px
        top: -25px
    @include asset('xmas','candy', 60, 60)
        left: -27px
        bottom: -33px
    @include asset('xmas','wreath', 250, 250)
        top: -240px
        left: -90px

.tournaments-main-page-block.tournaments-main-page-block-xmas
    border-color: #629da1

.tournaments-tournament-page-xmas .tournaments-background-overlay
    @include tablet-max
        display: none
    z-index: 5
    pointer-events: none
    position: absolute
    width: 100%
    height: 100%
    @include asset('xmas','bear', 372, 437)
        top: 120px
        left: -32%
    @include asset('xmas','christmas-ball', 298, 293)
        right: -35%
    @include asset('xmas','green', 424, 425)
        top: 260px
        right: -250px
    @include asset('xmas','cone', 393, 260)
        top: 900px
        left: -182px
    @include asset('xmas','bottle', 220, 380)
        top: 1260px
        left: -160px
    @include asset('xmas','candy', 152, 180)
        top: 1080px
        right: -130px
    @include asset('xmas','snowflake', 196, 204)
        top: 767px
        right: -140px
    @include asset('xmas','gift-package', 328, 344)
        top: 1300px
        right: -280px

.tournaments-tournaments-list-page-xmas .tournaments-list-item-icon
    background: url('/images/tournaments/xmas/list-item-background.jpg?v1') center / cover no-repeat
    width: 300px
    height: 188px
    @include mobile
      width: 180px
      height: auto
    @include mobile-xs
      width: 128px
      height: auto
