@import "../../swatches.sass"

.desktop-payway-form
  padding: 0
  display: flex
  flex-direction: row
  flex-wrap: wrap

  &__row
    width: 100%

  &__row-2
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 14px

  &__back-link
    font-size: 12px
    color: #b9beeb !important
    border-bottom: solid 1px rgba(185, 190, 235, 0.3)

  &__payway-name
    font-size: 20px
    font-weight: normal
    margin: 8px 0 20px 0

  &__bock-title
    font-size: 16px
    color: #B9BEEB
    margin-bottom: 16px

  &__cards-data,
  &__personal-data
    background: #1A1D3E
    border-radius: 10px
    width: calc(50% - 7px)
    padding: 24px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-content: flex-start

    > *
      margin-bottom: 8px

    .payway-field--card-expiration-month-year
      width: calc(60% - 8px)
      margin-right: 8px
    .payway-field--card-cvv
      width: 40%

    &.full-width
      width: 100%

  &__amount-data
    background: #1A1D3E
    border-radius: 10px
    width: 100%
    padding: 24px
    margin-bottom: 14px

  &__balance
    &-title
      color: #B9BEEB
      font-size: 16px
    &-val
      color: #fff
      font-size: 16px
      margin-left: 4px

  &__currencies
    margin-left: auto

  &__submit-btn
    width: 100%
    height: 48px
    background: #1D9CF9
    box-shadow: 0px 4px 12px rgba(29, 156, 249, 0.25)
    border-radius: 4px
    border: none
    font-weight: bold
    font-size: 16px
    letter-spacing: 0.7px
    margin-top: 24px

    &:active
      background: rgba(#1D9CF9, 0.6)

  &__disclaimer
    color: #798CB7
    font-size: 12px
    margin-top: 12px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    .icon
      margin-right: 7px

  &__error
    text-align: center
    color: $orange
