@import "../../swatches.sass"

.mobile-payway-form
  background: #1D2149

  &__payway-head
    height: 40px
    width: 100%
    padding: 0 15px
    border-bottom: solid 1px rgba(255, 255, 255, 0.1)
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    
    &-link
      font-size: 14px
      color: #fff !important
      text-transform: uppercase
      display: flex
      flex-direction: row
      flex-wrap: wrap
      align-items: center
      width: 100%

      .icon
        margin-left: auto
    
    &-name
      font-size: 14px
      color: #fff !important
      text-transform: uppercase

  &__step
    width: 100%

  &__step-1,
  &__step-2,
  &__step-3
    display: none

  .step--1 &__step-1,
  .step--2 &__step-2,
  .step--3 &__step-3
    display: block

  &__row
    width: 100%
    margin-bottom: 14px
    padding: 0 15px

  &__row-2
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 14px

  &__step-status
    width: 100%
    font-size: 12px
    text-transform: uppercase
    color: rgba(185, 190, 235, 0.5)
    margin: 14px 0
    padding: 0 15px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center

    > *
      margin: 0 !important

    .icon
      margin: 0 12px !important

  .step--1 &__step-status-1,
  .step--2 &__step-status-2,
  .step--3 &__step-status-3
    color: #B9BEEB


  &__back-link
    font-size: 12px
    color: #b9beeb !important
    border-bottom: solid 1px rgba(255, 255, 255, 0.1)

  &__bock-amount
    width: 100%
    margin-bottom: 16px
    display: flex
    flex-direction: row
    align-items: center

    &-title
      font-size: 16px
      color: #B9BEEB
      margin-right: 8px
    &-val
      font-size: 16px
      font-weight: bold
      color: #fff

  &__cards-data,
  &__personal-data,
  &__promo_code
    border-radius: 10px
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-content: flex-start
    padding: 0 15px

    > *
      margin-bottom: 8px

    .payway-field--card-expiration-month-year
      width: calc(60% - 8px)
      margin-right: 8px
    .payway-field--card-cvv
      width: 40%

  &__amount-data
    background: #1A1D3E
    border-radius: 10px
    width: 100%
    padding: 24px
    margin-bottom: 14px

  &__balance
    padding-left: 15px
    &-title
      color: #B9BEEB
      font-size: 16px
    &-val
      color: #fff
      font-size: 16px
      margin-left: 4px

  &__currencies
    margin-left: auto
    padding-right: 15px

  &__buttons
    width: 100%
    padding: 0 15px

  &__prev-btn
    width: 48px
    height: 48px
    background: #1A1D3E
    border-radius: 4px
    border: none
    font-weight: bold
    font-size: 16px
    letter-spacing: 0.7px
    margin-right: 8px

    &:active
      background: lighten(#1A1D3E, 10%)

  &__next-btn,
  &__one-next-btn
    width: calc(100% - 48px - 8px)
    height: 48px
    background: #1D9CF9
    box-shadow: 0px 4px 12px rgba(29, 156, 249, 0.25)
    border-radius: 4px
    border: none
    font-weight: bold
    font-size: 16px
    letter-spacing: 0.7px

    &:active
      background: rgba(#1D9CF9, 0.6)

  &__one-next-btn
    width: 100%

  &__disclaimer
    color: #798CB7
    font-size: 12px
    text-align: center
    margin-top: 12px
    .icon
      margin-right: 7px

  &__error
    text-align: center
    color: $orange

  &__card-number-preview
    border: 1px solid #353962
    box-sizing: border-box
    border-radius: 4px
    padding: 3px 9px
    margin-left: auto
    display: flex
    flex-direction: row
    align-items: center

    &-val
      font-size: 12px
      color: #B9BEEB
      margin-left: 9px
