@import "../../swatches.sass"

a.payway-form-v3__payment-methods
  margin: 0 16px
  color: $blue-oyster !important
  text-decoration: underline !important

.payway-form-v3__title
  padding: 0 16px
  color: $color-white
  font-size: 16px
  font-weight: 400

.payway-form-v3__title-red
  color: $red
  font-weight: 700

.modal-form.payways-form-v3
  span
    margin: 0
    &.currency-label
      margin: 0 15px 0 13px

.payways-form-v3
  margin-top: 8px
  padding-bottom: 16px
  width: 634px
  @include mobile
    width: auto
    background-color: #1A1D3E
  .form-label
    font-size: 16px !important
    font-weight: normal !important
    color: $color-white
  .form-line
    padding: 0 16px
    input[type=text]
      border: 1px solid rgba(255, 255, 255, 0.1)
      box-sizing: border-box
      border-radius: 4px
  .form-field--amount, .form-field--amount .input-wrap
    margin-bottom: 0 !important
    margin-right: 0 !important
  .payway-crypto-address-without-qr-field
    margin-bottom: 0 !important
    margin-right: 0 !important
    .inline
      display: flex
      flex-direction: row
      .input-wrap
        width: auto
        flex: 1
        margin-bottom: 0
        margin-right: 0
        input
          border-top-right-radius: 0
          border-bottom-right-radius: 0
          height: 48px
      .btn-copy
        height: 48px
        line-height: 48px
        background-image: none
        background-color: #1D9CF9
        color: $color-white
        font-size: 16px
        border-radius: 10px
        border-top-left-radius: 0
        border-bottom-left-radius: 0
  .promo-code-form
    margin-top: 8px
    margin-bottom: 8px

.payway-form-v3__desc
  padding: 8px 0
  font-size: 14px
  line-height: 18px
  color: rgba(255, 255, 255, 0.7)
  &:first-letter
    text-transform: uppercase

.payways-form-v3__separator
  height: 1px
  border-bottom: 1px solid rgba(255, 255, 255, 0.1)
  margin: 8px 0

.payways-form-v3__instruction
  position: relative
  padding: 0 16px
  details > summary
    cursor: pointer
    position: relative
    padding: 10px 0
    padding-right: 24px
    list-style: none
    font-size: 16px
    color: $color-white
    &::before
      content: ''
      position: absolute
      margin-top: 4px
      right: 0
      display: block
      width: 20px
      height: 12px
      background: url(/images/payments/arrow-down.svg) no-repeat center center
      transform: none
      transition: 0.3s transform ease-in-out
  details[open] > summary
    &::before
      transform: rotate(-180deg) !important
  ul
    padding-bottom: 8px
    li
      list-style: disc inside
      padding-left: 16px
      font-weight: 400
      font-size: 16px
      line-height: 24px
  h1
    font-size: 20px
    color: $color-white
    line-height: 26px
    font-weight: 700
  p
    margin: 0 !important
    margin-top: 8px !important
    font-size: 16px
    strong
      background-color: #32344F
      border: 3px solid #32344F
      border-radius: 4px
  img
    display: block
    margin: 0 auto !important
    margin-top: 8px !important
    max-width: 100%
    border: 3px solid $color-white
    &.btcpayserver-withdrawal-instruction
      border: none

.payways-form-v3__cashapp-button
  flex: 1
  display: flex
  margin: 0 16px
  margin-top: 24px
  height: 48px
  background-color: #00D632
  border-radius: 4px
  justify-content: center
  align-items: center
  &.paypal
    background-color: #1a2f76
  span.iconfont-dollar
    margin: 0 !important
    margin-top: 3px !important
    color: $color-white
    font-size: 24px
  span.payways-form-v3__cashapp-button-text
    margin: 0 !important
    margin-left: 12px !important
    color: $color-white !important
    display: flex
    font-size: 16px
    font-weight: 700
  span.paypal-icon
    background-image: url('/images/payments-system/paypal.png')
    width: 65px
    height: 64px
    background-repeat: no-repeat
    background-position: center
    background-size: contain
.payways-form-v__cashapp-button_no-m
  margin-top: 0px
.payways
  display: inline-flex
  align-items: center
  justify-content: center
  width: 100%
  margin: 0
  color: #ff001f
  text-transform: uppercase
  font-weight: bold

.payways-form-v3__cashapp-button--disabled
  cursor: default
  opacity: 0.5

.payways-form-v3__disclaimer
  padding: 8px 0
  color: #798CB7
  text-align: center

.payways-form-v3__disclaimer-lock
  margin: 0 8px !important
  vertical-align: baseline !important

.payways-form-v3__disclaimer-text
  font-size: 12px !important
  margin: 0 !important

.payways-form-v3__cashapp-disclaimer-text
  padding: 0 16px
  display: block
  font-size: 12px !important
  margin: 0 !important
  line-height: 1.2

.payways-form-v3__trx-time
  text-align: center
  font-size: 14px

.payways-form-v3__qr-code
  background: $color-white
  padding: 8px
  width: 160px
  height: 160px
  margin: 0 auto 24px auto
  @include tablet
    width: 226px
    height: 226px
  canvas
    width: 100%
  img
    width: 100%
    border-radius: 0 !important
    margin: 0 !important

.payways-form-v3__attention-info
  font-size: 18px
  padding: 0 16px
  color: #ff0808
  text-align: center
  margin-top: 3px
  font-weight: 600