@import "../../swatches.sass"

.payway-form-v2
  padding: 0
  display: flex
  flex-direction: row
  flex-wrap: wrap

  .hidden-autocomplete-input
    position: absolute
    opacity: 0
    left: -9999px

  .amount-info
    display: block
    font-size: 12px
    line-height: 16px
    color: #798cb7
    margin-top: 4px

  .payway-field
    width: 100%
    position: relative

    &__input
      width: 100%
      background-color: transparent
      border: 1px solid #353962
      box-sizing: border-box
      border-radius: 4px
      color: #fff
      font-size: 16px
      height: 48px
      padding: 0 8px 0 16px

      &--phone
        padding-left: calc(16px + 110px)

      &::placeholder
        font-size: 16px
        color: #b9beeb

    &__country-picker
      font-size: 16px
      line-height: 16px
      width: 110px
      height: 100%
      background: rgba(#1D9CF9, 0.2)
      border: 1px solid #353962
      border-right: none
      border-radius: 4px
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      color: #1D9CF9
      cursor: pointer
      outline: 0
      -webkit-appearance: none
      padding: 0 0 0 16px

      position: absolute
      left: 0
      top: 0
      bottom: 0
      margin: auto
      z-index: 2

    &--error .payway-field__input,
    &--error .payway-field__country-picker
      border: 1px solid #af4242

    &--error .payway-field__country-picker
      border-right: none

    &--phone:after
      content: ''
      width: 7px
      height: 5px
      background-image: url(/images/icons/icon-chevron-down.svg)
      background-size: contain
      position: absolute
      left: 98px
      top: 0
      bottom: 0
      margin: auto
      z-index: 3

    .currency-label
      color: #ffab00
      font-size: 16px
      height: 16px
      line-height: 16px
      position: absolute
      right: 8px
      top: 0
      bottom: 0
      margin: auto
      z-index: 2

    &__input--promo-code
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      border-right: none
      width: 70%

    &__promo-code-btn
      background: rgba(#1D9CF9, 0.2)
      color: #1D9CF9
      border-radius: 4px
      border-top-left-radius: 0
      border-bottom-left-radius: 0
      border: 1px solid #353962
      border-left: none
      width: 30%
      height: 48px

    &--card-holder input
      text-transform: uppercase
    

  &.modal-form .form-line .form-field [type="text"],
  &.modal-form .form-line .form-field [type="email"],
  &.modal-form .form-line .form-field [type="password"],
  &.modal-form .form-line .form-field [type="number"],
  &.modal-form .form-line .form-field .phone
    border: 1px solid #353962
    box-sizing: border-box
    border-radius: 4px
    height: 48px

    &::placeholder
      font-size: 16px
      color: #b9beeb

  .form-field.inline .input-wrap
    margin: 0

  .payway-currency-switcher
    &__item
      cursor: pointer
      display: inline-block
      text-align: center
      line-height: 1
      padding: 8px 10px
      font-size: 16px
      margin: 0 0 0 6px

      background: rgba(#FFAB00, 0.2)
      border-radius: 4px
      border: none
      color: #FFAB00 !important

      &.active
        background: #FFAB00
        border-radius: 4px
        border: none
        color: #000 !important

