@import "../../mixin"
@import "../../swatches"

.payways-list
  display: inline-block
  padding: 10px 24px
  // box-shadow: 0 0 1px 1px $color-light-blue
  background: $dark-three
  border-radius: 0 0 16px 16px
  width: 100%

  @include tablet-max
    padding-left: 24px
    padding-right: 0

  // @include mobile
  //   box-shadow: none
  //   padding-left: 8px
  //   padding-right: 8px

.payways-list-category-title
  width: 100%
  margin-top: 10px
  font-size: 17px
  font-weight: 400
  color: $light-two

.payways-list-category-items
  display: flex
  flex-wrap: wrap
  justify-content: left

.payways-list-item-container
  padding: 16px 32px 16px 0
  @include tablet-max
    padding: 0 24px 24px 0
  @include desktop
    &:nth-child(6)
      padding-right: 0

.payways-list-item
  position: relative
  display: flex
  flex: 1
  flex-direction: column
  width: 140px
  height: 116px
  padding: 12px 0 0 0
  border-radius: 6px
  // box-shadow: 0 10px 20px 0 rgba(112, 112, 112, 0.5), inset 0 0 2px 0 #ffffff
  background-image: linear-gradient(to bottom, #ffffff, #e8ebef)

  &:after
    content: ''
    width: 117px
    height: 132px
    position: absolute
    top: -3px
    left: -3px
    // border: 2px solid $orange
    border-radius: 9px
    box-sizing: border-box
    visibility: hidden

  &:hover
    transition: .2s
    &:after
      visibility: visible

.payways-list-item-disabled
  pointer-events: none
  user-select: none
  opacity: 0.6

.payways-list-item-img
  width: 100%
  height: 72px
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.payways-list-item-img-value
  margin: 0 !important
  border-radius: 0 !important
  max-height: 100%
  max-width: 100%

.payways-list-item-name
  flex: 1
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  padding: 0 6px
  padding-bottom: 6px
  font-family: $font-lost

.payways-list-item-name-value
  height: auto
  max-width: 100%
  line-height: 18px
  font-size: 13px
  font-weight: 700
  color: $dark-six
  text-overflow: ellipsis

.payways-list-item-commission
  border-top: 1px solid $blue-periwinkle
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  height: 25px

.payways-list-item-commission-value
  max-width: 100%
  line-height: 14px
  font-weight: 600
  font-size: 10px
  color: $blue-lynch

.payways-list-item-badge
  display: flex
  background: $red-monza
  color: $color-white
  border-radius: 4px
  width: 87px
  height: 18px
  position: absolute
  top: -9px
  left: 0
  right: 0
  margin: auto
  font-weight: bold
  font-size: 10px
  line-height: 14px
  align-items: center
  justify-content: center
  text-transform: uppercase
  z-index: 2

.payways-list-item-new
  background: $green-sushi
  width: 52px

.payways-list-item-recommended
  background: $violet-vivid
  width: 95px

.has-badges .payways-list-item
  margin-top: 9px
