@import "../swatches.sass"
@import "../mixin.sass"

.app-info-page
  font-family: $font-lost
  color: white
  .buttons-block
    display: flex
    justify-content: center
    margin-top: 40px
    @include tablet-max
      margin-top: 32px
    .app-button
      background: linear-gradient(180deg, #193F6A 0%, rgba(57, 114, 178, 0.623123) 56.25%, rgba(82, 153, 234, 0.33) 100%)
      border-radius: 16px
      padding: 20px
      width: 350px
      display: flex
      justify-content: center
      font-size: 36px
      align-items: center
      color: white
      @include tablet-max
        width: 26vw
        padding: 16px
        flex-direction: column
        font-size: 4vw
      &.android
        border: 5px solid
        border-color: #476678
        margin-right: 145px
        @include tablet-max
          margin-right: 65px
          border-width: 3px
      .app-button-icon
        width: 36px
        margin-right: 5px
        height: 36px
        background-position: center
        background-repeat: no-repeat
        background-size: contain
        &.android
          background-image: url('/images/app-info/android.png')
        &.ios
          background-image: url('/images/app-info/apple.png')
  .top-info-block-container
    display: flex
    justify-content: center
  .top-info-block
    margin-top: 35px
    line-height: 30px
    display: flex
    justify-content: flex-start
    width: 1385px
    @include tablet-max
      width: 100%
      flex-direction: column
      align-items: center
    .top-info-block-title
      font-size: 30px
      text-transform: uppercase
      @include tablet-max
        font-size: 24px
    .top-info-block-text
      font-size: 26px
      line-height: 40px
      @include tablet-max
        font-size: 18px
        line-height: 18px
    .left-info
      width: 688px
      margin-right: 47px
      @media screen and (max-width: 1440px)
        margin-left: 20px
      @include tablet-max
        width: 100%
        margin-right: 0
        margin-left: 0
        margin-bottom: 20px
        padding: 0 36px
      .top-info-block-title
        margin-bottom: 15px
        margin-left: 15px
        @include tablet-max
          margin-left: 0
          text-align: center
    .right-info
      border: 2px solid #3BA2DC
      border-radius: 5px
      padding: 32px 56px

      @media screen and (max-width: 1440px)
        margin-right: 20px
        padding: 12px
      @include tablet-max
        margin: 0 36px
  .how-to-install-block
    padding-top: 40px
    @include tablet-max
      padding-top: 271px
    .title-line
      height: 100px
      background: #193f6a
      width: 100%
      display: flex
      justify-content: center
      align-items: center
    .centered-container
      position: relative
    .images-block
      display: flex
      align-items: center
      position: absolute
      right: -30px
      top: -15px
      @include tablet-max
        top: unset
        right: unset
        bottom: 40px
        left: -51px
      img
        width: 230px
        height: 480px
        margin-right: 20px
        @media screen and (max-width: 1440px)
          &:nth-of-type(2)
            display: none
        @include tablet-max
          width: 146px
          height: 300px
          &:nth-of-type(3)
            margin-right: 0
    .title
      position: absolute
      left: 60px
      width: 230px
      text-transform: uppercase
      width: max-content
      font-size: 30px
      top: -19px
      @include tablet-max
        top: unset
        position: relative
        font-size: 24px
        margin-top: 42px
        left: 0
    .main-block-container
      display: flex
      justify-content: center
    .main-block
      display: flex
      justify-content: center
      width: 0
      .info-block
        margin-left: 790px
        margin-top: 50px
        min-width: 600px
        max-width: 600px
        @media screen and (max-width: 1440px)
          min-width: 39vw
          margin-left: 51vw
        @include tablet-max
          margin-left: 49px
          width: 100%
          max-width: 600px
          margin-top: 40px
          min-width: 80vw
          display: flex
          flex-direction: column
          align-items: center
        .text
          font-size: 26px
          @media screen and (max-width: 1440px)
            font-size: 22px
          @include tablet-max
            font-size: 18px
          ul
            li
              list-style-image: url('/images/app-info/checked-mark.svg')
              margin-bottom: 20px
              padding-left: 20px
              @include tablet-max
                padding-left: 14px
                list-style-image: url('/images/app-info/checked-mark-small.svg')
              &::marker
                width: 20px
        .download-button
          padding: 20px
          width: 370px
          font-size: 36px
          cursor: pointer
          background: linear-gradient(180deg, #193F6A 0%, rgba(82, 153, 234, 0.33) 100%)
          border-radius: 20px
          display: flex
          justify-content: center
          @include tablet-max
            width: 256px
            font-size: 24px
            padding: 15px
            margin-left: -51px
  .ios-info-container
    margin-top: 70px
    display: flex
    justify-content: center
    position: relative
    margin-bottom: 126px
    @media screen and (max-width: 1400px)
      padding: 22px
    @include tablet-max
      margin-top: 36px
      margin-bottom: 116px
    .decoration-line
      position: absolute
      height: 270px
      background: #193F6A
      top: 36px
      width: 100%
      @media screen and (max-width: 1250px)
        display: none
    .ios-info-block
      border: 4px solid #3BA2DC
      border-radius: 10px
      width: 1385px
      z-index: 1
      display: flex
      @media screen and (max-width: 1250px)
        flex-direction: column
        align-items: center
      .left-block
        padding-top: 60px
        @include tablet-max
          padding-top: 33px
        .ios-info-title
          font-size: 36px
          padding-left: 29px
          margin-bottom: 16px
          @include tablet-max
            font-size: 24px
            padding: 0
            text-align: center
        .description
          font-size: 30px
          margin-bottom: 150px
          padding-left: 90px
          @media screen and (max-width: 1400px)
            padding-left: 29px
            font-size: 24px
          @media screen and (max-width: 1250px)
            margin-bottom: 16px
          @include tablet-max
            font-size: 18px
            padding-right: 28px
        .text
          font-size: 24px
          padding-left: 180px
          @media screen and (max-width: 1400px)
            padding-left: 65px
            font-size: 20px
          @include tablet-max
            font-size: 18px
            padding-left: 50px
            padding-right: 28px
          ul
            li
              list-style-image: url('/images/app-info/checked-mark.svg')
              margin-bottom: 20px
              padding-left: 20px
              @include tablet-max
                padding-left: 6px
                padding-right: 4px
                list-style-image: url('/images/app-info/checked-mark-small.svg')
              &::marker
                width: 20px
      .right-block
        display: flex
        padding: 40px
        @include tablet-max
          padding: 25px
        img
          @include tablet-max
            width: 136px
            height: 281px
          &:first-of-type
            margin-right: 40px
            @include tablet-max
              margin-right: 16px

  .buttons-app-block
    padding-bottom: 48px
  .buttons-app
    display: flex
    justify-content: center
  .download-app-block
    padding: 0 16px
    max-width: 390px
    @include desktop
      padding: 0
      margin-right: 46px
      max-width: 432px
    .download-app-block_img
      display: block
      max-width: 100%
      height: auto
      margin-bottom: 24px
      @include desktop
        display: none
      img
        width: 100%
  .download-title
    max-width: 426px
  .title-mobile-download
    font-size: 25px
    color: $yellow
    font-weight: 400
  .description-download-title
    font-size: 14px
    color: $light-two

  .download-buttons_block
    display: flex
    margin: 71px 0 76px
    @include tablet-max
      display: none
    .app-button
      background: $dark-six
      border-radius: 8px
      border: 1px solid $light-one
      padding: 12px 14px
      width: 204px
      display: flex
      justify-content: flex-start
      font-size: 12px
      font-weight: 400
      align-items: center
      color: white
      @include tablet-max
        width: 26vw
        padding: 16px
        flex-direction: column
        font-size: 4vw
      &.android
        // border: 5px solid
        // border-color: #476678
        margin-right: 24px
        @include tablet-max
          margin-right: 65px
          border-width: 3px
      .app-button-icon
        width: 22px
        margin-right: 12px
        height: 26px
        background-position: center
        background-repeat: no-repeat
        background-size: contain
        &.android
          background-image: url('/images/app-info/android.png')
        &.ios
          background-image: url('/images/app-info/apple.png')
      .app-button-text
        text-transform: lowercase
        &::first-letter
          text-transform: uppercase
  .download-icons-tipes
    display: flex
    justify-content: center
    .download-icons-tipes_item
      display: flex
      flex-direction: column
      justify-content: flex-start
      align-items: center
      max-width: 96px
      text-align: center
      font-size: 10px
      color: $light-three
      margin: 0 8px
      @include desktop
        font-size: 12px
      img
        width: 37px
        height: 37px
        margin-bottom: 8px
      span

  .download-app-block_img
    width: 499px
    height: 485px
    display: none
    @include desktop
      display: block

  .app-main-content-block
    background: $dark-three
    padding: 55px 0 36px
    margin-bottom: 47px
    .app-main-content-container
      display: flex
      justify-content: flex-end
      align-items: flex-start
      margin-bottom: 33px
      @include tablet-max
        flex-direction: column
        align-items: center

    .app-main-content_img
      min-width: 439px
      min-height: 694px
      margin-top: 56px
      margin-right: 12px
      position: relative
      z-index: 987
      background-image: url("/images/app-info/description-img_app_3.svg")
      @include tablet-max
        min-width: 223px
        min-height: 452px
        background-image: url("/images/app-info/description-img_app_2.svg")

    .app-main-content_tipes-block
      .title-mobile-download
        margin: 0 0 58px
        @include tablet-max
          display: none
      .tipes-block_download
        @include tablet-max
          display: flex
          position: relative
          padding-top: 94px
          margin-top: 24px

        .tipes-block_download_item
          display: flex
          align-items: center
          margin-bottom: 16px
          @include tablet-max
            & +.tipes-block_download_item
              margin-left: 8px
          @include desktop
            &:hover .item-tipe_numer
              width: 360px
          input
            display: none
            @include tablet-max
              &:checked + .item-tipe_numer
                background: #188D58
                color: #fff
          .item-tipe_numer-container
            position: relative
            width: 90px
            height: 76px
            @include tablet-max
              width: 44px
              height: 38px
              &:has( input:checked)+ .item-tipe_description
                display: block
          .item-tipe_numer
            font-family: sans-serif
            display: flex
            justify-content: flex-end
            align-items: center
            width: 90px
            height: 76px
            padding-right: 36px
            background: #188D58
            font-size: 31px
            font-weight: 900
            clip-path: polygon(0% 8%, 0% 92%, 100% 100%, 100% 0%)
            position: absolute
            top: 0
            right: 0
            transition: .2s linear
            @include tablet-max
              width: 44px
              height: 38px
              background: $dark-six
              color: $light-one
              font-size: 24px
              padding-right: 14px
          .item-tipe_description
            display: flex
            flex-direction: column
            justify-content: center
            margin-left: 24px
            @include tablet-max
              display: none
              margin-left: 0
              position: absolute
              top: 0
              left: 0
            .item-tipe_description_title
              margin: 0 0 6px
              font-size: 19px
              font-weight: 700
            .item-tipe_description_descr
              font-size: 17px
              color: $light-two
    .app-main-content_btn-block
      border-radius: 12px
      background: $accent-one
      width: 231px
      text-align: center
      padding: 11px 32px
      font-size: 17px
      margin: auto
      transition: .1s linear
      cursor: pointer
      &:hover
        background: $accent-two
