@import "../swatches.sass"
@import "../mixin.sass"

.text-page.blog-index
  max-width: 1365px
  img
    max-width: 100%

.text-page.blog
  img
    max-width: 100%
  li
    list-style: disc inside
    text-align: left

.blog__posts-wrapper
  display: flex
  flex-direction: row
  justify-content: flex-start
  flex-wrap: wrap
  p, img
    padding: 0
    margin: 0 !important
  
.blog__post
  width: 400px
  margin: 0 14px
  margin-bottom: 30px
  background-color: $blue-darker
  border-radius: 10px
  @include mobile
    flex: 1
    margin: 0
    margin-bottom: 20px
    min-width: 300px
    width: auto

.blog__post-image
  img
    height: 397px
    border-radius: 10px
    @include mobile
      height: auto
      width: 100%

.text-page .page-content .blog__post-title
  padding: 0 10px
  padding-top: 5px
  a
    color: $dark-yellow
    font-size: 18px

.blog__post-date
  padding: 0 10px
  font-size: 12px
  color: $color-text

.blog__post-description
  padding: 10px
  padding-top: 5px
