@import "../mixin"

.freespins-shop-page
  padding-bottom: 20px
  .freespins-shop-title
    font-weight: 800
    font-size: 70px
    line-height: 130%
    color: #FEAE00
    text-align: center
    margin-top: 50px
    margin-bottom: 15px
  .freespins-shop-description
    font-weight: 600
    font-size: 25px
    line-height: 130%
    text-align: center
    color: #FFFFFF
    margin-bottom: 50px
  .freespins-block
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    @include mobile
      justify-content: space-around
    .loader-container
      width: 100%
      min-height: 200px
      display: flex
      justify-content: center
      align-items: center
    .freespin-container
      background: #193F6A
      margin: 20px auto
      border-radius: 10px
      position: relative
      width: 300px
      @include mobile
        margin: 5px!important
        width: 300px
      .copy-tooltip
        position: absolute
        background: #000000c7
        right: 5px
        color: white
        top: 47px
        padding: 5px 20px
        border-radius: 6px
        font-weight: bold
        opacity: 0
        transition: all 0.3s linear
        &.active
          opacity: 1
      .share-icon-container
        position: absolute
        right: 5px
        top: 5px
        background: #3f6692
        cursor: pointer
        border-radius: 6px
        box-shadow: 1px 1px 10px 2px #1d2640
        display: flex
        padding: 5px
        transition: all 0.3s linear
        &:hover
          background: #294463
        img
          width: 30px
          height: 30px
      .image
        height: 180px
        background: black
        border-radius: 10px 10px 0 0
        border: 2px solid #feae00
        @include mobile
          height: 180px
        .game-item__img
          border-radius: 10px 10px 0 0
        .loading-spinner_inner
          padding-left: 5px
          .loading-spinner_indicator
            @include mobile
              width: 19px
      .sale-block-top
        background: linear-gradient(180deg, rgba(254, 174, 0, 0.48) -26%, rgba(255, 255, 255, 0) 132%), #FFFFFF
        height: 22px
        display: flex
        width: 100%
        justify-content: center
        .image-container
          position: relative
          width: 100px
          height: 100px
          top: -46px
          display: flex
          justify-content: center
          align-items: center
          img
            top: 0
            position: absolute
            left: 0
            width: 100px
          .text-container
            position: relative
            color: #FEFFF1
            .text
              font-size: 15px
              text-align: center
            .bottom-text
              text-align: center
              font-size: 20px
              font-weight: 700
              margin-left: 3px
      .sale-block
        height: 50px
        display: flex
        width: 100%
        margin-top: 0
        justify-content: center
        .left-amount
          margin-left: 5px
          font-weight: 600
          font-size: 26px
          color: #ababab
          text-decoration: line-through
          display: flex
          align-items: center
          letter-spacing: -0.5px
          &.small
            font-size: 24px
          @include mobile
            font-size: 26px
            &.small
              font-size: 24px
        .amount-before
          display: flex
          align-items: center
          letter-spacing: -0.5px
          justify-content: flex-start
          margin-right: 5px
          color: #fdfdfd
          font-size: 15px
          font-weight: bold
      .bonus-amount-block
        position: relative
        margin-top: 35px
        .tape-container
          margin: 0 5px
          img
            width: 100%
        .bonus-amount
          position: absolute
          top: 11px
          width: 100%
          text-align: center
          .amount-text
            color: #D61111
            font-weight: 800
            font-size: 33px
            line-height: 110%
          .in-game
            color: #FDF76A
            font-size: 12px
            margin-top: 2px
            display: none
      .game-name-block
        width: 100%
        text-align: center
        min-height: 0
        display: flex
        align-items: center
        .game-name
          color: #FFEC66
          width: 100%
          font-size: 16px
          font-weight: 800
          display: none
      .freespin-time-block
        margin: 10px
        border-radius: 10px
        .time-header
          display: flex
          justify-content: center
          background: #1D2640
          padding: 5px 0px
          border-radius: 10px 10px 0px 0px
          .time-header-text
            margin-left: 5px
            color: #EEEEEE
            font-size: 14px
            font-weight: 600px
            &.bold
              font-weight: 900
        .time-container
          background: #FFFFFF
          border-radius: 0 0 10px 10px
          display: flex
          flex-direction: column
          align-items: center
          .time
            color: #DD1A1A
            font-size: 24px
            font-weight: 800
            line-height: 100%
            margin-top: 10px
          .time-labels
            display: flex
            justify-content: center
            width: 100%
            margin-bottom: 10px
            .time-label
              color: #595959
              font-size: 10px
              margin: 0 10px
      .buy-button-block
        margin: 10px
        @include mobile
          margin: 10px 5px
        .buy-with-sale-for
          text-align: center
          margin-bottom: 5px
          font-weight: bold
          color: #fdf7ef
        .auth-required
          text-align: center
          margin-bottom: 5px
          font-weight: bold
          color: #ffdb35
        .buy-button
          background: linear-gradient(270deg, #FA7C34 -17.93%, rgba(250, 124, 52, 0) 100.05%), #FEAE00
          box-shadow: 0px 2px 0px #865000
          border-radius: 5px
          padding: 9px 13px
          display: flex
          justify-content: center
          color: #FFFFFF
          cursor: pointer
          &.disabled
            background: gray
            box-shadow: none
            cursor: default
            &:hover
              background: gray
          &:hover
            box-shadow: none
            background: linear-gradient(270deg, #FA7C34 -17.93%, rgba(250, 124, 52, 0) 100.05%), #d49100
          .text
            font-size: 16px
            font-weight: 600
            margin-right: 5px
            @include mobile
              font-size: 16px
          .amount
            font-size: 26px
            font-weight: 800
            display: flex
            align-items: center
            &.small
              font-size: 24px
      .line-block
        margin-bottom: 10px
        display: flex
        justify-content: center
        padding: 0 10px
        .line-block-elem
          display: flex
          flex: 1
          flex-direction: column
          justify-content: flex-end
          border-radius: 5px
          padding: 8px 5px
          background: #1D2640
          color: #FFEE52
          display: flex
          align-items: center
          @include mobile
            padding: 8px 3px
          &.wager-freespin
            .top
              color: #ffffff
          &.bet
            .top
              display: flex
              align-items: center
              font-size: 12px
          .top
            font-weight: 800
            font-size: 14px
            @include mobile
              font-size: 12px
          .bottom
            font-size: 12px
            @include mobile
              font-size: 11px
        .lines
          margin-right: 5px
        .bet
          margin-left: 5px

.freespin-shop-error-block
  width: 100%
  text-align: center
  padding: 200px 0
  color: #ec3232
  font-size: 24px
  font-weight: 700

.freespin-shop__loader
  margin-top: 16px

.freespin-shop-modal
  padding-bottom: 0!important
  .game-container
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    padding-bottom: 20px
    img
      width: 100px
      height: 100px
      border-radius: 20px
    .game-name
      color: #ffffff
      font-size: 16px
      margin-bottom: 10px
    .go-to-game-button
      background: linear-gradient(270deg, #FA7C34 -17.93%, rgba(250, 124, 52, 0) 100.05%), #FEAE00
      box-shadow: 0px 2px 0px #865000
      border-radius: 5px
      padding: 9px 13px
      display: flex
      justify-content: center
      color: #FFFFFF
      cursor: pointer
      font-size: 18px
      font-weight: 700
      &:hover
        box-shadow: none
        background: linear-gradient(270deg, #FA7C34 -17.93%, rgba(250, 124, 52, 0) 100.05%), #d49100

  .success-message
    padding: 20px
    text-align: center
    font-weight: 700
    color: #FFDC39
    font-size: 24px
  .close-button
    box-shadow: 0px 2px 0px #865000
    border: 1px solid #FFDC39
    border-radius: 5px
    padding: 9px 13px
    display: flex
    justify-content: center
    color: #FFFFFF
    cursor: pointer
    font-size: 18px
    font-weight: 700
  .buy-button
    background: linear-gradient(270deg, #FA7C34 -17.93%, rgba(250, 124, 52, 0) 100.05%), #FEAE00
    box-shadow: 0px 2px 0px #865000
    border-radius: 5px
    padding: 9px 13px
    display: flex
    justify-content: center
    color: #FFFFFF
    cursor: pointer
    font-size: 18px
    font-weight: 700
    user-select: none
    &:hover
      box-shadow: none
      background: linear-gradient(270deg, #FA7C34 -17.93%, rgba(250, 124, 52, 0) 100.05%), #d49100
    &.with-discount
      padding: 15px 30px
      font-size: 22px

  .modal-header
    background: #1D2640
    display: flex
    justify-content: center
    align-items: center
    font-size: 18px
    font-weight: 800
    min-height: 30px
    .text
      color: #FFFFFF
      margin-right: 5px
    .amount
      color: #FFDC39
  .body
    padding: 20px
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    @include mobile-xs
      padding: 10px
    .amount-with-discount
      display: flex
      justify-content: center
      align-items: center
      .amounts
        .amount-original
          text-decoration: line-through
          text-align: center
          color: white
          font-size: 16px
          font-weight: 600
      .discount-block
        background: red
        color: white
        border-radius: 8px
        height: 33px
        width: 48px
        display: flex
        justify-content: center
        align-items: center
        margin-left: 5px
        padding: 0 3px
        font-weight: 800
    .balance-original-price
      text-decoration: line-through
      font-size: 20px
      font-weight: bold
      margin-top: 15px
    .text-block
      width: 80%
      display: flex
      align-items: center
      justify-content: space-between
      @include mobile
        width: 100%
      .text
        font-size: 16px
        color: #FFDC39
      .amount
        color: #ffffff
        font-size: 17px
        font-weight: 800
    .game-block
      display: flex
      flex-direction: column
      color: #FFDC39
      text-align: center
      .in-game
        font-weight: 600
        font-size: 14px
      .game-name
        font-weight: 800
        font-size: 28px
    .info-block
      margin-top: 10px
      margin-bottom: 10px
      display: flex
      align-items: center
      .info-elem
        margin-right: 10px
        .amount
          border-radius: 5px
          padding: 4px
          text-align: center
          font-weight: 700
        .text
          color: #FFEC66
          font-size: 10px
          font-weight: 600
          text-align: center
      .lines
        .amount
          background: #FFEE52
          color: #1D2640
      .bet
        .amount
          background: #1D2640
          color: #FFEE52
      .wager-freespin
        margin-left: 5px
        font-weight: 900
        color: #FFDC39
        font-size: 32px
    .balance-message
      margin-bottom: 10px
      margin-top: 20px
      .text
        color: #FFFFFF
        font-size: 18px
        font-weight: 600
        text-align: center
      .amounts
        margin-left: 50px
        .amount-original
          font-size: 28px
      .amount
        color: #FFDC39
        font-weight: 800
        font-size: 28px
        text-align: center
    .modal-error-message
      font-size: 16px
      color: white
      margin-top: 10px
      font-weight: 700
      width: 100%
      background: #f51616
      padding: 7px
      border-radius: 5px

.freespin-shop-modal
  .loader-container
    display: flex
    margin-top: 5px
  .promo-code-form
    width: 100%
    padding: 15px!important
    margin-top: 5px
    margin-bottom: 20px
    @include mobile-xs
      padding: 15px 3px!important
      .form-line
        padding: 0 3px
    .currency-label
      top: 28%!important
    .success-block
      .success-message
        color: #3fea45
        font-size: 14px
        padding: 0
        margin-bottom: 10px
      .promocode-info-block
        display: flex
        justify-content: space-between
        .amount
          text-align: right

    .error-message
      color: #ff8888
      text-align: center

.freespins-block--minimal
  padding-top: 49px
  display: flex !important
  justify-content: space-around !important
  flex-wrap: wrap
  @include mobile
    padding-top: 80px
    justify-content: flex-start !important

.freespins-item
  align-self: stretch
  display: flex
  flex-direction: column
  padding: 6px
  border: 1px solid $yellow
  margin: 0 10px
  margin-top: 20px
  border-radius: 5px
  position: relative
  width: 253px

.freespins-item__in-stock
  display: flex
  flex-direction: row
  align-items: center

.freespins-item__in-stock-title
  margin-left: 5px
  color: #eee

.freespins-item__in-stock-amount
  margin-left: 3px
  color: $color-white
  font-weight: bold

.freespins-item__favorite
  background-color: #426494
  display: flex
  align-items: center
  justify-content: center
  width: 28px
  height: 28px
  cursor: pointer
  position: absolute
  right: 0
  bottom: 0
  border-radius: 2px
  img
    width: 20px !important

.freespins-item__game-image
  margin-top: 3px
  position: relative
  align-self: center
  display: flex
  height: 140px
  text-align: center
  img
    border-radius: 5px
    height: 140px
    width: auto

.freespins-item__timeleft
  position: absolute
  display: none
  background-color: #fff
  color: $red-wager
  font-weight: bold
  padding: 0 5px
  border-radius: 5px 0

.game-item__img.loaded ~ .freespins-item__timeleft
  display: block

.freespins-item__line
  margin-top: 6px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  text-align: center

.freespins-item__line-right
  padding-right: 5px
  @include mobile
    padding-right: 3px


.freespins-item__fs-amount
  font-size: 40px
  line-height: 1
  font-weight: bold
  color: $red-wager

.freespins-item__old-price
  display: block
  vertical-align: top
  position: relative
  font-size: 26px
  font-weight: 600
  color: #B9B3B7

.freespins-item__old-price::after
  content: ""
  display: block
  position: absolute
  width: 100%
  margin-top: -18px
  height: 3px
  background-color: #B9B3B7
  @include mobile
    height: 2px

.freespins-item__wager-multiplier
  font-size: 28px
  line-height: 1
  font-weight: bold
  color: $color-white

.freespins-item__wager-title
  color: $wheel-item-color-light
  font-size: 16px

.freespins-item__line-left
  min-width: 60px
  display: flex
  align-self: stretch
  background-color: #D61111
  align-items: center
  justify-content: center
  padding: 0 5px
  border-radius: 3px

.freespins-item__sale-title
  color: $color-white
  font-size: 16px

.freespins-item__sale-discount
  color: $color-white
  font-size: 26px
  font-weight: bold

.freespins-item__buy-button
  cursor: pointer
  margin-top: 10px
  display: flex
  flex-direction: row
  background-color: $dark-yellow
  color: $color-white
  justify-content: space-between
  align-items: center
  border-radius: 5px
  text-transform: uppercase
  padding: 0 5px

.freespins-item__buy-button--disabled
  background-color: grey
  cursor: default

.freespins-item__auth-required
  margin-top: 4px
  text-align: center
  color: #F7E05B
  font-weight: 600

.freespins-item__buy-button-text
  display: flex

.freespins-item__price
  font-size: 40px
  line-height: 1
  font-weight: bold

.freespins-item__price--small
  .freespins-item__price
    font-size: 30px

.freespins-item__copy-tooltip
  right: 3px
  top: 36px
  position: absolute
  background: #000000c7
  color: $color-white
  padding: 5px 20px
  border-radius: 6px
  font-weight: bold
  opacity: 0
  transition: all 0.3s linear
  z-index: 2

.freespins-item__copy-tooltip--active
  opacity: 1

.freespins-item__share
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  right: 3px
  top: 3px
  background: #3f6692
  cursor: pointer
  border-radius: 4px
  box-shadow: 1px 1px 10px 2px #1d2640
  display: flex
  width: 28px
  height: 28px
  transition: background 0.3s linear
  z-index: 2
  &:hover
    background: #294463
  img
    width: 20px
    height: 20px

.freespins-block
  .freespins-item,
  .freespins-item--view-one-third
    @include mobile
      padding: 3px
      margin: 0 1%
      margin-top: 10px
      width: 31.3%
      .freespins-item__in-stock-title,
      .freespins-item__in-stock-amount
        margin-left: 4px
        font-size: 8px
      .freespins-item__favorite
        width: 24px
        height: 24px
      .freespins-item__share
        width: 24px
        height: 24px
        img
          width: 20px
          height: 20px
      .freespins-item__timeleft
        font-size: 9px
        padding: 0 3px
        border-radius: 2px 0
      .freespins-item__game-image
        width: 100%
        height: auto
      .freespins-item__game-image img
        width: 100%
        height: auto
      .freespins-item__line
        margin-top: 3px
      .freespins-item__fs-amount
        font-size: 14px
      .freespins-item__old-price
        font-size: 10px
      .freespins-item__old-price::after
        margin-top: -8px
      .freespins-item__wager-multiplier
        font-size: 18px
      .freespins-item__wager-title
        font-size: 5px
      .freespins-item__line-left
        padding: 0 2px
        min-width: 30px
      .freespins-item__sale-title
        font-size: 8px
      .freespins-item__sale-discount
        font-size: 14px
      .freespins-item__buy-button
        padding: 0 3px
        margin-top: 5px
      .freespins-item__buy-button-text
        font-size: 7px
      .freespins-item__price
        font-size: 18px
      .freespins-item__price--small
        .freespins-item__price
          font-size: 14px
      .freespins-item__copy-tooltip
        top: 30px
        padding: 5px 10px
        font-size: 10px
  > .freespins-item:nth-child(1):not(.freespins-item--view-full):not(.freespins-item--view-one-third),
  > .freespins-item:nth-child(2):not(.freespins-item--view-full):not(.freespins-item--view-one-third),
  > .freespins-item--view-half
    @include mobile
      width: 48%
      .freespins-item__fs-amount
        font-size: 22px
      .freespins-item__old-price
        font-size: 14px
      .freespins-item__old-price::after
        margin-top: -10px
      .freespins-item__wager-multiplier
        font-size: 25px
      .freespins-item__wager-title
        font-size: 7px
      .freespins-item__line-left
        min-width: 40px
      .freespins-item__sale-title
        font-size: 9px
      .freespins-item__sale-discount
        font-size: 18px
      .freespins-item__buy-button-text
        font-size: 10px
      .freespins-item__price
        font-size: 20px
      .freespins-item__price--small
        .freespins-item__price
          font-size: 16px
  > .freespins-item--view-full
    flex-direction: row
    padding: 4px
    @include mobile
      width: 98%
      margin: 0 1%
      margin-top: 10px
      .freespins-item__in-stock
        position: absolute
        top: 5px
        left: 45%
        margin-left: 8px
      .freespins-item__in-stock-title
        font-size: 8px
      .freespins-item__in-stock-amount
        font-size: 8px
      .freespins-item__game-image
        margin-top: 0
        width: 45%
        align-self: flex-start
      .freespins-item__share
        left: 45%
        margin-left: -24px
        top: 4px
        right: auto
      .freespins-item__copy-tooltip
        left: 18%
        top: 32px
        right: auto
      .freespins-item__wrap-right
        display: flex
        flex: 1
        flex-direction: column
        justify-content: space-between
        padding-left: 8px
        padding-top: 11px
      .freespins-item__line
        display: flex
        flex: 1
        align-items: center
      .freespins-item__fs-amount
        font-size: 22px
      .freespins-item__old-price
        font-size: 14px
      .freespins-item__old-price::after
        margin-top: -10px
      .freespins-item__wager-multiplier
        font-size: 25px
      .freespins-item__wager-title
        font-size: 7px
      .freespins-item__line-left
        min-width: 40px
        height: 40px
        align-self: center
      .freespins-item__sale-title
        font-size: 9px
      .freespins-item__sale-discount
        font-size: 18px
      .freespins-item__buy-button-text
        font-size: 10px
      .freespins-item__price
        font-size: 24px
      .freespins-item__price--small
        .freespins-item__price
          font-size: 14px

.freespins-filter
  display: flex
  flex-direction: row
  padding-left: 24px
  padding-bottom: 8px
  background-color: $dark-black
  position: absolute
  width: 100%
  z-index: 4
  align-items: center
  @include mobile
    padding-left: 0
    flex-direction: column

.freespins-filter--fixed
  position: fixed
  top: 0

.freespins-filter__tabs
  padding-top: 14px
  display: flex
  flex-direction: row
  @include mobile
    flex: 1
    justify-content: center

.freespins-filter__button
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  min-width: 100px
  margin-right: 7px
  cursor: pointer
  color: #D9E5F8
  padding: 3px 10px
  border: 1px solid #F76A27
  border-radius: 12px
  font-weight: 600
  text-align: center
  span
    margin-left: 4px
  @include mobile
    font-size: 12px

.freespins-filter__button--active
  background-color: #D61111
  border-color: #D61111

.freespins-sort
  padding: 8px
  padding-top: 14px
  padding-bottom: 0
  display: flex
  flex: 1
  width: 100%
  justify-content: space-between
  @include mobile
    padding-top: 8px

.freespins-sort__left
  display: flex
  flex-direction: row
  align-items: center
  cursor: pointer

.freespins-sort__icon
  display: block
  left: 0
  top: 0
  width: 16px
  height: 10px
  background-image: url(/images/icons/max-to-min.svg)
  background-size: contain
  background-position: left center
  background-repeat: no-repeat
  transition: transform 0.3s ease-in-out

.freespins-sort__icon--sort-wager-min,
.freespins-sort__icon--sort-price-min,
.freespins-sort__icon--sort-sale-min,
.freespins-sort__icon--sort-freespins-min
  transform: rotate(180deg)

.freespins-sort__name
  margin-left: 8px
  color: #EDAA00
  font-size: 14px
  @include mobile
    font-size: 11px

.freespins-sort__arrow
  font-size: 12px
  margin-left: 10px
  color: #D9D9D9
  transition: transform 0.3s ease-in-out

.freespins-sort__left--opened
  .freespins-sort__arrow
    transform: rotate(180deg)

.freespins-sort__select
  pointer-events: none
  display: block
  position: absolute
  background-color: $color-blue
  padding: 8px 12px
  margin-top: 46px
  top: 0
  border-radius: 6px
  opacity: 0
  transition: opacity 0.3s ease-in-out
  cursor: default
  @include mobile
    margin-top: 78px
    left: 1%
    right: 1%

.freespins-sort__left--opened
  .freespins-sort__select
    opacity: 1
    pointer-events: auto

.freespins-sort__select-option
  position: relative
  padding: 8px 0
  padding-left: 26px
  cursor: pointer
  font-size: 14px
  color: #D9E5F8
  outline: none
  @include mobile
    font-size: 11px

.freespins-sort__select-option::before
  content: ""
  display: block
  position: absolute
  width: 16px
  height: 16px
  margin-top: 2px
  border: 2px solid #DEE2ED
  border-radius: 50%
  left: 0
  box-sizing: border-box
  @include mobile
    margin-top: 0

.freespins-sort__select-option--active
  color: #EDAA00

.freespins-sort__select-option--active::before
  background: #FFF
  border: 4px solid #FA7C34

.freespins-sort__view-options
  display: none
  @include mobile
    display: block

.freespins-sort__view-option
  font-size: 20px
  color: #426494
  margin: 0 8px

.freespins-sort__view-option--active
  color: #FFFFFF

.freespin-buy-modal-minimal
  display: flex
  flex-direction: column
  padding-bottom: 0

.freespin-buy-modal-minimal__body
  display: flex
  flex-direction: column

.freespin-buy-modal-minimal__header
  flex: 1
  padding: 8px 0
  color: #fff
  background-color: #252F53
  font-size: 18px
  font-weight: 600
  text-align: center
  strong
    color: #F7E05B

.freespin-buy-modal-minimal__in-game-name
  margin-top: 4px
  text-align: center
  font-weight: 700
  font-size: 14px
  line-height: 22px
  color: #D9E5F8
  strong
    display: block
    color: #F7E05B

.freespin-buy-modal-minimal__game-image
  display: flex
  flex: 1
  .game-item__img
    display: block
    margin: 0 auto
    width: 140px
    margin-top: 10px
    margin-bottom: 4px
    border: 1px solid #FEAE00
    border-radius: 2px

.freespin-buy-modal-minimal__line
  margin-top: 8px
  display: flex
  flex: 1
  flex-direction: row
  justify-content: stretch

.freespin-buy-modal-minimal__line-caption
  width: 50%
  text-align: right
  font-weight: 700
  font-size: 14px
  line-height: 22px
  color: #F7E05B
  text-transform: uppercase

.freespin-buy-modal-minimal__line-amount
  display: flex
  flex: 1
  text-align: left
  margin-left: 16px
  font-weight: 700
  font-size: 14px
  line-height: 22px
  color: #D9E5F8

.freespin-buy-modal-minimal__line-amount-with-discount
  .freespin-buy-modal-minimal__line-amount-old
    margin-right: 5px
  .freespin-buy-modal-minimal__line-amount-discount
    font-weight: 800
    font-size: 12px
    line-height: 18px
    padding: 5px
    background: #D61111
    border-radius: 4px
    color: #FFFFFF
    margin-left: 5px
    margin-top: -4px

.freespin-buy-modal-minimal__line-amount--strike
  position: relative
  display: block

.freespin-buy-modal-minimal__line-amount--strike::after
  content: ""
  display: block
  position: absolute
  width: 100%
  margin-top: -12px
  height: 2px
  background-color: #D9E5F8

.freespin-buy-modal-minimal__you-pay
  margin-top: 8px
  display: flex
  align-self: center
  font-weight: 700
  font-size: 14px
  line-height: 22px
  text-transform: uppercase
  color: #D9E5F8

.freespin-buy-modal-minimal__price
  border-radius: 4px
  display: flex
  margin: 0 auto
  margin-top: 8px
  padding: 10px
  background-color: #D61111
  color: $color-white
  font-weight: 700
  font-size: 36px
  line-height: 22px

.freespin-buy-modal-minimal__promocode-prices-container
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  margin-top: 5px
  .freespin-buy-modal-minimal__promocode-prices
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    position: relative
  .freespin-buy-modal-minimal__price-old
    color: #D9E5F8
    text-decoration: line-through
    text-decoration-thickness: 4px
    font-weight: 700
    font-size: 24px
    line-height: 22px
    margin-bottom: 2px
  .freespin-buy-modal-minimal__price-new
    font-weight: 700
    font-size: 24px
    line-height: 22px
    padding: 4px
    background-color: #D61111
    color: $color-white
    border-radius: 6px
  .freespin-buy-modal-minimal__price-discount
    position: absolute
    right: -50px
    font-weight: 800
    font-size: 12px
    line-height: 18px
    padding: 5px
    background: #D61111
    border-radius: 4px
    color: #FFFFFF

.freespin-buy-modal-minimal
  form.promo-code-form
    margin: 0 8px
    margin-top: 22px
    padding: 12px !important
    padding-top: 8px!important
    @media screen and (max-width: 350px) 
      padding: 8px 3px!important
      .form-line
        padding: 0 4px
    .form-label
      font-weight: 700
    .error-message
      margin-top: 4px
      color: $red
      text-align: center
    .success-message
      padding: 8px 0
      text-align: center
      font-weight: 700
      color: #3fea45
      font-size: 14px
      padding: 0
      margin-bottom: 10px
    .promocode-info-block
      display: flex
      flex-direction: row
      justify-content: space-between
      .text
        color: #F7E05B

.freespin-buy-modal-minimal__buy-button,
.freespin-buy-modal-minimal__close-button,
.freespin-buy-modal-minimal__go-to-game-button
  margin-top: 18px
  align-self: center
  cursor: pointer
  border-radius: 6px

.freespin-buy-modal-minimal__error-message
  font-size: 16px
  color: white
  margin-top: 10px
  font-weight: 700
  width: 100%
  background: #f51616
  padding: 7px
  border-radius: 5px