@import "../mixin.sass"

// balance
.game-lobby-page .balance-wrap .block-count
    display: none

.game-lobby-page .balance-wrap .currency-dropdown li
    display: none

// profile btn
.game-lobby-page .balance-wrap .currency-dropdown li:last-child
    display: block

.game-lobby-page .wrapper
    min-height: 100%

.game-lobby-page section.site-game-lobby
  height: calc(100vh - 130px) !important
  max-width: none !important
  min-height: calc(100vh - 130px) !important

.game-lobby-container
  height: 100%
  position: relative

.game-lobby-container .block-game
  height: 100%

.game-lobby-container .game-wrapper
  height: 100%

.lobby-game-page
  &.with-header
    .balance-wrap
      .block-count
        display: inline-block!important
    .site-header
      >.site-wrapper
        @include tablet-max
          height: auto!important
    .GameScreen
      iframe
        height: auto!important
    .GameScreen-bc-sport
      .GameScreen__content
        transform: none
        top: 0
        left: 0
      iframe
        border: none
