.lobby-wrapper
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  overflow: auto

.lobby
  padding: 10px 0
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background-color: #050a38
  overflow: auto
  min-height: 100%
.lobby__title
  font-size: 60px
  line-height: 73px
  text-align: center
  color: #ffffff
  font-weight: 500
  @include mobile-xs
    font-size: 36px
    line-height: 40px
.lobby__items
  max-width: 1272px
  margin-top: 63px 
  display: flex
  flex-direction: row 
  flex-wrap: wrap
  align-items: flex-start
  justify-content: flex-start
  @include mobile-xs
    margin-top: 32px
    justify-content: center
.lobby__item
  cursor: pointer
  display: flex 
  flex-direction: column 
  align-items: center 
  justify-content: center 
  margin: 0px 16px 32px 16px 
  width: 180px 
  height: 180px 
  background: #24f29c 
  box-shadow: 0px 10px 50px rgba(0, 56, 81, 0.5) 
  border-radius: 60px 20px 60px 60px
  @include mobile-xs
    width: 140px
    height: 140px
    margin: 0px 8px 16px 8px
.lobby__item-icon
  display: flex 
  align-items: center 
  justify-content: center 
  width: 70px 
  height: 70px 
  border-radius: 35px 
  background: #333656
  background-repeat: no-repeat 
  background-position: center 
.lobby__item-icon--airplane 
  background-image: url("/images/kiosk/airplane.svg") 
.lobby__item-icon--bank 
  background-image: url("/images/kiosk/bank.svg") 
.lobby__item-icon--bar 
  background-image: url("/images/kiosk/bar.svg") 
.lobby__item-icon--car 
  background-image: url("/images/kiosk/car.svg") 
.lobby__item-icon--car-wash 
  background-image: url("/images/kiosk/car-wash.svg") 
.lobby__item-icon--chat 
  background-image: url("/images/kiosk/chat.svg") 
  background-image: url("/images/kiosk/chat.svg") 
.lobby__item-icon--cinema 
  background-image: url("/images/kiosk/cinema.svg") 
.lobby__item-icon--crypto 
  background-image: url("/images/kiosk/crypto.svg") 
.lobby__item-icon--facebook 
  background-image: url("/images/kiosk/facebook.svg") 
.lobby__item-icon--fork 
  background-image: url("/images/kiosk/fork.svg") 
.lobby__item-icon--gas 
  background-image: url("/images/kiosk/gas.svg") 
.lobby__item-icon--hospital 
  background-image: url("/images/kiosk/hospital.svg") 
.lobby__item-icon--hotel 
  background-image: url("/images/kiosk/hotel.svg") 
.lobby__item-icon--info 
  background-image: url("/images/kiosk/info.svg") 
.lobby__item-icon--instagram 
  background-image: url("/images/kiosk/instagram.svg") 
.lobby__item-icon--newspaper 
  background-image: url("/images/kiosk/newspaper.svg") 
.lobby__item-icon--parking
  background-image: url("/images/kiosk/parking.svg") 
.lobby__item-icon--pills
  background-image: url("/images/kiosk/pills.svg") 
.lobby__item-icon--ship
  background-image: url("/images/kiosk/ship.svg") 
.lobby__item-icon--shop 
  background-image: url("/images/kiosk/shop.svg") 
.lobby__item-icon--taxi 
  background-image: url("/images/kiosk/taxi.svg")
.lobby__item-icon--train 
  background-image: url("/images/kiosk/train.svg")
.lobby__item-icon--tv 
  background-image: url("/images/kiosk/tv.svg")
.lobby__item-icon--weather
  background-image: url("/images/kiosk/weather.svg")
.lobby__item-icon--lotto
  background-image: url("/images/kiosk/lotto.svg")
.lobby__item-title
  margin-top: 10px
  padding: 0 15px 
  font-size: 18px
  line-height: 22px
  text-align: center 
  color: #2c323e
  font-weight: 700
  @include mobile-xs
    font-size: 16px

.lobby-modal__overlay
  z-index: 9
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  display: flex
  flex: 1
  align-items: center
  justify-content: center
  background-color: rgba(0, 0, 0, 0.5)

.lobby-modal__close
  position: absolute
  top: 0
  right: 0
  padding: 16px
  span
    width: 32px
    height: 32px

.lobby-modal
  flex-direction: column

.lobby-modal__pin
  display: flex
  flex-direction: row
  justify-content: center
  margin-bottom: 24px

.lobby-modal__pin-digit
  padding-top: 12px
  margin: 0 8px
  text-align: center
  width: 48px
  height: 48px
  border-radius: 24px
  background-color: rgba(255,255,255,0.9)
  font-size: 24px
  color: #000