@import "../swatches"
@import "../mixin"
@import "../common/animations"

//
// Skill wheel
// ------------------------------
.page-skill-wheel
  overflow: hidden
  .wrapper
    background: none
    background-color: #00050b

.wrapper
  background: no-repeat url(/images/index/bg.jpg?v1) 0 0
  background-size: cover
  min-height: 100%
  @include tablet
    height: 100%

.wrapper-table
  @include tablet
    display: table
    width: 100%

.wrapper-cell
  @include tablet
    vertical-align: middle
    display: table-cell
    text-align: center
  .content
    width: auto
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)

.wheel-container
    position: relative
    width: 1126px
    height: 821px
    font-family: $font-second
    text-transform: uppercase
    background: no-repeat url(/images/skill-wheel/bg.jpg?v1) center center
    background-size: auto 100%

.wheel-container-frame
    pointer-events: none
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: no-repeat url(/images/skill-wheel/frame.png) center 220px
    background-size: 100% auto

.wheel-subtitle
    position: absolute
    top: 255px
    font-size: 20px
    width: 100%
    font-weight: bold
    text-align: center
    color: $color-extra-dark-black
    text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5)

.wheel-items-container
    position: absolute
    top: 320px
    height: 300px
    width: 660px
    left: 235px
    text-align: center
    overflow: hidden
    background: no-repeat url(/images/skill-wheel/frame-bg.png) center center

.wheel-items--container
    transform: translateY(-50%)

.wheel-items
    position: relative
    backface-visibility: hidden
    -webkit-backface-visibility: hidden /* Chrome and Safari */
    -moz-backface-visibility: hidden /* Firefox */
    font-size: 130px
    line-height: 0.8 !important
    will-change: transform

.wheel-item
    user-select: none
    cursor: pointer
    position: relative
    color: #ffb601
    font-weight: 700
    padding: 5px 0
    white-space: nowrap
    margin-left: auto
    margin-right: auto
    @include text-stroke(3px, $color-black)

.wheel-item--active
    color: red

.wheel-timer
    position: absolute
    top: 195px
    color: #fff
    font-size: 20px
    text-align: center
    width: 100%

//
// Skill wheel prizes
// ------------------------------
.wheel-prize
    display: inline-block

.wheel-prize-container
    position: absolute
    bottom: 0
    width: 100%
    display: flex
    align-items: flex-end
    justify-content: space-around
    font-family: $font-first
    margin-bottom: -1px
    text-align: center

.wheel-prize-value
    border: 1px solid red
    padding: 15px 10px
    min-width: 300px

.wheel-prize-text
    font-size: 30px
    padding: 12px
    color: darken($wheel-item-color, 10%)
    @include text-stroke(1px, $color-black)

.wheel-prize-value
    font-size: 35px
    border-radius: 15px 15px 0 0
    background-color: rgb(46, 8, 2)
    box-shadow: 0 0 5px 6px rgba(141, 30, 0, 0.74), 0 2px 13px 22px rgba(78, 0, 0, 0.60)
    color: lighten($wheel-item-color, 10%)
    white-space: nowrap

.wheel-prize-link
    bottom: 24px
    left: 50%
    transform: translateX(-50%)
    .wheel-prize-text
        font-size: 40px
        color: $wheel-prize-value-color
// end region
