@import "../mixin"

.timeline-cashback-page
  display: flex
  justify-content: center
  width: 100%
  margin-bottom: 80px
  @include desktop
    margin-bottom: 250px
  .timeline-cashback-page-content
    max-width: 1300px
    width: 100%
    .block-title
      font-size: 36px
      font-weight: 600
      text-align: center
      color: #feae00
      text-transform: uppercase
      margin: 15px 0 16px

.timeline-cashback-page-block
  background: #28324A
  border-radius: 24px
  margin: 30px 8px
  @include desktop
    background: none
  .main-block
    background: #11192C
    border-radius: 24px
    @include desktop
      background: none
  .points-accumulating-status
    .bonuses-list
      padding-left: 21px
      .bonus-item
        list-style-type: disc
        color: #ec1b5a
        font-weight: bold
  .points-accumulating-mobile-status
    padding: 12px 16px
    color: #FFFFFF
    font-size: 14px
    @include desktop
      display: none
  .block-icon
    background-size: contain
    height: 32px
    width: 32px
    background-repeat: no-repeat
    background-position: center
    @include desktop
      height: 40px
      width: 40px
  .first-content-block
    @include desktop
      display: flex
      background: #11192C
      border-radius: 24px
      margin-bottom: 16px
  .second-content-block
    @include desktop
      display: flex
  .timeline-cashback-page-block-top
    padding: 16px
    border-bottom: 1px solid #262F43
    display: flex
    align-items: center
    @include desktop
      width: 400px
      border-bottom: none
      min-width: 400px
    .top-progress
      width: 100%
      @include desktop
        order: 2
        display: flex
        flex-direction: column
        margin-left: 30px
      .your-points
        color: #1EC260
        font-weight: 700
        font-size: 20px
        line-height: 26px
      .next-level-points
        font-weight: 400
        font-size: 12px
        line-height: 16px
        color: #1EC260
      .progress-bar
        height: 7px
        width: 100%
        background: #1d9cf980
        border-radius: 12px
        margin-top: 7px
        margin-bottom: 7px
        order: 2
        .progress-line
          background: #1D9CF9
          box-shadow: 0px 2px 12px rgba(29, 156, 249, 0.3)
          border-radius: 12px
          height: 7px
          z-index: 9
      .play-to-earn-more-points
        margin-top: 8px
        font-weight: 700
        font-size: 14px
        line-height: 18px
        color: #FFFFFF
    .level-type-container
      display: flex
      flex-direction: column
      align-items: center
      margin-left: 12px
      .bonus-level-type
        border-radius: 24px
        z-index: 9
        padding: 4px 8px
        text-transform: uppercase
        margin-top: -7px
        font-size: 14px
        display: flex
        font-weight: bold
        align-items: center
        width: max-content
        .bonus-level-type-percent
          color: transparent
          margin-left: 4px
          color: white
          border-radius: 8px
          font-size: 12px
          padding: 2px 3px
      .circle-container
        .circle-progress-cashback
          width: 60px
          height: 60px
          border-radius: 50%
          background: transparent
          position: relative
          @include desktop
            width: 77px
            height: 77px
          &::before
            top: 0
            left: 0
            right: 0
            bottom: 0
        .circle-image
          width: 82px
          position: absolute
          z-index: 9
          bottom: 10px
          @include desktop
            width: 82px
            bottom: 14px
            left: -2px
    .timeline-cashback-page-block-type
      width: 77px
      margin-left: 30px
      min-width: 77px
      position: relative
      @include desktop
        order: 1
        margin-left: 0px
        margin-right: 16px
      img
        width: 100%
        position: absolute
        bottom: 5px
        @include desktop
          bottom: 0px
  .cashback-progress-block
    padding: 12px
    border-bottom: 1px solid #262F43
    @include desktop
      width: 100%
      border-left: 1px solid #262F43
      border-bottom: none
      padding: 24px
      display: flex
      justify-content: center
    .cashback-icon
      background-image: url('/images/timeline-cashback/cashback-icon.svg')
    .your-cashback-block
      display: flex
      justify-content: space-between
      @include desktop
        display: none
      .left
        display: flex
        align-items: center
        .text
          margin-left: 8px
          font-size: 14px
          color: white
      .right
        display: flex
        align-items: center
        .text
          font-size: 14px
          color: white
          font-weight: bold
    .your-cashback-block-desktop
      display: none
      @include desktop
        display: block
        .bottom
          display: flex
          margin-top: 6px
          .block-icon
            margin-right: 8px
          .text
            color: white
            font-weight: bold
            font-size: 40px
            line-height: 40px
    .cashback-progress
      display: flex
      align-items: center
      justify-content: space-between
      @include desktop
        margin: 0
      &.more-than-5
        .level-item
          padding: 5px 3px
          margin: 0 1px
          @include desktop
            padding: 5px 5px
            margin: 0 4px
            width: 80px
            height: 55px
            .lock-icon
              width: 19px
            @media (min-width: 991px) and (max-width: 1280px)
              width: 75px
              height: 50px
              padding: 3px 3px
      .level-item
        border-radius: 8px
        padding: 5px 9px
        display: flex
        justify-content: center
        width: 100%
        margin: 0 3px
        align-items: center
        @include desktop
          height: 100%
          padding: 5px 16px
          border-radius: 24px
          margin: 0 8px
          width: 114px
          @media (min-width: 991px) and (max-width: 1280px)
            height: 55px
            width: 86px
        &.complete
          background: #1f273c
        &.current
          background: #1D9CF9
          box-shadow: 0px 4px 28px #1D9CF9
        &.lock
          background: #1EC260
        .complete-icon
          background-size: contain
          background-image: url('/images/timeline-cashback/ok-icon.svg')
          height: 12px
          width: 12px
          background-repeat: no-repeat
          background-position: center
          @include desktop
            height: 32px
            width: 32px
            @media (min-width: 991px) and (max-width: 1280px)
              height: 20px
              width: 20px
        .lock-icon
          background-size: contain
          background-image: url('/images/timeline-cashback/lock-icon.svg')
          height: 10px
          width: 11px
          background-repeat: no-repeat
          background-position: center
          @include desktop
            height: 28px
            width: 30px
            @media (min-width: 991px) and (max-width: 1280px)
              height: 20px
              width: 22px
        .percent
          margin-left: 3px
          font-size: 12px
          color: white
          @include desktop
            font-size: 24px
            @media (min-width: 991px) and (max-width: 1280px)
              font-size: 16px
  .cashback-available-block
    padding: 12px
    display: flex
    align-items: center
    border-bottom: 1px solid #262F43
    justify-content: space-between
    @include desktop
      border-bottom: none
      background: #11192C
      border-radius: 24px
      padding: 16px
      flex: 1
      margin-right: 16px
      order: 1
    .left
      display: flex
      align-items: center
      @include desktop
        flex-direction: column
        align-items: flex-start
      .dollar-icon
        background-image: url('/images/timeline-cashback/dollar-icon.svg')
      .text-block
        margin-left: 8px
        @include desktop
          margin: 0
          margin-top: 8px
        .top
          font-size: 14px
          color: white
          @include desktop
            font-size: 16px
        .bottom
          color: #1D9CF9
          font-size: 12px
          text-decoration: underline
    .right
      font-size: 14px
      color: white
      font-weight: bold
      text-align: right
      @include desktop
        font-size: 32px
      .bottom
        font-weight: 400
        font-size: 12px
        line-height: 16px
        color: #1EC260
  .reset-date-block
    padding: 12px
    display: flex
    align-items: center
    justify-content: space-between
    border-bottom: 1px solid #262F43
    @include desktop
      background: #11192C
      border-radius: 24px
      padding: 16px
      border-bottom: none
      flex: 1
      order: 3
    .left
      display: flex
      align-items: center
      @include desktop
        flex-direction: column
        align-items: flex-start
        height: 100%
        justify-content: center
      .date-icon
        background-image: url('/images/timeline-cashback/date-icon.svg')
      .text
        font-size: 14px
        color: white
        margin-left: 8px
        @include desktop
          margin-left: 0px
          margin-top: 8px
          font-size: 16px
    .right
      font-size: 14px
      color: white
      font-weight: bold
      @include desktop
        font-size: 28px
  .points-accumulating-block
    @include desktop
      order: 2
      background: #28324A
      border-radius: 24px
      margin-right: 16px
      flex: 1
    .top
      padding: 16px
      font-size: 14px
      color: #FFFFFF
      display: flex
      justify-content: space-between
      align-items: center
      @include desktop
        background: #11192C
        border-radius: 24px
        font-size: 16px
        padding: 24px
      .status
        padding: 4px 12px
        border-radius: 8px
        @include desktop
          font-weight: 700
          font-size: 20px
        &.green
          background: #1EC260
        &.red
          background: #EC1B5A
    .bottom
      display: none
      @include desktop
        display: flex
        color: #FFFFFF
        font-size: 16px
        padding: 16px 24px
