@import "./theme"
@import "./item-page"
@import "./list-page"

.tournaments-main-page-block-love-day,
.tournaments-tournament-page-love-day
    .flipdown.flipdown__theme-wl .rotor, 
    .flipdown.flipdown__theme-wl .rotor-top, 
    .flipdown.flipdown__theme-wl .rotor-leaf-front,
    .flipdown.flipdown__theme-wl .rotor-bottom, 
    .flipdown.flipdown__theme-wl .rotor-leaf-rear
        color: #e20002
        background: #fff
    .flipdown.flipdown__theme-wl .rotor::after
        border-color: #cccccc
    .game-item__title
        background: #8f0004

.tournaments-tournaments-list-page-love-day
    .flipdown.flipdown__theme-wl .rotor,
    .flipdown.flipdown__theme-wl .rotor-top,
    .flipdown.flipdown__theme-wl .rotor-leaf-front,
    .flipdown.flipdown__theme-wl .rotor-bottom,
    .flipdown.flipdown__theme-wl .rotor-leaf-rear
        color: #fff
        background: #ad0229
    .flipdown.flipdown__theme-wl .rotor::after
        border-top: 1px solid rgba(0, 0, 0, 0.2)
    .game-item__title
        background: #4c1204
