@import "../../../swatches.sass"
@import "../../../mixin.sass"
    
.tournaments-tournament-page-love-day
    overflow: hidden
    article
        position: relative
    @include mobile
        header img
            max-width: 290px
    
.tournaments-page-content .tournaments-tournament-page-love-day 
    .leaders-header
        background-color: #2b0701
        margin-top: 0
        margin-bottom: 0
        padding-top: 30px
    .leaders
        background-color: #2b0701

.tournaments-page-content .tournaments-tournament-page-love-day h1
    color: #fff
    position: relative

.tournaments-tournament-page-love-day .tournament-section-banner
    height: 400px
    figure
        left: 0
        bottom: -18px
        @include mobile
            bottom: -12px
            left: -20px
        img
            height: 100%
