@import "../../../mixin.sass"
@import "../mixin.sass"

.tournaments-main-page-block-love-day
    border: 1px solid #840010

.tournaments-page-content .tournaments-tournament-page-love-day
    background: url('/images/tournaments/love-day/list-item-pattern.jpg') #840010
    background-size: 70px
    .tournament-article
        position: relative
        background-color: transparentize(#341a00, 0.3)

.tournaments-tournament-page-love-day .tournament-days
    position: relative

.tournaments-tournaments-list-page-love-day
    background: transparentize(#341a00, 0.3)

    .card-body
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27), inset 0 1px 0 0 rgba(255, 255, 255, 0.16)

.tournaments-tournaments-list-page-love-day.tournaments-list-active-item
    border: 1px solid #840010

.tournaments-tournaments-list-page-love-day .tournaments-list-item-background-overlay
    @include tablet-max
        display: none
    @include asset('love-day','heart-middle', 150, 150)
        right: -60px
        top: -50px
        transform: rotate(-10deg)

.tournaments-background-overlay
    @include tablet-max
        display: none
    z-index: auto
    pointer-events: none
    position: absolute
    width: 100%
    height: 100%
    @include asset('love-day','girl', 225, 430)
        right: -150px
        top: 25px
        z-index: 5
    @include asset('love-day','casket', 555, 360)
        left: -165px
        top: 10px
        z-index: 0
    @include asset('love-day','heart-small', 70, 70)
        width: 90px
        height: 90px
        left: -65px
        top: 40%
        z-index: 5
    @include asset('love-day','heart-middle', 110, 110)
        right: -70px
        bottom: 5px
        top: 27%
        z-index: 5
    @include asset('love-day','heart-large', 140, 140)
        left: -95px
        bottom: 5px
        z-index: 5
        top: 15%

.tournaments-main-page-block-love-day
    border: 1px solid #891E2E
    background-image: linear-gradient(to bottom, #840010, #4c1204)

.tournaments-main-page-block-love-day
    position: relative
    .background-layer
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
    .background-layer ~ *
        z-index: 2
        position: relative

.tournaments-main-page-block.tournaments-main-page-block-love-day
    border-color: #BB2925
    .background-layer
        .item-left
            position: absolute
            background: url('/images/tournaments/love-day/main-block/item-left.png') center / contain no-repeat
            width: 173px
            height: 70px
            left: 28%
            @include desktop
                left: 30.5%
                width: 100px
                background-position: top
            @include tablet-max
                left: 0
                bottom: 0
                height: 100%
            @include mobile
                left: -60px
            @include mobile-xs
                left: -90px
        .item-right
            position: absolute
            background: url('/images/tournaments/love-day/main-block/item-right.png') center / contain no-repeat
            width: 243px
            height: 179px
            @include desktop
                right: 28%
                width: 120px
                background-position: center 0
            @include tablet-max
                right: 0
                bottom: 0
                height: 100%
            @include mobile
                right: -60px
            @include mobile-xs
                right: -110px

.tournaments-tournaments-list-page-love-day
    background: url('/images/tournaments/love-day/list-item-pattern.jpg')
    background-size: 70px

    footer
        position: relative
    .card-body
        background: #4c1204
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27), inset 0 1px 0 0 rgba(255, 255, 255, 0.16)

.tournaments-tournaments-list-page-love-day .tournaments-list-item-icon
    background: url('/images/tournaments/love-day/list-item-background.jpg?v1') center / cover no-repeat
    width: 300px
    height: 188px
    @include mobile
        width: 180px
        height: auto
    @include mobile-xs
        width: 128px
        height: auto
