@import "./theme"
@import "./item-page"
@import "./list-page"

.tournaments-main-page-block-weekly,
.tournaments-list-active-item.tournaments-tournaments-list-page-weekly,
.tournaments-tournament-page-weekly
    .flipdown.flipdown__theme-wl .rotor, 
    .flipdown.flipdown__theme-wl .rotor-top, 
    .flipdown.flipdown__theme-wl .rotor-leaf-front,
    .flipdown.flipdown__theme-wl .rotor-bottom, 
    .flipdown.flipdown__theme-wl .rotor-leaf-rear
        color: #000
        background-image: linear-gradient(to bottom, #facf32, #f7a100 97%)
        font-weight: 500
    .flipdown.flipdown__theme-wl .rotor::after
        border-color: rgba(0,0,0,0.2)
    .game-item__title
        background: #a80008

.tournaments-main-page-block-weekly
    .tournament-name
        z-index: 1
