@import "../../../swatches.sass"
@import "../../../mixin.sass"
    
.tournaments-tournament-page-weekly
    overflow: hidden
    article
        position: relative
    @include mobile
        header img
            max-width: 290px

.tournaments-page-content.tournament-item-page .tournaments-tournament-page-weekly .tournament-section-banner
    height: 400px
    @include desktop
        padding-top: 70px
    @include mobile
        height: auto
    figure
        top: 76px
        left: 80px
        @include mobile
            top: 4%
            left: 4%
        img
            width: 294px
            height: auto
            @include mobile
                width: 40%

.tournaments-page-content .tournaments-tournament-page-weekly
    .tournament-article-leaders
        background-color: #a80008
        &:before
            content: ''
            display: block
            position: relative
            width: 100%
            height: 477px
            background-color: #4c0826
            background-image: url('/images/tournaments/weekly/content-bg.png')
            background-size: cover
            background-repeat: no-repeat
            background-position: bottom center
            margin-top: 32px
    .leaders
        background-color: #a80008

.tournaments-page-content .tournaments-tournament-page-weekly .leaders-header
    margin: 0
    padding: 32px 0 16px 0
    border-radius: 4px 4px 0 0

.tournaments-page-content.tournaments-list-page .tournaments-tournaments-list-page-weekly .card-item
    margin-bottom: -3px
