@import "../../../mixin.sass"
@import "../../../swatches.sass"
@import "../mixin.sass"

.tournaments-page-content
    .tournaments-tournament-page-weekly
        background-image: url('/images/tournaments/weekly/bg.jpg')
        background-color: #761134
        background-position: top center
        background-repeat: no-repeat
        background-size: contain
        .tournament-article
            background-color: #4c0826
        @include asset('weekly','coins-page', 394, 327)
            top: 20px
            left: -320px
        @include asset('weekly','elephant-page', 341, 425)
            top: -20px
            right: -256px

.tournaments-tournaments-list-page-weekly
    .card-item
        z-index: 2
        figure
            border: none
    .card-body
        background-image: url('/images/tournaments/weekly/stars.png'), linear-gradient(to bottom, #780F33 0%, #560731 100%)
        background-repeat: repeat
        background-position: top left
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27), inset 0 1px 0 0 rgba(255, 255, 255, 0.16)
    footer
        background: #4c0826
        border: 1px solid #b43f3c
        border-radius: 0 0 8px 8px

.tournaments-tournaments-list-page-weekly.tournaments-list-active-item
    border: none

.tournaments-tournaments-list-page-weekly .tournaments-list-item-background-overlay
    @include tablet-max
        display: none
    @include asset('weekly','dollar-left', 133, 68)
        top: -120px
        left: -212px
    @include asset('weekly','dollar-bottom', 117, 54)
        left: -44px
        bottom: -24px
    @include asset('weekly','coin-right', 97, 74)
        right: -60px
        top: 61px

.tournaments-main-page-block.tournaments-main-page-block-weekly
    border: none
    background-image: url('/images/tournaments/weekly/main-block/bg.png')
    background-size: contain
    position: relative
    @include tablet-max
        background-image: url('/images/tournaments/weekly/stars.png'), linear-gradient(to bottom, #780F33 0%, #560731 100%)
        background-size: auto
        background-repeat: repeat
        margin-left: 6px
        margin-right: 6px
    .background-layer
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        .item-left
            position: absolute
            display: none
            @include tablet-max
                display: block
                background: url('/images/tournaments/weekly/main-block/m/girl.png') center / contain no-repeat
                left: 0
                bottom: 0
                width: 114px
                height: 128px
        .item-right
            position: absolute
            display: none
            @include tablet-max
                display: block
                background: url('/images/tournaments/weekly/main-block/m/monkey.png') center / contain no-repeat
                right: 0
                bottom: 0
                width: 148px
                height: 142px

.tournaments-tournament-page-weekly .tournaments-background-overlay
    @include tablet-max
        display: none

    z-index: 5
    pointer-events: none
    position: absolute
    width: 100%
    height: 100%
    @include asset('weekly','page-coin-left', 125, 95)
        left: -80px
        top: 580px
    @include asset('weekly','page-coin2-left', 125, 83)
        left: -50px
        top: 1900px
    @include asset('weekly','page-dollar-right', 206, 95)
        right: -90px
        top: 400px
    @include asset('weekly','page-chip-right', 161, 171)
        right: -74px
        top: 800px
    @include asset('weekly','page-chip2-right', 128, 138)
        right: -191px
        top: 1320px
    @include asset('weekly','page-dollar2-right', 272, 229)
        right: -130px
        top: 1700px


.tournaments-tournaments-list-page-weekly .tournaments-list-item-icon
    background-image: linear-gradient(to bottom, #b33f3c, #741034)
    background-position: top left
    background-size: contain
    background-repeat: no-repeat
    width: 300px
    height: 188px
    @include mobile
        width: 180px
        height: auto
    @include mobile-xs
        width: 128px
        height: auto
    &:before
        content: ''
        display: block
        position: absolute
        width: 280px
        height: 239px
        left: 10px
        bottom: 0
        background-image: url('/images/tournaments/weekly/overlay/monkey.png')
        background-size: contain
        background-repeat: no-repeat
        @include tablet-max
            width: 100%
            height: 100%

.tournaments-list-unclickable-item.tournaments-tournaments-list-page-weekly
    .tournaments-list-item-icon
        border-radius: 8px 0 0 8px
        &:before
            @include tablet-max
                background-position: bottom
    .card-body
      border-radius: 0 8px 8px 0

.tournaments-list-fininshed-item.tournaments-tournaments-list-page-weekly .tournaments-list-item-icon
    position: relative
    &:after
        content: ''
        display: block
        position: absolute
        width: 191px
        height: 172px
        background-image: url('/images/tournaments/weekly/overlay/elephant.png')
        background-size: contain
        bottom: 0
        left: 76px
