include ./royalties-label

mixin amount_label(content, operationToken, min, max, currencyCode, balance, royalties, pendingBonusesCount, store)
    if pendingBonusesCount
        label.form-label=content.t('disclaimer-withdrawal-pending-bonuses')
    else if royalties
        +royalties_label(content, royalties)
    else if !!store.selectedPayway && store.selectedPayway.provider.type === content.enums.withdrawProvider.CASHAPP
        label.form-label=(content.t("ui-balance") + ' ' + content.userInfo.realBalance.formatted)
    else if !!store.selectedPayway && store.selectedPayway.provider.type === content.enums.withdrawProvider.CASHAPP
        label.form-label=content.t("enter-amount-you-wish-to-refill")
    else if !!store.selectedPayway && store.selectedPayway.provider.type === content.enums.withdrawProvider.BTCPAYSERVER
        if store.selectedPayway.isRefill
            if !!content.refillStore.selectedPayway.minAmount
                label.form-label=content.t("ui-refill-amount-v3-min", {amount: content.money.formatCurrencyAmount(store.selectedPayway.minAmount, content.user.getRealBalanceCurrencyId())})
            else
                label.form-label=content.t("ui-refill-amount-v3")
        else
            label.form-label=(content.t("balance-available-to-redeem", {balance: balance}))
    else if min !== content.money.NASymbol && max !== content.money.NASymbol
        label.form-label= content.t(operationToken) + ' ' + content.t("ui-funds-operation-limits", {min: min, max: max, currency: currencyCode}) + (balance ? (' ' + content.t("ui-balance") + ' ' + balance) : '')
    else if min !== content.money.NASymbol
        label.form-label= content.t(operationToken) + ' ' + content.t("ui-funds-operation-limits-min", {min: min, currency: currencyCode}) + (balance ? (' ' + content.t("ui-balance") + ' ' + balance) : '')
    else if max !== content.money.NASymbol
        label.form-label= content.t(operationToken) + ' ' + content.t("ui-funds-operation-limits-max", {max: max, currency: currencyCode}) + (balance ? (' ' + content.t("ui-balance") + ' ' + balance) : '')
    else
        label.form-label= content.t(operationToken)