mixin amount_royalty_info(content, store)
    if store.paywayForm.amountInfo.amountRoyaltyFormatted
        .form-field-info=content.t('refill-amount-royalty-info', {amount: store.paywayForm.amountInfo.amountFormatted, royalty: store.paywayForm.amountInfo.amountRoyaltyFormatted, total: store.paywayForm.amountInfo.totalAmountFormatted})
