include ./buttons
include ./amount-label
include ./amount_royalty_info

mixin payway_amount_field(content, store, field)
    .form-line.payway-amount-field(className=(store.selectedPayway.currentStep !== field.shownOnStep) ? "payway-field--hidden" : "")
        +amount_label(
            content,
            store.getAmountLabelToken(),
            store.selectedPayway.formatMinAmount(),
            store.selectedPayway.formatMaxAmount(),
            store.selectedPayway.formatCurrencyCode(),
            content.userInfo.realBalance.formatted,
            store.paywayForm.royaltiesAmountStr,
            store.paywayForm.pendingBonusesCount,
            store
        )
        .form-field.inline.form-field--amount
            span.input-wrap
                input(
                    type="text"
                    ref=content.makeRef(field.getInputId())
                    disabled=store.paywayForm.isLoading
                    placeholder=field.placeholder ? content.t(field.placeholder) : content.t("ui-placeholder-amount")
                    onKeyDown=field.handleKeyDown
                    onChange=field.onChange
                    onBlur=field.onBlur
				    inputMode="decimal"
                )
                span.currency-label= content.user.getRealBalanceCode()
            +payway_form_action_button(content, store, field)
            +amount_royalty_info(content, store)
        if field.error
            div.form-error=field.error
