mixin bank_card(content, id, url, provider, lastNumbers, isActive)
    a.bank-card(id=id href=url className= isActive ? "bank-card bank-card-active" : "bank-card")
        div.bank-card-title= provider
        div.bank-card-number
            div.bank-card-number-muted= "****"
            div.bank-card-number-muted= "****"
            div.bank-card-number-muted= "****"
            div.bank-card-number-digits= lastNumbers
        img.bank-card-chip(src="/images/icons/bank-card-chip.png")
