mixin payway_boolean_field(content, store, field)
    .form-line.payway-select-field
        .form-field.inline
            label.form-label.form-label--checkbox
                input(
                    type='checkbox'
                    checked=(field.value === 'true')
                    onChange=field.onChange
                )
                span=content.t(field.title)
    if field.error
        div.form-error=field.error