mixin payway_form_action_button(content, store, field)
	if store.isLastFieldInSelectedPayway(store.selectedPayway, field)
		.submit-line(className=store.selectedPayway.isMultiStepAndFinal ? "submit-line--br" : "")
			if store.selectedPayway.isMultiStepAndFinal
					button.btn.btn-secondary.btn--payway-goback(onClick=store.selectedPayway.goToPrevStep)=content.t('ui-back')
			button.btn.btn-pr.btn-pr-auto.btn-pr-auto-with-min(
				onClick=store.onFormAction
				disabled=store.isActionLoading && !content.refillStore.promoCodeForm.isLoading
				className=store.selectedPayway.isSubmitButtonDisabled ? "btn--disabled" : ""
			)= content.t(store.getFormActionToken())
