include ./buttons
include ./amount-label

mixin payway_card_cvv(content, store, field)
    .form-line.payway-amount-field.payway-card-cvv
        label.form-label(className=!field.isOptional ? 'required' : '')=field.title ? content.t(field.title) : content.t('ui-refill-account')
        .form-field.inline
            span.input-wrap
                input(
                        type="password"
                        pattern="[0-9]*"
                        inputMode="numeric"
                        minLength="3"
                        maxLength="3"
                        value=field.value
                        getInputRef=content.makeRef(field.getInputId())
                        placeholder=field.placeholder ? content.t(field.placeholder) : content.t("ui-placeholder-refill-account")
                        onChange=field.onChange
                        onBlur=field.onBlur
                    )
    if field.error
        div.form-error=field.error