include ./buttons
include ./amount-label

mixin payway_card_expiration_month_year(content, store, field)
    .form-line.payway-amount-field.payway-card-expiration
        label.form-label(className=!field.isOptional ? 'required' : '')=field.title ? content.t(field.title) : content.t('ui-refill-account')
        .form-field.inline
            span.input-wrap
                NumberFormat(
                        value=field.value
                        getInputRef=content.makeRef(field.getInputId())
                        format="## / ##"
                        mask="_"
                        placeholder=field.placeholder ? content.t(field.placeholder) : content.t("ui-placeholder-refill-account")
                        onValueChange=field.onValueChange
                    )
    if field.error
        div.form-error=field.error