include ./buttons
include ./amount-label

mixin payway_card_number_field(content, store, field)
    .form-line.payway-amount-field(className=(store.selectedPayway.currentStep !== field.shownOnStep) ? "payway-field--hidden" : "")
        label.form-label(className=!field.isOptional ? 'required' : '')=field.title ? content.t(field.title) : content.t('ui-refill-account')
        .form-field.inline
            span.input-wrap
                NumberFormat(
                        value=field.value
                        getInputRef=content.makeRef(field.getInputId())
                        format="#### #### #### ####"
                        mask="_"
                        placeholder=field.placeholder ? content.t(field.placeholder) : content.t("ui-placeholder-refill-account")
                        onValueChange=field.onNumberValueChange
                        onBlur=field.onBlur
                    )
            +payway_form_action_button(content, store, field)
        if field.error
            div.form-error=field.error
