mixin payway_crypto_address_without_qr_field(content, store, field)
    .form-line.payway-crypto-address-without-qr-field
        label.form-label=store.selectedPayway.isRefill ? content.t("title-send-btc-to-address") : content.t("title-paste-your-btc-address")
        .form-field.inline
            span.input-wrap
                input.payway-crypto-address-without-qr-field__input(
                    type="text"
                    value=field.value
                    defaultValue=field.defaultValue
                    onChange=field.onChange
                    onBlur=field.onBlur
                    readOnly=store.selectedPayway.isRefill
                )
                if !store.selectedPayway.isRefill && !!field.value
                    .payway-crypto-address-without-qr-field__clear(onClick=field.clear)
                        span.icon.icon-close
            if store.selectedPayway.isRefill
                .btn-pr.btn-copy(onClick=field.copy)=field.isCopied ? content.t("ui-copied") : content.t("ui-copy")
            else
                .btn-pr.btn-copy(onClick=field.paste)=content.t("ui-paste")
    if field.error
        div.form-error(className=field.errorClass)=field.error