mixin payway_currency_field(content, store, group)
    if group && group.isCurrencySelectRequired()
        .form-line.form-line--horizontal.payway-currency-field
            label.form-label.payway-currency-field-label=content.t('ui-payway-currency')
            each item in group.getCurrencySelectValues()
                a.btn-pr.btn-secondary.payway-currency-field-value(
                    className=store.selectedCurrency && item.currencyId.equals(store.selectedCurrency) ? "active" : undefined
                    disabled=store.paywayForm.isLoading
                    data-currency-id=item.currencyId.toString()
                    href=group.getPaywayUrl(item.currencyId)
                )=content.money.getFormattingCurrencyCode(item.currencyInfo) || item.paywayName