include ./buttons
include ./amount-label

mixin payway_email_field(content, store, field)
    .form-line.payway-amount-field
        label.form-label(className=!field.isOptional ? 'required' : '')=field.title ? content.t(field.title) : content.t('ui-refill-account')
        .form-field.inline
            span.input-wrap
                input(
                    type="email"
                    ref=content.makeRef(field.getInputId())
                    disabled=store.paywayForm.isLoading
                    onChange=field.onChange
                    onBlur=field.onBlur
                    defaultValue=field.defaultValue
                    placeholder=field.placeholder ? content.t(field.placeholder) : content.t("ui-placeholder-refill-account")
                )
    if field.error
        div.form-error=field.error
