mixin payway_file_upload(content, paywayFileUpload)
    .payway__file-upload
        input.payway__file-upload-input(type="file" multiple="multiple" name="document" accept=paywayFileUpload.ACCEPTED_TYPES.join(', ') ref=paywayFileUpload.fileInputRef onChange=paywayFileUpload.handleSelectedFile)
        each file in paywayFileUpload.preparedFiles
          .file-block
            .file-name=file.name
            .file-remove-btn(onClick=file.remove)=content.t('ui-remove')
        if paywayFileUpload.preparedFiles.length < paywayFileUpload.FILE_LIMIT
            .select-file-btn(onClick=paywayFileUpload.showFileSelectionDialog)=paywayFileUpload.preparedFiles.length > 0 ? content.t('ui-profile-documents-add-more') : content.t('ui-profile-documents-add')
        if paywayFileUpload.errors.length > 0
          .payway__file-upload-errors
              each error in paywayFileUpload.errors
                .payway__file-upload-error
                    .payway__file-upload-error-left
                        .icon-error
                    .payway__file-upload-error-content
                        if error.fileName
                            strong=`${error.fileName}: `
                        span=content.t("error-profile-documents-" + error.status)