include ./buttons
include ./amount-label

mixin image_upload_field(content, store, field)
    .form-line.payway-amount-field(className=(store.selectedPayway.currentStep !== field.shownOnStep) ? "payway-field--hidden" : "")
        if "type" in store.selectedPayway.params && (store.selectedPayway.params.type === 'BCP' || store.selectedPayway.params.type === 'BBVA')
            .image-upload-description=content.t('add-proof-of-payment')
        if store.selectedPayway.fileUpload
            +payway_file_upload(content, store.selectedPayway.fileUpload)
        .form-field
            +payway_form_action_button(content, store, field)
        if field.error
            div.form-error=field.error