mixin payway_currency_list(content, store, group)
    if store.possiblePayways.length
        .form-line.form-line--horizontal.payway-currency-field
            label.form-label.payway-currency-field-label=content.t('ui-payway-currency')
            each item in store.possiblePayways
                a.btn-pr.btn-secondary.payway-currency-field-value(
                    className=store.selectedCurrency && item.currency && item.currency.id.equals(store.selectedCurrency) ? "active" : undefined
                    disabled=store.paywayForm.isLoading
                    data-currency-id=item.currency && item.currency.id.toString()
                    href=item.tile.getPaywayUrl(item.paywayId)
                )=content.money.getFormattingCurrencyCode(item.currency) || item.paywayId