include ./buttons
include ./amount-label

mixin payway_phone_field(content, store, field)
    .form-line.payway-phone-field
        label.form-label(className=!field.isOptional ? 'required' : '')=field.title ? content.t(field.title) : content.t("ui-phone")
        .form-field.form-field--phone
            +phone_controlled(
                content,
                field.countryCode,
                field.phoneNumber,
                field.phoneMask,
                field.placeholder ? content.t(field.placeholder) : content.t("ui-phone-number"),
                store.paywayForm.isLoading,
                field.onChangePhone,
                field.onChangeCountryCode,
                undefined,
                undefined,
                undefined
            )
        if field.error
            div.form-error=field.error