include ./bank-card

mixin payway_plastic_card_field(content, store, group)
    if group && group.isPlasticCardSelectRequired()
        div.form-line
            label.form-label.withdrawal-by-card-label(className=!field.isOptional ? 'required' : '')= content.t('ui-available-cards')
            div.withdrawal-by-card-list
                each payway in group.getPlasticCardSelectValues()
                    +bank_card(
                        content,
                        payway.getId(),
                        group.getPaywayUrlById(payway.getId()),
                        "VISA",
                        "4444",
                        store.selectedPayway && store.selectedPayway.getId() === payway.getId()
                    )