mixin royalties_label(content, royalties)
    label.form-label(dangerouslySetInnerHTML={
        __html: content.t("page-withdrawal-royalties", {
            royalties: royalties,
            rules: `<a href="${content.l('/p/terms-and-conditions')}" target="_blank" class="withdrawal-terms-and-condition-link">${content.t('terms-and-conditions-withdrawal')}</a>`
        })
    })