include ./buttons

mixin payway_select_field(content, store, field)
    .form-line.payway-select-field
        label.form-label(className=!field.isOptional ? 'required' : '')=field.title ? content.t(field.title) : content.t('ui-select')
        .form-field.inline
            .input-wrap.custom-select
                if field.options
                    select(
                        ref=content.makeRef(field.getInputId())
                        disabled=store.paywayForm.isLoading
                        onChange=store.paywayForm.onFieldValueChange.bind(store.paywayForm, field)
                        defaultValue=field.defaultValue
                    )
                        if field.placeholder
                            option(key=field.placeholder disabled=true value='undefined')=field.placeholder
                        each op in field.options
                            option(key=op.key value=op.key selected=op.value === field.defaultValue)=op.value
    if field.error
        div.form-error=field.error