include ./buttons
include ./amount-label

mixin payway_unified_field(content, store, field)
    .form-line.payway-amount-field(className=(store.selectedPayway.currentStep !== field.shownOnStep) ? "payway-field--hidden" : "")
        label.form-label(className=!field.isOptional ? 'required' : '')=content.t(field.title)
        .form-field.inline
            span.input-wrap
                input(
                    type="text"
                    ref=content.makeRef(field.getInputId())
                    disabled=store.paywayForm.isLoading
                    onChange=field.onChange
                    placeholder=content.t(field.placeholder)
                    onBlur=field.onBlur
                    defaultValue=field.defaultValue
                )
            +payway_form_action_button(content, store, field)
        if field.error
            div.form-error=field.error
