mixin live_casino_unsuported_currency_disclaimer(content)
    .live-casino-unsuported-currency-disclaimer
        h1.live-casino-unsuported-currency-disclaimer-title=content.t('ui-live-casino-is-not-available-title')
        p.live-casino-unsuported-currency-disclaimer-text=`${content.t('ui-live-casino-is-not-available-for-currency', {currency: content.user.getActiveBalanceCode()})}`
        a.btn-pr.live-casino-unsuported-currency-disclaimer-button(href=content.l('/'))= content.t("ui-back-to-lobby")
