/* THEMES */

/********** Theme: light **********/
/* Font styles */
.flipdown.flipdown__theme-light {
    font-family: sans-serif;
    font-weight: bold;
}
/* Rotor group headings */
.flipdown.flipdown__theme-light .rotor-group-heading:before {
    color: #eeeeee;
}
/* Delimeters */
.flipdown.flipdown__theme-light
    .rotor-group:nth-child(n + 2):nth-child(-n + 3):before,
.flipdown.flipdown__theme-light
    .rotor-group:nth-child(n + 2):nth-child(-n + 3):after {
    background-color: #dddddd;
}
/* Rotor tops */
.flipdown.flipdown__theme-light .rotor,
.flipdown.flipdown__theme-light .rotor-top,
.flipdown.flipdown__theme-light .rotor-leaf-front {
    color: #222222;
    background-color: #dddddd;
}
/* Rotor bottoms */
.flipdown.flipdown__theme-light .rotor-bottom,
.flipdown.flipdown__theme-light .rotor-leaf-rear {
    color: #333333;
    background-color: #eeeeee;
}
/* Hinge */
.flipdown.flipdown__theme-light .rotor:after {
    border-top: solid 1px #222222;
}

/* END OF THEMES */

.flipdown {
    overflow: visible;
}

.flipdown .rotor-group {
    position: relative;
    float: left;
    padding-right: 0.5em;
}

.flipdown .rotor-group:last-child {
    padding-right: 0;
}

.flipdown .rotor-group-heading {
    color: #000000;
    font-size: 0.25em;
    text-align: center;
    text-transform: lowercase;
}

.flipdown .rotor {
    position: relative;
    float: left;
    width: 1em;
    height: 1.25em;
    margin: 0px 5px 0px 0px;
    border-radius: 4px;
    text-align: center;
    perspective: 200px;
}

.flipdown .rotor:last-child {
    margin-right: 0;
}

.flipdown .rotor:after {
    content: '';
    z-index: 2;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
}

.flipdown .rotor-top,
.flipdown .rotor-bottom {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 50%;
}

.flipdown .rotor-leaf {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0s;
}

.flipdown .rotor-leaf.flipped {
    transform: rotateX(-180deg);
    transition: all 0.5s ease-in-out;
}

.flipdown .rotor-leaf-front,
.flipdown .rotor-leaf-rear {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 50%;
    margin: 0;
    transform: rotateX(0deg);
    backface-visibility: hidden;
}

.flipdown .rotor-leaf-front {
    line-height: 1.25em;
    border-radius: 4px 4px 0px 0px;
}

.flipdown .rotor-leaf-rear {
    line-height: 0px;
    border-radius: 0px 0px 4px 4px;
    transform: rotateX(-180deg);
}

.flipdown .rotor-top {
    line-height: 1.25em;
    border-radius: 4px 4px 0px 0px;
}

.flipdown .rotor-bottom {
    bottom: 0;
    line-height: 0px;
    border-radius: 0px 0px 4px 4px;
}
