include ../components/footer-menu-block
include ../components/description-footer-block

mixin site_footer(content)
	footer.site-footer
		.payment-methods
			.site-wrapper
				.method-item
					a(href=content.l('/refill'))
						img(src="/images/payments/paytrio-svg/yandexmoney.svg", alt="yandex money")
				.method-item
					a(href=content.l('/refill'))
						img(src="/images/payments/paytrio-svg/webmoney.svg", alt="webmoney")
				.method-item
					a(href=content.l('/refill'))
						img(src="/images/payments/paytrio-svg/beeline.svg", alt="beeline")
				.method-item
					a(href=content.l('/refill'))
						img(src="/images/payments/paytrio-svg/megafon.svg", alt="megafon")
				.method-item
					a(href=content.l('/refill'))
						img(src="/images/payments/paytrio-svg/mts.svg", alt="mts")
				.method-item
					a(href=content.l('/refill'))
						img(src="/images/payments/paytrio-svg/tele2.svg", alt="tele2")
				.method-item
					a(href=content.l('/refill'))
						img(src="/images/payments/paytrio-svg/qiwi.svg", alt="qiwi")
				.method-item
					a(href=content.l('/refill'))
						img(src="/images/payments/paytrio-svg/visa.svg", alt="visa")
				.method-item
					a(href=content.l('/refill'))
						img(src="/images/payments/paytrio-svg/mastercard.svg", alt="mastercard")
				.method-item
					a(href=content.l('/refill'))
						img(src="/images/payments/paytrio-svg/privat24.svg", alt="privat")
		.site-wrapper
			.footer-inner
				.footer-info
					.footer-logo
						a(href=content.l('/'))
							img.footer-logo__image(src=content.g('%LOGO%'))
					.footer-licenses
						each license in content.siteConfig.licenses
							a.footer-licenses__item(href=license.url)
				.footer-menu-icons
						.header-menu-icons__item
							a.header-menu-icons__item_icon.icon_tg(src="#" external="true" target="_blank")
							a.header-menu-icons__item_icon.icon_vk(src="#" external="true" target="_blank")
							a.header-menu-icons__item_icon.icon_fb(src="#" external="true" target="_blank")
							a.header-menu-icons__item_icon.icon_insta(src="#" external="true" target="_blank")
						.select_language-mobile
							each column in content.siteConfig.bottomMenu
								if column.name[content.language] === content.t("ui-language")
									+select_language_block(column, content, true, true)
				.footer-menu
					each column in content.siteConfig.bottomMenu
						if column.name[content.language] === content.t("ui-language")
							+select_language_block(column, content, true, false)
						else 
							+footer_menu_block(column, content)
		+description_footer_block(content)
		.footer-copy-container
			.site-wrapper
				.footer-copy
					| © %YEAR%
					=' ' + content.t('all-rights-reserved') + '.'

