include ../components/content-navi
include ../components/main-menu
include ../components/user/user-widget
include ../components/final-bonuses/bonus-info-button
include ../components/daily-bonus/daily-bonus-info-button
include ../components/timeline-cashback-short-menu
include ../components/footer-menu-block

mixin site_header(content, isProfile)
	header.site-header(id='site-header' className=`${isProfile ? 'profile' : ''}`)
		.site-wrapper
			.short-menu
				if content.userInfo.showLoginBMWithoutPhone && content.appSettings.showLoginInMobileHeader
					.short-menu__user-login
						.short-menu__user-login-mobile-xs=`#${content.userInfo.loginBMRaw}`
						.short-menu__user-login-mobile=content.userInfo.loginBM
				if content.timelineCashbackBonus.settings && content.timelineCashbackBonus.settings.levels && content.timelineCashbackBonus.settings.currentLevelIndex !== undefined
					.short-menu__balance-with-cashback-block(className=content.page !== content.enums.sitePages.MAIN ? 'centered' : '')
						.block-content
							Balance(className="block-count balance__value" value=content.userInfo.balanceString)
							if content.bonusesInfo.needPlay
								span.wager= content.bonusesInfo.percentString + "%"
							if !content.userInfo.guest && content.appSettings.showBonusBalances
								+bonus_balances_info(content)
						+timeline_cashback_short_menu(content)
				if content.page === content.enums.sitePages.MAIN
					.short-menu__item.short-menu__item--last.search-block
						a.search-btn(onClick=content.search.show, href="#")
							span.icon.icon-search
						.search-container(class=content.searchOpened ? 'in' : '')
							input(
							type="text"
							id='search-games-input-xs'
							placeholder=content.t('ui-games-search')
							onChange=content.search.onChange
							onKeyDown=content.search.onKeyDown
							)
							a.search-close(onClick=content.search.close, href="#")
								span.icon.icon-close
			.header-top-line
				a.header-top-line__menu-button.btn-menu(className=content.site.mobileMenuButtonClasses onClick=content.site.showMobileMenu, href="#")
					span.icon.icon-menu
					if content.tournamentsInfoActions.tournaments && content.tournamentsInfoActions.tournaments.length
						a.header-top-line__menu-button__tournaments-counter-container(href=content.l('/tournaments-list'))
							.header-top-line__menu-button__tournaments-counter-icon
							.header-top-line__menu-button__tournaments-counter=content.tournamentsInfoActions.tournaments.length
				.left-side
					.header-logo
						a(href=content.l('/'))
							img.header-logo__image(src=content.g('%LOGO%'))
					.server-date
						Clock(appState=content)
					if content.site.androidAppLink && (/Android/i.test(navigator.userAgent)) && !content.isApk
						a.android-app-button(href=content.site.androidAppLink.url target="_blank")
							img.android-app-icon(src="/images/icon-android.svg")
							.android-app= content.t('donwload-app-button')
				.right-side
					+bonus_info_button(content)
					+daily_bonus_info_button(content)
					.profile-info
						.info-block.balance-wrap(onClick=content.toggleChangeUserHeaderDialog)
							.stats-block.balance
								if content.userInfo && content.userInfo.restrictions.length > 0 && content.userInfo.guest === false
									.icon-warn.profile-info__warn
								.block-icon
									i.icon.icon-user-ico
									//- if content.userInfo && content.userInfo.supportedBalances && content.userInfo.supportedBalances.length > 1
									//- 	i.icon-down-dir
								.block-content
									+user_widget(content)
									Balance(className="block-count" value=content.userInfo.balanceString)
										if content.bonusesInfo.needPlay
											span.wager= content.bonusesInfo.percentString + "%"
										if !content.userInfo.guest && content.appSettings.showBonusBalances
											+bonus_balances_info(content)
								if content.userInfo && content.userInfo.supportedBalances && content.userInfo.supportedBalances.length > 1
										i.icon-down-dir

							if content.changeUserHeaderVisible
								.currency-dropdown.active
									ul
										each balance in content.userInfo.supportedBalances
											li(className = balance.active ? "active" : "", onClick=content.changeCurrency(balance.currencyId))
												.currency-label= content.money.formatCurrencyCode(balance.currencyId)
												.sum= balance.available
										if content.profileMenu.profileMenuItems.length
											li
												a.btn.btn-vl.btn-profile-link(href=content.l('/profile/edit'))
													span= content.t("ui-profile")
									if content.bonusesInfo.needPlay
										.total.flex-container
											.total-currency
												div= content.t("ui-wager-progress")
												div= content.t("ui-wager-progress-details", {played: content.bonusesInfo.playedString, currency: content.bonusesInfo.currencyCode, total: content.bonusesInfo.totalString})
											.total-percent= content.bonusesInfo.percentString + "%"
					.header-menu-icons-container
						.site-wrapper
							.header-menu-icons
								.header-menu-icons__item
									a.header-menu-icons__item_icon.icon_tg(src="#" external="true" target="_blank")
									a.header-menu-icons__item_icon.icon_vk(src="#" external="true" target="_blank")
									a.header-menu-icons__item_icon.icon_fb(src="#" external="true" target="_blank")
									a.header-menu-icons__item_icon.icon_insta(src="#" external="true" target="_blank")
					each column in content.siteConfig.bottomMenu
						if column.name[content.language] === content.t("ui-language")
							+select_language_block(column, content, false, false)
					if content.userInfo.guest
						.header-auth
							a.btn.btn-vl.bounce.to-login(onClick=content.modal.showLogin href=content.l('/login'))
								span= content.t("ui-login")
							a.btn.btn-vl.bounce.to-reg(onClick=content.modal.showRegister href=content.l('/register'))
								span= content.t("ui-register")
							if content.appSettings.registerForm.additionalLoginByPhoneButton
								a.btn.btn-vl.btn-login-by-phone(onClick=content.modal.showLoginByPhone)
									span= content.t("ui-login-by-phone")
					else
						.header-auth.header-auth--logged-in(class=content.finalBonuses.showBonusInfoButton && content.user.isSiteRegistered && content.refillRedeem.isEnabled ? 'small-buttons' : '')
							if content.finalBonuses.showBonusInfoButton
								.btn.btn-pr_str.btn--bonuses(onClick=content.finalBonuses.showDialog)
									span=content.t(content.finalBonuses.hasTimeOrFinalBonuses && !content.appSettings.bonusButtonInvite ? "ui-bonuses-page-title" : content.appSettings.bonusButtonInvite ? 'ui-invite-$' : "ui-invite-friend-short")
							if content.user.isSiteRegistered
								a.btn.btn-vl(href=content.l('/refill'))
									span= content.t("ui-refill-button")
							if content.refillRedeem.isEnabled
								a.btn.btn-vl.btn-refill-redeem(onClick=content.refillRedeem.openRefillRedeemDialog)
									span= content.t("ui-refill-redeem-btn")

		.header-menu
			.site-wrapper
				+main_menu(content, false)
				if content.page === content.enums.sitePages.MAIN
					.header-search.search-block
						.search-input-group
							input.search-input-group__input(
								placeholder=content.t('ui-games-search')
								type="text"
								id='search-games-input'
								onChange=content.search.onChange
								onKeyDown=content.search.onKeyDown
								ref=content.search.desktopSearchInputRef
							)
							span.icon.icon-search.search-input-group__button
			.mobile-menu-bg(class = content.mobileMenuVisible ? 'in' : '')
			.header-mobile-menu(class = content.mobileMenuVisible ? 'in' : '')
				.menu-inner
					.menu-close(onClick=content.site.closeMobileMenu)
						a.btn-menu-close(onClick=content.site.closeMobileMenu href="#")
							span.icon.icon-close
					.header-logo
						a(href=content.l('/'))
							img.header-logo__image(src=content.g('%LOGO%'))
					.block-user_mobile
						.info-block.balance-wrap(onClick=content.toggleChangeUserHeaderDialog)
							.stats-block.balance
								if content.userInfo && content.userInfo.restrictions.length > 0 && content.userInfo.guest === false
									.icon-warn.profile-info__warn
								.block-icon
									i.icon.icon-user-ico
									//- if content.userInfo && content.userInfo.supportedBalances && content.userInfo.supportedBalances.length > 1
									//- 	i.icon-down-dir
								.block-content
									+user_widget(content)
									Balance(className="block-count" value=content.userInfo.balanceString)
										if content.bonusesInfo.needPlay
											span.wager= content.bonusesInfo.percentString + "%"
										if !content.userInfo.guest && content.appSettings.showBonusBalances
											+bonus_balances_info(content)
								if content.userInfo && content.userInfo.supportedBalances && content.userInfo.supportedBalances.length > 1
										i.icon-down-dir

							if content.changeUserHeaderVisible
								.currency-dropdown.active
									ul
										each balance in content.userInfo.supportedBalances
											li(className = balance.active ? "active" : "", onClick=content.changeCurrency(balance.currencyId))
												.currency-label= content.money.formatCurrencyCode(balance.currencyId)
												.sum= balance.available
										if content.profileMenu.profileMenuItems.length
											li
												a.btn.btn-vl.btn-profile-link(onClick=content.site.closeMobileMenu href=content.l('/profile/edit'))
													span= content.t("ui-profile")
									if content.bonusesInfo.needPlay
										.total.flex-container
											.total-currency
												div= content.t("ui-wager-progress")
												div= content.t("ui-wager-progress-details", {played: content.bonusesInfo.playedString, currency: content.bonusesInfo.currencyCode, total: content.bonusesInfo.totalString})
											.total-percent= content.bonusesInfo.percentString + "%"
					.menu-inner__bonus-info-wrapper
						+bonus_info_button(content)
						+daily_bonus_info_button(content)
					//- .stats-block.balance-wrap
					//- 	if (content.userInfo && content.userInfo.balances) && (content.userInfo.balances.length > 1 || content.profileMenu.profileMenuItems.length || content.bonusesInfo.needPlay)
					//- 		.currency-dropdown.active
					//- 			if content.userInfo.balances.length > 1
					//- 				ul
					//- 					each balance in content.userInfo.supportedBalances
					//- 						li(className = balance.active ? "active" : "", onClick=content.changeCurrency(balance.currencyId))
					//- 							.currency-label= balance.currencyCode
					//- 							.sum= balance.available
					//- 			if content.profileMenu.profileMenuItems.length
					//- 				a.btn.btn-vl.btn-profile-link(href=content.l('/profile/menu') onClick=content.site.mobileMenuItemClick())
					//- 					span= content.t("ui-profile")
					//- 			if content.bonusesInfo.needPlay
					//- 				.total.flex-container
					//- 					.total-currency
					//- 						div= content.t("ui-wager-progress")
					//- 						div= content.t("ui-wager-progress-details", {played: content.bonusesInfo.playedString, currency: content.bonusesInfo.currencyCode, total: content.bonusesInfo.totalString})
					//- 					.total-percent= content.t('ui-percentage', content.bonusesInfo.percentString)
					+main_menu(content, true)
					if content.userInfo.guest
						.header-auth
							a.btn.btn-vl.bounce.to-login(onClick=content.modal.showLogin href=content.l('/login'))
								span= content.t("ui-login")
							a.btn.btn-vl.bounce.to-reg(onClick=content.modal.showRegister href=content.l('/register'))
								span= content.t("ui-register")
							if content.appSettings.registerForm.additionalLoginByPhoneButton
								a.btn.btn-vl.btn-login-by-phone(onClick=content.modal.showLoginByPhone)
									span= content.t("ui-login-by-phone")
					else if content.user.isSiteRegistered
						.header-auth
							.mobile-menu-icons-container
								.site-wrapper
									.header-menu-icons
										.header-menu-icons__item
											a.header-menu-icons__item_icon.icon_tg(src="#" external="true" target="_blank")
											a.header-menu-icons__item_icon.icon_vk(src="#" external="true" target="_blank")
											a.header-menu-icons__item_icon.icon_fb(src="#" external="true" target="_blank")
											a.header-menu-icons__item_icon.icon_insta(src="#" external="true" target="_blank")
							each column in content.siteConfig.bottomMenu
								if column.name[content.language] === content.t("ui-language")
									+select_language_block(column, content, false, true)
						.logout_mobile_menu-block
							a(href='#' onClick=content.user.logout)= content.t("ui-logout")

			//- .short-menu
			//- 	if content.userInfo.showLoginBMWithoutPhone && content.appSettings.showLoginInMobileHeader
			//- 		.short-menu__user-login
			//- 			.short-menu__user-login-mobile-xs=`#${content.userInfo.loginBMRaw}`
			//- 			.short-menu__user-login-mobile=content.userInfo.loginBM
			//- 	if content.timelineCashbackBonus.settings && content.timelineCashbackBonus.settings.levels && content.timelineCashbackBonus.settings.currentLevelIndex !== undefined
			//- 		.short-menu__balance-with-cashback-block(className=content.page !== content.enums.sitePages.MAIN ? 'centered' : '')
			//- 			.block-content
			//- 				Balance(className="block-count balance__value" value=content.userInfo.balanceString)
			//- 				if content.bonusesInfo.needPlay
			//- 					span.wager= content.bonusesInfo.percentString + "%"
			//- 				if !content.userInfo.guest && content.appSettings.showBonusBalances
			//- 					+bonus_balances_info(content)
			//- 			+timeline_cashback_short_menu(content)
			//- 	else
			//- 		.short-menu__item.short-menu__item--first.balance-wrap(onClick=content.userBonusesStore.toggleBonusBalanceInfo)
			//- 			.block-content
			//- 				Balance(className="block-count balance__value" value=content.userInfo.balanceString)
			//- 				if content.bonusesInfo.needPlay
			//- 					span.wager= content.bonusesInfo.percentString + "%"
			//- 				if !content.userInfo.guest && content.appSettings.showBonusBalances
			//- 					+bonus_balances_info(content)
			//- 	if content.page === content.enums.sitePages.MAIN
			//- 		.short-menu__item.short-menu__item--last.search-block
			//- 			a.search-btn(onClick=content.search.show, href="#")
			//- 				span.icon.icon-search
			//- 			.search-container(class=content.searchOpened ? 'in' : '')
			//- 				input(
			//- 				type="text"
			//- 				id='search-games-input-xs'
			//- 				placeholder=content.t('ui-games-search')
			//- 				onChange=content.search.onChange
			//- 				onKeyDown=content.search.onKeyDown
			//- 				)
			//- 				a.search-close(onClick=content.search.close, href="#")
			//- 					span.icon.icon-close
