mixin loader(content)
    .loading-spinner_indicator.loading-spinner_indicator-first
    .loading-spinner_indicator.loading-spinner_indicator-second
    .loading-spinner_indicator.loading-spinner_indicator-third
    .loading-spinner_indicator.loading-spinner_indicator-fourth
    .loading-spinner_indicator.loading-spinner_indicator-fifth

mixin loader_with_logo(content)
    .loading-spinner
        .loading-spinner_inner
            .loading-spinner_title
                if !content.appSettings.kioskLobby.enabled
                    img(src=content.g('%LOGO%') width="227" height="52")
            +loader
