@import "../../mixin"
@import "../../swatches"

.modal-content-refill-coin-payments-crypto
  width: 700px!important
  @include mobile
    width: 100%!important

.modal-refill-coin-payments-crypto
  display: flex
  padding: 30px!important
  @include mobile
    flex-direction: column
  .refill-crypto-disclaimer
    opacity: 1
