include ../../common/loader

mixin anonymous_registration_success(content)
    .modal.sm.in#auth
        .modal-dialog
            .modal-content
                a.modal-close(href="#", onClick=content.user.hideAuthWithoutRedirect)
                    span.icon.icon-close
                .modal-title= content.t("ui-register")
                .modal-tabs-content.one-click-registration-success-content
                    form.modal-form.tab-pane.active
                        if !content.refillStore.cryptoAddressForm.address
                            .anonymous-registration-success__loader
                                +loader
                        else 
                            .one-click-registration-success-disclaimer=content.t('anonymous-registration-disclaimer')
                            .form-line
                                label.form-label.one-click-registration-success-login=content.t("ui-login-generated-login")
                                .one-click-registration-success-login-value=content.signUpActions.generatedLogin
                            .form-line
                                label.form-label.one-click-registration-success-password= content.t("ui-password")
                                .one-click-registration-success-password-value=content.signUpActions.generatedPassword
                            .form-line
                                label.form-label.anonymous-registration-success__auth-url-label= content.t('anonymous-registration-auth-url')
                                .anonymous-registration-success__auth-url=content.signUpActions.authorizationLink
                                .anonymous-registration-form__hint= content.t('anonymous-registration-hint-quick-link')
                            .form-line.anonymous-registration-success__crypto
                                label.form-label.anonymous-registration-success__crypto-address-label= content.t('anonymous-registration-crypto-address')
                                .anonymous-registration-success__crypto-address=content.refillStore.cryptoAddressForm.address
                                .anonymous-registration-form__hint= content.t('anonymous-registration-hint-wallet')
                        .anonymous-registration-success__qr-code(ref=content.refillStore.cryptoAddressForm.qrCodeRef)
                        if content.refillStore.cryptoAddressForm.address
                            .anonymous-registration-form__hint.qr-hint= content.t('anonymous-registration-hint-qr')
                            .submit-line.anonymous-registration-success__save
                                button.btn.btn-pr(onClick=content.signUpActions.saveGeneratedCredentialsToFile)=content.t("ui-save-to-file")