include sign-in-form
include sign-up-form

mixin modal_authorization(content)
  .modal.sm.in.modal-authorization-v2#auth
    .modal-dialog
      .modal-image-container_sign
        if content.modal.activeModal === content.enums.modal.REGISTER
          .registration-bonuses-title=content.t('ui-get-your-bonuses-now')
          .pol-register-bonuses 
            .pol-element-container
              .pol-bonuses-item-image.first-refill
                img(src='/images/bonuses/present_2.svg', alt=content.t('ui-first-refill-bonus-title'))
              .pol-one.pol.pol-object
                .registration-bonuses-item-title=content.t('ui-first-refill-bonus-title')
              .pol-one.pol.pol-shadow
            .pol-element-container
              .pol-bonuses-item-image.following-refill
                img(src='/images/bonuses/money_2.svg', alt=content.t('ui-following-refill-bonus-title'))
              .pol-two.pol.pol-object
                .registration-bonuses-item-title=content.t('ui-following-refill-bonus-title')
              .pol-two.pol.pol-shadow
            .pol-element-container
              .pol-bonuses-item-image.weekly-cashback
                img(src='/images/bonuses/percent-25.svg', alt=content.t('ui-weekly-cashback-bonus', {value: '25%'}))
              .pol-three.pol.pol-object
                .registration-bonuses-item-title=content.t('ui-weekly-cashback-bonus', {value: '25%'})
              .pol-three.pol.pol-shadow
        else if content.modal.activeModal === content.enums.modal.LOGIN
          .sign-up-logo_background-container
            .sunshine-background
            .thunder-background 
            .monkey-background
            //- img(src='/images/sunshine.svg', alt='Sunshine')  
      .modal-content
        if !content.appSettings.onlyAuthUserAccess
          a.modal-close(href="#" onClick=content.user.hideAuthWithoutRedirect)
            span.icon.icon-close
        .modal-logo
          img(src="/images/logo-2.svg", alt="LOGO")
        .modal-tabs-navi
          ul
            li(class=content.modal.activeModal === content.enums.modal.LOGIN ? "active" : "")
              a(onClick=content.modal.showLogin href=content.l("/login"))= content.t("ui-login")
            li(class=content.modal.activeModal === content.enums.modal.REGISTER ? "active" : "")
              a(onClick=content.modal.showRegister href=content.l("/register"))= content.t("ui-register")
        .modal-tabs-content.authorization-content
          if content.modal.activeModal === content.enums.modal.LOGIN
            +authorization_sign_in_form(content)
          else if content.modal.activeModal === content.enums.modal.REGISTER
            +authorization_sign_up_form(content)
