include ../../components/user/modal-auth
include ../../controls/confirmation-code-method
include ../numpad
include ../bonuses/bonuses-promo-code

mixin modal_authorization_v3(content)
    .modal.sm.in.modal-authorization-v3(className=content.phoneInputState.isSetNewPin || content.phoneInputState.isPinSet ? 'pin' : '')
        .modal-dialog
            .modal-content
                a.modal-close(href="#" onClick=content.user.hideAuth)
                    span.icon.icon-close
                if content.phoneInputState.isPhoneSet
                    +phone_set(content)
                if content.phoneInputState.isPinSet || content.phoneInputState.isSetNewPin
                    +set_pin(content)
                if content.phoneInputState.isSmsCode
                    +sms_code(content)

mixin phone_set(content)
  .authorization-content
    .authorization-title=content.t("ui-authorization")
    .authorization-info
        if !!content.phoneInputState.regWagerBonusAmount
            .modal-authorization-v3__welcome-bonus(
                dangerouslySetInnerHTML={ __html: content.t('welcome-bonus-info', {amount: content.phoneInputState.regWagerBonusAmount})}
            )
        if content.confirmationCodeMethodState.isChoiseAvailable
            .info(dangerouslySetInnerHTML={ __html: content.t('phone-call-confirmation-multiple-instruction') })
        else
            .info=content.confirmationCodeMethodState.isVoiceEnabled && !content.confirmationCodeMethodState.isChoiseAvailable ? content.t("phone-call-confirmation-instruction") : content.t("ui-enter-phone-number-for-authorization")
    .modal-form.tab-pane.active
        .form-line
            .form-field
                .phone
                    .custom-select
                        select.form-control(
                            value=content.phoneInputState.countryCode
                            disabled=content.phoneInputState.disabled
                            onChange=(content.signInActions.onPhoneCountryCodeChange || content.phoneInputState.onChangeCountryCode)
                        )
                            each option in content.phoneInputState.phoneCodeOptions
                                option(key=option.value value=option.value, disabled=option.disabled)=content.t(option.caption)

                    NumberFormat(
                        value=content.phoneInputState.phoneNumber
                        onValueChange=(content.phoneInputState.onAuthPhoneNumberChange)
                        format=content.phoneInputState.phoneMask
                        mask="X"
                        placeholder=content.phoneInputState.phonePlaceholder
                        spellCheck="false"
                        className="phone-input"
                    )

            if content.refillStore.promoCodeForm.isShownInV3Auth
                +bonuses_promo_code(content)

            .error= content.phoneInputState.error

            .submit-line
                button.btn.btn-pr.btn-send(
                    onClick=content.phoneInputState.onSendSmsClick
                    className=content.phoneInputState.isLoading ? "btn--loading" : undefined
                )=content.confirmationCodeMethodState.isVoiceSelected ? content.t("ui-call") :  content.t("ui-send")

mixin sms_code(content)
  .authorization-content
    .authorization-title=content.t("ui-enter-sms-code")
    .authorization-info
        if content.confirmationCodeMethodState.isChoiseAvailable
            if content.confirmationCodeMethodState.isFirstRetry
                .info=content.t("ui-sms-sent-to-number")
            else
                .info=content.t("confirmation-call-started")
        else
            .info=content.confirmationCodeMethodState.selectedMethod === content.proto.site.ConfirmationMethod.VOICE ? content.t("confirmation-call-started") : content.t("ui-sms-sent-to-number")
        .phone= content.phoneInputState.formatedPhoneNumber
        .incorect-phone-number(onClick=content.phoneInputState.onBackToPhone)= content.t("ui-incorect-phone-number")
        if content.refillStore.promoCodeForm.isShownInV3Auth && !!content.refillStore.promoCodeForm.value
            .modal-authorization-v3__sent-promo-code=content.t("you-ve-used-promocode", { promoCode: content.refillStore.promoCodeForm.value})
    .modal-form.tab-pane.active
        .form-line
            .form-field.sms-field
                NumberFormat(
                    value=content.smsNumberInputState.value
                    onValueChange=content.smsNumberInputState.onChangeNumber
                    format=content.confirmationCodeMethodState.codeFormat
                    mask=content.confirmationCodeMethodState.codeMask
                    placeholder=content.confirmationCodeMethodState.codePlaceholder
                    spellCheck="false"
                    className=content.smsNumberInputState.error ? 'sms-number wrong' : 'sms-number'
                    disabled=content.smsNumberInputState.disabled
                    autoComplete="one-time-code"
                    id="single-factor-code-text-field"
                )


            .error= content.smsNumberInputState.error || content.phoneInputState.error

            if content.confirmationCodeMethodState.isChoiseAvailable
                .modal-authorization-v3__confirmation-call-instruction(className=content.confirmationCodeMethodState.isFirstRetry ? "" : "modal-authorization-v3__confirmation-call-instruction--hidden")=content.t('confirmation-call-instruction')

            .submit-line
                button.btn.btn-pr(
                    onClick=content.phoneInputState.onSendSmsClick
                    className=((content.phoneInputState.isLoading ? 'btn--loading' : '') + (content.phoneInputState.resendDisabled ? ' disabled' : ''))
                )=content.phoneInputState.resendTitle

mixin set_pin(content)
  .authorization-content
    .authorization-title=content.pinCodeInputState.getTitle()
    .pin-input-container
        .pin-input-circles
            .pin-input-circle(className=content.pinCodeInputState.pinCode.split('')[0] ? 'filled' : '')
            .pin-input-circle(className=content.pinCodeInputState.pinCode.split('')[1] ? 'filled' : '')
            .pin-input-circle(className=content.pinCodeInputState.pinCode.split('')[2] ? 'filled' : '')
            .pin-input-circle(className=content.pinCodeInputState.pinCode.split('')[3] ? 'filled' : '')
            .pin-input-circle(className=content.pinCodeInputState.pinCode.split('')[4] ? 'filled' : '')
    .numpad-container
        +pin_numpad(content)
    if content.pinCodeInputState.repeatError
        .error=content.t('ui-repeat-pin-error')
    if content.pinCodeInputState.signInError
        .error=`${content.t('ui-pin-sign-in-error')} ${content.pinCodeInputState.attemptsLeft}`
    if content.phoneInputState.isPinSet
        .forgot-code(onClick=content.pinCodeInputState.forgotPinClick)=content.t('ui-forgot-pin-code')
      
mixin pin_numpad(content)
  .numpad-container
      ul.numpad.clearfix
          each val in ['1', '2', '3', '4', '5', '6', '7', '8', '9']
              li.numpad__item
                  div.numpad__key(onMouseDown=content.pinCodeInputState.numPadTriggerKey data-key=val)= val
          li.numpad__item.numpad__item_clear
              div.numpad__key(onMouseDown=content.pinCodeInputState.numPadBackspace)= '<'
          li.numpad__item
              div.numpad__key(onMouseDown=content.pinCodeInputState.numPadTriggerKey data-key='0')= 0
          li.numpad__item.numpad__item_cancel
              div.numpad__key(onMouseDown=content.pinCodeInputState.numPadCancel)= 'C'
