include ../form-fields

mixin multi_login_form(content)
    .modal.in.multi-login-form
        .modal-dialog
            .modal-light-content
                if !content.screenSaverMode
                    a.modal-close(href="#" onClick=content.user.hideAuthWithoutRedirect)
                        span.icon.icon-close

                if content.appSettings.registerForm.desktopAuthPIN
                    .multi-login-form__col(
                        className=(
                            content.loginForm.loginVal ||
                            content.loginForm.loginPassVal ||
                            content.registerForm.loginVal ||
                            content.registerForm.loginPassVal ? 'disabled' : ''
                        )
                    )
                        .multi-login-form__head= content.t("ui-enter-with-pin")
                        form.multi-login-form__body(autoComplete="off")
                            .form-line
                                .form-field(tabIndex="1")
                                    InputMask(
                                        mask="99-99-99"
                                        maskChar="X",
                                        type="text"
                                        placeholder="XX-XX-XX"
                                        ref=content.makeRef("generatedLogin")
                                        autoComplete="new-password"
                                        spellCheck="false"
                                        onChange=content.loginForm.onChangePin
                                    )
                                div.error= content.loginForm.generatedLoginError
                            .form-line
                                .form-field(tabIndex="2")
                                    input(
                                        type="password"
                                        onKeyDown=content.user.preventPasswordInput
                                        ref=content.makeRef("generatedPassword")
                                        placeholder=content.t("ui-password")
                                        autoComplete="new-password"
                                        onChange=content.loginForm.onChangePinPass
                                    )
                                div.error= content.loginForm.generatedPasswordError
                            .submit-line
                                input.btn.btn-block.btn-big-blue.multi-login-form__btn(
                                    type="submit"
                                    tabIndex="3"
                                    onClick=content.user.tryLoginWithGenerated
                                    value=content.t("ui-login-button")
                                    disabled=(
                                        content.loginForm.loading ||
                                        content.loginForm.loginVal ||
                                        content.loginForm.loginPassVal ||
                                        content.registerForm.loginVal ||
                                        content.registerForm.loginPassVal
                                    )
                                )
                            div.error= content.loginForm.generatedError
                        .form-disable-overlay

                if content.appSettings.registerForm.desktopAuthLogin
                    .multi-login-form__col(
                        className=(
                            content.loginForm.pinVal ||
                            content.loginForm.pinPassVal ||
                            content.registerForm.loginVal ||
                            content.registerForm.loginPassVal ? 'disabled' : ''
                        )
                    )
                        .multi-login-form__head= content.t("ui-enter-with-phone-or-email-or-login")
                        form.multi-login-form__body
                            .form-line
                                .form-field(tabIndex="4")
                                    input(
                                        type="text"
                                        ref=content.makeRef("loginOrPhoneOrEmail")
                                        spellCheck="false"
                                        placeholder=content.t("ui-phone-or-email-or-login")
                                        autoComplete="new-password"
                                        onChange=content.loginForm.onChangeLogin
                                    )
                                div.error= (content.loginForm.emailError || content.loginForm.phoneError || content.loginForm.generatedLoginError)
                            .form-line
                                .form-field(tabIndex="5")
                                    input(
                                        type="password"
                                        onKeyDown=content.user.preventPasswordInput
                                        ref=content.makeRef("loginPassword")
                                        placeholder=content.t("ui-password")
                                        autoComplete="new-password"
                                        onChange=content.loginForm.onChangeLoginPass
                                    )
                                div.error= content.loginForm.passwordError
                            .submit-line
                                input.btn.btn-block.btn-big-blue-picton.multi-login-form__btn(
                                    type="submit"
                                    tabIndex="6"
                                    onClick=content.user.tryMultiLogin
                                    value=content.t("ui-sign-in")
                                    disabled=(
                                        content.loginForm.loading ||
                                        content.loginForm.pinVal ||
                                        content.loginForm.pinPassVal ||
                                        content.registerForm.loginVal ||
                                        content.registerForm.loginPassVal
                                    )
                                )
                            div.error= content.loginForm.loginError
                        .form-disable-overlay

                if content.appSettings.registerForm.desktopAuthRegistration
                    .multi-login-form__col(
                        className=(
                            content.loginForm.pinVal ||
                            content.loginForm.pinPassVal ||
                            content.loginForm.loginVal ||
                            content.loginForm.loginPassVal ? 'disabled' : ''
                        )
                    )
                        .multi-login-form__head= content.t("ui-registration")
                        form.multi-login-form__body(autoComplete="off")
                            .form-line
                                .form-field(tabIndex="7")
                                    input(
                                        type="text"
                                        ref=content.makeRef("registerPhoneOrEmail")
                                        spellCheck="false"
                                        placeholder=content.t("ui-phone-or-email")
                                        autoComplete="new-password"
                                        onChange=content.registerForm.onChangeLogin
                                    )
                            div.error= (content.registerForm.phoneError || content.registerForm.emailError)
                            .form-line
                                .form-field(tabIndex="8")
                                    input(
                                        type="password"
                                        onKeyDown=content.user.preventPasswordInput
                                        ref=content.makeRef("registerPassword")
                                        placeholder=content.t("ui-password")
                                        autoComplete="new-password"
                                        onChange=content.registerForm.onChangeLoginPass
                                    )
                                div.error= content.registerForm.passwordError
                            .submit-line
                                input.btn.btn-block.btn-big-crusta.multi-login-form__btn(
                                    type="submit"
                                    tabIndex="9"
                                    onClick=content.user.tryRegister
                                    value=content.t("ui-registration-button")
                                    disabled=(
                                        content.registerForm.loading ||
                                        content.loginForm.pinVal ||
                                        content.loginForm.pinPassVal ||
                                        content.loginForm.loginVal ||
                                        content.loginForm.loginPassVal
                                    )
                                )
                            div.error= content.registerForm.error
                        .form-disable-overlay
