mixin one_click_registration_success(content)
    .modal.sm.in#auth
        .modal-dialog
            .modal-content
                a.modal-close(href="#", onClick=content.user.hideAuthWithoutRedirect)
                    span.icon.icon-close
                .modal-title= content.t("ui-register")
                .modal-tabs-content.one-click-registration-success-content
                    form.modal-form.tab-pane.active
                        .one-click-registration-success-disclaimer=content.t('ui-one-click-registration-disclaimer')
                        .form-line
                            label.form-label.one-click-registration-success-login=content.t("ui-login-generated-login")
                            .one-click-registration-success-login-value=content.signUpActions.generatedLogin
                        .form-line
                            label.form-label.one-click-registration-success-password= content.t("ui-password")
                            .one-click-registration-success-password-value=content.signUpActions.generatedPassword
                        .submit-line
                            button.btn.btn-pr(onClick=content.signUpActions.saveGeneratedCredentialsToFile)=content.t("ui-save-to-file")
