include ../../controls/authorization-type
include ../../controls/currency-select
include ../../controls/phone-input
include ../../controls/password-input
include ../../controls/email-input
include ../../controls/sign-up-button
include ../../controls/registration-bonuses
include ../../controls/confirmation-code-method
include sign-up-anonymous

mixin authorization_sign_up_form(content, isLogin)
    div.authorization-title=content.t("ui-registration-type")
    +authorization_type(content, false)
    form.modal-form.tab-pane.active
        if content.authorizationTypeState.type === content.enums.authorizationType.BY_PHONE
            +registration_bonuses(content)
            +phone_input(content, content.signUpActions.onPhoneCountryCodeChange, content.signUpActions.onPhoneNumberInputChange)
            +password_input(content, false, content.signUpActions.onPasswordInputChange)
            +currency_select(content, content.signUpActions.onCurrencyValueChange)
            if content.refillStore.promoCodeForm.isShownInRegisterForm
              +bonuses_promo_code(content)
            +accept_terms_and_condition(content)
            +confirmation_code_method(content)
            +sign_up_button(content)
        else if content.authorizationTypeState.type === content.enums.authorizationType.BY_EMAIL
            +registration_bonuses(content)
            +email_input(content, content.signUpActions.onEmailInputChange)
            +password_input(content, false, content.signUpActions.onPasswordInputChange)
            +currency_select(content, content.signUpActions.onCurrencyValueChange)
            if content.refillStore.promoCodeForm.isShownInRegisterForm
              +bonuses_promo_code(content)
            +accept_terms_and_condition(content)
            +sign_up_button(content)
        else if content.authorizationTypeState.type === content.enums.authorizationType.BY_LOGIN
            +registration_bonuses(content)
            +currency_select(content, content.signUpActions.onCurrencyValueChange)
            if content.refillStore.promoCodeForm.isShownInRegisterForm
              +bonuses_promo_code(content)
            +accept_terms_and_condition(content)
            .margin-sign_up
            +sign_up_button(content)
        else if content.authorizationTypeState.type === content.enums.authorizationType.ANONYMOUS
            +sign_up_anonymous(content)
        if content.signUpActions.error || content.acceptTermsAndConditionsState.error
            div.error=content.t(content.signUpActions.error || content.acceptTermsAndConditionsState.error)
