include ../../controls/authorization-type
include ../../controls/currency-select
include ../../controls/login-input
include ../../controls/sign-in-button
include ../../controls/social-fb-login-button

mixin authorization_sign_in_form(content)
    div.authorization-title=content.t("ui-login-type")
    +authorization_type(content, true)
    form.modal-form.tab-pane.active
        if content.authorizationTypeState.type === content.enums.authorizationType.BY_PHONE
            +phone_input(content, content.signInActions.onPhoneCountryCodeChange, content.signInActions.onPhoneNumberInputChange)
            +password_input(content, true, content.signInActions.onPasswordInputChange)
            +sign_in_button(content)
        else if content.authorizationTypeState.type === content.enums.authorizationType.BY_EMAIL
            +email_input(content, content.signInActions.onEmailInputChange)
            +password_input(content, true, content.signInActions.onPasswordInputChange)
            +sign_in_button(content)
        else if content.authorizationTypeState.type === content.enums.authorizationType.BY_LOGIN
            +login_input(content, content.signInActions.onLoginInputChange)
            +password_input(content, false, content.signInActions.onPasswordInputChange)
            +sign_in_button(content)
        if content.signInActions.error
            div.error=content.t(content.signInActions.error)
        if content.social.fbProviderIsActive
          +fb_login_btn(content)
