include ../../controls/authorization-type
include ../../controls/currency-select
include ../../controls/sign-up-button
include ../../controls/registration-bonuses

mixin sign_up_anonymous(content)
    +registration_bonuses(content)
    .modal-authorization-v2__anonymous-description(dangerouslySetInnerHTML={ __html: content.t('anonimous-registration-description') })
    +currency_select(content, content.signUpActions.onCurrencyValueChange, true)
    +accept_terms_and_condition(content)
    +sign_up_button(content, content.t('ui-anonimous-registration-button'))