mixin social_sign_up_modal(content)
    .modal.sm.in#auth
        .modal-dialog
            .modal-content
                if !content.appSettings.onlyAuthUserAccess
                  a.modal-close(href="#" onClick=content.social.onCloseRegistration)
                    span.icon.icon-close
                .modal-tabs-navi
                    ul
                      li(class=content.modal.activeModal === content.enums.modal.REGISTER ? "active" : "")
                        a(onClick=content.modal.showRegister href=content.l("/register"))= content.t("ui-register-via-social-fb")
                .modal-tabs-content
                  form.social-sign-up-form
                    .modal-form.tab-pane.active#registration
                      .form-line.form-line--horizontal
                        label.form-label= content.t("ui-registration-choose-currency")
                        if content.registerForm.currencyError
                          div.error= content.registerForm.currencyError
                        .form-field.custom-select
                          select(
                            value=content.currencySelectState.value
                            disabled=content.currencySelectState.disabled
                            onChange=content.currencySelectState.onValueChange
                            ref=content.makeRef("registerCurrency")
                            defaultValue=content.currencies.getDefaultCurrencyId()
                          )
                            each currency in content.currencies.getSupportedRegistrationCurrencies()
                              option(key=currency.id value=currency.id)= currency.code
                      if content.appSettings.registerForm.ruleApprovalMode === content.enums.registerFormRuleApprovalMode.SINGLE
                        +accept_terms_and_condition(content)
                      .submit-line
                        .btn.btn-pr(onClick=() => content.social.tryRegister() disabled = content.registerForm.loading)=content.t("ui-registration-button")
                        if content.registerForm.error
                          div.error= content.registerForm.error
