mixin block_bonus_freebets(content, notification)
    if notification.freeBetsBonuses
        .card-popup-bonus__freebets
            each freeBet in notification.freeBetsBonuses
                .card-popup-bonus__freebet(key=freeBet.gameId)
                    .card-popup-bonus_amount=freeBet.spinsCount
                    .card-popup-bonus_freeBet=content.t(content.money.getFreeBetsToken(freeBet.spinsCount))
                    img.card-popup-bonus_gameImage(src=freeBet.gameImage alt=notification.message onClick=(e) => notification.openGame(freeBet.gameId))
                    .card-popup-bonus_gameName=freeBet.gameName
