mixin block_bonus_freespins(content, notification)
    if notification.freeSpinsBonuses
        .card-popup-bonus__freespins
            each freeSpins in notification.freeSpinsBonuses
                .card-popup-bonus__freespin(key=freeSpins.gameId)
                    .card-popup-bonus_amount=freeSpins.spinsCount
                    .card-popup-bonus_freeSpins=content.t(content.money.getFreeSpinsToken(freeSpins.spinsCount))
                    img.card-popup-bonus_gameImage(src=freeSpins.gameImage alt=notification.message onClick=(e) => notification.openGame(freeSpins.gameId))
                    .card-popup-bonus_gameName=freeSpins.gameName
                    if notification.isGoToGameButtonShownInFreespins
                        button.card-popup-bonus__buttons_el.card-popup-bonus__go-game(onClick=(e) => content.bonuses.refuseBonusAndOpenGame(notification.notificationId, freeSpins.gameId) disabled=content.bonusesInfo.notificationLoading)=content.t('ui-go-game')
            if !notification.isSingleGameInFreeSpins
                .card-popup-bonus__freespins-tap-to-play(className=notification.isAccepted ? "" : "invisible")=content.t('tap-to-play')
