mixin notification_jackpot(content)
    .card-popup-container(class=content.jackpotNotifications.activeNotification.animationClass ref=content.makeRef('card-popup-jp'))
        .card-popup.card-popup-jp.js-card-popup
            .card-popup-content
                h3.card-popup_caption= content.jackpotNotifications.activeNotification.caption
                .card-popup-jp_img
                .card-popup-jp__info
                    .card-popup-jp__info_title= content.jackpotNotifications.activeNotification.infoTitle
                    .card-popup-jp__info_caption= content.jackpotNotifications.activeNotification.infoCaption
                .card-popup-jp_amount= content.jackpotNotifications.activeNotification.infoAmount
                if content.jackpotNotifications.activeNotification.showGameInfo
                    .card-popup-jp__game-info
                        .card-popup-jp__game-info_title= content.jackpotNotifications.activeNotification.gameInfoTitle
                        img.card-popup-jp__game-info_img(src=content.jackpotNotifications.activeNotification.gameInfoImg)
                        .card-popup-jp__game-info_caption= content.jackpotNotifications.activeNotification.gameInfoCaption
                    a.btn-pr.card-popup-jp_btn(href=content.jackpotNotifications.activeNotification.gameInfoHref external="true")= content.t('ui-play-this-game')
            .icon-close-thin.card-popup_close(onClick=content.jackpotNotifications.hideActiveNotification)
