include ./block-bonus-freebets
include ./block-bonus-freespins

mixin notification_bonus_default(content, notification)
    .card-popup-container(class=notification.animationClass)
        .card-popup.card-popup-bonus.js-card-popup.js-card-popup-bonus(id=notification.notificationId class=notification.gradientClass)
            .card-popup-content
                if notification.title
                    .card-popup-bonus_title=content.t(notification.title)

                if notification.message
                    .card-popup-bonus_message(dangerouslySetInnerHTML={__html: notification.message})

                if notification.fundsBonus
                    .card-popup-bonus_amount=notification.fundsBonus.amount
                    .card-popup-bonus_currency=notification.fundsBonus.currency

                    if notification.fundsBonus.wagerMultiplier && notification.fundsBonus.wagerMultiplier !== '0'
                        .card-popup-bonus_wager=content.t('ui-bonus-wager').replace('{wager}', notification.fundsBonus.wagerMultiplier)

                if !notification.freeSpinsBonuses
                    img.card-popup-bonus_image(src=notification.image, alt=notification.message)

                if notification.fundsBonus && notification.freeSpinsBonuses
                    .card-popup-bonus_separator

                +block_bonus_freespins(content, notification)

                if notification.fundsBonus && notification.freeBetsBonuses
                    .card-popup-bonus_separator

                +block_bonus_freebets(content, notification)

                if notification.bonusImageId
                    img.card-popup-bonus_image(src="/images/bonuses/block/bonus" + notification.bonusImageId + ".jpg" alt=notification.message)

                .card-popup-bonus__controls
                    .card-popup-bonus__buttons
                        button.card-popup-bonus__buttons_el.card-popup-bonus__buttons_refuse.card-popup-bonus__buttons_el--multiline(onClick=notification.close disabled=content.bonusesInfo.notificationLoading)=content.t('ui-close')
                        if notification.canActivate && !notification.isAccepted
                            button.card-popup-bonus__buttons_el.card-popup-bonus__buttons_accept.card-popup-bonus__buttons_el--multiline(onClick=content.bonuses.acceptBonus disabled=content.bonusesInfo.notificationLoading)
                                if content.bonusesInfo.notificationLoading
                                    +loader
                                else
                                    span=notification.isOpenGameAfterAccept ? content.t('ui-accept-bonus-and-open-game') : content.t('ui-bonus-alert-accept')
                    if notification.isLinkToBonusRulesShown
                        a.card-popup-bonus_terms(href=content.l('/p/bonuses') target="_blank")=content.t('menu_bonuses')
