mixin notification_card_invite(content, notification, inviteMeta)
    .card-popup-container(class=notification.animationClass)
        .card-popup.card-popup-bonus.card-invite.js-card-popup-bonus(
            id=notification.notificationId
            class=inviteMeta.className
            ref= content.makeRef('card-popup-bonus')
        )
            .card-popup-content.card-invite-content.card-invite-friend-content
                .card-invite-title-block
                    .name= content.t('ui-us-ref-hey')
                        if inviteMeta.inviteeName && inviteMeta.inviteeName.length > 0
                            span.second-line= inviteMeta.inviteeName
                if !!inviteMeta.locationName
                    .description= content.t('ui-us-ref-bonus-from')
                    .second-line=inviteMeta.locationName
                if !!inviteMeta.locationAddress
                    .card-invite-location-address
                        .first-line= content.t('ui-us-ref-address-info')
                        .second-line= inviteMeta.locationAddress
                if !!inviteMeta.textFromLocation
                    .card-invite-phone-block
                        .first-line=inviteMeta.textFromLocation
                if !!inviteMeta.locationPhone
                    .card-invite-phone-block
                        .first-line= content.t('ui-us-ref-phone')
                        .second-line= inviteMeta.locationPhone
                if !!notification.message
                    .card-invite-bonus-desc=notification.message
                .button-block
                    button.btn-pr.card-popup-jp_btn(
                        onClick=content.bonuses.refuseBonus
                        disabled=content.bonusesInfo.notificationLoading
                    )=content.t('ui-close')
            .icon-close-thin.card-popup_close(onClick=content.bonuses.refuseBonus)
