mixin notification_card_invite_friend(content, notification, inviteMeta)
    .card-popup-container(class=notification.animationClass)
        .card-popup.card-popup-bonus.card-invite.js-card-popup-bonus(
            id=notification.notificationId
            class=inviteMeta.className
            ref=content.makeRef('card-popup-bonus')
        )
            img.card-invite-friend-bg(src="/images/bonuses/" + inviteMeta.selectedCard + ".jpg")
            .card-popup-content.card-invite-friend-content
                .card-invite-title-block
                    .name=content.t('ui-us-ref-hey')
                        if !!inviteMeta.inviteeName
                            span.second-line=inviteMeta.inviteeName
                .card-invite-inviter(
                    dangerouslySetInnerHTML={__html: content.t('us-ref-inviter', { inviterName: inviteMeta.inviterName || content.t('friend') })}
                )
                if !!inviteMeta.locationAddress
                    .card-invite-from-location
                        .first-line=content.t('us-ref-from-location')
                        .second-line=inviteMeta.locationAddress
                if !!inviteMeta.locationPhone
                    .card-invite-call-me
                        .first-line=content.t('ui-us-call-me')
                        .second-line=inviteMeta.locationPhone
                if !!inviteMeta.textFromLocation
                    .card-invite-message=inviteMeta.textFromLocation
                .button-block
                    button.btn-pr.card-popup-jp_btn(
                        onClick=content.bonuses.refuseBonus
                        disabled=content.bonusesInfo.notificationLoading
                    )=content.t('ui-close')
            .icon-close-thin.card-popup_close(onClick=content.bonuses.refuseBonus)
