mixin app_info_page_new(content)
    .app-info-page
        .buttons-app-block
            .site-wrapper
                .buttons-app
                    .download-app-block
                        .download-title
                            if content.language === "ru"
                                h3.title-mobile-download Мобильное приложение
                                p.description-download-title Теперь Вы можете наслаждаться тысячами слотов на Вашем мобильном телефоне. Приложение сохряняет все преимущества веб-версии SLOTOKONG, но уже в новом удобном формате.
                            else
                                h3.title-mobile-download Mobile app
                                p.description-download-title Now you can enjoy thousands of slots on your mobile phone. The application retains all the advantages of the SLOTOKONG web version, but in a new convenient format.
                        .download-buttons_block
                            a.app-button.android(href='#android-info-block' external)
                                .app-button-icon.android
                                .app-button-text=content.t('ui-download') + " " + content.t('seo-withdraw-description').split(" ")[0] + " " + content.t('app-android')
                            a.app-button.ios(href='#ios-info-block' external)
                                .app-button-icon.ios
                                .app-button-text=content.t('ui-download') + " " + content.t('seo-withdraw-description').split(" ")[0] + " " + content.t('app-ios')
                        .download-app-block_img
                            img(src="/images/app-info/description-img_app_1.svg")
                        .download-icons-tipes
                            if content.language === "ru"
                                .download-icons-tipes_item
                                    img(src="/images/app-info/descrition-icon_app_1.svg")
                                    span Играй в любимые слоты
                                .download-icons-tipes_item
                                    img(src="/images/app-info/descrition-icon_app_2.svg")
                                    span Быстрое пополнение счета
                                .download-icons-tipes_item
                                    img(src="/images/app-info/descrition-icon_app_3.svg")
                                    span Мгновенные выплаты
                                .download-icons-tipes_item
                                    img(src="/images/app-info/descrition-icon_app_4.svg")
                                    span Всегда и везде
                            else
                                .download-icons-tipes_item
                                    img(src="/images/app-info/descrition-icon_app_1.svg")
                                    span Play your favorite slots
                                .download-icons-tipes_item
                                    img(src="/images/app-info/descrition-icon_app_2.svg")
                                    span Fast account replenishment
                                .download-icons-tipes_item
                                    img(src="/images/app-info/descrition-icon_app_3.svg")
                                    span Instant Payouts
                                .download-icons-tipes_item
                                    img(src="/images/app-info/descrition-icon_app_4.svg")
                                    span Anytime and anywhere
                    .download-app-block_img
                        img(src="/images/app-info/description-img_app_1.svg")

        .app-main-content-block
            .site-wrapper
                .app-main-content-container
                    .app-main-content_img
                    .app-main-content_tipes-block
                        if content.language === "ru"
                            h3.title-mobile-download Как установить приложение?
                        else 
                            h3.title-mobile-download How to install the application?
                        .tipes-block_download
                            if content.language === "ru"
                                .tipes-block_download_item
                                    .item-tipe_numer-container
                                        input#item-tipe-num_1(type="radio" name="tipe_numer" checked)
                                        label.item-tipe_numer(for="item-tipe-num_1") 1 
                                    .item-tipe_description
                                        h4.item-tipe_description_title ЗАГРУЗИ
                                        span.item-tipe_description_descr Загрузи файл slotokong.apk с нашего сайта.
                                .tipes-block_download_item
                                    .item-tipe_numer-container 
                                        input#item-tipe-num_2(type="radio" name="tipe_numer")
                                        label.item-tipe_numer(for="item-tipe-num_2") 2
                                    .item-tipe_description
                                        h4.item-tipe_description_title ПЕРЕМЕСТИ ФАЙЛ НА ТЕЛЕФОН
                                        span.item-tipe_description_descr Удобным тебе способом перемести файл slotokong_app.apk на телефон с нашего сайта.
                                .tipes-block_download_item 
                                    .item-tipe_numer-container
                                        input#item-tipe-num_3(type="radio" name="tipe_numer")
                                        label.item-tipe_numer(for="item-tipe-num_3") 3
                                    .item-tipe_description
                                        h4.item-tipe_description_title НАЙДИ И ЗАПУСТИ ФАЙЛ
                                        span.item-tipe_description_descr Найди файл с помощью файлового проводника и запусти его.
                                .tipes-block_download_item 
                                    .item-tipe_numer-container
                                        input#item-tipe-num_4(type="radio" name="tipe_numer")
                                        label.item-tipe_numer(for="item-tipe-num_4") 4
                                    .item-tipe_description
                                        h4.item-tipe_description_title ДАЙ РАЗРЕШЕНИЕ НА УСТАНОВКУ
                                        span.item-tipe_description_descr Разреши файлу провести установку на твое устройство.
                                .tipes-block_download_item 
                                    .item-tipe_numer-container
                                        input#item-tipe-num_5(type="radio" name="tipe_numer")
                                        label.item-tipe_numer(for="item-tipe-num_5") 5
                                    .item-tipe_description
                                        h4.item-tipe_description_title УСТАНОВИ ПРИЛОЖЕНИЕ
                                        span.item-tipe_description_descr Запусти установку и дождись завершения процесса.
                                .tipes-block_download_item 
                                    .item-tipe_numer-container
                                        input#item-tipe-num_6(type="radio" name="tipe_numer")
                                        label.item-tipe_numer(for="item-tipe-num_6") 6
                                    .item-tipe_description
                                        h4.item-tipe_description_title ЗАПУСТИ ПРИЛОЖЕНИЕ
                                        span.item-tipe_description_descr Поздравляем! Теперь ты получил полный доступ к нашему сервису.
                                .tipes-block_download_item 
                                    .item-tipe_numer-container
                                        input#item-tipe-num_7(type="radio" name="tipe_numer")
                                        label.item-tipe_numer(for="item-tipe-num_7") 7
                                    .item-tipe_description
                                        h4.item-tipe_description_title ИГРАЙ!
                                        span.item-tipe_description_descr Наслаждайся тысячами слотов, доступных в приложении!
                            else
                                .tipes-block_download_item
                                    .item-tipe_numer-container
                                        input#item-tipe-num_1(type="radio" name="tipe_numer" checked)
                                        label.item-tipe_numer(for="item-tipe-num_1") 1 
                                    .item-tipe_description
                                        h4.item-tipe_description_title DOWNLOAD
                                        span.item-tipe_description_descr Download the slotokong.apk file from our site.
                                .tipes-block_download_item 
                                    .item-tipe_numer-container
                                        input#item-tipe-num_2(type="radio" name="tipe_numer")
                                        label.item-tipe_numer(for="item-tipe-num_2") 2
                                    .item-tipe_description
                                        h4.item-tipe_description_title MOVE FILE TO PHONE
                                        span.item-tipe_description_descr Move the slotokong_app.apk file to your phone from our site in a convenient way for you.
                                .tipes-block_download_item 
                                    .item-tipe_numer-container
                                        input#item-tipe-num_3(type="radio" name="tipe_numer")
                                        label.item-tipe_numer(for="item-tipe-num_3") 3
                                    .item-tipe_description
                                        h4.item-tipe_description_title FIND AND RUN THE FILE
                                        span.item-tipe_description_descr Find the file using file explorer and run it.
                                .tipes-block_download_item 
                                    .item-tipe_numer-container
                                        input#item-tipe-num_4(type="radio" name="tipe_numer")
                                        label.item-tipe_numer(for="item-tipe-num_4") 4
                                    .item-tipe_description
                                        h4.item-tipe_description_title GIVE PERMISSION TO INSTALL
                                        span.item-tipe_description_descr Allow the file to install on your device.
                                .tipes-block_download_item 
                                    .item-tipe_numer-container
                                        input#item-tipe-num_5(type="radio" name="tipe_numer")
                                        label.item-tipe_numer(for="item-tipe-num_5") 5
                                    .item-tipe_description
                                        h4.item-tipe_description_title INSTALL THE APP
                                        span.item-tipe_description_descr Start the installation and wait for the process to complete.
                                .tipes-block_download_item 
                                    .item-tipe_numer-container
                                        input#item-tipe-num_6(type="radio" name="tipe_numer")
                                        label.item-tipe_numer(for="item-tipe-num_6") 6
                                    .item-tipe_description
                                        h4.item-tipe_description_title LAUNCH THE APP
                                        span.item-tipe_description_descr Congratulations! Now you have full access to our service.
                                .tipes-block_download_item 
                                    .item-tipe_numer-container
                                        input#item-tipe-num_7(type="radio" name="tipe_numer")
                                        label.item-tipe_numer(for="item-tipe-num_7") 7
                                    .item-tipe_description
                                        h4.item-tipe_description_title PLAY!
                                        span.item-tipe_description_descr Enjoy thousands of slots available in the app!
                .app-main-content_btn-block 
                    a.download-button(download external href=content.site.apkLink)=content.t('ui-download')
