mixin app_info_page(content)
  .app-info-page
    .buttons-block
      a.app-button.android(href='#android-info-block' external)
        .app-button-icon.android
        .app-button-text=content.t('app-android')
      a.app-button.ios(href='#ios-info-block' external)
        .app-button-icon.ios
        .app-button-text=content.t('app-ios')
    .top-info-block-container
      .top-info-block
        .left-info
          .top-info-block-title=content.t('android-app')
          .top-info-block-text(dangerouslySetInnerHTML={__html: content.t('app-info-download-our-app')})
        .right-info
          .top-info-block-title=content.t('why-you-need-mobile-app')
          .top-info-block-text(dangerouslySetInnerHTML={__html: content.t('app-info-one-click-access')})
    .how-to-install-block(id='android-info-block')
      .title-line
        .centered-container
          .images-block
            img(src='/images/app-info/how-to-install-1.png')
            img(src=`/images/app-info/how-to-install-2_${content.language === 'ru' ? 'ru' : 'en'}.png`)
            img(src=`/images/app-info/how-to-install-3_${content.language === 'ru' ? 'ru' : 'en'}.png`)
          .title=content.t('how-to-install')
      .main-block-container
        .main-block
          .info-block
            .text(dangerouslySetInnerHTML={__html: content.t('app-info-how-to-install-list')})
            a.download-button(download external href=content.site.apkLink)=content.t('ui-download')
    .ios-info-container(id='ios-info-block')
      .decoration-line
      .ios-info-block
        .left-block
          .ios-info-title=content.t('if-you-have-ios')
          .description=content.t('app-info-ios-description')
          .text(dangerouslySetInnerHTML={__html: content.t('app-info-ios-steps')})
        .right-block
            img(src='/images/app-info/ios-screen-1.png')
            img(src=`/images/app-info/ios-screen-2_${content.language === 'ru' ? 'ru' : 'en'}.png`)
