include ../common/loader
include ../components/freespins-shop/freespins-shop-item-minimal
include ../components/freespins-shop/freespins-shop-filter
include ../components/freespins-shop/freespins-buy-modal-minimal

mixin freespins_shop_page(content)
  .freespins-shop-page(ref=content.freespinsShopActions.ref)
    if content.freespinsShopActions.isFiltersShown
      +freespins_shop_filter(content)
    .freespins-block(className=`freespins-block--${content.appSettings.freespinsShop.theme}`)
      if content.freespinsShopActions.isFreespinsLoading
        .loader-container
          +loader(content)
      else if content.freespinsShopActions.freespinsShopItems && content.freespinsShopActions.freespinsShopItems.length
        each freespinShopItem in content.freespinsShopActions.filteredItems
          if content.freespinsShopActions.isMinimalTheme
            +freespins_shop_item_minimal(content, freespinShopItem)
          else
            +freespin(content, freespinShopItem)
        if content.freespinsShopActions.filteredItems.length === 0
          .freespin-shop-error-block=content.t('freespins-shop-zero-selected')
      else
        .freespin-shop-error-block
          span=content.t('ui-freespin-shop-empty')
          .freespin-shop__loader
            +loader

mixin freespin(content, freespinShopItem)
  .freespin-container
    .copy-tooltip(class=content.freespinsShopActions.copyToClipboardTooltipId && freespinShopItem.id && content.freespinsShopActions.copyToClipboardTooltipId === freespinShopItem.id.toNumber() ? 'active': '')=content.t('url-was-copied')
    .share-icon-container(onClick=()=>content.freespinsShopActions.onShareClick(freespinShopItem.id))
      img(src="/images/icons/share-outline.svg")
    .image
      GameImage(src=freespinShopItem.gameImage lazyLoad=true gameName="" loadingImgHeight=70 freespinShop=true)
    .sale-block-top
      .image-container
        img(src="/images/freespins-shop/sale.svg")
        .text-container
          .text=content.t('ui-sale')
          .bottom-text=freespinShopItem.discountString
    .bonus-amount-block
      .tape-container
        img(src="/images/freespins-shop/frame.svg")
      .bonus-amount
        .amount-text=`${freespinShopItem.freeSpin.count.toNumber()}FS`
    +freespin_time(content, freespinShopItem.timeLeftStringFormatted, freespinShopItem.quantityLeft)
    .sale-block
      .amount-before=content.t('amount-before')
      .left-amount(class=freespinShopItem.originalPriceString.length > 6 ? 'small' : '')=`${freespinShopItem.originalPriceString} ${freespinShopItem.currencyString}`
    .buy-button-block
      .buy-with-sale-for=content.t('buy-with-sale-for')
      .buy-button(class=content.userInfo.guest ? 'disabled' : '' onClick=() => !content.userInfo.guest ? content.freespinsShopActions.onOpenModalClick(freespinShopItem) : {})
        .amount(class=freespinShopItem.priceString.length > 6 ? 'small' : '')=`${freespinShopItem.priceString} ${freespinShopItem.currencyString}`
      if content.userInfo.guest
        .auth-required=content.t("auth-for-buy")
    .line-block
      .line-block-elem.lines
        .top=freespinShopItem.freeSpin.line.toString()
        .bottom=content.t('ui-lines')
      .line-block-elem.wager-freespin
        .top=`×${freespinShopItem.wagerString}`
        .bottom=content.t('ui-wager')
      .line-block-elem.bet
        .top
          .amount=freespinShopItem.betString
          .text=freespinShopItem.currencyString
        .bottom=content.t('ui-bet')
      
mixin freespin_time(content, time, quantityLeft)
  .freespin-time-block
    .time-header
      img.clock-icon(src="/images/freespins-shop/clock-icon.svg")
      .time-header-text=content.t('freespins-in-stock')
      .time-header-text.bold=quantityLeft
    .time-container
      .time=time
      .time-labels
        .time-label=content.t('dd')
        .time-label=content.t('hh')
        .time-label=content.t('mm')
        .time-label=content.t('ss')

mixin freespin_buy_modal(content)
  if content.freespinsShopActions.isMinimalTheme
      +freespin_buy_modal_minimal(content)
  else
      +freespin_buy_modal_default(content)

mixin freespin_buy_modal_default(content)
  .modal.sm.in.confirm
      .modal-dialog
          .modal-content.freespin-shop-modal
              a.modal-close(href="#", onClick=content.freespinsShopActions.closeModal)
                  span.icon.icon-close
              if content.freespinsShopActions.modalBuyIsSuccess
                .success-message=content.t('freespins-shop-buy-success-message')
                .game-container
                  img(src=content.freespinsShopActions.freespinItemSelected.squareImage)
                  .game-name=content.freespinsShopActions.freespinItemSelected.gameName
                  .go-to-game-button(onClick=content.freespinsShopActions.goToGamePage)=content.t('ui-go-to-game')
                .close-button(onClick=content.freespinsShopActions.closeModal)=content.t('ui-close')
              else
                .modal-header
                  .text=content.t('ui-buy')
                  .amount=`${content.freespinsShopActions.freespinItemSelected.freeSpin.count.toNumber()} FREE SPINS`
                .body
                  .text-block
                    .text=content.t('freespins-shop-you-buying')
                    .amount=`${content.freespinsShopActions.freespinItemSelected.freeSpin.count.toNumber()} free spins`
                  .text-block
                    .text=content.t('ui-in-game')
                    .amount=content.freespinsShopActions.freespinItemSelected.gameName
                  .text-block
                    .text=content.t('freespin-shop-bet-on-line')
                    .amount=`${content.freespinsShopActions.freespinItemSelected.betString} ${content.freespinsShopActions.freespinItemSelected.currencyString}`
                  .text-block
                    .text=content.t('freespins-shop-active-lines')
                    .amount=content.freespinsShopActions.freespinItemSelected.freeSpin.line.toString()
                  .text-block
                    .text=content.t('freespins-shop-wager-for-withdrawal')
                    if content.freespinsShopActions.promoCodeInfo && content.freespinsShopActions.promoCodeInfo.wagerString && content.freespinsShopActions.promoCodeInfo.wagerDiscount
                      .amount-with-discount
                        .amounts
                          .amount-original=`×${content.freespinsShopActions.freespinItemSelected.wagerString}`
                          .amount=`×${content.freespinsShopActions.promoCodeInfo.wagerString}`
                        .discount-block=`-${content.freespinsShopActions.promoCodeInfo.wagerDiscount}%`
                    else
                      .amount=`×${content.freespinsShopActions.freespinItemSelected.wagerString}`
                  .balance-original-price=`${content.freespinsShopActions.freespinItemSelected.originalPriceString} ${content.freespinsShopActions.freespinItemSelected.currencyString}`
                  .balance-message
                    .text=content.t('freespins-shop-buy-message-balance')
                    if content.freespinsShopActions.promoCodeInfo && content.freespinsShopActions.promoCodeInfo.price && content.freespinsShopActions.promoCodeInfo.priceDiscount
                      .amount-with-discount
                        .amounts
                          .amount-original=`${content.freespinsShopActions.freespinItemSelected.priceString} ${content.freespinsShopActions.freespinItemSelected.currencyString}`
                          .amount=`${content.freespinsShopActions.promoCodeInfo.price} ${content.freespinsShopActions.freespinItemSelected.currencyString}`
                        .discount-block=`-${content.freespinsShopActions.promoCodeInfo.priceDiscount}%`
                    else
                      .amount=`${content.freespinsShopActions.freespinItemSelected.priceString} ${content.freespinsShopActions.freespinItemSelected.currencyString}`
                  +promo_code(content)
                  if content.freespinsShopActions.promoCodeInfo && content.freespinsShopActions.promoCodeInfo.statusOk
                    .buy-button.with-discount(onClick=content.freespinsShopActions.buyRequest)=content.t('ui-buy-with-discount')
                  else
                    .buy-button(onClick=content.freespinsShopActions.buyRequest)=content.t('ui-confirm')
                  if content.freespinsShopActions.buyRequestLoading
                    .loader-container
                      +loader(content)
                  if content.freespinsShopActions.modalErrorMessage
                    .modal-error-message=content.freespinsShopActions.modalErrorMessage

mixin promo_code(content)
  form.modal-form.promo-code-form
      if content.freespinsShopActions.promoCodeInfo && content.freespinsShopActions.promoCodeInfo.statusOk
        .success-block
          .success-message=content.t("promo-code-success", {"promocode": content.freespinsShopActions.promoCodeValue ? content.freespinsShopActions.promoCodeValue : ''})
          if content.freespinsShopActions.promoCodeInfo && content.freespinsShopActions.promoCodeInfo.price && content.freespinsShopActions.promoCodeInfo.priceDiscount
            .promocode-info-block
              .text=content.t('promo-code-amount-with-discount')
              .amount=content.freespinsShopActions.promoCodeInfo.priceFormatted
          if content.freespinsShopActions.promoCodeInfo && content.freespinsShopActions.promoCodeInfo.wagerString && content.freespinsShopActions.promoCodeInfo.wagerDiscount
            .promocode-info-block
              .text=content.t('promo-code-wager-with-discount')
              .amount=`×${content.freespinsShopActions.promoCodeInfo.wagerString}`
      else
        .form-line
            label.form-label= content.t('promo-code-info-freespins-shop')
            .form-field.inline
                span.input-wrap
                    InputMask(
                        mask="999-999"
                        type='tel'
                        placeholder=content.t('ui-placeholder-promo-code')
                        disabled=false
                        onChange=content.freespinsShopActions.onPromoCodeValueChange
                        value=content.freespinsShopActions.promoCodeValue
                    )
                    span.currency-label.currency-label-uppercase= content.t('ui-promo-code')
            if content.freespinsShopActions.promoCodeInfo && !content.freespinsShopActions.promoCodeInfo.statusOk && content.freespinsShopActions.promoCodeInfo.errorMessage
              .error-message=content.freespinsShopActions.promoCodeInfo.errorMessage

