include ../components/numpad-controlled

mixin lobby(content)
    .lobby-wrapper
        if content.lobby.isPinModalActive
            .lobby-modal__overlay
                a.lobby-modal__close(href="#", onClick=content.lobby.hidePinModal)
                    span.icon.icon-close
                .lobby-modal
                    .lobby-modal__pin
                        each digit in content.lobby.pinStars
                            .lobby-modal__pin-digit=digit
                    +numpad_controlled(content.lobby.onPinInput, content.lobby.onPinBackspace, content.lobby.onPinClear)
        .lobby
            .lobby__title=content.t("Information Kiosk")
            .lobby__items
                each item in content.lobby.items
                    if item.withLongPress
                        .lobby__item(
                            key=item.id
                            onTouchStart=item.onPress
                            onTouchEnd=item.onRelease
                            onMouseDown=item.onPress
                            onMouseUp=item.onRelease
                            onMouseLeave=item.onRelease
                        )
                            .lobby__item-icon(className=("lobby__item-icon--" + item.icon))
                            .lobby__item-title=item.name
                    else
                        a.lobby__item(key=item.id href=item.url external=true)
                            .lobby__item-icon(className=("lobby__item-icon--" + item.icon))
                            .lobby__item-title=item.name