mixin skill_wheel_page(content)
    .page.page-skill-wheel
        .wrapper.wrapper-table
            .wrapper-cell
                .content.content--scalable(ref=content.makeRef('wrapper'))
                    .wheel-container
                        +wheel(content)
                        +wheel_timer(content)
                        .wheel-container-frame
                        .wheel-subtitle= content.t('ui-click-to-select-win')
                        +wheelPrizes(content)

mixin wheel(content)
    .wheel-items-container(ref=content.makeRef('skill-wheel-container'))
        .wheel-items--container
            .wheel-items(ref=content.makeRef('skill-wheel'))
                +wheel_values(content)

mixin wheel_values(content)
    each val in content.skillWheel.wheelItems
        .wheel-item(onClick= content.skillWheel.selectWheelItem data-prize-won=val)= val

mixin wheelPrizes(content)
    .wheel-prize-container
        .wheel-prize.wheel-prize-remaining
            .wheel-prize-text= content.t('ui-prize-remaining')
            .wheel-prize-value= content.skillWheel.balance.toNumber()
        .wheel-prize.wheel-spins-remaining
            .wheel-prize-text= content.t('ui-spins-remaining')
            .wheel-prize-value= content.skillWheel.spinsRemaining
        .wheel-prize.wheel-prize-won
            .wheel-prize-text= content.t('ui-prize-won')
            .wheel-prize-value= content.skillWheel.prizeWonWithCurrency

mixin wheel_timer(content)
    #skill-wheel-timer.wheel-timer
