
mixin timeline_cashback_page(content)
    .timeline-cashback-page
        .timeline-cashback-page-content
            if content.timelineCashbackBonus.settings && content.timelineCashbackBonus.settings.levels
                +timeline_cashback_page_block(content, content.timelineCashbackBonus)
                .text-page
                    .page-content.rules(dangerouslySetInnerHTML=content.staticPageContent onClick=content.pages.handleClicks)


mixin timeline_cashback_page_block(content, cashback)
    .timeline-cashback-page-block(class=content.timelineCashbackBonus.cashbackLevelType)
        .main-block
            .first-content-block
                +timeline_cashback_page_block_top(content, cashback)
                +timeline_cashback_page_block_cashback_progress(content, cashback)
            .second-content-block
                +timeline_cashback_page_block_available_cashback(content, cashback)
                +timeline_cashback_page_block_reset_date(content, cashback)
                +timeline_cashback_page_block_points_accumulating(content, cashback)
        .points-accumulating-mobile-status
            +timeline_cashback_points_accumulating_status(content, cashback)

mixin timeline_cashback_page_block_top(content, cashback)
    .timeline-cashback-page-block-top
        .top-progress
            .your-points=`${content.t('ui-your-points')}: ${cashback.settings.currentPoints}`
            .progress-bar
                .progress-line(style="width: cashback.progressPercent")
            if cashback.currentLevel && cashback.currentLevel.maxPoints
                .next-level-points=`${content.t('to-next-level-you-need-points', {points: cashback.currentLevel.maxPoints})}`
            .play-to-earn-more-points=content.t('play-to-earn-more-points')
        .level-type-container
            .circle-container
                .circle-progress-cashback(class=content.timelineCashbackBonus.circleProgressClass)
                    img.circle-image.circle-image-cashback-page(src=content.timelineCashbackBonus.circleImageSrc)
            .bonus-level-type
                .type=content.timelineCashbackBonus.cashbackLevelType
                .bonus-level-type-percent=`${cashback.currentLevelPercent}%`

mixin timeline_cashback_page_block_cashback_progress(content, cashback)
    .cashback-progress-block
        .cashback-progress(className=cashback.levelsForCashbackProgress.length && cashback.levelsForCashbackProgress.length > 5 ? 'more-than-5' : '' )
            each level in cashback.levelsForCashbackProgress
                .level-item(class=level.isComplete ? "complete" : level.isCurrent ? 'current' : 'lock')
                    if !level.isCurrent
                        if level.isComplete
                            .complete-icon
                        else
                            .lock-icon
                    .percent=`${level.percent}%`

mixin timeline_cashback_page_block_available_cashback(content, cashback)
    .cashback-available-block
        .left
            .block-icon.dollar-icon
            .text-block
                .top=content.t('ui-available-cashback')
                a.bottom(href=content.l('/bonuses'))=content.t('how-can-i-use-cashback')
        .right
            .text=cashback.settings.currentCashback ? cashback.settings.currentCashback : ''
            .bottom=`(${cashback.settings.currentPoints}p x ${cashback.currentLevelPercent}%)`

mixin timeline_cashback_page_block_reset_date(content, cashback)
    .reset-date-block
        .left
            .block-icon.date-icon
            .text=content.t('ui-reset-date')
        .right
            .text=cashback.settings.endTime

mixin timeline_cashback_page_block_points_accumulating(content, cashback)
    .points-accumulating-block
        .top
            .title=content.t('ui-points-accumulating')
            .status(className=cashback.settings.pointsAccumulating ? 'green' : 'red')=cashback.settings.pointsAccumulating ? content.t('ui-yes') : content.t('ui-no')
        .bottom
            +timeline_cashback_points_accumulating_status(content, cashback)

mixin timeline_cashback_points_accumulating_status(content, cashback)
    .points-accumulating-status
        .text=content.timelineCashbackBonus.pointsAccumulatingStatusTitle
        if cashback.settings.accumulationBlockingBonusesNames.length
            ul.bonuses-list
                each bonusName in cashback.settings.accumulationBlockingBonusesNames
                    li.bonus-item=bonusName