@import "../../mixin"
@import "../../swatches"

.authorization-tab-bar
  // margin: 0 1px
  display: flex

.authorization-tab-item
  flex-grow: 1
  flex-basis: 0
  display: flex
  justify-content: center
  align-content: center
  align-items: center
  outline: none
  cursor: pointer
  height: 64px
  // background: rgba(255, 255, 255, 0.15)
  background: transparent
  color: $light-three
  text-align: center
  border: 0
  // border-bottom: 2px solid rgba($color-white, 0.75)
  // margin-right: 1px
  font-family: $font-lost
  font-weight: 400
  &:not(.authorization-tab-item--active)
    &:hover
      background: $dark-six

.authorization-tab-item:last-child
  margin-right: 0

.authorization-tab-item-icon
  // margin-top: 8px
  font-size: 22px
  color: $light-three
  padding-bottom: 4px
  margin-right: 5px
  &::before
    font-size: 30px

.authorization-tab-item-caption
  padding: 0
  font-size: 17px
  line-height: 22px
  color: $light-three
  height: 26px
  display: flex
  flex-direction: column
  justify-content: center
  text-align: left

.iconfont-moment + .authorization-tab-item-caption
  width: 54px
  line-height: 18px

.authorization-tab-item--disabled
  opacity: 0.7
  pointer-events: none

.authorization-tab-item--active
  background: $accent-one
  // border-bottom: 2px solid $accent-three

.authorization-tab-item--active .authorization-tab-item-icon,
.authorization-tab-item--active .authorization-tab-item-caption
  // color: $light-three
