@import "../../mixin"
@import "../../swatches"

.anonymous-registration-success__loader
  text-align: center

.anonymous-registration-success__auth-url,
.anonymous-registration-success__crypto-address
  font-size: 12px
  font-weight: bold
  text-align: center
  color: $yellow
  padding-top: 26px
  padding-bottom: 6px
  overflow-wrap: anywhere

.anonymous-registration-success__qr-code
  background: $color-white
  width: 160px
  height: auto
  margin: 0 auto
  position: relative
  canvas
    width: 100%
  img
    width: 100%
    border-radius: 0 !important
    margin: 0 !important

.form-line.anonymous-registration-success__crypto
  margin-bottom: 20px

.anonymous-registration-form__hint
  font-size: 10px
  line-height: 1.3
  display: block
  &.qr-hint
    margin-top: 5px
