@import "../../mixin"
@import "../../swatches"

.one-click-registration-success-content form
  padding-top: 20px !important

.one-click-registration-success-content .form-line
  margin-top: 14px
  background: $dark-blue-grey
  border-radius: 4px
  padding: 8px 12px

.one-click-registration-success-content .form-label
  position: absolute
  font-size: 12px !important
  color: rgba($color-white, 0.7) !important
  font-weight: normal !important

.one-click-registration-success-disclaimer
  text-align: center

.one-click-registration-success-login-value,
.one-click-registration-success-password-value
  font-size: 32px
  font-weight: bold
  text-align: center
  color: $yellow
