@import "../../mixin"
@import "../../swatches"
@import "authorization-one-click"
@import "authorization-anonymous"
@import "authorization-tab-bar"
@import "registration-bonuses"
@import "multi-login-form"
@import "modal-authorization-v3"
@import "social-authorization"

.modal-authorization-v2 .modal-form .submit-line,
.modal-authorization-v2 .modal-form .form-line + .form-line
  margin-top: 16px
  &.form-line--horizontal
    margin-top: 32px
  &:has( .modal-authorization-v2__sign-up-button)
    margin-top: 32px

.modal-authorization-v2 .modal-content
  @include tablet
    padding: 0 0 32px !important

.modal-authorization-v2 .authorization-content .modal-form
  padding-top: 32px !important

.modal-authorization-v2 .authorization-title
  // margin: 14px 10px
  margin: 0px 10px
  text-align: center
  opacity: 0

.modal-authorization-v2__sign-up-button
  // width: auto !important
  min-width: 210px
  padding: 0 10px

.modal-authorization-v2__anonymous-description
  padding-bottom: 14px

#auth
  .bonuses__promo-code
    margin-bottom: 20px
    margin-top: 24px
  .bonuses__promo-code-icon
    font-size: 20px
  .bonuses__promo-code-input
    margin-right: 0
