@import "../../mixin"
@import "../../swatches"

.modal-authorization-v3
    &.pin
        .modal-content
            min-height: 500px!important
    .authorization-content
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
        height: 100%
        .form-line--confirmation-code-method
            margin-top: 24px

    .authorization-title
        font-size: 22px
        text-align: center
        margin-bottom: 8px
        width: 100%

    .authorization-info
        font-size: 18px
        text-align: center
        margin-bottom: 8px
        min-height: 75px
        color: $color-white
        display: flex
        align-items: center
        justify-content: flex-end
        flex-direction: column

    .modal-dialog .modal-content
        @media (max-height: 420px)
            .modal-close
                top: 16px
                right: 16px

    .modal-content
        padding: 10px 15px 20px 15px !important
        height: 470px
        position: absolute !important
        left: 0
        right: 0
        top: 0
        bottom: 0
        margin: auto !important

        @include mobile
            width: calc(100% - 50px) !important

    .modal-form
        margin-top: auto
        width: 100%

        .form-line
            padding: 0
            text-align: center
            .error
                height: 20px
                margin: 5px 0 0 0
                text-align: center
            .sms-field
                width: 180px
                margin: auto
                .sms-number
                    text-align: center
                    height: 70px
                    font-size: 28px
                    font-weight: 800
                    &.wrong
                        border-color: $red-monza
                    &::placeholder
                        color: #feae00
                    @media (max-width: 320px)
                        height: 60px

        .submit-line
            margin: 0
            padding: 0
            .btn
                font-weight: 800
                height: 52px
                width: 100%
                background-image: none
                background: #00c853
            .btn-send
                font-size: 22px

        $ph-width: 124px
        $ph-width-small: 104px
        .form-line .phone,
        .form-line .phone .custom-select,
        .form-line .phone .form-control,
        .form-line .phone .phone-input
            height: 70px
            line-height: 20px
            font-size: 20px
            font-weight: 800
            @media (max-width: 380px)
                line-height: 19px
                font-size: 19px
            @media (max-width: 320px)
                height: 60px
                line-height: 15px
                font-size: 15px
        .form-line .phone .custom-select
            width: $ph-width
            @media (max-width: 320px)
                width: $ph-width-small
        .form-line .phone .form-control
            padding: 0 0 0 6px
        .form-line .phone .phone-input
            left: $ph-width
            width: calc(100% - #{$ph-width})
            padding: 0
            @media (max-width: 320px)
                left: $ph-width-small
                width: calc(100% - #{$ph-width-small})

            &::placeholder
                color: #feae00
                line-height: 28px
                font-size: 20px
                vertical-align: bottom
                @media (max-width: 380px)
                    line-height: 22px
                    font-size: 19px
                @media (max-width: 320px)
                    line-height: 20px
                    font-size: 15px

    .incorect-phone-number
        display: inline-block
        cursor: pointer
        color: $blue-picton
        font-size: 16px
        text-decoration: underline

    .btn
        opacity: 1 !important
        &:focus
            opacity: 1 !important

    .btn.disabled
        box-sizing: border-box
        cursor: default !important
        opacity: 0.5 !important
        &:focus
            opacity: 0.5 !important

    .error
        width: 100%

    .forgot-code
        width: 100%
        text-align: center
        text-decoration: underline
        cursor: pointer
        color: white

    .numpad-container
        .numpad
            width: 270px
            display: block!important
        .numpad__key
            width: 70px
            height: 60px
            line-height: 60px

    .pin-input-container
        margin: 20px 0px
        display: flex
        width: 300px
        justify-content: center
        .pin-input-circles
            display: flex
            width: 200px
            justify-content: space-around
            .pin-input-circle
                width: 35px
                height: 35px
                border-radius: 50px
                border: 2px solid #d06efa
                &.filled
                    background: #d06efa
                    animation-name: zoom-in-zoom-out
                    animation-duration: 0.2s
                    animation-fill-mode: both
        input
            width: 300px
            text-align: left
            color: #fff
            background: rgba(25,64,106,.4)
            border: 3px solid #d06efa
            border-radius: 10px
            transition: all .15s ease-in-out
            height: 78px
            padding: 0 42px
            font-size: 30px
    .bonuses__promo-code
        margin-top: 16px
    .bonuses__title,
    .bonuses__promo-code-label,
    .bonuses__promo-code-btn
        display: none
    .bonuses__promo-code-input
        margin-right: 0

.modal-authorization-v3__sent-promo-code
    margin-top: 16px
    text-align: center
    font-weight: 600
    font-size: 14px
    color: $color-white

@keyframes zoom-in-zoom-out
    0%
        transform: scale(1)
    50%
        transform: scale(0.4)
    100%
        transform: scale(1)

.modal-authorization-v3__confirmation-call-instruction
    margin-top: 30px
    font-size: 16px
    &--hidden
        visibility: hidden

.modal-authorization-v3__welcome-bonus
    margin-bottom: 10px
    text-transform: uppercase
    span
        color: $red-monza
        font-weight: bold
        font-size: 30px
