@import "../../swatches.sass"

.modal-login,
.modal-register
    .site-middle,
    .site-footer,
    .promo
        display: none

.multi-login-form
    & + .modal-backdrop
        background-color: $blue-port

    .modal-dialog
        display: flex

    .modal-light-content
        padding: 0 34px

    .modal-close
        right: 50px !important

    &__col
        width: calc(100% - 16px)
        position: relative
        padding: 0 8px
        display: flex
        flex-wrap: wrap
    &__head
        color: $color-white
        font-weight: 800
        font-size: 34px
        box-shadow: 0px 4px 12px rgba(50, 125, 237, 0.25)
        background-color: $violet
        margin-bottom: 1px
        border-top-left-radius: 16px
        border-top-right-radius: 16px
        padding: 30px 24px 0 24px
        text-align: center
        width: 100%
        height: 134px
    &__body
        box-shadow: 0px 4px 12px rgba(50, 125, 237, 0.25)
        background-color: $violet
        border-bottom-left-radius: 16px
        border-bottom-right-radius: 16px
        padding: 34px 24px 14px 24px
        width: 100%
        height: calc(100% - 134px)

    .form-label
        color: $color-white
        font-weight: 800
        font-size: 34px
        display: block
        margin-bottom: 20px
    .form-field
        margin-bottom: 5px
        input
            color: $color-white
            font-weight: 800
            font-size: 34px
            width: 100%
            height: 106px
            border-radius: 16px
            border: 4px solid rgba(255, 255, 255, 0.4)
            padding: 0 16px 0 36px
            background-color: transparent
            box-sizing: border-box

            &::placeholder
                font-weight: 800
                font-size: 30px
                color: rgba(255, 255, 255, 0.8)

            &:focus
                border: 4px solid rgba(255, 255, 255, 0.8)
    .error
        color: $red
        font-size: 19px
        font-style: italic
        font-weight: 800
        line-height: 19px
        height: 34px
        margin-bottom: 5px
        position: relative
        z-index: 8

        .ru &
            font-size: 16px
            line-height: 16px

    .form-disable-overlay
        display: none
        background-color: rgba($violet, 0.7)
        border-radius: 16px
        width: calc(100% - 16px)
        height: 100%
        position: absolute
        left: 8px
        z-index: 10
    .disabled .form-disable-overlay
        display: block


@media (max-width: 1280px)
    .multi-login-form
        &__head
            font-size: 25px
        &__btn
            font-size: 21px
        .form-label
            font-size: 25px
        .form-field
            input
                font-size: 24px
                padding: 0 16px
                &::placeholder
                    font-size: 20px
                .ru &::placeholder
                    font-size: 15px

@media (max-width: 1024px)
    .multi-login-form
        &__head
            font-size: 25px
        &__btn
            font-size: 20px
        .form-label
            font-size: 25px
        .form-field
            input
                font-size: 22px
                padding: 0 16px
                &::placeholder
                    font-size: 18px
                .ru &::placeholder
                    font-size: 15px

@media (max-width: #{$desktop-width})
    .multi-login-form
        &__head
            font-size: 24px
        &__btn
            font-size: 17px
        .form-label
            font-size: 20px
        .form-field
            input
                font-size: 20px
                &::placeholder
                    font-size: 16px
                .ru &::placeholder
                    font-size: 14px
