@import "../../mixin"
@import "../../swatches"

.registration-bonuses
  display: none
.registration-bonuses-title
  font-size: 12px
  font-weight: 500
  text-align: center
  color: $yellow

.registration-bonuses-list
  display: flex
  flex-wrap: wrap
  margin: 10px -10px
  justify-content: space-between

.registration-bonuses-item
  cursor: default
  width: 33%
  padding: 0 3px

.registration-bonuses-item-title
  font-size: 11px
  font-weight: 600
  text-align: center
  color: $color-light-blue

.registration-bonuses-item-image
  text-align: center

.registration-bonuses-item-image img
  max-width: 72px

.registration-bonuses-note
  font-size: 10px
  line-height: 1.4
  text-align: center
  color: rgba($color-white, 0.5)
  margin-bottom: 10px
