.btn-social-login-container
  display: flex
  justify-content: center

.btn-social-login
  background: #3b5998
  width: 210px
  padding: 10px
  margin: 20px 0
  border-radius: 5px
  color: white
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  height: 50px
  position: relative
  &:hover
    background: #465e8e
  &.loading
    &::after
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: no-repeat url('/images/icons/stars_sprite2.svg') transparent center center
      background-size: 50% 95%
      color: transparent

.login-via-social
  margin-top: 100px
  margin-bottom: 100px

.login-via-token-container-error
  display: flex
  justify-content: center
  padding: 0 10px
  flex-direction: column
  align-items: center
  .login-via-social-error
    word-break: break-all
    color: #ea5050
    font-weight: 800
    max-width: 500px
    margin-bottom: 20px

.login-via-social-support
  max-width: 500px
  margin-bottom: 10px

.btn-social-support
  color: white!important
  background-image: none!important
  border: 1px solid #bb40f6!important
  &:hover
    background-image: linear-gradient(to right, #c541ff 0%, #695fed 100%)!important

.login-via-social-title
  margin-bottom: 10px
  font-weight: 700
  color: white
  font-size: 20px

.social-sign-up-form
  padding-top: 0!important
