@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3z4kf4');
  src:  url('fonts/icomoon.eot?3z4kf4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3z4kf4') format('truetype'),
    url('fonts/icomoon.woff?3z4kf4') format('woff'),
    url('fonts/icomoon.svg?3z4kf4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mascot:before {
  content: "\e901";
}
.icon-copy:before {
  content: "\e900";
}
.icon-currency:before {
  content: "\e800";
}
.icon-google:before {
  content: "\e801";
}
.icon-facebook:before {
  content: "\e802";
}
.icon-icon-error:before {
  content: "\e803";
}
.icon-ok:before {
  content: "\e804";
}
.icon-twitter:before {
  content: "\e805";
}
.icon-icon-success:before {
  content: "\e806";
}
.icon-search:before {
  content: "\e807";
}
.icon-icon-close:before {
  content: "\e808";
}
.icon-downtriangle:before {
  content: "\e809";
}
.icon-exit:before {
  content: "\e80a";
}
.icon-heart:before {
  content: "\e80b";
}
.icon-home:before {
  content: "\e80c";
}
.icon-down-dir:before {
  content: "\e80d";
}
.icon-cash-ico:before {
  content: "\e80e";
}
.icon-cashout:before {
  content: "\e80f";
}
.icon-check:before {
  content: "\e810";
}
.icon-mailru:before {
  content: "\e811";
}
.icon-vk:before {
  content: "\e812";
}
.icon-crown:before {
  content: "\e813";
}
.icon-menu:before {
  content: "\e814";
}
.icon-msg-ico:before {
  content: "\e815";
}
.icon-offer:before {
  content: "\e816";
}
.icon-payments:before {
  content: "\e817";
}
.icon-pencil:before {
  content: "\e818";
}
.icon-phone:before {
  content: "\e819";
}
.icon-profile-sm:before {
  content: "\e81a";
}
.icon-profile:before {
  content: "\e81b";
}
.icon-uptriangle:before {
  content: "\e81c";
}
.icon-left-navi:before {
  content: "\e81d";
}
.icon-star-fill:before {
  content: "\e81e";
}
.icon-star-ico:before {
  content: "\e81f";
}
.icon-right-navi:before {
  content: "\e820";
}
.icon-linkedin:before {
  content: "\f05c";
}
.icon-user-ico:before {
  content: "\f061";
}
.icon-pinterest:before {
  content: "\f0d3";
}
.icon-tumblr:before {
  content: "\f310";
}
.icon-instagram:before {
  content: "\f32d";
}
.icon-sinaweibo:before {
  content: "\f33f";
}
