mixin freespin_buy_modal_minimal(content)
  .modal.sm.in.confirm
      .modal-dialog
          .modal-content.freespin-buy-modal-minimal
              a.modal-close(href="#", onClick=content.freespinsShopActions.closeModal)
                  span.icon.icon-close
              if content.freespinsShopActions.modalBuyIsSuccess
                .freespin-buy-modal-minimal__header=content.t('freespins-shop-buy-success-message')
                .freespin-buy-modal-minimal__body
                  .freespin-buy-modal-minimal__in-game-name
                    strong=content.freespinsShopActions.freespinItemSelected.freeSpinsInfo
                    span=content.t('to-gamename', {gameName: content.freespinsShopActions.freespinItemSelected.gameName})
                  .freespin-buy-modal-minimal__game-image
                    GameImage(src=content.freespinsShopActions.freespinItemSelected.gameImage lazyLoad=true gameName=content.freespinsShopActions.freespinItemSelected.gameName loadingImgHeight=90 freespinShop=true)
                  .button.button--primary.freespin-buy-modal-minimal__go-to-game-button(onClick=content.freespinsShopActions.goToGamePage)=content.t('ui-go-to-game')
                  .button.freespin-buy-modal-minimal__close-button(onClick=content.freespinsShopActions.closeModal)=content.t('ui-close')
              else
                .freespin-buy-modal-minimal__header(dangerouslySetInnerHTML={__html: content.t('you-are-buying-freespins', {amount: content.freespinsShopActions.freespinItemSelected.freeSpin.count.toNumber()})})
                .freespin-buy-modal-minimal__body
                  .freespin-buy-modal-minimal__in-game-name=content.t('to-gamename', {gameName: content.freespinsShopActions.freespinItemSelected.gameName})
                  .freespin-buy-modal-minimal__game-image
                    GameImage(src=content.freespinsShopActions.freespinItemSelected.gameImage lazyLoad=true gameName=content.freespinsShopActions.freespinItemSelected.gameName loadingImgHeight=90 freespinShop=true)
                  .freespin-buy-modal-minimal__line
                    .freespin-buy-modal-minimal__line-caption=content.t('freespin-shop-bet-on-line')
                    .freespin-buy-modal-minimal__line-amount=`${content.freespinsShopActions.freespinItemSelected.betString} ${content.freespinsShopActions.freespinItemSelected.currencyString}`
                  .freespin-buy-modal-minimal__line
                    .freespin-buy-modal-minimal__line-caption=content.t('freespins-shop-active-lines')
                    .freespin-buy-modal-minimal__line-amount=content.freespinsShopActions.freespinItemSelected.freeSpin.line.toString()
                  .freespin-buy-modal-minimal__line
                    .freespin-buy-modal-minimal__line-caption=content.t('ui-wager')
                    if content.freespinsShopActions.promoCodeInfo && content.freespinsShopActions.promoCodeInfo.wagerString && content.freespinsShopActions.promoCodeInfo.wagerDiscount
                      .freespin-buy-modal-minimal__line-amount.freespin-buy-modal-minimal__line-amount-with-discount
                        .freespin-buy-modal-minimal__line-amount-old.freespin-buy-modal-minimal__line-amount--strike=`×${content.freespinsShopActions.freespinItemSelected.wagerString}`
                        .freespin-buy-modal-minimal__line-amount-new=`×${content.freespinsShopActions.promoCodeInfo.wagerString}`
                        .freespin-buy-modal-minimal__line-amount-discount=`-${content.freespinsShopActions.promoCodeInfo.wagerDiscount}%`
                    else
                      .freespin-buy-modal-minimal__line-amount=`×${content.freespinsShopActions.freespinItemSelected.wagerString}`
                  .freespin-buy-modal-minimal__line
                    .freespin-buy-modal-minimal__line-caption=content.t('price')
                    .freespin-buy-modal-minimal__line-amount.freespin-buy-modal-minimal__line-amount
                      .freespin-buy-modal-minimal__line-amount--strike=content.freespinsShopActions.freespinItemSelected.oldPriceFormatted
                  .freespin-buy-modal-minimal__line
                    .freespin-buy-modal-minimal__line-caption=content.t('discount')
                    .freespin-buy-modal-minimal__line-amount.freespin-buy-modal-minimal__line-amount=content.freespinsShopActions.freespinItemSelected.discountString
                  .freespin-buy-modal-minimal__you-pay=content.t('you-pay-only')
                  if content.freespinsShopActions.promoCodeInfo && content.freespinsShopActions.promoCodeInfo.price && content.freespinsShopActions.promoCodeInfo.priceDiscount
                    .freespin-buy-modal-minimal__promocode-prices-container
                      .freespin-buy-modal-minimal__promocode-prices
                        .freespin-buy-modal-minimal__price-old=content.freespinsShopActions.freespinItemSelected.priceFormatted
                        .freespin-buy-modal-minimal__price-new=content.freespinsShopActions.promoCodeInfo.priceFormatted
                        .freespin-buy-modal-minimal__price-discount=`-${content.freespinsShopActions.promoCodeInfo.priceDiscount}%`
                  else
                    .freespin-buy-modal-minimal__price=content.freespinsShopActions.freespinItemSelected.priceFormatted
                  +promo_code(content)
                  .btn.button.button--primary.freespin-buy-modal-minimal__buy-button(
                    className=(content.freespinsShopActions.buyRequestLoading ? 'btn--loading' : ''),
                    onClick=content.freespinsShopActions.buyRequest
                  )=content.freespinsShopActions.promoCodeInfo && content.freespinsShopActions.promoCodeInfo.statusOk ? content.t('ui-buy-with-discount') : content.t('ui-confirm')
                  if content.freespinsShopActions.modalErrorMessage
                    .freespin-buy-modal-minimal__error-message=content.freespinsShopActions.modalErrorMessage