mixin freespins_shop_filter(content)
  .freespins-filter(
    className=content.freespinsShopActions.isFilterFixed ? 'freespins-filter--fixed' : ''
  )
    .freespins-filter__tabs
      each filter in content.freespinsShopActions.filters
        .freespins-filter__button(
          key=filter
          onClick=() => content.freespinsShopActions.updateFilter(filter)
          className=(content.freespinsShopActions.filter === filter ?  'freespins-filter__button--active' : '')
        )
          if filter === 'selected'
            img(src='/images/icons/icon-favorites-filled.svg')
          span=(filter === 'all' ? content.t('ui-all') : content.t('ui-compare'))
    .freespins-sort
      .freespins-sort__left(
        ref=content.freespinsShopActions.filterRef
        onClick=content.freespinsShopActions.toggleFilterSelect
        className=content.freespinsShopActions.isFilterSelectShown ? "freespins-sort__left--opened" : ""
      )
        .freespins-sort__icon(className=`freespins-sort__icon--${content.freespinsShopActions.sort}`)
        .freespins-sort__name=content.t(!content.freespinsShopActions.sort ? 'ui-sort' : content.freespinsShopActions.sort)
        i.iconfont-arrow-bottom.freespins-sort__arrow
        .freespins-sort__select
          each sortOption in content.freespinsShopActions.sortOptions
            .freespins-sort__select-option(
              key=sortOption
              className=(content.freespinsShopActions.sort === sortOption) ? "freespins-sort__select-option--active" : ""
              onClick=() => content.freespinsShopActions.updateSort(sortOption)
            )=content.t(sortOption)
      .freespins-sort__view-options
        each viewOption in content.freespinsShopActions.viewOptions
          i.freespins-sort__view-option(
            key=viewOption
            className=(content.freespinsShopActions.view === viewOption ? `freespins-sort__view-option--active iconfont-${viewOption}` : `iconfont-${viewOption}`)
            onClick=() => content.freespinsShopActions.updateViewOption(viewOption)
          )