mixin freespins_shop_item_minimal(content, freespinShopItem)
  .freespins-item(className=content.freespinsShopActions.view ? `freespins-item--${content.freespinsShopActions.view}` : "")
    .freespins-item__copy-tooltip(class=content.freespinsShopActions.copyToClipboardTooltipId && freespinShopItem.id && content.freespinsShopActions.copyToClipboardTooltipId === freespinShopItem.id.toNumber() ? 'freespins-item__copy-tooltip--active': '')=content.t('url-was-copied')
    .freespins-item__share(onClick=()=>content.freespinsShopActions.onShareClick(freespinShopItem.id))
      img(src="/images/icons/share-outline.svg" title=content.t('ui-copy'))
    .freespins-item__in-stock
      img.freespins-item__in-stock-image(src="/images/freespins-shop/clock-icon.svg")
      .freespins-item__in-stock-title=content.t('freespins-in-stock')
      .freespins-item__in-stock-amount=`${freespinShopItem.quantityLeft} / ${freespinShopItem.initialCount}`
    .freespins-item__game-image
      GameImage(src=freespinShopItem.gameImage lazyLoad=true gameName="" loadingImgHeight=50 freespinShop=true)
      .freespins-item__timeleft=freespinShopItem.timeLeftStringFormattedStripped
      .freespins-item__favorite(
          onClick=freespinShopItem.toggleSelected
      )
          img(src=freespinShopItem.isSelected ? '/images/icons/icon-favorites-filled.svg' : '/images/icons/icon-favorites-empty.svg')
    .freespins-item__wrap-right
      .freespins-item__line
        .freespins-item__line-left
          .freespins-item__sale
            .freespins-item__sale-title=content.t('ui-sale')
            .freespins-item__sale-discount=freespinShopItem.discountString
        .freespins-item__line-center
          .freespins-item__wager
            .freespins-item__wager-multiplier=`×${freespinShopItem.wagerString}`
            .freespins-item__wager-title=content.t('ui-wager')
        .freespins-item__line-right
          .freespins-item__fs-amount=`${freespinShopItem.freeSpin.count.toNumber()}FS`
          .freespins-item__old-price=freespinShopItem.oldPriceFormatted
      .freespins-item__buy-button(class=content.userInfo.guest ? 'freespins-item__buy-button--disabled' : '' onClick=() => content.freespinsShopActions.onOpenModalClick(freespinShopItem))
        .freespins-item__buy-button-text=content.t('freespins-buy-now')
        .freespins-item__price(class=freespinShopItem.priceString.length > 7 ? 'freespins-item__price--small' : '')=freespinShopItem.priceFormatted
      if content.userInfo.guest
        .freespins-item__auth-required=content.t("auth-for-buy")