include ../components/blocks
include ../components/modal
include ../common/loader
include ../common/header

mixin lobby_game_page_content(content)
    section.wrapper.lobby-game-page(className=content.lobbyGameActions.pageClassName)
        if content.lobbyGameActions.isHeaderShown
            +site_header(content)
        section.site-middle.site-wrapper.site-game-lobby
            div.game-lobby-container
                GameScreen(
                    appState=content
                    viewport=content.viewport
                    runningGame=content.runningGameStore.runningGame
                    proportionSize=content.runningGameStore.gameScreenSize
                    iframe=content.runningGameStore.iframe
                    rawHTML=content.runningGameStore.rawHTML
                    height=content.site.fullscreenGameHeight
                    iframeRef=content.site.fullscreenGameRef
                )
                    +loader_with_logo(content)
        if content.lobbyGameActions.footerIsShow
            +site_footer(content)
        +modal(content)
