@import "./theme"
@import "./item-page"
@import "./list-page"

.tournaments-list-active-item.tournaments-tournaments-list-page-defender-of-the-fatherland
    .flipdown.flipdown__theme-wl .rotor, 
    .flipdown.flipdown__theme-wl .rotor-top, 
    .flipdown.flipdown__theme-wl .rotor-leaf-front,
    .flipdown.flipdown__theme-wl .rotor-bottom, 
    .flipdown.flipdown__theme-wl .rotor-leaf-rear
        color: white
        background: #417505
    .flipdown.flipdown__theme-wl .rotor::after
        border-color: rgba(0,0,0,0.2)

.tournaments-main-page-block-defender-of-the-fatherland,
.tournaments-tournament-page-defender-of-the-fatherland
    .flipdown.flipdown__theme-wl .rotor, 
    .flipdown.flipdown__theme-wl .rotor-top, 
    .flipdown.flipdown__theme-wl .rotor-leaf-front,
    .flipdown.flipdown__theme-wl .rotor-bottom, 
    .flipdown.flipdown__theme-wl .rotor-leaf-rear
        color: #427e00
        background: #fff
    .flipdown.flipdown__theme-wl .rotor::after
        border-color: #cccccc
