@import "../../../swatches.sass"
@import "../../../mixin.sass"

.tournaments-page-content
    .tournaments-tournament-page-defender-of-the-fatherland
        h1
            color: #fff
            position: relative
        h2
             color: #427e00
        overflow: hidden
        article
            position: relative
        .tournament-days
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.74)
        .rotor-group
            .rotor-group-heading
                font-size: 14px
                color: rgba(255, 255, 255, 0.88)
        .tournament-article
            .tournament-section-banner
                height: 342px
                @include mobile-xs
                    height: 200px
                figure
                    left: -50px
                    bottom: -4px
                    @include mobile
                        left: -20px
                p
                    color: #7ed321
                    font-size: 16px
        .leaders-header
            background-color: #012b24
            margin-top: 0
            margin-bottom: 0
            padding-top: 30px
        .leaders
            background-color: #012b24

.tournaments-tournament-page-defender-of-the-fatherland, .tournaments-list-active-item.tournaments-tournaments-list-page-defender-of-the-fatherland
    .game-item__img-container
        border-color: #68b612
    .game-item__title
        background: #012b24
