@import "../../../mixin.sass"
@import "../../../swatches.sass"
@import "../mixin.sass"

.tournaments-tournament-page-defender-of-the-fatherland
    background: url('/images/tournaments/defender-of-the-fatherland/background.png'), url('/images/tournaments/defender-of-the-fatherland/list-item-pattern.png') #0c4436
    background-size: contain, auto
    background-repeat: no-repeat, repeat
    article
        .tournament-article
            background-color: transparentize(#0c4436, 0.1)

.tournaments-tournaments-list-page-defender-of-the-fatherland
    &.tournaments-list-active-item
        border: none
    background: url('/images/tournaments/defender-of-the-fatherland/list-item-pattern.png') #0c4436
    .card-body
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27), inset 0 1px 0 0 rgba(255, 255, 255, 0.16)
        background-color: #0c4436
    

.tournaments-main-page-block.tournaments-main-page-block-defender-of-the-fatherland
        background: url('/images/tournaments/defender-of-the-fatherland/main-block/background.png') center / cover no-repeat
        border-color: #3f9726
        @include tablet-max
            background: url('/images/tournaments/defender-of-the-fatherland/main-block/bg.tablet.png') center / cover no-repeat
        @include mobile
            background: url('/images/tournaments/defender-of-the-fatherland/main-block/bg.m.png') center / cover no-repeat


.tournaments-tournaments-list-page-defender-of-the-fatherland .tournaments-list-item-icon
    background: url('/images/tournaments/defender-of-the-fatherland/list-item-background.png?v1') center / cover no-repeat
    width: 300px
    height: 188px
    @include mobile
      width: 180px
      height: auto
    @include mobile-xs
      width: 128px
      height: auto

.tournaments-background-overlay
    @include asset('defender-of-the-fatherland', 'tank-left', 163, 150)
        left: -130px
        top: 37%
        z-index: 5
    @include asset('defender-of-the-fatherland', 'tank-right', 271, 201)
        right: -150px
        top: 650px
        z-index: 5
    @include asset('defender-of-the-fatherland', 'airplane', 247, 86)
        top: 58%
        right: -190px
        z-index: 5
