@import "../../assets/sass/mixin.sass";

.GameScreen {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
}

.GameScreen__background {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  filter: blur(8px) brightness(0.2) opacity(0.8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.GameScreen__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.GameScreen__content iframe {
  position: absolute;
  display: block;
  visibility: visible;
  height: 1px !important;
  width: 1px !important;
  min-width: 100% !important;
  min-height: 100% !important;
}

.sport2-block-container {
  .GameScreen__content iframe {
    @include mobile {
      min-height: none!important;
      height: calc(100vh - 100px)!important;
    }
  }
}

.GameScreen__content--hidden {
  display: none;
}

.GameScreen__content--rawHtml {
  // just in case there will be some specific styles for raw html
}

.GameScreen__content--iframe {
  // just in case there will be some specific styles for iframe
}

.GameScreen {
  object {
    position: absolute;
    z-index: 1;
  }
}

// tomhorn games
.GameScreen-tomhorn {
  iframe {
    border: 0;
  }

  .GameScreen__content object {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
}