html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline
}

body {
    line-height: 1;
    color: #222;
    background: #fff
}

ol, ul {
    list-style: none
}

table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

a img {
    border: none
}

@font-face {
    font-family: 'DINRoundPro';
    src: url("https://%DOMAIN%/l/fruit-cocktail/src/fonts/DINRoundPro-Medi.woff2") format('woff2'), url("https://%DOMAIN%/l/fruit-cocktail/src/fonts/DINRoundPro-Medi.woff") format('woff');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'DINRoundPro';
    src: url("https://%DOMAIN%/l/fruit-cocktail/src/fonts/DINRoundPro-Bold.woff2") format('woff2'), url("https://%DOMAIN%/l/fruit-cocktail/src/fonts/DINRoundPro-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'DS Crystal';
    src: url("https://%DOMAIN%/l/fruit-cocktail/src/fonts/DSCrystal.woff2") format('woff2'), url("https://%DOMAIN%/l/fruit-cocktail/src/fonts/DSCrystal.woff") format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'PF Bague Sans Pro';
    src: url("https://%DOMAIN%/l/fruit-cocktail/src/fonts/PFBagueSansPro-UltraBlack.woff2") format('woff2'), url("https://%DOMAIN%/l/fruit-cocktail/src/fonts/PFBagueSansPro-UltraBlack.woff") format('woff');
    font-weight: 900;
    font-style: normal
}

.logo {
    display: block;
    width: 126px;
}

@media (max-width: 767px) {
    .logo {
        width: 96px
    }
}

.logo__img {
    width: 100%;
    vertical-align: top
}

.payments {
    margin: 30px auto 0;
    max-width: 711px;
}

.payments__row {
    text-align: center;
}

.payments__row_item {
    width: 80px;
    margin: 5px 20px;
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 767px) {
    .payments {
        max-width: 300px;
    }
}

.counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 50px;
    max-width: 350px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
    border: 1px solid #eeee02;
    border-radius: 8px;
    font-family: "DINRoundPro", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #000751;
    -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.75), inset 2px 2px 4px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.75), inset 2px 2px 4px 2px rgba(0, 0, 0, 0.75);
}

@media (max-width: 767px) {
    .counter {
        max-height: 42px;
        font-size: 15px
    }
}

.counter__text {
    opacity: .52
}

.counter__value {
    font-family: "DS Crystal", monospace;
    font-size: 44px;
    color: #eeee02;
    letter-spacing: .05em;
}

@media (max-width: 767px) {
    .counter__value {
        font-size: 35px
    }
}

.button {
    display: inline-block;
    width: 286px;
    height: 62px;
    line-height: 62px;
    vertical-align: middle;
    background-color: #03c203;
    background: -webkit-gradient(linear, left top, right top, from(#03c203), color-stop(50%, #02ff02), to(#03c203));
    background: linear-gradient(to right, #03c203 0%, #02ff02 50%, #03c203 100%);
    font-family: "PF Bague Sans Pro", sans-serif;
    font-size: 34px;
    font-weight: 900;
    font-style: italic;
    color: inherit;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    border-radius: 6px;
    text-shadow: 3px 3px 0 rgba(0, 131, 1, 0.75);
    -webkit-box-shadow: 0 6px 0 #008301, 0 11px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 6px 0 #008301, 0 11px 0 rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.button:hover {
    -webkit-box-shadow: inset 0 0 15px #c1ff03, 0 6px 0 #008301, 0 11px 0 rgba(0, 0, 0, 0.75);
    box-shadow: inset 0 0 15px #c1ff03, 0 6px 0 #008301, 0 11px 0 rgba(0, 0, 0, 0.75)
}

.button:active {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-box-shadow: inset 0 0 15px #c1ff03, 0 2px 0 #008301, 0 7px 0 rgba(0, 0, 0, 0.75);
    box-shadow: inset 0 0 15px #c1ff03, 0 2px 0 #008301, 0 7px 0 rgba(0, 0, 0, 0.75)
}

@media (max-width: 767px) {
    .button {
        width: 200px;
        height: 48px;
        line-height: 48px;
        font-size: 24px;
        text-shadow: 2px 2px 0 rgba(0, 131, 1, 0.75);
        -webkit-box-shadow: 0 4px 0 #008301, 0 9px 0 rgba(0, 0, 0, 0.75);
        box-shadow: 0 4px 0 #008301, 0 9px 0 rgba(0, 0, 0, 0.75)
    }

    .button:hover {
        -webkit-box-shadow: inset 0 0 12px #c1ff03, 0 4px 0 #008301, 0 9px 0 rgba(0, 0, 0, 0.75);
        box-shadow: inset 0 0 12px #c1ff03, 0 4px 0 #008301, 0 9px 0 rgba(0, 0, 0, 0.75)
    }

    .button:active {
        -webkit-transform: translateY(2px);
        -ms-transform: translateY(2px);
        transform: translateY(2px);
        -webkit-box-shadow: inset 0 0 12px #c1ff03, 0 2px 0 #008301, 0 7px 0 rgba(0, 0, 0, 0.75);
        box-shadow: inset 0 0 12px #c1ff03, 0 2px 0 #008301, 0 7px 0 rgba(0, 0, 0, 0.75)
    }
}

.cell {
    width: 106px;
    height: 84px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    background-color: #0808be;
    border: 1px solid #ff0;
    -webkit-box-shadow: inset 2px 2px 0 #000, 2px 2px 0 rgba(0, 0, 0, 0.75);
    box-shadow: inset 2px 2px 0 #000, 2px 2px 0 rgba(0, 0, 0, 0.75);
    border-radius: 4px;
}

@media (max-width: 969px) {
    .cell {
        width: 86px;
        height: 70px
    }
}

@media (max-width: 767px) {
    .cell {
        width: 56px;
        height: 46px;
        padding: 4px
    }
}

.cell_active {
    background-color: #ffffd7
}

.cell__symbol {
    position: relative;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.slot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.slot__col {
    position: relative;
    padding: 0 7px;
    width: 125px;
    height: 145px;
    overflow-y: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#c7c7c7), color-stop(50%, #f8f8f8), to(#c7c7c7));
    background: linear-gradient(to bottom, #c7c7c7 0%, #f8f8f8 50%, #c7c7c7 100%);
    will-change: contents;
}

@media (max-width: 969px) {
    .slot__col {
        width: 100px;
        height: 117px
    }
}

@media (max-width: 767px) {
    .slot__col {
        width: 62px;
        height: 71px
    }
}

.slot__cell {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 145px;
    max-width: 109px;
    background-color: #73797b;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

@media (max-width: 969px) {
    .slot__cell {
        height: 117px;
        max-width: 86px
    }
}

@media (max-width: 767px) {
    .slot__cell {
        height: 71px;
        max-width: 52px
    }
}

.slot__symbol {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 109px;
    height: 109px;
    border: 2px solid #942829;
    background-color: #b6cfff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

@media (max-width: 969px) {
    .slot__symbol {
        width: 86px;
        height: 86px
    }
}

@media (max-width: 767px) {
    .slot__symbol {
        width: 52px;
        height: 52px
    }
}

.game {
    position: relative
}

.game__stat-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%
}

.game__body {
    position: relative;
    margin: 25px auto
}

.game__frame {
    position: relative;
    margin: 0 auto;
    height: 480px;
    width: 946px;
    background: url("../img/game-bg.png") 50% 50% no-repeat;
    background-size: contain
}

.game__frame-line {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.game__frame-line_left, .game__frame-line_right {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.game__frame-line_top, .game__frame-line_bottom {
    width: 720px;
    left: 113px;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.game__frame-line_left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

.game__frame-line_right {
    right: 0
}

.game__frame-line_top {
    top: 6px
}

.game__frame-line_bottom {
    bottom: 6px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.game__cta {
    position: absolute;
    top: 116px;
    left: 0;
    right: 0;
    margin: auto;
    width: 329px;
    text-align: center;
    color: #eeee02;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 5px #ffff97;
}

.game__slot {
    position: absolute;
    left: 0;
    top: 160px;
    right: 0;
    margin: auto;
    padding: 25px 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 408px;
    height: 200px;
    background: url("../img/slot-frame.png") 50% 0 no-repeat;
    background-size: 100% auto
}

.game__button-holder {
    position: absolute;
    left: 0;
    bottom: 65px;
    right: 0;
    margin: auto;
    text-align: center
}

.game__bonus-table {
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    margin: auto;
    max-width: 710px;
    height: 165px
}

.game__bonus-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 136px;
    margin-bottom: 5px;
}

.game__bonus-icon {
    width: 50px;
    display: block;
    margin: 0 auto;
}

.game__bonus-text {
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.game__bonus-text:first-line {
    font-size: 20px
}

@media (max-width: 969px) {
    .game__stat-panel {
        max-width: 740px;
        margin: auto
    }

    .game__frame {
        height: 400px;
        width: 758px
    }

    .game__frame-line_top, .game__frame-line_bottom {
        width: 576px;
        left: 91px
    }

    .game__frame-line_top {
        top: 5px
    }

    .game__frame-line_bottom {
        bottom: 5px
    }

    .game__slot {
        top: 130px;
        width: 324px;
        padding: 19px 12px 0
    }

    .game__cta {
        top: 95px;
        width: 264px
    }

    .game__bonus-table {
        top: 130px;
        max-width: 570px
    }

    .game__bonus-group {
        width: 120px
    }
}

@media (max-width: 767px) {
    .game {
        padding: 50px 0 210px
    }

    .game__body {
        margin: 0 auto
    }

    .game__stat-panel {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        max-width: 312px;
        height: 360px;
        margin: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .game__frame {
        height: 260px;
        width: 312px;
        background-size: 100% 100%
    }

    .game__frame-line_top, .game__frame-line_bottom {
        width: 192px;
        left: 60px;
    }

    .game__frame-line_top > .cell, .game__frame-line_bottom > .cell {
        display: none;
    }

    .game__frame-line_top > .cell:nth-child(1), .game__frame-line_bottom > .cell:nth-child(1), .game__frame-line_top > .cell:nth-child(2), .game__frame-line_bottom > .cell:nth-child(2), .game__frame-line_top > .cell:nth-child(3), .game__frame-line_bottom > .cell:nth-child(3) {
        display: block
    }

    .game__frame-line_top {
        top: 3px
    }

    .game__frame-line_bottom {
        bottom: 3px
    }

    .game__slot {
        top: 80px;
        width: 202px;
        height: 100px;
        padding: 12px 8px 0
    }

    .game__cta {
        top: 60px;
        width: 160px
    }

    .game__button-holder {
        bottom: 40px
    }

    .game__bonus-table {
        top: 320px;
        max-width: 300px
    }
}

.popup {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 40px;
    max-width: 360px;
    min-width: 320px;
    border-radius: 6px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(0, 8, 101, 0.1)), color-stop(50%, rgba(3, 21, 223, 0.1)), color-stop(90%, rgba(0, 8, 101, 0.1))) 50% 0 repeat-y;
    background: linear-gradient(to bottom, rgba(0, 8, 101, 0.1) 10%, rgba(3, 21, 223, 0.1) 50%, rgba(0, 8, 101, 0.1) 90%) 50% 0 repeat-y;
    background-color: #000c9d;
    background-size: 100% 24px;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 767px) {
    .popup {
        padding: 0 20px
    }
}

.popup__head {
    position: relative;
    padding: 60px 0 10px
}

.popup__footer {
    margin-top: 20px;
    padding-bottom: 25px
}

.popup__head_img {
    position: absolute;
    left: 0;
    top: -70px;
    right: 0;
    margin: auto;
    width: 103px;
    height: 117px;
    background-size: contain, 83px 16px !important;
}

.popup__title {
    color: #fff000;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: .15em;
    text-transform: uppercase
}

.popup__digit-text {
    font-family: "DS Crystal", monospace;
    font-size: 60px;
    color: #fcff00
}

.popup__highlight {
    color: #02ff02;
    font-size: 25px;
    font-weight: bold
}

.popup__line {
    max-width: 286px;
    margin: 0 auto;
    border: 1px solid #ff0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.popup__try {
    margin: 15px auto
}

.form {
    margin: auto;
    padding-top: 10px;
    max-width: 286px
}

.form__email {
    margin-bottom: 10px;
    padding: 0 18px;
    width: 100%;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    color: inherit;
    border-radius: 4px;
    border: 1px solid #02ff02;
    font-size: 15px;
    font-weight: 500;
}

.form__email:focus {
    border-color: #ff0;
    color: #ff0
}

.form__link {
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #fff000
}

.fewmodal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.6)
}

.fewmodal__body {
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    max-width: 600px;
    overflow-y: auto
}

.fewmodal__content {
    position: relative;
    margin: auto;
    background-color: #fff
}

.fewmodal__close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(0, 8, 101, 0.1)), color-stop(50%, rgba(3, 21, 223, 0.1)), color-stop(90%, rgba(0, 8, 101, 0.1))) 50% 0 repeat-y;
    background: linear-gradient(to bottom, rgba(0, 8, 101, 0.1) 10%, rgba(3, 21, 223, 0.1) 50%, rgba(0, 8, 101, 0.1) 90%) 50% 0 repeat-y;
    background-size: 100% 70px;
    background-color: #000865;
    font-family: DINRoundPro, sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 969px) {
    .page {
        overflow-x: hidden
    }

    .page__container {
        padding: 10px 0;
    }
}

.page__container {
    padding: 35px 0;
    margin: 0 auto;
    max-width: 946px
}

.page__logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 22px;
    z-index: 1;
    margin: auto;
}

@media (max-width: 969px) {
    .page__logo {
        position: static;
        margin-bottom: 15px
    }
}

.page__sound {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 61px;
    height: 55px;
    border: none;
    background: url("../img/sprite-mute-control.png") 0 0 no-repeat;
    background-size: 100% auto;
    cursor: pointer;
}

@media (max-width: 767px) {
    .page__sound {
        display: none
    }
}

.page__sound_muted {
    background-position: 0 100%
}

.fewmodal {
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 767px) {
    .fewmodal {
        padding: 0
    }
}

.fewmodal__content {
    background-color: transparent
}