@import "../../../mixin"
@import "../../../swatches"

.tournament-layout--header-position-right .tournament-article-header-section .tournament-promo-text
  display: none

.tournament-layout--header-position-right .tournament-promo-text
  margin-left: initial
  margin-right: initial
  text-align: left
  padding-left: 30px
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
  max-width: 540px
  text-transform: uppercase
  @include tablet
    font-size: 24px

.tournaments-page-content .tournament-layout--header-position-right .tournament-article-header h2
  font-weight: bold
  font-size: 16px

.tournament-layout--header-position-right .tournament-prize-pool
  display: inline-flex
  font-size: 45px
  padding: 0
  @include tablet
    margin-top: 25px

.tournament-layout--header-position-right .tournament-article-header-section-content
  text-align: center
  max-width: 420px
  margin-left: auto
  margin-right: auto
  @include tablet
    margin-right: inherit

.tournaments-page-content.tournament-item-page .tournament-layout--header-position-right article .tournament-section-banner
  padding: 0 50px
  margin-top: 10px
  @include tablet
    margin-top: 35px

.tournaments-page-content.tournament-item-page .tournament-layout--header-position-right article .tournament-section-banner header
  @include sizes(20, 17, 15)

.tournaments-page-content.tournament-item-page .tournament-layout--header-position-right article .tournament-section-banner p
  @include sizes(16, 14, 11)
  margin-top: 5px

.tournaments-page-content.tournament-item-page .tournament-layout--header-position-right article .tournament-section-banner header
  padding-top: 0

.tournament-layout--header-position-right .tournament-section-banner .tournament-section-banner-icon
  display: none

.tournaments-page-content .tournament-layout--header-position-right h2
  font-weight: 600
