<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>%SITE_NAME%</title>

    <style type="text/css">
@media only screen and (max-device-width: 658px) {
  body {
    padding: 0 !important;
  }

             .main-title,
              .main-title-link {
                  padding-left: 15px !important;
                  padding-right: 15px !important;
              }

  .main-title {
    margin-bottom: 0 !important;
  }

  .main-table-column-text {
    font-size: 60px !important; display: block !important;
  }

  .btn {
    min-width: auto !important; font-size: 14px !important;
  }

  .main-table-column-image {
    padding: 20px 30px !important;
  }

  .main-title,
.main-title-link {
    font-size: 16px !important;
  }

    .footer {
      padding: 15px !important;
    }

        .main-bg-image {
            margin-top: 0 !important;
        }

               .logo {
                        width: 136px !important;
                    }

                    .main-header-block h3 {
                        font-size: 12px !important;
                    }

                    .main-header-block { width: 100% !important;
                        margin-bottom: 18px !important;
                    }
}
@media only screen and (max-device-width: 480px) {            .footer-text {                font-size: 10px !important;            }    .btn { font-size: 13px !important;  }    } </style>
</head>

<body style="margin: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; height: 100%; padding: 0; background: #243054; width: 100%;">

<!-- HEADER -->
<table class="head-wrap" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; border-spacing: 0; border-collapse: collapse; width: 100%;" width="100%">
    <tr style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;"></td>
        <td class="header container" style="padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; background: no-repeat url('https://%DOMAIN%/images/mail/header-bg-1.png') 0 0 / 100% 100%; -webkit-background-size: 100% 100%; background-size: 100% 100%; display: block; max-width: 658px; margin: 0 auto; clear: both;">

            <div class="content" style="font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 658px; margin: 0 auto; display: block; padding: 15px;">
                <table style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; border-spacing: 0; border-collapse: collapse; width: 100%;" width="100%">
                    <tr style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                            <a href="https://%DOMAIN%?ref=JXpCquWf&p1=follow_up_low_balance&p2=logo" target="_blank" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; color: #feae06; text-decoration: none;">
                                <img class="logo" src="https://%DOMAIN%/images/mail/logo.png" alt="%SITE_NAME%" style="padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 100%; width: 250px; margin: 0 auto; display: block;" width="250">
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

        </td>
        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;"></td>
    </tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; border-spacing: 0; border-collapse: collapse; width: 100%;" width="100%">
    <tr style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;"></td>
        <td class="container" style="padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: block; max-width: 658px; margin: 0 auto; clear: both;">
            <div class="main-container" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; background: #fff;">
                <div class="content main" style="font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; background: #fff; position: relative; max-width: 658px; margin: 0 auto; display: block;">
                    <table style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; border-spacing: 0; border-collapse: collapse; width: 100%;" width="100%">
                        <tr style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                            <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                <!-- Main header -->
                                <div class="main-header-block" style="margin: 0 auto; margin-bottom: 35px; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; margin-left: auto; margin-right: auto; text-align: center; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; background-image: linear-gradient(to bottom, #feae00, #fa7c34); width: 90%;">
                                    <a href="https://%CURRENT_MIRROR%?ref=JXpCquWf&p1=follow_up_low_balance&p2=site-mirror-link" target="_blank" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; color: #feae06; text-decoration: none;">
                                        <h3 style="font-family: 'Arial', 'Helvetica Neue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; margin-bottom: 15px; font-weight: 500; margin: 0; color: #fff; text-transform: uppercase; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); font-size: 18px; padding: 14px; line-height: 1.4; word-break: break-word;">New mirror! https://%CURRENT_MIRROR%/</h3>
                                    </a>
                                </div>
                                <!-- /Main header -->

                                <!-- Main title -->
                                <p class="main-title" style="margin: 0; padding: 0 30px; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; color: #000; text-align: center; margin-top: 2px; font-size: 22px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.25; letter-spacing: normal;">
                                    Hello, this is %SITE_NAME%!
                                    <br style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                    Looks like you haven't been very lucky recently.
                                    But in our casino everyone wins, so we <b style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">return {{ cashback_percent_value }}</b> of the loss to your balance.
                                    <br style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                    Play and enjoy your cashback!
                                </p>
                                <!-- /Main title -->

                                <!-- Main image -->
                                <div class="main-table-container" style="background: #9013fe; margin: 20px 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; position: relative;">
                                    <table class="main-table" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; border-spacing: 0; border-collapse: collapse; position: relative; z-index: 100; width: 100%;" width="100%">
                                        <tr style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                            <td class="main-table-column main-table-column-image" style="margin: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; width: 50%; text-align: left; vertical-align: middle; padding: 30px;" width="50%" align="left" valign="middle">
                                                <img src="https://%DOMAIN%/images/mail/follow_up_low_balance/cashback.png" alt="%SITE_NAME% - cashback, {{ cashback_percent_value }} of the loss to your balance" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 100%;">
                                            </td>
                                            <td class="main-table-column" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; width: 50%; text-align: left; vertical-align: middle;" width="50%" align="left" valign="middle">
                                                <span class="main-table-column-text" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); font-size: 120px; font-weight: bold; color: #fff;">{{ cashback_percent_value }}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- /Main image -->

                                <!-- Main button -->
                                <div class="btn-container" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; text-align: center;">
                                    <a href="https://%DOMAIN%?ref=JXpCquWf&p1=follow_up_low_balance&p2=cashback-btn" target="_blank" class="btn" style="font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: inline-block; color: #ffffff; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 16px; font-weight: bold; margin: 0; padding: 15px 25px; vertical-align: top; background-color: #fa7c34; background-image: linear-gradient(to right, #feae00, #fa7c34); border-radius: 25px; text-align: center; text-transform: uppercase; min-width: 282px;">take cashback</a>
                                </div>
                                <!-- /Main button -->
                            </td>
                        </tr>
                    </table>
                </div>

                <img class="main-bg-image" src="https://%DOMAIN%/images/mail/follow_up_low_balance/main-bg.png" alt="%SITE_NAME% - cashback, {{ cashback_percent_value }} of the loss to your balance" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 100%; margin-top: -35px; position: relative; pointer-events: none;">

            </div>
        </td>
        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;"></td>
    </tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; border-spacing: 0; border-collapse: collapse; width: 100%; clear: both;" width="100%">
    <tr style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;"></td>
        <td class="container" style="padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: block; max-width: 658px; margin: 0 auto; clear: both;">

            <!-- content -->
            <div class="content footer" style="max-width: 658px; margin: 0 auto; display: block; padding: 26px 30px; margin-top: -2px; font-family: sans-serif; background-color: #1d2640; color: #8e929f; text-align: center;">
                <div class="footer-text-block" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                    <p class="footer-text footer-text-telegram footer-text-primary" style="padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; font-weight: normal; margin: 0; color: #ffffff; font-size: 12px; line-height: 1.3; margin-bottom: 12px; display: inline-block; text-align: left;">
                        <a href="https://t.me/%TELEGRAM_CHANNEL%" target="_blank" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;"><img class="footer-text-icon" src="https://%DOMAIN%/images/mail/icons/telegram.png" alt="%SITE_NAME% - Telegram channel" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 100%; float: left; width: 30px; height: 30px; margin-right: 7px;" width="30" height="30"></a>
                        The most up-to-date mirrors in our
                        <br style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                        telegram channel: <a class="text-underline" href="https://t.me/%TELEGRAM_CHANNEL%" target="_blank" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; color: #feae06; text-decoration: underline;">@%TELEGRAM_CHANNEL%</a>
                    </p>
                </div>


                <p class="footer-text footer-text-access footer-text-primary" style="padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; font-weight: normal; margin: 0; color: #ffffff; font-size: 12px; line-height: 1.3; margin-bottom: 12px;">
                    Access problems?
                    <br style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                    Download <a class="text-underline" href="https://fri-gate.org/" target="_blank" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; color: #feae06; text-decoration: underline;">friGate</a> and stay with us.
                </p>

                <p class="footer-text footer-text-secondary" style="padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; margin-bottom: 10px; font-weight: normal; line-height: 1.6; margin: 0; font-size: 11px;">&copy; %YEAR% %SITE_NAME% — All rights reserved.</p>
            </div>
            <!-- /content -->

        </td>
        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;"></td>
    </tr>
</table>
<!-- /FOOTER -->

</body>
</html>