mixin accept_terms_and_condition(content)
  if content.appSettings.registerForm.ruleApprovalMode === content.enums.registerFormRuleApprovalMode.SINGLE
    +registerFormRuleApprovalSingleMode(content)
  else
    +registerFormRuleApprovalMultipleMode(content)

mixin registerFormRuleApprovalSingleMode(content)
  .form-line.form-line--horizontal.register-rule-form-line
    .form-field
      .checkbox-item
        input(
          id="registerRuleApproval"
          type="checkbox"
          name="registerRuleApproval"
          checked=content.acceptTermsAndConditionsState.termsAccepted
          onChange=content.acceptTermsAndConditionsState.toggleTermsAccepted
        )
        label.form-label(for="registerRuleApproval" dangerouslySetInnerHTML={__html: content.t("ui-registration-rule-and-terms-approval", {age: 18, termLink: content.l("/p/terms-and-conditions")})})

mixin registerFormRuleApprovalMultipleMode(content)
  .form-line.register-rule-form-line
    .form-field.register-rule-form-field
      .checkbox-item
        input(
          type="checkbox"
          name="userOver18AgeOld"
          data-value=content.enums.ageOfTheRegisteredUser.OVER_18_YEARS_OLD
          onChange=content.acceptTermsAndConditionsState.onChangeTermsAge
          checked=content.acceptTermsAndConditionsState.isChecked(content.enums.ageOfTheRegisteredUser.OVER_18_YEARS_OLD)
        )
        label(for="userOver18AgeOld")= content.t("ui-user-over-18-years-old")
      .checkbox-item
        input(
          type="checkbox"
          name="userOver21AgeOld"
          data-value=content.enums.ageOfTheRegisteredUser.OVER_21_YEARS_OLD
          onChange=content.acceptTermsAndConditionsState.onChangeTermsAge
          checked=content.acceptTermsAndConditionsState.isChecked(content.enums.ageOfTheRegisteredUser.OVER_21_YEARS_OLD)
        )
        label(for="userOver21AgeOld")= content.t("ui-user-over-21-years-old")
    .register-rule-form-line-text
      span.accept= content.t("ui-registration-terms-and-conditions-approval") + " "
      a.accept-link(target="_blank" href=content.l("/p/terms-and-conditions"))=content.t("terms-and-conditions-in-instrumental-case")