mixin authorization_type(content, isLogin)
    div.authorization-tab-bar
        +authorization_type_item(
            content,
            content.enums.authorizationType.BY_EMAIL,
            content.t('ui-email'),
            'iconfont-email',
            content.authorizationTypeState.type
        )
        +authorization_type_item(
            content,
            content.enums.authorizationType.BY_PHONE,
            content.t('ui-phone'),
            'iconfont-mobile',
            content.authorizationTypeState.type
        )
        if content.appSettings.registerForm.isOneClickRegistrationEnabled || (isLogin && (content.site.isWlAndWeblimaMode || content.signUpActions.isAnonymousRegistartionEnabled))
            +authorization_type_item(
                content,
                content.enums.authorizationType.BY_LOGIN,
                isLogin ? content.t('ui-login-generated-login') : content.t('ui-one-click'),
                'iconfont-moment',
                content.authorizationTypeState.type
            )
        if !isLogin && content.signUpActions.isAnonymousRegistartionEnabled
            +authorization_type_item(
                content,
                content.enums.authorizationType.ANONYMOUS,
                content.t('ui-anonimous-registration'),
                'iconfont-anonymous',
                content.authorizationTypeState.type
            )

mixin authorization_type_item(content, type, caption, icon, value)
    div.authorization-tab-item(
        data-type=type
        onClick=content.authorizationTypeState.onButtonClick
        className=content.authorizationTypeState.getClassName(type === value)
    )
        span.icon.authorization-tab-item-icon(className=icon)
        div.authorization-tab-item-caption=caption
