mixin confirmation_code_method(content)
    if content.confirmationCodeMethodState.isVoiceEnabled
        .form-line.form-line--confirmation-code-method
            label.form-label= content.t("recieve-confirmation-code-via")
            .radio-group
                if content.confirmationCodeMethodState.isSmsEnabled
                    .radio-item
                        input(type="radio" name="confirmationCodeMethod" id="confirmationCodeMethodSms" value=content.proto.site.ConfirmationMethod.SMS onChange=content.confirmationCodeMethodState.handleChange checked=(content.confirmationCodeMethodState.selectedMethod === content.proto.site.ConfirmationMethod.SMS))
                        label(for="confirmationCodeMethodSms")= content.t("ui-sms")
                if content.confirmationCodeMethodState.isChoiseAvailable
                    span= content.t("ui-or")
                if content.confirmationCodeMethodState.isVoiceEnabled
                    .radio-item
                        input(type="radio" name="confirmationCodeMethod" id="confirmationCodeMethodCall" value=content.proto.site.ConfirmationMethod.VOICE onChange=content.confirmationCodeMethodState.handleChange checked=(content.confirmationCodeMethodState.selectedMethod === content.proto.site.ConfirmationMethod.VOICE))
                        label(for="confirmationCodeMethodCall")= content.t("ui-call")