mixin currency_select(content, opt_onChange, isOnlyCryptoCurrency)
    .form-line.form-line--horizontal
        label.form-label=content.t("ui-registration-choose-currency")
        .form-field.custom-select
            select(
                value=content.currencySelectState.value
                disabled=content.currencySelectState.disabled
                onChange=(opt_onChange || content.currencySelectState.onValueChange)
            )
                if isOnlyCryptoCurrency
                    each currency in content.currencySelectState.cryptoOptions
                        option(key=currency.id value=currency.id)= currency.code
                else
                    each currency in content.currencySelectState.options
                        option(key=currency.id value=currency.id)= currency.code

        if content.currencySelectState.error
            div.error= content.t(content.currencySelectState.error)