mixin email_input(content, opt_onChange)
    .form-line
        label.form-label= content.t("ui-registration-enter-email")
        .form-field
            input(
                type="text"
                placeholder=content.t("ui-login-enter-email")
                autoComplete="user-email"
                spellCheck="false"
                disabled=content.emailInputState.disabled
                value=content.emailInputState.value
                onChange=(opt_onChange || content.emailInputState.onValueChange)
            )
        if content.emailInputState.error
            div.error= content.t(content.emailInputState.error)