mixin game_page_close(content)
    if content.isMobile && !!content.appSettings.games.openGameInTheSameTabOnMobile && !content.appSettings.games.doNotShowGameCloseButtonOnMobile
        a.block-game__close-button(href=content.games.prevPageUrl external="true")
            span.icon.icon-close