mixin login_input(content, opt_onChange)
    .form-line
        label.form-label= content.t("ui-login-generated-login")
        .form-field
            input(
                value=content.loginInputState.value
                placeholder=content.t('ui-login-enter-generated-login')
                spellCheck="false"
                type=content.loginInputState.inputType
                minLength=content.loginInputState.minLength
                maxLength=content.loginInputState.maxLength
                pattern=content.loginInputState.pattern
                autoComplete='login-password'
                disabled=content.loginInputState.disabled
                onChange=(content.loginInputState.onValueChange || opt_onChange)
            )
        if content.loginInputState.error
            div.error= content.t(content.loginInputState.error)