mixin password_input(content, showForgotPassword, opt_onChange)
    .form-line
        label.form-label.with-link= content.t("ui-password")
            if showForgotPassword
                a.forgot-password(href=content.l("/reset-password") tabIndex=-1 onClick=content.user.resetPassword)= content.t("ui-login-forgot-password")
        .form-field
            input(
                type="password"
                placeholder=content.t("ui-login-enter-password")
                autoComplete="user-password"
                spellCheck="false"
                disabled=content.passwordInputState.disabled
                minLength=content.passwordInputState.minLength
                maxLength=content.passwordInputState.maxLength
                value=content.passwordInputState.value
                pattern=content.passwordInputState.pattern
                onChange=(opt_onChange || content.passwordInputState.onValueChange)
            )
        if content.passwordInputState.error
            div.error= content.t(content.passwordInputState.error)