mixin phone_input(content, opt_onCountryCodeChange, opt_onPhoneNumberChange)
    .form-line
        label.form-label= content.t("ui-phone-number")
        .form-field
            .phone
                .custom-select
                    select.form-control(
                        value=content.phoneInputState.countryCode
                        disabled=content.phoneInputState.disabled
                        onChange=(opt_onCountryCodeChange || content.phoneInputState.onChangeCountryCode)
                    )
                        each option in content.phoneInputState.phoneCodeOptions
                            option(key=option.value value=option.value, disabled=option.disabled)=content.t(option.caption)
                input.phone-input(
                    value=content.phoneInputState.phoneNumber
                    type="tel"
                    placeholder=content.t('ui-login-enter-phone')
                    autoComplete="username-phone"
                    pattern="[0-9]*"
                    spellCheck="false"
                    onChange=(opt_onPhoneNumberChange || content.phoneInputState.onPhoneNumberChange)
                )
        if content.phoneInputState.error
            div.error= content.t(content.phoneInputState.error)