mixin registration_bonuses(content)
    .registration-bonuses
        .registration-bonuses-title=content.t('ui-get-your-bonuses-now')
        .registration-bonuses-list
            +registration_bonuses_item(content, '/images/bonuses/present.png', content.t('ui-first-refill-bonus-title'))
            +registration_bonuses_item(content, '/images/bonuses/money.png', content.t('ui-following-refill-bonus-title'))
            +registration_bonuses_item(content, '/images/bonuses/percent-25.png', content.t('ui-weekly-cashback-bonus', {value: '25%'}))
        .registration-bonuses-note=content.t('ui-cancel-bonus-any-moment')


mixin registration_bonuses_item(content, image, title)
    .registration-bonuses-item
        .registration-bonuses-item-image
            img(src=image, alt=title)
        .registration-bonuses-item-title=title
