mixin sign_up_button(content, customTitle)
    .submit-line
        button.btn.btn-pr.modal-authorization-v2__sign-up-button(
            onClick=content.signUpActions.onSignUpButtonClick
            className=content.signUpActions.isLoading ? "btn--loading" : undefined
        )=customTitle ? customTitle : content.t("ui-register")