mixin sign_in_button(content)
    .submit-line
        button.btn.btn-pr(
            onClick=content.signInActions.onSignInButtonClick
            className=content.signInActions.isLoading ? "btn--loading" : undefined
        )=content.t("ui-login-button")