mixin fb_login_btn(content)
  .btn-social-login-container
    .btn-social-login(className=content.social.signInLoading ? 'loading' : '' onClick=content.social.loginViaFb disabled=content.loginForm.loading)
        if !content.social.signInLoading
          img(src="/images/icon-fb.svg")
          span=content.t("ui-login-fb")
        
