<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>%SITE_NAME%</title>

    <style type="text/css">
        @media only screen and (max-device-width: 658px) {
            .body-container {
                        margin: 0 3px !important;
                border-radius: 13px !important;
            }

            .body-container-content {
                border-radius: 12px !important;
                border: 1px solid #ce7613 !important;
            }

            body {
                padding: 0 !important;
            }

            .header .content {
                padding-top: 5px !important;
            }

            .main-title {
                margin-top: 15px !important;
                margin-bottom: 10px !important;
            }

            .main-title,
            .main-title-link {
                padding-left: 15px !important;
                padding-right: 15px !important;
            }

            .main-tape-block h3 {
                font-size: 18px !important;
            }

            .main-tape-block {
                margin-left: 0 !important;
                margin-right: 0 !important;
                margin-bottom: 24px !important;
            }

            .btn {
                min-width: 200px !important;
                font-size: 16px !important;
            }

            .main-title,
            .main-title-link {
                font-size: 14px !important;
            }

            .main.content {
                padding-bottom: 0 !important;
            }

            .logo {
                width: 163px !important;
                margin-bottom: 5px !important;
            }

            .main-header-block h3 {
                font-size: 12px !important;
            }

            .header-image {
                display: none !important;
            }

            .footer-container {
                margin-top: 24px !important;
            }

            .footer {
                padding: 15px !important;
                border-bottom-right-radius: 12px !important;
                border-bottom-left-radius: 12px !important;
            }
        }
        @media only screen and (max-device-width: 480px) {
            .footer-text {
                font-size: 10px !important;
            }

            .btn {
                min-width: auto !important;
                width: 90% !important;
            }
        }
    </style>
</head>

<body style="margin: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; height: 100%; padding: 0; background: #08182f; width: 100%;">

<!-- HEADER -->
<table class="head-wrap" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; border-spacing: 0; border-collapse: collapse; width: 100%;" width="100%">
    <tr style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;"></td>
        <td class="header container" style="padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: block; max-width: 658px; margin: 0 auto; clear: both;">

            <div class="content" style="font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 658px; margin: 0 auto; display: block; padding: 15px 15px 0 15px;">
                <table style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; border-spacing: 0; border-collapse: collapse; width: 100%;" width="100%">
                    <tr style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                            <a href="https://%DOMAIN%?ref=9IFrvHlA&p1=new_mirror&p2=logo" target="_blank" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; color: #feae06; text-decoration: none;">
                                <img class="logo" src="https://%DOMAIN%/images/mail/logo.png" alt="%SITE_NAME%" style="padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 100%; width: 250px; margin: 0 auto; display: block;" width="250">
                            </a>
                            <a href="https://%DOMAIN%?ref=9IFrvHlA&p1=new_mirror&p2=header-image" target="_blank" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; color: #feae06; text-decoration: none;">
                                <div class="header-image" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 60%; margin-left: auto; margin-right: auto;">
                                    <img src="https://%DOMAIN%/images/mail/new_mirror/header-image.png" alt="%SITE_NAME%" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 100%;">
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

        </td>
        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;"></td>
    </tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; border-spacing: 0; border-collapse: collapse; width: 100%;" width="100%">
    <tr style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;"></td>
        <td class="container" style="padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: block; max-width: 658px; margin: 0 auto; clear: both;">
            <div class="body-container" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; border: 1px solid #ffed0e; border-radius: 25px;">
                <div class="body-container-content" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; border: 3px solid #ce7613; border-radius: 24px; background: #022e4f;">
                    <div class="main-container" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; background: #022e4f; border-top-left-radius: 24px; border-top-right-radius: 24px;">
                        <div class="content main" style="padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; position: relative; max-width: 658px; margin: 0 auto; display: block; padding-bottom: 30px;">
                            <table style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; border-spacing: 0; border-collapse: collapse; width: 100%;" width="100%">
                                <tr style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                    <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                        <!-- Main title -->
                                        <p class="main-title" style="margin: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; color: #fff; text-align: center; margin-top: 40px; margin-bottom: 45px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); font-size: 20px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.25; letter-spacing: normal; padding: 0 30px;">
                                            Our new mirror:
                                        </p>
                                        <!-- /Main title -->

                                        <!-- Main header -->
                                        <a class="main-tape-block" href="https://%DOMAIN%?ref=9IFrvHlA&p1=new_mirror&p2=site-mirror-link" target="_blank" style="margin: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; text-align: center; padding: 27px 10px; background: no-repeat url(https://%DOMAIN%/images/mail/new_mirror/tape.png) 0 0 #ffce01; margin-bottom: 60px; margin-right: 30px; margin-left: 30px; color: #000; text-decoration: underline; display: block;">
                                            <h3 style="margin: 0; padding: 0; font-family: 'Arial', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 500; text-align: center; margin-bottom: 0; font-size: 22px; line-height: 1.25; color: #000000; text-transform: uppercase;">%DOMAIN%</h3>
                                        </a>
                                        <!-- /Main header -->

                                        <!-- Main button -->
                                        <div class="btn-container" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; text-align: center;">
                                            <a href="https://%DOMAIN%?ref=9IFrvHlA&p1=new_mirror&p2=link-btn" target="_blank" class="btn" style="font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; display: inline-block; color: #ffffff; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 16px; font-weight: bold; margin: 0; padding: 15px 25px; vertical-align: top; background-color: #feae00; box-shadow: 0 3px 0 0 #00101c; background-image: linear-gradient(to bottom, #feae00, #ff5d00 100%); border-radius: 25px; text-align: center; text-transform: uppercase; min-width: 282px; text-shadow: 0 2px 2px #d14d00;">follow</a>
                                        </div>
                                        <!-- /Main button -->
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="footer-container" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; border-bottom-left-radius: 24px; border-bottom-right-radius: 24px; margin-top: 34px;">
                        <div class="content footer" style="padding: 26px 30px; font-family: sans-serif; background-color: #00223b; color: #8e929f; text-align: center; border-bottom-left-radius: 24px; border-bottom-right-radius: 24px; max-width: 658px; margin: 0 auto; display: block;">
                            <div class="footer-text-block" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                <p class="footer-text footer-text-telegram footer-text-primary" style="padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; font-weight: normal; margin: 0; color: #ffffff; font-size: 12px; line-height: 1.3; margin-bottom: 12px; display: inline-block; text-align: left;">
                                    <a href="https://t.me/%TELEGRAM_CHANNEL%" target="_blank" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;"><img class="footer-text-icon" src="https://%DOMAIN%/images/mail/icons/telegram.png" alt="%SITE_NAME% - Telegram channel" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; max-width: 100%; float: left; width: 30px; height: 30px; margin-right: 7px;" width="30" height="30"></a>
                                    The most up-to-date mirrors in our
                                    <br style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                    telegram channel: <a class="text-underline" href="https://t.me/%TELEGRAM_CHANNEL%" target="_blank" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; color: #feae06; text-decoration: underline;">@%TELEGRAM_CHANNEL%</a>
                                </p>
                            </div>

                            <p class="footer-text footer-text-access footer-text-primary" style="padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; font-weight: normal; margin: 0; color: #ffffff; font-size: 12px; line-height: 1.3; margin-bottom: 12px;">
                                Access problems?
                                <br style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;">
                                Download <a class="text-underline" href="https://fri-gate.org/" target="_blank" style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; color: #feae06; text-decoration: underline;">friGate</a> and stay with us.
                            </p>

                            <p class="footer-text footer-text-secondary" style="padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif; margin-bottom: 10px; font-weight: normal; line-height: 1.6; margin: 0; font-size: 11px;">&copy; %YEAR% %SITE_NAME% — All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td style="margin: 0; padding: 0; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;"></td>
    </tr>
</table><!-- /BODY -->

</body>
</html>