include ../phone
include ../form-fields
include ../../controls/accept-terms-and-conditions
include ../../controls/social-fb-login-button
include ../../controls/confirmation-code-method

mixin modal_registration_confirm_email_content(content)
	.modal-form.tab-pane.active
		.submit-line
			p= content.t("ui-confirmation-email-sent")
			button.btn-pr(onClick=content.user.hideAuth)= content.t("ui-close")

mixin modal_authorized_confirmation(content)
	.modal.sm.in.confirm
		.modal-dialog
			.modal-content
				a.modal-close(href="#", onClick=content.user.hideAuth)
					span.icon.icon-close
				.modal-title= content.t("ui-confirmation-title")
				.modal-form
					if content.userInfo.email && !content.userInfo.emailConfirmed && (!content.confirmForm.forcePhone || !content.userInfo.phone)
						.form-line
							div= content.t("ui-confirmation-email-info")
						if content.confirmEmailSentForm.sent
							.form-line
								div= content.t("ui-confirmation-email-sent")
						else
							.submit-line
								button.btn-pr(onClick=content.user.tryResendEmailConfirmation)= content.t("ui-confirmation-email-send")
					else if content.userInfo.phone && !content.userInfo.phoneConfirmed && (!content.confirmForm.forceEmail || !content.userInfo.email)
						if content.confirmForm.success
							.form-line
								div= content.t("ui-confirmation-success")
						else
							.form-line
								label.form-label= content.t("ui-confirmation-phone-code")
								.form-field
									input(type="text" ref=content.makeRef("confirmCode"))
								if content.confirmForm.codeError
									div.error= content.confirmForm.codeError
							.submit-line
								button.btn-pr(onClick=content.user.tryConfirmPhoneRegistration)= content.t("ui-confirmation-phone-confirm")
							if content.confirmForm.error
								div.error= content.confirmForm.error
							if content.confirmForm.canResend
								.form-line
									.resend-msg
										a(href="#" onClick=content.user.tryResendPhoneConfirmation(content.userInfo.phone))= content.t("ui-confirmation-phone-resend-button")

mixin modal_registration_confirm_email_form(content)
	.modal.sm.in
		.modal-dialog
			.modal-content
				.modal-title= content.t("ui-confirm-email-title")
				.modal-form.tab-pane.active
					form
						.form-line
							label.form-label= content.t("ui-email")
							.form-field
								input(type="email" value=content.confirmEmailForm.email disabled)
							if content.confirmEmailForm.emailError
								div.error= content.confirmEmailForm.emailError
						.form-line
							.form-field
								input(type="hidden" value=content.confirmEmailForm.code onChange=content.user.changeConfirmEmailCode)
							if content.confirmEmailForm.codeError
								div.error= content.confirmEmailForm.codeError
						.submit-line
							input.btn-pr(type="submit" onClick=content.user.tryConfirmEmail disabled=content.confirmEmailForm.loading value=content.t("ui-confirm-email-button"))
						if content.confirmEmailForm.error
							div.error= content.confirmEmailForm.error

mixin modal_registration_restore_by_email_form(content)
	.modal.sm.in.mobile-dialog.registration-restore-by-email
		.modal-dialog
			.modal-content
				.modal-title= content.t("ui-restore-password-title")
				.modal-form.active
					if content.confirmRestorePasswordByMailForm.success
						.form-line
							.form-line.sent-msg= content.t("ui-restore-password-changed")
						.submit-line
							button.btn-pr(onClick=content.user.closeRestoreDialog)= content.t("ui-restore-password-close")
					else
						.form-line
							label.form-label= content.t("ui-restore-password-new")
							if content.confirmRestorePasswordByMailForm.passwordError
								div.error= content.confirmRestorePasswordByMailForm.passwordError
							.form-field
								input.first-input(type="password" onKeyDown=content.user.preventPasswordInput ref=content.makeRef("newPassword") placeholder=content.t("ui-restore-password-new-password"))
								input.second-input(type="password" onKeyDown=content.user.preventPasswordInput ref=content.makeRef("verifyNewPassword") placeholder=content.t("ui-restore-password-new-password-verify"))
						.submit-line
							button.btn-pr(onClick=content.user.tryConfirmRestorePassword disabled=content.confirmRestorePasswordByMailForm.loading)= content.t("ui-restore-password-change")
						if content.confirmRestorePasswordByMailForm.error
							div.error= content.confirmRestorePasswordByMailForm.error

mixin modal_registration_confirm_phone_content(content)
	.modal-form.tab-pane.active.confirm
		form
			if content.confirmForm.success
				div= content.t("ui-restore-password-success")
				button.btn-pr(onClick=content.user.hideAuth)= content.t("ui-confirmation-phone-confirmed-close-button")
			else
				strong.form-line= content.appSettings.registerForm.formVersion === 'v2' ? content.phoneInputState.fullPhone : content.registerForm.phoneCode + content.registerForm.phone
				.form-line.sent-msg=(content.confirmationCodeMethodState.selectedMethod === content.proto.site.ConfirmationMethod.VOICE) ? content.t("confirmation-call-started") : content.t("ui-confirmation-phone-sent")
				.form-line
					label.form-label= content.t("ui-confirmation-phone-code")
					.form-field
						input(type="text" ref=content.makeRef("confirmCode") placeholder=content.t("ui-login-enter-phone-code"))
					if content.confirmForm.codeError
						div.error= content.confirmForm.codeError
				.submit-line
					button.btn-pr(onClick=content.user.tryConfirmPhoneRegistration disabled=content.confirmForm.loading)= content.t("ui-confirmation-phone-confirm-button")
				if content.confirmForm.error
					div.error= content.confirmForm.error
				if content.confirmForm.canResend
					.form-line
						div.resend-msg(ref=content.makeRef("confirmResend"))
							if content.confirmForm.timeLeft === 0
								a(href="#" onClick=content.user.tryResendPhoneConfirmation(content.registerForm.phoneCode + content.registerForm.phone))= content.t("ui-confirmation-phone-resend-button")
							else
								span.resend-msg__timer= content.confirmForm.timeLeftFormatted


mixin modal_registration_first_step_content(content)
	form
		.modal-form.tab-pane.active#registration
			.form-line.sided
				label.form-label.choose-type= content.t("ui-registration-type")
				.radio-group
					.radio-item
						input(type="radio" name="loginType" id="registerEmail" value="email" onChange=content.user.setLoginType checked=content.loginType === "email")
						label(for="registerEmail")= content.t("ui-email")
					span= content.t("ui-or")
					.radio-item
						input(type="radio" name="loginType" id="registerPhone" value="phone" onChange=content.user.setLoginType checked=content.loginType === "phone")
						label(for="registerPhone")= content.t("ui-phone")
			if content.loginType === "phone"
				.form-line
					label.form-label= content.t("ui-registration-enter-phone")
					.form-field
						+phone(content, undefined, undefined, "registerCountryCode", "registerPhone", content.t("ui-login-enter-phone"))
					if content.registerForm.phoneError
						div.error= content.registerForm.phoneError
			if content.loginType === "email"
				.form-line
					label.form-label= content.t("ui-registration-enter-email")
					.form-field
						input(type="text" ref=content.makeRef("registerEmail") name="email" placeholder=content.t("ui-login-enter-email"))
					if content.registerForm.emailError
						div.error= content.registerForm.emailError
			.form-line
				label.form-label= content.t("ui-registration-enter-password")
				.form-field
					input(type="password" onKeyDown=content.user.preventPasswordInput ref=content.makeRef("registerPassword") placeholder=content.t("ui-login-enter-password") )
				if content.registerForm.passwordError
					div.error= content.registerForm.passwordError
			.form-line.form-line--horizontal
				label.form-label= content.t("ui-registration-choose-currency")
				if content.registerForm.currencyError
					div.error= content.registerForm.currencyError
				.form-field.custom-select
					select(ref=content.makeRef("registerCurrency") defaultValue=content.currencies.getDefaultCurrencyId())
						each currency in content.currencies.getSupportedRegistrationCurrencies()
							option(key=currency.id value=currency.id)= currency.code
			if content.refillStore.promoCodeForm.isShownInRegisterForm
					+bonuses_promo_code(content)
			if content.appSettings.registerForm.ruleApprovalMode === content.enums.registerFormRuleApprovalMode.SINGLE
				+accept_terms_and_condition(content)
			if content.loginType === "phone"
				+confirmation_code_method(content)
			.submit-line
				if content.site.hasRequiredUserFields
					input.btn-pr(type="button" onClick=content.user.showRegistrationSecondStep disabled=content.registerForm.loading value=content.t("ui-registration-button"))
				else
					input.btn-pr(type="submit" onClick=content.user.tryRegister disabled = content.registerForm.loading value = content.t("ui-registration-button"))
				if content.registerForm.error
					div.error= content.registerForm.error

mixin modal_registration_second_step(content)
	.modal.sm.in#registration-second-step
		.modal-dialog
			.modal-content
				a.modal-close(href="#", onClick=content.user.hideAuthWithoutRedirect)
					span.icon.icon-close
				.modal-title= content.t("ui-mandatory-registration-title")
				.form-wrapper
					form
						.modal-form
							each field in content.siteConfig.userFields
								if field.name === "gender"
									+gemder_form_field(content, content.registerForm.userFields.gender, content.t("ui-" + field.name), content.siteConfig.userFields.indexOf(field) + 1, field.name, field.required, content.user.setRegisterFormGender, content.registerForm.userFieldsError[field.name])
								else if field.type === "datetime"
									+datetime_form_field(content, undefined, content.t("ui-" + field.name), content.siteConfig.userFields.indexOf(field) + 1, field.name, field.required, undefined, content.registerForm.userFieldsError[field.name])
								else
									+text_form_field(content, undefined, content.t("ui-" + field.name), content.siteConfig.userFields.indexOf(field) + 1, field.name, field.required, undefined, content.registerForm.userFieldsError[field.name])
							.submit-line
								input.btn-pr(type="submit" tabIndex=content.siteConfig.userFields.length + 1 onClick=content.user.tryRegister disabled=content.registerForm.loading value=content.t("ui-registration-button"))
							if content.registerForm.getSecondStepError()
								div.error= content.registerForm.getSecondStepError()

mixin modal_login_content(content)
	form(id=content.loginType === "phone" ? "login-form-phone": "login-form-email" name=content.loginType === "phone" ? "login-form-phone" : "login-form-email")
		.modal-form.tab-pane.active#login
			.form-line.sided
				label.form-label.choose-type= content.t("ui-login-type")
				.radio-group
					.radio-item
						input(type="radio" name="loginType" id="loginEmail" value="email" onChange=content.user.setLoginType checked=content.loginType === "email")
						label(for="loginEmail")= content.t("ui-email")
					.radio-item
						input(type="radio" name="loginType" id="loginPhone" value="phone" onChange=content.user.setLoginType checked=content.loginType === "phone")
						label(for="loginPhone")= content.t("ui-phone")
			if content.loginType === "phone"
				.form-line
					label.form-label= content.t("ui-phone")
					.form-field(tabIndex="1")
						+phone(content, undefined, undefined, "loginCountry", "loginPhone", content.t("ui-login-enter-phone"))
					if content.loginForm.phoneError
						div.error= content.loginForm.phoneError
			if content.loginType === "email"
				.form-line
					label.form-label= content.t("ui-email")
					.form-field(tabIndex="1")
						input(type="text" ref=content.makeRef("loginEmail") id="username-email" name="username-email" autoComplete="username-email" spellCheck="false" placeholder=content.t("ui-login-enter-email") )
					if content.loginForm.emailError
						div.error= content.loginForm.emailError
			.form-line
				label.form-label.with-link= content.t("ui-password")
					a.forgot-password(tabIndex="4" href=content.l("/reset-password") onClick=content.user.resetPassword)= content.t("ui-login-forgot-password")
				.form-field(tabIndex="2")
					input(type="password" onKeyDown=content.user.preventPasswordInput ref=content.makeRef("loginPassword") name="password" autoComplete="username-password" placeholder=content.t("ui-login-enter-password") )
				if content.loginForm.passwordError
					div.error= content.loginForm.passwordError
			if content.refillStore.promoCodeForm.isShownInRegisterForm
					+bonuses_promo_code(content)
			.submit-line
				input.btn-pr(type="submit" tabIndex="3" onClick=content.user.tryLogin disabled=content.loginForm.loading value=content.t("ui-login-button"))
				if (content.social.fbProviderIsActive)
						+fb_login_btn(content)
			if content.loginForm.loginError
				div.error= content.loginForm.loginError

mixin signin_by_generated_login_content(content)
	.modal-form
		form(id="generated-login-form" name="generated-login-form")
			.form-line
				label.form-label= content.t("ui-login-generated-login")
				.form-field(tabIndex="1")
					input(type="text" ref=content.makeRef("generatedLogin") id="generated-login" name="generated-login" placeholder=content.t("ui-login-enter-generated-login") autoComplete="username-email" spellCheck="false")
				if content.loginForm.generatedLoginError
					div.error= content.loginForm.generatedLoginError
			.form-line
				label.form-label.with-link= content.t("ui-login-generated-password")
				.form-field(tabIndex="2")
					input(type="password" onKeyDown=content.user.preventPasswordInput ref=content.makeRef("loginPassword") name="password" placeholder=content.t("ui-login-enter-password") autoComplete="username-password")
				if content.loginForm.passwordError
					div.error= content.loginForm.passwordError
			.submit-line
				input.btn-pr(type="submit" tabIndex="3" onClick=content.user.tryLoginUsingGeneratedLogin disabled=content.loginForm.loading value=content.t("ui-login-button"))
			if content.loginForm.loginError
				div.error= content.loginForm.loginError

mixin modal_reset_content(content)
	.modal-form
		form
			if content.restoreForm.restored
				.form-line.sent-msg= content.t("ui-restore-password-changed")
				.submit-line
					button.btn-pr(onClick=content.user.hideAuth)= content.t("ui-restore-password-close")
			else if content.restoreForm.success
				if content.loginType === "phone"
					.form-line
						label.form-label= content.t("ui-restore-password-phone-code")
						.form-field
							input(type="text" value=content.restoreForm.code onChange=content.user.changeRestoreFormCode name="confirmation_code" placeholder=content.t("ui-login-enter-phone-code"))
						if content.restoreForm.codeError
							div.error= content.restoreForm.codeError
					.form-line
						label.form-label= content.t("ui-restore-password-new-password")
						.form-field
							input(type="password" onKeyDown=content.user.preventPasswordInput value=content.restoreForm.newPassword onChange=content.user.changeRestoreFormNewPassword name="new_password" autoComplete="new-password" placeholder=content.t("ui-login-enter-password") )
						if content.restoreForm.passwordError
							div.error= content.restoreForm.passwordError
					.submit-line
						button.btn-pr(onClick=content.user.tryConfirmRestoreByPhone disabled=content.restoreForm.loading)= content.t("ui-restore-password-change")
					if content.restoreForm.error
						div.error= content.restoreForm.error
				else
					.form-line= content.t("ui-restore-password-email-sent")
					.submit-line
						button.btn-pr(onClick=content.user.hideAuthWithoutRedirect)= content.t("ui-restore-password-email-sent-close")
			else
				.form-line.sided
					label.form-label
					.radio-group
						.radio-item
							input(type="radio" name="loginType" id="loginEmail" value="email" onChange=content.user.setLoginType checked=content.loginType === "email")
							label(for="loginEmail")= content.t("ui-email")
						.radio-item
							input(type="radio" name="loginType" id="loginPhone" value="phone" onChange=content.user.setLoginType checked=content.loginType === "phone")
							label(for="loginPhone")= content.t("ui-phone")
				if content.loginType === "phone"
					.form-line
						label.form-label= content.t("ui-enter-phone")
						.form-field
							+phone(content, undefined, undefined, "restoreCountryCode", "restorePhone", content.t("ui-login-enter-phone"))
						if content.restoreForm.phoneError
							div.error= content.restoreForm.phoneError
				if content.loginType === "email"
					.form-line
						label.form-label= content.t("ui-enter-email")
						.form-field
							input(type="text" ref=content.makeRef("restoreEmail") name="email" placeholder=content.t("ui-login-enter-email"))
						if content.restoreForm.emailError
							div.error= content.restoreForm.emailError
				if content.restoreForm.error
					div.error= content.restoreForm.error
				.submit-line.submit-line--inline
					a.btn-pr.btn--secondary.btn-restoreForm-restore(onClick=content.user.restoreBack href=content.l("/login"))= content.t("ui-back")
					button.btn-pr.btn-restoreForm-back(onClick=content.user.tryResetPassword disabled=content.restoreForm.loading)= content.t("ui-restore-password-request-button")
