include ../../common/loader
include ../profile/profile-bonus-balances

mixin user_widget(content)
	.block-user
		.user-info
			.user-name= content.userInfo.login
			if content.userInfo.showLoginBM
				.user-name= content.userInfo.loginBM

mixin bonus_balances_info(content)
	.bonus-balances-info(
		onClick=content.userBonusesStore.toggleBonusBalanceInfo, 
		className=content.userBonusesStore.isBonusBalanceInfoVisible ? "opened" : ""
	)="i"
		if content.userBonusesStore.isBonusBalanceInfoVisible
			.bonus-balances-info__popup
				.bonus-balances-info__blocks
					if content.userBonusesStore.isBonusBalanceLoading
						.bonus-balances-info__loader
							+loader
					else
						each bonus in content.userBonusesStore.bonusBalancesInPopup
							+profile_bonus_balance(content, bonus)
	