@import "../../mixin.sass"
@import "../../swatches.sass"

@import "./themes"
@import "./promo-block"

@import "./golden-fever/index"
@import "./new-year/index"
@import "./keno/index"
@import "./xmas/index"
@import "./battle-of-slots/index"
@import "./egypt-treasures/index"
@import "./love-day/index"
@import "./defender-of-the-fatherland/index"
@import "./woman-day/index"
@import "./vacation/index"
@import "./gold-rush/index"
@import "./weekly/index"

@import "./list-page"
@import "./item-page"
@import "./main-page-block"
@import "./prize-pool"
@import "./filter"
@import "./layouts/header-position-right"

.tournaments-page-content
  max-width: 800px
  width: calc(100% - 16px)
  margin: 0 auto
  padding-top: 44px
  text-align: center
  box-sizing: border-box
  min-height: $loader-height + $page-loader-external-offset
  @include mobile
    padding: 0 8px
    padding-top: 22px
    width: 100%
  h1, h2
    text-transform: uppercase
    color: $yellow
  h1
    text-shadow: 0 2px 2px rgba(0,0,0,0.5)
    font-size: 36px
    @include mobile
      font-size: 1.4rem
  h2
    font-weight: lighter

.tournaments-leaders .leader-item,
.tournaments-winners .winner-item
  font-weight: 500
  margin: 5px 50px
  display: inline-flex
  justify-content: space-between
  .index
    opacity: 0.5
    margin-right: 3px
  .name
    text-overflow: ellipsis
    overflow: hidden
    text-align: start
    flex: 1
    white-space: nowrap
    padding-right: 0.8em
  .amount
    color: $yellow

.tournament-article-rules
  padding-bottom: 5px

.tournament-article-leaders-icon
  display: none
