@import "../../swatches.sass"
@import "../../mixin.sass"
@import "./mixin.sass"

.tournaments-page-content.tournament-item-page h1
  margin: 0
  @include mobile
    font-size: 1.5rem

.tournaments-page-content.tournament-item-page h2.tournament-has-ended
  color: white
  font-size: 35px

.tournament-item-page h2
  font-size: 20px
  margin: 32px 0 10px
  @include mobile
    font-size: 1rem
    margin: 16px 0 8px

.tournaments-page-content.tournament-item-page .flipdown
  @include mobile
    font-size: 1.5rem
  
.tournaments-page-content.tournament-item-page
    width: auto
    max-width: 100%
    padding: 0

.tournaments-page-content.tournament-item-page article
  width: 800px
  margin: 0 auto
  padding-top: 44px
  text-align: center
  padding-bottom: 50px
  @include mobile
    padding-bottom: 20px
    padding-top: 22px
    width: auto

.tournaments-page-content.tournament-item-page article .tournament-section-banner
  position: relative
  margin-top: 45px
  padding: 0 15% 0 50%
  text-align: start
  font-weight: 600
  @include mobile
      height: 50vw
      margin-top: 40px
      padding-right: 5%
  figure
    position: absolute
    margin: 0
    @include mobile
      img
        height: 50vw
  header
    line-height: 1
    text-transform: uppercase
    text-shadow: 2px 2px 0px rgba(0,0,0,0.5)
    padding-top: 25px
    @include sizes(40, 25, 15)
  p
    color: $yellow
    @include sizes(18, 16, 11)

.tournaments-page-content.tournament-item-page article .tournament-section-banner.tournament-section-banner-light
  background: url("/images/tournaments/banner-light.png") bottom / contain no-repeat


.tournaments-page-content .tournament-days
  color: white
  text-transform: capitalize
  font-size: 20px
  margin: 18px 0 20px
  @include mobile-xs
    font-size: 16px

.tournaments-page-content .tournament-article
  border-radius: 8px
  background-color: $dark-black
  color: white
  padding: 32px 0 0 0
  @include mobile
    padding: 23px 0

.tournaments-page-content .tournament-article .tournament-article-header h2:first-child
  margin-top: 0

.tournaments-page-content .tournament-prize-pool
  font-weight: 600
  justify-content: center
  align-items: center

.tournaments-page-content .tournament-prize-pool span
  margin: 0 20px
  @include mobile
    font-size: 2rem

.tournaments-page-content .leaders,
.tournaments-page-content .winners
  background-color: $color-blue
  column-count: 2
  text-align: initial
  border-radius: 4px
  padding: 20px 15px 20px
  font-size: 14px
  @include mobile
    padding: 20px 0
    column-count: 1
    text-align: center

.tournaments-page-content .leaders .leader-item,
.tournaments-page-content .winners .winner-item
  margin: 5px 0
  padding: 0 20px
  width: 100%
  display: inline-flex
  justify-content: space-between
  @include mobile
    margin: 5px auto
    display: flex
  .index
    margin-right: 3px
    opacity: 0.5
  .name
    text-overflow: ellipsis
    overflow: hidden
    text-align: start
    flex: 1
    white-space: nowrap
    padding-right: 0.8em
  .amount
    color: $yellow

.tournaments-page-content .leaders-no-data,
.tournaments-page-content .winners-no-data
  text-align: center
  column-count: 1

.tournaments-page-content-games
  @include clear-fix
  padding: 0 40px
  @include mobile
    padding: 0

.tournament-article-games-large
  padding-top: 29px

.tournaments-page-content-games .game-item
  max-width: 180px
  flex: none
  width: 25%
  display: inline-block
  vertical-align: top
  @include mobile
    max-width: initial
    width: 50%

.tournaments-page-content-games.tournaments-page-content-games-large .game-item
  width: 50%
  max-width: 300px

.tournaments-page-content-games .game-item__title
  font-size: 10px

.tournaments-page-content .game-item
  .loading-spinner_indicator-fourth,
  .loading-spinner_indicator-fifth
    display: none

.tournaments-page-content .rules
  text-align: initial
  padding-right: 20px
  @include mobile
    font-size: 0.8rem
    margin: 0 8px
    padding-right: 8px

.tournaments-page-content .rules ol
  @include mobile
    padding-left: 1rem

.tournaments-page-content .rules li
  list-style: unset

.tournaments-page-content .rules li ul
  padding: 5px 0 5px 21px
  @include mobile
    padding-left: 10px
