@import "../../mixin"
@import "./mixin"

.tournaments-list-page-wrapper
    position: relative
    min-height: $loader-height + $page-loader-external-offset

.tournaments-page-content.tournaments-list-page
    padding: 45px 0 50px
    h1
        margin: 0 0 35px
    h2
        margin: 35px 0 25px
    @include mobile
        padding: 22px 8px 45px
        h1
            margin: 0 0 18px
        h2
            margin: 18px 0 12px
    .tournaments-leaders,
    .tournaments-winners
        header
            color: $yellow
            text-transform: uppercase
            text-align: left
            font-weight: 500
    .card-item
        margin-top: 20px
        &:first-child
            margin-top: 0
        header.accent
            white-space: nowrap
            font-size: 29px
        .primary
            font-size: 36px
        .secondary
            font-size: 18px
        @include mobile
            margin-bottom: 15px
            header.accent
                font-size: 21px
            .primary
                font-size: 25px
            .secondary
                font-size: 14px
        @include mobile-xs
            margin-bottom: 10px
            header.accent
                font-size: 12px
            .primary
                font-size: 14px
            .secondary
                font-size: 10px

.tournaments-leaders-no-data,
.tournaments-winners-no-data
    color: white
    max-width: 250px
    margin: 0 auto

.tournaments-games-list .row
    display: flex
    flex-wrap: wrap

.tournaments-games-list .game-item
    flex: 0 0 33%
    @include mobile
        flex: 0 0 50%

.tournaments-games-list .game-item__img
    object-position: center
    object-fit: cover
    width: 100%
    height: 100%

.tournaments-games-list .game-item__img-container
    border: solid 0.5px #feae06

.tournaments-games-list .game-item__title
    font-size: 10px

.tournaments-leaders,
.tournaments-winners
    font-weight: 500
    .leader-item,
    .winner-item
        margin: 4px 0
        display: flex
    .name
        color: white

.leader-item-content,
.winner-item-content
    display: flex
    width: 100%

.tournaments-games-list
    margin-left: 30px
    flex: 1
    @include mobile
        margin-left: 15px
    @include mobile-xs
        margin-top: 10px
        margin-left: 0

.tournaments-page-content.tournaments-list-page .tournaments-list-fininshed-item,
.tournaments-page-content.tournaments-list-page .tournaments-list-active-item .card-item
    position: relative
    cursor: pointer
    transition: 0.2s
    overflow: visible
    &:hover
        transform: scale(1.06)
    &:active
        transform: scale(1)

.tournaments-page-content.tournaments-list-page .tournaments-list-unclickable-item
    cursor: default
    position: relative
    display: flex
    align-items: stretch
    &:hover
        transform: scale(1)
    .tournaments-list-item-icon
        border: none
        height: auto
        min-height: 188px
        &:before, &:after
          z-index: 8

    &:before
        background-color: black
        border-radius: 8px
        opacity: 0.5
        content: ''
        display: inline-block
        position: absolute
        top: 0
        left: 0
        z-index: 7
        width: 100%
        height: 100%

.tournaments-list-active-item .tournaments-leaders,
.tournaments-list-active-item .tournaments-winners
    width: 280px
    @include mobile
        width: calc(50% - 15px)
    @include mobile-xs
        width: auto
        font-size: 10px
    header
        margin-bottom: 17px
        @include mobile
            margin-bottom: 12px
        @include mobile-xs
            margin-bottom: 8px
    .leader-item,
    .winner-item
        display: flex
        margin: 4px 0

.tournaments-list-active-item
    border: solid 1px #19406a
    border-radius: 4px
    background-color: rgba(36, 48, 84, 0.3)
    margin-bottom: 32px

.tournaments-list-active-item .game-item__favorites
    right: 8px
    top: 8px

.tournaments-list-active-item .card-body
    padding: 0 25px
    @include mobile
        padding: 0 18px
    @include mobile-xs
        padding: 0 12px

.tournaments-list-active-item .card-item
    margin: -2px

.tournaments-list-active-item .card-body > *
    margin: 5px 0

.tournaments-list-active-item footer
    padding: 15px
    display: flex
    font-size: 14px
    @include mobile
        padding: 10px
    @include mobile-xs
        font-size: 10px
        padding: 7px
        display: block

.tournaments-list-active-item footer header
    color: $yellow
    text-transform: uppercase
    text-align: left
    padding-left: 10px

.tournaments-list-active-item .countdown-container > header
    font-size: 12px
    font-weight: 600
    text-transform: uppercase
    color: white
    margin-bottom: 3px
    @include mobile-xs
        font-size: 8px

.tournaments-list-active-item .countdown
    font-size: 29px
    justify-content: flex-start
    @include mobile
        font-size: 22px
    @include mobile-xs
        font-size: 12px

.tournaments-list-active-item .countdown .rotor-group-heading
    font-size: 12px
    @include mobile
        font-size: 8px
    @include mobile-xs
        font-size: 6px

.tournaments-list-fininshed-item
    @include mobile
        display: block
        .tournaments-list-item-icon
            height: 170px
            width: 100%
            border-radius: 8px 8px 0 0
    .card-body
        header
            margin-bottom: 5px
        div header
            margin-bottom: 3px
        @include mobile
            border-radius:  0 0 8px 8px
    .tournaments-leaders,
    .tournaments-winners
        width: 250px
        @include mobile
            font-size: 10px
        .leader-item,
        .winner-item
            display: flex
            margin: 3px 0


.tournaments-page-content
    .tournaments-list-page-upcoming
        .tournaments-list-active-item 
            .card-item
                cursor: default
        .secondary
            padding-left: 0
        .tournaments-leaders
            display: none
        .game-item
            flex: 0 0 20%
            @include mobile
                flex: 0 0 25%
            @include mobile-xs
                flex: 0 0 50%
        .tournaments-games-list
            margin: 0

.tournaments-list-item-banner
    position: relative
    height: 188px
    display: flex
    overflow: visible
    .banner-body
        display: flex
        justify-content: center
        flex-direction: column
        flex: 1.25
        text-align: left
    header
        @include sizes(24, 18, 12)
        text-transform: uppercase
        color: white
    p
        @include sizes(14, 12, 10)
        @include desktop
            max-width: 45%
    .banner-icon
        flex: 1
    figure
        position: relative
        height: 100%
        border: 0
    figure img
        position: absolute
        left: 10%
        bottom: 0
        max-height: 210px
        @include mobile
            left: 50%
            transform: translateX(-50%)
        @include mobile-xs
            height: 100%
