@import "../../swatches"
@import "../../mixin"

.tournaments-main-page-list
    margin-bottom: -8px

.tournaments-main-page-block
    overflow: hidden
    display: block
    color: white
    border: 1px solid #fa7c34
    border-radius: 8px
    margin-top: 6px

    @include desktop
        display: flex
        justify-content: space-between
        align-items: center
        height: 78px

    padding: 9px 17px
    text-transform: uppercase

    background-size: cover

.tournaments-main-page-block header
    color: #feae06
    font-weight: 600
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8)

.tournaments-main-page-block header.tournament-name
    flex: 1
    font-size: 22px
    @include mobile
        font-size: 1rem
    @include tablet-max
        text-align: center

.tournaments-main-page-block .prize-pool
    @include tablet-max
        margin: 1em 0

.tournaments-main-page-block .prize-pool header
    text-align: center
    font-size: 14px
    font-weight: bold
    @include tablet-max
        display: none

.tournaments-main-page-block .tournament-prize-pool
    font-size: 38px
    span
        margin: 0 0.5em
        z-index: 2
    @include tablet-max
        justify-content: center
    @include mobile
        font-size: 1.75rem
        align-items: center

.tournaments-main-page-block .tournament-prize-pool::before,
.tournaments-main-page-block .tournament-prize-pool::after
    width: 17px
    height: 42px
    z-index: 2

.tournaments-main-page-block .flipdown
    font-size: 30px
    @include tablet
        font-size: 1.8rem
    @include mobile
        font-size: 1.4rem

.tournaments-main-page-block .flipdown .rotor:after
    border-top: solid 1px #1d2640

.tournaments-main-page-block .tournament-countdown-container
    flex: 1
    display: flex
    justify-content: flex-end
    @include tablet-max
        justify-content: center

.tournaments-main-page-block .tournament-countdown header
    text-align: center
    font-size: 12px
    color: white
    margin-bottom: 2px
    @include tablet-max
        display: none
