@mixin sizes($default, $mobile, $mobile-xs)
    font-size: #{$default}px
    @include mobile
        font-size: #{$mobile}px
    @include mobile-xs
        font-size: #{$mobile-xs}px

@mixin asset($theme, $name, $w, $h)
    .#{$name}
        position: absolute
        background: url('/images/tournaments/#{$theme}/overlay/#{$name}.png?v1') center / contain no-repeat
        width: #{$w}px
        height: #{$h}px
        @content
