@import "../../swatches"

.tournament-prize-pool
    font-size: 64px
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5)
    display: flex
    justify-content: space-between
    align-items: flex-end
    padding: 0 0.5em

.tournament-prize-pool::before,
.tournament-prize-pool::after
    content: ''
    background: center / contain no-repeat
    display: block
    width: 0.55em
    height: 1.25em

.tournament-prize-pool::before
    background-image: url('/images/tournaments/laurel-left.png')
.tournament-prize-pool::after
    background-image: url('/images/tournaments/laurel-right.png')
