@import "../../swatches"
@import "mixin"

.tournament-promo-text
  padding: 0 15px
  max-width: 430px
  text-align: center
  margin: 1.44em auto 0.66em auto
  // font-size
  @include sizes(18, 16, 12)
