@import "../../mixin.sass"
@import "../../swatches.sass"
  
$tournament-page-fade: linear-gradient(to bottom, transparent 0, transparent 15%, $dark-black 45%)

@mixin tournament-theme($name)
    .tournaments-main-page-block-#{$name}
      background: url('/images/tournaments/#{$name}-background.png') top / cover no-repeat
    .tournaments-tournament-page-#{$name}
      background: $tournament-page-fade, url('/images/tournaments/#{$name}-background.png') top / cover no-repeat
    .tournaments-tournaments-list-page-#{$name} .tournaments-list-item-icon
      background: url('/images/tournaments/#{$name}-background.png') center / cover no-repeat
      width: 300px
      height: 188px
      @include mobile
        width: 180px
        height: auto
      @include mobile-xs
        width: 128px
        height: auto



@include tournament-theme('golden-fever')
@include tournament-theme('friday-night')
@include tournament-theme('epic-fight')
