@import "../../swatches.sass"

.jackpot-mobile-container
    flex-wrap: wrap

    &.mobile-jp-new
        &.jackpot-mobile-container--1
            .block--jackpot-mobile-img-1
                display: block
            .block--jackpot-mobile-img-5
                display: none
            @media (max-width: 440px)
              .block-inner
                font-size: 14px!important
            .min-bet-block
              @media (max-width: 340px)
                bottom: 4px
                font-size: 10px
              @media (min-width: 330px) and (max-width: 440px)
                bottom: 9px
                font-size: 11px
            @media (min-width: 600px)
                .block-inner
                  font-size: 20px!important
                .min-bet-block
                  bottom: 20px
        &.jackpot-mobile-container--2
            @media (min-width: 559px)
              .block--jackpot-mobile-img-1
                display: none
              .block--jackpot-mobile-img-2
                display: block
        &.jackpot-mobile-container--3
            @media (min-width: 370px) and (max-width: 450px)
              .min-bet-block
                bottom: 18px
              .block-inner
                font-size: 14px!important
            @media (min-width: 451px) and (max-width: 562px)
              .min-bet-block
                bottom: 22px
              .block-inner
                font-size: 16px!important
            @media (min-width: 590px) and (max-width: 640px)
              .min-bet-block
                bottom: 22px
              .block-inner
                font-size: 16px!important
            @media (min-width: 768px)
              .block--jackpot-mobile-img-1
                display: none
              .block--jackpot-mobile-img-2
                display: block
        &.jackpot-mobile-container--4
            @media (min-width: 382px) and (max-width: 460px)
              .min-bet-block
                bottom: 12px
            @media (min-width: 460px) and (max-width: 610px)
              .min-bet-block
                bottom: 15px
            @media (min-width: 610px) and (max-width: 767px)
              .min-bet-block
                bottom: 16px
            @media (min-width: 768px)
              .block--jackpot-mobile-img-1
                display: none
              .block--jackpot-mobile-img-2
                display: block
        .block-inner
            span
              margin-bottom: 0
    &__title
        display: none
        width: 100%
        color: $yellow
        font-family: $font-first
        font-size: 14px
        text-transform: uppercase
        text-align: center

    &__title-img
        width: 100%

    &--1 &__title, &--2 &__title, &--3 &__title, &--4 &__title
        display: flex

    &--1, &--2, &--3, &--4, &--5, &--6
        .block--jackpot-mobile
            width: 100%
            height: auto !important

            &-img
                display: none
                width: 100%
                height: 100%
                padding: 0 2px
                &-1
                    display: block

            .jackpot-title-block
                top: 1px
            .block-inner
                width: 100% !important
                padding: 0 8px
            .min-bet-block
                bottom: 8px
                @media (max-width: 340px)
                  bottom: 5px

    &--1
        .block--jackpot-mobile
            width: 100%
            height: auto !important

            &-img
                display: none
                &-5
                    display: block

            .jackpot-title-block
                top: 6px
                .jackpot-title
                    font-size: 16px
            .block-inner
                font-size: 20px !important
            .min-bet-block
                font-size: 16px
                bottom: 18px

            @include mobile
                .jackpot-title-block
                    top: 4px
                    .jackpot-title
                        font-size: 14px
                .block-inner
                    font-size: 16px !important
                .min-bet-block
                    font-size: 12px
                    bottom: 11px

            @media (max-width: 460px)
                &-img
                    display: none
                    &-1
                        display: block
                .jackpot-title-block
                    .jackpot-title
                        font-size: 14px
                .block-inner
                    font-size: 18px !important
                .min-bet-block
                    bottom: 14px

    &--2
        .block--jackpot-mobile
            width: 50% !important

            .jackpot-title-block
                top: 6px
                .jackpot-title
                    font-size: 16px
            .min-bet-block
                bottom: 16px

            @include tablet-max
                .jackpot-title-block
                    .jackpot-title
                        font-size: 16px
                .block-inner
                    font-size: 18px !important
                .min-bet-block
                    font-size: 16px

            @include mobile
                .jackpot-title-block
                    top: 4px
                    .jackpot-title
                        font-size: 15px
                .min-bet-block
                    font-size: 15px
                    bottom: 12px

            @media (max-width: 560px)
                &-img
                    display: none
                    &-2
                        display: block

                .jackpot-title-block
                    .jackpot-title
                        font-size: 14px
                .block-inner
                    font-size: 14px !important
                .min-bet-block
                    font-size: 12px

            @media (max-width: 420px)
                &-img
                    display: none
                    &-3
                        display: block

                .jackpot-title-block
                    .jackpot-title
                        font-size: 14px
                .block-inner
                    font-size: 13px !important
                .min-bet-block
                    font-size: 12px

            @media (max-width: 320px)
                .min-bet-block
                    font-size: 10px
                .min-bet-block
                    bottom: 10px

    &--3
        .block--jackpot-mobile
            width: 33.333%

            .min-bet-block
                font-size: 12px
                bottom: 15px

            @include mobile
                &-img
                    display: none
                    &-2
                        display: block

                .jackpot-title-block
                    .jackpot-title
                        font-size: 14px
                .block-inner
                    font-size: 12px !important
                .min-bet-block
                    font-size: 11px

            @media (max-width: 640px)
                &-img
                    display: none
                    &-3
                        display: block

            @media (max-width: 560px)
                &-img
                    display: none
                    &-4
                        display: block

                .jackpot-title-block
                    top: 6px

            @media (max-width: 360px)
                .jackpot-title-block
                    top: 2px
                    .jackpot-title
                        font-size: 11px
                .block-inner
                    font-size: 10px !important
                .min-bet-block
                    font-size: 10px

    &--4, &--5, &--6

        .block--jackpot-mobile
            width: 25%

            .block-inner
                font-size: 14px !important
            .min-bet-block
                font-size: 12px

            @media (max-width: 840px)
                &-img
                    display: none
                    &-2
                        display: block

                .min-bet-block
                    font-size: 11px

            @include mobile
                &-img
                    display: none
                    &-3
                        display: block

                .jackpot-title-block
                    .jackpot-title
                        font-size: 14px
                .block-inner
                    font-size: 12px !important
                    line-height: 12px
                .min-bet-block
                    font-size: 11px

            @media (max-width: 640px)
                &-img
                    display: none
                    &-3
                        display: block

            @media (max-width: 560px)
                &-img
                    display: none
                    &-4
                        display: block

            @media (max-width: 420px)
                .jackpot-title-block
                    top: 1px
                    .jackpot-title
                        font-size: 10px
                .block-inner
                    font-size: 10px !important
                .min-bet-block
                    font-size: 10px
                    width: 100%
                    text-align: center

            @media (max-width: 380px)
                &-img
                    display: none
                    &-3
                        display: block

                .block-inner
                    font-size: 10px !important
                .min-bet-block
                    font-size: 7.5px

            @media (max-width: 340px)
                .min-bet-block
                    font-size: 6.5px

.jackpot-mobile-game-container
    .block--jackpot-mobile
        &-img
            display: none
            &-1
                display: block

    &--1
        width: 40%
        .block--jackpot-mobile
            width: 100%
            max-width: 100%
            height: auto !important

            &-img
                display: none
                width: 100%
                height: 100%
                padding: 0 2px
                &-2
                    display: block

            .jackpot-title-block
                top: 4px
                .jackpot-title
                    font-size: 20px
            .block-inner
                font-size: 20px !important
            .min-bet-block
                font-size: 16px
                bottom: 10px

            @media (max-width: 1440px)
                .jackpot-title-block
                    top: 1px
                    .jackpot-title
                        font-size: 12px
                .block-inner
                    font-size: 13px !important
                .min-bet-block
                    font-size: 11px
                    bottom: 7px
