@import "../../swatches.sass"
@import "../../mixin.sass"

.jp-theme, .jp-theme-true
    @media (min-width: 560px)
        .gold
            .min-bet-block,
            .jackpot-title
                color: #3d0800
            .block-inner
                color: #feae06

    &:not(.without-slider)
        .block--jackpot
            .jackpot-title-block
                top: 5px
            .min-bet-block
                bottom: 4px


    .block--jackpot-mobile
        .block-inner span
            margin-bottom: 0

    &.jackpot-mobile-container--4,
    &.jackpot-mobile-container--5,
    &.jackpot-mobile-container--6
        .block--jackpot-mobile
            .jackpot-title-block
                top: 5px
            .min-bet-block
                bottom: 6px

        @include tablet-max
            .block--jackpot-mobile
                .jackpot-title-block
                    top: 2px
                .min-bet-block
                    bottom: 2px

        @media (max-width: 840px)
            .block--jackpot-mobile
                .jackpot-title-block
                    top: 8px
                .block-inner
                    font-size: 16px !important
                .min-bet-block
                    bottom: 6px

        @include mobile
            .block--jackpot-mobile
                .jackpot-title-block
                    top: 12px
                .block-inner
                    font-size: 12px !important
                .min-bet-block
                    bottom: 8px

        @media (max-width: 420px)
            .block--jackpot-mobile
                .jackpot-title-block
                    top: 12px
                .block-inner
                    font-size: 14px !important
                .min-bet-block
                    bottom: 10px

        @media (max-width: 380px)
            .block--jackpot-mobile
                .jackpot-title-block
                    top: 16px
                    .jackpot-title
                        font-size: 16px
                .block-inner
                    font-size: 16px !important
                .min-bet-block
                    bottom: 12px

    &.jackpot-mobile-container--333
        .block--jackpot-mobile
            .jackpot-title-block
                top: 5px
            .min-bet-block
                bottom: 6px

        @media (max-width: 840px)
            .block--jackpot-mobile
                .jackpot-title-block
                    top: 4px
                .min-bet-block
                    bottom: 4px

        @include mobile
            .block--jackpot-mobile
                .jackpot-title-block
                    top: 12px
                .block-inner
                    font-size: 14px !important
                .min-bet-block
                    bottom: 8px

        @media (max-width: 540px)
            .block--jackpot-mobile
                .jackpot-title-block
                    top: 14px
                .min-bet-block
                    bottom: 12px

        @media (max-width: 380px)
            .block--jackpot-mobile
                .jackpot-title-block
                    top: 10px
                .block-inner
                    font-size: 12px !important
                .min-bet-block
                    bottom: 8px

    &.jackpot-mobile-container--2,
    &.jackpot-mobile-container--3
        .block--jackpot-mobile
            .jackpot-title-block
                top: 8px
            .min-bet-block
                bottom: 6px

        @include mobile
            .block--jackpot-mobile
                .jackpot-title-block
                    top: 4px
                .min-bet-block
                    bottom: 4px

        @media (max-width: 560px)
            .block--jackpot-mobile
                .jackpot-title-block
                    top: 14px
                .min-bet-block
                    bottom: 12px

    &.jackpot-mobile-container--1
        .block--jackpot-mobile
            .jackpot-title-block
                top: 10px
            .min-bet-block
                bottom: 8px

        @include mobile
            .block--jackpot-mobile
                .jackpot-title-block
                    top: 6px

        @media (max-width: 560px)
            .block--jackpot-mobile
                .jackpot-title-block
                    top: 6px
                .min-bet-block
                    bottom: 3px

        @media (max-width: 460px)
            .block--jackpot-mobile
                .jackpot-title-block
                    top: 8px
                .min-bet-block
                    bottom: 8px

        @media (max-width: 320px)
            .block--jackpot-mobile
                .jackpot-title-block
                    top: 4px
                .min-bet-block
                    bottom: 5px



    &.without-slider
        .block--jackpot
            .jackpot-title-block
                top: 4px !important
            .block-inner span
                margin-bottom: 0
            .min-bet-block
                bottom: 2px

            &_without-slider_large
                .jackpot-title-block
                    top: 18px
                .min-bet-block
                    bottom: 18px

        .block--jackpot-mobile
            .jackpot-title-block
                top: 4px
            .min-bet-block
                bottom: 6px

        @include tablet-max
            .block--jackpot-mobile
                .jackpot-title-block
                    top: 2px
                .min-bet-block
                    bottom: 2px

        &.jackpot-container--3
            .block--jackpot
                .jackpot-title-block
                    top: 8px !important
                .min-bet-block
                    bottom: 4px
            @media (max-width: 1440px)
                .block--jackpot
                    .jackpot-title-block
                        top: 6px !important

        &.jackpot-container--2, &.jackpot-container--1
            .block--jackpot
                .jackpot-title-block
                    top: 16px !important
                .min-bet-block
                    bottom: 14px
            @media (max-width: 1440px)
                .block--jackpot
                    .jackpot-title-block
                        top: 10px !important
                    .min-bet-block
                        bottom: 10px

    &.jackpot-page
        .gold
            .min-bet-block,
            .jackpot-title
                color: #3d0800
            .block-inner
                color: #feae06

        .jackpot-container--1,
        .jackpot-container--2,
        .jackpot-container--3,
        .jackpot-container--4
            .block--jackpot
                .jackpot-title-block
                    top: 5px !important
                    .jackpot-title
                        font-size: 18px
                .min-bet-block
                    bottom: 4px

            @include desktop-max
                .block--jackpot
                    .jackpot-title-block
                        top: 20px !important
                    .min-bet-block
                        bottom: 12px

            @media (max-width: 560px)
                .block--jackpot
                    .jackpot-title-block
                        top: 14px !important

            @media (max-width: 460px)
                .block--jackpot
                    .jackpot-title-block
                        top: 10px !important
                        .jackpot-title
                            font-size: 14px
                    .min-bet-block
                        bottom: 8px

    &.jackpot-mobile-game-container
        &--2, &--3, &--4, &--5, &--6
            .block--jackpot-mobile
                .jackpot-title-block
                    top: 5px
