mixin daily_bonus_info_button(content)
    if content.dailyBonus.showBonusInfoButton
        .final-bonus__bonus-info-button(onClick=content.dailyBonus.showDialog)
            span=content.t('ui-daily-bonus-info')
