include ../../common/loader

mixin daily_bonus(content)
  .modal.sm.in
    .modal-dialog
      .modal-content.daily-bonus-container
          img.wheel(src="/images/bonuses/daily/wheel.svg")
          .body-container-outer
            .body-container-inner
              .bonus-title
                img.ribbon(src="/images/bonuses/daily/Lenta.svg")
                .title=content.t('ui-daily-bonus')
                img.close-button(src="/images/bonuses/daily/close-button.svg" onClick=content.modal.hideModal)
              .days-list-container
                each dayBonus in content.dailyBonus.daysBonuses
                  +day(content, dayBonus)
              .body
                .title=content.dailyBonus.currentDay.meta.title
                if content.dailyBonus.currentDay.amount.freeSpinsFormatted
                  +game_item(content, content.dailyBonus.currentDay.amount.freeSpinsFormatted[0].gameObj)
                  +fsline(content, content.dailyBonus.currentDay.amount.freeSpinsFormatted[0], content.dailyBonus.currentDay.amount.freeSpinsWager)
                else if content.dailyBonus.currentDay.amount.freeBetsFormatted
                  +game_item(content, content.dailyBonus.currentDay.amount.freeBetsFormatted[0].gameObj)
                  +fsline(content, content.dailyBonus.currentDay.amount.freeBetsFormatted[0], content.dailyBonus.currentDay.amount.freeBetsWager, true)
                else
                  img.gold(src="/images/bonuses/daily/gold.png")
                  +fixedBonusLine(content, content.dailyBonus.currentDay.amount.fixedWager, content.dailyBonus.currentDay.amount.fixedFormatted)
                .description
                  .description-title=content.t('ui-description')
                  .text(dangerouslySetInnerHTML={__html: content.dailyBonus.currentDay.meta.description})
                if content.dailyBonus.currentDay.condition
                    .description
                        .description-title= content.t('ui-condition')
                        .text= content.dailyBonus.currentDay.condition
                +remaining_time(content, content.dailyBonus.formattedRemainingTime)
                if content.dailyBonus.showGetButton() && !content.dailyBonus.isLoading
                  .get-button(onClick=content.dailyBonus.onActivateBonus)=content.t('ui-get')
                if content.dailyBonus.isLoading
                  .loader-container
                    +loader(content)
                if content.dailyBonus.currentBonusWager && content.dailyBonus.showWager
                  +progress_bar_daily_bonus(content, content.dailyBonus.currentBonusWager)

mixin remaining_time(content, time)
  .remaining-time-container
    .label=content.t('ui-time-before-day-end')
    .time-blocks
      .time-block.hours
        .time-row
          .time-cell=time.hh.split('')[0]
          .time-cell=time.hh.split('')[1]
        .label=content.t('ui-hh')
      .time-block.minutes
        .time-row
          .time-cell=time.mm.split('')[0]
          .time-cell=time.mm.split('')[1]
        .label=content.t('ui-mm')
      .time-block.seconds
        .time-row
          .time-cell=time.ss.split('')[0]
          .time-cell=time.ss.split('')[1]
        .label=content.t('ui-ss')

mixin progress_bar_daily_bonus(content, wager)
  .progress-bar-daily-container
    .progress-bar-daily-scale
      .left
        .text=content.t('ui-wager-left')
        .wager-info=`${content.t('ui-wager-progress-details', {played: wager.wageredValue, currency: wager.currencyCode, total: wager.initialValue})}`
      .right
        .percent=wager.progressPercent
      .progress-line(style='width: wager.progressPercent')

mixin fsline(content, fs, wager, isFreeBet)
  .fsline
    if wager
      .fs-block=`x${wager}`
    if !isFreeBet
      .fs-block=`${fs.lines} ${content.t('ui-lines')}`
    .fs-block=`${fs.betFormatted}`
    
mixin fixedBonusLine(content, wager, amount)
  .fsline
    .fs-block=`${amount}`
    .fs-block=`x${wager}`

mixin day(content, dayBonus)
  .day(class=content.dailyBonus.getClassForDay(dayBonus))
    img.day-bg(src=content.dailyBonus.getImageForDay(dayBonus))
    .content
      .top-line
        +checkbox(content.dailyBonus.isChecked(dayBonus))
        .day-text=`${content.t('ui-day')} ${dayBonus.index + 1}`
      .bottom-line
        img.gift(src="/images/bonuses/daily/gift-icon.svg")
            
mixin checkbox(isChecked)
  .container
    if isChecked
      input(type="checkbox" checked="checked")
    else
      input(type="checkbox")
    span.checkmark
